<template>
<div v-if="isZeroMatch === false" class="list">
  <h2 class="list__title">{{ this.tenpo.Feature[0].Name }}のプラン</h2>
  <counter :page="page" :pageName="pageName" :is-counter-border="true" :is-counter-range="true" :is-counter-pagination="true"></counter>
  <ul class="list__list tracked_mods" id="pllist">
    <li v-for="plan in this.viewPlanlist" class="list__item planItem" :key="plan">
      <h3 class="planItem__title"><a :href="plan.ItemPcUrl1" target="_blank" class="planItem__link" rel="nofollow" data-ylk="slk:pltitle">{{ plan.ItemTitle1 }}</a></h3>
      <div class="planItem__inner">
        <div v-if="getImageUrl(plan.ItemImageUrl1, planImgSize) !== ''" class="planItem__image planImage">
          <a :href="plan.ItemPcUrl1" target="_blank" class="planImage__link" rel="nofollow" data-ylk="slk:plimage">
            <img :src="getImageUrl(plan.ItemImageUrl1, planImgSize)" :alt="plan.ItemTitle1" class="planImage__image" />
          </a>
        </div>
        <div class="planItem__detail">
          <ul class="planItem__price price">
            <li class="price__text"><span class="price__note">料金:</span><em class="price__main">{{ plan.ItemPriceType1 }}円</em><span class="price__number">/1名様</span></li>
          </ul>
          <p class="planItem__text"><template v-for="text in plan.ItemDescription1">{{ text }}<br :key="text" /></template></p>
          <div class="planItem_reservation reservation">
            <img src="https://s.yimg.jp/images/loco/pc/images/poi/logo_reserve_asoview.png" width="auto" height="30" :alt="cpName" class="reservation__image" />
            <a :href="plan.ItemPcUrl1" target="_blank" class="reservation__button" rel="nofollow" data-ylk="slk:plrvbtn">コース詳細・予約する</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <counter :page="page" :pageName="pageName" :is-counter-border="false" :is-counter-range="true" :is-counter-pagination="false"></counter>
  <pagination :page="page" :pageName="pageName"></pagination>
</div>
</template>

<script>
import counter from '@pc/components/place/counter.vue'
import pagination from '@pc/components/place/pagination.vue'
import Pagination from '@lib/Pagination'
import Base from '@lib/baseComponent'

// プラン画像幅、高
const planImgWidth = 160
const planImgHeight = 160

export default {
  extends: Base,
  data () {
    return {
      page: {
        dataCount: 0,
        pageId: 0,
        pageDisplaySize: 10,
        pageCount: 0,
        start: 0,
        end: 0
      },
      viewPlanlist: [],
      resizedImages: {},
      cpLogoImg: '',
      cpName: '',
      pageName: 'planList'
    }
  },
  components: {
    counter,
    pagination
  },
  computed: {
    isZeroMatch: function () {
      return this.tenpo.Feature[0].Property.Detail.Item.length === 0
    },
    planImgSize: function () {
      return planImgWidth + 'x' + planImgHeight
    }
  },
  props: {
    tenpo: Object // tenpo
  },
  methods: {
    /**
     * BRタグで文字列を分割した配列を返却
     * @param originalText {string} 分割前テキスト
     * @return {Array} BRタグで分割後の配列
     */
    splitTextByBR: function (originalText) {
      let result = []
      const splitText = originalText.split('<br>')
      for (const text of splitText) {
        result.push(text)
      }
      return result
    },
    /**
     * 画像URL取得
     * @param url {string} リサイズ前画像URL
     * @param size {string} サイズ
     * @return {string} 画像URL
     */
    getImageUrl: function (url, size) {
      if (this.status['resizedImages'] === 'binded' && this.isFilled(this.resizedImages[url]) && this.isFilled(this.resizedImages[url][size])) {
        return this.resizedImages[url][size]
      }
      return ''
    },
    /**
     * 要素存在チェック
     * @param variable {object} チェック対象オブジェクト
     * @return {boolean} チェック結果
     */
    isFilled: function (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    }
  },
  mounted () {
    const gid = this.tenpo.Feature[0].Gid

    // プラン一覧
    const planList = this.tenpo.Feature[0].Property.Detail.Item

    // 最大ページ
    const maxPage = Math.ceil(planList.length / 10)
    this.page.pageCount = maxPage

    // ページ番号
    const params = new Pagination().getSearchParameters()
    const page = (Number(params.page) && Number(params.page) <= maxPage) ? Number(params.page) : 1
    this.page.pageId = page - 1

    // 全件数
    this.page.dataCount = planList.length
    // 先頭件数
    this.page.start = 10 * (page - 1) + 1
    // 末尾件数
    const end = 10 * page
    this.page.end = (this.page.dataCount > end) ? end : this.page.dataCount

    // 表示プラン一覧作成
    let planImgUrls = []
    for (let i = this.page.start - 1; i < this.page.end; i++) {
      // 画像変換用のリクエストパラメータ作成(プラン画像)
      if (typeof planList[i].ItemImageUrl1 !== 'undefined' && planList[i].ItemImageUrl1 !== null && planList[i].ItemImageUrl1 !== '') {
        planImgUrls.push(planList[i].ItemImageUrl1)
      }

      // 金額をカンマ区切りとする
      planList[i].ItemPriceType1 = planList[i].ItemPriceType1.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1,')

      // プラン紹介文をいったんBRタグ区切りで分割した配列にする
      planList[i].ItemDescription1 = this.splitTextByBR(planList[i].ItemDescription1)

      this.viewPlanlist.push(planList[i])
    }

    // 画像のリサイズ
    this.resizeImages(gid, [{urls: planImgUrls, width: planImgWidth, height: planImgHeight}])
  }
}
</script>

<style lang="scss">
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';


.list {
  width: 100%;
  &__title {
    @include placeTitle;
    @include placeTitleBorder;
  }
}

.planItem {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border: 1px solid #e3d3af;
  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f8eed0;
  }
  &__link {
    display: block;
    padding: 10px;
  }
  &__inner {
    display: table;
    padding: 0 10px;
  }
  &__detail {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
  }
  &__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 13px;
  }
}

.planImage {
  display: table-cell;
  margin-bottom: 10px;
  padding-right: 10px;
}

.price{
  position: relative;
  text-align: right;
  &__text {
    margin-bottom: 5px;
    color: $textColorBlack;
    font-size: 12px;
  }
  &__note{
    margin-right: 10px;
    font-weight: bold;
  }
  &__main {
    color: $priceColor;
    font-weight: bold;
    font-size: 18px;
    &--noPrice {
      @extend .price__main;
      font-weight: normal;
      font-size: 14px;
    }
    &--seat {
      @extend .price__main;
      font-size: 16px;
    }
  }
}

.reservation {
  text-align: right;
  &__image {
    margin-right: 10px;
    vertical-align: middle;
  }
  &__button {
    @include button-main;
    display: inline-block;
    width: 202px;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
  }
}

</style>
