@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.placeData {
  margin-bottom: 20px;

  &__title {
    @include placeTitle;
    @include placeTitleBorder;
  }

  &__address {
    font-size: 13px;
  }

  &__table {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px dotted #999999;
    table-layout: fixed;
  }

  &__row {
    font-size: 13px;
    text-align: left;
    border-bottom: 1px dotted #999999;
    &:last-child {
      border-bottom: 0;
    }
  }

  &__header {
    width: 145px;
    padding: 7px 10px;
    box-sizing: border-box;
    text-align: left;
  }

  &__data {
    padding: 7px 0;
    color: $textColorGray;
    &--list {
      @extend .placeData__data;
      display: block;
      margin-bottom: -5px;
    }
  }

  &__tel {
    display: block;
    &--free {
      color: #e75039;
    }
  }

  &__credit {
    @include text-replace;
    display: inline-block;
    height: 28px;
    margin: 0 5px 5px 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    vertical-align: middle;
    box-sizing: border-box;
    &--visa {
      @extend .placeData__credit;
      width: 42px;
      background-image: url("~@asset/images/common/credit/credit_visa.gif");
    }
    &--mastercard {
      @extend .placeData__credit;
      width: 34px;
      background-image: url("https://s.yimg.jp/images/loco/front/images/common/credit/credit_mastercard.svgz");
      background-size: 42px 36px;
    }
    &--jcb {
      @extend .placeData__credit;
      width: 36px;
      background-image: url("~@asset/images/common/credit/credit_jcb.gif");
    }
    &--americanexpress {
      @extend .placeData__credit;
      width: 28px;
      background-image: url("~@asset/images/common/credit/credit_americanexpress.gif");
    }
    &--diners {
      @extend .placeData__credit;
      width: 37px;
      background-image: url("~@asset/images/common/credit/credit_diners.gif");
    }
    &--dc {
      @extend .placeData__credit;
      width: 38px;
      background-image: url("~@asset/images/common/credit/credit_dc.png");
    }
    &--nicos {
      @extend .placeData__credit;
      width: 46px;
      background-image: url("~@asset/images/common/credit/credit_nicos.png");
    }
    &--saison {
      @extend .placeData__credit;
      width: 44px;
      background-image: url("~@asset/images/common/credit/credit_saison.png");
    }
    &--ufj {
      @extend .placeData__credit;
      width: 46px;
      background-image: url("~@asset/images/common/credit/credit_ufj.png");
    }
    &--ucf {
      @extend .placeData__credit;
      width: 28px;
      background-image: url("~@asset/images/common/credit/credit_uc.png");
    }
    &--other {
      @extend .placeData__credit;
      height: inherit;
      padding: 3px 10px;
      color: #575647;
      font-size: 12px;
      text-indent: inherit;
      border-radius: 3px;
      background-color: #f3efe8;
    }
  }

  &__feature {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 3px 10px;
    border-radius: 3px;
    color: #575647;
    font-size: 12px;
    background-color: #f3efe8;
  }

  &__mail {
    color: #666;
  }

  &__particular {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 3px 10px;
    border-radius: 3px;
    color: #575647;
    font-size: 12px;
    background-color: #f3efe8;
  }

  &__situation {
    display: inline-block;
    margin-bottom: 3px;
    padding: 3px 5px;
    color: #fff;
    line-height: 1;
    background-color: #2676d2;
    &--congestion {
      @extend .placeData__situation;
      background-color: #ea1a21;
    }
  }

  &__note {
    display: block;
    font-size: 10px;
  }

  &__provider {
    display: none;
    display: inline-block;
    margin-left: 10px;
    color: $textColorLightGray;
    font-size: 10px;
    vertical-align: middle;
  }

  &__links {
    font-size: 0;
    text-align: right;
  }

  &__notice {
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    &:after {
      content: '｜';
      margin: 0 5px;
      font-size: 10px;
    }
    &:last-child {
      &:after {
        content: '';
        margin: 0;
      }
    }
  }

  &__link {
    font-size: 10px;
    cursor: pointer;
  }

}

.placeDataMap {
  padding-bottom: 4px;
  border-bottom: 1px dotted #999;

  &__link {
    display: block;
    margin-bottom: 4px;
    border: 1px solid #bcbcbc;
    transition: all .2s;
    &:hover {
      opacity: .8;
    }
  }

  &__image {
    display: block;
  }

  &__detail {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
  }
}

.placeDataRoute {

  padding-left: 16px;

  &__list {
    margin-bottom: 3px;
    font-size: 13px;
  }

  &__button {
    @include button-normal;
    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;
    padding: 3px 5px 0;
    font-size: 11px;
    text-align: right;
    line-height: 1;
    box-sizing: border-box;
    &::before {
      @include LocoIcon("\e901", 12, #666666);
      top: 3px;
      left: 4px;
    }
  }
}

