@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.placeVideo {
  margin-bottom: 20px;

  &__body {
    text-align: center;
  }

  &__movie {
    width: 630px;
    height: 354px;
    margin-bottom: 10px;
  }

  &__text {
    text-align: left;
  }
}
