@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.placeSummary {
  margin-bottom: 20px;

  &__name {
    margin-bottom: 8px;
  }

  &__informations {
    position: relative;
    min-height: 55px;
  }

  &__information {
    @include clearfix;
    width: 485px;
    margin-bottom: 3px;
    color: $textColorGray;

    &--topicality {
      @extend .placeSummary__information;
      width: 100%;
      margin-bottom: 4px;
    }

    &--budget {
      @extend .placeSummary__information;
      margin-bottom: 4px;
    }
  }

  &__topicality {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }

  &__holiday {
    font-size: 12px;
  }

  &__detailButton {
    @include button-normal;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 145px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    box-sizing: border-box;
  }
}

.placeSummaryName {
  position: relative;
  padding-top: 2px;

  &__ruby {
    margin-bottom: 6px;
    color: $textColorGray;
    font-size: 11px;
    line-break: 1;
  }

  &__title {
    display: inline-block;
    width: 580px;
    margin-top: -4px;
    color: $textColorBlack;
    font-size: 22px;
    font-weight: bold;
  }
}

.placeSummaryTopicality {

  &:before {
    margin-right: 10px;
    vertical-align: middle;
  }

  &--high {
    @extend .placeSummaryTopicality;
    &:before {
      @include svgIcon(25, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_a.svgz");
      display: inline-block;
    }
  }

  &--middle {
    @extend .placeSummaryTopicality;
    &:before {
      @include svgIcon(20, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_b.svgz");
      display: inline-block;
    }
  }

  &--low {
    @extend .placeSummaryTopicality;
    &:before {
      @include svgIcon(20, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_c.svgz");
      display: inline-block;
    }
  }

  &__text {
    @include balloon;

    &--high {
      @extend .placeSummaryTopicality__text;
      background-color: #f45a3e;
      &:before {
        border-color: transparent #f45a3e transparent transparent;
      }
    }

    &--middle {
      @extend .placeSummaryTopicality__text;
      background-color: #f98e2d;
      &:before {
        border-color: transparent #f9902d transparent transparent;
      }
    }

    &--low {
      @extend .placeSummaryTopicality__text;
      background-color: #e2ca9f;
      &:before {
        border-color: transparent #e2ca9f transparent transparent;
      }
    }

    &--denominator {
      font-size: 10px;
    }

  }

  &__tooltip {
    display: none;
    position: absolute;
    top: -80px;
    left: 50%;
    z-index: 2;
    width: 190px;
    margin-left: -95px;
    padding: 10px;
    color: #ffffff;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    background-color: rgba(0,0,0,0.7);
    box-sizing: border-box;
    &--show {
      display: block;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -5px;
      border-color: #000 transparent;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      opacity: 0.7;
    }
  }

  &__review {
    display: inline-block;
    margin-right: 18px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    &:before {
      @include RiffIcon("\E10C", 17, #9a9a9a);
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }

  }

}

.placeSummaryLocation {
  display: inline-block;
  position: relative;
  margin-right: 6px;
  font-size: 12px;
  line-height: 1;
  &:before {
    content: "[";
    margin-right: 4px;
  }
  &:after {
    content: "]";
  }

  &__link {
    color: $linkColor;
    margin-right: 4px;
  }
}

.placeSummaryGerne {
  display: inline-block;
  font-size: 12px;
  line-height: 1;

  &__link {
    color: $linkColor;
  }
}

.placeSummaryBudget {
  float: left;
  margin-right: 15px;
  line-height: 1;

  &__icon {
    @include text-replace;
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    vertical-align: middle;

    &--lunch {
      @extend .placeSummaryBudget__icon;
      &:after {
        @include svgIcon(14, 14, "https://s.yimg.jp/images/loco/front/images/common/icons/lunch.svgz");
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &--dinner {
      @extend .placeSummaryBudget__icon;
      &:after {
        @include svgIcon(14, 14, "https://s.yimg.jp/images/loco/front/images/common/icons/dinner.svgz");
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__text {
    font-size: 12px;
    vertical-align: middle;
  }
}
