@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.placeNavigation {
  margin-bottom: 20px;
  &__body {
    display: table;
    width: 100%;
    background-image: linear-gradient(to bottom, #fbfbfb 0%, #f3f3f3 100%);
    box-shadow: 0 1px 2px #aaa;
    table-layout: fixed;
  }
  &__list {
    display: table-cell;
    position: relative;
    width: 100%;
    height: 51px;
    border-top: 1px solid #e7eaee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #a2a2a2;
    box-sizing: border-box;
    &--last {
      @extend .placeNavigation__list;
      border-right: 0;
    }
  }
  &__link {
    display: block;
    position: relative;
    height: 51px;
    padding-top: 28px;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: #333;
    line-height: 1;
    box-sizing: border-box;
    &:hover {
      color: #fff;
      text-decoration: none;
      background-image: linear-gradient(to bottom, #535141 0%, #716d58 100%);
    }
    &--active {
      @extend .placeNavigation__link;
      color: #fff;
      background-image: linear-gradient(to bottom, #535141 0%, #716d58 100%);
      &:after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -6px;
        border-style: solid;
        border-width: 9px 6.5px 0 6.5px;
        border-color: #726d58 transparent transparent transparent;
      }
      &:hover {
        color: #fff;
      }
    }
    &--disabled {
      @extend .placeNavigation__link;
      color: #999;
      background-image: linear-gradient(to bottom, #e7e7e7 0%, #eaeaea 100%);
      cursor: default;
      &:hover {
        color: #999;
        background-image: linear-gradient(to bottom, #e7e7e7 0%, #eaeaea 100%);
      }
    }
  }
  &__icon {
    &:after {
      width: 100%;
      top: 3px;
      left: 0;
      text-align: center;
    }
    &--shop {
      @extend .placeNavigation__icon;
      &:after {
        @include RiffIcon("\E11C", 22, #c1a98b);
      }
    }
    &--photo {
      @extend .placeNavigation__icon;
      &:after {
        @include RiffIcon("\E131", 22, #c1a98b);
      }
    }
    &--review {
      @extend .placeNavigation__icon;
      &:after {
        @include RiffIcon("\E10C", 22, #c1a98b);
      }
    }
    &--menu {
      @extend .placeNavigation__icon;
      &:after {
        @include LocoIcon("\e905", 20, #c1a98b);
      }
    }
    &--coupon {
      @extend .placeNavigation__icon;
      &:after {
        @include LocoIcon("\e904", 22, #c1a98b);
      }
    }
    &--map {
      @extend .placeNavigation__icon;
      &:after {
        @include RiffIcon("\E12A", 22, #c1a98b);
      }
    }
    &--active {
      @extend .placeNavigation__icon;
      &:after {
        color: #ffffff;
      }
    }
    &--disabled {
      @extend .placeNavigation__icon;
      &:after {
        color: #a4a4ae;
      }
    }
  }
}

.placeNavigationSub {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(to bottom, #fff 0%, #f3f3f3 100%);
  border: 1px solid #bdbdae;
  &--active {
    display: block;
  }
  &__list {
    border-bottom: 1px solid #bdbdae;
    &:last-child {
      border-bottom: 0;
    }
  }
  &__link {
    display: block;
    position: relative;
    width: 162px;
    padding-left: 28px;
    line-height: 35px;
    color: #069;
    text-align: left;
    text-decoration: none;
    font-size: 13px;
    box-sizing: border-box;
    &:hover {
      background-color: #f0f0e1;
      text-decoration: none;
    }
    &:before {
      @include RiffIcon("\E60E", 12, #aaa487);
      top: 0;
      left: 10px;
      line-height: 35px;
    }
  }
}
