@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.placeShare {
  padding: 10px 14px;
  &__facebook {
    vertical-align: top;
  }
}

.twitter-share-button {
  vertical-align: top;
  margin-right: 5px;
}
