<template>
  <div class="businessHours" v-if="hasBusinessHourSchedule">
    <h2 class="businessHours__title">診療スケジュール</h2>
    <table class="businessHours__table businessHoursTable">
      <thead class="businessHoursTable__header tableHeader">
        <tr class="tableHeader__row">
         <th class="tableHeader__time">診療時間</th>
         <th :class="isToday('月') ? 'tableHeader__week--point' : 'tableHeader__week'">月</th>
         <th :class="isToday('火') ? 'tableHeader__week--point' : 'tableHeader__week'">火</th>
         <th :class="isToday('水') ? 'tableHeader__week--point' : 'tableHeader__week'">水</th>
         <th :class="isToday('木') ? 'tableHeader__week--point' : 'tableHeader__week'">木</th>
         <th :class="isToday('金') ? 'tableHeader__week--point' : 'tableHeader__week'">金</th>
         <th :class="isToday('土') ? 'tableHeader__week--point' : ''" class="tableHeader__week--saturday">土</th>
         <th :class="isToday('日') ? 'tableHeader__week--point' : ''" class="tableHeader__week--sunday">日</th>
       </tr>
      </thead>
      <tbody class="businessHoursTable__body tableBody">
        <tr class="tableBody__row" v-if="hasBusinessHourAm">
          <th class="tableBody__time">{{ tenpo.Feature[0].Property.Detail.StandardBusinessHourAm }}</th>
          <td class="tableBody__data" v-for="amDictionary in businessDayDictionary.AM" v-text="amDictionary.description" :key="amDictionary"></td>
        </tr>
        <tr class="tableBody__row" v-if="hasBusinessHourPm">
          <th class="tableBody__time">{{ tenpo.Feature[0].Property.Detail.StandardBusinessHourPm }}</th>
          <td class="tableBody__data" v-for="pmDictionary in businessDayDictionary.PM" v-text="pmDictionary.description" :key="pmDictionary"></td>
        </tr>
        <tr class="tableBody__row" v-if="hasBusinessHourOther">
          <th class="tableBody__time">{{ tenpo.Feature[0].Property.Detail.StandardBusinessHourOther }}</th>
          <td class="tableBody__data" v-for="otherDictionary in businessDayDictionary.OTHER" v-text="otherDictionary.description" :key="otherDictionary"></td>
        </tr>
      </tbody>
    </table>
    <p class="businessHours__annotation" v-if="isValid(tenpo.Feature[0].Property.Detail.RegularHolidayComment)">休診日：{{ tenpo.Feature[0].Property.Detail.RegularHolidayComment }}</p>
    <dl class="businessHours__annotation" v-for="exception in exceptions" :key="exception">
      <dt class="businessHours__term">{{ exception.head }}</dt>
      <dd class="businessHours__description">{{ exception.description }}</dd>
    </dl>
  </div>
</template>
<script>
import Base from '@lib/baseComponent'
import moment from '@lib/moment-ja'
const DAY_OF_WEEK = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

/**
 * 1週間カレンダーモジュール
 * webapp/src/pc/pages/place/index.html 他から利用
 */
export default {
  extends: Base,
  data () {
    return {
      counter: 0,
      businessDayDictionary: [],
      exceptions: [],
      today: ''
    }
  },
  props: [
    'tenpo'
  ],
  beforeMount () {
    this.createBusinessDayDictionary()
    this.today = moment().format('ddd')
  },
  computed: {
    hasBusinessHourAm () {
      return this.isValid(this.tenpo.Feature[0].Property.Detail.StandardBusinessHourAm)
    },
    hasBusinessHourPm () {
      return this.isValid(this.tenpo.Feature[0].Property.Detail.StandardBusinessHourPm)
    },
    hasBusinessHourOther () {
      return this.isValid(this.tenpo.Feature[0].Property.Detail.StandardBusinessHourOther)
    },
    /**
     * 診療スケジュールを表示するかどうか
     * @return {Boolean} true/false
     */
    hasBusinessHourSchedule () {
      return this.validClinic || this.validBusinessHour
    },
    /**
     * 営業している診療所かどうか
     * @return {Boolean} true/false
     */
    validClinic () {
      return this.hasBusinessHourAm || this.hasBusinessHourPm
    },
    /**
     * 直近で営業しているかどうか
     * @return {Boolean} true/false
     */
    validBusinessHour () {
      return DAY_OF_WEEK.some((day) => this.tenpo.Feature[0].Property.Detail[day + 'BusinessHourAmFlag'] === 'true' || this.tenpo.Feature[0].Property.Detail[day + 'BusinessHourPmFlag'] === 'true')
    }
  },
  methods: {
    isToday (val) {
      return this.today === val
    },
    createBusinessDayDictionary () {
      if (this.hasBusinessHourAm) {
        this.businessDayDictionary['AM'] = DAY_OF_WEEK.map(day => { return {description: this.getSign(day, 'Am')} })
      }
      if (this.hasBusinessHourPm) {
        this.businessDayDictionary['PM'] = DAY_OF_WEEK.map(day => { return {description: this.getSign(day, 'Pm')} })
      }
      if (this.hasBusinessHourOther) {
        this.businessDayDictionary['OTHER'] = DAY_OF_WEEK.map(day => { return {description: this.getSign(day, 'Other')} })
      }
    },
    getSign (day, time) {
      if (this.tenpo.Feature[0].Property.Detail[day + 'BusinessHour' + time + 'Flag'] === 'true') {
        return '○'
      } else if (!this.isValid(this.tenpo.Feature[0].Property.Detail[day + 'BusinessHour' + time])) {
        return '-'
      } else if (this.isValid(this.tenpo.Feature[0].Property.Detail.StandardBusinessHourAm) && this.tenpo.Feature[0].Property.Detail.StandardBusinessHourAm === this.tenpo.Feature[0].Property.Detail[day + 'BusinessHour' + time]) {
        return '○'
      } else {
        const existException = this.getExistException(this.tenpo.Feature[0].Property.Detail[day + 'BusinessHour' + time])
        if (existException !== '') {
          return existException
        } else {
          this.counter += 1
          this.exceptions[this.counter - 1] = {head: '※' + this.counter, description: this.tenpo.Feature[0].Property.Detail[day + 'BusinessHour' + time]}
          return '※' + this.counter
        }
      }
    },
    getExistException (param) {
      if (this.exceptions.length === 0) return ''
      for (const val of this.exceptions) {
        if (val.description === param) return val.head
      }
      return ''
    },
    isValid (value) {
      return typeof value !== 'undefined' && value !== null
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.businessHours{
  @include boxShadow;
  position: relative;
  margin-bottom: 20px;
  padding: 8px 10px;
  background: #fff;
  &__title{
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 15px;
  }
  &__table{
    width: 100%;
    background: #fff;
    border: 1px solid #e3e3e3;
  }
  &__annotation{
    font-size: 12px;
  }
  &__term{
    display: inline-block;
    padding-right: 4px;
  }
  &__description{
    display: inline-block;
  }
}

.businessHoursTable{
  width: 100%;
  margin-bottom: 3px;
  table-layout: fixed;
  &__header{
    border-bottom: 1px solid #e3e3e3;
  }
}

.tableHeader{
  &__time{
    width: 35%;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    background: #eee;
  }
  &__week{
    width: 9%;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    &--point{
      @extend .tableHeader__week;
      position: relative;
      z-index: 1;
      &::before{
        display: inline-block;
        content: "";
        position: absolute;
        top: 2px;
        left: 50%;
        z-index: -1;
        width: 22px;
        height: 22px;
        margin-left: -12px;
        background-color: #eeeeee;
        border: 1px solid #d9d9d9;
        border-radius: 50%;
      }
    }
    &--saturday{
      @extend .tableHeader__week;
      color: #1279c9;
    }
    &--sunday{
      @extend .tableHeader__week;
      color: #db0a16;
    }
  }
}

.tableBody{
  &__time{
    width: 35%;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    background: #eee;
  }
  &__data{
    width: 9%;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
  }
}
</style>
