<template>
  <div id="wcal_grm" class="calendar tracked_mods" v-if="isVisible">
    <div class="calendar__container">
      <div class="calendar__body">
        <h2 class="calendar__title">ネット予約</h2>
        <p class="calendarStock__available" v-if="availableTonight">◯ 本日夜空席あり</p>
      </div>
      <div class="calendar__body">
        <table class="calendar__table calendarTable">
          <tr class="calendarTable__row">
            <th :class="dateObject.className" v-for="dateObject in getDateList()" :key="dateObject">
              {{dateObject.dateString}}<br /> {{dateObject | dayOfWeekFilter}}
            </th>
          </tr>
          <tr class="calendarTable__row">
            <td class="calendarTable__data" v-for="stock in getStockList()" :key="stock">
              <a :href="'tel:' + getTel" class="calendarTable__link--tel" v-if="stock.status === 'tel'" rel="nofollow" data-ylk="slk:date"><span class="calendarTable__text">電話予約</span></a>
              <a :href="getCourseListUrl(stock.date)" class="calendarTable__link" v-else-if="stock.status === 'available'" rel="nofollow" data-ylk="slk:date">○</a>
              <a :href="getCourseListUrl(stock.date)" class="calendarTable__link" v-else-if="stock.status === 'request'" rel="nofollow" data-ylk="slk:date">■</a>
            </td>
          </tr>
        </table>
        <table class="calendar__table calendarTable">
          <tr class="calendarTable__row">
            <th :class="dateObject.className" v-for="dateObject in getDateList(daysInCalendar)" :key="dateObject">
              {{dateObject.dateString}}<br /> {{dateObject | dayOfWeekFilter}}
            </th>
          </tr>
          <tr class="calendarTable__row">
            <td class="calendarTable__data" v-for="stock in getStockList(daysInCalendar)" :key="stock">
              <a :href="'tel:' + getTel" class="calendarTable__link--tel" v-if="stock.status === 'tel'" rel="nofollow" data-ylk="slk:date"><span class="calendarTable__text">電話予約</span></a>
              <a :href="getCourseListUrl(stock.date)" class="calendarTable__link" v-else-if="stock.status === 'available'" rel="nofollow" data-ylk="slk:date">○</a>
              <a :href="getCourseListUrl(stock.date)" class="calendarTable__link" v-else-if="stock.status === 'request'" rel="nofollow" data-ylk="slk:date">■</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <div class="calendar__option">
    <p class="calendar__information"><span class="calendar__description">◯ 即時予約</span><span class="calendar__description">■ リクエスト予約</span><span class="calendar__description--tel">電話での問い合わせ</span></p>
    <a :href="getCourseListUrl(null)" class="calendar__button" data-ylk="slk:anth_day;pos:0">ほかの日付を見る</a>
  </div>
  <!-- ローディング -->
  <loading v-if="loading"></loading>
  <!-- /ローディング -->
  </div>
</template>

<script>
import Base from '@lib/baseComponent'
import loading from '@sp/components/place/loading.vue'
import moment from 'moment'
import Url from '@lib/Url'

// カレンダー表示上限日数
const calendarViewLimitDays = 90
const hotPepperAvailableMonths = 2
const now = new Date()
const dayOfWeekList = ['（日）', '（月）', '（火）', '（水）', '（木）', '（金）', '（土）']
const todayDescription = '本日'

export default {
  props: [
    'tenpo',
    'eappid'
  ],
  components: {
    loading
  },
  data () {
    return {
      daysInCalendar: 7,
      dailyStock: {},
      planStock: {},
      dailyStockFiltered: {},
      holidayData: {},
      popup: false,
      loading: true,
      isVisible: false,
      date: Url.getParameters().date
    }
  },
  extends: Base,
  mounted () {
    // 日次在庫APIからデータの取得
    if ((typeof this.namespace.API.dailyStock !== 'undefined' &&
        typeof this.tenpo.Feature[0].Gid !== 'undefined' &&
        this.isGourmet && !this.isWedding)) {
      this.bindRequest({
        name: 'dailyStock',
        url: this.namespace.API.dailyStock,
        params: {
          gid: this.tenpo.Feature[0].Gid,
          period: calendarViewLimitDays
        },
        timeout: 3000,
        eappid: true,
        dataType: 'jsonp'
      }).then((dailyStock) => {
        if (this.$root.isHiddenScType('wcal_grm')) {
          // URLパラメータ「sc_type」によりフィルタする場合はYahoo在庫のみにフィルタ
          this.dailyStockFiltered = this.filterStockWithYahoo(dailyStock)
          return
        }

        if (!this.g(dailyStock, 'entry[0].stocks')) {
          if (this.hasHotpepper) {
            // Y! の在庫がない場合もホットペッパーがある場合は常に在庫を出す
            this.dailyStockFiltered = this.fillStockWithHotpepper()
          }
          return
        }

        // APIから取得して来たデータを整形する
        this.dailyStockFiltered = dailyStock.entry[0].stocks.reduce((obj, stock) => {
          const stockDate = new Date(stock.date)
          const stockDateStr = this.getDateString(stockDate)
          obj[stockDateStr] = stock.status
          return obj
        }, {})
      })
    }

    this.loading = false

    // 祝日の取得
    if (typeof this.namespace.API.holiday !== 'undefined') {
      this.bindRequest({
        name: 'holidayData',
        url: this.namespace.API.holiday,
        params: {
          year: now.getFullYear()
        }
      })
    }

    // 今日の夜の空き情報
    if (typeof this.namespace.API.planStock !== 'undefined') {
      this.bindRequest({
        name: 'planStock',
        url: this.namespace.API.planStock,
        params: {
          gid: this.tenpo.Feature[0].Gid
        },
        dataType: 'json'
      })
    }
  },
  watch: {
    dailyStockFiltered (newDailyStockFiltered, oldStockFiltered) {
      this.isVisible = Object.keys(newDailyStockFiltered).length > 0 && !this.hasValidDateParam
    },
    isVisible (newIsVisible, oldIsVisible) {
      if (!newIsVisible) {
        return
      }

      this.$nextTick(() => {
        if (!this.$root.rapidReady) {
          return false
        }
        if (this.$root.rapid && !this.$root.rapid.isModuleTracked('wcal_grm')) {
          this.$root.rapid.addModules('wcal_grm')
        }
        this.$root.rapid.refreshModule('wcal_grm')
      })
    }
  },
  computed: {
    /**
     * オンライン予約可能かどうか
     * @returns {bool} 表示可否
     */
    canOnlineReserve: function () {
      return this.tenpo.Feature[0].Property.Detail.OnlineReserveFlag || this.tenpo.Feature[0].Property.Detail.OnlineReserveRequestFlag
    },
    /**
     * グルメ対象店舗かどうか
     * @returns {bool}
     */
    isGourmet: function () {
      return this.getChildCpDataList(this.namespace.cid.gourmetCidGroup).length > 0
    },
    genrecd () {
      return Url.getParameters().genrecd
    },
    /**
     * GETパラメータのgenrecdがグルメであって式場ではないかどうかの確認(0414)
     * @returns {bool} 在庫の有無
     */
    isWedding: function () {
      if (this.isFilled(this.genrecd)) {
        return this.genrecd.startsWith('0414') && this.includeWedding
      }
      return false
    },
    /**
     * 情報提供元にwedding(zexy)があるかのチェック
     **/
    includeWedding: function () {
      return this.tenpo.Feature[0].Internal.CidList.includes(this.namespace.cid.zexy)
    },
    /**
     * 正常なgetパラメータ（date）を持っているかの確認
     * 今後 date を遷移無しで変更する可能性がある場合は force update してください
     */
    hasValidDateParam () {
      return this.date !== undefined && this.date.length === 8 && moment(this.date).isValid() &&
        moment(this.date).isBetween(moment(), moment().add(calendarViewLimitDays, 'days'), 'day', '[)')
    },
    /**
     * 表示する電話番号
     * @returns {String} 電話番号。ハイフンで区切られている
     */
    getTel () {
      return this.tenpo.Feature[0].Property.Detail.AlternativeTel ? this.tenpo.Feature[0].Property.Detail.AlternativeTel
        : this.tenpo.Feature[0].Property.Detail.PpcNumber ? this.tenpo.Feature[0].Property.Detail.PpcNumber
          : this.tenpo.Feature[0].Property.Tel1
    },
    /**
     * 本日夜在庫あり
     * @return Boolean 空席有無
     */
    availableTonight () {
      if (this.status.planStock !== 'binded') {
        return false
      }
      const isYahoo = this.tenpo.Feature[0].Internal.CidList.includes(this.namespace.cid.yahoo)
      const isNight = new Date().getHours() >= 21

      if (!isYahoo || isNight) {
        return false
      } else {
        return this.planStock.totalResults > 0
      }
    },
    /**
     * CP にホットペッパーを含むかどうか
     */
    hasHotpepper: function () {
      return (this.getChildCpData(this.namespace.cid.hotpepperGourmet).length > 0)
    }
  },
  filters: {
    dayOfWeekFilter: function (dateObject) {
      return (dateObject.dateString !== todayDescription) ? dateObject.dayOfWeek : ''
    }
  },
  methods: {
    /**
     * 表示する日付情報リストの取得
     * @param {int} daysAfter: 日にち。今日から数日後を指定したい場合に使用する。
     * @returns {Array} 日付文字列と、それに付随する情報
     *     dayOfWeek: 曜日文字列 -> getDateOf
     *     dateString: 日付文字列 -> getDateString
     *     className: css用のクラス名 -> getDateClassName
     */
    getDateList (daysAfter = 0) {
      let dateList = []
      let targetDate = new Date()
      targetDate.setDate(targetDate.getDate() + daysAfter)

      for (let i = 0; i < this.daysInCalendar; i++) {
        const dayOfWeek = this.getDateOf(targetDate)
        let dateString = this.getDateString(targetDate)
        if (targetDate.getDate() === now.getDate()) {
          dateString = todayDescription
        }
        const className = this.getDateClassName(targetDate)
        dateList.push({dayOfWeek, dateString, className})
        targetDate.setDate(targetDate.getDate() + 1)
      }
      return dateList
    },
    /**
     * 曜日取得
     * @param {Date} date 取得したい日付
     * @returns {String} （日）のような曜日文字列
     */
    getDateOf (date) {
      return dayOfWeekList[date.getDay()]
    },
    /**
     * Date オブジェクトから 月/日 形式の文字列を取得
     * 0パディングしない
     * @param {Date} date 取得したい日付
     * @returns {String} m/d 形式の日付
     */
    getDateString (date) {
      return moment(date).format('M/D')
    },
    /**
     * 曜日ごとの出し分け css のクラス名取得
     * @param {Date} date クラス名を取得したい日付
     * @returns {String} クラス名
     */
    getDateClassName (date) {
      if (this.isHoliday(date)) {
        return 'calendarTable__header--holiday' // 祝日だった場合
      } else if (date.getDate() === now.getDate()) {
        return 'calendarTable__header--today' // 当日だった場合
      } else if (date.getDay() === 0) {
        return 'calendarTable__header--sunday' // 日曜日だった場合
      } else if (date.getDay() === 6) {
        return 'calendarTable__header--saturday' // 土曜日だった場合
      } else {
        return 'calendarTable__header' // 平日の場合
      }
    },
    /**
     * 祝日判定
     * @param {Date} date: 日付
     * @returns {Boolan} 祝日かどうか
     */
    isHoliday: function (date) {
      if (this.status.holidayData !== 'binded') {
        return false
      }
      return this.holidayData.response.docs.some((docs) => {
        return docs.Year === date.getFullYear() && docs.Month === date.getMonth() + 1 && docs.Day === date.getDate()
      })
    },
    /**
     * 1週間分の在庫ステータスを取得
     * 表示優先順位：ネット予約可能 > リクエスト予約可能 > 電話
     * @param {int} daysAfter: 日にち。今日から数日後を指定したい場合に使用する。
     * @returns {Array(Array(Date,String))} Array(date, status)
     *   status ->
     *     'available': 予約可
     *     'request': リクエスト予約可
     *     'tel': 予約不可。電話アイコン
     */
    getStockList (daysAfter = 0) {
      let stockList = []

      for (let i = 0; i < this.daysInCalendar; i++) {
        let date = new Date()
        date.setDate(date.getDate() + daysAfter + i)
        const dateString = this.getDateString(date)
        const stock = this.dateStockStatus(dateString)

        let status = ''
        if (stock === 1) {
          status = 'available'
        } else if (stock === 2 || this.hotpepperAvailable(date)) {
          status = 'request'
        } else {
          status = 'tel'
        }

        stockList.push({date, status})
      }

      return stockList
    },
    /**
     * ホットペッパー対応
     * 指定日付が3日後以降2ヶ月以前ならリクエスト予約可能になる（直近3日は電話）
     * @see https://jira.corp.yahoo.co.jp/browse/POTARA-1885
     * @param {Date} date 指定日付
     */
    hotpepperAvailable (date) {
      return this.hasHotpepper &&
        moment(date).isBetween(moment().add(3, 'day'), moment().add(hotPepperAvailableMonths, 'months'), 'day', '[)')
    },
    /**
     * オンライン予約可能かどうか
     * @param {object} Tenpo オブジェクト
     * @returns {bool} 表示可否
     */
    canOnlineReserveChild (childTenpo) {
      return childTenpo !== null &&
        (childTenpo.OnlineReserveFlag || childTenpo.OnlineReserveRequestFlag)
    },
    /**
     * ChildのCP情報取得
     * @param {string} cid カセットID
     * @returns {object} Cp情報
     */
    getChildCpData (cid) {
      return this.tenpo.Feature[0].Children.filter((val) => cid === val.CassetteId && this.canOnlineReserveChild(val))
    },
    /**
     * 日付から在庫ステータスを確認
     * src/main/resources/json/tenpo/dailyStock/CGBtPVWV6EE.json にデータがあります。日付が古いようでしたら更新してください
     * @see http://cptl.corp.yahoo.co.jp/pages/viewpage.action?pageId=1415176636
     * @param {string} dateStr 在庫ステータスを確認したい日付 (m/d)。0パディングしない
     * @returns {number} 指定された日付の在庫ステータス | 0 (取得に失敗した場合)
     */
    dateStockStatus (dateStr) {
      return (typeof this.dailyStockFiltered[dateStr] !== 'undefined')
        ? this.dailyStockFiltered[dateStr] : 0
    },
    /**
     * ホットペッパー対応 CPがホットペッパーのみの場合にも在庫を出す
     * TODO: リファクタ status を enum にする
     */
    fillStockWithHotpepper () {
      let stocks = {}
      for (let i = 0; i < calendarViewLimitDays; ++i) {
        const date = moment().add(i, 'day')
        let status = this.hotpepperAvailable(date)
          ? 2 // リクエスト予約
          : 0 // 電話
        stocks[this.getDateString(date)] = status
      }
      return stocks
    },
    /**
     * Yプランのみで在庫一覧をフィルタする
     */
    filterStockWithYahoo (dailyStock) {
      if (dailyStock.totalResults > 0) {
        const yahooDailyStocks = dailyStock.entry[0].cp.filter((l) => l.cid === this.namespace.cid.yahoo)
        if (yahooDailyStocks.length === 1) {
          return yahooDailyStocks[0].stocks.reduce((obj, stock) => {
            const stockDate = new Date(stock.date)
            const stockDateStr = this.getDateString(stockDate)
            obj[stockDateStr] = stock.status
            return obj
          }, {})
        }
      }
      return {}
    },
    /**
     * コース一覧へのリンクURL作成
     * @param {Date} date 指定日付
     * @returns {String} /place/g-<gid>/course[?date=YYYYMMDD]
     */
    getCourseListUrl (date) {
      const gid = this.tenpo.Feature[0].Gid
      let url = `/place/g-${gid}/course`
      if (date != null) {
        url = url + '?date=' + moment(date, 'YYYYMMDD').format('YYYYMMDD')
      }
      url = this.$root.addUrlParameters(url, ['sc_type'])

      return url
    },
    /**
     * ChildのCPList取得
     * @returns {array} CPList
     */
    getChildCpDataList (cplist) {
      return this.tenpo.Feature[0].Children.filter((val) => cplist.includes(val.CassetteId) && this.canOnlineReserveChild(val))
    },
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.calendar {
  position: relative;
  margin-bottom: 20px;

  &__container {
    @include boxShadow;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
  }

  &__body {
    position: relative;
    margin-bottom: 11px;
    border-bottom: 2px dotted #999588;
    &:first-child {
      @include clearfix
    }
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  &__title {
    position: relative;
    float: left;
    margin-right: 30px;
    padding: 2px 0 11px 0;
    font-size: 15px;
    font-weight: bold;
  }

  &__option {
    @include clearfix;
    margin-bottom: 20px;
  }

  &__information {
    float: left;
  }

  &__description {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
    color: $textColorGray;
    vertical-align: bottom;
    line-height: 1;
    &--tel {
      @extend .calendar__description;
      &:before {
        @include RiffIcon("\E130", 14, $textColorGray);
        position: relative;
        display: inline-block;
        top: 2px;
        height: 13px;
        vertical-align: bottom;
      }
    }
  }

  &__button {
    @include button-normal;
    float: right;
    width: 130px;
    margin-top: 5px;
    padding: 8px 0;
    font-size: 12px;
  }
}

.calendarStock {
  display: inline-block;
  position: relative;
  &__available {
    float: right;
    padding: 0 10px;
    color: #fc5952;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #fc5952;
    box-sizing: border-box;
  }
}

.calendarTable {
  width: 100%;
  table-layout: fixed;
  &:first-child {
    margin-bottom: 10px;
  }

  &__header {
    width: 100%;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2;
    color: #6d6d6d;
    &--today {
      @extend .calendarTable__header;
    }
    &--saturday {
      @extend .calendarTable__header;
      color: #3c93d0;
    }
    &--sunday {
      @extend .calendarTable__header;
      color: #ff5c5c;
    }
    &--holiday {
      @extend .calendarTable__header;
      color: #ff5c5c;
    }
  }

  &__data {
    width: 100%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
  }

  &__link {
    position: relative;
    display: block;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    box-sizing: border-box;
    &--tel {
      @extend .calendarTable__link;
      &:before {
        @include RiffIcon("\E130", 20, $linkColor);
        position: relative;
      }
    }
  }

  &__tel {
    position: absolute;
    top: -26px;
    left: 50%;
    margin-left: -62px;
  }

  &__text {
    @include text-replace;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
  }

}
</style>
