<template>
<div id="mcal" class="calendarPopup tracked_mods">
  <div class="calendarPopup__body">
    <div class="calendarPopup__header">
      <div class="calendarPopup__control--prev" :class="{'calendarPopup__control--disabled': !isActivePrevButton}" @click="movePrevMonth()">前月</div>
      <p class="calendarPopup__title">{{getCalenderTitle}}</p>
      <div class="calendarPopup__control--next" :class="{'calendarPopup__control--disabled': !isActiveNextButton}" @click="moveNextMonth()">翌月</div>
    </div>
    <div class="calendarPopup__content">
      <table class="calendarPopup__table calendarPopupTable">
        <tr class="calendarPopupTable__row">
          <th class="calendarPopupTable__header">日</th>
          <th class="calendarPopupTable__header">月</th>
          <th class="calendarPopupTable__header">火</th>
          <th class="calendarPopupTable__header">水</th>
          <th class="calendarPopupTable__header">木</th>
          <th class="calendarPopupTable__header">金</th>
          <th class="calendarPopupTable__header">土</th>
        </tr>
        <tr class="calendarPopupTable__row" v-for="weekNo in getWeekNum" :key="weekNo">
          <td :class="dayList.dataClassName" v-for="(dayList, dayIndex) in getDaysInWeek(weekNo)" :key="dayList">
            <span v-if="dayList.stock == 'noavailable' && dayList.date.getMonth() === calendarMonth" :class="dayList.dateClassName">{{ dayList.date.getDate() }}</span>
            <div v-else-if="dayList.date.getMonth() === calendarMonth && dayList.stock === 'tel'" @click="closePopup()" class="calendarPopupTable__link">
              <span :class="dayList.dateClassName">{{ dayList.date.getDate() }}</span>
              <span class="calendarPopupTable__status--tel"></span>
            </div>
            <a v-else-if="dayList.date.getMonth() === calendarMonth" :href="getCourseListUrl(dayList.date)" class="calendarPopupTable__link" rel="nofollow" :data-ylk="`slk:c_date;pos:${dayIndex}`">
              <span :class="dayList.dateClassName">{{ dayList.date.getDate() }}</span>
              <span class="calendarPopupTable__status" v-if="dayList.stock === 'available'">○</span>
              <span class="calendarPopupTable__status"  v-if="dayList.stock === 'request'">■</span>
            </a>
          </td>
        </tr>
      </table>
      <!-- ローディング -->
      <loading v-if="loading"></loading>
      <!-- /ローディング -->
    </div>
    <p class="calendarPopup__information"><span class="calendarPopup__description">◯ 即時予約</span><span class="calendarPopup__description">■ リクエスト予約</span><span class="calendarPopup__description--tel">電話での問い合わせ</span></p>
    <div class="calendarPopup__selector">
      <!-- jsで処理が必要なボタンの場合 -->
      <a class="calendarPopup__button" :href="getCourseListUrl(null)" v-if="pendingButton === 'js'" rel="nofollow" data-ylk="slk:c_unded;pos:0">日付未定</a>
      <!-- /jsで処理が必要なボタンの場合 -->
      <!-- ただのリンクの場合 -->
      <a class="calendarPopup__button" href="" @click="closePopup()" v-if="pendingButton === 'link'" rel="nofollow" data-ylk="slk:c_unded;pos:0">日付未定</a>
      <!-- /ただのリンクの場合 -->
      <div class="calendarPopup__button" @click="clickCloseButton()">閉じる</div>
    </div>
  </div>
</div>
</template>

<script>
import Base from '@lib/baseComponent'
import loading from '@sp/components/place/loading.vue'
import moment from 'moment'
import Url from '@lib/Url'

// カレンダー表示上限日数
const calendarViewLimitDays = 90
const hotPepperAvailableMonths = 2
const now = new Date()

export default {
  components: {
    loading
  },
  extends: Base,
  props: {
    popup: Boolean,
    pendingButton: {
      /**
       * 日付未定ボタンの出し分け
       * @param String
       * 'none'非表示
       * 'link'ただのリンク
       * 'js' jsで処理が必要なボタン
       */
      type: String,
      default: 'none'
    },
    tenpo: {},
    dailyStock: {},
    calPopupBtnSec: '',
    calPopupBtnSlk: ''
  },
  data () {
    let lastDay = new Date()
    lastDay.setDate(lastDay.getDate() + calendarViewLimitDays - 1)
    return {
      // 仮でローディング時の状態を定義してます
      loading: true,
      today: now,
      lastDay: lastDay,
      calendarYear: now.getUTCFullYear(),
      calendarMonth: now.getMonth(),
      date: Url.getParameters().date,
      holidayData: {}
    }
  },
  mounted () {
    // カレンダーのDOMを取得
    const calendarBody = this.$el.querySelector('.calendarPopup__body')
    // カレンダーの背景の高さを設定
    this.setCalendarPosition()
    // カレンダーの位置を設定
    this.setCalendarBodyPosition(calendarBody)
    // カレンダー以外をクリックした時にポップアップを閉じる
    const wrapper = this.$el
    wrapper.addEventListener('click', (e) => {
      if (!calendarBody.contains(e.target)) {
        this.closePopup()
      }
    })

    // ローディング終了
    this.loading = false

    // 祝日の取得
    if (typeof this.namespace.API.holiday !== 'undefined') {
      this.bindRequest({
        name: 'holidayData',
        url: this.namespace.API.holiday,
        params: {
          year: now.getFullYear()
        }
      })
    }

    // setter を呼んで computed のデータを更新
    this.lastDay = new Date(this.lastDay)
    this.gid = this.tenpo.Feature[0].Gid

    this.$nextTick(() => {
      // 本コンポーネントが mounted されているタイミングで rapid が
      // すでに初期化されている場合、そのまま rapid モジュールを更新する。
      if (!this.$root.rapidReady) {
        return false
      }
      if (!this.$root.rapid.isModuleTracked('mcal')) {
        this.$root.rapid.addModules('mcal')
      }
      this.$root.rapid.refreshModule('mcal')
    })
  },
  watch: {
    /**
     * mountedされた時rapidがまだ初期化されてない場合の対応
     */
    '$root.rapidReady' (ready) {
      if (ready && this.calPopupBtnSec && this.calPopupBtnSlk) {
        this.$root.sendClickBeacon(this.calPopupBtnSec, this.calPopupBtnSlk)
      }
    }
  },
  computed: {
    /**
     * カレンダーのタイトルを表示
     */
    getCalenderTitle: function () {
      return this.calendarYear + '年' + (this.calendarMonth + 1) + '月'
    },
    /**
     * 表示付きが何週あるかを取得
     */
    getWeekNum: function () {
      const firstDay = new Date(this.calendarYear, this.calendarMonth, 1)
      const lastDay = new Date(this.calendarYear, this.calendarMonth + 1, 0)

      return Math.ceil((lastDay.getDate() + firstDay.getDay()) / 7)
    },
    /**
     * 翌月へボタンの活性非活性
     */
    isActiveNextButton: function () {
      return (this.lastDay >= new Date(this.calendarYear, this.calendarMonth + 1, 1))
    },
    /**
     * 前月へボタンの活性非活性
     */
    isActivePrevButton: function () {
      return (this.today < new Date(this.calendarYear, this.calendarMonth, 1))
    },
    /**
     * 正常なgetパラメータ（date）を持っているかの確認
     * 今後 date を遷移無しで変更する可能性がある場合は force update してください
     */
    hasValidDateParam () {
      return this.date !== undefined && this.date.length === 8 && moment(this.date, 'YYYYMMDD').isValid() &&
        moment(this.date).isBetween(moment(), moment().add(calendarViewLimitDays, 'days'), 'day', '[)')
    },
    /**
     * CP にホットペッパーを含むかどうか
     */
    hasHotpepper () {
      return (this.getChildCpData(this.namespace.cid.hotpepperGourmet).length > 0)
    },
    /**
     * 電話番号
     * @returns {String} 電話番号
     */
    tel () {
      return this.tenpo.Feature[0].Property.Detail.AlternativeTel ? this.tenpo.Feature[0].Property.Detail.AlternativeTel
        : this.tenpo.Feature[0].Property.Detail.PpcNumber ? this.tenpo.Feature[0].Property.Detail.PpcNumber
          : this.tenpo.Feature[0].Property.Tel1
    }
  },
  methods: {
    setCalendarPosition: function () {
      const documentHeight = document.body.clientHeight
      this.$el.style.height = documentHeight + 'px'
    },
    setCalendarBodyPosition: function (calendarBody) {
      const wh = window.innerHeight
      const calendarHeight = calendarBody.clientHeight
      if (wh < calendarHeight) {
        /**
         * 画面サイズがカレンダーより小さいサイズなら
         * カレンダーの背景はabsoluteにしてスクロールできるようにする
         */
        const scrollPosition = window.pageYOffset
        this.$el.style.position = 'absolute'
        calendarBody.style.top = scrollPosition + 'px'
      } else {
        /**
         * 画面サイズとカレンダーの高さの差分が上下分の余白なので
         * 上下中央に表示されるようposition:topを調整する
         */
        const calendarMargin = (wh - calendarHeight) / 2
        calendarBody.style.top = calendarMargin + 'px'
        /**
       * 横幅を画面サイズに合わせてMarginを引いた数値を設定する
       */
        const calendarSideMargin = 20
        const ww = window.innerWidth
        calendarBody.style.width = ww - calendarSideMargin + 'px'
      }
    },
    closePopup: function () {
      this.$emit('close')
      this.$emit('call-tracking')
    },
    /**
     * dataのcss用のクラス名の取得
     * @param {Date} date: 日付
     * @param {String} stock: 在庫
     * @returns {String} クラス名
     */
    getDataClassName: function (date, stock) {
      return (date.getMonth() !== this.calendarMonth) ? 'calendarPopupTable__data--empty'
        : (stock === 'noavailable') ? 'calendarPopupTable__data--disabled'
          : (this.isHoliday(date)) ? 'calendarPopupTable__data--sunday'
            : (date.getDay() === 0) ? 'calendarPopupTable__data--sunday'
              : (date.getDay() === 6) ? 'calendarPopupTable__data--saturday'
                : 'calendarPopupTable__data'
    },
    /**
     * dateのcss用のクラス名の取得
     * @param {Date} date: 日付
     * @param {String} stock: 在庫
     * @returns {String} クラス名
     */
    getDateClassName: function (date, stock) {
      return (date.getMonth() !== this.calendarMonth) ? 'calendarPopupTable__date--empty'
        : (stock === 'noavailable') ? 'calendarPopupTable__date--disabled'
          : (this.isHoliday(date)) ? 'calendarPopupTable__date--sunday'
            : (date.getDay() === 0) ? 'calendarPopupTable__date--sunday'
              : (date.getDay() === 6) ? 'calendarPopupTable__date--saturday'
                : 'calendarPopupTable__date'
    },
    /**
     * 祝日判定
     * @param {Date} date: 日付
     * @returns {Boolan} 祝日かどうか
     */
    isHoliday: function (date) {
      if (this.status.holidayData !== 'binded') {
        return false
      }
      return this.holidayData.response.docs.some((docs) => {
        return docs.Year === date.getFullYear() && docs.Month === date.getMonth() + 1 && docs.Day === date.getDate()
      })
    },
    /**
     * カレンダー表示月の指定週の情報を取得
     * 1,8,15,...,29日は、それぞれ1,2,3,4,5週目に必ず含まれるので、まずは基準日として選定。
     * その後、基準日から曜日を引くと、その週の最初の日付がわかる。
     * ※ 6週目は基準日が35日になるが、setDate がうまいこと調整してくれる。
     * 例: 8日が水曜日の場合
     * weekNo = 2
     * まず、targetDay = 8日 となる。
     * 水曜日なので getDay = 3 となる。
     * 日付から曜日を引いて、週の初め(日曜)は 5日 となる。
     * @param weekNo 週番号（1~6）
     * @return {Array} dayList 日曜から土曜までの情報
     *      className: css用のクラス名
     *      stock: 在庫
     *      date: 日付
     */
    getDaysInWeek: function (weekNo) {
      const targetDay = new Date(this.calendarYear, this.calendarMonth, 7 * (weekNo - 1) + 1)
      // 日付から曜日を引いて、週の最初の日付を取得
      targetDay.setDate(targetDay.getDate() - targetDay.getDay())

      let dayList = []
      for (let i = 0; i < 7; ++i) {
        const stock = this.getStock(targetDay)
        const dataClassName = this.getDataClassName(targetDay, stock)
        const dateClassName = this.getDateClassName(targetDay, stock)
        const date = new Date(targetDay)
        dayList.push({dataClassName, dateClassName, stock, date})

        // 日付の更新
        targetDay.setDate(targetDay.getDate() + 1)
      }

      return dayList
    },
    /**
     * Date オブジェクトから 月/日 形式の文字列を取得
     * @param {Date} date 取得したい日付
     * @returns {String} m/d 形式の日付
     */
    getDateString: function (date) {
      return moment(date).format('M/D')
    },
    /**
     * 在庫ステータスを取得
     * 表示優先順位：ネット予約可能 > リクエスト予約可能 > 電話
     * @param {Date} date 日付
     * @returns {Array(Array(Date,String))} Array(date, status)
     *   status ->
     *     'available': 予約可
     *     'request': リクエスト予約可
     *     'tel': 予約不可。電話アイコン
     *     'noavailable': 取得失敗など
     */
    getStock (date) {
      const stock = this.dateStockStatus(this.getDateString(date))

      if (moment(date).isAfter(moment().add(calendarViewLimitDays - 1, 'days'), 'day') ||
        moment(date).isBefore(moment(), 'day')) {
        return 'noavailable'
      }
      if (stock === 1) {
        return 'available'
      } else if (stock === 2 || this.hotpepperAvailable(date)) {
        return 'request'
      } else if (stock === 0) {
        return 'tel'
      } else {
        return 'noavailable'
      }
    },
    /**
     * ホットペッパー対応
     * 指定日付が3日後以降2ヶ月以前ならリクエスト予約可能になる（直近3日は電話）
     * @see https://jira.corp.yahoo.co.jp/browse/POTARA-1885
     * @param {Date} date 指定日付
     */
    hotpepperAvailable (date) {
      return this.hasHotpepper &&
        moment(date).isBetween(moment().add(3, 'day'), moment().add(hotPepperAvailableMonths, 'months'), 'day', '[)')
    },
    /**
     * オンライン予約可能かどうか
     * @param {object} Tenpo オブジェクト
     * @returns {bool} 表示可否
     */
    canOnlineReserveChild (childTenpo) {
      return childTenpo !== null &&
        (childTenpo.OnlineReserveFlag || childTenpo.OnlineReserveRequestFlag)
    },
    /**
     * ChildのCP情報取得
     * @param {string} cid カセットID
     * @returns {object} Cp情報
     */
    getChildCpData (cid) {
      return this.tenpo.Feature[0].Children.filter((val) => cid === val.CassetteId && this.canOnlineReserveChild(val))
    },
    /**
     * 日付から在庫ステータスを確認
     * src/main/resources/json/tenpo/dailyStock/CGBtPVWV6EE.json にデータがあります。日付が古いようでしたら更新してください
     * @see http://cptl.corp.yahoo.co.jp/pages/viewpage.action?pageId=1415176636
     * @param {string} dateStr 在庫ステータスを確認したい日付 (m/d)。0パディングしない
     * @returns {number} 指定された日付の在庫ステータス | -1 (取得に失敗した場合)
     */
    dateStockStatus (dateStr) {
      return typeof this.dailyStock[dateStr] !== 'undefined' ? this.dailyStock[dateStr] : -1
    },
    /**
     * 翌月へ遷移
     */
    moveNextMonth: function () {
      // カレンダー表示年月の変更
      if (++this.calendarMonth > 11) {
        this.calendarMonth = 0
        this.calendarYear++
      }

      this.$root.sendClickBeacon('mcal', 'c_next')
    },
    /**
     * 前月へ遷移
     */
    movePrevMonth: function () {
      // カレンダー表示年月の変更
      if (--this.calendarMonth < 0) {
        this.calendarMonth = 11
        this.calendarYear--
      }

      this.$root.sendClickBeacon('mcal', 'c_pre')
    },
    /**
     * コース一覧へのリンクURL作成
     * @param {Date} date 指定日付
     * @returns {String} /place/g-<gid>/course[?date=YYYYMMDD]
     */
    getCourseListUrl (date) {
      let url = `/place/g-${this.gid}/course`
      if (date != null) {
        url = url + '?date=' + moment(date, 'YYYYMMDD').format('YYYYMMDD')
      }
      url = this.$root.addUrlParameters(url, ['sc_type'])

      return url
    },
    /**
     * 「閉じる」ボタン押下時の処理
     */
    clickCloseButton: function () {
      this.closePopup()
      this.$root.sendClickBeacon('mcal', 'close')
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';
.calendarPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;;
  background-color: rgba(0, 0, 0, .5);
  transition: all .3s ease;
  z-index: 4;
  &__body {
    position: absolute;
    margin: 0 10px;
    padding: 10px 10px 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 5;
  }
  &__header {
    position: relative;
    margin-bottom: 15px;
  }
  &__control {
    position: absolute;
    top: 0;
    display: block;
    width: 60px;
    height: 30px;
    color: $textColorBlack;
    font-size: 12px;
    font-weight: bold;
    border: solid 1px #dfd6c0;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .2s;
    &--prev {
      @extend .calendarPopup__control;
      left: 0;
      padding-left: 9px;
      text-align: left;
      &:before {
        @include RiffIcon("\E60D", 10, #f85d46);;
        position: relative;
        display: inline;
        margin-right: 1px;
        font-weight: bold;
        line-height: 30px;
      }
    }
    &--next {
      @extend .calendarPopup__control;
      right: 0;
      padding-left: 14px;
      text-align: left;
      &:after {
        @include RiffIcon("\E60E", 10, #f85d46);;
        position: relative;
        display: inline;
        margin-left: 1px;
        font-weight: bold;
        line-height: 30px;
      }
    }
    &--disabled {
      background-color: #dedede;
      cursor: default;
      pointer-events: none;
      &::before {
        color: #aaaaaa;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
  }
  &__content {
    position: relative;
  }
  &__table {
    margin-bottom: 2px;
  }
  &__information {
    margin-bottom: 16px;
    font-size: 10px;
    text-align: left;
  }
  &__selector {
    text-align: center;
  }
  &__button {
    @include button-normal;
    display: inline-block;
    width: 130px;
    height: 40px;
    margin-right: 20px;
    line-height: 40px;
    box-sizing: border-box;
    &:last-child {
      margin-right: 0;
    }
  }
  &__description {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
    &--tel {
      &:before {
        @include RiffIcon("\E130", 10, $textColorBlack);
        position: relative;
        display: inline-block;
      }
    }
  }
}
.calendarPopupTable {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border: 1px solid #dfd6c0;
  &__header {
    width: 100%;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    background-color: #a79779;
    border-right: 1px solid #e4e2d1;
  }
  &__data {
    height: 43px;
    line-height: 1;
    border-right: 1px solid #e4e2d1;
    border-bottom: 1px solid #e4e2d1;
    box-sizing: border-box;
    &--saturday {
      @extend .calendarPopupTable__data;
      background-color: #f1f8fa;
    }
    &--sunday {
      @extend .calendarPopupTable__data;
      background-color: #fbf2f3;
    }
    &--holiday {
      @extend .calendarPopupTable__data;
      background-color: #fbf2f3;
    }
    &--empty {
      @extend .calendarPopupTable__data;
    }
    &--disabled {
      @extend .calendarPopupTable__data;
      color: #aaaaaa;
      background-color: #f4f4f4;
    }
  }
  &__link {
    display: block;
    height: 42px;
    color: $textColorBlack;
    border: 1px solid transparent;
    box-sizing: border-box;
    &:hover {
      background-color: #fff9e2;
      border: 1px solid #fdad25;
      text-decoration: none;
    }
  }
  &__date {
    display: block;
    margin-bottom: 4px;
    padding-top: 4px;
    font-size: 10px;
    font-weight: bold;
    &--saturday {
      @extend .calendarPopupTable__date;
      color: #1b5fbc;
    }
    &--sunday {
      @extend .calendarPopupTable__date;
      color: #fc0516;
    }
    &--holiday {
      @extend .calendarPopupTable__date;
      color: #fc0516;
    }
    &--disabled {
      @extend .calendarPopupTable__date;
      color: #aaaaaa;
    }
  }
  &__status {
    color: $linkColor;
    &--tel {
      &:before {
        @include RiffIcon("\E130", 16, $linkColor);
        position: relative;
      }
    }
  }
}
</style>
