<template>
<div class="callTracking">
  <div class="callTracking__body">
    <p class="callTracking__title">ご希望の日時がない場合でも<br />電話なら予約できることがあります</p>
    <p class="callTracking__number">{{ tel }}に電話をかけます</p>
    <a :href="'tel:' + tel" class="callTracking__button" rel="nofollow" :data-ylk="`slk:phncall;pos:0;chk_flg:${ctkFlg}`">電話をかける</a>
    <p class="callTracking__notice">※ネット予約のプラン割引/特典は電話予約では<br />ご利用いただけません</p>
    <div class="callTracking__close" v-on:click="closeCallTracking()">閉じる</div>
  </div>
</div>
</template>

<script>
export default {
  props: [
    'tenpo'
  ],
  methods: {
    closeCallTracking: function () {
      this.$emit('close')
    }
  },
  mounted: function () {
    // 表示位置の設定をしています
    const wh = window.innerHeight
    const ww = window.innerWidth
    const callTrackingBody = this.$el.querySelector('.callTracking__body')
    const callTrackingHeight = callTrackingBody.clientHeight
    const callTrackingMargin = (wh - callTrackingHeight) / 2
    callTrackingBody.style.top = callTrackingMargin + 'px'
    callTrackingBody.style.width = ww - 20 + 'px'
    // コールトラッキング以外をクリックした時にポップアップを閉じる
    const wrapper = this.$el
    wrapper.addEventListener('click', (e) => {
      if (!callTrackingBody.contains(e.target)) {
        this.closeCallTracking()
      }
    })
    this.$nextTick(() => {
      this.$root.rapid.refreshModule('phn_sug', false, false)
    })
  },
  computed: {
    /**
     * 電話番号を返す
     * 優先順位：コールトラック番号＞PPC番号＞Tel1
     * @return {string} 電話番号
     */
    tel () {
      if (this.tenpo.Feature[0].Property.Detail.AlternativeTel) {
        return this.tenpo.Feature[0].Property.Detail.AlternativeTel
      } else if (this.tenpo.Feature[0].Property.Detail.PpcNumber) {
        return this.tenpo.Feature[0].Property.Detail.PpcNumber
      } else {
        return this.tenpo.Feature[0].Property.Tel1
      }
    },
    /**
     * 代替番号がどうかの確認、ULTのため
     */
    ctkFlg () {
      return this.tenpo.Feature[0].Property.Detail.AlternativeTel
        ? 'ctk_flg:1' : 'ctk_flg:0'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.callTracking {
  //カレンダーモーダルの中で表示される場合は↓のスタイルは削除いただければ背景が消えます
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;;
  background-color: rgba(0, 0, 0, .5);
  transition: all .3s ease;
  z-index: 4;

  &__body {
    position: absolute;
    margin: 0 10px;
    padding: 20px 0;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 5;
  }

  &__title {
    margin-bottom: 10px;
    color: #444444;
    font-size: 14px;
    text-align: center;
  }

  &__number {
    margin-bottom: 10px;
    color: $textColorGray;
    font-size: 12px;
    text-align: center;
  }

  &__button {
    @include button-main;
    display: block;
    width: 200px;
    margin: 0 auto 10px;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
  }

  &__notice {
    margin-bottom: 15px;
    color: #444444;
    font-size: 12px;
    text-align: center;
  }

  &__close {
    @include button-normal;
    display: block;
    width: 130px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
  }

}
</style>
