<template>
<p id="fav" class="clipButton tracked_mods">
  <a class="clipButton__link" v-bind:class="[clipped ? 'clipButton__link--clipped' : '']" v-on:click="clickClipButton()" rel="nofollow">
    <span class="clipButton__note" v-if="!clipped" data-ylk="slk:fav">行きたい</span>
    <span class="clipButton__note" v-if="clipped" data-ylk="slk:notfav">行きたいから削除する</span>
  </a>
</p>
</template>

<script>
import Base from '@lib/baseComponent'
import Ajax from '@lib/Ajax'
import cookie from '@lib/cookie'

export default {
  props: ['tenpo', 'userInfo'],
  extends: Base,
  data () {
    return {
      more: false,
      clipList: {},
      clipAdd: {},
      clipRemove: {},
      isClicked: false
    }
  },
  computed: {
    clipped () {
      if (this.clipList.Feature == null) {
        return false
      }
      for (const clip of this.clipList.Feature) {
        if (clip.Property.KeepInfo.TypeKey === this.tenpo.Feature[0].Gid) {
          return true
        }
      }
      return false
    }
  },
  mounted () {
    if (this.userInfo.loginStatus && cookie()['Y']) {
      this.getClipList()
    }
  },
  methods: {
    clickClipButton () {
      if (this.userInfo.loginStatus) {
        if (this.clipped) {
          // 登録になったら削除作業
          this.removeClip()
        } else {
          // 登録になってないんだったら登録作業
          this.addClip()
        }
      } else {
        this.redirectLoginPage()
      }
    },
    addClip () {
      if (this.isClicked) {
        return
      }

      this.isClicked = true

      const coordinates = this.tenpo.Feature[0].Geometry.Coordinates
      let lat = ''
      let lng = ''
      if (typeof coordinates !== 'undefined' && coordinates !== null) {
        lat = coordinates.split(',')[1]
        lng = coordinates.split(',')[0]
      }

      const url = this.namespace.API.addClip
      const params = {
        'gid': this.tenpo.Feature[0].Gid,
        'tenpoName': this.tenpo.Feature[0].Name,
        'uid': this.tenpo.Feature[0].Property.Uid,
        'lat': lat,
        'lng': lng
      }

      Ajax.get(url, params)
        .then(this.getClipList)
        .catch(this.redirectLoginPage)
    },
    removeClip () {
      if (this.isClicked) {
        return
      }

      this.isClicked = true

      const url = this.namespace.API.removeClip
      const params = {
        'gid': this.tenpo.Feature[0].Gid
      }

      Ajax.get(url, params)
        .then(this.getClipList)
        .catch(this.redirectLoginPage)
    },
    redirectLoginPage () {
      this.isClicked = false
      location.href = this.getLoginUrl()
    },
    getLoginUrl () {
      return this.namespace.Url.login + '?.src=loco&.done=' + encodeURIComponent(location.href)
    },
    getClipList () {
      this.isClicked = false
      this.bindRequest({
        name: 'clipList',
        url: this.namespace.API.clipList
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

  .clipButton {
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: center;
    &__link {
      position: relative;
      display: inline-block;
      padding: 10px 30px 10px 50px;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.16);
      font-size: 14px;
      font-weight: bold;
      border-radius: 8px;
      border-bottom: 4px solid #f08a55;
      background: #fd966a;
      &:before {
        position: absolute;
        content: "";
        top: -1px;
        left: 10px;
        width: 23px;
        height: 40px;
        background-image: url(https://s.yimg.jp/images/loco/sp/img/poi/sp_poi_v3_1.png); /*ロコから引用*/
        background-repeat: no-repeat;
        background-position: -95px -55px;
        background-size: 145px auto;
      }
    }
    &__link--clipped {
      &:before {
        background-position: -120px -55px;
      }
    }
  }
</style>
