<template>
<div class="counter">
  <!--
＊次はnn-nn件目 / 全nnnn件/リストの下部に表示 対象：/photo/・/bridal/
＊全nn件/リストの上部に表示 対象：/plan/・/course/
＊n～nn/nn件/リストの下部に表示 対象：/plan/・/review/ -->

  <div class="counter__container">
    <p class="counter__range--next nextRange" v-if="isCounterNextRange === true"><span class="nextRange__note">次は</span><em class="nextRange__number">{{this.displayNextRangeFrom()}}～{{this.displayNextRangeTo()}}</em><span class="nextRange__note">件目 / 全</span><em class="nextRange__number">{{page.dataCount}}</em>件</p>
    <p class="counter__range" v-if="isCounterRange === true">{{this.displayRangeFrom()}}-{{this.displayRangeTo()}}/{{page.dataCount}}件</p>
    <p class="counter__result" v-if="isCounterResult === true"><span class="counter__note">全</span><span class="counter__number">{{page.dataCount}}</span><span class="counter__note">件</span></p>
  </div>
</div>
</template>

<script>
  export default {
    props: {
      isCounterNextRange: { // 「次は11～20/30件」のようなレンジ表示をするならtrue
        type: Boolean,
        default: true
      },
      isCounterRange: { // 「1-10/12件」のようなレンジ表示をするならtrue
        type: Boolean,
        default: true
      },
      isCounterResult: { // 「全12件」のような総数のみを表示するならtrue
        type: Boolean,
        default: true
      },
      page: {},
      pagination: {},
      pageName: ''
    },
    methods: {
      /*
       * 表示件数のto値
       * @return number
       */
      displayRangeTo: function () {
        var rangeTo = Math.ceil((this.page.pageId + 1) * this.page.pageDisplaySize)
        if (rangeTo > this.page.dataCount) {
          rangeTo = this.page.dataCount
        }
        return rangeTo
      },
      /*
       * 表示件数のfrom値
       * @return number
       */
      displayRangeFrom: function () {
        if (this.page.pageId > 0) {
          return Math.ceil((this.page.pageId * this.page.pageDisplaySize) + 1)
        } else {
          return Math.ceil(this.page.pageId + 1)
        }
      },
      /*
       * 「次は」の表示件数のto値
       * @return number
       */
      displayNextRangeTo: function () {
        var rangeTo = Math.ceil((this.page.pageId + 2) * this.page.pageDisplaySize)
        if (rangeTo > this.page.dataCount) {
          rangeTo = this.page.dataCount
        }
        return rangeTo
      },
      /*
       * 「次は」の表示件数のfrom値
       * @return number
       */
      displayNextRangeFrom: function () {
        if (this.page.pageId > 0) {
          return Math.ceil(((this.page.pageId + 1) * this.page.pageDisplaySize) + 1)
        } else {
          return Math.ceil(this.page.pageDisplaySize + 1)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';
.counter {
  &__container{
    margin-bottom: 5px;
    padding: 0 10px;
    @include clearfix;
  }
  &__result {
    color: $textColorBlack;
  }
  &__number {
    font-weight: bold;
    font-size: 16px;
  }
  &__link {
    display: table;
    float: right;
    margin-right: 10px;
    font-size: 12px;
  }
  &__range {
    margin-bottom: 10px;
    text-align: center;
    &--next{
      margin-bottom: 20px;
      color: $textColorGray;
      font-size: 13px;
      text-align: center;
    }
  }
}
.nextRange {
  &__number {
    font-weight: bold;
  }
}
</style>
