<template>
  <div id="colist" v-if="isVisible" class="courseSummary tracked_mods">
    <div class="courseSummary__container">
      <h2 class="courseSummary__title">コース</h2>
      <ul class="courseSummary__list">
        <template v-for="(course, courseIndex) in this.courseList.entry.slice(0, 3)">
          <!-- yahooプラン : 通常プラン -->
          <li v-if="isYahooPlan(course.cassette) && (!isFilled(course.tokutenType) || course.tokutenType === 0)" class="courseSummary__item courseItem" :key="course.id">
            <div class="courseItem__inner">
              <div class="courseItem__image courseImage">
                <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="courseImage__link" :data-ylk="`slk:coimage;pos:${courseIndex}`">
                  <img :src="getResizeImage(course.image, courseImageSize)" :alt="isYSeatOnly(course.id) ? '【席のみ予約】お食事の内容は当日選ぶ' : course.name" class="courseImage__image" />
                </a>
              </div>
              <div class="courseItem__detail courseDetail">
                <div class="courseDetail__types">
                  <span v-if="Boolean(course.reservationType)" class="courseDetail__type">リクエスト予約</span>
                  <span v-else class="courseDetail__type">即予約</span>
                  <span v-if="isLabel(course.attributes, '飲み放題')" class="courseDetail__type">飲み放題</span>
                  <span v-if="isLabel(course.attributes, '食べ放題')" class="courseDetail__type">食べ放題</span>
                </div>
                <h3 class="courseDetail__title">
                  <a v-if="isYSeatOnly(course.id)" :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="courseDetail__link" :data-ylk="`slk:cotitle;pos:${courseIndex}`">【席のみ予約】お食事の内容は当日選ぶ</a>
                  <a v-else :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="courseDetail__link" :data-ylk="`slk:cotitle;pos:${courseIndex}`">{{course.name}}</a>
                </h3>
                <ul class="courseDetail__price coursePrice">
                  <li class="coursePrice__item">
                    <span class="coursePrice__note">料金</span>
                    <em v-if="isSeatOnlyFlag(course.id, course.tokutenType, course.price)" class="coursePrice__main--seat">席のみ予約</em>
                    <em v-else class="coursePrice__main">{{course.price | separatePrice}}円</em>
                  </li>
                  <li class="coursePrice__item--annotation">※消費税等は要確認</li>
                </ul>
                <dl v-if="getUseScene(course.attributes) !== ''" class="courseDetail__scene courseScene">
                  <dt class="courseScene__title">利用シーン</dt>
                  <dd class="courseScene__description">{{getUseScene(course.attributes)}}</dd>
                </dl>
              </div>
            </div>
            <div class="courseItem__reservation courseReservation">
              <img :src="getLogoImage(course.cassette)" width="auto" height="25" :alt="cassetteName[course.cassette]" class="courseReservation__image" />
              <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="courseReservation__button" :data-ylk="`slk:corvbtn;pos:${courseIndex}`">コース詳細・予約する</a>
            </div>
          </li>
          <!-- yahooプラン : 特典あり -->
          <li v-else-if="isYahooPlan(course.cassette) && course.tokutenType !== 0" class="courseSummary__item courseItem" :key="course.id">
            <div class="courseItem__inner">
              <div class="courseItem__image courseImage">
                <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="courseImage__link" :data-ylk="`slk:coimage;pos:${courseIndex}`">
                  <img :src="getResizeImage(course.image, courseImageSize)" :alt="isYSeatOnly(course.id) ? '【席のみ予約】お食事の内容は当日選ぶ' : course.name" class="courseImage__image" />
                </a>
              </div>
              <div class="courseItem__detail courseDetail">
                <div class="courseDetail__types">
                  <span v-if="Boolean(course.reservationType)" class="courseDetail__type">リクエスト予約</span>
                  <span v-else class="courseDetail__type">即予約</span>
                  <span v-if="isLabel(course.attributes, '飲み放題')" class="courseDetail__type">飲み放題</span>
                  <span v-if="isLabel(course.attributes, '食べ放題')" class="courseDetail__type">食べ放題</span>
                </div>
                <h3 class="courseDetail__title">
                  <a v-if="isYSeatOnly(course.id)" :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="courseDetail__link" :data-ylk="`slk:cotitle;pos:${courseIndex}`">【席のみ予約】お食事の内容は当日選ぶ</a>
                  <a v-else :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="courseDetail__link" :data-ylk="`slk:cotitle;pos:${courseIndex}`">{{course.name}}</a>
                </h3>
                <ul class="courseDetail__price coursePrice">
                  <li class="coursePrice__item">
                    <span class="coursePrice__note">一般料金</span>
                    <em v-if="course.premiumOnlyFlag" class="coursePrice__main--noPrice">ご利用いただけません</em>
                    <em v-else-if="isSeatOnlyFlag(course.id, course.tokutenType, course.price)" class="coursePrice__main--seat">席のみ予約</em>
                    <em v-else-if="isFilled(course.originalViewPrice)" class="coursePrice__main">{{course.originalViewPrice | separatePrice}}円</em>
                    <em v-else class="coursePrice__main">{{course.price | separatePrice}}円</em>
                  </li>
                  <li class="coursePrice__item--premium">
                    <span class="coursePrice__note--premium">プレミアム会員価格</span>
                    <em v-if="isSeatOnlyFlag(course.id, course.tokutenType, course.price)" class="coursePrice__main--seat">席のみ予約</em>
                    <em v-else class="coursePrice__main">{{course.price | separatePrice}}円</em>
                  </li>
                  <li v-if="getBenefitPhrase(course.hasTokuten, course.discountPercent) !== ''" class="coursePrice__item--offspecial courseOffspecial">
                    <span class="courseOffspecial__item">{{getBenefitPhrase(course.hasTokuten, course.discountPercent)}}</span>
                    </li>
                  <li v-if="isFilled(course.tokutenText) && course.tokutenText !== ''" class="coursePrice__item--special">特典：{{course.tokutenText}}</li>
                  <li class="coursePrice__item--annotation">※消費税等は要確認</li>
                </ul>
                <dl v-if="getUseScene(course.attributes) !== ''" class="courseDetail__scene courseScene">
                  <dt class="courseScene__title">利用シーン</dt>
                  <dd class="courseScene__description">{{getUseScene(course.attributes)}}</dd>
                </dl>
              </div>
            </div>
            <div class="courseItem__reservation courseReservation">
              <img :src="getLogoImage(course.cassette)" width="auto" height="25" :alt="cassetteName[course.cassette]" class="courseReservation__image" />
              <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="courseReservation__button" :data-ylk="`slk:corvbtn;pos:${courseIndex}`">コース詳細・予約する</a>
            </div>
          </li>
          <!-- yahoo以外 -->
          <li v-else class="courseSummary__item courseItem" :key="course.id">
            <div class="courseItem__inner">
              <div class="courseItem__image courseImage">
                <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="courseImage__link" target="_blank" rel="nofollow noopener" :data-ylk="`slk:coimage;pos:${courseIndex}`">
                  <img :src="getResizeImage(course.image, courseImageSize)" :alt="isYSeatOnly(course.id) ? '【席のみ予約】お食事の内容は当日選ぶ' : course.name" class="courseImage__image" />
                </a>
              </div>
              <div class="courseItem__detail courseDetail">
                <div class="courseDetail__types">
                  <span v-if="Boolean(course.reservationType)" class="courseDetail__type">リクエスト予約</span>
                  <span v-else class="courseDetail__type">即予約</span>
                  <span v-if="isLabel(course.attributes, '飲み放題')" class="courseDetail__type">飲み放題</span>
                  <span v-if="isLabel(course.attributes, '食べ放題')" class="courseDetail__type">食べ放題</span>
                </div>
                <h3 class="courseDetail__title">
                  <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="courseDetail__link" target="_blank" rel="nofollow noopener" :data-ylk="`slk:cotitle;pos:${courseIndex}`">{{course.name}}</a>
                </h3>
                <ul v-if="!isSeatOnlyFlag(course.id, 0, course.price)" class="courseDetail__price coursePrice">
                  <li class="coursePrice__item">
                    <span class="coursePrice__note">料金</span>
                    <em class="coursePrice__main">{{course.price | separatePrice}}円</em>
                  </li>
                  <li class="coursePrice__item--annotation">※消費税等は要確認</li>
                </ul>
                <dl v-if="getUseScene(course.attributes) !== ''" class="courseDetail__scene courseScene">
                  <dt class="courseScene__title">利用シーン</dt>
                  <dd class="courseScene__description">{{getUseScene(course.attributes)}}</dd>
                </dl>
              </div>
            </div>
            <div class="courseItem__reservation courseReservation">
              <img :src="getLogoImage(course.cassette)" width="auto" height="25" :alt="cassetteName[course.cassette]" class="courseReservation__image" />
              <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="courseReservation__button" target="_blank" rel="nofollow noopener" :data-ylk="`slk:corvbtn;pos:${courseIndex}`">コース詳細・予約する</a>
            </div>
          </li>
        </template>
      </ul>
    </div>
    <div class="courseSummary__link courseMoreLink">
      <a :href="courseListUrl" class="courseMoreLink__link" data-ylk="slk:more;pos:0">コースをもっと見る（{{courseList.totalResults}}件）</a>
    </div>
  </div>
</template>

<script>
import Base from '@lib/baseComponent'
import Url from '@lib/Url'

const cosNo = '10000078'
const seatOnlyPattern = new RegExp('^s[0-9]{9}01$')
const courseImageWidth = 160
const courseImageHeight = 160
const noImageSize = '200x200'
const cassetteName = {
  'ccbf79674338330c7ce5557ace5a18ec': 'Yahoo!ダイニング',
  '1852ed1e9b6d12c23cd34e79a4be4c71': '一休.comレストラン(株式会社一休)',
  'a6e27b84663abc4336dc275c6fb7f978': 'ぐるなび',
  '20c4cc8c6339cc78326d4d5f0395dcb0': 'オズモール（スターツ出版株式会社）',
  '3f48a559dbfef9bd7ba6b6ef784e23b8': 'オズモール（スターツ出版株式会社）',
  '6a3b6ed40d949a607ebbf0d058cdd838': 'ホットペッパーグルメ（株式会社リクルート）'
}
const trackingNo = 'yloc_plan'

export default {
  props: [
    'gid',
    'courseList',
    'cidList',
    'children'
  ],
  extends: Base,
  data () {
    return {
      cassetteImages: {},
      resizedImages: {},
      cassetteName
    }
  },
  mounted () {
    let images = []
    let courseImagesUrls = []
    for (const course of this.courseList.entry) {
      if (this.isFilled(course.image) && course.image !== '') {
        courseImagesUrls.push(course.image)
      }
    }
    if (courseImagesUrls.length > 0) {
      images.push({urls: courseImagesUrls, width: courseImageWidth, height: courseImageHeight})
      this.resizeImages(this.gid, images)
    }
  },
  computed: {
    isVisible () {
      return this.courseList.totalResults > 0 && this.isGourmet && !this.isWedding
    },
    courseListUrl () {
      return this.$root.addUrlParameters('/place/g-' + this.gid + '/course', ['sc_type'])
    },
    courseImageSize () {
      return String(courseImageWidth) + 'x' + String(courseImageHeight)
    },
    genrecd () {
      return Url.getParameters().genrecd
    },
    /**
     * GETパラメータのgenrecdがグルメであって式場ではないかどうかの確認(0414)
     * @returns {bool} 在庫の有無
     */
    isWedding: function () {
      if (this.isFilled(this.genrecd)) {
        return this.genrecd.startsWith('0414') && this.includeWedding
      }
      return false
    },
    /**
     * 情報提供元にwedding(zexy)があるかのチェック
     **/
    includeWedding: function () {
      return this.cidList.includes(this.namespace.cid.zexy)
    },
    /**
     * グルメ対象店舗かどうか
     * @returns {bool}
     */
    isGourmet: function () {
      return this.getChildCpDataList(this.namespace.cid.gourmetCidGroup).length > 0
    }
  },
  filters: {
    separatePrice (price) {
      return String(price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
    }
  },
  methods: {
    /**
     * 表示コースがヤフープランかどうかの確認を行う
     *
     * @param cassette コースの入稿元のID
     * @returns {boolean}
     */
    isYahooPlan (cassette) {
      return cassette === this.namespace.cid.yahoo
    },
    /**
     * 表示プランが席のみかどうかを判断する
     *
     * @param id 店舗ID
     * @param tokutenType
     * @param price
     * @returns {boolean}
     */
    isSeatOnlyFlag (id, tokutenType, price) {
      if (!this.isFilled(tokutenType)) {
        tokutenType = 0
      }
      return seatOnlyPattern.test(id) || tokutenType === 1 || price <= 0
    },
    /**
     * Y店舗に対して,席のみ判断を行う
     *
     * @param id コースID
     */
    isYSeatOnly (id) {
      return seatOnlyPattern.test(id)
    },
    /**
     * コース詳細ページへの遷移URLを取得する
     *
     * @param id コースID
     * @param cassette コースの入稿元のカセットID
     * @param urls レスポンスを参考にすること(項目Urls)：https://cptl.corp.yahoo.co.jp/pages/viewpage.action?pageId=1415175833
     * @returns {string}
     */
    getCourseDetailUrl (id, cassette, urls) {
      let courseUrl = ''
      if (cassette === this.namespace.cid.yahoo) {
        courseUrl = '/place/g-' + this.gid + '/course/P'
        if (!this.isYSeatOnly(id)) {
          courseUrl += String(id)
        }
        courseUrl = courseUrl + this.$root.addUrlParameters('/?sc_e=' + trackingNo, ['sc_type'])
      } else if (cassette === this.namespace.cid.ikyu) {
        courseUrl = urls.original + '&CosNo=' + cosNo
      } else {
        courseUrl = urls.original
      }
      return courseUrl
    },
    /**
     * 特典文言を作成する
     *
     * @param hasTokuten 特典の有無
     * @param discountPercent 割引率
     * @returns {string}
     */
    getBenefitPhrase (hasTokuten, discountPercent) {
      let phraseList = []
      if (this.isFilled(discountPercent) && discountPercent > 0) {
        phraseList.push(String(discountPercent) + '%OFF')
      }
      if (hasTokuten) {
        phraseList.push('特典あり')
      }
      return phraseList.join('+')
    },
    /**
     * 飲み放題・食べ放題ラベルの表示決め
     *
     * @param attributes コースの属性一覧
     * @param pattern '食べ放題' or '飲み放題'
     * @returns {boolean}
     */
    isLabel (attributes, pattern) {
      let isInclude = false
      if (this.isFilled(attributes)) {
        for (const attribute of attributes) {
          if (this.isPartialMatch(attribute.name, pattern)) {
            isInclude = true
            break
          }
        }
      }
      return isInclude
    },
    /**
     * コース属性から利用シーンの文言を生成する(飲み放題・食べ放題は除く)
     *
     * @param attributes コースの属性一覧
     * @returns {string}
     */
    getUseScene (attributes) {
      let useScene = []
      if (this.isFilled(attributes)) {
        for (const attribute of attributes) {
          if (!(this.isPartialMatch(attribute.name, '飲み放題')) && !(this.isPartialMatch(attribute.name, '食べ放題'))) {
            useScene.push(attribute.name)
          }
        }
      }
      return useScene.join(' ')
    },
    /**
     * 部分一致してるか判断する
     *
     * @param source 調べたい文字列
     * @param pattern 含まれているか確認したい文字列
     * @returns {boolean}
     */
    isPartialMatch (source, pattern) {
      return source.includes(pattern)
    },
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    },
    getResizeImage (url, size) {
      if (this.status['resizedImages'] === 'binded' && this.isFilled(this.resizedImages[url]) && this.isFilled(this.resizedImages[url][size])) {
        return this.resizedImages[url][size]
      }
      return this.namespace.noImage[noImageSize]
    },
    getLogoImage (cassette) {
      let logoImage = this.namespace.courseLogo[cassette]
      if (!this.isFilled(logoImage)) {
        logoImage = this.namespace.noImage[noImageSize]
      }
      return logoImage
    },
    /**
     * ChildのCPList取得
     * @returns {array} CPList
     */
    getChildCpDataList (cplist) {
      return this.children.filter((val) => cplist.includes(val.CassetteId) && this.canOnlineReserveChild(val))
    },
    /**
     * オンライン予約可能かどうか
     * @returns {boolean} 表示可否
     */
    canOnlineReserveChild (childTenpo) {
      return childTenpo.OnlineReserveFlag || childTenpo.OnlineReserveRequestFlag
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.courseSummary {
  &__container{
    @include boxShadow;
    margin-bottom: 10px;
    background-color: #fff;
  }
  &__title {
    @include placeTitle;
    margin-bottom: 0px;
  }
}
.courseItem {
  padding: 14px 10px;
  border-bottom: 1px solid #ddd;
  &:last-child {
    border-bottom: none;
  }
  &__inner {
    width: 100%;
    display: table;
  }
  &__link {
    color: $linkColor;
    text-decoration: none;
  }
}
.courseDetail {
  display: table-cell;
  vertical-align: top;
  &__type {
    margin: 0 8px 0 0;
    padding: 0 4px;
    border: 1px solid #6f5d49;
    border-radius: 12px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
    color: #6f5d49;
    display: inline-block;
    vertical-align: top;
  }
  &__title {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.6em;
  }
}
.courseImage {
  width: 23.5%;
  padding-right: 10px;
  display: table-cell;
  &__link {
    display: block;
    line-height: 0;
  }
  &__image {
    width: 100%;
    height: auto;
  }
}
.coursePrice {
  padding-top: 16px;
  text-align: right;
  position: relative;
 &__item {
    margin-bottom: 7px;
    font-size: 11px;
    font-weight: bold;
    color: $textColorBlack;
    &--premium {
      @extend .coursePrice__item;
      margin-bottom: 2px;
      padding-top: 7px;
      position: relative;
      &:before {
        content: "";
        width: 94%;
        height: 1px;
        position: absolute;
        top: 0;
        right: 0;
        border-top: 1px dotted #aaa;
      }
    }
   &--special {
     margin-bottom: 12px;
     font-size: 12px;
     color: $priceColor;
   }
   &--annotation {
     color: $textColorGray;
     font-size: 10px;
     position: absolute;
     top: 0;
     right: 0;
   }
  }
  &__note {
    &--premium {
      position: relative;
      &:before {
        position: absolute;
        top: 1px;
        left: -16px;
        @include svgIcon(13.5, 12, "https://s.yimg.jp/images/loco/front/images/common/icons/premium.svgz");
      }
    }
  }
  &__main {
    margin-left: 9px;
    font-size: 20px;
    color: $priceColor;
    &--noPrice {
      @extend .coursePrice__main;
      font-size: 14px;
      font-weight: normal;
    }
    &--seat {
      @extend .coursePrice__main;
      font-size: 16px;
    }
  }
}
.courseOffspecial {
  margin-bottom: 7px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  &__item {
    padding: 2px 4px;
    background-color: $priceColor;
    display: inline-block;
  }
}
.courseReservation {
  text-align: right;
  vertical-align: middle;
  &__image {
    margin-right: 10px;
    vertical-align: middle;
  }
  &__button {
    width: 160px;
    height: 40px;
    font-size: 14px;
    @include button-main;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
  }
}
.courseScene {
  margin-bottom: 15px;
  color: $textColorBlack;
  font-size: 10px;
  outline: 1px solid #f0f0e1;
  outline-offset: 0px;
  &__title {
    padding: 3px 8px;
    display: table-cell;
    background-color: #f0f0e1;
    vertical-align: middle;
    box-sizing: border-box;
    white-space: nowrap;
  }
  &__description {
    width: 100%;
    padding: 3px 8px;
    display: table-cell;
    vertical-align: top;
  }
}
.courseMoreLink {
  margin-bottom: 20px;
  text-align: center;
  &__link {
    font-weight: bold;
    line-height: 30px;
    position: relative;
    display: inline-block;
    height: 30px;
    padding: 0 28px 0 10px;
    color: #52bfeb;
    border: 1px solid #52bfeb;
    border-radius: 5px;
    background: #fff;
    &::after {
      position: absolute;
      top: 50%;
      display: block;
      width: 8px;
      height: 8px;
      margin-top: -7px;
      content: '';
      border-top: 2px solid #52bfeb;
      border-right: 2px solid #52bfeb;
      right: 10px;
      margin-top: -5px;
      transform: rotate(45deg);
    }
  }
}
</style>
