<template>
  <div id="info" class="cpList tracked_mods" v-if="cpList.length > 0">
    <h2 class="cpList__title">情報提供元</h2>
    <ul class="cpListTag">
      <li class="cpListTag__item" v-for="cp in this.cpList" :key="cp">
        <a class="cpListTag__link" :href="getLink(cp)" target="_blank" rel="nofollow noopener">{{cp.CassetteHeader}}</a>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    props: ['tenpo'],
    data () {
      return {
        cpList: []
      }
    },
    mounted () {
      const cpList = this.tenpo.Feature[0].Children
      if (typeof cpList === 'undefined' || cpList.length === 0) {
        return
      }

      for (const cp of cpList) {
        if (cp.CassetteHeader !== '' && cp.CassetteHeader !== null &&
          !this.cpList.some((l) => l.CassetteId === cp.CassetteId)) {
          this.cpList.push(cp)
        }
      }
      this.filterCpList()
    },
    methods: {
      getLink (cp) {
        const smartUrl = cp.SmartPhoneUrl1
        if (typeof smartUrl === 'undefined' || smartUrl === null) {
          return cp.PcUrl1
        }
        return smartUrl
      },
      isExistImage (cp) {
        return !(typeof cp.CassetteOwnerLogoImage === 'undefined' || cp.CassetteOwnerLogoImage === null || cp.CassetteOwnerLogoImage === '')
      },
      filterCpList () {
        if (this.$root.isHiddenScType('info')) {
          // 非表示要素の場合は、cpListをYダイニングのみにする
          this.cpList = this.cpList.filter((cp) => cp.CassetteId === this.$root.namespace.cid.yahoo)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

  .cpList {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    &__title {
      @include placeTitle;
    }
  }
  .cpListTag {
    margin-bottom: 10px;
    padding: 0 12px;
    &__item {
      display: inline-block;
      margin: 0 5px 5px 0;
      padding: 0;
    }
    &__link {
      display: block;
      padding: 2px 8px;
      border-radius: 3px;
      -webkit-tap-highlight-color: rgba(102,204,255,.5);
      tap-highlight-color: rgba(102,204,255,.5);
      font-size: 12px;
      vertical-align: middle;
      background: #eee;
    }
  }
</style>
