<template>
  <div id="flyer" v-if="flyersDefault.length !== 0" class="flyer tracked_mods">
    <h2 class="flyer__title">{{ flyerTitle }}</h2>

    <ul class="flyer__list flyerList">
      <li v-for="flyer in flyersDefault" class="flyerList__item" :key="flyer">
        <a :href="flyer.chirashiThumbImageSmartPhoneUrl" class="flyerList__link" target="_blank" rel="nofollow noopener" data-ylk="slk:infodtl">
          <div class="flyerList__image flyerImage">
            <img :src="getResizeImages(flyer.chirashiThumbImage)" alt="" class="flyerImage__image" />
          </div>
          <div class="flyerList__text flyerText">
            <p class="flyerText__title">{{ flyer.chirashiThumbImageTitle }}</p>
          </div>
        </a>
      </li>
    </ul>

    <div v-if="flyersMore.length !== 0">
      <!--＊＊＊ここから折りたたみ＊＊＊-->
      <input id="open" class="flyer__open" type="checkbox">
      <ul class="flyer__list--open flyerList">
        <li v-for="flyer in flyersMore" class="flyerList__item" v-if="more" :key="flyer">
          <a :href="flyer.chirashiThumbImageSmartPhoneUrl" class="flyerList__link" target="_blank" rel="nofollow noopener" data-ylk="slk:infodtl">
            <div class="flyerList__image flyerImage">
              <img :src="getResizeImages(flyer.chirashiThumbImage)" alt="" class="flyerImage__image" />
            </div>
            <div class="flyerList__text flyerText">
              <p class="flyerText__title">{{ flyer.chirashiThumbImageTitle }}</p>
            </div>
          </a>
        </li>
      </ul>

      <p class="flyer__attention">※チラシの画像とリンクは外部サイトへ移動します。</p>

      <div class="flyer__more">
        <label class="flyer__button" v-on:click="more = !more" v-bind:class="[more ? 'flyer__button--close' : 'flyer__button']" for="open">{{more ? '閉じる' : 'もっと見る'}}</label>
      </div>
      <!--＊＊＊_end ここまで折りたたみ＊＊＊-->
    </div>

  </div>
</template>

<script>
  import moment from '@lib/moment-ja'
  import Base from '@lib/baseComponent'

  const defaultFlyerCount = 3
  const imageSize = 120
  const imagePriority = 'l'
  export default {
    extends: Base,
    data () {
      return {
        more: false,
        flyersDefault: [],
        flyersMore: [],
        resizedImages: {}
      }
    },
    computed: {
      flyerTitle: function () {
        return this.tenpo.Feature[0].Name + 'のチラシ'
      }
    },
    props: {
      tenpo: Object // tenpo
    },
    mounted () {
      const lsbeDetail = this.tenpo.Feature[0].Property.Detail
      const now = moment()

      let chirashiCount = 0
      if (typeof lsbeDetail.ChirashiThumbImageCount !== 'undefined') {
        chirashiCount = lsbeDetail.ChirashiThumbImageCount
      }

      let urls = []
      for (let i = 1; i <= chirashiCount; i++) {
        // 表示判定
        // 画像のないチラシは表示しない
        if (!lsbeDetail['ChirashiThumbImage' + i]) {
          continue
        }

        // 掲載期間外のチラシは表示しない
        if (!lsbeDetail['ChirashiPublishStartDay' + i] || !lsbeDetail['ChirashiPublishEndDay' + i] ||
          now.isBefore(lsbeDetail['ChirashiPublishStartDay' + i], 'day') || now.isAfter(lsbeDetail['ChirashiPublishEndDay' + i], 'day')) {
          continue
        }

        urls.push(lsbeDetail['ChirashiThumbImage' + i])
        const obj = {
          chirashiPublishStartDay: lsbeDetail['ChirashiPublishStartDay' + i],
          chirashiPublishEndDay: lsbeDetail['ChirashiPublishEndDay' + i],
          chirashiThumbImage: lsbeDetail['ChirashiThumbImage' + i],
          chirashiThumbImageSmartPhoneUrl: lsbeDetail['ChirashiThumbImageSmartPhoneUrl' + i],
          chirashiThumbImageTitle: lsbeDetail['ChirashiThumbImageTitle' + i]
        }

        if (this.flyersDefault.length < defaultFlyerCount) {
          // デフォルト表示用
          this.flyersDefault.push(obj)
        } else {
          // もっと見る表示用
          this.flyersMore.push(obj)
        }
      }
      if (this.flyersDefault) {
        this.resizeImages(this.tenpo.Feature[0].Gid, [{urls: urls, width: imageSize, height: imageSize, priority: imagePriority}])
      }
    },
    methods: {
      getResizeImages (imageUrl) {
        return (this.status['resizedImages'] === 'binded') ? this.resizedImages[imageUrl][imageSize + 'x' + imageSize] : ''
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.flyer {
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: #fff;

  &__title{
    @include placeTitle;
    margin-bottom: 0;
  }

  &__list{

    &--open{
      height: 0px;
      overflow: hidden;

    }

  }

  &__open{
    display: none;
  }

  .flyer__list--open{
    height: auto;
  }

  &__attention{
    margin: 0 10px 10px;
    color: $textColorBlack;
    font-size: 11px;
  }

  &__more{
    text-align: center;
  }

  &__button{
    display: inline-block;
    position: relative;
    margin: 0px auto;
    padding: 7px 60px 7px 80px;
    border: 1px solid #52bfeb;
    color: #52bfeb;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transition: all .2s;
    &:before {
      @include RiffIcon("\E606", 18, #52bfeb);
      top:5px;
      left: 58px;
      font-weight: bold;
    }
    &--close {
      @extend .flyer__button;
      padding: 7px 75px 7px 93px;
      &:before {
        @include RiffIcon("\E607", 18, #52bfeb);
        top:4px;
        left: 70px;
        font-weight: bold;
      }
    }
  }

}

.flyerList{

  &:last-of-type{
    margin-bottom: 18px;
  }

  &__item{
    display: table;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
  }

  &__link{
    display: block;
    overflow: hidden;
    padding: 10px;
  }

  &__image{
    display: table-cell;
    width: 120px;
    padding-right: 5px;
    vertical-align: top;
    text-align: center;
  }

  &__text{
    display: table-cell;
    vertical-align: top;
  }

}

.flyerImage{

  &__image{
    max-width: 120px;
    max-height: 120px;
    vertical-align: bottom;
  }

}

.flyerText{

  &__title{
    font-size: 14px;
    font-weight: bold;
  }

  &__note{
    color: $textColorBlack;
    font-size: 11px;
  }

}

</style>
