<template>
<nav id="botmmenu" class="footNavigation tracked_mods">
  <!-- クローズしているページは非表示・カレントページの場合は件数のみ非表示 -->
  <ul class="footNavigation__body">
    <li class="footNavigation__list">
      <div v-if="page === 'tenpo'" class="footNavigation__link--disable">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavinfo.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title--current">概要</p>
      </div>
      <a v-else :href="$root.addUrlParameters(baseUrl, ['sc_type'])" class="footNavigation__link" data-ylk="slk:place">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavinfo.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title">概要</p>
      </a>
    </li>
    <li class="footNavigation__list">
      <div v-if="page === 'photo'" class="footNavigation__link--disable">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavPhoto.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title--current">写真</p>
      </div>
      <a v-else :href="$root.addUrlParameters(baseUrl + 'photo/', ['sc_type'])" class="footNavigation__link" data-ylk="slk:picture">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavPhoto.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title">写真（{{ photoCount }}）</p>
      </a>
    </li>
    <li class="footNavigation__list">
      <div v-if="menuProperty.type === 'current'" class="footNavigation__link--disable">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavMenu.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title--current">{{ menuProperty.word }}</p>
      </div>
      <a v-else-if="menuProperty.type === 'enable'" :href="$root.addUrlParameters(baseUrl + menuProperty.path + '/', ['sc_type'])" class="footNavigation__link" :data-ylk="`slk:${priorNavi}`">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavMenu.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title">{{ menuProperty.word }}</p>
      </a>
    </li>
    <li class="footNavigation__list">
      <div v-if="page === 'review'" class="footNavigation__link--disable">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavReview.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title--current">口コミ</p>
      </div>
      <a v-else-if="status.commentApiResult === 'binded'" :href="$root.addUrlParameters(baseUrl + 'review/', ['sc_type'])" class="footNavigation__link" data-ylk="slk:rvw">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavReview.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title">口コミ（{{ reviewCount }}）</p>
      </a>
    </li>
    <li class="footNavigation__list" v-if="couponProperty !== 'disable'">
      <div v-if="couponProperty === 'current'" :href="$root.addUrlParameters(baseUrl + 'coupon/', ['sc_type'])" class="footNavigation__link--disable">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavCoupon.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title--current">クーポン</p>
      </div>
      <a v-else-if="couponProperty === 'enable'" :href="$root.addUrlParameters(baseUrl + 'coupon/', ['sc_type'])" class="footNavigation__link" data-ylk="slk:coupon">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavCoupon.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title">クーポン（{{ couponCount }}）</p>
      </a>
    </li>
    <li class="footNavigation__list">
      <div v-if="page === 'map'" class="footNavigation__link--disable">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavMap.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title--current">地図</p>
      </div>
      <a v-else :href="approach" class="footNavigation__link" target="_blank" rel="nofollow noopener" data-ylk="slk:map">
        <span class="footNavigation__icon"><img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavMap.svgz" alt="" width="30" height="30" class="footNavigation__image" /></span><p class="footNavigation__title">地図</p>
      </a>
    </li>
  </ul>
</nav>
</template>

<script>
import moment from 'moment'
import base from '@lib/baseComponent'
import Url from '@lib/Url'

const weddingMaxIndex = 60 // 式場のフィールドの最大インデックス

export default {
  extends: base,
  props: [
    // LSBEのレスポンス
    'tenpo',
    /**
     * index.htmlを置いているディレクトリ名（ただし、店舗詳細は'tenpo'）
     * e.g.) 'photo'
     * e.g.) 'marriage'
     * e.g.) 'tenpo'
     */
    'page',
    // lifetoolAPIのレスポンス
    'courseList'
  ],
  data () {
    return {
      photoApiResult: {},
      commentApiResult: {},
      photoCount: 0
    }
  },
  mounted () {
    // 写真の件数取得
    if (this.page !== 'photo') {
      this.reqeustPhotoApi(1)
    }

    // 口コミの件数取得
    if (this.page !== 'review') {
      this.bindRequest({
        name: 'commentApiResult',
        url: this.namespace.API.kuchikomi,
        params: {
          gid: this.tenpo.Feature[0].Gid
        }
      })
    }
  },
  computed: {
    baseUrl () {
      return '/place/g-' + this.tenpo.Feature[0].Gid + '/'
    },
    /**
     * クーポン活性判断
     * current: クーポンページにいる
     * enable: クリックできる
     * disable: クリックできない
     */
    couponProperty () {
      const coupons = this.tenpo.Feature[0].Property.Coupon || []
      if (this.page === 'coupon') {
        return 'current'
      } else if (coupons.some(this.isValidCoupon)) {
        return 'enable'
      }
      return 'disable'
    },

    genrecd () {
      return Url.getParameters().genrecd
    },

    /**
     * メニューナビゲーションとして優先するパターン
     * メニュー: 'menu'
     * サービス、他: 'service'
     * プラン: 'plan'
     * 該当なし: null
     * @returns {?string} ジャンル
     */
    priorNavi () {
      // パラメータ指定がある場合
      if (this.genrecd != null) {
        if (this.genrecd.startsWith('01') && this.isGourmet) return 'menu'
        if (this.genrecd.startsWith('0414') && this.isZexy) return 'service'
      }

      // パラメータ指定がない場合
      if (this.isGourmet) return 'menu'
      if (this.isAsoview) return 'plan'
      if (this.isZexy) return 'service'

      return null
    },

    /**
     * グルメ情報がある
     * 最優先で表示するフラグではないので注意
     * @returns {boolean}
     * @see priorNavi
     */
    isGourmet () {
      return this.hasMenu || this.hasCourse
    },

    /**
     * アクティビティプランがある
     * 最優先で表示するフラグではないので注意
     * @returns {boolean}
     * @see priorNavi
     */
    isAsoview () {
      const cids = this.tenpo.Feature[0].Children.map(child => child.CassetteId)
      const detail = this.tenpo.Feature[0].Property.Detail
      return cids.includes(this.namespace.cid.asoview) && detail.Item != null && detail.Item.length > 0
    },

    /**
     * 式場情報がある
     * 最優先で表示するフラグではないので注意
     * @returns {boolean}
     * @see priorNavi
     */
    isZexy () {
      const cids = this.tenpo.Feature[0].Children.map(child => child.CassetteId)
      return cids.includes(this.namespace.cid.zexy) && this.hasAnyWeddingLikeProperty
    },
    // コースがある
    hasCourse () {
      return this.courseList.totalResults > 0
    },
    // 料理メニューがある
    hasMenu () {
      const detail = this.tenpo.Feature[0].Property.Detail
      return detail.RecommendItemId != null || detail.TopRankItemId1 != null
    },
    // 式場情報がある
    hasMarriageProperty () {
      const detail = this.tenpo.Feature[0].Property.Detail
      const marriageProperties = [
        'WeddingPartyFoodCharge1',
        'WeddingAfterParty1',
        'WeddingUsePossibleTime',
        'WeddingChargeDesk1',
        'WededingCeremonialStyle1',
        'WededingCeremonialCapacity',
        'WeddingFacilitiesComment',
        'WeddingAccommodation',
        'WeddingPickUp',
        'WeddingPayment',
        'WeddingComment1',
        'WeddingBusinessHour',
        'WeddingReferenceComment',
        'WeddingReservation',
        'WeddingParking'
      ]
      return marriageProperties.some(key => detail[key] != null)
    },
    // 挙式プランに関する情報がある
    hasWeddingProperty () {
      const indices = [...Array(weddingMaxIndex).keys()].map(i => i + 1)
      const fields = ['WeddingPlanName', 'WeddingPlanUrl']
      const detail = this.tenpo.Feature[0].Property.Detail
      const hasEveryField = index => fields.every(field => detail[`${field}${index}`] != null) // fields全てについてそのindexの値がある
      return indices.some(hasEveryField)
    },
    // ブライダルフェアに関する情報がある
    hasBridalProperty () {
      const indices = [...Array(weddingMaxIndex).keys()].map(i => i + 1)
      const fields = ['WeddingFairName', 'WeddingFairDetailUrl', 'WeddingFairReservationSmartphoneUrl']
      const detail = this.tenpo.Feature[0].Property.Detail
      const hasEveryField = index => fields.every(field => detail[`${field}${index}`] != null) // fields全てについてそのindexの値がある
      return indices.some(hasEveryField)
    },
    // 式場情報、挙式プラン、ブライダルフェアのいずれかがある
    hasAnyWeddingLikeProperty () {
      return this.hasMarriageProperty ||
        this.hasWeddingProperty ||
        this.hasBridalProperty
    },

    /**
     * メニュー表示活性判断
     * @return {Object} 形式は次の通り
     * {
     *   type: String // タブの活性（下記参照）
     *   word: String // タブにつく文言 e.g.) 'サービス、他'
     *   path: String? // 遷移先 現在ページの場合や非活性の場合未定義 e.g.) 'menu', 'plan', undefined, etc...
     * }
     * typeの種類
     * enable: クリックできる
     * disable: クリックできない
     * current: メニュー系統ページにいる
     */
    menuProperty () {
      // ---- current系 ----
      if (['menu', 'course'].includes(this.page)) {
        return {type: 'current', word: 'メニュー'}
      } else if (['plan'].includes(this.page)) {
        return {type: 'current', word: 'プラン'}
      } else if (['bridal', 'marriage', 'wedding'].includes(this.page)) {
        return {type: 'current', word: 'サービス、他'}
      }

      // ---- enable系 ----
      if (this.priorNavi === 'menu') {
        // enable - gourmet
        return {type: 'enable', word: 'メニュー', path: this.hasCourse ? 'course' : 'menu'}
      } else if (this.priorNavi === 'plan') {
        // enable - asoview
        return {type: 'enable', word: 'プラン', path: 'plan'}
      } else if (this.priorNavi === 'service') {
        // enable - zexy
        const type = 'enable'
        const word = 'サービス、他'
        const path =
          this.hasMarriageProperty ? 'marriage'
            : this.hasWeddingProperty ? 'wedding'
              : 'bridal'
        return {type, word, path}
      }

      // disable
      return {type: 'disable', word: 'メニュー'}
    },
    // 店舗の緯度（String）
    latitude () {
      return this.coordinate[1]
    },
    // 店舗の経度（String）
    longitude () {
      return this.coordinate[0]
    },
    // 店舗の緯度と経度
    coordinate () {
      const lonlat = this.tenpo.Feature[0].Geometry.Coordinates
      return lonlat != null ? lonlat.split(',') : [null, null]
    },
    approach () {
      const map = `https://loco.yahoo.co.jp/place/g-${this.tenpo.Feature[0].Gid}/map`
      const params = {
        hlat: this.latitude,
        hlon: this.longitude,
        uid: this.tenpo.Feature[0].Property.Uid,
        mode: 'map',
        layer: 'none',
        z: 18,
        client: 'loco.yahoo.co.jp',
        fr: 'poi_tab'
      }
      const getParameters = Object.keys(params)
        .map(key => `${key}=${params[key]}`)
        .join('&')
      const src = encodeURIComponent(this.$root.addUrlParameters(`${map}?${getParameters}`, ['sc_type']))
      return `https://approach.yahoo.co.jp/r/HiQSGM?src=${src}`
    },
    couponCount () {
      let count = 0
      for (const coupon of this.tenpo.Feature[0].Property.Coupon) {
        if (this.isValidCoupon(coupon)) {
          count++
        }
      }
      return count
    },
    reviewCount () {
      return this.commentApiResult.ResultInfo.Total
    }
  },
  methods: {
    /**
     * 写真のAPIが100件までしか取得できない かつ 総数がわからないので再帰的に取得
     */
    reqeustPhotoApi (startNum) {
      this.bindRequest({
        name: 'photoApiResult',
        url: this.namespace.API.imageSearch,
        params: {
          gid: this.tenpo.Feature[0].Gid,
          results: 100,
          start: startNum
        },
        dataType: 'json'
      }).then(result => {
        this.photoCount += result.Feature.length
        if (startNum <= 300 && result.Feature.length >= 100) {
          startNum += 100
          this.reqeustPhotoApi(startNum)
        }
      })
    },
    isValidCoupon (coupon) {
      if (coupon.DisplayFlag === false) {
        return false
      }
      if (coupon.EndDay === undefined || coupon.EndDay === null) {
        return true
      }
      const endDay = moment(coupon.EndDay, 'YYYY/MM/DD')
      if (!endDay.isValid()) {
        return true
      }
      return moment() <= endDay.endOf('day')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.footNavigation{
  margin-bottom: 20px;
  border-top: 4px solid #ff965f;

  &__link{
    position: relative;
    display: block;
    &:after{
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      content: '';
      transform: rotate(45deg);
      border-top: 2px solid #777;
      border-right: 2px solid #777;
    }
    &--disable {
      @extend .footNavigation__link;
      &:after {
        display: none;
      }
    }
  }
  &__list{
    &:last-child{
      border-bottom: 3px solid #e1e4e4;
    }
  }
  &__title{
    padding: 10px 25px 10px 48px;
    border-bottom: 1px solid #e1e4e4;
    color: #463f33;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    background: #f8f9fa;
    &--current{
      @extend .footNavigation__title;
      color: #ff965f;
    }
  }
  &__icon{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 10px;
  }
}
</style>
