<template>
  <div id="newinfo" v-if="isVisible(latestInformationResults)" class="information tracked_mods">
    <h2 class="information__title">最新情報</h2>
    <ul class="information__list">
      <li class="information__item" v-for="(item, index) in latestInformationResults" v-if="index < 3" :key="item">
        <a :href="getItemUrl(item.Gid, item.ItemId)" class="information__link" data-ylk="slk:infodtl">
          <div class="information__image informationImage">
            <img :src="getImageUrl(item.ImageList.Image[0], imageSize)" alt="" class="informationImage__image" />
          </div>
          <div class="information__detail informationDetail">
            <p class="informationDetail__note">{{ item.Title }}</p>
            <p class="informationDetail__name">{{ item.ShopName }}</p>
            <p v-if="isFilled(item.Price) && item.Price !== ''" class="informationDetail__price">
              <span class="informationDetail__price--number">{{ item.Price | getPrice(1) }}</span>
              <span class="informationDetail__price--unit">{{ item.Price | getPrice(2) }}</span>
            </p>
          </div>
        </a>
      </li>
    </ul>
    <div class="information__more informationMoreLink"><a :href="informationUrl" class="informationMoreLink__link" data-ylk="slk:more;pos:0">最新情報をもっと見る</a></div>
  </div>
</template>

<script>
import Base from '@lib/baseComponent'

const imageWidth = 150
const imageHeight = 93
const noImageSize = '200x200'

export default {
  props: [
    'gid',
    'cidList'
  ],
  extends: Base,
  data () {
    return {
      latestInformation: {},
      resizedImages: {}
    }
  },
  computed: {
    // 「最新情報をもっと見る」のリンク生成
    informationUrl () {
      return 'https://loco.yahoo.co.jp/place/g-' + this.gid + '/information/'
    },
    latestInformationResults () {
      if (this.status['latestInformation'] === 'binded') { return this.latestInformation.ResultSet.Result }
      return []
    },
    imageSize () {
      return String(imageWidth) + 'x' + String(imageHeight)
    }
  },
  mounted () {
    // ipocaAPIから最新情報を取得
    if (this.isFilled(this.namespace.API.latestInformation) && this.isFilled(this.gid)) {
      this.bindRequest({
        name: 'latestInformation',
        url: this.namespace.API.latestInformation,
        params: {
          gid: this.gid
        }
      }).then((response) => {
        let images = []
        for (const [index, item] of response.ResultSet.Result.entries()) {
          if (this.isFilled(item.ImageList.Image[0])) {
            images.push(item.ImageList.Image[0])
          }
          if (index === 3) {
            break
          }
        }
        this.resizeImages(this.gid, [{urls: images, width: imageWidth, height: imageHeight}])
      })
    }
  },
  methods: {
    // カードクリック時のリンクを生成するメソッド
    getItemUrl (gid, itemId) {
      return 'https://loco.yahoo.co.jp/place/g-' + gid + '/information/' + itemId + '/'
    },
    getImageUrl (url, size) {
      if (this.status['resizedImages'] === 'binded' && typeof this.resizedImages[url] !== 'undefined' && typeof this.resizedImages[url][size] !== 'undefined') {
        return this.resizedImages[url][size]
      }
      return this.namespace.noImage[noImageSize]
    },
    isVisible (results) {
      return (this.cidList.includes(this.namespace.cid.ipoca) || this.cidList.includes(this.namespace.cid.tokubai)) &&
        results.length > 0
    },
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    }
  },
  filters: {
    getPrice (price, index) {
      return price.match(/^([0-9,]+)(.*)$/)[index]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.information{
  margin-bottom: 30px;
  background: #fff;

  &__title{
    @include placeTitle;
  }

  &__list{
    margin-bottom: 20px;
  }

  &__item{
    display: table;
    width: 100%;
    border-bottom: 1px solid #D0D0D0;
  }

  &__link{
    display: block;
    overflow: hidden;
    padding: 10px;
  }
}
.informationImage{
    display: table-cell;
    width: 23.5%;
    float: left;
    margin-right: 5px;
  &__image{
    width: 100%;
  }
}
.informationDetail{
  display: table-cell;
  &__note{
    color: $textColorBlack;
    font-size: 14px;
    font-weight: bold;
  }

  &__name{
    color: #898989;
    font-size: 11px;
  }

  &__price{
    color: #EF6074;
    font-weight: bold;
    &--number{
      font-size: 20px;
    }
    &--unit{
      font-size: 12px;
    }
  }
}

.informationMoreLink{
  text-align: center;
  &__link{
    @include button-normal;
    display: inline-block;
    position: relative;
    margin: 0px auto 20px;
    padding: 7px 28px 7px 10px;
    color: #52bfeb;
    background: #fff;
    border: 1px solid #52bfeb;
    box-shadow: none;
    &:after{
      @include RiffIcon("\E60C", 19, #52bfeb);
      top:3px;
      right: 5px;
      font-weight: bold;
    }
  }
}

</style>
