<template>
  <div class="introduction" v-if="isExist">
    <div class="introduction__container">
      <h2 class="introduction__title">店舗紹介</h2>
      <!-- ヤフー限定タイトルと説明と画像 -->
      <template v-for="prInfo in this.prList">
        <div class="introduction__content" :key="prInfo">
          <p class="introduction__copy" v-if="prInfo.title">
            <template v-for="(text, index) in splitTextByBR(prInfo.title)">
              <br v-if="index != 0" :key="text" />{{ text }}
            </template>
          </p>
          <div class="introduction__images" v-if="prInfo.images.length > 0">
            <!--TODO:空のaタグ POTARA-2551-->
            <template v-for="image in prInfo.images">
              <img :src="getResizedImage(image)" class="introduction__image" :key="image" />
            </template>
          </div>
          <p class="introduction__description" v-if="prInfo.desc">
            <template v-for="(text, index) in splitTextByBR(prInfo.desc)">
              <br v-if="index != 0" :key="text" />{{ text }}
            </template>
          </p>
        </div>
      </template>
      <!-- /ヤフー限定タイトルと説明と画像 -->
    </div>
  </div>
</template>

<script>
  import base from '@lib/baseComponent'

  const imageSizeWidth = '300'
  const imageSizeHeight = '300'
  const yahooPRLimit = 3

  export default {
    props: ['tenpo'],
    extends: base,
    data () {
      return {
        prList: []
      }
    },
    mounted () {
      if (this.g(this.tenpo, 'Feature[0].Property.Detail')) {
        // ヤフーデータ
        const yahooDesc = this.getYahooDesc()
        if (yahooDesc) {
          this.prList.push(yahooDesc)
        }
        const yahooPR = this.getYahooPR()
        if (yahooPR) {
          this.prList = this.prList.concat(yahooPR)
        }
      }

      if (this.prList.length === 0) {
        // CPデータ (ヤフーの情報がない場合のみ表示)
        const cpPR = this.getCpPR()
        if (cpPR) {
          this.prList.push(cpPR)
        }
      }

      // 画像変換
      const gid = this.tenpo.Feature[0].Gid
      let urls = []
      this.prList.map((pr) => {
        urls = urls.concat(pr.images)
      })
      const queries = [{urls: urls, width: imageSizeWidth, height: imageSizeHeight}]
      this.resizeImages(gid, queries)
    },
    computed: {
      isExist () {
        return this.prList.length > 0
      }
    },
    methods: {
      /**
       * yahoo の店舗紹介文(写真なし)
       * @return {*|{title, desc, images}}
       */
      getYahooDesc () {
        const title = this.g(this.tenpo, 'Feature[0].Property.Detail.CatchCopy')
        const desc = this.g(this.tenpo, 'Feature[0].Property.Detail.Description')
        const images = []
        return this.buildPR(title, desc, images)
      },
      /**
       * yahoo のPR情報
       * @return {Array}
       */
      getYahooPR () {
        let yahooPRList = []
        for (let i = 1; i <= yahooPRLimit; i++) {
          const title = this.g(this.tenpo, `Feature[0].Property.Detail.PRTitle${i}`)
          const desc = this.g(this.tenpo, `Feature[0].Property.Detail.PRDescription${i}`)
          const image = this.g(this.tenpo, `Feature[0].Property.Detail.PRImageUrl${i}`)
          const yahooPR = this.buildPR(title, desc, [image])
          if (yahooPR) {
            yahooPRList.push(yahooPR)
          }
        }
        return yahooPRList
      },
      /**
       * CP の PR 情報
       * @return {*|{title, desc, images}}
       */
      getCpPR () {
        const title = this.tenpo.Feature[0].Property.CatchCopy
        const desc = this.tenpo.Feature[0].Description
        if (!title && !desc) {
          // Image1, Image2 は通常の画像として出しているので、単体では表示しない
          return null
        }

        // Image1とImage2を取得
        let images = []
        for (let i = 1; i <= 2; i++) {
          const value = this.g(this.tenpo, `Feature[0].Property.Detail.Image${i}`)
          if (value) {
            images.push(value)
          }
        }
        return this.buildPR(title, desc, images)
      },
      /**
       * PR情報構築
       * データが何もない場合はnull
       * @param title
       * @param desc
       * @param images
       * @return {*}
       */
      buildPR (title, desc, images) {
        if (title || desc || images[0]) {
          return {
            title: title,
            desc: desc,
            images: images
          }
        }
        return null
      },
      /**
       * BRタグが含まれる文字列を配列に変更する
       * @param originalText
       * @return {Array}
       */
      splitTextByBR: function (originalText) {
        if (typeof originalText === 'undefined' || originalText === null) return []
        return originalText.split(/<BR>|<br>|<BR\/>|<br\/>|<BR \/>|<br \/>/)
      },
      getResizedImage (originImage) {
        if (this.status['resizedImages'] === 'binded') {
          return this.resizedImages[originImage][imageSizeWidth + 'x' + imageSizeHeight]
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

  .introduction {
    @include boxShadow;
    margin: 20px 0;
    background: #fff;
    color: $textColorGray;
    font-size: 12px;
    &__title {
      @include placeTitle;
    }
    &__content {
      margin-bottom: 20px;
      padding: 0 10px;
      &:last-child {
        margin-bottom: 0;
        padding: 0 10px 20px;
      }
    }
    &__description {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__copy {
      margin-bottom: 9px;
      font-size: 15px;
      font-weight: bold;
      color: $textColorBlack;
    }
    &__images {
      margin-bottom: 1%;
      text-align: center;
    }
    &__image {
      display: inline-block;
      width: 49%;
      margin-bottom: 2%;
      vertical-align: bottom;
      &:nth-child(even) {
        margin-left: 2%;
      }
    }
  }
</style>
