<template>
<div class="loading">
  <div class="loading__body">
    <div class="loading__circle">Loading</div>
  </div>
  </div>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

  .loading {
      @include loadingBg($color: rgba(255, 255, 255, 0));

    &__body {
      @include loadingBody();
    }

    &__circle {
      @include loadingCircle();
    }
  }
</style>
