<template>
  <div id="rtn_top" class="pageTop tracked_mods">
    <transition name="pageTop__fade">
      <a class="pageTop__link" v-show="position > 200" v-on:click="scrollTop()" rel="nofollow">ページのトップへ</a>
    </transition>
  </div>
</template>

<script>
import base from '@lib/baseComponent'

export default {
  extends: base,
  data: function () {
    return {
      position: 0
    }
  },
  mounted: function () {
    document.addEventListener('scroll', (e) => {
      this.position = e.target.documentElement.scrollTop || e.target.body.scrollTop
    })
  },
  methods: {
    scrollTop: function () {
      this.$SmoothScroll(document.getElementById('wrapper'))
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.pageTop{
  position: fixed;
  right: 10px;
  bottom: 90px;
  z-index: 100;

  &__link{
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.53);
    border-radius: 5px;
    font-size: 0;

    &:after{
      @include RiffIcon("\E611", 36, #fff);
      height: 40px;
      width: 40px;
      top: 1px;
      left: 0;
      line-height: 40px;
      text-align: center;
      pointer-events: none;
    }
  }

  &__fade{
    &-enter-active,
    &-leave-active {
      transition: opacity .3s ease;
    }
    &-enter,
    &-leave-to{
      opacity: 0;
    }
    &-enter-to,
    &-leave{
      opacity: 1;
    }
  }
}

</style>
