<template>
  <div v-if="getCount() !== 0" id="pllist" class="planSummary tracked_mods">
    <h2 class="planSummary__title">プラン</h2>
    <ul class="planSummary__list">
      <li class="planSummary__item planItem" v-for="(planInfo, planInfoIndex) in getPlanInfoList()" :key="planInfo">
        <a :href=planInfo.ItemSmartPhoneUrl1 class="planItem__link" :data-ylk="`slk:pltitle;pos:${planInfoIndex}`">
          <div class="planItem__image planImage"><img :src=getResizeImages(planInfo.ItemImageUrl1) :alt=planInfo.ItemTitle1 class="planImage__image" />
          </div>
          <div class="planItem__detail planDetail">
            <p class="planDetail__title" v-if="typeof planInfo.ItemTitle1 !== 'undefined' && planInfo.ItemTitle1 !== ''">{{planInfo.ItemTitle1}}</p>
            <p class="planItem__price planPrice" v-if="isViewPrice(planInfo)"><span class="planPrice__note">{{planInfo.ItemPrice1}}：</span><em class="planPrice__main">{{planInfo.ItemPriceType1 | convertToMoney}}</em><span class="planPrice__note">/1名様</span></p>
            <div class="planItem__logo planLogo"><img src="https://s.yimg.jp/images/loco/pc/images/poi/logo_reserve_asoview_160_48.png" width="auto" height="24" alt="asoview" class="planLogo__image" /></div>
          </div>
        </a>
      </li>
    </ul>
    <div class="planSummary__more planMoreLink"><a :href="'/place/g-' + tenpo.Feature[0].Gid + '/plan/'" class="planMoreLink__link" data-ylk="slk:more;pos:0">プランをもっと見る({{getCount()}}件)</a></div>
  </div>
</template>
<script>
import base from '@lib/baseComponent'
const noImageSize = '200x200'
export default {
  data () {
    return {
      resizedImages: {}
    }
  },
  props: ['tenpo'],
  extends: base,
  filters: {
    cropDescription (description) {
      if (description == null) {
        return description
      }
      if (description.length <= 120) {
        return description
      }
      return description.substr(0, 120) + '...'
    },
    convertToMoney (fare) {
      if (fare == null) {
        return fare
      }
      return fare.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '円'
    }
  },
  mounted () {
    const planInfoList = this.getPlanInfoList()
    if (planInfoList.length === 0) {
      return null
    }
    const urls = planInfoList.map(planInfo => planInfo.ItemImageUrl1)
    const gid = this.tenpo.Feature[0].Gid
    const queries = [{urls: urls, width: 160, height: 160}]
    this.resizeImages(gid, queries)
  },
  methods: {
    getResizeImages (imageUrl) {
      return (this.status['resizedImages'] === 'binded') ? this.resizedImages[imageUrl]['160x160'] : this.namespace.noImage[noImageSize]
    },
    getPlanInfoList () {
      if (!this.isExistAsoview()) {
        return []
      }
      const planList = this.tenpo.Feature[0].Property.Detail.Item
      if (planList == null || planList.length === 0) {
        return []
      }
      return planList.slice(0, 2)
    },
    isExistAsoview () {
      for (const cassette of this.tenpo.Feature[0].Children) {
        if (cassette.CassetteId === this.namespace.cid.asoview) {
          return true
        }
      }
      return false
    },
    getCount () {
      if (!this.isExistAsoview()) {
        return 0
      }
      const planList = this.tenpo.Feature[0].Property.Detail.Item
      if (planList == null || planList.length === 0) {
        return 0
      }
      return planList.length
    },
    isViewPrice (plan) {
      // 料金種別表示、料金がどちらもある場合に料金表示
      if (typeof plan.ItemPrice1 !== 'undefined' &&
          plan.ItemPrice1 !== '' &&
          typeof plan.ItemPriceType1 !== 'undefined' &&
          plan.ItemPriceType1 !== 0) {
        return true
      }
      return false
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.planSummary {
  @include boxShadow;
  margin-bottom: 20px;
  background-color: #fff;

  &__title {
    @include placeTitle();
  }

  &__list {
    margin-bottom: 20px;
  }
}

.planItem {
  display: table;
  width: 100%;
  border-bottom: 1px solid #D0D0D0;

  &__link {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px 20px 10px 10px;
    &:after {
      @include RiffIcon("\E60C", 18, $textColorGray);
      top:40%;
      right: 5px;
      font-weight: bold;
    }
  }
}

.planImage {
  display: table-cell;
  width: 23.5%;
  float: left;
  margin-right: 5px;
  line-height: 0;
  &__image {
    width: 100%;
  }
}

.planDetail {
  display: table-cell;

  &__title{
    font-size: 14px;
    font-weight: bold;
  }
}

.planLogo {
  line-height: 0;
}

.planMoreLink {
  text-align: center;

  &__link {
    @include button-normal;
    display: inline-block;
    position: relative;
    margin: 0px auto 20px;
    padding: 7px 28px 7px 10px;
    color: #52bfeb;
    background: #fff;
    border: 1px solid #52bfeb;
    box-shadow: none;
    &:after{
      @include RiffIcon("\E60C", 19, #52bfeb);
      top:3px;
      right: 5px;
      font-weight: bold;
    }
  }
}

.planPrice{
  margin-bottom: 5px;
  color: $textColorGray;
  font-size: 12px;
  &__main{
    color: $priceColor;
    font-weight: bold;
  }
}

</style>
