<template>
  <div id="post" class="postButton tracked_mods" v-if="isVisible">
    <h2 class="postButton__title">投稿する</h2>
    <ul class="postButton__list">
      <li class="postButton__item"><a :href="postPhotoUrl" class="postButton__link--photo" rel="nofollow" data-ylk="slk:pst_poto">写真投稿</a></li>
      <li class="postButton__item"><a :href="postKuchikomiUrl" class="postButton__link--review" rel="nofollow" data-ylk="slk:pst_rvw">クチコミ投稿</a></li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['tenpo'],
  computed: {
    isVisible: function () {
      return this.tenpo.Feature[0].Property.hasOwnProperty('Genre') &&
        this.tenpo.Feature[0].Property.Genre.length > 0 &&
        !this.tenpo.Feature[0].Property.Genre[0].Code.includes('0401')
    },
    postPhotoUrl: function () {
      return '/photo/posting?uid=' + this.tenpo.Feature[0].Property.Uid
    },
    postKuchikomiUrl: function () {
      return '/review/posting?uid=' + this.tenpo.Feature[0].Property.Uid
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

  .postButton{
    margin-bottom: 20px;
    overflow: hidden;
    background: #fff;
    &__title {
      @include placeTitle;
    }
    &__list {
      display: table;
      width: 100%;
      padding: 0 10px 1px;
      table-layout: fixed;
      box-sizing: border-box;
    }
    &__item {
      display: table-cell;
    }
    &__link {
      @include button-normal;
      display: block;
      padding: 10px 0;
      &--photo {
        @extend .postButton__link;
        border-radius: 4px 0 0 4px;
      }
      &--review {
        @extend .postButton__link;
        border-left: 0;
        border-radius: 0 4px 4px 0;
      }
    }
  }
</style>
