<template>
  <div id="sale_prm" class="promotion tracked_mods" v-if="existValidData(promotion.feature_module) && !$root.isHiddenScType('sale_prm')">
    <h2 class="promotion__title">キャンペーン・特集</h2>
    <ul class="promotionList">
      <li class="promotionList__item" v-for="isolate in getPromotionIsolate(promotion.feature_module)" :key="isolate">
        <a class="promotionList__link" :href=isolate.linkUrl>
          <img class="promotionList__image" v-lazy="isolate.imageUrl" :alt=isolate.title />
          <p class="promotionList__title">{{isolate.title}}</p>
          <p class="promotionList__detail">{{isolate.Text}}</p>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['layout', 'promotion'],
  methods: {
    existValidData (featureModule) {
      if (typeof featureModule === 'undefined') {
        return false
      }

      for (const promotion of featureModule.list) {
        if (this.isValid(promotion)) {
          return true
        }
      }

      return false
    },
    isValid (promotion) {
      if (promotion.publishStart === null || promotion.publishStart === '') {
        return false
      } else if (promotion.publishEnd === null || promotion.publishEnd === '') {
        return (promotion.isolate !== null) && (promotion.isolate.length !== 0)
      }

      const startTime = new Date(this.convertDateFromStrToDate(promotion.publishStart))
      const endTime = new Date(this.convertDateFromStrToDate(promotion.publishEnd))
      let now = new Date()

      if ((startTime <= now) && (endTime >= now)) {
        return (promotion.isolate !== null) && (promotion.isolate.length !== 0)
      }

      return false
    },
    convertDateFromStrToDate (date) {
      if (date === null) {
        return null
      }

      return new Date(date.replace(/^(\d{4})(\d\d)(\d\d)(\d\d)(\d\d)$/, '$4:$5 $2/$3/$1'))
    },
    getPromotionIsolate (featureModule) {
      for (const promotion of featureModule.list) {
        if (this.isValid(promotion)) {
          const isolate = promotion.isolate
          return isolate === null ? null : isolate.slice(0, 3)
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';
  .promotion {
    margin-bottom: 20px;
    &__title {
      margin-bottom: 12px;
      padding: 0 12px;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .promotionList {
    padding-left: 12px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    white-space: nowrap;
    font-size: 0;
    &__item {
      display: inline-block;
      width: 282px;
      margin-right: 12px;
      vertical-align: top;
      white-space: normal;
    }
    &__link {
      display: block;
      color: $textColorBlack;
      -webkit-tap-highlight-color: rgba(102, 204, 255, 0.5);
      tap-highlight-color: rgba(102, 204, 255, 0.5);
    }
    &__image {
      max-width: 100%;
      height: auto;
      vertical-align: top;
      margin-bottom: 12px;
    }
    &__title {
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;
    }
    &__detail {
      font-size: 14px;
    }
  }
</style>
