<template>
<div id="srv_prm" class="regularLink tracked_mods" v-if="!$root.isHiddenScType('srv_prm')">
  <ul class="regularLink__list">
    <li class="regularLink__item">
      <a href="https://reservation.yahoo.co.jp/guide/line/" class="regularLink__link">
        <img v-lazy="'https://s.yimg.jp/images/reservation/promotion/common/images/120x120/line.png'" class="regularLink__image" width="60" height="60" alt="" />
        <dl class="regularLink__description linkDescription">
          <dt class="linkDescription__title">Yahoo!ダイニング 公式LINE@</dt>
          <dd class="linkDescription__note">お得なキャンペーン情報や、いま話題のレストラン情報をお届け！</dd>
        </dl>
      </a>
    </li>
    <li class="regularLink__item">
      <a href="https://reservation.yahoo.co.jp/business/" class="regularLink__link">
        <img v-lazy="'https://s.yimg.jp/images/reservation/promotion/common/images/120x120/ols.png'" class="regularLink__image" width="60" height="60" alt="" />
        <dl class="regularLink__description linkDescription">
          <dt class="linkDescription__title">飲食店の皆様へ！</dt>
          <dd class="linkDescription__note">24時間ネット予約で集客力アップ！<br />Yahoo! JAPANの集客力を飲食店に！</dd>
        </dl>
      </a>
    </li>
  </ul>
  <div class="regularLink__rectangle linkRectangle">
    <a href="https://yahoo.jp/sd3c_9" class="linkRectangle__link" rel="nofollow">
      <img v-lazy="'https://s.yimg.jp/images/map/promo/map_pr/banner/checkin/map_bnr710x142.png?v=2'" class="linkRectangle__image" alt="Yahoo! MAP のチェックインでＴポイントがたまる！　最大100ポイント！　新宿・渋谷の600店舗からスタート！" /></a>
  </div>
</div>
</template>

<script>
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.regularLink {
  margin-bottom: 20px;
  &__list {
    margin-bottom: 20px;
  }
  &__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    display: table;
    width: 100%;
    padding: 0 10px;
    color: $textColorBlack;
    box-sizing: border-box;
  }
  &__image {
    display: table-cell;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}
.linkDescription{
  display: table-cell;
  width: 100%;
  vertical-align: top;
  &__title {
    font-size: 14px;
    font-weight: bold;
    color: $linkColor;
  }
  &__note{
    font-size: 12px;
  }
}
.linkRectangle{
  margin-bottom: 20px;
  &__link {
    display: block;
    margin: 0 10px;
    &:hover {
      opacity: .8;
    }
  }
  &__image{
    display: block;
    width: 100%;
  }
}

</style>
