<template>
  <div v-if="isVisible" class="rental">
    <table class="rental__table">
      <tr class="rental__row">
        <th class="rental__header"></th>
        <th class="rental__header--column">DVD</th>
        <th class="rental__header--column">CD</th>
        <th class="rental__header--column">コミック・本</th>
        <th class="rental__header--column">ゲーム</th>
      </tr>
      <tr class="rental__row">
        <th class="rental__header">レンタル</th>
        <template v-for="rental in rentalList" :detail = this.detail>
          <td v-if="isPartialMatch(detail[rental], '取扱いあり') && detail['TPointFlag'] === 'true'" class="rental__data--point" :key="rental">○</td>
          <td v-else-if="isPartialMatch(detail[rental], '取扱いあり') && detail['TPointFlag'] !== 'true'" class="rental__data" :key="rental">○</td>
          <td v-else class="rental__data" :key="rental">-</td>
        </template>
        <td class="rental__data">-</td>
      </tr>
      <tr class="rental__row">
        <th class="rental__header">販売</th>
        <template v-for="newItem in sellNewList" :detail = this.detail>
          <td v-if="isPartialMatch(detail[newItem], '取扱いあり') && detail['TPointFlag'] === 'true'" class="rental__data--point" :key="newItem">○</td>
          <td v-else-if="isPartialMatch(detail[newItem], '取扱いあり') && detail['TPointFlag'] !== 'true'" class="rental__data" :key="newItem">○</td>
          <td v-else class="rental__data" :key="newItem">-</td>
        </template>
      </tr>
      <tr class="rental__row">
        <th class="rental__header">中古販売</th>
        <template v-for="usedItem in sellUsedList" :detail = this.detail>
          <td v-if="isPartialMatch(detail[usedItem], '取扱いあり') && detail['TPointFlag'] === 'true'" class="rental__data--point" :key="usedItem">○</td>
          <td v-else-if="isPartialMatch(detail[usedItem], '取扱いあり') && detail['TPointFlag'] !== 'true'" class="rental__data" :key="usedItem">○</td>
          <td v-else class="rental__data" :key="usedItem">-</td>
        </template>
      </tr>
      <tr class="rental__row">
        <th class="rental__header">中古買取</th>
        <template v-for="buyItem in buyUsedList" :detail = this.detail>
          <td v-if="isPartialMatch(detail[buyItem], '取扱いあり') && detail['TPointFlag'] === 'true'" class="rental__data--point" :key="buyItem">○</td>
          <td v-else-if="isPartialMatch(detail[buyItem], '取扱いあり') && detail['TPointFlag'] !== 'true'" class="rental__data" :key="buyItem">○</td>
          <td v-else class="rental__data" :key="buyItem">-</td>
        </template>
      </tr>
      <tr v-if="isPartialMatch(detail['SellStationery'], '取扱いあり')" class="rental__row">
        <th class="rental__header">その他の商品</th>
        <td class="rental__data--other" colspan="4">
          STATIONERY<span v-if="detail['TPointFlag'] === 'true'" class="rental__icon">Ｔポイント</span>
        </td>
      </tr>
      <tr v-if="otherService.length !== 0" class="rental__row">
        <th class="rental__header">その他のサービス</th>
        <td v-text="otherService" class="rental__data--other" colspan="4"></td>
      </tr>
    </table>
    <p class="rental__annotation"><span class="rental__note">※</span><span class="rental__icon">Ｔポイント</span><span class="rental__note">は、Ｔポイントが利用できるサービスです。</span></p>
  </div>
</template>

<script>
const fieldNameList = [
  'RentalDVD',
  'RentalCD',
  'RentalComic',
  'SellNewDVD',
  'SellNewCD',
  'SellNewGame',
  'SellNewBook',
  'SellUsedDVD',
  'SellUsedCD',
  'SellUsedBook',
  'SellUsedGame',
  'BuyUsedDVD',
  'BuyUsedCD',
  'BuyUsedBook',
  'BuyUsedGame',
  'SellStationery',
  'MailReturn',
  'Request',
  'ShopReceipt',
  'OutsideReturnBoxFlag'
]
const rentalList = [
  'RentalDVD',
  'RentalCD',
  'RentalComic'
]
const sellNewList = [
  'SellNewDVD',
  'SellNewCD',
  'SellNewBook',
  'SellNewGame'
]
const sellUsedList = [
  'SellUsedDVD',
  'SellUsedCD',
  'SellUsedBook',
  'SellUsedGame'
]
const buyUsedList = [
  'BuyUsedDVD',
  'BuyUsedCD',
  'BuyUsedBook',
  'BuyUsedGame'
]
const otherServiceWording = {
  'Request': 'リクエスト取り寄せ',
  'ShopReceipt': '通販店頭受け取り',
  'MailReturn': '郵便返却',
  'OutsideReturnBoxFlag': '店外返却BOX'
}
export default {
  props: ['detail'],
  data () {
    return {
      rentalList,
      sellNewList,
      sellUsedList,
      buyUsedList
    }
  },
  computed: {
    /**
     * モジュールを表示するか否かを判定する
     */
    isVisible () {
      for (const fieldName of fieldNameList) {
        if (this.isFilled(this.detail[fieldName])) {
          return true
        }
      }
      return false
    },
    /**
     * その他のサービスの文言を生成する
     */
    otherService: function () {
      let otherService = []
      for (const key of Object.keys(otherServiceWording)) {
        if (this.isFilled(this.detail[key]) && (this.detail[key] === '取扱いあり' || this.detail[key] === 'true')) {
          otherService.push(otherServiceWording[key])
        }
      }
      return otherService.join(' / ')
    }
  },
  methods: {
    /**
     * 文字列(pattern)が部分一致するかどうかを調べる
     * @param source: 調べたい文字列
     * @param pattern: 一致パターン文字列
     * @returns {boolean}
     */
    isPartialMatch (source, pattern) {
      return this.isFilled(source) && source.includes(pattern)
    },
    /**
     * undefinedかnullのチェックを行う.
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.rental {
  margin-bottom: 20px;

  &__table {
    width: 100%;
    margin-bottom: 8px;
    background: #fff;
    border: 1px solid #e6e6e6;
  }

  &__data {
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    &--point {
      @extend .rental__data;
      &:after {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        content: "";
        background: url(https://s.yimg.jp/images/loco/pc/images/poi/icn_tPoint.png) no-repeat 0 0;
      }
    }

    &--other {
      @extend .rental__data;
      font-size: 12px;
      text-align: left;
    }
  }

  &__header {
    @extend .rental__data;
    background: #efefde;
    font-weight: bold;
    &--column {
      @extend .rental__header;
      width: 18%;
    }
  }

  &__icon {
    @include text-replace;
    display:inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background: url(https://s.yimg.jp/images/loco/pc/images/poi/icn_tPoint.png) no-repeat 0 0;
  }

  &__annotation {
    font-size: 11px;
  }
}

</style>
