<template>
<div id="rsvbtn" class="reserveButtons tracked_mods" v-if="reserveTel || hasButtonData">
  <div class="reserveButton">
    <div class="reserveButton__content">
      <a v-if="reserveTel" :href="'tel:' + reserveTel" class="reserveButton__information" rel="nofollow" data-ylk="slk:tel;pos:0">
        <span class="reserveButton__description" v-if="reserveTelDescription">{{reserveTelDescription}}</span>
        <span :class="isPpcTel ? 'reserveButton__tel--free' : 'reserveButton__tel'" >{{reserveTel}}</span>
      </a>
      <div class="reserveButton__body" v-if="(!isGourmet || checkWeddingParam) && isWeddingModule && getWeddingButtonData.length > 0 && hasWeddingUrl">
        <p class="reserveButton__title">式場の見学予約はこちら</p>
        <div class="reserveButton__inner">
          <div class="reserveButton__button">
            <a :href="getWeddingButtonData[0].buttonUrl" class="reserveButton__link" target="_blank" rel="nofollow noopener" :data-ylk="`slk:${getWeddingButtonData[0].slk}`">
              {{getWeddingButtonData[0].buttonName}}
              <p class="reserveButton__note">（{{getWeddingButtonData[0].cpName}}）</p>
            </a>
          </div>
        </div>
      </div>
      <div class="reserveButton__body" v-if="(!isGourmet || checkWeddingParam) && hasTravel && getWeddingButtonData.length > 1 && hasTravelUrl">
        <p class="reserveButton__title">宿泊予約はこちら</p>
        <div class="reserveButton__inner--select selectButton">
          <span class="selectButton__inner">
            <select v-model="selectedYearMonth" @change="updateDays" class="selectButton__selector">
              <option v-for="yearMonth in getYearMonth" :value="yearMonth.data" :key="yearMonth">{{yearMonth.text}}</option>
            </select>
          </span>
          <span class="selectButton__note">月</span>
          <span class="selectButton__inner">
            <select v-model="selectedDay" class="selectButton__selector">
              <option v-for="day in days" :value="day" :key="day">{{day}}</option>
            </select>
          </span>
          <span class="selectButton__note">日から</span>
          <span class="selectButton__inner">
            <select v-model="selectedNumberOfNights" class="selectButton__selector">
              <option v-for="number in numberOfNights" :value="number" :key="number">{{number}}</option>
            </select>
          </span>
          <span class="selectButton__note">泊</span>
        </div>
        <div class="reserveButton__inner">
          <div class="reserveButton__button">
            <a :href="getTravelSearchUrl" class="reserveButton__link" rel="nofollow" :data-ylk="`slk:${getWeddingButtonData[1].slk}`">
              {{getWeddingButtonData[1].buttonName}}<br />
              <span class="reserveButton__note">（2名1室で検索）</span>
            </a>
          </div>
        </div>
      </div>
      <div class="reserveButton__body" v-else-if="!isGourmet && isTravelModule && getTravelButtonData.length > 0 && hasTravelUrl">
        <div class="reserveButton__inner--select selectButton">
          <div class="selectButton__container">
            <span class="selectButton__inner">
              <select v-model="selectedYearMonth" @change="updateDays" class="selectButton__selector">
                <option v-for="yearMonth in getYearMonth" :value="yearMonth.data" :key="yearMonth">{{yearMonth.text}}</option>
              </select>
            </span>
            <span class="selectButton__note">月</span>
          </div>
          <div class="selectButton__container">
            <span class="selectButton__inner">
              <select v-model="selectedDay" class="selectButton__selector">
                <option v-for="day in days" :value="day" :key="day">{{day}}</option>
              </select>
            </span>
            <span class="selectButton__note">日から</span>
          </div>
          <div class="selectButton__container">
            <span class="selectButton__inner">
              <select v-model="selectedNumberOfNights" class="selectButton__selector">
                <option v-for="number in numberOfNights" :value="number" :key="number">{{number}}</option>
              </select>
            </span>
            <span class="selectButton__note">泊</span>
          </div>
        </div>
        <div class="reserveButton__inner">
          <div class="reserveButton__button">
            <a :href="getTravelSearchUrl" class="reserveButton__link" rel="nofollow"  :data-ylk="`slk:${getTravelButtonData[0].slk}`">
              {{getTravelButtonData[0].buttonName}}<br />
              <span class="reserveButton__note">（2名1室で検索）</span>
            </a>
          </div>
        </div>
      </div>
      <template v-if="!isGourmet && getButtonData.length > 0 && hasButtonUrl">
        <p class="reserveButton__note waitingTime" v-if="hasDeliveryTelDescription">
          <span class="waitingTime__note">（待ち時間</span>
          <span class="waitingTime__note--time">{{tenpo.Feature[0].Property.Detail.WaitingTime1}}</span>
          <span class="waitingTime__note">分：5分間隔で更新されます）</span>
        </p>
        <div v-if="getButtonData.length > 0" class="reserveButton__inner">
          <div class="reserveButton__button" v-for="buttonData in getButtonData" v-if="isFilled(buttonData.buttonUrl)" :key="buttonData">
            <a :href="buttonData.buttonUrl" :target="shoudOpenNewTab(buttonData.buttonUrl) ? '_blank' : ''" rel="nofollow noopener" class="reserveButton__link" :data-ylk="`slk:${buttonData.slk}`">{{buttonData.buttonName}}
              <p class="reserveButton__note">（{{buttonData.cpName}}）</p>
            </a>
          </div>
        </div>
        <div class="laterButton" v-if="hasReserveButtonsMore">
          <div class="laterButton__button">
            <a :href="this.tenpo.Feature[0].Property.Detail.ReservationSmartPhoneUrl2" target="_blank" rel="nofollow noopener" class="laterButton__link">
              明日以降配達のご注文はこちら
            </a>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
</template>
<script>
import base from '@lib/baseComponent'
import moment from '@lib/moment-ja'
import Url from '@lib/Url'

export default {
  props: ['tenpo', 'wedding'],
  extends: base,
  data () {
    return {
      // 入力情報
      selectedYearMonth: '',
      selectedDay: 1,
      selectedNumberOfNights: 1,
      // 定数
      days: [],
      numberOfNights: [...Array(6).keys()].map(i => i + 1)
    }
  },
  filters: {
  },
  mounted () {
    const tomorrow = moment().add(1, 'days')
    this.selectedYearMonth = tomorrow.format('YYYYMM')
    this.selectedDay = tomorrow.format('D')
    this.updateDays()
  },
  computed: {
    hasButtonData () {
      return (this.getButtonData.length > 0 && this.hasButtonUrl) || this.getWeddingButtonData.length > 0 || this.getTravelButtonData.length > 0
    },
    /**
     * 式場のURLがあるかどうか
     * @returns {boolean} true/false
     */
    hasWeddingUrl () {
      return this.isFilled(this.wedding.Feature[0].Property.Detail.WeddingVisitReservationSmartPhoneUrl1) && this.wedding.Feature[0].Property.Detail.WeddingVisitReservationSmartPhoneUrl1 !== ''
    },
    /**
     * トラベルのURLがあるかどうか
     * @returns {boolean} true/false
     */
    hasTravelUrl () {
      return this.isFilled(this.tenpo.Feature[0].Property.Detail.PlanListUrl) && this.tenpo.Feature[0].Property.Detail.PlanListUrl !== ''
    },
    /**
     * グルメ店舗か判定
     * @returns {boolean} true/false
     */
    isGourmet () {
      return this.getChildCpDataList(this.namespace.cid.gourmetCidGroup).length > 0
    },
    genrecd () {
      return Url.getParameters().genrecd
    },
    /**
     * GETパラメータのgenrecdがグルメであって式場ではないかどうかの確認(0414)
     * @returns {bool} 在庫の有無
     */
    checkWeddingParam () {
      if (this.isFilled(this.genrecd)) {
        return this.genrecd.startsWith('0414')
      }
      return false
    },
    /**
     * 年月リスト取得
     * @returns {array} 当月込みで6ヶ月分の年月リスト
     */
    getYearMonth () {
      let yearMonthList = []
      // 当月込みで6ヶ月分表示
      for (let i = 0; i < 6; i++) {
        let data = moment().add(i, 'months')
        let yearmonth = {
          text: data.format('YYYY年MM'),
          data: data.format('YYYYMM')
        }
        yearMonthList.push(yearmonth)
      }
      return yearMonthList
    },
    /**
     * 明日以降配達リンクのデータがあるかどうか
     * @returns {boolean} true/false
     */
    hasReserveButtonsMore () {
      return Boolean(this.tenpo.Feature[0].Property.Detail.ReservationSmartPhoneUrl2) && this.isDeliveryModule
    },
    /**
     * オンライン予約可能かどうか
     * @returns {boolean} 表示可否
     */
    canOnlineReserveFlag () {
      return this.tenpo.Feature[0].Property.Detail.OnlineReserveFlag || this.tenpo.Feature[0].Property.Detail.OnlineReserveRequestFlag
    },
    /**
     * 表示する電話番号
     * @returns {String} 電話番号。ハイフンで区切られている
     */
    reserveTel () {
      if (this.tenpo.Feature[0].Property.Detail.AlternativeTel) return this.tenpo.Feature[0].Property.Detail.AlternativeTel
      if (this.isPpcTel) return this.tenpo.Feature[0].Property.Detail.PpcNumber
      return this.tenpo.Feature[0].Property.Tel1
    },
    /**
     * PPC番号を表示するか
     * @returns {boolean} true/false
     */
    isPpcTel () {
      return Boolean(!this.hasDeliveryTelDescription && !this.tenpo.Feature[0].Property.Detail.AlternativeTel && this.tenpo.Feature[0].Property.Detail.PpcNumber)
    },
    /**
     * 電話番号補足文言取得
     * @returns {string} 電話番号補足文言
     */
    reserveTelDescription () {
      return (this.isPpcTel && this.tenpo.Feature[0].Property.PpcDescription) ? this.tenpo.Feature[0].Property.PpcDescription : null
    },
    /**
     * 電話番号補足文言取得
     * @returns {string} 電話番号補足文言
     */
    hasDeliveryTelDescription () {
      return (this.isDeliveryModule && this.tenpo.Feature[0].Property.Detail.WaitingTime1) ? this.tenpo.Feature[0].Property.Detail.WaitingTime1 : null
    },
    /**
     * 美容/病院/レンタカー/レジャー、スポーツ/駐車場モジュールを表示するか
     * @returns {boolean} true/false
     */
    isBeautyModule () {
      return this.getChildCpDataList(this.namespace.cid.beautyCidGroup).length > 0
    },
    /**
     * 検診モジュールを表示するか
     * @returns {boolean} true/false
     */
    isMedicalModule () {
      return this.getChildCpDataList(this.namespace.cid.medicalCidGroup).length > 0
    },
    /**
     * 薬局モジュールを表示するか
     * @returns {boolean} true/false
     */
    isPharmacyModule () {
      return this.getChildCpData(this.namespace.cid.eparkPharmacy).length >= 1
    },
    /**
     * Yahoo!トラベルモジュールを表示するか
     * @returns {boolean} true/false
     */
    isTravelModule () {
      return (this.getChildCpData(this.namespace.cid.yahooTravel).length >= 1) && this.getChildCpData(this.namespace.cid.zexy).length === 0
    },
    /**
     * 塾モジュールを表示するか
     * @returns {boolean} true/false
     */
    isSchoolModule () {
      return this.tenpo.Feature[0].Children.filter((val) => this.namespace.cid.jyukuNavi === val.CassetteId && this.tenpo.Feature[0].Property.Detail.DocRequestSmartPhoneUrl).length >= 1
    },
    /**
     * 出前モジュールを表示するか
     * @returns {boolean} true/false
     */
    isDeliveryModule () {
      return this.getChildCpData(this.namespace.cid.demaekan).length >= 1
    },
    /**
     * 結婚式場モジュールを表示するか
     * @returns {boolean} true/false
     */
    isWeddingModule () {
      return this.getChildCpData(this.namespace.cid.zexy).length >= 1
    },
    /**
     * Feature.Childrenに結婚式場CPを含むか
     * @returns {boolean} true/false
     */
    hasWedding () {
      return this.getChildCpData(this.namespace.cid.zexy).length > 0
    },
    /**
     * トラベルCPを含むか
     * @returns {boolean} true/false
     */
    hasTravel () {
      return this.namespace.cid.yahooTravel === this.tenpo.Feature[0].Property.CassetteId || this.getChildCpData(this.namespace.cid.yahooTravel).length > 0
    },
    /**
     * ボタンデータにURLが含むものが一つでもあるか
     * @returns {boolean} true/false
     */
    hasButtonUrl () {
      for (const data of this.getButtonData) {
        if (this.isFilled(data.buttonUrl)) {
          return true
        }
      }
      return false
    },
    /**
     * 予約ボタンの表示情報を取得
     * @returns {array} 予約ボタン一覧
     */
    getButtonData () {
      // B-times対応
      let buttons = []
      this.getBTimesButtonData(buttons)
      // 美容/病院/レンタカー/レジャー、スポーツ/駐車場モジュール
      if (this.isBeautyModule) {
        return this.getBeautyButtonData(buttons)
      // 検診モジュール
      } else if (this.isMedicalModule) {
        return this.getMedicalButtonData(buttons)
      // 薬局モジュール
      } else if (this.isPharmacyModule) {
        return this.getPharmacyButtonData(buttons)
      // 塾モジュール
      } else if (this.isSchoolModule) {
        return this.getSchoolButtonData(buttons)
      // 出前モジュール
      } else if (this.isDeliveryModule) {
        return this.getDeliveryButtonData(buttons)
      }
      return buttons
    },
    /**
     * Yahoo!トラベルモジュールのボタン表示情報を取得
     * @returns {object} ボタンデータ
     */
    getTravelButtonData () {
      let travelButtons = []
      // API帰ってきた順に取得
      const travelCpList = this.getChildCpData(this.namespace.cid.yahooTravel)
      for (const travelCp of travelCpList) {
        if (travelButtons.length >= 2) break
        travelButtons.push(this.createButton('プランを検索する', travelCp.CassetteHeader, this.tenpo.Feature[0].Property.Detail.PlanListUrl, 'trvbtn'))
      }
      return travelButtons
    },
    /**
     * 式場見学モジュールのボタン表示情報を取得
     * @returns {object} ボタンデータ
     */
    getWeddingButtonData () {
      let weddingButtons = []
      // ゼクシィ
      const zexyData = this.getChildCpData(this.namespace.cid.zexy)[0]
      if (zexyData) weddingButtons.push(this.createButton('式場の見学予約はこちら', zexyData.CassetteHeader, this.wedding.Feature[0].Property.Detail.WeddingVisitReservationSmartPhoneUrl1, 'tourbtn'))
      if (weddingButtons.length >= 2) return weddingButtons
      // ヤフートラベル
      const yahooTravelData = this.getChildCpData(this.namespace.cid.yahooTravel)[0]
      if (yahooTravelData) weddingButtons.push(this.createButton('プランを検索する', yahooTravelData.CassetteHeader, this.tenpo.Feature[0].Property.Detail.PlanListUrl, 'trvbtn'))
      return weddingButtons
    },
    /**
     * プラン検索ボタンのURL
     * @returns {string} プラン検索ボタンURL
     */
    getTravelSearchUrl () {
      const yyyymmdd = this.getSelectedYYYYMMDD(this.selectedYearMonth, this.selectedDay)
      return this.tenpo.Feature[0].Property.Detail.PlanListUrl + '&adlt=2&rm=1&ofs=1&ci=' + yyyymmdd + '&co=' + moment(yyyymmdd, 'YYYYMMDD').add(this.selectedNumberOfNights, 'days').format('YYYYMMDD')
    }
  },
  methods: {
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    },
    /**
     * 予約ボタンオブジェクトを生成
     * @returns {object} 予約ボタンオブジェクト
     */
    createButton (buttonName, cpName, buttonUrl, slk) {
      return {
        buttonName: buttonName,
        cpName: cpName,
        buttonUrl: buttonUrl,
        slk: slk
      }
    },
    /**
     * オンライン予約可能かどうか
     * @returns {bool} 表示可否
     */
    canOnlineReserveChild (childTenpo) {
      return childTenpo.OnlineReserveFlag || childTenpo.OnlineReserveRequestFlag
    },
    /**
     * ChildのCP情報取得
     * @returns {object} Cp情報
     */
    getChildCpData (cid) {
      return this.tenpo.Feature[0].Children.filter((val) => cid === val.CassetteId && this.canOnlineReserveChild(val))
    },
    /**
     * ChildのCPList取得
     * @returns {array} CPList
     */
    getChildCpDataList (cplist) {
      return this.tenpo.Feature[0].Children.filter((val) => cplist.includes(val.CassetteId) && this.canOnlineReserveChild(val))
    },
    /**
     * 選択された日付を取得
     * @returns {string} yyyymmdd
     */
    getSelectedYYYYMMDD (yearMonth, day) {
      if (day >= 10) return yearMonth + day
      return yearMonth + '0' + day
    },
    /**
     * 年月の変更があった場合日付合計を更新
     */
    updateDays () {
      const monthToCount = moment(String(this.selectedYearMonth), 'YYYYMM')
      this.days = [...Array(monthToCount.daysInMonth()).keys()].map(i => i + 1)
      // 無効な日付が選択されている場合デフォルドで1日にする
      if (this.selectedDay > this.days.length) {
        this.selectedDay = 1
      }
    },
    /**
     * 新しいタブを開くか判断
     * 外部URLなら新しいタブを開く
     */
    shoudOpenNewTab (url) {
      const isSelf = url.startsWith('/')
      const isYahoo = /^(http|https):\/\/[^/]*\.yahoo\.co\.jp/.test(url)
      return !(isSelf || isYahoo)
    },
    /**
     * 美容/病院/レンタカー/レジャー、スポーツ/駐車場モジュールのボタン表示情報を取得
     * @returns {object} ボタンデータ
     */
    getBeautyButtonData (buttons) {
      // 優先度順に取得
      // ホットペッパービューティ
      const hotpepper = this.getChildCpData(this.namespace.cid.hotpepperBeauty)[0]
      if (hotpepper) buttons.push(this.createButton('予約する', hotpepper.CassetteHeader, hotpepper.ReservationSmartPhoneUrl1, 'rsvbtn'))
      if (buttons.length >= 2) return buttons
      // ホットペッパービューティキレイ
      const hotpepperKirei = this.getChildCpData(this.namespace.cid.hotpepperBeautyKirei)[0]
      if (hotpepperKirei) buttons.push(this.createButton('予約する', hotpepperKirei.CassetteHeader, hotpepperKirei.ReservationPcUrl1, 'rsvbtn'))
      if (buttons.length >= 2) return buttons
      // EPARK(ローカルプレイス)
      const eparkData = this.getChildCpData(this.namespace.cid.epark)[0]
      if (eparkData) buttons.push(this.createButton('予約する', 'EPARK', eparkData.ReservationSmartPhoneUrl1, 'rsvbtn'))
      if (buttons.length >= 2) return buttons
      // EPARKビューティー
      const eparkBeautyData = this.getChildCpData(this.namespace.cid.eparkBeauty)[0]
      if (eparkBeautyData) {
        // EPARKビューティーのみ、ReservationSmartPhoneUrl1がなければPcUrl1を参照する
        const eparkBeautyButtonUrl = eparkBeautyData.ReservationSmartPhoneUrl1
          ? eparkBeautyData.ReservationSmartPhoneUrl1 : eparkBeautyData.PcUrl1
        buttons.push(this.createButton('予約する', eparkBeautyData.CassetteHeader, eparkBeautyButtonUrl, 'rsvbtn'))
      }
      if (buttons.length >= 2) return buttons
      // その他のCPはAPI帰ってきた順
      const beautyCpList = this.getChildCpDataList(this.namespace.cid.beautyCidGroup)
      for (const beautyCp of beautyCpList) {
        if (buttons.length >= 2) break
        if (this.namespace.cid.hotpepperBeauty !== beautyCp.CassetteId &&
        this.namespace.cid.hotpepperBeautyKirei !== beautyCp.CassetteId &&
        this.namespace.cid.epark !== beautyCp.CassetteId &&
        this.namespace.cid.eparkBeauty !== beautyCp.CassetteId) {
          if (this.namespace.cid.eparkEsthe === beautyCp.CassetteId) {
            buttons.push(this.createButton('予約する', 'EPARK', beautyCp.ReservationSmartPhoneUrl1, 'rsvbtn'))
          } else if (this.namespace.cid.eparkDental === beautyCp.CassetteId) {
            buttons.push(this.createButton('予約する', beautyCp.CassetteHeader, this.tenpo.Feature[0].Property.Detail.ReservationSmartPhoneUrl1.replace(/SITE_CODE=(m|s)/, 'SITE_CODE=l'), 'rsvbtn'))
          } else if (this.namespace.cid.jaranGolf === beautyCp.CassetteId) {
            buttons.push(this.createButton('予約する', 'じゃらんゴルフ', beautyCp.ReservationSmartPhoneUrl1, 'rsvbtn'))
          } else if (this.namespace.cid.tabirai === beautyCp.CassetteId) {
            buttons.push(this.createButton('予約する', 'たびらいレンタカー', beautyCp.ReservationSmartPhoneUrl1, 'rsvbtn'))
          } else {
            buttons.push(this.createButton('予約する', beautyCp.CassetteHeader, beautyCp.ReservationSmartPhoneUrl1, 'rsvbtn'))
          }
        }
      }
      return buttons
    },
    /**
     * 検診モジュールのボタン表示情報を取得
     * @returns {object} ボタンデータ
     */
    getMedicalButtonData (buttons) {
      // API帰ってきた順に取得
      const medicalCpList = this.getChildCpDataList(this.namespace.cid.medicalCidGroup)
      for (const medicalCp of medicalCpList) {
        if (buttons.length >= 2) break
        if (this.namespace.cid.mrso === medicalCp.CassetteId) {
          buttons.push(this.createButton('検診予約する', 'マーソ', medicalCp.ReservationSmartPhoneUrl1, 'mcrsvbtn'))
        } else {
          buttons.push(this.createButton('検診予約する', medicalCp.CassetteHeader, medicalCp.ReservationSmartPhoneUrl1, 'mcrsvbtn'))
        }
      }
      return buttons
    },
    /**
     * 薬局モジュールのボタン表示情報を取得
     * @returns {object} ボタンデータ
     */
    getPharmacyButtonData (buttons) {
      // API帰ってきた順に取得
      const pharmacyCpList = this.getChildCpData(this.namespace.cid.eparkPharmacy)
      for (const pharmacyCp of pharmacyCpList) {
        if (buttons.length >= 2) break
        buttons.push(this.createButton('処方せんネット予約', pharmacyCp.CassetteHeader, pharmacyCp.ReservationSmartPhoneUrl1, 'prsrsvbtn'))
      }
      return buttons
    },
    /**
     * 塾モジュールのボタン表示情報を取得
     * @returns {object} ボタンデータ
     */
    getSchoolButtonData (buttons) {
      // API帰ってきた順に取得
      // 塾だけ予約可能かどうか見ない
      const schoolCpList = this.tenpo.Feature[0].Children.filter((val) => this.namespace.cid.jyukuNavi === val.CassetteId)
      for (const schoolCp of schoolCpList) {
        if (buttons.length >= 2) break
        buttons.push(this.createButton('資料をもらう（無料）', schoolCp.CassetteHeader, this.tenpo.Feature[0].Property.Detail.DocRequestSmartPhoneUrl, 'docbtn'))
      }
      return buttons
    },
    /**
     * 出前モジュールのボタン表示情報を取得
     * @returns {object} ボタンデータ
     */
    getDeliveryButtonData (buttons) {
      // API帰ってきた順に取得
      const deliveryCpList = this.getChildCpData(this.namespace.cid.demaekan)
      const buttonName = this.tenpo.Feature[0].Property.Detail.WaitingTime1 !== null ? '注文する' : '予約する'
      // （待ち時間30分：5分間隔で更新されます）
      for (const deliveryCp of deliveryCpList) {
        if (buttons.length >= 2) break
        buttons.push(this.createButton(buttonName, deliveryCp.CassetteHeader, deliveryCp.ReservationSmartPhoneUrl1, 'orderbtn'))
      }
      return buttons
    },
    /**
     * B-Timesのボタン表示情報を取得
     * @returns {object} ボタンデータ
     */
    getBTimesButtonData (buttons) {
      // B-Times
      const bTimesData = this.getChildCpData(this.namespace.cid.bTimes)[0]
      if (bTimesData) buttons.push(this.createButton('予約する', bTimesData.CassetteHeader, bTimesData.ReservationSmartPhoneUrl1, 'rsvbtn'))
      return buttons
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.reserveButtons {
  margin-bottom: 20px;
}

.reserveButton {
  margin-bottom: 10px;
  border: 1px solid #ead13d;

  &__content {
    display: block;
    position: relative;
    background-color: #fff19e;
  }

  &__information {
    display: block;
    position: relative;
    line-height: 1.0;
    padding: 14px 10px 14px 32px;
    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      width: 96%;
      height: 1px;
      margin-left: -48%;
      background: #ead13d;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      font-size: 10px;
      border-top: 2px solid $textColorBlack;
      border-right: 2px solid $textColorBlack;
      transform: rotate(45deg);
    }
    &:only-child {
      &:before {
        content: none;
      }
    }
  }

  &__description {
    position: absolute;
    top: 5px;
    color: #666;
    font-size: 10px;
  }

  &__tel {
    position: relative;
    display: inline-block;
    color: $textColorBlack;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    &:before {
      @include RiffIcon("\e130", 16, $textColorBlack);
      left: -22px;
      bottom: 0;
    }
    &--free {
      @extend .reserveButton__tel;
      color: #e75039;
      &:before {
        color: #e75039;
      }
    }
  }

  &__body {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      width: 96%;
      height: 1px;
      margin-left: -48%;
      background: #ead13d;
    }
    &:last-child {
      &:before {
        content: none;
      }
    }
  }

  &__title {
    position: relative;
    padding: 10px 10px 0 10px;
    font-weight: bold;
  }

  &__inner {
    @include clearfix;
    position: relative;
    padding: 20px 10px;
    text-align: center;
  }

  &__button {
    float: left;
    width: 49%;
    &:nth-child(even) {
      margin-left: 2%;
    }
    &:only-child {
      display: inline-block;
      float: none;
      text-align: center;
      width: 200px;
    }
  }

  &__link {
    @include button-main;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 5px;
    line-height: 1.2;
    align-items: center;
    position: relative;
  }

  &__note {
    font-weight: normal;
    font-size: 10px;
  }
}

.waitingTime {
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  &__note {
    &--time {
      color: #e75039;
      font-weight: bold;
    }
  }
}

.laterButton {
  position: relative;
  padding: 0 10px 20px;
  text-align: center;

  &__button {
    display: inline-block;
    text-align: center;
    width: 240px;
  }

  &__link {
    @include button-normal;
    display: block;
    box-sizing: border-box;
    padding: 8px 5px;
    font-size: 12px;
  }
}

.selectButton {
  position: relative;
  padding-top: 15px;
  text-align: center;

  &__container {
    display: inline-block;
    margin-top: 5px;
    white-space: nowrap;
  }

  &__inner {
    position: relative;
    margin-right: 2px;
    &:last-child {
      margin-right: 0;
      margin-left: 5px;
    }
    &:after {
      position: absolute;
      top: 50%;
      right: 7px;
      margin-top: -2px;
      content: "";
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: $textColorBlack transparent transparent transparent;
    }
  }
  &__selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 5px 23px 5px 5px;
    box-sizing: content-box;
    box-shadow: 0 1px #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    background: #fff;
  }

 &__note {
    font-weight: bold;
   margin-right: 2px;
  }

}

</style>
