<template>
<div class="restaurantRecommend">
  <!-- エリアのお店 -->
  <div id="areareco" class="recommend" v-if="status.aroundTenpo === 'binded' && !$root.isHiddenScType('areareco')">
    <h2 class="recommend__title tracked_mods">{{aroundTitle}}</h2>
    <ul class="recommend__list">
      <li class="recommend__item" v-for="tenpo in aroundTenpo.slice(0, 4)" :key="tenpo">
        <a :href="tenpo.Gid | tenpoUrlFilter" class="recommend__link" data-ylk="slk:rcplace">
          <img v-lazy="getResizedImage(resizedAroundTenpoImages, tenpo.Gid)" class="recommend__image" />
          <h3 class="recommend__name">{{ tenpo.Name }}</h3>
          <template v-if="tenpo.Property.Genre.length > 0 && tenpo.Property.Genre[0].Code.slice(0, 2) === '01'">
            <div class="recommend__topicality recommendTopicality--low" v-if="tenpo.Property.WebTopic.Label == 3">
              <p class="recommendTopicality__number--low"><span class="recommendTopicality__number--result">{{ tenpo.Property.WebTopic.Score }}/</span><span class="recommendTopicality__number--denominator">100</span></p>
            </div>
            <div class="recommend__topicality recommendTopicality--middle" v-else-if="tenpo.Property.WebTopic.Label == 2">
              <p class="recommendTopicality__number--middle"><span class="recommendTopicality__number--result">{{ tenpo.Property.WebTopic.Score }}/</span><span class="recommendTopicality__number--denominator">100</span></p>
            </div>
            <div class="recommend__topicality recommendTopicality--high" v-else-if="tenpo.Property.WebTopic.Label == 1">
              <p class="recommendTopicality__number--high"><span class="recommendTopicality__number--result">{{ tenpo.Property.WebTopic.Score }}/</span><span class="recommendTopicality__number--denominator">100</span></p>
            </div>
            <div class="recommend__topicality recommendTopicality--low" v-else>
              <p class="recommendTopicality__number--low"><span class="recommendTopicality__number--result">-</span></p>
            </div>
          </template>
          <p class="recommend__area">{{ tenpo.Property.Station | stationFilter }} {{ genreFilter(tenpo.Property.Genre) }}</p>
        </a>
      </li>
    </ul>
  </div>
  <!-- /エリアのお店 -->
  <!-- 最近チェックしたお店 -->
  <div id="history" class="recommend tracked_mods" v-if="status.historyTenpo === 'binded' && isGourmet && !isDeleted && !$root.isHiddenScType('history')">
    <h2 class="recommend__title">最近チェックしたお店</h2>
    <a class="recommend__button" v-on:click="deleteHisotry()" rel="nofollow" data-ylk="slk:delete;pos:0">履歴削除</a>
    <ul class="recommend__list">
      <li class="recommend__item" v-for="tenpo in historyTenpo.slice(0, 4)" :key="tenpo">
        <a :href="tenpo.Gid | tenpoUrlFilter" class="recommend__link" data-ylk="slk:hisplace">
          <img v-lazy="getResizedImage(resizedHistoryTenpoImages, tenpo.Gid)" class="recommend__image" />
          <h3 class="recommend__name">{{ tenpo.Name }}</h3>
          <div class="recommend__topicality recommendTopicality--low" v-if="tenpo.Property.WebTopic.Label == 3">
            <p class="recommendTopicality__number--low"><span class="recommendTopicality__number--result">{{ tenpo.Property.WebTopic.Score }}/</span><span class="recommendTopicality__number--denominator">100</span></p>
          </div>
          <div class="recommend__topicality recommendTopicality--middle" v-else-if="tenpo.Property.WebTopic.Label == 2">
            <p class="recommendTopicality__number--middle"><span class="recommendTopicality__number--result">{{ tenpo.Property.WebTopic.Score }}/</span><span class="recommendTopicality__number--denominator">100</span></p>
          </div>
          <div class="recommend__topicality recommendTopicality--high" v-else-if="tenpo.Property.WebTopic.Label == 1">
            <p class="recommendTopicality__number--high"><span class="recommendTopicality__number--result">{{ tenpo.Property.WebTopic.Score }}/</span><span class="recommendTopicality__number--denominator">100</span></p>
          </div>
          <div class="recommend__topicality recommendTopicality--low" v-else>
            <p class="recommendTopicality__number--low"><span class="recommendTopicality__number--result">-</span></p>
          </div>
          <p class="recommend__area">{{ tenpo.Property.Station | stationFilter }} {{ genreFilter(tenpo.Property.Genre) }}</p>
        </a>
      </li>
    </ul>
  </div>
  <!-- /最近チェックしたお店 -->
  <div id="ranking" class="ranking tracked_mods" v-if="status.aroundTenpo === 'binded' && !$root.isHiddenScType('ranking')" >
    <a class="ranking__button" :href="rankingUrl">周辺のお店（{{ rankingLabel }}）ランキング</a>
  </div>
</div>
</template>

<script>
import Base from '@lib/baseComponent'

const imgWidth = 140
const imgHeight = 99

export default {
  extends: Base,
  props: ['tenpo'],
  data () {
    return {
      isDeleted: false,
      aroundTenpo: {},
      resizedBufAroundTenpoImages: {},
      resizedAroundTenpoImages: [],
      historyTenpo: {},
      resizedHistoryTenpoImages: [],
      resizedBufHistoryTenpoImages: {}
    }
  },
  mounted: function () {
    // local storageが使用できる場合ののみ閲覧履歴を取得
    if (('localStorage' in window) && (window.localStorage !== null) && localStorage.getItem('Gid') !== null) {
      const historyGid = JSON.parse(localStorage.getItem('Gid')).join(',')
      if (historyGid === null) { return }

      this.getTenpo(
        {
          gid: historyGid,
          output: 'json'
        }, 'historyTenpo').then((result) => {
        const historyGidArr = historyGid.split(',')
        result.sort((a, b) => historyGidArr.indexOf(a.Gid) - historyGidArr.indexOf(b.Gid))
        this.resizeTenpoImages(result, 'resizedBufHistoryTenpoImages', this.resizedHistoryTenpoImages)
      })
    }

    // 店舗がnot foundの場合の対応処理
    if (Object.keys(this.tenpo).length === 0) { return }

    // 周辺のお店の取得
    const [lon, lat] = this.tenpo.Feature[0].Geometry.Coordinates.split(',')
    const genreCode = this.isGourmet ? this.tenpo.Feature[0].Property.Genre[0].Code : '01'
    this.getTenpo(
      {
        sort: 'geo',
        image: 'true',
        lat: lat,
        lon: lon,
        gc: genreCode,
        results: 5,
        output: 'json'
      }, 'aroundTenpo').then((result) => this.resizeTenpoImages(result, 'resizedBufAroundTenpoImages', this.resizedAroundTenpoImages))
  },
  filters: {
    /**
     * 最寄駅名のフィルター
     * @param {Object} station: 最寄駅情報
     */
    stationFilter: function (station) {
      return (station.length > 0) ? '[' + station[0].Name + ']' : ''
    },
    /**
     * 店舗詳細URLのフィルター
     * @param {String} gid: 店舗のgid
     */
    tenpoUrlFilter: function (gid) {
      return '/place/g-' + gid
    }
  },
  computed: {
    /**
     * 閲覧している店舗がグルメ店舗かどうか
     */
    isGourmet: function () {
      return this.g(this, 'tenpo.Feature[0].Property.Genre[0].Code') && this.tenpo.Feature[0].Property.Genre[0].Code.slice(0, 2) === '01'
    },
    /**
     * ランキングURL
     */
    rankingUrl: function () {
      const lastIndex = this.tenpo.Feature[0].Property.SearchArea.length - 1
      const genrecd = this.isGourmet ? this.tenpo.Feature[0].Property.Genre[0].Code : '01'
      return '/search/?genrecd=' + genrecd +
        '&areacd=' + this.tenpo.Feature[0].Property.SearchArea[lastIndex].Code
    },
    /**
     * ランキングの文言
     */
    rankingLabel: function () {
      const lastIndex = this.tenpo.Feature[0].Property.SearchArea.length - 1
      const genreName = this.isGourmet ? this.tenpo.Feature[0].Property.Genre[0].Name : 'グルメ'
      return this.tenpo.Feature[0].Property.SearchArea[lastIndex].Name + '×' + genreName
    },
    /**
     * 「周辺のお店」のタイトル
     */
    aroundTitle: function () {
      return this.isGourmet ? this.tenpo.Feature[0].Name + '周辺の' + this.tenpo.Feature[0].Property.Genre[0].Name
        : this.tenpo.Feature[0].Name + '周辺のグルメスポット'
    }
  },
  methods: {
    /**
     * 閲覧履歴の除去、閲覧履歴モジュールの非表示
     */
    deleteHisotry: function () {
      localStorage.removeItem('Gid')
      this.isDeleted = true
    },
    /**
     * 履歴の店舗情報取得（lsbeを叩く）
     * @see https://jira.corp.yahoo.co.jp/browse/POTARA-1774
     * @param {Object} params パラメータ
     * @pram {String} 格納するデータ名
     */
    getTenpo: function (params, name) {
      const gid = Object.keys(this.tenpo).length > 0 ? this.tenpo.Feature[0].Gid : ''
      return this.bindRequest({
        name: name,
        url: this.namespace.API.lsbe,
        params: params,
        dataType: 'json',
        translator: tenpo => tenpo.Feature.filter((feature) => feature.Gid !== gid)
      })
    },
    /**
     * 優先順位の高い画像一覧とそのcid取得
     * @param {[Onject]} tenpoFeature tenpo.Feature
     */
    getImgObj: function (tenpoFeature) {
      let imgObj = []
      for (const tenpo of tenpoFeature) {
        const images = this.getCidImg(tenpo)
        if (images.length > 0) { // 画像がある場合のみ対応
          images.sort((imageA, imageB) => this.getCidPriority(imageA.cid) - this.getCidPriority(imageB.cid))
          imgObj.push({url: images[0].url, gid: images[0].gid})
        }
      }
      return imgObj
    },
    /**
     * ImageCidの取得
     * @param {Onject} tenpoFeature tenpo.Property.Feature
     */
    getCidImg: function (tenpoFeature) {
      return Object.keys(tenpoFeature.Property.Detail)
        .filter(val => /^Image(\d{1,3}|1000)$/.test(val))
        .map(val => ({
          url: tenpoFeature.Property.Detail[val],
          cid: tenpoFeature.Property.Detail[`ImageCid${val.substring(5)}`],
          gid: tenpoFeature.Gid
        }))
    },
    /**
     * cidの優先度を取得
     * @param {String} cid
     */
    getCidPriority: function (cid) {
      return this.namespace.cidPriority.hasOwnProperty(cid) ? this.namespace.cidPriority[cid] : this.namespace.cidPriority['default']
    },
    /**
     * リサイズ後の周辺店舗の画像取得
     * @param {String} gid 店舗のgid
     */
    getResizedAroundTenpoImage: function (gid) {
      return this.resizedAroundTenpoImages
        .filter(img => img.gid === gid)
        .map(img => img.url)
    },
    /**
     * リサイズ後の画像取得
     * @param {String} gid 店舗のgid
     */
    getResizedImage: function (resizedImges, gid) {
      const url = resizedImges
        .filter(img => img.gid === gid)
        .map(img => img.url)
      return url.length > 0 ? url[0] : this.namespace.noImage['270x198']
    },
    /**
     * 店舗をリサイズ
     * @param {Object} result 店舗情報
     * @param {Object} name リサイズ後のレスポンスを格納するオブジェクト
     * @param {Array} array 最終結果を格納する配列
     */
    resizeTenpoImages: function (result, name, array) {
      const imgObj = this.getImgObj(result)
      for (const img of imgObj) {
        this.resizeImages(img.gid, [{urls: [img.url], width: imgWidth, height: imgHeight}], name).then((result) => {
          array.push({gid: img.gid, url: result[img.url][imgWidth + 'x' + imgHeight]})
        })
      }
    },
    /**
     * ジャンル名のフィルター
     * @param {Object} genre: ジャンル情報
     * @returns {String} ジャンル名
     */
    genreFilter: function (genre) {
      return genre.length > 0 && this.isGourmet ? genre[0].Name
        : 'グルメスポット'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';


.restaurantRecommend{
  margin-bottom: 20px;
}

.recommend{
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: solid 1px #ddd;

  &__title{
    position: relative;
    margin-bottom: 12px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    &--check{
      @extend .recommend__title;
      margin-bottom: 13px;
      padding: 0 130px 0 10px;
    }
  }
  &__button {
    @include button-normal;
    display: block;
    position: absolute;
    top: -7px;
    right: 10px;
    padding: 4px 19px 5px 19px;
  }
  &__list{
    padding: 0 10px;
    font-size: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    white-space: nowrap;
  }
  &__item{
    margin-right: 10px;
    display: inline-block;
    width: 135px;
    box-sizing: border-box;
    vertical-align: top;
    white-space: normal;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    display: block;
    color: $textColorBlack;
    &:hover{
      text-decoration: none;
    }
    &:active{
      text-decoration: none;
    }
  }
  &__image{
    max-width: 100%;
    width: 140px;
    height: 99px;
    margin-bottom: 3px;
  }
  &__name{
    margin-bottom: 4px;
    overflow: hidden;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.4;
  }
  &__area{
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
  }
}
.recommendTopicality {
  margin-bottom: 3px;
  &:before {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  &--high {
    @extend .recommendTopicality;
    &:before {
      @include svgIcon(25, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_a.svgz");
      display: inline-block;
    }
  }
  &--middle {
    @extend .recommendTopicality;
    &:before {
      @include svgIcon(20, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_b.svgz");
      display: inline-block;
    }
  }
  &--low {
    @extend .recommendTopicality;
    &:before {
      @include svgIcon(20, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_c.svgz");
      display: inline-block;
    }
  }
  &__number {
    @include balloon;
    font-size: 12px;
    &--low {
      @extend .recommendTopicality__number;
      background-color: #e2ca9f;
      &:before {
        border-color: transparent #e2ca9f transparent transparent;
      }
    }
    &--middle {
      @extend .recommendTopicality__number;
      background-color: #f98e2d;
      &:before {
        border-color: transparent #f98e2d transparent transparent;
      }
    }
    &--high {
      @extend .recommendTopicality__number;
      background-color: #f45a3e;
      &:before {
        border-color: transparent #f45a3e transparent transparent;
      }
    }
    &--denominator {
      font-size: 10px;
    }
  }
}
.ranking {
  position: relative;
  margin-bottom: 20px;
  padding: 0 10px;

  &__button{
    font-size: 14px;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 10px 25px 10px 43px;
    border: 1px solid #dfdfdf;
    color: $textColorBlack;
    border-radius: 5px;
    background: #f8f8f8;
    &:before {
      @include svgIcon(23, 18, "https://s.yimg.jp/images/loco/front/images/common/icons/ranking.svgz");
      display: inline-block;
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:after {
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      content: '';
      transform: rotate(45deg);
      border-top: 2px solid #777;
      border-right: 2px solid #777;
    }
  }
}
</style>
