<template>
  <div id="ysearch" class="searchAssistance tracked_mods">
    <h2 class="searchAssistance__title">Yahoo!検索で調べる</h2>
    <div class="searchAssistance__container">
      <ul class="searchAssistance__list">
        <li class="searchAssistance__item">
          <a :href="getSearchUrl()" class="searchAssistance__link" rel="nofollow" data-ylk="slk:text">{{tenpo.Feature[0].Name}}</a>
        </li>
        <li class="searchAssistance__item" v-for="searchWord in searchWords" :key="searchWord">
          <a :href="getSearchUrl(searchWord)" class="searchAssistance__link" rel="nofollow" data-ylk="slk:text">
            <span class="searchAssistance__tag--name">{{tenpo.Feature[0].Name}}</span>
            <span class="searchAssistance__tag--note">{{searchWord}}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="searchAssistance__type typeList">
      <ul class="typeList__list">
        <li class="typeList__item">
          <a :href="imageSearchUrl" class="typeList__link--image" rel="nofollow" data-ylk="slk:imgsrch;pos:0">
            <p class="typeList__title">画像をさがす</p>
            <p class="typeList__note">(画像検索)</p>
          </a>
        </li>
        <li class="typeList__item" v-if="hasRestaurantGenre">
          <a :href="realTimeSearchUrl" class="typeList__link--tweet" rel="nofollow" data-ylk="slk:twtsrch;pos:0">
            <p class="typeList__title">ツイートを探す</p>
            <p class="typeList__note">(リアルタイム検索)</p>
          </a>
        </li>
      </ul>
    </div>

    <div class="searchAssistance__container">
      <p class="searchAssistance__note">関連する求人を調べる（Yahoo!しごと検索）</p>
      <ul class="searchAssistance__list">
        <li class="searchAssistance__item"><a :href="jobTenpoUrl" class="searchAssistance__link" rel="nofollow">{{tenpo.Feature[0].Name}} 求人</a></li>
        <li class="searchAssistance__item"><a :href="jobAreaUrl" class="searchAssistance__link" rel="nofollow">{{areaName}} 求人</a></li>
        <li class="searchAssistance__item" v-if="hasStation"><a :href="jobStationUrl" class="searchAssistance__link" rel="nofollow">{{tenpo.Feature[0].Property.Station[0].Name}}駅 求人</a></li>
        <li class="searchAssistance__item" v-if="hasGenre"><a :href="jobGenreUrl" class="searchAssistance__link" rel="nofollow">{{tenpo.Feature[0].Property.Genre[0].Name}} 求人</a></li>
      </ul>
    </div>
  </div>
</template>

<script>
  import base from '@lib/baseComponent'
  // 検索キーワードの候補。ジャンルコードとキーワード
  const SEARCH_WORD_CANDIDATE = {
    '01': ['料金', 'メニュー', 'ブログ'],
    '02': ['営業時間', 'ブログ'],
    '03': ['営業時間', 'クチコミ', 'ブログ'],
    '04': ['費用', 'クチコミ', 'ブログ'],
    '05': ['営業時間'],
    '0101': ['料金', 'メニュー', 'ブログ'],
    '0102': ['料金', 'メニュー', 'ブログ'],
    '0103': ['料金', 'メニュー', 'おすすめ'],
    '0104': ['料金', 'メニュー', 'ブログ'],
    '0105': ['料金', 'メニュー', 'ブログ'],
    '0106': ['料金', 'メニュー', 'ブログ'],
    '0107': ['料金', 'メニュー', 'ブログ'],
    '0108': ['料金', 'メニュー', 'ブログ'],
    '0109': ['料金', 'メニュー', 'ブログ'],
    '0110': ['料金', 'メニュー', 'ブログ'],
    '0111': ['料金', 'メニュー', 'ブログ'],
    '0112': ['料金', 'メニュー', 'ブログ'],
    '0113': ['料金', 'メニュー', 'ブログ'],
    '0114': ['料金', 'メニュー', 'ブログ'],
    '0115': ['メニュー', 'ブログ', 'おすすめ'],
    '0116': ['メニュー', 'ブログ', 'おすすめ'],
    '0117': ['メニュー', 'ブログ', 'おすすめ'],
    '0118': ['メニュー', 'ブログ', 'おすすめ'],
    '0119': ['メニュー', 'ブログ', 'おすすめ'],
    '0120': ['料金', 'クチコミ', 'ブログ'],
    '0121': ['料金', 'クチコミ', 'ブログ'],
    '0122': ['メニュー', 'クチコミ', 'ブログ'],
    '0123': ['メニュー', 'ブログ', 'おすすめ'],
    '0124': ['料金', 'クチコミ', 'ブログ'],
    '0125': ['メニュー', 'クチコミ', 'ブログ'],
    '0126': ['料金', 'メニュー', 'ブログ'],
    '0127': ['料金', 'メニュー', 'ブログ'],
    '0128': ['料金', 'メニュー', 'ブログ'],
    '0201': ['営業時間', 'ブログ'],
    '0202': ['営業時間', 'ブログ'],
    '0203': ['営業時間', 'ブログ'],
    '0204': ['営業時間', 'ブログ'],
    '0205': ['営業時間', 'ブログ'],
    '0206': ['営業時間', 'ブログ'],
    '0207': ['営業時間', 'ブログ'],
    '0208': ['営業時間', 'ブログ'],
    '0209': ['営業時間', 'ブログ'],
    '0210': ['営業時間', 'ブログ'],
    '0211': ['商品', 'クチコミ', 'ブログ'],
    '0301': ['料金', '営業時間', 'クチコミ'],
    '0302': ['料金', '営業時間'],
    '0303': ['料金', 'クチコミ', 'ブログ'],
    '0304': ['料金', 'クチコミ', 'ブログ'],
    '0305': ['営業時間', 'クチコミ', 'ブログ'],
    '0306': ['料金', '営業時間', 'ブログ'],
    '0307': ['営業時間', 'クチコミ', 'ブログ'],
    '0308': ['新台', '営業時間', 'ブログ'],
    '0401': ['診療時間', 'クチコミ', '診療科'],
    '0402': ['営業時間', 'クチコミ', 'ブログ'],
    '0403': ['営業時間', '料金', 'ブログ'],
    '0404': ['営業時間', '料金', 'クチコミ'],
    '0405': ['クチコミ', 'ブログ', 'コース'],
    '0406': ['クチコミ', 'ブログ'],
    '0407': ['費用', 'クチコミ', 'ブログ'],
    '0408': ['費用', 'クチコミ', 'ブログ'],
    '0409': ['営業時間', 'クチコミ'],
    '0410': ['営業時間', 'クチコミ'],
    '0411': ['営業時間', 'クチコミ'],
    '0412': ['営業時間', 'クチコミ'],
    '0413': ['営業時間', 'クチコミ', 'ブログ'],
    '0414': ['クチコミ', 'ブログ', 'フェア'],
    '0415': ['費用', 'クチコミ', 'ブログ'],
    '0416': ['営業時間', 'クチコミ'],
    '0417': ['診療時間', 'クチコミ', 'ブログ'],
    '0418': ['営業時間', 'クチコミ', 'ブログ'],
    '0419': ['料金', 'クチコミ', 'ブログ'],
    '0420': ['クチコミ', '受付時間', 'ブログ'],
    '0421': ['クチコミ', 'ブログ'],
    '0422': ['開庁時間'],
    '0423': [],
    '0424': ['ブログ'],
    '0425': [],
    '0501': ['営業時間'],
    '0502': ['営業時間'],
    '0503': ['営業時間'],
    '0504': ['営業時間'],
    '0505': ['営業時間'],
    '0506': ['営業時間'],
    '0507': ['営業時間'],
    '0508': ['営業時間'],
    '0509': ['営業時間'],
    '0510': ['営業時間'],
    '0511': ['営業時間'],
    '0301011': ['営業時間', '料金', 'クーポン', 'コース', '宿泊', '天気']
  }

  const RESTAURANT_GENRE_CODE = '01'
  export default {
    props: ['tenpo'],
    extends: base,
    computed: {
      hasRestaurantGenre: function () {
        // 先頭2文字で判断
        for (let genre of this.tenpo.Feature[0].Property.Genre) {
          if (genre.Code.slice(0, 2) === RESTAURANT_GENRE_CODE) {
            return true
          }
        }
        return false
      },
      hasGenre: function () {
        return this.tenpo.Feature[0].Property.Genre != null && this.tenpo.Feature[0].Property.Genre.length > 0
      },
      hasStation: function () {
        return this.tenpo.Feature[0].Property.Station.length > 0
      },
      /**
       * エリア名を返す
       */
      areaName: function () {
        return this.tenpo.Feature[0].Property.AddressElement[0].Name + this.tenpo.Feature[0].Property.AddressElement[1].Name
      },
      /**
       * リアルタイム検索のURLを返す
       */
      realTimeSearchUrl: function () {
        return this.namespace.Url.search + '/realtime/search?ei=UTF-8&fr=lmd_poi&rkf=1&p=' +
          encodeURIComponent(this.tenpo.Feature[0].Name)
      },
      /**
       * イメージ検索のURLを返す
       */
      imageSearchUrl: function () {
        return this.namespace.Url.search + '/image/search?ei=UTF-8&fr=lmd_poi&rkf=1&p=' +
                encodeURIComponent(this.tenpo.Feature[0].Name)
      },
      /**
       * 店舗名での求人のURLを返す
       */
      jobTenpoUrl: function () {
        return this.namespace.Url.job + '/jobs?q=' +
          encodeURIComponent(this.tenpo.Feature[0].Name) +
          '&l=' + encodeURIComponent(this.tenpo.Feature[0].Property.AddressElement[0].Name) + encodeURIComponent(this.tenpo.Feature[0].Property.AddressElement[1].Name)
      },
      /**
       * 都道府県での求人のURLを返す
       */
      jobAreaUrl: function () {
        return this.namespace.Url.job + '/jobs?l=' +
          encodeURIComponent(this.tenpo.Feature[0].Property.AddressElement[0].Name) + encodeURIComponent(this.tenpo.Feature[0].Property.AddressElement[1].Name)
      },
      /**
       * 駅名での求人のURLを返す
       */
      jobStationUrl: function () {
        return this.namespace.Url.job + '/jobs?l=' +
          encodeURIComponent(this.tenpo.Feature[0].Property.Station[0].Name) + '駅'
      },
      /**
       * ジャンルでの求人のURLを返す
       */
      jobGenreUrl: function () {
        return this.namespace.Url.job + '/jobs?q=' +
          encodeURIComponent(this.tenpo.Feature[0].Property.Genre[0].Name) +
          '&l=' + encodeURIComponent(this.tenpo.Feature[0].Property.AddressElement[0].Name) + encodeURIComponent(this.tenpo.Feature[0].Property.AddressElement[1].Name)
      },
      /**
       * 検索ワードを返す
       */
      searchWords: function () {
        // ジャンルコードとキーワードのマッチング
        let genreCode = this.getGenreCode()
        if (genreCode === '0301011') { // スキーの場合
          return SEARCH_WORD_CANDIDATE[genreCode]
        } else if (genreCode.length >= 4) { // 4桁以上の場合
          return SEARCH_WORD_CANDIDATE[genreCode.slice(0, 4)]
        } else if (genreCode.length === 2) { // 2桁の場合
          return SEARCH_WORD_CANDIDATE[genreCode]
        }

        // 上記に該当しない場合は空の配列を返す
        return []
      }
    },
    methods: {
      /**
       * ジャンルコードの取得
       */
      getGenreCode () {
        // ジャンルが複数ある場合。2桁以上のものを取り出す（先着順）
        let genreCode = ''
        for (let genre of this.tenpo.Feature[0].Property.Genre) {
          if (genre.Code.length >= 2) {
            genreCode = genre.Code
            break
          }
        }

        return genreCode
      },
      /**
       * 検索URLの取得
       * @param {String} keyword: 検索ワード
       */
      getSearchUrl (keyword = '') {
        return this.namespace.Url.search + '/search?ei=UTF-8&rkf=1&fr=link_choice_lmd&p=' + encodeURIComponent(this.tenpo.Feature[0].Name + ' ' + keyword)
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.searchAssistance {
  margin-bottom: 20px;
  font-size: 12px;
  background: #fff;

  &__title{
    @include placeTitle;
  }

  &__container{
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding: 0 10px 0 35px;
    overflow: hidden;
    &:after{
      @include RiffIcon("\E140", 20, #666);
      top:-5px;
      left: 10px;
    }
  }

  &__item{
    display: inline-block;
    margin: 0 8px 5px 0;
    font-weight: bold;
    font-size: 12px;
    background: #eee;
    border-radius: 4px;
  }

  &__link{
    display: block;
    padding: 3px 10px;
  }

  &__tag{
    &--name{
      margin-right: 5px;
    }
    &--note{
      font-weight: normal;
    }
  }

  &__note{
    margin-bottom: 5px;
    font-size: 14px;
  }
}

.typeList{
  margin: 0 0 10px 35px;

  &__item{
    display: inline-block;
    margin: 0 8px 5px 0;
  }

  &__link{
    display: block;
    padding: 3px 10px;
    &--image{
      @extend .searchAssistance__item;
      position: relative;
      margin: 0;
      padding: 6px 6px 6px 35px;
      &:before {
        content: '';
        position: absolute;
        top:15px;
        left: 10px;
        width: 21px;
        height: 21px;
        background: url(https://s.yimg.jp/images/loco/sp/img/poi/sprite_poi_common.png) no-repeat ;
        background-position: -28px 0;
        background-size: auto 21px
      }
    }
    &--tweet {
      @extend .searchAssistance__item;
      position: relative;
      margin: 0;
      padding: 6px 6px 6px 35px;
      &:before{
        content: '';
        position: absolute;
        top:15px;
        left: 10px;
        width: 21px;
        height: 21px;
        background: url(https://s.yimg.jp/images/loco/sp/img/poi/sprite_poi_common.png) no-repeat ;
        background-position: 0 0;
        background-size: auto 21px
      }
    }
  }

  &__note{
    color: $textColorGray;
    font-weight: normal;
    font-size: 11px;
  }
}
</style>
