<template>
  <li class="searchResult__item">
    <a :href="result.clickUrl.innerText" class="searchResult__link--promotion" target="_blank" rel="nofollow noopener">
      <p class="searchResult__name" v-html="result.title"></p>
      <p class="searchResult__address">{{ result.siteHost }}</p>
      <p class="searchResult__note" v-html="result.description"></p>
    </a>
    <p class="searchResult__note searchResultPromotion">広告</p>
  </li>
</template>

<script>
export default {
  props: ['keywords', 'result']
}
</script>

<style>

</style>
