<template>
  <div id="research" class="searchResult tracked_mods" v-if="getCount() !== 0 && isExistAd() && g(adInfeed, 'keywordsRatingSet.keywords') && !$root.isHiddenScType('research')">
    <!-- {{this.queryValue}}がちゃんとエンコーディングしてなかった -->
    <h2 class="searchResult__title">{{ g(adInfeed, 'keywordsRatingSet.keywords') }}の検索結果</h2>
    <ul class="searchResult__list">
      <!-- Infeed広告その1 -->
      <search-result-ad
        v-if="g(adInfeed, 'resultSet.listing') && g(adInfeed, 'resultSet.listing').length > 0"
        :keywords="g(adInfeed, 'keywordsRatingSet.keywords')"
        :result="g(adInfeed, 'resultSet.listing[0]')">
      </search-result-ad>
      <!-- Infeed広告その2 -->
      <search-result-ad
        v-if="g(adInfeed, 'resultSet.listing') && g(adInfeed, 'resultSet.listing').length > 2"
        :keywords="g(adInfeed, 'keywordsRatingSet.keywords')"
        :result="g(adInfeed, 'resultSet.listing[1]')">
      </search-result-ad>

      <template v-for="tenpo in this.tenpoList" v-if="tenpo">
        <li class="searchResult__item" :key="tenpo">
          <a :href="'/place/g-' + tenpo.Gid + '/'" class="searchResult__link">
            <div class="searchResult__image searchResultImage"><img :src="getConvertedImage(tenpo.Gid)" :alt="tenpo.Name" class="searchResultImage__image" />
            </div>
            <div class="searchResult__detail">
              <p class="searchResult__name">{{tenpo.Name}}</p>
              <p class="searchResult__area">{{getStationGenreText(tenpo)}}</p>
              <div :class="'searchResult__label--' + getWebTopicClassType(tenpo.Property.WebTopic.Label)">
                <p :class="'searchResult__number--' + getWebTopicClassType(tenpo.Property.WebTopic.Label)">
                  <span class="searchResult__number--result">{{getWebTopic(tenpo.Property.WebTopic)}}</span><span class="searchResult__number--denominator">{{getWebTopicMax(tenpo.Property.WebTopic.Label)}}</span>
                </p>
              </div>
            </div>
          </a>
        </li>
      </template>

      <!-- Infeed広告その3-1 -->
      <search-result-ad
        v-if="g(adInfeed, 'resultSet.listing') && g(adInfeed, 'resultSet.listing').length == 2"
        :keywords="g(adInfeed, 'keywordsRatingSet.keywords')"
        :result="g(adInfeed, 'resultSet.listing[1]')">
      </search-result-ad>
      <!-- Infeed広告その3-2 -->
      <search-result-ad
        v-if="g(adInfeed, 'resultSet.listing') && g(adInfeed, 'resultSet.listing').length > 2"
        :keywords="g(adInfeed, 'keywordsRatingSet.keywords')"
        :result="g(adInfeed, 'resultSet.listing[2]')">
      </search-result-ad>
    </ul>

  </div>

</template>

<script>
import base from '@lib/baseComponent'
import searchResultAd from '@sp/components/place/searchResultAd.vue'

const noImageSize = '200x200'

export default {

  components: {
    searchResultAd
  },
  data () {
    return {
      queryValue: '',
      researchTenpoList: {},
      tenpoList: {},
      resizeTenpoImages: {}
    }
  },
  props: ['tenpo', 'adInfeed'],
  extends: base,
  mounted () {
    this.queryValue = this.g(this.adInfeed, 'keywordsRatingSet.keywords')

    if (typeof this.queryValue === 'undefined' || this.queryValue === null) {
      return
    }

    this.bindRequest({
      name: 'researchTenpoList',
      url: this.namespace.API.research,
      params: {
        start: 1,
        results: 3,
        ac: 'JP',
        sort: 'hybrid',
        query: this.queryValue
      }
    }).then((researchTenpoList) => {
      if (researchTenpoList == null) {
        return null
      }

      this.tenpoList = researchTenpoList.Feature.slice(0, 3)
      for (const tenpo of this.tenpoList) {
        const imageUrl = this.getImage(tenpo)
        if (imageUrl == null) {
          continue
        }

        this.getImageResizePromise(tenpo.Gid, imageUrl, 160, 160).then((value) => {
          this.resizeTenpoImages[tenpo.Gid] = this.namespace.Url.iwizBase + value.ResultSet.Result[0].Url
          this.$forceUpdate()
        })
      }
    })
  },
  methods: {
    getCount () {
      const tenpoList = this.researchTenpoList.Feature
      if (tenpoList == null) {
        return 0
      }
      return tenpoList.length
    },
    isExistAd () {
      if (typeof this.adInfeed === 'undefined' || this.adInfeed === null || typeof this.adInfeed.resultSet === 'undefined' || this.adInfeed.resultSet === null) {
        return false
      }
      return true
    },
    getQueryParam (url) {
      if (url == null) {
        return null
      }

      const params = url.substring(url.indexOf('?') + 1, url.length).split('&')
      for (const param of params) {
        let key = param.split('=')[0]
        let value = param.split('=')[1]
        if (key === 'p') {
          return value
        }
      }

      return null
    },
    getWebTopicClassType (label) {
      if (label === '1') {
        return 'high'
      } else if (label === '2') {
        return 'middle'
      }
      return 'low'
    },
    getWebTopic (webTopic) {
      const label = webTopic.Label
      const score = webTopic.Score
      if (label === '1') {
        return '話題沸騰 ' + score + '/'
      } else if (label === '2') {
        return '注目 ' + score + '/'
      } else if (label === '3') {
        return score + '/'
      } else {
        return '-'
      }
    },
    getWebTopicMax (label) {
      if (label === '1' || label === '2' || label === '3') {
        return '100'
      }
      return ''
    },
    getStationGenreText (tenpo) {
      const stationList = tenpo.Property.Station
      const genreList = tenpo.Property.Genre

      let station = ''
      let genre = ''

      if (stationList != null && stationList.length !== 0) {
        station = stationList[0].Name
      }

      if (genreList != null && genreList.length !== 0) {
        genre = genreList[0].Name
      }

      return '[' + station + '] ' + genre
    },
    getImage (tenpo) {
      const images = this.getCidImg(tenpo.Property.Detail)
      images.sort((imageA, imageB) => this.getCidPriority(imageA.cid) - this.getCidPriority(imageB.cid))
      if (images == null || images.length === 0) {
        return null
      }
      const imageUrl = images[0].url

      if (imageUrl == null) {
        return null
      }

      return imageUrl
    },
    getCidImg (tenpoDetail) {
      return Object.keys(tenpoDetail)
        .filter(val => /^Image\d{1,2}$/.test(val))
        .map(val => ({
          url: tenpoDetail[val],
          cid: tenpoDetail[`ImageCid${val.substring(5)}`]
        }))
    },
    getCidPriority (cid) {
      return this.namespace.cidPriority.hasOwnProperty(cid) ? this.namespace.cidPriority[cid] : this.namespace.cidPriority['default']
    },
    getImageResizePromise (gid, url, width, height) {
      const image = {
        url: url,
        width: width,
        height: height
      }
      const params = {
        gid: gid,
        images: [image]
      }

      return this.post(this.namespace.API.resizeImage, params)
    },
    getConvertedImage (gid) {
      const convertedImages = this.resizeTenpoImages[gid]
      if (typeof convertedImages === 'undefined' || convertedImages === null) {
        return this.namespace.noImage[noImageSize]
      }
      return convertedImages
    }
  }
}
</script>

<style lang="scss">
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.searchResult {
  margin-bottom: 20px;
  background: #fff;

  &__title {
    @include placeTitle;
  }

  &__item {
    display: table;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    box-sizing:border-box;
  }

  &__link {
    display: block;
    padding: 10px;
    &--promotion{
      @extend .searchResult__link;
      padding-bottom: 0px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 16px;
  }

  &__address {
    color: $textColorGray;
    font-size: 12px;
  }

  &__note {
    color: $textColorBlack;
    font-size: 12px;
  }

  &__detail {
    display: table-cell;
    padding-left: 10px;
    vertical-align: top;
  }

  &__area {
    @extend .searchResult__address;
    margin-bottom: 3px;
  }

  &__label {
    &:before {
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
    }

    &--high {
      @extend .searchResult__label;
      &:before {
        @include svgIcon(25, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_a.svgz");
        display: inline-block;
      }
    }

    &--middle {
      @extend .searchResult__label;
      &:before {
        @include svgIcon(20, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_b.svgz");
        display: inline-block;
      }
    }

    &--low {
      @extend .searchResult__label;
      &:before {
        @include svgIcon(20, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_c.svgz");
        display: inline-block;
      }
    }
  }

  &__number {
    @include balloon;

    &--high {
      @extend .searchResult__number;
      background-color: #f45a3e;
      &:before {
        border-color: transparent #f45a3e transparent transparent;
      }
    }

    &--middle {
      @extend .searchResult__number;
      background-color: #f98e2d;
      &:before {
        border-color: transparent #f98e2d transparent transparent;
      }
    }

    &--low {
      @extend .searchResult__number;
      background-color: #e2ca9f;
      &:before {
        border-color: transparent #e2ca9f transparent transparent;
      }
    }

    &--denominator {
      font-size: 10px;
    }
  }

}

.searchResultImage {
    display: table-cell;
    width: 23.5%;
  &__image {
    display: block;
    width: 100%;
  }
}

.searchResultPromotion {
  position: relative;
  padding: 0 10px 10px 10px ;
  text-align: right;
  &__tel {
    display: inline-block;
    position: absolute;
    top: 0 ;
    left: 10px ;
    font-size: 14px;
  }
}

</style>
