<template>
<div v-if="imageList.length !== 0 && status.resizedImages === 'binded'" id="picture" class="signboard tracked_mods">
  <a :href="$root.addUrlParameters(photoUrl, ['sc_type'])" class="signboard__link"><img :src="resizedImages[imageList[0].url][imgSizes[imageList[0].url]]" class="signboard__image"></a>
</div>
</template>

<script>
import Base from '@lib/baseComponent'

// 表示画像幅、高
const imgWidth = 400
const imgHeight = 225

export default {
  extends: Base,
  data () {
    return {
      imageList: [],
      resizedImages: {},
      imgSizes: {}
    }
  },
  computed: {
    photoUrl: function () {
      return '/place/g-' + this.tenpo.Feature[0].Gid + '/photo/'
    },
    imgSize: function () {
      return imgWidth + 'x' + imgHeight
    }
  },
  props: {
    tenpo: Object // tenpo
  },
  mounted () {
    const gid = this.tenpo.Feature[0].Gid
    const lsbeDetail = this.tenpo.Feature[0].Property.Detail

    // LSBEの店舗画像を取得
    const lsbeImageList = Object.keys(lsbeDetail)
      .filter(val => /^Image(\d{1,3}|1000)$/.test(val))
      .map(val => ({
        url: lsbeDetail[val],
        cid: lsbeDetail[`ImageCid${val.substring(5)}`]
      }))

    const defaultPriority = 12
    const cidPriority = {
      'efca7abc05c8e23eb6730ea3666055cf': 1, // JRシステム
      'ccafb5a32d608190f3e6c8dd35847773': 1, // ロコプレミアムカセット
      'fc79df0c92570d73837433fa66f70a2c': 1, // 東京カフェ360
      'bb181b59aa335ed7ecc83f3f1411ae7f': 2, // ヒトサラ
      '1852ed1e9b6d12c23cd34e79a4be4c71': 2, // 一休
      '6a3b6ed40d949a607ebbf0d058cdd838': 5, // ホットペッパー
      '518d328f20aa43f667ce53a27bd6cd75': 5, // yoyaQ
      '132c700e0ebf5a1d386e9b725d7d1e6b': 6, // ロコプレイス
      '8024afaf82bcaaa4c33b91deea651df1': 6, // Yahooトラベル
      'a6e27b84663abc4336dc275c6fb7f978': 7, // ぐるなび
      '98c3fee387a42040f9cd0cb8a2889214': 7, // フォートラベル（国内）
      '495994ae74f963272cb2911309aa63d6': 7, // フォートラベル（国外）
      '354fa32c107eec4bd1d2f5ea72f71bee': 8, // Retty
      '464c71b5570d5e0fb005a0b11a67e146': 9, // 食べログ
      'fae87802e3fdc839611859a7bb3fe738': 13 // ピクニック
    }

    for (const image of lsbeImageList) {
      let imageObj = {}
      const imageUrl = image.url
      const imageCid = image.cid

      // 画像の設定
      imageObj['url'] = imageUrl
      imageObj['priority'] = cidPriority.hasOwnProperty(imageCid) ? cidPriority[imageCid] : defaultPriority

      this.imageList.push(imageObj)
    }

    // 画像を優先度順に並び替える
    this.imageList.sort((a, b) => a.priority - b.priority)

    // 表示する画像は優先度が高い1枚であるため、2枚目以降を削除する
    this.imageList = this.imageList.slice(0, 1)

    // 画像変換用のリクエストパラメータ作成
    let urls = []
    for (const image of this.imageList) {
      urls.push(image.url)
    }

    // 画像のリサイズ
    let resizeImageOptions = []
    const buildResizeImageOptions = urls.map(url => {
      return new Promise(resolve => {
        this.getImageSize(url).then(imgSize => {
          const { width, height, cropWidthCenter, cropHeightCenter } = this.calResizeImageOptions([imgSize.width, imgSize.height], [imgWidth, imgHeight])
          resizeImageOptions.push({
            urls: [url],
            quality: 100,
            width,
            height,
            cropWidthCenter,
            cropHeightCenter
          })
          this.imgSizes[url] = width + 'x' + height
          resolve()
        })
      })
    })
    Promise.all(buildResizeImageOptions).then(() => this.resizeImages(gid, resizeImageOptions))
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';
  .signboard{
    width: 100%;
    &__link {
      display: block;
      position: relative;
      min-height: 180px; // Android legacyデバイス用
      height: 56.25vw; // 225/400 を画面幅いっぱいに表示した時の高さ
      &::after {
        content: "";
        @include loadingCircle();
        z-index: -1;
      }
    }
    &__image{
      display: block;
      width: 100%;
      height: auto;
    }
  }
</style>
