<template>
<div class="subNavigation" v-if="Array.isArray(items) && items.length > 1">
  <ul class="subNavigation__body tracked_mods" :id="isWedding ? 'srvclm' : 'mnclm'">
    <li class="subNavigation__item" v-for="item in items" :key="item">
      <span v-if="isActive(item.page)" class="subNavigation__link--active" v-text="item.title"></span>
      <a v-else :href="$root.addUrlParameters(item.url, ['sc_type'])" class="subNavigation__link" v-text="item.title" :data-ylk="`slk:${item.page};pos:0`"></a>
    </li>
  </ul>
</div>
</template>

<script>
export default {
  props: {
    page: String,
    items: Array
  },
  computed: {
    isWedding () {
      return this.page === 'marriage' || this.page === 'wedding' || this.page === 'bridal'
    }
  },
  methods: {
    isActive (value) {
      return value === this.page
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.subNavigation {
  $height: 34px;
  margin-bottom: 10px;

  &__body {
    display: table;
    width: 100%;
    border-bottom: 1px solid #a8d5d5;
    table-layout: fixed;
  }

  &__item {
    display: table-cell;
    width: 100%;
    height: $height;
    border-right: 1px solid #a8d5d5;
    box-sizing: border-box;
    background-color: #cee9e4;

    &:last-child {
      border-right: none;
    }
  }

  &__link {
    line-height: $height;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #4298bd;
    display: block;

    &--active {
      @extend .subNavigation__link;
      color: #fff;
      background-color: #93b9bb;
    }
  }
}
</style>
