<template>
  <div class="title" v-if="title">
    <h2 class="title__main" v-text="title"></h2>
  </div>
</template>

<script>
export default {
  props: {
    title: String
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.title {
  margin-bottom: 10px;
  box-sizing: border-box;

  &__main {
    @include placeTitle;
  }
}
</style>
