<template>
  <div class="list" v-if="showRanking || showPopular || showRecommend">
    <!--=====メニューランキング 提供元：ぐるなび　表示パターン=====-->
    <!--=====売れ筋メニューランキング=====-->
    <div class="list__contents tracked_mods" id="g_smenu" v-if="showRanking">
      <h2 class="list__title">売れ筋メニューランキング</h2>
      <ol class="list__list ranking">
        <li class="ranking__item" v-for="(menu, index) in ranking">
          <div class="ranking__detail">
            <div class="ranking__label"><p class="ranking__number">{{index + 1}}位</p></div>
            <div class="ranking__name">
              <p class="ranking__text">{{menu.RecommendItemName}}</p>
            </div>
          </div>
          <div class="ranking__photo"><img :src="resizedImages[menu.RecommendItemImage]['150x150']" :alt="menu.RecommendItemName" class="ranking__image" v-if="status.resizedImages === 'binded'"/></div>
        </li>
      </ol>

      <p class="list__information information"><a :href="gurunaviUrl" target="_blank" rel="nofollow noopener" class="information__link" data-ylk="slk:g_cp;pos:0"><img src="https://iwiz-olp.c.yimg.jp/im_siggApSftjJBB7wpjzVBMszQ1A---x80-y60-bd0-n0-ifmpng/c/olp/26/a6e27b84663abc4336dc275c6fb7f978/info/7b/3f/thumbnail/image1363660558.png" alt="ぐるなび" width="40" height="30" class="information__image" /></a></p>

      <div v-if="totalResults > 0" class="list__reserve reserve">
        <a :href="reservationUrl" class="reserve__button" data-ylk="slk:s_rsv;pos:0">ネット予約・空き状況を見る</a>
      </div>
    </div>
    <!--=====人気メニューランキング=====-->
    <div class="list__contents tracked_mods" id="g_pmenu" v-if="showPopular">
      <h2 class="list__title">人気メニューランキング</h2>

      <ol class="list__list popular">
        <li class="popular__item" v-for="(menu, index) in popular">
          <a :href="`http://mr.gnavi.co.jp/details/?ds=${menu.TopRankItemId}&ShopId=${restaurantId}`" target="_blank" rel="nofollow noopener" class="popular__link" data-ylk="slk:p_mtitle">
            <div class="popular__detail">
              <div class="popular__label"><p class="popular__number">{{ index+1 }}位</p></div>
              <div class="popular__name">
                <p class="popular__text">{{ menu.TopRankItem }}</p>
                <p class="popular__score score"><span class="score__number">{{ Number(menu.TopRankItemRating).toFixed(1) }}</span><span :class="`score__starsRate--starRank${String(Math.round(menu.TopRankItemRating * 2) * 5).padStart(2, '0')}`"><span class="score__rate">/5.0満点</span></span></p>
              </div>
            </div>
            <div class="popular__photo" v-if="status.resizedImages === 'binded' && menu.TopRankItemImage != null"><img :src="resizedImages[menu.TopRankItemImage]['150x150']" :alt="menu.topRankItem"  class="popular__image" /></div>
          </a>
        </li>
      </ol>
      <div class="list__more more">
        <a :href="moreButtonUrl" class="more__link" target="_blank" rel="nofollow noopener" data-ylk="slk:p_more;pos:0">
          <img src="https://iwiz-olp.c.yimg.jp/im_siggApSftjJBB7wpjzVBMszQ1A---x80-y60-bd0-n0-ifmpng/c/olp/26/a6e27b84663abc4336dc275c6fb7f978/info/7b/3f/thumbnail/image1363660558.png" alt="ぐるなび" width="40" height="30" class="more__image" />
          <span class="more__note">人気メニューランキングをもっと見る</span>
        </a>
      </div>

      <div v-if="totalResults > 0" class="list__reserve reserve">
        <a :href="reservationUrl" class="reserve__button" data-ylk="slk:p_rsv;pos:0">ネット予約・空き状況を見る</a>
      </div>
    </div>

    <!--===== 出前館パターン =====-->
    <div class="list__contents tracked_mods" id="d_menu" v-if="showRecommend">
      <h2 class="list__title">おすすめの出前メニュー</h2>

      <ul class="list__list catering">
        <li class="catering__item" v-for="menu in recommend">
          <p class="catering__name">{{ menu.RecommendItemName }}</p>
          <p class="catering__price">
            <template v-for="(price, index) in menu.RecommendItemPrice.split('<br>')">
              <br v-if="index != 0">{{ price.replace('\\', '') }}円
            </template>
          </p>
          <div class="catering__photo" v-if="status.resizedImages === 'binded'">
            <img :src="resizedImages[menu.RecommendItemImage]['150x150']" :alt="menu.RecommendItemName" class="catering__image" />
          </div>
        </li>
      </ul>

      <p class="list__information information">
        <a :href="demaekanUrl" target="_blank" rel="nofollow noopener" class="information__link" data-ylk="slk:d_cp;pos:0">
          <img src="https://iwiz-olp.c.yimg.jp/im_siggZ6BXeZZV_V.JhhRay_HR0g---x80-y60-bd0-n0-ifmpng/c/olp/3f/bf16f724fb6d576424d5fc3085b6715c/info/49/11/thumbnail/image1368774902.gif" width="40" height="30" alt="" class="information__image" />
        </a>
      </p>
    </div>
  </div>
</template>

<script>
import Base from '@lib/baseComponent'

export default {
  extends: Base,
  props: [
    'tenpo', // LSBEのレスポンス
    'totalResults'
  ],
  mounted () {
    const detail = this.tenpo.Feature[0].Property.Detail
    const rankingImages = this.transformStupidFields(detail, ['RecommendItemImage'], 3)
      .map((x) => x.RecommendItemImage)
      .filter((x) => x != null)
    const popularImages = this.transformStupidFields(detail, ['TopRankItemImage'], 3)
      .map((x) => x.TopRankItemImage)
      .filter((x) => x != null)
    const recommendImages = this.transformStupidFields(detail, ['RecommendItemImage'], 20)
      .map((x) => x.RecommendItemImage)
      .filter((x) => x != null)
    this.resizeImages(
      this.tenpo.Feature[0].Gid,
      [
        {urls: rankingImages.concat(popularImages, recommendImages), width: 150, height: 150}
      ]
    )
  },
  computed: {
    // 売れ筋メニューランキング表示条件
    showRanking () {
      return this.isFilled(this.tenpo.Feature[0].Property.Detail.RecommendItemId1)
    },
    // 売れ筋メニューランキングの内容整形
    ranking () {
      const detail = this.tenpo.Feature[0].Property.Detail
      const fields = ['RecommendItemName', 'RecommendItemImage', 'RecommendItemRank', 'RecommendItemCid']
      return this.transformStupidFields(detail, fields, 3)
        .filter(x => x.RecommendItemCid === this.namespace.cid.gurunavi)
        .sort((item1, item2) => item1.RecommendItemRank - item2.RecommendItemRank)
    },
    // 人気メニューランキング表示条件
    showPopular () {
      return this.isFilled(this.tenpo.Feature[0].Property.Detail.TopRankItemId1)
    },
    // 人気メニューランキングの内容整形
    popular () {
      const detail = this.tenpo.Feature[0].Property.Detail
      const fields = ['TopRankItem', 'TopRankItemId', 'TopRankItemRating', 'TopRankItemImage']
      return this.transformStupidFields(detail, fields, 3)
        .filter((x) => x.TopRankItem != null)
    },
    // おすすめ表示条件
    showRecommend () {
      return this.isFilled(this.tenpo.Feature[0].Property.Detail.RecommendItemSequence1)
    },
    // おすすめの内容整形
    recommend () {
      const detail = this.tenpo.Feature[0].Property.Detail
      const fields = ['RecommendItemName', 'RecommendItemSequence', 'RecommendItemPrice', 'RecommendItemImage', 'RecommendItemCid']
      return this.transformStupidFields(detail, fields, 20)
        .filter(x => x.RecommendItemCid === this.namespace.cid.demaekan && x.RecommendItemSequence != null)
    },
    // 人気メニューランキングの店舗ID
    restaurantId () {
      const gurunavi = this.tenpo.Feature[0].Children
        .find((child) => child.CassetteId === this.namespace.cid.gurunavi)
      return gurunavi ? gurunavi.id : null
    },
    // 予約ボタンのURL
    reservationUrl () {
      return 'https://loco.yahoo.co.jp/place/g-' + this.tenpo.Feature[0].Gid + '/course/'
    },
    // もっと見るのURL
    moreButtonUrl () {
      const gurunavi = this.tenpo.Feature[0].Children
        .find((child) => child.CassetteId === this.namespace.cid.gurunavi)
      return 'http://mobile.gnavi.co.jp/iphone/shop/' + gurunavi.id + '/kuchikomi/ac-menu'
    },
    // ぐるなびのURL
    gurunaviUrl () {
      const gurunavi = this.tenpo.Feature[0].Children
        .find((child) => child.CassetteId === this.namespace.cid.gurunavi)
      return gurunavi ? gurunavi.PcUrl1 : null
    },
    // 出前館のURL
    demaekanUrl () {
      const demaekan = this.tenpo.Feature[0].Children
        .find((child) => child.CassetteId === this.namespace.cid.demaekan)
      return demaekan ? demaekan.PcUrl1 : null
    }

  },
  methods: {
    /**
      * キーにインデックスがついたようなLSBEのフィールドを整形する
      * original = {foo1: 'a', foo2: 'b', bar1: 'x', bar2: 'y'} のようなオブジェクトに対し、
      * transformStupidFields(parent, ['foo', 'bar'], 2) を呼べば
      * [{foo: 'a', bar: 'x'}, {foo: 'b', bar: 'y'}] のように変形する
      * @param {Object} original
      * @param {[String]} keys
      * @param {Number} start
      * @param {Number} end
      */
    transformStupidFields (original, keys, max = 3) {
      const create = (i) => keys.reduce((acc, key) => {
        acc[key] = original[`${key}${i}`]
        return acc
      }, {})
      const indices = [...Array(max).keys()].map((i) => i + 1)
      return indices.map(create)
    },
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

@mixin listItem {
  padding: 10px;
  border-bottom: 1px dotted #ddd;
}

@mixin menuDetail {
  display: table;
  width: 100%;
  margin-bottom: 8px;
}

@mixin menuRankLabel {
  display: table-cell;
  width: 35px;
  padding-right: 5px;
}

@mixin menuRankNumber {
  height: auto;
  padding: 3px 7px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  background: #f55152;
  border-radius: 3px;
}

.list {
  width: 100%;
  &__contents {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    font-weight: bold;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }
  &__title {
    @include placeTitle;
    margin-bottom: 0;
  }
}

.ranking {
  margin-bottom: 10px;
  &__item {
    @include listItem;
  }
  &__detail {
    @include menuDetail;
  }
  &__label {
    @include menuRankLabel;
  }
  &__number {
    @include menuRankNumber;
  }
  &__name {
    display: table-cell;
  }
  &__image {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto;
  }
}

.popular {
  &__item {
    @include listItem;
    position: relative;
    padding: 0;
    &:after{
      @include RiffIcon("\E60C", 25, #777);
      top: 50%;
      right: 10px;
      margin-top: -18.5px;
    }
  }
  &__link {
    display: block;
    padding: 10px 35px 10px 10px;
  }
  &__detail {
    @include menuDetail;
  }
  &__label {
    @include menuRankLabel;
  }
  &__number {
    @include menuRankNumber;
  }
  &__summary {
    display: table-cell;
  }
  &__image {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto;
  }
}

.catering {
  margin-bottom: 10px;
  &__item {
    @include listItem;
  }
  &__price {
    margin-bottom: 5px;
    color: #ff6600;
    text-align: right;
  }
  &__image {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
  }
}

.score {
  &__number {
    position: relative;
    margin-bottom: 10px;
    color: #ff6600;
  }
  &__starsRate {
    position: relative;
    display: inline-block;
    width: 80px;
    line-height: 1.0;
    &--starRank05 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E803", 16, #f6b81b);
      }
    }
    &--starRank10 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802", 16, #f6b81b);
      }
    }
    &--starRank15 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E803", 16, #f6b81b);
      }
    }
    &--starRank20 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802", 16, #f6b81b);
      }
    }
    &--starRank25 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E803", 16, #f6b81b);
      }
    }
    &--starRank30 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E802", 16, #f6b81b);
      }
    }
    &--starRank35 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E802\E803", 16, #f6b81b);
      }
    }
    &--starRank40 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E802\E802", 16, #f6b81b);
      }
    }
    &--starRank45 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E802\E802\E803", 16, #f6b81b);
      }
    }
    &--starRank50 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E802\E802\E802", 16, #f6b81b);
      }
    }
    &:after {
      position: absolute;
      top:0;
      left: 0;
    }
    &:before {
      @include RiffIcon("\E802\E802\E802\E802\E802", 16, #ccc);
    }
  }
  &__rate {
    @include text-replace;
  }
}

.reserve {
  margin-bottom: 10px;
  padding: 0 10px;
  text-align: right;
  &__button {
    @include button-main;
    display: inline-block;
    padding: 10px 20px;
  }
}

.information {
  padding: 0 10px;
  text-align: right;

  &__link {
    display: inline-block;
  }
}

.more {
  margin-bottom: 10px;
  &__link {
    @extend .popular__item;
    display: block;
    padding: 10px 35px 10px 10px;
  }
  &__image {
    margin-right: 10px;
    vertical-align: middle;
  }
  &__note {
    color: #333;
    font-size: 12px;
    vertical-align: middle;
  }
}

</style>
