<template>
<div v-if="isZeroMatch === false" class="list tracked_mods" id="pllist">
  <h2 class="list__title">{{ this.tenpo.Feature[0].Name }}のプラン</h2>
  <counter :page="page" :is-counter-next-range="false" :is-counter-range="false" :is-counter-result="true"></counter>
  <ul class="list__list--initialDisplay">
    <li v-for="(plan, index) in this.initViewPlanlist" class="list__item planItem" :key="plan.id" :item="plan" :index="index">
      <h3 class="planItem__title"><a :href="plan.ItemPcUrl1" target="_blank" class="planItem__link" rel="nofollow noopener" data-ylk="slk:pltitle">{{ plan.ItemTitle1 }}</a></h3>
      <ul class="planItem__price price">
        <li class="price__item"><span class="price__note">料金：</span><em class="price__main">{{ plan.ItemPriceType1 }}円</em><span class="price__number">/1名様</span></li>
      </ul>
      <div class="planItem__image planImage">
        <a :href="plan.ItemPcUrl1" target="_blank" class="planImage__link" rel="nofollow noopener" data-ylk="slk:plimage">
          <img :src="getImageUrl(plan.ItemImageUrl1, planImgSize)" :alt="plan.ItemTitle1" class="planImage__image" />
        </a>
      </div>
      <div class="planItem__detail detail">
        <div class="detail__item detailHide">
          <div class="detailHide__button" v-on:click="toggleInitDetail(index)">
            <span :class="[initViewOpenButton[index] ? 'detailHide__link--close': 'detailHide__link']">{{initViewOpenButton[index] ? '閉じる' : '続きを読む'}}</span>
          </div>
          <div class="detailHide__description" :class="[initViewOpenButton[index] ? 'detailHide__description--open': '']">
            <p class="detailHide__text"><template v-for="text in plan.ItemDescription1">{{ text }}<br :key="text.id" /></template></p>
          </div>
        </div>
        <div class="detail__item reservation">
          <img src="https://s.yimg.jp/images/loco/pc/images/poi/logo_reserve_asoview_160_48.png" width="auto" height="25" alt="asoview" class="reservation__image" />
          <a :href="plan.ItemPcUrl1" target="_blank" class="reservation__button" rel="nofollow noopener" data-ylk="slk:plrvbtn">プラン詳細・予約する</a>
        </div>
      </div>
    </li>
  </ul>
  <!-- ここから折りたたみ -->
  <ul class="list__list--extendDisplay" v-show="morePlan">
    <li v-for="(plan, index) in this.moreViewPlanlist" class="list__item planItem" :key="plan.id" :index="index">
      <h3 class="planItem__title"><a :href="plan.ItemPcUrl1" target="_blank" class="planItem__link" rel="nofollow noopener" data-ylk="slk:pltitle">{{ plan.ItemTitle1 }}</a></h3>
      <ul class="planItem__price price">
        <li class="price__item"><span class="price__note">料金</span><em class="price__main">{{ plan.ItemPriceType1 }}円</em><span class="price__number">/1名様</span></li>
      </ul>
      <div class="planItem__image planImage">
        <a :href="plan.ItemPcUrl1" target="_blank" class="planImage__link" rel="nofollow noopener" data-ylk="slk:plimage"><img :src="getImageUrl(plan.ItemImageUrl1, planImgSize)" :alt="plan.ItemTitle1" class="planImage__image" /></a>
      </div>
      <div class="planItem__detail detail">
        <div class="detail__item detailHide">
          <div class="detailHide__button" v-on:click="toggleMoreDetail(index)">
            <span :class="[moreViewOpenButton[index] ? 'detailHide__link--close': 'detailHide__link']">{{moreViewOpenButton[index] ? '閉じる' : '続きを読む'}}</span>
          </div>
          <div class="detailHide__description" :class="[moreViewOpenButton[index] ? 'detailHide__description--open': '']">
            <p class="detailHide__text"><template v-for="text in plan.ItemDescription1">{{ text }}<br :key="text.id" /></template></p>
          </div>
        </div>
        <div class="detail__reservation reservation">
          <img src="https://s.yimg.jp/images/loco/pc/images/poi/logo_reserve_asoview_160_48.png" width="auto" height="25" alt="asoview" class="reservation__image" />
          <a :href="plan.ItemPcUrl1" target="_blank" class="reservation__button" rel="nofollow noopener" data-ylk="slk:plrvbtn">プラン詳細・予約する</a>
        </div>
      </div>
    </li>
  </ul>
  <div v-if="this.moreViewPlanlist.length !== 0" class="list__more listMore">
    <div :class="[morePlan ? 'listMore__button--close': 'listMore__button']" v-on:click="clickMore()" for="listExpand">{{morePlan ? '閉じる' : 'もっと見る'}}</div>
  </div>
</div>
</template>

<script>
import counter from '@sp/components/place/counter.vue'
import Base from '@lib/baseComponent'

// プラン画像幅、高
const planImgWidth = 160
const planImgHeight = 160

const noImageSize = '200x200'

// 初期画面での最大表示プラン数
const displayMaxNum = 10

export default {
  extends: Base,
  data () {
    return {
      morePlan: false,
      initViewOpenButton: [],
      moreViewOpenButton: [],
      page: {
        dataCount: 0
      },
      initViewPlanlist: [],
      moreViewPlanlist: [],
      resizedImages: {},
      cpLogoImg: '',
      cpName: '',
      pageName: 'planList'
    }
  },
  components: {
    counter
  },
  computed: {
    isZeroMatch: function () {
      return this.tenpo.Feature[0].Property.Detail.Item.length === 0
    },
    planImgSize: function () {
      return planImgWidth + 'x' + planImgHeight
    }
  },
  props: {
    tenpo: Object // tenpo
  },
  methods: {
    /**
     * BRタグで文字列を分割した配列を返却
     * @param originalText {string} 分割前テキスト
     * @return {Array} BRタグで分割後の配列
     */
    splitTextByBR: function (originalText) {
      let result = []
      const splitText = originalText.split('<br>')
      for (const text of splitText) {
        result.push(text)
      }
      return result
    },
    /**
     * 画像URL取得
     * @param url {string} リサイズ前画像URL
     * @param size {string} サイズ
     * @return {string} 画像URL
     */
    getImageUrl: function (url, size) {
      if (this.status['resizedImages'] === 'binded' && this.isFilled(this.resizedImages[url]) && this.isFilled(this.resizedImages[url][size])) {
        return this.resizedImages[url][size]
      }
      return this.namespace.noImage[noImageSize]
    },
    /**
     * 要素存在チェック
     * @param variable {object} チェック対象オブジェクト
     * @return {boolean} チェック結果
     */
    isFilled: function (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    },
    toggleInitDetail: function (index) {
      this.initViewOpenButton.splice(index, 1, !this.initViewOpenButton[index])
    },
    toggleMoreDetail: function (index) {
      this.moreViewOpenButton.splice(index, 1, !this.moreViewOpenButton[index])
    },
    /**
     * もっと見る or 閉じるボタンが押されて時の挙動
     */
    clickMore: function () {
      // morePlanがtrueの時にクリック = プランが全件表示されているので閉じるボタンを押したことになる。
      const slk = this.morePlan ? 'plmorecl' : 'plmoreop'
      this.$root.rapid.beaconClick('plmore', slk, 0)
      this.morePlan = !(this.morePlan)
    }
  },
  mounted () {
    const gid = this.tenpo.Feature[0].Gid

    // プラン一覧
    const planList = this.tenpo.Feature[0].Property.Detail.Item

    // 全件数
    this.page.dataCount = planList.length

    // 表示プラン一覧作成
    let planImgUrls = []
    let tmpPlanlist = []
    for (let i = 0; i < this.page.dataCount; i++) {
      // 画像変換用のリクエストパラメータ作成(プラン画像)
      if (typeof planList[i].ItemImageUrl1 !== 'undefined' && planList[i].ItemImageUrl1 !== null && planList[i].ItemImageUrl1 !== '') {
        planImgUrls.push(planList[i].ItemImageUrl1)
      }

      // 金額をカンマ区切りとする
      planList[i].ItemPriceType1 = planList[i].ItemPriceType1.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1,')

      // プラン紹介文をいったんBRタグ区切りで分割した配列にする
      planList[i].ItemDescription1 = this.splitTextByBR(planList[i].ItemDescription1)

      // プランの詳細リンクの初期状態をdataに動的に登録
      this.initViewOpenButton.splice(i, 1, false)
      this.moreViewOpenButton.splice(i, 1, false)

      tmpPlanlist.push(planList[i])
    }
    // 最初に表示する2件のプラン
    this.initViewPlanlist = tmpPlanlist.slice(0, displayMaxNum)
    // もっと見る押下後に表示されるプラン
    this.moreViewPlanlist = tmpPlanlist.slice(displayMaxNum)

    // 画像のリサイズ
    this.resizeImages(gid, [{urls: planImgUrls, width: planImgWidth, height: planImgHeight}])
  }
}
</script>

<style lang="scss">
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.list {
  margin-bottom: 20px;
  background-color: #f1f0ef;
  &__title {
    @include placeTitle;
    background: #fff;
  }
  &__folding {
    display: none;
  }
  &__folding ~.list__list--extendDisplay {
    display: none;
  }
  &__folding:checked ~.list__list--extendDisplay {
    display: block;
  }
}

.planItem {
  margin-bottom: 10px;
  padding: 14px 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  &__title {
    font-weight: bold;
    font-size: 15px;
  }
  &__counter {
    font-size: 12px;
    text-align: center;
  }
}

.price {
  position: relative;
  text-align: right;
  &__item {
    margin-bottom:7px;
    color: $textColorBlack;
    font-size: 11px;
  }
  &__note {
    margin-right: 9px;
    font-weight: bold;
  }
  &__main {
    color: $priceColor;
    font-weight: bold;
    font-size: 20px;
  }
}

.planImage {
  width:50%;
  margin: 0 auto;
  text-align: center;
  &__link {
    display: block;
    line-height: 0;
  }
  &__image {
    width: 100%;
    height: auto;
  }
}

.detailHide {
  position:relative;
  margin: 10px 0;
  padding: 10px 0 45px 0;
  background: #f2f3e4;
  &__checkbox {
    display: none;
    &:checked ~ .detailHide__description {
      height: auto;
    }
  }
  &__button {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    margin: auto;
    border-top: 1px dotted #ddd;
    color: $linkColor;
    font-weight:bold;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    transition: .2s ease;
  }
  &__link {
    display: inline-block;
    position: relative;
    padding: 7px 0 10px 20px;
    &:before {
      @include RiffIcon("\E606", 18, #af8d6f);
      top: 4px;
      left: 0;
    }
    &--close {
      @extend .detailHide__link;
      &:before {
        @include RiffIcon("\E607", 18, #af8d6f);
      }
    }
  }
  &__description {
    position: relative;
    height: 75px;
    overflow: hidden;
    padding: 0 10px;
    color: $textColorGray;
    font-size: 13px;
    &:before {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      content: "";
    }
    &--open {
      height: auto;
    }
  }
}

.reservation {
  text-align: right;
  &__image {
    margin: 3px 10px 0 0;
    vertical-align: middle;
  }
  &__button {
    @include button-main;
    display: inline-block;
    width: 160px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
  }
}

.listMore {
  text-align: center;
  &__button {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    padding: 5px 10px 8px 28px;
    border: solid 1px #52bfeb;
    color: #52bfeb;
    font-weight: bold;
    background: #fff;
    border-radius: 5px;
    &:before {
      @include RiffIcon("\E606", 18, #52bfeb);
      top: 4px;
      left: 7px;
      font-weight: bold;
    }
    &--close {
      @extend .listMore__button;
      &:before {
        @include RiffIcon("\E607", 18, #52bfeb);
        top: 3px;
        left: 7px;
        font-weight: bold;
      }
    }
  }
}

</style>
