<template>
<div v-if="isZeroMatch" class="zeroMatch">
  <!--タイトル表示パターン-->
  <p class="zeroMatch__title">この店舗のプラン情報はありません。</p>
  <!--/タイトル表示パターン-->
</div>
</template>

<script>
  export default {
    computed: {
      isZeroMatch: function () {
        return !this.isFilled(this.tenpo.Feature[0].Property.Detail.Item) ||
          this.tenpo.Feature[0].Property.Detail.Item.length === 0
      }
    },
    methods: {
      /**
       * 要素存在チェック
       * @param variable {object} チェック対象オブジェクト
       * @return {boolean} チェック結果
       */
      isFilled: function (variable) {
        return !(typeof variable === 'undefined' || variable === null)
      }
    },
    props: {
      tenpo: Object // tenpo
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

  .zeroMatch{
    @include errorBody;

    &__title{
      font-weight: bold;
      &--hasDescription{
        @include errorTitle;
      }
    }
    &__description{
      @include errorDescription;
    }
  }

</style>
