<template>
<div id="wcal_grm" class="calendar tracked_mods" v-if="isVisible">
  <div class="calendar__body" v-if="!hasReserveButton && getTel != null">
    <h2 :class="getTitleClass">電話予約</h2>
    <p :class="getTelClass">{{getTel}}</p>
    <p v-if="isFreeTel" class="calendar__annotation">{{getTelDescription}}</p>
    <div class="calendar__stock calendarStock" v-if="availableTonight">
      <p class="calendarStock__available">◯本日夜空席あり</p>
    </div>
  </div>
  <div class="calendar__body tracked_mods" v-if="hasStock" id="wcal_grm">
    <h2 class="calendar__title--net">ネット予約</h2>
    <table class="calendar__table calendarTable">
      <tr class="calendarTable__row">
        <th :class="[dateObject.className]" v-for="dateObject in dateList">
          {{dateObject.dateString}}<br />{{dateObject | dayOfWeekFilter}}
        </th>
      </tr>
      <tr class="calendarTable__row">
        <td class="calendarTable__data" v-for="stock in stockList">

          <div class="calendarTable__link--tel" v-on:mouseenter="telShow = true"  v-on:mouseleave="telShow = false" v-if="stock.status === 'tel'" :data-ylk="'slk:date;pos:0'">
            <span class="calendarTable__text">電話予約</span>
          </div>
          <a :href="getCourseListUrl(stock.date)" class="calendarTable__link" v-else-if="stock.status === 'available'" rel="nofollow" data-ylk="slk:date;pos:0">○</a>
          <a :href="getCourseListUrl(stock.date)" class="calendarTable__link" v-else-if="stock.status === 'request'" rel="nofollow" data-ylk="slk:date;pos:0">■</a>
        </td>
      </tr>
    </table>
    <div class="calendar__option">
      <p class="calendar__information"><span class="calendar__description">◯ 即時予約</span><span class="calendar__description">■ リクエスト予約</span><span class="calendar__description--tel">電話での問い合わせ</span></p>

      <!-- 店舗詳細トップ表示パターン：コース一覧へ -->
      <a :href="$root.addUrlParameters('/place/course/index.html',['sc_type'])" class="calendar__button" v-if="calendarButton === 'link'" :data-ylk="'slk:anth_day;pos:0'">ほかの日付を見る</a>

      <!-- コース一覧表示パターン：カレンダーポップアップ表示 -->
      <div class="calendar__button--popup" v-on:click="clickPopupCalendar()" v-if="calendarButton === 'popup'">ほかの日付を見る</div>

    </div>
    <!-- ポップアップカレンダー -->
    <transition
      enter-class="calendarPopup--enter"
      enter-active-class="calendarPopup--enter-active"
      leave-class="calendarPopup--leave"
      leave-active-class="calendarPopup--leave-active"
    >
      <calendar-popup v-if="popup" v-on:close="popup = false" triangle="right" pendingButton="js" v-bind:style="calendarPosition" :tenpo="tenpo" :dailyStock="dailyStockFiltered" :calPopupBtnSec="calPopupBtnSec" :calPopupBtnSlk="calPopupBtnSlk"></calendar-popup>
    </transition>
    <!-- /ポップアップカレンダー -->
    <!-- ローディング -->
    <loading v-if="loading"></loading>
    <!-- /ローディング -->
  </div>
</div>
</template>

<script>
import moment from '@lib/moment-ja'
import Base from '@lib/baseComponent'
import Url from '@lib/Url'
import loading from '@pc/components/place/loading.vue'
import calendarPopup from '@pc/components/place/calendarPopup.vue'

// カレンダー表示上限日数
const calendarViewLimitDays = 90
const hotPepperAvailableMonths = 2
const now = new Date()
const dayOfWeekList = ['（日）', '（月）', '（火）', '（水）', '（木）', '（金）', '（土）']
const todayDescription = '本日'

/**
 * 1週間カレンダーモジュール
 * webapp/src/pc/pages/place/index.html 他から利用
 */
export default {
  components: {
    loading,
    calendarPopup
  },
  extends: Base,
  data () {
    return {
      calendarPosition: {
        top: '26px',
        right: '160px'
      },
      /**
       * 他の日付ボタンの出し分け
       * @param String
       * 'none'非表示
       * 'link'ただのリンク
       * 'popup' jsで処理が必要なボタン。カレンダーを表示
       */
      calendarButton: 'popup',
      popup: false,
      loading: true,
      telDescription: '',
      daysInCalendar: 7,
      dailyStock: {},
      planStock: {},
      dailyStockFiltered: {},
      holidayData: {},
      date: Url.getParameters().date,
      calPopupBtnSec: 'wcal_grm',
      calPopupBtnSlk: 'anth_day'
    }
  },
  props: [
    'tenpo',
    'eappid',
    'hasReserveButton'
  ],
  mounted () {
    if ((typeof this.namespace.API.dailyStock !== 'undefined' &&
      typeof this.tenpo.Feature[0].Gid !== 'undefined' &&
      this.isGourmet && !this.isWedding)) {
      // 日次在庫APIからデータの取得
      this.bindRequest({
        name: 'dailyStock',
        url: this.namespace.API.dailyStock,
        params: {
          gid: this.tenpo.Feature[0].Gid,
          period: calendarViewLimitDays
        },
        timeout: 3000,
        eappid: true,
        dataType: 'jsonp'
      }).then((dailyStock) => {
        if (this.$root.isHiddenScType('wcal_grm')) {
          // URLパラメータ「sc_type」によりフィルタする場合はYahoo在庫のみにフィルタ
          this.dailyStockFiltered = this.filterStockWithYahoo(dailyStock)
          return
        }

        if (!this.g(dailyStock, 'entry[0].stocks')) {
          if (this.hasHotpepper) {
            // Y! の在庫がない場合もホットペッパーがある場合は常に在庫を出す
            this.dailyStockFiltered = this.fillStockWithHotpepper()
          }
          return
        }

        // APIから取得して来たデータを整形する
        this.dailyStockFiltered = dailyStock.entry[0].stocks.reduce((obj, stock) => {
          const stockDate = new Date(stock.date)
          const stockDateStr = this.getDateString(stockDate)
          obj[stockDateStr] = stock.status
          return obj
        }, {})
      })
    }

    this.loading = false

    // 祝日の取得
    if (typeof this.namespace.API.holiday !== 'undefined') {
      this.bindRequest({
        name: 'holidayData',
        url: this.namespace.API.holiday,
        params: {
          year: now.getFullYear()
        }
      })
    }

    // 今日の夜の空き情報
    const isYahoo = this.tenpo.Feature[0].Internal.CidList.includes(this.namespace.cid.yahoo)
    if (isYahoo && typeof this.namespace.API.planStock !== 'undefined') {
      this.bindRequest({
        name: 'planStock',
        url: this.namespace.API.planStock,
        params: {
          gid: this.tenpo.Feature[0].Gid
        },
        dataType: 'json'
      })
    }
  },
  computed: {
    /**
     * モジュールを表示するかどうか
     * コース一覧では日付パラメータがある場合にモジュールを表示しない
     * @returns {bool} 表示の有無
     */
    isVisible: function () {
      return !this.hasValidDateParam && !this.hasReserveButton && (this.isFilled(this.getTel) || this.hasStock)
    },
    /**
     * 在庫があるかどうか
     * @returns {bool} 在庫の有無
     */
    hasStock: function () {
      return Object.keys(this.dailyStockFiltered).length > 0
    },
    /**
     * グルメ対象店舗かどうか
     * @returns {bool}
     */
    isGourmet: function () {
      return this.getChildCpDataList(this.namespace.cid.gourmetCidGroup).length > 0
    },
    genrecd () {
      return Url.getParameters().genrecd
    },
    /**
     * GETパラメータのgenrecdがグルメであって式場ではないかどうかの確認(0414)
     * @returns {bool} 在庫の有無
     */
    isWedding: function () {
      if (this.isFilled(this.genrecd)) {
        return this.genrecd.startsWith('0414') && this.includeWedding
      }
      return false
    },
    /**
     * 情報提供元にwedding(zexy)があるかのチェック
     **/
    includeWedding: function () {
      return this.tenpo.Feature[0].Internal.CidList.includes(this.namespace.cid.zexy)
    },
    /**
     * 正常なgetパラメータ（date）を持っているかの確認
     * 今後 date を遷移無しで変更する可能性がある場合は force update してください
     */
    hasValidDateParam () {
      return this.date !== undefined && this.date.length === 8 && moment(this.date).isValid() &&
        moment(this.date).isBetween(moment(), moment().add(calendarViewLimitDays, 'days'), 'day', '[)')
    },
    /**
     * オンライン予約可能かどうか
     * @param {string} onlineReserveFlag オンライン予約可能かどうか
     * @param {string} onlineReserveRequestFlag オンライン予約可能かどうか(リクエスト予約の場合)
     * @returns {bool} 表示可否
     */
    canOnlineReserve: function () {
      return this.tenpo.Feature[0].Property.Detail.OnlineReserveFlag || this.tenpo.Feature[0].Property.Detail.OnlineReserveRequestFlag
    },

    isFreeTel () {
      return this.tenpo.Feature[0].Property.Detail.PpcNumber && !this.tenpo.Feature[0].Property.Detail.AlternativeTel
    },

    /**
     * 表示する電話番号
     * @returns {String} 電話番号。ハイフンで区切られている
     */
    getTel () {
      return this.tenpo.Feature[0].Property.Detail.AlternativeTel ? this.tenpo.Feature[0].Property.Detail.AlternativeTel
        : this.tenpo.Feature[0].Property.Detail.PpcNumber ? this.tenpo.Feature[0].Property.Detail.PpcNumber
          : this.tenpo.Feature[0].Property.Tel1
    },

    /**
     * 表示する電話番号のクラス
     * @returns {String} 表示する電話番号のクラス
     */
    getTelClass () {
      return this.isFreeTel ? 'calendar__tel--free' : 'calendar__tel'
    },

    /**
     * 表示する電話予約アイコンのクラス
     * @returns {String} 表示する電話予約アイコンのクラス
     */
    getTitleClass () {
      return this.isFreeTel ? 'calendar__title--free' : 'calendar__title'
    },

    /**
     * 表示する電話番号補足文言
     * @returns {String} 補足文言
     */
    getTelDescription () {
      return this.tenpo.Feature[0].Property.PpcDescription !== null ? this.tenpo.Feature[0].Property.PpcDescription : ''
    },
    /**
     * 本日夜在庫あり
     * @return Boolean 空席有無
     */
    availableTonight () {
      if (this.status.planStock !== 'binded') {
        return false
      }
      const isYahoo = this.tenpo.Feature[0].Internal.CidList.includes(this.namespace.cid.yahoo)
      const isNight = new Date().getHours() >= 21

      if (!isYahoo || isNight) {
        return false
      } else {
        return this.planStock.totalResults > 0
      }
    },

    /**
     * 1週間分の在庫ステータスを取得
     * 表示優先順位：ネット予約可能 > リクエスト予約可能 > 電話
     * @returns {Array(Array(Date,String))} Array(date, status)
     *   status ->
     *     'available': 予約可
     *     'request': リクエスト予約可
     *     'tel': 予約不可。電話アイコン
     */
    stockList () {
      let stockList = []

      for (let i = 0; i < this.daysInCalendar; i++) {
        let date = new Date()
        date.setDate(date.getDate() + i)
        const dateString = this.getDateString(date)
        const stock = this.dateStockStatus(dateString)

        let status = ''
        if (stock === 1) {
          status = 'available'
        } else if (stock === 2 || this.hotpepperAvailable(date)) {
          status = 'request'
        } else {
          status = 'tel'
        }

        stockList.push({date, status})
      }

      return stockList
    },
    /**
     * CP にホットペッパーを含み、かつオンライン予約可能かどうか
     */
    hasHotpepper: function () {
      return (this.getChildCpData(this.namespace.cid.hotpepperGourmet).length > 0)
    },

    /**
     * 表示用の日付取得
     * @returns {Array} 日付文字列と、それに付随する情報
     *     dayOfWeek: 曜日文字列 -> getDateOf
     *     dateString: 日付文字列 -> getDateString
     *     className: css用のクラス名 -> getDateClassName
     */
    dateList () {
      let dateList = []
      let targetDate = new Date()
      for (let i = 0; i < this.daysInCalendar; i++) {
        const dayOfWeek = this.getDateOf(targetDate)
        let dateString = this.getDateString(targetDate)
        if (targetDate.getDate() === now.getDate()) {
          dateString = todayDescription
        }
        const className = this.getDateClassName(targetDate)
        dateList.push({dayOfWeek, dateString, className})
        targetDate.setDate(targetDate.getDate() + 1)
      }

      return dateList
    }
  },
  filters: {
    dayOfWeekFilter: function (dateObject) {
      return (dateObject.dateString !== todayDescription) ? dateObject.dayOfWeek : ''
    }
  },
  methods: {
    /**
     * 日付から在庫ステータスを確認
     * src/main/resources/json/tenpo/dailyStock/CGBtPVWV6EE.json にデータがあります。日付が古いようでしたら更新してください
     * @see http://cptl.corp.yahoo.co.jp/pages/viewpage.action?pageId=1415176636
     * @param {string} dateStr 在庫ステータスを確認したい日付 (m/d)。0パディングしない
     * @returns {number} 指定された日付の在庫ステータス | 0 (取得に失敗した場合)
     */
    dateStockStatus (dateStr) {
      return typeof this.dailyStockFiltered[dateStr] !== 'undefined' ? this.dailyStockFiltered[dateStr] : 0
    },

    /**
     * 曜日取得
     * @param {Date} date 取得したい日付
     * @returns {String} （日）のような曜日文字列
     */
    getDateOf (date) {
      return dayOfWeekList[date.getDay()]
    },

    /**
     * Date オブジェクトから 月/日 形式の文字列を取得
     * 0パディングしない
     * @param {Date} date 取得したい日付
     * @returns {String} m/d 形式の日付
     */
    getDateString (date) {
      return moment(date).format('M/D')
    },

    /**
     * 曜日ごとの出し分け css のクラス名取得
     * @param {Date} date クラス名を取得したい日付
     * @returns {String} クラス名
     */
    getDateClassName (date) {
      if (this.isHoliday(date)) {
        return 'calendarTable__header--holiday' // 祝日だった場合
      } else if (date.getDate() === now.getDate()) {
        return 'calendarTable__header--today' // 当日だった場合
      } else if (date.getDay() === 0) {
        return 'calendarTable__header--sunday' // 日曜日だった場合
      } else if (date.getDay() === 6) {
        return 'calendarTable__header--saturday' // 土曜日だった場合
      } else {
        return 'calendarTable__header' // 平日の場合
      }
    },
    /**
     * 祝日判定
     * @param {Date} date: 日付
     * @returns {Boolan} 祝日かどうか
     */
    isHoliday: function (date) {
      if (this.status.holidayData !== 'binded') {
        return false
      }
      return this.holidayData.response.docs.some((docs) => {
        return docs.Year === date.getFullYear() && docs.Month === date.getMonth() + 1 && docs.Day === date.getDate()
      })
    },

    /**
     * ホットペッパー対応
     * 指定日付が3日後以降2ヶ月以前ならリクエスト予約可能になる（直近3日は電話）
     * @see https://jira.corp.yahoo.co.jp/browse/POTARA-1885
     * @param {Date} date 指定日付
     */
    hotpepperAvailable (date) {
      return this.hasHotpepper &&
        moment(date).isBetween(moment().add(3, 'day'), moment().add(hotPepperAvailableMonths, 'months'), 'day', '[)')
    },
    /**
     * オンライン予約可能かどうか
     * @param {object} Tenpo オブジェクト
     * @returns {bool} 表示可否
     */
    canOnlineReserveChild (childTenpo) {
      return childTenpo !== null &&
        (childTenpo.OnlineReserveFlag || childTenpo.OnlineReserveRequestFlag)
    },
    /**
     * ChildのCP情報取得
     * @param {string} cid カセットID
     * @returns {object} Cp情報
     */
    getChildCpData (cid) {
      return this.tenpo.Feature[0].Children.filter((val) => cid === val.CassetteId && this.canOnlineReserveChild(val))
    },
    /**
     * ホットペッパー対応 CPがホットペッパーのみの場合にも在庫を出す
     * TODO: リファクタ status を enum にする
     */
    fillStockWithHotpepper () {
      let stocks = {}
      for (let i = 0; i < calendarViewLimitDays; ++i) {
        const date = moment().add(i, 'day')
        let status = this.hotpepperAvailable(date)
          ? 2 // リクエスト予約
          : 0 // 電話
        stocks[this.getDateString(date)] = status
      }
      return stocks
    },
    /**
     * Yプランのみで在庫一覧をフィルタする
     */
    filterStockWithYahoo (dailyStock) {
      if (dailyStock.totalResults > 0) {
        const yahooDailyStocks = dailyStock.entry[0].cp.filter((l) => l.cid === this.namespace.cid.yahoo)
        if (yahooDailyStocks.length === 1) {
          return yahooDailyStocks[0].stocks.reduce((obj, stock) => {
            const stockDate = new Date(stock.date)
            const stockDateStr = this.getDateString(stockDate)
            obj[stockDateStr] = stock.status
            return obj
          }, {})
        }
      }
      return {}
    },
    /**
     * コース一覧へのリンクURL作成
     * @param {Date} date 指定日付
     * @returns {String} /place/g-<gid>/course[?date=YYYYMMDD]
     */
    getCourseListUrl (date) {
      const gid = this.tenpo.Feature[0].Gid
      let url = `/place/g-${gid}/course`
      if (date != null) {
        url = url + '?date=' + moment(date, 'YYYYMMDD').format('YYYYMMDD')
      }
      url = this.$root.addUrlParameters(url, ['sc_type'])
      return url
    },
    /**
     * ChildのCPList取得
     * @returns {array} CPList
     */
    getChildCpDataList (cplist) {
      return this.tenpo.Feature[0].Children.filter((val) => cplist.includes(val.CassetteId) && this.canOnlineReserveChild(val))
    },
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    },
    /**
     * 「他の日付を見る」ボタン押下時の処理
     */
    clickPopupCalendar () {
      this.popup = true
      this.$root.sendClickBeacon(this.calPopupBtnSec, this.calPopupBtnSlk)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.calendar {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ece5c2;
  background-color: #fff9e2;

  &__body {
    position: relative;
    padding: 15px 10px;
    border-bottom: 1px dotted #999588;
    &:last-child {
      border-bottom: 0;
    }
  }

  &__title {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    &:before {
      @include RiffIcon("\E130", 25, $textColorBlack);
      top: 1px;
      left: -24px;
      line-height: 1.1;
    }
    &--free {
      @extend .calendar__title;
      &:before {
        @include RiffIcon("\E130", 25, #e75039);
      }
    }
    &--net {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 30px;
      font-size: 16px;
      font-weight: bold;
      vertical-align: middle;
      &:before {
        display: none;
      }
    }
  }

  &__tel {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding-left: 32px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    vertical-align: middle;
    &--free {
      @extend .calendar__tel;
      color: #e75039;
    }
  }

  &__annotation {
    display: inline-block;
    color: $textColorBlack;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    vertical-align: text-bottom;
  }

  &__option {
    @include clearfix;
  }

  &__information {
    float: left;
    line-height: 1;
  }

  &__description {
    display: inline-block;
    margin-left: 2px;
    font-size: 12px;
    color: #666666;
    vertical-align: bottom;
    line-height: 1;
    &--tel {
      @extend .calendar__description;
      &:before {
        @include RiffIcon("\E130", 14, #666666);
        position: relative;
        display: inline-block;
        height: 13px;
        vertical-align: bottom;
      }
    }
  }

  &__button {
    @include button-normal;
    position: relative;
    float: right;
    width: 140px;
    height: 32px;
    font-size: 12px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    &--popup{
      @extend .calendar__button;
      padding-left: 24px;
      &:before {
        @include svgIcon(14, 15, 'https://s.yimg.jp/images/loco/front/images/common/icons/calendar.svgz');
        position: absolute;
        top: 8px;
        left: 10px;
      }
    }
  }
}

.calendarStock {
  display: inline-block;
  margin-left: 20px;
  position: relative;

  &__available {
    display: inline-block;
    padding: 0 10px;
    color: #ea1922;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #ea1922;
    box-sizing: border-box;
  }

  &__icon {
    @include text-replace;
    position: relative;
    display: inline-block;
    width: 18px;
    height: 13px;
    &:after {
      @include RiffIcon("\E130", 14, $textColorBlack);
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      text-indent: 0;
      text-align: center;
    }
  }
}

.calendarTable {
  width: 100%;
  margin-bottom: 10px;
  table-layout: fixed;
  background-color: #ffffff;
  border: 1px solid #dfd6c0;

  &__header {
    width: 100%;
    height: 62px;
    text-align: center;
    vertical-align: middle;
    background-color: #f6f3ec;
    border-right: 1px solid #dfd6c0;
    border-bottom: 1px solid #dfd6c0;
    &:last-child {
      border-right: 0;
    }
    &--today {
      @extend .calendarTable__header;
      font-weight: bold;
    }
    &--saturday {
      @extend .calendarTable__header;
      color: #2459d1;
    }
    &--sunday {
      @extend .calendarTable__header;
      color: #d72753;
    }
    &--holiday {
      @extend .calendarTable__header;
      color: #d72753;
    }
  }

  &__data {
    width: 100%;
    height: 62px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    border-right: 1px solid #dfd6c0;
  }

  &__link {
    position: relative;
    display: block;
    height: 62px;
    font-size: 20px;
    font-weight: bold;
    line-height: 62px;
    box-sizing: border-box;
    &:hover {
      text-decoration: none;
      background-color: #fff9e2;
      border: 1px solid #fdad25;
    }
    &--tel {
      @extend .calendarTable__link;
      &:before {
        @include RiffIcon("\E130", 20, #d9ceb6);
        position: relative;
      }
    }
  }

  &__tel {
    position: absolute;
    top: -26px;
    left: 50%;
    margin-left: -62px;
  }

  &__text {
    @include text-replace;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
  }

}

.a {
  top: -400px;
  left: 40px;
}

</style>
