<template>
<a
  class="clipButton"
  v-bind:class="[clipped ? 'clipButton--clipped' : '']"
  v-on:click="clickClipButton"
  v-on:mouseenter="showDescription = true"
  v-on:mouseleave="showDescription = false"
  rel="nofollow"
  :data-ylk="!clipped ? 'slk:fav;pos:0' : 'slk:notfav;pos:0'">
  <template v-if="showDescription">
    <span class="clipButton__tooltip" v-if="!clipped">
    「行きたい」ボタンで登録する
    </span>
    <span class="clipButton__tooltip" v-else>
    「行きたい」一覧から削除する
    </span>
  </template>
</a>
</template>

<script>
import Base from '@lib/baseComponent'
import Ajax from '@lib/Ajax'
import cookie from '@lib/cookie'

export default {
  props: ['tenpo', 'userInfo'],
  extends: Base,
  data () {
    return {
      clipList: {},
      clipAdd: {},
      clipRemove: {},
      more: false,
      showDescription: false,
      isClicked: false
    }
  },
  computed: {
    clipped () {
      if (this.clipList.Feature == null) {
        return false
      }
      return this.clipList.Feature.some(clip => clip.Property.KeepInfo.TypeKey === this.tenpo.Feature[0].Gid)
    }
  },
  mounted () {
    if (this.userInfo.loginStatus && cookie()['Y']) {
      this.getClipList()
    }
  },
  methods: {
    clickClipButton () {
      if (this.userInfo.loginStatus) {
        if (this.clipped) {
          // 登録になったら削除作業
          this.removeClip()
        } else {
          // 登録になってないんだったら登録作業
          this.addClip()
        }
      } else {
        this.redirectLoginPage()
      }
    },
    addClip () {
      if (this.isClicked) {
        return
      }

      this.isClicked = true

      const coordinates = this.tenpo.Feature[0].Geometry.Coordinates
      let lat = ''
      let lng = ''
      if (typeof coordinates !== 'undefined' && coordinates !== null) {
        lat = coordinates.split(',')[1]
        lng = coordinates.split(',')[0]
      }

      const url = this.namespace.API.addClip
      const params = {
        'gid': this.tenpo.Feature[0].Gid,
        'tenpoName': this.tenpo.Feature[0].Name,
        'uid': this.tenpo.Feature[0].Property.Uid,
        'lat': lat,
        'lng': lng
      }

      Ajax.get(url, params)
        .then(this.getClipList)
        .catch(this.redirectLoginPage)
    },
    removeClip () {
      if (this.isClicked) {
        return
      }

      this.isClicked = true

      const url = this.namespace.API.removeClip
      const params = {
        'gid': this.tenpo.Feature[0].Gid
      }

      Ajax.get(url, params)
        .then(this.getClipList).catch(this.redirectLoginPage)
    },
    redirectLoginPage () {
      this.isClicked = false
      location.href = this.getLoginUrl()
    },
    getLoginUrl () {
      return this.namespace.Url.login + '?.src=loco&.done=' + encodeURIComponent(location.href)
    },
    getClipList () {
      this.isClicked = false
      this.bindRequest({
        name: 'clipList',
        url: this.namespace.API.clipList
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.clipButton{
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 53px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
  background: url('https://s.yimg.jp/images/loco/front/images/common/icons/ribbon01.svgz') no-repeat;
  background-size: contain;

  &:before{
    @include RiffIcon($content:"\E100", $size:44, $color:#cd351b);
    top: -13px;
    left: -2px;
    font-weight: bold;
    text-shadow: 0 1px 1px #ee9282;
  }

  &:hover {
    &:before{
      @include RiffIcon($content:"\E100", $size:44, $color:#fbebbd);
    }
  }

  &--clipped {
    @extend .clipButton;
    &:before{
      @include RiffIcon($content:"\E111", $size:44, $color:#fbebbd);
    }
    &:hover {
      &:before{
        @include RiffIcon($content:"\E111", $size:44, $color:#cd351b);
        font-weight: bold;
      }
    }
  }

  &__tooltip {
    position: absolute;
    top: -35px;
    right: -80px;
    z-index: 2;
    width: 180px;
    padding: 5px 10px;
    font-size: 12px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -5px;
      border-color: #000 transparent;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      opacity: 0.7;
    }
  }
}
</style>
