<template>
<div class="counter tracked_mods" id="pgtop">
  <!--
      ＊全nn件/リストの上部に表示（border-bottom有り）対象：/course/
      ＊nn件中n～nn件を表示しています/ページング/リストの上部に表示（border-bottom有り）対象：/plan/
      ＊nn件中n～nn件を表示しています/ページング/リストの上部に表示（border-bottom無し）対象：/photo/ ・/review/
      ＊nn件中n～nn件を表示しています/リストの下部に表示 対象：/plan/・/review/・/bridal/
  -->

  <div v-bind:class="[isCounterBorder === true ? 'counter__container--top': 'counter__container']">
    <p class="counter__count" v-if="isCounterRange === true"><span class="counter__number">{{page.dataCount}}</span><span class="counter__note">件中</span><span class="counter__number">{{this.displayPhotoRangeFrom()}}</span><span class="counter__note">～</span><span class="counter__number">{{this.displayPhotoRangeTo()}}</span><span class="counter__note">件を表示しています</span></p>
    <p class="counter__count" v-else><span class="counter__note">全</span><span class="counter__number">{{page.dataCount}}</span><span class="counter__note">件</span></p>
    <ul class="counter__pagination pagination" v-if="isCounterPagination === true && page.pageCount > 1">
      <li class="pagination__item--prev">
        <span v-if="prevCheck()" class="pagination__link pagination__link--disable">前の{{page.pageDisplaySize}}件</span>
        <a :href="createTargetUrl(page.pageId)" v-else class="pagination__link rapidnofollow" @click.prevent="prevPage" data-ylk="slk:prepg;pos:0">前の{{page.pageDisplaySize}}件</a>
      </li>
      <li class="pagination__item--next">
        <a :href="createTargetUrl(page.pageId + 2)" v-if="nextCheck()" class="pagination__link rapidnofollow" @click.prevent="nextPage" data-ylk="slk:nexpg;pos:0">次の{{page.pageDisplaySize}}件</a>
        <span v-else class="pagination__link--disable">次の{{page.pageDisplaySize}}件</span>
      </li>
    </ul>
  </div>

</div>
</template>

<script>
  export default {
    props: {
      isCounterBorder: { // 件数表示の下にborderを表示するならtrue
        type: Boolean,
        default: true
      },
      isCounterRange: { // 「１〜30件」のようなレンジ表示をするならtrue
        type: Boolean,
        default: true
      },
      isCounterPagination: { // 「次の30件」のようなページングを表示するならture
        type: Boolean,
        default: true
      },
      page: {},
      pagination: {},
      pageName: ''
    },
    computed: {
      // ULT対応：ページングの条件変更時に値を返す
      isPrevPageChange () {
        return !this.prevCheck()
      },
      isNextPageChange () {
        return this.nextCheck()
      }
    },
    watch: {
      // ULT対応：ページング条件変更時にモジュールリフレッシュ
      isPrevPageChange (val) {
        if (val) {
          this.$nextTick(() => {
            if (this.$root.rapid) {
              this.$root.rapid.refreshModule('pgtop', false, false)
            }
          })
        }
      },
      isNextPageChange (val) {
        if (val) {
          this.$nextTick(() => {
            if (this.$root.rapid) {
              this.$root.rapid.refreshModule('pgtop', false, false)
            }
          })
        }
      }
    },
    methods: {
      /*
       * 表示件数のto値
       * @return number
       */
      displayPhotoRangeTo: function () {
        var rangeTo = Math.ceil((this.page.pageId + 1) * this.page.pageDisplaySize)
        if (rangeTo > this.page.dataCount) {
          rangeTo = this.page.dataCount
        }
        return rangeTo
      },
      /*
       * 表示件数のfrom値
       * @return number
       */
      displayPhotoRangeFrom: function () {
        if (this.page.pageId > 0) {
          return Math.ceil((this.page.pageId * this.page.pageDisplaySize) + 1)
        } else {
          return Math.ceil(this.page.pageId + 1)
        }
      },
      /*
       * 前への実行、ページの更新
       */
      prevPage () {
        // プラン一覧のとき
        if (this.pageName === 'planList') {
          location.href = this.createTargetUrl(this.page.pageId)
          return
        }
        // 口コミ一覧、ブライダルフェアのとき
        if (this.pageName === 'reviewList' || this.pageName === 'bridalFair') {
          this.$emit('prev-page')
          return
        }
        if (this.page.pageId > 0) {
          this.page.pageId -= 1
        }
        this.pagination.paging(this.page.pageId + 1)
      },
      /*
       * 次への実行、ページの更新
       */
      nextPage () {
        // プラン一覧のとき
        if (this.pageName === 'planList') {
          location.href = this.createTargetUrl(this.page.pageId + 2)
          return
        }
        // 口コミ一覧、ブライダルフェアのとき
        if (this.pageName === 'reviewList' || this.pageName === 'bridalFair') {
          this.$emit('next-page')
          return
        }
        if (this.page.pageId + 1 < this.page.pageCount) {
          this.page.pageId += 1
        }
        this.pagination.paging(this.page.pageId + 1)
      },
      /*
       * 前への表示制御
       * @return boolean true: disable,false:able
       */
      prevCheck () {
        return (this.page.pageId === 0)
      },
      /*
       * 次への表示制御
       * @return boolean true: able,false:disable
       */
      nextCheck () {
        return (this.page.pageId + 1 < this.page.pageCount)
      },
      /*
       * ページ遷移用のURL生成
       * @param num ページ番号
       * @return string url
       */
      createTargetUrl (num) {
        // pushState対応確認
        if (window.history && window.history.pushState) {
          // URLパラメータを取得する
          var url = ''
          var pair = location.search.substring(1).split('&')
          var flg = false
          for (var index = 0; pair[index]; index++) {
            var kv = pair[index].split('=')// kvはkey-value
            if (kv[0] === 'page') {
              kv[1] = num
              flg = true
              index === 0 ? url += '?' : url += '&'
              url += kv[0] + '=' + kv[1]
              break
            }
          }
          if (flg === false) {
            url ? url += '&' : url += '?'
            url += 'page=' + (num)
          }
          // photoIdが入らない場合、末尾に&が入る場合があるので削除
          if (url.slice(-1) === '&') {
            url = url.slice(0, -1)
          }
          url = this.$root.addUrlParameters(url, ['sc_type'])
          return url
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';
.counter {
  &__container{
    margin-bottom: 10px;
    @include clearfix;
    &--top{
      @extend .counter__container;
      padding: 4px 0 6px;
      border-bottom: 1px dotted #333;
    }
  }
  &__count {
    float: left;
    color: $textColorBlack;
    font-size: 13px;
  }
  &__number {
    font-weight: bold;
  }
}
.pagination {
  float: right;
  font-size: 12px;
  &__item {
    display: inline-block;
    list-style: none;
    &--prev {
      @extend .pagination__item;
      position: relative;
      &:before {
        content: "[";
        margin-right: 5px;
      }
    }
    &--next {
      @extend .pagination__item;
      position: relative;
      &:after {
        content: "]";
        margin-left: 5px;
      }
      &:before {
        content: "";
        margin: 0 5px;
        font-size: 10px;
        line-height: 1;
        border-right: solid 1px #777;
      }
    }
  }
  &__link {
    color: $linkColor;
    cursor: pointer;
    &--disable {
      cursor: default;
      color: #777;
      text-decoration: none;
    }
  }
}
</style>
