<template>
  <div v-if="isVisible" class="courseSummary">
    <h2 class="courseSummary__title">コース</h2>
    <ul class="courseSummary__list">
      <template v-for="course in this.courseListForDisplay">
        <!-- yahooプラン : 通常プラン -->
        <li v-if="isYahooPlan(course.cassette) && (!isFilled(course.tokutenType) || course.tokutenType === 0)" :key="course" class="courseSummary__item courseItem">
          <h3 class="courseItem__title">
            <a v-if="isYSeatOnly(course.id)" :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="courseItem__link">【席のみ予約】お食事の内容は当日選ぶ</a>
            <a v-else :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="courseItem__link">{{course.name}}</a>
          </h3>
          <div class="courseItem__inner">
            <div v-if="getResizeImage(course.image, courseImageSize) !== ''" class="courseItem__image courseImage">
              <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="courseImage__link">
                <img :src="getResizeImage(course.image, courseImageSize)" :alt="isYSeatOnly(course.id) ? '【席のみ予約】お食事の内容は当日選ぶ' : course.name" class="courseImage__image" />
              </a>
            </div>
            <div class="courseItem__detail courseDetail">
              <div class="courseDetail__types">
                <span v-if="Boolean(course.reservationType)" class="courseDetail__type">リクエスト予約</span>
                <span v-else class="courseDetail__type">即予約</span>
                <span v-if="isLabel(course.attributes, '飲み放題')" class="courseDetail__type">飲み放題</span>
                <span v-if="isLabel(course.attributes, '食べ放題')" class="courseDetail__type">食べ放題</span>
              </div>
              <ul class="courseDetail__price coursePrice">
                <li class="coursePrice__item">
                  <span class="coursePrice__note">料金</span>
                  <em v-if="isSeatOnlyFlag(course.id, course.tokutenType, course.price)" class="coursePrice__main--seat">席のみ予約</em>
                  <em v-else class="coursePrice__main">{{course.price | separatePrice}}円</em>
                </li>
                <li class="coursePrice__item--annotation">※消費税等は要確認</li>
              </ul>
              <dl v-if="getUseScene(course.attributes) !== ''" class="courseSummary__scene courseScene">
                <dt class="courseScene__title">利用シーン</dt>
                <dd class="courseScene__description">{{getUseScene(course.attributes)}}</dd>
              </dl>
              <p v-if="getDescription(course.description) !== ''" class="courseDetail__description">
                <span class="courseDetail__note">{{getDescription(course.description)}}</span>
                <span v-if="course.description.length > 100" class="courseDetail__ellipsis">...</span>
              </p>
              <div class="courseDetail__reservation courseReservation">
                <img :src="getLogoImage(course.cassette)" width="auto" height="30" :alt="cassetteName[course.cassette]" class="courseReservation__image" />
                <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="courseReservation__button">コース詳細・予約する</a>
              </div>
            </div>
          </div>
        </li>
        <!-- yahooプラン : 特典あり -->
        <li v-else-if="isYahooPlan(course.cassette) && course.tokutenType !== 0" class="courseSummary__item courseItem" :key="course">
          <h3 class="courseItem__title">
            <a v-if="isYSeatOnly(course.id)" :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="courseItem__link">【席のみ予約】お食事の内容は当日選ぶ</a>
            <a v-else :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="courseItem__link">{{course.name}}</a>
          </h3>
          <div class="courseItem__inner">
            <div v-if="getResizeImage(course.image, courseImageSize) !== ''" class="courseItem__image courseImage">
              <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="courseImage__link">
                <img :src="getResizeImage(course.image, courseImageSize)" :alt="isYSeatOnly(course.id) ? '【席のみ予約】お食事の内容は当日選ぶ' : course.name" class="courseImage__image" />
              </a>
            </div>
            <div class="courseItem__detail courseDetail">
              <div class="courseDetail__types">
                <span v-if="Boolean(course.reservationType)" class="courseDetail__type">リクエスト予約</span>
                <span v-else class="courseDetail__type">即予約</span>
                <span v-if="isLabel(course.attributes, '飲み放題')" class="courseDetail__type">飲み放題</span>
                <span v-if="isLabel(course.attributes, '食べ放題')" class="courseDetail__type">食べ放題</span>
              </div>
              <ul class="courseDetail__price coursePrice">
                <li class="coursePrice__item">
                  <span class="coursePrice__note">一般料金</span>
                  <em v-if="course.premiumOnlyFlag" class="coursePrice__main--noPrice">ご利用いただけません</em>
                  <em v-else-if="isSeatOnlyFlag(course.id, course.tokutenType, course.price)" class="coursePrice__main--seat">席のみ予約</em>
                  <em v-else-if="isFilled(course.originalViewPrice)" class="coursePrice__main">{{course.originalViewPrice | separatePrice}}円</em>
                  <em v-else class="coursePrice__main">{{course.price | separatePrice}}円</em>
                </li>
                <li class="coursePrice__item--premium">
                  <span class="coursePrice__note--premium">プレミアム会員価格</span>
                  <em v-if="isSeatOnlyFlag(course.id, course.tokutenType, course.price)" class="coursePrice__main--seat">席のみ予約</em>
                  <em v-else class="coursePrice__main">{{course.price | separatePrice}}円</em>
                </li>
                <li v-if="getBenefitPhrase(course.hasTokuten, course.discountPercent) !== ''" class="coursePrice__item--offspecial courseOffspecial">
                  <span class="courseOffspecial__note">{{getBenefitPhrase(course.hasTokuten, course.discountPercent)}}</span>
                </li>
                <li v-if="isFilled(course.tokutenText) && isFilled(course.tokutenText) && course.tokutenText !== ''" class="coursePrice__item--special">特典：{{course.tokutenText}}</li>
                <li class="coursePrice__item--annotation">※消費税等は要確認</li>
              </ul>
              <dl v-if="getUseScene(course.attributes) !== ''" class="courseDetail__scene courseScene">
                <dt class="courseScene__title">利用シーン</dt>
                <dd v-text="getUseScene(course.attributes)" class="courseScene__description"></dd>
              </dl>
              <p v-if="getDescription(course.description) !== ''" class="courseDetail__description">
                <span class="courseDetail__note">{{getDescription(course.description)}}</span>
                <span v-if="course.description.length > 100" class="courseDetail__ellipsis">...</span>
              </p>
              <div class="courseDetail__reservation courseReservation">
                <img :src="getLogoImage(course.cassette)" width="auto" height="30" :alt="cassetteName[course.cassette]" class="courseReservation__image" />
                <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="courseReservation__button">コース詳細・予約する</a>
              </div>
            </div>
          </div>
        </li>
        <!-- yahoo以外 -->
        <li v-else class="courseSummary__item courseItem" :key="course">
          <h3 class="courseItem__title">
            <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="courseItem__link" rel="nofollow">{{course.name}}</a>
          </h3>
          <div class="courseItem__inner">
            <div v-if="getResizeImage(course.image, courseImageSize) !== ''" class="courseItem__image courseImage">
              <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="courseImage__link" rel="nofollow">
                <img :src="getResizeImage(course.image, courseImageSize)" :alt="course.name" class="courseImage__image" />
              </a>
            </div>
            <div class="courseItem__detail courseDetail">
              <div class="courseDetail__types">
                <span v-if="Boolean(course.reservationType)" class="courseDetail__type">リクエスト予約</span>
                <span v-else class="courseDetail__type">即予約</span>
                <span v-if="isLabel(course.attributes, '飲み放題')" class="courseDetail__type">飲み放題</span>
                <span v-if="isLabel(course.attributes, '食べ放題')" class="courseDetail__type">食べ放題</span>
              </div>
              <ul v-if="!isSeatOnlyFlag(course.id, 0, course.price)" class="courseDetail__price coursePrice">
                <li class="coursePrice__item"><span class="coursePrice__note">料金</span>
                  <em class="coursePrice__main">{{course.price | separatePrice}}円</em>
                </li>
                <li class="coursePrice__item--annotation">※消費税等は要確認</li>
              </ul>
              <dl v-if="getUseScene(course.attributes) !== ''" class="courseDetail__scene courseScene">
                <dt class="courseScene__title">利用シーン</dt>
                <dd v-text="getUseScene(course.attributes)" class="courseScene__description"></dd>
              </dl>
              <p v-if="getDescription(course.description) !== ''" class="courseDetail__description">
                <span class="courseDetail__note">{{getDescription(course.description)}}</span>
                <span v-if="course.description.length > 100" class="courseDetail__ellipsis">...</span>
              </p>
              <div class="courseDetail__reservation courseReservation">
                <img :src="getLogoImage(course.cassette)" width="auto" height="30" :alt="cassetteName[course.cassette]" class="courseReservation__image" />
                <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="courseReservation__button" rel="nofollow">コース詳細・予約する</a>
              </div>
            </div>
          </div>
        </li>
      </template>
    </ul>
    <p class="courseSummary__more courseMoreLink">
      <a :href="courseListUrl" class="courseMoreLink__link">コースをもっと見る（{{courseList.totalResults}}件）</a>
    </p>
  </div>
</template>

<script>
import Base from '@lib/baseComponent'
import Url from '@lib/Url'

const cosNo = '10000078'
const seatOnlyPattern = new RegExp('^s[0-9]{9}01$')
const courseImageWidth = 160
const courseImageHeight = 160
const noImageSize = '200x200'
const cassetteName = {
  'ccbf79674338330c7ce5557ace5a18ec': 'Yahoo!ダイニング',
  '1852ed1e9b6d12c23cd34e79a4be4c71': '一休.comレストラン(株式会社一休)',
  'a6e27b84663abc4336dc275c6fb7f978': 'ぐるなび',
  '20c4cc8c6339cc78326d4d5f0395dcb0': 'オズモール（スターツ出版株式会社）',
  '3f48a559dbfef9bd7ba6b6ef784e23b8': 'オズモール（スターツ出版株式会社）',
  '6a3b6ed40d949a607ebbf0d058cdd838': 'ホットペッパーグルメ（株式会社リクルート）'
}
const trackingNo = 'yloc_plan'

export default {
  props: [
    'gid',
    'courseList',
    'cidList',
    'children'
  ],
  extends: Base,
  data () {
    return {
      cassetteImages: {},
      resizedImages: {},
      cassetteName
    }
  },
  mounted () {
    let images = []
    let courseImagesUrls = []
    for (const course of this.courseListForDisplay) {
      if (this.isFilled(course.image) && course.image !== '') {
        courseImagesUrls.push(course.image)
      }
    }
    if (courseImagesUrls.length > 0) {
      images.push({urls: courseImagesUrls, width: courseImageWidth, height: courseImageHeight})
      this.resizeImages(this.gid, images)
    }
  },
  computed: {
    isVisible () {
      return this.courseList.totalResults > 0 && this.isGourmet && !this.isWedding
    },
    courseListForDisplay () {
      if (!this.g(this.courseList, 'entry')) {
        return []
      }
      return this.courseList.entry.slice(0, 3)
    },
    courseListUrl () {
      return this.$root.addUrlParameters('/place/g-' + this.gid + '/course', ['sc_type'])
    },
    courseImageSize () {
      return String(courseImageWidth) + 'x' + String(courseImageHeight)
    },
    genrecd () {
      return Url.getParameters().genrecd
    },
    /**
     * GETパラメータのgenrecdがグルメであって式場ではないかどうかの確認(0414)
     * @returns {bool} 在庫の有無
     */
    isWedding: function () {
      if (this.isFilled(this.genrecd)) {
        return this.genrecd.startsWith('0414') && this.includeWedding
      }
      return false
    },
    /**
     * 情報提供元にwedding(zexy)があるかのチェック
     **/
    includeWedding: function () {
      return this.cidList.includes(this.namespace.cid.zexy)
    },
    /**
     * グルメ対象店舗かどうか
     * @returns {bool}
     */
    isGourmet: function () {
      return this.getChildCpDataList(this.namespace.cid.gourmetCidGroup).length > 0
    }
  },
  filters: {
    separatePrice (price) {
      return String(price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
    }
  },
  methods: {
    /**
     * 表示コースがヤフープランかどうかの確認を行う
     *
     * @param cassette コースの入稿元のID
     * @returns {boolean}
     */
    isYahooPlan (cassette) {
      return cassette === this.namespace.cid.yahoo
    },
    /**
     * 表示プランが席のみかどうかを判断する
     *
     * @param id 店舗ID
     * @param tokutenType
     * @param price
     * @returns {boolean}
     */
    isSeatOnlyFlag (id, tokutenType, price) {
      if (!this.isFilled(tokutenType)) {
        tokutenType = 0
      }
      return seatOnlyPattern.test(id) || tokutenType === 1 || price <= 0
    },
    /**
     * Y店舗に対して,席のみ判断を行う
     *
     * @param id コースID
     */
    isYSeatOnly (id) {
      return seatOnlyPattern.test(id)
    },
    /**
     * コース詳細ページへの遷移URLを取得する
     *
     * @param id コースID
     * @param cassette コースの入稿元のカセットID
     * @param urls レスポンスを参考にすること(項目Urls)：https://cptl.corp.yahoo.co.jp/pages/viewpage.action?pageId=1415175833
     * @returns {string}
     */
    getCourseDetailUrl (id, cassette, urls) {
      let courseUrl = ''
      if (cassette === this.namespace.cid.yahoo) {
        courseUrl = '/place/g-' + this.gid + '/course/P'
        if (!this.isYSeatOnly(id)) {
          courseUrl += String(id)
        }
        courseUrl = courseUrl + this.$root.addUrlParameters('/?sc_e=' + trackingNo, ['sc_type'])
      } else if (cassette === this.namespace.cid.ikyu) {
        courseUrl = urls.original + '&CosNo=' + cosNo
      } else {
        courseUrl = urls.original
      }
      return courseUrl
    },
    /**
     * 特典文言を作成する
     *
     * @param hasTokuten 特典の有無
     * @param discountPercent 割引率
     * @returns {string}
     */
    getBenefitPhrase (hasTokuten, discountPercent) {
      let phraseList = []
      if (this.isFilled(discountPercent) && Number(discountPercent) > 0) {
        phraseList.push(String(discountPercent) + '%OFF')
      }
      if (hasTokuten) {
        phraseList.push('特典あり')
      }
      return phraseList.join('+')
    },
    /**
     * 飲み放題・食べ放題ラベルの表示決め
     *
     * @param attributes コースの属性一覧
     * @param pattern '食べ放題' or '飲み放題'
     * @returns {boolean}
     */
    isLabel (attributes, pattern) {
      let isInclude = false
      if (this.isFilled(attributes)) {
        for (const attribute of attributes) {
          if (this.isPartialMatch(attribute.name, pattern)) {
            isInclude = true
            break
          }
        }
      }
      return isInclude
    },
    /**
     * コース属性から利用シーンの文言を生成する(飲み放題・食べ放題は除く)
     *
     * @param attributes コースの属性一覧
     * @returns {string}
     */
    getUseScene (attributes) {
      let useScene = []
      if (this.isFilled(attributes)) {
        for (const attribute of attributes) {
          if (!(this.isPartialMatch(attribute.name, '飲み放題')) && !(this.isPartialMatch(attribute.name, '食べ放題'))) {
            useScene.push(attribute.name)
          }
        }
      }
      return useScene.join(' ')
    },
    /**
     * コース説明の100文字分を取得する
     *
     * @param description コース説明
     * @returns {string}
     */
    getDescription (description) {
      if (!this.isFilled(description)) {
        description = ''
      }
      return description.substr(0, 100)
    },
    /**
     * 部分一致してるか判断する
     *
     * @param source 調べたい文字列
     * @param pattern 含まれているか確認したい文字列
     * @returns {boolean}
     */
    isPartialMatch (source, pattern) {
      return source.includes(pattern)
    },
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    },
    getResizeImage (url, size) {
      if (this.status['resizedImages'] === 'binded' && this.isFilled(this.resizedImages[url]) && this.isFilled(this.resizedImages[url][size])) {
        return this.resizedImages[url][size]
      }
      return ''
    },
    getLogoImage (cassette) {
      let logoImage = this.namespace.courseLogo[cassette]
      if (!this.isFilled(logoImage)) {
        logoImage = this.namespace.noImage[noImageSize]
      }
      return logoImage
    },
    /**
     * ChildのCPList取得
     * @returns {array} CPList
     */
    getChildCpDataList (cplist) {
      return this.children.filter((val) => cplist.includes(val.CassetteId) && this.canOnlineReserveChild(val))
    },
    /**
     * オンライン予約可能かどうか
     * @returns {boolean} 表示可否
     */
    canOnlineReserveChild (childTenpo) {
      return childTenpo.OnlineReserveFlag || childTenpo.OnlineReserveRequestFlag
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.courseSummary {
  width: 100%;
  margin-bottom: 20px;

  &__title {
    @include placeTitle();
    @include placeTitleBorder();
  }
}

.courseItem {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border: 1px solid #e3d3af;
    &:last-child {
      margin-bottom: 10px;
    }

  &__title {
    margin-bottom: 10px;
    background-color: #f8eed0;
    font-size: 14px;
    font-weight: bold;
  }

  &__link {
    padding: 10px;
    display: block;
  }

  &__inner {
    width: 100%;
    display: table;
  }
}

.courseImage {
  margin-bottom: 10px;
  padding-left: 10px;
  display: table-cell;
  &__link {
    display: block;
    transition: all .2s;
    &:hover {
      opacity: .8;
    }
  }
}

.courseDetail {
  width: 100%;
  padding: 0 10px;
  vertical-align: top;
  display: table-cell;
  box-sizing: border-box;
  &--noType {
    @extend .courseDetail;
    padding-top: 20px;
  }

  &__types {
    width: 75%;
    display: inline-block;
  }

  &__type {
    margin: 0 5px 5px 0;
    padding: 0 8px;
    border: 1px solid #6f5d49;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 17px;
    color: #6f5d49;
    display: inline-block;
  }

  &__description{
    margin-bottom: 16px;
    padding: 8px;
    background: #f2f3e4;
    color: $textColorGray;
  }
}

.coursePrice {
  text-align: right;
  position: relative;

  &__note {
    &--premium {
      position: relative;
      &:before {
        position: absolute;
        top: 3px;
        left: -20px;
        @include svgIcon(14, 12, "https://s.yimg.jp/images/loco/front/images/common/icons/premium.svgz");
      }
    }
  }

  &__item {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: $textColorBlack;

    &--premium {
      @extend .coursePrice__item;
      margin-bottom: 3px;
      padding-top: 5px;
      position: relative;
      &:before {
        content: "";
        width: 300px;
        height: 1px;
        position: absolute;
        top: 0;
        right: 0;
        border-top: 1px dotted #aaaaaa;
      }
    }

    &--special {
      margin-left: 91px;
      margin-bottom: 10px;
      font-size: 12px;
      color: $priceColor;
    }

    &--annotation {
      width: 25%;
      color: $textColorGray;
      font-size: 10px;
      position: absolute;
      top: -20px;
      right: 0;
    }
  }

  &__main {
    margin-left: 10px;
    font-size: 18px;
    color: $priceColor;
    &--noPrice {
      @extend .coursePrice__main;
      font-size: 14px;
      font-weight: normal;
    }
    &--seat {
      @extend .coursePrice__main;
      font-size: 16px;
    }
  }
}

.courseOffspecial {
  margin-bottom: 10px;
  font-size: 12px;
  color: #fff;
  &__note {
    padding: 1px 6px;
    background-color: $priceColor;
    display: inline-block;
  }
}

.courseScene {
  margin-bottom: 15px;
  color: $textColorBlack;
  font-size: 14px;
  border: 1px solid #f0f0e1;

  &__title {
    padding: 3px 8px;
    display: table-cell;
    background-color: #f0f0e1;
    vertical-align: middle;
    box-sizing: border-box;
    white-space: nowrap;
  }
  &__description {
    padding: 3px 8px;
    display: table-cell;
    vertical-align: top;
  }
}

.courseReservation {
  text-align: right;
  &__image {
    margin-right: 10px;
    vertical-align: middle;
  }
  &__button {
    width: 202px;
    height: 34px;
    @include button-main;
    display: inline-block;
    line-height: 34px;
    vertical-align: middle;
  }
}

.courseMoreLink {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

</style>
