<template>
<div id="info" class="cpList tracked_mods" v-if="cpList.length > 0">
  <h2 class="cpList__title">情報提供元</h2>
  <div class="cpList__list">
    <template v-for="cp in cpList">
      <a v-if="cp.PcUrl1" :href="cp.PcUrl1" :key="cp" class="cpList__link" target="_blank" rel="nofollow">
        <img v-if="isExistImage(cp)" :src="cp.CassetteOwnerLogoImage" :alt="getAlt(cp)" class="cpList__image" />
        <span v-else class="cpList__text" v-text="getAlt(cp)"></span>
      </a>
      <div v-else :key="cp" class="cpList__link--disabled">
        <img v-if="isExistImage(cp)" :src="cp.CassetteOwnerLogoImage" :alt="getAlt(cp)" class="cpList__image" />
        <span v-else class="cpList__text" v-text="getAlt(cp)"></span>
      </div>
    </template>
  </div>
</div>
</template>

<script>
  export default {
    props: ['tenpo'],
    data () {
      return {
        cpList: []
      }
    },
    mounted () {
      const children = this.tenpo.Feature[0].Children
      if (typeof children === 'undefined' || children.length === 0) {
        return
      }

      for (const cp of children) {
        if (cp.CassetteHeader !== '' && cp.CassetteHeader !== null &&
          !this.cpList.some((l) => l.CassetteId === cp.CassetteId)) {
          this.cpList.push(cp)
        }
      }
      this.filterCpList()
    },
    methods: {
      isExistImage (cp) {
        return !(typeof cp.CassetteOwnerLogoImage === 'undefined' || cp.CassetteOwnerLogoImage === null || cp.CassetteOwnerLogoImage === '')
      },
      getAlt (cp) {
        if (cp.CassetteOwner !== '' && cp.CassetteOwner !== null) {
          return cp.CassetteOwner
        }
        return cp.CassetteHeader
      },
      filterCpList () {
        if (this.$root.isHiddenScType('info')) {
          // 非表示要素の場合は、cpListをYダイニングのみにする
          this.cpList = this.cpList.filter((cp) => cp.CassetteId === this.$root.namespace.cid.yahoo)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.cpList {
  margin-bottom: 16px;

  &__title{
    @include placeTitle;
    @include placeTitleBorder;
  }

  &__link {
    display: inline-block;
    width: 90px;
    height: 69px;
    margin: 0 4px 4px 0;
    padding: 2px;
    color: $textColorBlack;
    font-size: 13px;
    line-height: 60px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    transition: all .2s;
    overflow: hidden;
    &:hover {
      opacity: .8;
    }
    &--disabled{
      @extend .cpList__link;
      &:hover {
      opacity: 1;
      }
    }
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }

  &__text {
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
    line-height: 1.4;
    vertical-align: middle;
    word-break: break-all;
  }

}

</style>
