<template>
  <div id="flyer" v-if="flyers.length !== 0" class="flyer tracked_mods">
    <h2 class="flyer__title">{{ flyerTitle }}</h2>
    <ul class="flyer__list flyerList">
      <li v-for="flyer in flyers" class="flyerList__item">
        <a :href="flyer.chirashiThumbImagePcUrl" target="_blank" rel="nofollow" class="flyerList__link" data-ylk="slk:infodtl">
          <div class="flyerList__image flyerImage">
            <img :src="getResizeImages(flyer.chirashiThumbImage)" alt="" class="flyerImage__image" />
          </div>
          <div class="flyerList__text flyerText">
            <p class="flyerText__title">{{ flyer.chirashiThumbImageTitle }}</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import moment from '@lib/moment-ja'
import Base from '@lib/baseComponent'

const imageSize = 150
const imagePriority = 'l'
export default {
  extends: Base,
  data () {
    return {
      flyers: [],
      resizedImages: {}
    }
  },
  computed: {
    flyerTitle: function () {
      return this.tenpo.Feature[0].Name + 'のチラシ'
    }
  },
  props: {
    tenpo: Object // tenpo
  },
  mounted () {
    const lsbeDetail = this.tenpo.Feature[0].Property.Detail
    const now = moment()
    let chirashiCount = 0
    if (typeof lsbeDetail.ChirashiThumbImageCount !== 'undefined') {
      chirashiCount = lsbeDetail.ChirashiThumbImageCount
    }
    let urls = []
    for (let i = 1; i <= chirashiCount; i++) {
      // 表示判定
      // 画像のないチラシは表示しない
      if (!lsbeDetail['ChirashiThumbImage' + i]) {
        continue
      }
      // 掲載期間外のチラシは表示しない
      if (!lsbeDetail['ChirashiPublishStartDay' + i] || !lsbeDetail['ChirashiPublishEndDay' + i] ||
        now.isBefore(lsbeDetail['ChirashiPublishStartDay' + i], 'day') || now.isAfter(lsbeDetail['ChirashiPublishEndDay' + i], 'day')) {
        continue
      }
      urls.push(lsbeDetail['ChirashiThumbImage' + i])
      const obj = {
        chirashiPublishStartDay: lsbeDetail['ChirashiPublishStartDay' + i],
        chirashiPublishEndDay: lsbeDetail['ChirashiPublishEndDay' + i],
        chirashiThumbImage: lsbeDetail['ChirashiThumbImage' + i],
        chirashiThumbImagePcUrl: lsbeDetail['ChirashiThumbImagePcUrl' + i],
        chirashiThumbImageTitle: lsbeDetail['ChirashiThumbImageTitle' + i]
      }
      // 表示対象のチラシ配列として追加
      this.flyers.push(obj)
    }
    if (this.flyers) {
      this.resizeImages(this.tenpo.Feature[0].Gid, [{urls: urls, width: imageSize, height: imageSize, priority: imagePriority}])
    }
  },
  methods: {
    getResizeImages (imageUrl) {
      return (this.status['resizedImages'] === 'binded') ? this.resizedImages[imageUrl][imageSize + 'x' + imageSize] : ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.flyer{
  margin-bottom: 20px;

  &__title {
  @include placeTitle();
  }

  &__list {
    overflow: hidden;
  }

}

.flyerList{

  &__item{
    display: table;
    width: 50%;
    margin-bottom: 10px;
    float:left;
    &:nth-child(odd){
      clear: left;
    }
  }

  &__link{
    display: block;
    padding-right: 8px;
    transition: all .2s;
    &:hover {
      opacity: .8;
      text-decoration: none;
    }
  }

  &__image{
    display: table-cell;
    width: 150px;
    text-align: center;
  }

  &__text{
    display: table-cell;
    padding-right: 5px;
    vertical-align: top;
  }

}

.flyerImage{

  &__image{
    max-width: 150px;
    max-height: 150px;
    padding-right: 8px;
    vertical-align: bottom;
  }

}

//以下は要素が無くなったためコメントアウト
/*
.flyerText{

  &__note{
    color: $textColorBlack;
    font-size: 12px;
    &:hover{
      text-decoration: none;
    }

}

*/
</style>
