<template>
  <div id="newinfo" v-if="isVisible(latestInformationResults)" class="information tracked_mods">
    <h2 class="information__title">最新情報</h2>
    <ul class="information__list">
      <li v-for="(item, index) in latestInformationResults" v-if="index < 4" class="information__item">
        <a v-bind:href="getItemUrl(item.Gid, item.ItemId)" class="information__link" data-ylk="slk:infodtl">
          <div class="information__image informationImage">
            <img :src="getImageUrl(item.ImageList.Image[0], imageSize)" alt="" class="informationImage__image" />
          </div>
          <div class="information__detail informationDetail">
            <p class="informationDetail__title">{{item.Title}}</p>
            <p class="informationDetail__name">{{item.ShopName}}</p>
            <p v-if="isFilled(item.Price) && item.Price !== ''" class="informationDetail__price">
              <span class="informationDetail__number">{{ item.Price | getPrice(1) }}</span>
              <span class="informationDetail__unit">{{ item.Price | getPrice(2) }}</span>
            </p>
          </div>
        </a>
      </li>
    </ul>
    <p class="information__more moreLink"><a v-bind:href="informationUrl" class="moreLink__link" data-ylk="slk:more;pos:0">最新情報をもっと見る</a></p>
  </div>
</template>

<script>
import Base from '@lib/baseComponent'

const imageWidth = 150
const imageHeight = 93
const noImageSize = '200x200'

export default {
  props: [
    'gid',
    'cidList'
  ],
  extends: Base,
  data () {
    return {
      latestInformation: {},
      resizedImages: {}
    }
  },
  computed: {
    // 「最新情報をもっと見る」のリンク生成
    informationUrl () {
      return 'https://loco.yahoo.co.jp/place/g-' + this.gid + '/information/'
    },
    latestInformationResults () {
      if (this.status['latestInformation'] === 'binded') { return this.latestInformation.ResultSet.Result }
      return []
    },
    imageSize () {
      return String(imageWidth) + 'x' + String(imageHeight)
    }
  },
  mounted () {
    // ipocaAPIから最新情報を取得
    if (this.isFilled(this.namespace.API.latestInformation) && this.isFilled(this.gid)) {
      this.bindRequest({
        name: 'latestInformation',
        url: this.namespace.API.latestInformation,
        params: {
          gid: this.gid
        }
      }).then((response) => {
        let images = []
        for (const [index, item] of response.ResultSet.Result.entries()) {
          if (this.isFilled(item.ImageList.Image[0])) {
            images.push(item.ImageList.Image[0])
          }
          if (index === 4) {
            break
          }
        }
        this.resizeImages(this.gid, [{urls: images, width: imageWidth, height: imageHeight}])
      })
    }
  },
  methods: {
    // カードクリック時のリンクを生成するメソッド
    getItemUrl (gid, itemId) {
      return 'https://loco.yahoo.co.jp/place/g-' + gid + '/information/' + itemId + '/'
    },
    getImageUrl (url, size) {
      if (this.status['resizedImages'] === 'binded' && typeof this.resizedImages[url] !== 'undefined' && typeof this.resizedImages[url][size] !== 'undefined') {
        return this.resizedImages[url][size]
      }
      return this.namespace.noImage[noImageSize]
    },
    isVisible (results) {
      if (this.status['latestInformation'] === 'binded') {
        return (this.cidList.includes(this.namespace.cid.ipoca) || this.cidList.includes(this.namespace.cid.tokubai)) &&
          results.length > 0
      }
      return false
    },
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    }
  },
  filters: {
    getPrice (price, index) {
      return price.match(/^([0-9,]+)(.*)$/)[index]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.information{

  &__title {
    @include placeTitle;
    @include placeTitleBorder;
  }

  &__list {
    overflow: hidden;
  }

  &__item{
    display: table;
    width: 50%;
    margin-bottom: 10px;
    &:nth-child(even){
      float:left;
    }
    &:nth-child(odd){
      float: left;
      clear: left;
    }
  }

  &__link{
    display: block;
    padding-right: 8px;
    transition: all .2s;
    &:hover {
      opacity: .8;
      text-decoration: none;
    }
  }
}

.informationImage {
  display: table-cell;

  &__image {
    width: 150px;
    height: 93px;
    margin-right: 8px;
  }
}

.informationDetail {
  display: table-cell;
  padding-right: 5px;
  vertical-align: top;

  &__name{
    color: $textColorBlack;
    font-size: 12px;
    &:hover{
      text-decoration: none;
    }
  }

  &__price{
    color: #EF6074;
    font-weight: bold;
  }

  &__number{
    font-size: 20px;
  }

  &__unit{
    font-size: 12px;
  }
}

.moreLink {
  font-size: 12px;
  text-align: right;
  margin-bottom: 20px;

  &__link {
    position: relative;
    &:before{
      @include RiffIcon("\E60E", 10, #333);
      top: 0px ;
      left: -12px;
    }
  }

}

</style>
