<template>
<div class="loading">
  <div class="loading__body">
    <div class="loading__circle">Loading</div>
  </div>
</div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.loading {
  @include loadingBg();

  &__body {
    @include loadingBody();
  }

  &__circle {
    @include loadingCircle();
  }
}
</style>
