<template>
  <div v-if="getClipList(this.clipTenpoList, this.clipList).length > 0 " class="myClip tracked_mods" id="favlist">
    <span class="myClip__mark"></span>
    <h3 class="myClip__title">あなたが「行きたい」スポット</h3>
    <ul class="myClip__list">
      <li v-for="clip in getClipList(this.clipTenpoList, this.clipList)" v-if="clip" :key="clip" class="myClip__item">
        <div class="myClip__detail">
          <p class="myClip__name"><a :href="'/place/g-' + clip.Gid" class="myClip__link" data-ylk="slk:favplace">{{clip.Name}}</a></p>
          <p class="myClip__category">{{clip.Property.Station | getStationName}}</p>
          <div :class="getWebTopicClassTypeLabel(clip.Property.WebTopic.Label)">
            <p :class="getWebTopicClassTypeNumber(clip.Property.WebTopic.Label)">{{getWebTopic(clip.Property.WebTopic)}}</p>
          </div>
          <p class="myClip__review myClipReview"><a :href="'/place/g-' + clip.Gid + '/review'" class="myClipReview__link">{{clip.Property.LocoReviewCount}}件</a></p>
        </div>
        <div class="myClip__image myClipImage" v-if="hasImage(clip.Gid)"><a :href="'/place/g-' + clip.Gid" class="myClipImage__link" data-ylk="slk:favplace">
          <img :src="resizeTenpoImages[clip.Gid]" :alt=clip.Name class="myClipImage__image" /></a></div>
      </li>
    </ul>
    <p class="myClip__more moreLink"><a href="/private" class="moreLink__link" data-ylk="slk:favlnk;pos:0">すべての「行きたい」スポットを見る</a></p>
  </div>
</template>

<script>
  import Base from '@lib/baseComponent'
  import Vue from 'vue'
  import cookie from '@lib/cookie'

  export default {
    props: ['tenpo', 'eappid', 'userInfo'],
    extends: Base,
    data () {
      return {
        clipList: {},
        clipTenpoList: {},
        resizeTenpoImages: {}
      }
    },
    mounted () {
      if (this.userInfo.loginStatus && cookie()['Y']) {
        this.bindRequest({
          name: 'clipList',
          url: this.namespace.API.clipList
        }).then((clipList) => {
          return clipList.Feature.map(data => data.Property.KeepInfo.TypeKey).reduce((a, b) => a ? a + ',' + b : String(b), '')
        }).then((clipGidList) => {
          return this.bindRequest({
            name: 'clipTenpoList',
            url: this.namespace.API.clipTenpoList,
            params: {
              gid: clipGidList
            }
          })
        }).then((clipTenpoList) => {
          const tenpoList = this.getClipList(clipTenpoList, this.clipList)

          for (const tenpo of tenpoList) {
            const imageUrl = this.getImage(tenpo)
            if (imageUrl == null) {
              continue
            }
            this.getImageResizePromise(tenpo.Gid, imageUrl, 80, 60).then((value) => {
              Vue.set(this.resizeTenpoImages, tenpo.Gid, this.namespace.Url.iwizBase + value.ResultSet.Result[0].Url)
            })
          }
        })
      }
    },
    filters: {
      getStationName (stationList) {
        if (stationList == null || stationList.length === 0) {
          return ''
        }
        const firstStationName = stationList[0].Name
        return firstStationName == null ? '' : '[ ' + firstStationName + ' ]'
      }
    },
    methods: {
      /**
       * 行きたいスポットとして表示するもの（Feature）のリスト
       * @param {Object} clipTenpoList ローカルサーチのレスポンス
       * @param {Object} clipList アイテム一覧取得
       */
      getClipList (clipTenpoList, clipList) {
        if (clipList.Feature == null) {
          return []
        }
        const tenpoList = clipTenpoList.Feature
        if (tenpoList == null || tenpoList.length === 0) {
          return []
        }

        const gids = clipList.Feature
          .slice(0, 3)
          .map((clip) => clip.Property.KeepInfo.TypeKey)

        return gids.map((gid) => tenpoList.find((tenpo) => tenpo.Gid === gid))
      },
      getWebTopicClassTypeLabel (label) {
        if (label === '1') {
          return 'myClip__topicality--high'
        } else if (label === '2') {
          return 'myClip__topicality--middle'
        }
        return 'myClip__topicality--low'
      },
      getWebTopicClassTypeNumber (label) {
        if (label === '1') {
          return 'myClip__number--high'
        } else if (label === '2') {
          return 'myClip__number--middle'
        }
        return 'myClip__number--low'
      },
      getWebTopic (webTopic) {
        const label = webTopic.Label
        const score = webTopic.Score
        if (label === '1') {
          return '話題沸騰 ' + score + '/100'
        } else if (label === '2') {
          return '注目 ' + score + '/100'
        } else if (label === '3') {
          return score + '/100'
        } else {
          return '-'
        }
      },
      getImage (tenpo) {
        const images = this.getCidImg(tenpo.Property.Detail)
        images.sort((imageA, imageB) => this.getCidPriority(imageA.cid) - this.getCidPriority(imageB.cid))
        if (images == null || images.length === 0) {
          return null
        }
        const imageUrl = images[0].url

        if (imageUrl == null) {
          return null
        }

        return imageUrl
      },
      getCidImg (tenpoDetail) {
        return Object.keys(tenpoDetail)
          .filter(val => /^Image\d{1,2}$/.test(val))
          .map(val => ({
            url: tenpoDetail[val],
            cid: tenpoDetail[`ImageCid${val.substring(5)}`]
          }))
      },
      getCidPriority (cid) {
        return this.namespace.cidPriority.hasOwnProperty(cid) ? this.namespace.cidPriority[cid] : this.namespace.cidPriority['default']
      },
      getImageResizePromise (gid, url, width, height) {
        const image = {
          url: url,
          width: width,
          height: height
        }
        const params = {
          gid: gid,
          images: [image]
        }
        return this.post(this.namespace.API.resizeImage, params)
      },
      hasImage (gid) {
        const tenpoImage = this.resizeTenpoImages[gid]
        if (typeof tenpoImage === 'undefined' || tenpoImage === null) {
          return false
        }
        return true
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.myClip {
  position: relative;
  padding: 6px 10px;
  margin-bottom: 10px;
  border: 3px solid #cec5a6;

  &__mark {
    display: block;
    position: absolute;
    top: -4px;
    left: 7px;
    width: 21px;
    height: 37px;
    background: url('https://s.yimg.jp/images/loco/front/images/common/icons/ribbon02.svgz') no-repeat;
  }

  &__title {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 8px 25px;
    &:after {
      position: absolute;
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      background: radial-gradient(#ddd 0%, #fff 75%);
      left: 0;
      bottom: 1px;
    }
  }

  &__list {
    margin-bottom: 5px;
  }

  &__item {
    display: table;
    width: 100%;
    padding: 8px 0 5px;
    border-bottom: 1px dotted #999;
  }

  &__detail {
    padding-right: 8px;
    display: table-cell;
    vertical-align: top;
  }

  &__name {
    line-height: 1.3;
  }

  &__category {
    color:#868686;
    font-size: 11px;
  }

  &__topicality{
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    &:before {
      margin-right: 10px;
      vertical-align: middle;
    }

    &--high{
      @extend .myClip__topicality;
      &:before {
        @include svgIcon(25, 20, 'https://s.yimg.jp/images/loco/front/images/common/icons/smile_a.svgz');
        display: inline-block;
      }
    }

    &--middle{
      @extend .myClip__topicality;
      &:before {
        @include svgIcon(20, 20, 'https://s.yimg.jp/images/loco/front/images/common/icons/smile_b.svgz');
        display: inline-block;
      }
    }

    &--low{
      @extend .myClip__topicality;
      &:before {
        @include svgIcon(20, 20, 'https://s.yimg.jp/images/loco/front/images/common/icons/smile_c.svgz');
        display: inline-block;
      }
    }
  }

  &__number {
    @include balloon;

    &--high {
      @extend .myClip__number;
      background-color: #f45a3e;
      &:before {
        border-color: transparent #f45a3e transparent transparent;
      }
    }

    &--middle {
      @extend .myClip__number;
      background-color: #f98e2d;
      &:before {
        border-color: transparent #f98e2d transparent transparent;
      }
    }

    &--low {
      @extend .myClip__number;
      background-color: #e2ca9f;
      &:before {
        border-color: transparent #e2ca9f transparent transparent;
      }
    }

  }
}

.myClipReview{
  display: inline-block;
  &__link {
    font-size: 12px;
    vertical-align: middle;
    &:before {
      @include RiffIcon("\E10C", 16, #9a9a9a);
      position: relative;
      display: inline-block;
      margin-right: 3px;
      vertical-align: middle;
    }
  }
}

.myClipImage {
  display: table-cell;
  width: 80px;
  text-align: right;

  &__link {
    transition: all .2s;
    &:hover {
      opacity: .8;
    }
  }

  &__image {
    width: 80px;
    height: auto;
  }
}

.moreLink {
  font-size: 12px;
  text-align: right;

  &__link {
    position: relative;
    &:before {
      @include RiffIcon("\E60E", 10, #333);
      top: 0px;
      left: -12px;
    }
  }
}

</style>
