<template>
<div class="navigation">
  <ul class="navigation__body">
    <!-- 店舗情報 -->
    <li class="navigation__list">
      <div v-if="page === 'tenpo'" class="navigation__link--active">
        <span class="navigation__icon--shop navigation__icon--active">お店情報</span>
      </div>
      <a v-else :href="baseUrl" class="navigation__link">
        <span class="navigation__icon--shop">お店情報</span>
      </a>
    </li>
    <!-- /店舗情報 -->
    <!-- 写真 -->
    <li class="navigation__list">
      <div v-if="page === 'photo'" class="navigation__link--active">
        <span class="navigation__icon--photo navigation__icon--active">写真</span>
      </div>
      <a v-else :href="baseUrl + '/photo/'" class="navigation__link">
        <span class="navigation__icon--photo">写真</span>
      </a>
    </li>
    <!-- /写真 -->
    <!-- 口コミ -->
    <li class="navigation__list">
      <div v-if="page === 'review'" class="navigation__link--active">
        <span class="navigation__icon--review navigation__icon--active">クチコミ</span>
      </div>
      <a v-else :href="baseUrl + '/review/'" class="navigation__link">
        <span class="navigation__icon--review">クチコミ</span>
      </a>
    </li>
    <!-- /口コミ -->
    <!-- メニュー -->
    <li class="navigation__list">
      <!-- メニュー active: 現在メニュー系ページにいる -->
      <div v-if="menuType === 'active'" class="navigation__link--active">
        <span class="navigation__icon--menu navigation__icon--active">{{menuText}}</span>
      </div>
      <!-- メニュー enable: クリックできる -->
      <a v-else-if="menuType === 'enable'" :href="menuLink" class="navigation__link" v-on:mouseenter="showMenuSubNavigation = true"  v-on:mouseleave="showMenuSubNavigation = false">
        <span class="navigation__icon--menu">{{menuText}}</span>
        <ul class="navigation__sub navigationSub" v-if="showMenuSubNavigation">
          <li class="navigationSub__list" v-for="{title, url} in menuSubNavigations" :key="title">
            <a :href="url" class="navigationSub__link">{{title}}</a>
          </li>
        </ul>
      </a>
      <!-- メニュー 非活性 -->
      <div v-else class="navigation__link--disabled">
        <span class="navigation__icon--menu navigation__icon--disabled">
          {{menuText}}
        </span>
      </div>
    </li>
    <!-- /メニュー -->
    <!-- クーポン -->
    <li class="navigation__list">
      <div v-if="page === 'coupon'" class="navigation__link--active">
        <span class="navigation__icon--coupon navigation__icon--active">クーポン</span>
      </div>
      <a v-else-if="tenpo.Feature[0].Property.Coupon.length > 0" :href="baseUrl+ '/coupon/'" class="navigation__link">
        <span class="navigation__icon--coupon">
          クーポン
        </span>
      </a>
      <div v-else class="navigation__link--disabled">
        <span class="navigation__icon--coupon navigation__icon--disabled">
          クーポン
        </span>
      </div>
    </li>
    <!-- /クーポン -->
    <!-- 地図 -->
    <li class="navigation__list--last">
      <div v-if="page === 'map'" class="navigation__link--active"><span class="navigation__icon--map navigation__icon--active">地図</span></div>
      <a v-else :href="baseUrl + '/map/'" class="navigation__link"><span class="navigation__icon--map">地図</span></a>
    </li>
    <!-- /地図 -->
  </ul>
</div>
</template>

<script>
import Base from '@lib/baseComponent'
import Url from '@lib/Url'

const weddingMaxIndex = 60 // ゼクシィのフィールドの最大インデックス

export default {
  extends: Base,
  props: {
    // LSBEのレスポンス
    tenpo: {
      type: Object,
      required: true
    },
    wedding: {
      type: Object,
      required: false,
      default: {}
    },
    /**
     * 現在いるタブを表す
     *
     * 店舗詳細ページ: 'tenpo'
     * 写真ページ: 'photo'
     * 口コミページ: 'review'
     * メニューページ: 'menu'
     * クーポンページ: 'coupon'
     * 地図ページ: 'map'
     */
    page: {
      type: String,
      required: true
    },
    // lifetoolAPIのレスポンス
    courseList: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      showMenuSubNavigation: false // メニュー系タブの下のサブナビゲーション表示・非表示
    }
  },
  methods: {
  },
  computed: {
    /**
     * メニュータブの表示文言
     * @returns {String} (メニュー|プラン|サービス、他)
     */
    menuText () {
      // ---- current系 ----
      if (['menu', 'course'].includes(this.page)) {
        return 'メニュー'
      } else if (['plan'].includes(this.page)) {
        return 'プラン'
      } else if (['bridal', 'marriage', 'wedding'].includes(this.page)) {
        return 'サービス、他'
      }

      // ---- enable系 ----
      if (this.priorNavi === 'menu') {
        return 'メニュー'
      } else if (this.priorNavi === 'plan') {
        return 'プラン'
      } else if (this.priorNavi === 'service') {
        return 'サービス、他'
      } else {
        return 'メニュー'
      }
    },

    /**
     * メニュータブのリンク
     * @returns {?String} メニュータブの遷移先
     */
    menuLink () {
      if (this.priorNavi === 'menu') {
        // gourmet
        const path = this.hasCourse ? 'course' : 'menu'
        return `${this.baseUrl}/${path}`
      } else if (this.priorNavi === 'plan') {
        // asoview
        return `${this.baseUrl}/plan`
      } else if (this.priorNavi === 'service') {
        // zexy
        const path =
          this.hasMarriageProperty ? 'marriage'
            : this.hasWeddingProperty ? 'wedding'
              : 'bridal'
        return `${this.baseUrl}/${path}`
      } else {
        return null
      }
    },

    /**
     * サブナビゲーション
     * @returns {[Object]} サブナビゲーションで表示するアイテムのリスト フィールドはtitleとurl
     */
    menuSubNavigations () {
      if (this.priorNavi === 'menu') {
        // gourmet
        let subNavigations = []
        if (this.hasCourse) {
          subNavigations.push({title: 'コース', url: `${this.baseUrl}/course`})
        }
        if (this.hasMenu) {
          subNavigations.push({title: '料理', url: `${this.baseUrl}/menu`})
        }
        return subNavigations
      } else if (this.priorNavi === 'plan') {
        // asoview
        return []
      } else if (this.priorNavi === 'service') {
        // zexy
        let subNavigations = []
        if (this.hasMarriageProperty) {
          subNavigations.push({title: '式場情報', url: `${this.baseUrl}/marriage`})
        }
        if (this.hasWeddingProperty) {
          subNavigations.push({title: '挙式プラン', url: `${this.baseUrl}/wedding`})
        }
        if (this.hasBridalProperty) {
          subNavigations.push({title: 'ブライダルフェア', url: `${this.baseUrl}/bridal`})
        }
        return subNavigations
      } else {
        return []
      }
    },

    /**
     * メニューの活性状態
     * @returns {String} ('enable'|'disable'|'active')
     * active - 現在そのタブにいる
     * enable - クリックできる
     * disable - クリックできない
     */
    menuType () {
      if (['menu', 'course', 'plan', 'bridal', 'marriage', 'wedding'].includes(this.page)) {
        return 'active'
      }

      if (this.isGourmet || this.isAsoview || this.isZexy) {
        return 'enable'
      }

      return 'disable'
    },

    genrecd () {
      return Url.getParameters().genrecd
    },

    /**
     * ナビゲーションとして優先するパターン
     * メニュー: 'menu'
     * サービス、他: 'service'
     * プラン: 'plan'
     * 該当なし: null
     * @returns {?string} ジャンル
     */
    priorNavi () {
      // パラメータ指定がある場合
      if (this.genrecd != null) {
        if (this.genrecd.startsWith('01') && this.isGourmet) return 'menu'
        if (this.genrecd.startsWith('0414') && this.isZexy) return 'service'
      }

      // パラメータ指定がない場合
      if (this.isGourmet) return 'menu'
      if (this.isAsoview) return 'plan'
      if (this.isZexy) return 'service'

      return null
    },

    /**
     * グルメ情報がある
     * 最優先で表示するフラグではないので注意
     * @returns {boolean}
     * @see priorNavi
     */
    isGourmet () {
      return this.hasMenu || this.hasCourse
    },

    /**
     * アクティビティプランがある
     * 最優先で表示するフラグではないので注意
     * @returns {boolean}
     * @see priorNavi
     */
    isAsoview () {
      const cids = this.tenpo.Feature[0].Children.map(child => child.CassetteId)
      const detail = this.tenpo.Feature[0].Property.Detail
      return cids.includes(this.namespace.cid.asoview) && detail.Item != null && detail.Item.length > 0
    },

    /**
     * 式場情報がある
     * 最優先で表示するフラグではないので注意
     * @returns {boolean}
     * @see priorNavi
     */
    isZexy () {
      const cids = this.tenpo.Feature[0].Children.map(child => child.CassetteId)
      return cids.includes(this.namespace.cid.zexy) && this.hasAnyWeddingLikeProperty
    },

    // コースがある
    hasCourse () {
      return this.courseList.totalResults > 0
    },

    // 料理メニューがある
    hasMenu () {
      const detail = this.tenpo.Feature[0].Property.Detail
      return detail.RecommendItemName1 != null || detail.TopRankItemId1 != null
    },

    // 式場情報がある
    hasMarriageProperty () {
      const detail = this.wedding.Feature[0].Property.Detail
      const marriageProperties = [
        'WeddingPartyFoodCharge1',
        'WeddingAfterParty1',
        'WeddingUsePossibleTime',
        'WeddingChargeDesk1',
        'WededingCeremonialStyle1',
        'WededingCeremonialCapacity',
        'WeddingFacilitiesComment',
        'WeddingAccommodation',
        'WeddingPickUp',
        'WeddingPayment',
        'WeddingComment1',
        'WeddingBusinessHour',
        'WeddingReferenceComment',
        'WeddingReservation',
        'WeddingParking'
      ]
      return marriageProperties.some(key => detail[key] != null)
    },

    // 挙式プランに関する情報がある
    hasWeddingProperty () {
      const indices = [...Array(weddingMaxIndex).keys()].map(i => i + 1)
      const fields = ['WeddingPlanName', 'WeddingPlanUrl']
      const detail = this.wedding.Feature[0].Property.Detail
      const hasEveryField = index => fields.every(field => detail[`${field}${index}`] != null) // fields全てについてそのindexの値がある
      return indices.some(hasEveryField)
    },

    // ブライダルフェアに関する情報がある
    hasBridalProperty () {
      const indices = [...Array(weddingMaxIndex).keys()].map(i => i + 1)
      const fields = ['WeddingFairName', 'WeddingFairDetailUrl', 'WeddingFairReservationPcUrl']
      const detail = this.wedding.Feature[0].Property.Detail
      const hasEveryField = index => fields.every(field => detail[`${field}${index}`] != null) // fields全てについてそのindexの値がある
      return indices.some(hasEveryField)
    },

    // 式場情報、挙式プラン、ブライダルフェアのいずれかがある
    hasAnyWeddingLikeProperty () {
      if (!Object.keys(this.wedding).length) {
        return false
      }
      return this.hasMarriageProperty ||
        this.hasWeddingProperty ||
        this.hasBridalProperty
    },

    baseUrl () {
      return '/place/g-' + this.tenpo.Feature[0].Gid
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.navigation {

  margin-bottom: 20px;

  &__body {
    display: table;
    width: 100%;
    background-image: linear-gradient(to bottom, #fbfbfb 0%,#f3f3f3 100%);
    box-shadow: 0 1px 2px #aaa;
    table-layout: fixed;
  }

  &__list {
    display: table-cell;
    width: 100%;
    height: 51px;
    border-top: 1px solid #e7eaee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #a2a2a2;
    box-sizing: border-box;
    &--last {
      @extend .navigation__list;
      border-right: 0;
    }
  }

  &__link {
    display: block;
    position: relative;
    height: 51px;
    padding-top: 28px;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: #333;
    line-height: 1;
    box-sizing: border-box;
    &:hover {
      color: #fff;
      text-decoration: none;
      background-image: linear-gradient(to bottom, #535141 0%,#716d58 100%);
    }
    &--active {
      @extend .navigation__link;
      color: #fff;
      background-image: linear-gradient(to bottom, #535141 0%,#716d58 100%);
      &:after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -6px;
        border-style: solid;
        border-width: 9px 6.5px 0 6.5px;
        border-color: #726d58 transparent transparent transparent;
      }
      &:hover {
        color: #fff;
      }
    }
    &--disabled {
      @extend .navigation__link;
      color: #999;
      background-image: linear-gradient(to bottom, #e7e7e7 0%,#eaeaea 100%);
      cursor: default;
      &:hover {
        color: #999;
        background-image: linear-gradient(to bottom, #e7e7e7 0%,#eaeaea 100%);
      }
    }
  }

  &__icon {
    &:after {
      width: 100%;
      top: 3px;
      left: 0;
      text-align: center;
    }
    &--shop {
      @extend .navigation__icon;
      &:after {
        @include RiffIcon("\E11C", 22, #c1a98b);
      }
    }
    &--photo {
      @extend .navigation__icon;
      &:after {
        @include RiffIcon("\E131", 22, #c1a98b);
      }
    }
    &--review {
      @extend .navigation__icon;
      &:after {
        @include RiffIcon("\E10C", 22, #c1a98b);
      }
    }
    &--menu {
      @extend .navigation__icon;
      &:after {
        @include LocoIcon("\e905", 20, #c1a98b);
      }
    }
    &--coupon {
      @extend .navigation__icon;
      &:after {
        @include LocoIcon("\e904", 22, #c1a98b);
      }
    }
    &--map {
      @extend .navigation__icon;
      &:after {
        @include RiffIcon("\E12A", 22, #c1a98b);
      }
    }
    &--active {
      @extend .navigation__icon;
      &:after {
        color: #ffffff;
      }
    }
    &--disabled {
      @extend .navigation__icon;
      &:after {
        color: #a4a4ae;
      }
    }
  }

}

.navigationSub {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(to bottom, #fff 0%,#F3F3F3 100%);
  border: 1px solid #BDBDAE;
  &--active {
    display: block;
  }

  &__list {
    border-bottom: 1px solid #BDBDAE;
    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    display: block;
    position: relative;
    width: 162px;
    padding-left: 28px;
    line-height: 35px;
    color: #069;
    text-align: left;
    text-decoration: none;
    font-size: 13px;
    box-sizing: border-box;
    &:hover {
      background-color: #F0F0E1;
      text-decoration: none;
    }
    &:before {
      @include RiffIcon("\E60E", 12, #aaa487);
      top: 0;
      left: 10px;
      line-height: 35px;
    }
  }

}

</style>
