<template>
  <div id="toplink" class="pageTop tracked_mods">
    <a class="pageTop__link" v-on:click="scrollTop()" rel="nofollow" data-ylk="slk:_;pos:0">ページトップへ</a>
  </div>
</template>

<script>
import base from '@lib/baseComponent'

export default {
  extends: base,
  methods: {
    scrollTop: function () {
      this.$SmoothScroll(document.getElementById('wrapper'))
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.pageTop{
  margin-bottom: 20px;
  font-size: 12px;
  text-align: right;
  &__link{
    position: relative;
    cursor: pointer;
    &:before{
      @include RiffIcon("\E605", 14, $textColorBlack);
      top: -1px ;
      left: -16px;
    }
  }
}

</style>
