<template>
  <div class="pagination tracked_mods" id="pgbtm">
    <ol class="pagination__list" v-if="page.pageCount > 1">
      <!-- 前へボタン 非活性-->
      <li class="pagination__item" v-if="isStartPage()">
        <span class="pagination__button--prev pagination__button--disable">
          <span class="pagination__text--disable">前へ</span>
        </span>
      </li>
      <!-- 前へボタン 活性-->
      <li class="pagination__item" v-else>
        <span @click.prevent="prevPage" class="pagination__button--prev">
          <a :href="createTargetUrl(page.pageId)" class="pagination__text rapidnofollow" data-ylk="slk:prepg;pos:0">前へ</a>
        </span>
      </li>

      <!-- ページ番号 -->
      <li class="pagination__item--more" v-for="n in page.pageCount" v-if="displayMore(n)">...</li>
      <li v-else-if="isDisplay(n)" class="pagination__item--invisible"></li>
      <li class="pagination__item" v-else>
        <span class="pagination__link--active" v-if="checkSelected(n)">{{n}}</span>
        <a :href="getTargetNumUrl(n)" class="pagination__link rapidnofollow" :data-ylk='"slk:pgnum;pos:"+n' @click.prevent="targetSelect({n})" v-else>{{n}}</a>
      </li>

      <!-- 次へボタン 非活性-->
      <li class="pagination__item" v-if="isEndPage()">
        <span class="pagination__button--next pagination__button--disable">
          <span class="pagination__text--disable">次へ</span>
        </span>
      </li>
      <!-- 次へボタン 活性-->
      <li class="pagination__item" v-else>
        <span @click.prevent="nextPage" class="pagination__button--next">
          <a :href="createTargetUrl(page.pageId+2)" class="pagination__text rapidnofollow" data-ylk="slk:nexpg;pos:0">次へ</a>
        </span>
      </li>
    </ol>
  </div>
</template>

<script>
  export default {
    props: ['page', 'pagination', 'page-name'],
    data () {
      return {
        // pageSize: 10 // 一度に表示する画像枚数
      }
    },
    computed: {
      // ULT対応：ページングの条件変更時に値を返す
      isActiveStartPageLink () {
        return !this.isStartPage()
      },
      isActiveEndPageLink () {
        return !this.isEndPage()
      }
    },
    watch: {
      // ULT対応：ページング条件変更時にモジュールリフレッシュ
      isActiveStartPageLink (val) {
        if (val) {
          this.$nextTick(() => {
            if (this.$root.rapid) {
              this.$root.rapid.refreshModule('pgbtm', false, false)
            }
          })
        }
      },
      isActiveEndPageLink (val) {
        if (val) {
          this.$nextTick(() => {
            if (this.$root.rapid) {
              this.$root.rapid.refreshModule('pgbtm', false, false)
            }
          })
        }
      }
    },
    methods: {
      /*
       * 選択中番号かの判定
       * @return boolean
       */
      checkSelected: function (num) {
        return (this.page.pageId + 1 === num)
      },
      /*
       * 選択したページ番号のリストを表示
       */
      targetSelect: function (num) {
        this.scrollTop()
        // プラン一覧のとき
        if (this.pageName === 'planList') {
          location.href = this.createTargetUrl(num.n)
          return
        }
        if (this.page.pageId !== num.n - 1) {
          this.page.pageId = num.n - 1
          this.pagination.paging(this.page.pageId + 1)
          // 口コミ一覧、ブライダルフェアのとき
          if (this.pageName === 'reviewList' || this.pageName === 'bridalFair') {
            this.$emit('paging', num.n)
          }
        }
        // ULT対応
        this.$nextTick(() => {
          if (this.$root.rapid) {
            this.$root.rapid.refreshModule('pgbtm', false, false)
          }
        })
      },
      getTargetNumUrl: function (num) {
        let numUrl = ''
        numUrl = this.createTargetUrl(num)
        return numUrl
      },
      /*
       * ページネーションのボタンが押された際にナビゲーションの位置にスクロールする
       */
      scrollTop () {
        const navigation = document.querySelector('.placeNavigation')
        const navigationOffsetTop = navigation.offsetTop
        window.scroll(0, navigationOffsetTop)
      },
      /*
       * 前へが実行されたらページの番号を更新して渡す
       */
      prevPage () {
        this.scrollTop()
        // プラン一覧のとき
        if (this.pageName === 'planList') {
          location.href = this.createTargetUrl(this.page.pageId)
          return
        }
        // 口コミ一覧、ブライダルフェアのとき
        if (this.pageName === 'reviewList' || this.pageName === 'bridalFair') {
          this.$emit('prev-page')
          return
        }
        if (this.page.pageId > 0) {
          this.page.pageId -= 1
          this.pagination.paging(this.page.pageId + 1)
        }
      },
      /*
       * 次へが実行されたらページの番号を更新して渡す
       */
      nextPage () {
        this.scrollTop()
        // プラン一覧のとき
        if (this.pageName === 'planList') {
          location.href = this.createTargetUrl(this.page.pageId + 2)
          return
        }
        // 口コミ一覧、ブライダルフェアのとき
        if (this.pageName === 'reviewList' || this.pageName === 'bridalFair') {
          this.$emit('next-page')
          return
        }
        if (this.page.pageId < this.page.pageCount - 1) {
          this.page.pageId += 1
          this.pagination.paging(this.page.pageId + 1)
        }
      },
      /*
       * ページの最初かを判定する
       * return boolean
       */
      isStartPage () {
        return (this.page.pageId === 0)
      },
      /*
       * ページの最後かを判定する
       * return boolean
       */
      isEndPage () {
        return (this.page.pageId === this.page.pageCount - 1)
      },
      /*
       * ページを三点リーダで出力するかの判定
       * @return boolean
       */
      displayMore (num) {
        let currentPage = this.page.pageId + 1
        /*
         * ページ番号表示3点リーダがでる条件
         * ページ枚数が6より大きい
         * 3点リーダは先頭、末尾の隣
         * 表示位置よりも前 :表示位置-3が1より大きい
         * 表示位置よりも後 :末尾 - 表示位置が3より大きい
         */
        if (
          (num === 2) &&
          (currentPage - 3 > 1) &&
          (this.page.pageCount > 6)
        ) {
          return true
        } else if (
          this.page.pageCount - 1 === num &&
          this.page.pageCount - currentPage > 3 &&
          this.page.pageCount > 6
        ) {
          return true
        } else {
          return false
        }
      },
      /*
       * ページ番号が省略されるかの判定
       * @return boolean
       */
      isDisplay (num) {
        let displayPage = this.page.pageId + 1
        // true の時に数値を表示しない
        if (
          // ページ先頭 && ページ番号+4より大きく && 最終ページより-1小さい
          displayPage === 1 &&
        num > displayPage + 4 &&
        num < this.page.pageCount - 1
        ) {
          return true
        } else if (
          // ページ末尾 && ページ番号-4より小さく && 先頭ページよりも大きい
          displayPage === this.page.pageCount &&
        num < displayPage - 5 &&
        num > 1
        ) {
          return true
        } else if (
          // 表示位置の前後2は表示
        // 先頭ではない && 末尾ではない
        // 表示位置-2が1以上 && 表示位置+2が末尾より小さい && (表示ページより+2大きい || 表示ページより-2小さい )
          num !== 1 &&
        num !== this.page.pageCount &&
        displayPage - 2 >= 1 &&
        displayPage + 2 < this.page.pageCount &&
        (displayPage + 2 < num || num < displayPage - 2)
        ) {
          return true
        } else if (
          // 表示位置の-3と+1は表示
        // 先頭ではない && 末尾ではない
        // 表示位置が2より大きい && (表示位置-3が1 || 末尾よりも表示位置が小さい) && (表示位置+2 よりも大きい || 表示位置-3より小さい)
          num !== 1 &&
        num !== this.page.pageCount &&
        displayPage > 2 &&
        (displayPage - 4 === 1 || displayPage < this.page.pageCount) &&
        (displayPage + 2 < num || num < displayPage - 4)
        ) {
          return true
        } else if (
          // 表示位置の-1と+3は表示
        // 先頭ではない && 末尾ではない
        // 表示位置が1より大きい && 表示位置+3が末尾より小さい && 表示位置 + 3 より大きい
          num !== 1 &&
        num !== this.page.pageCount &&
        displayPage > 1 &&
        displayPage + 3 < this.page.pageCount &&
        displayPage + 3 < num
        ) {
          return true
        }
      },
      /*
       * 要素が1件以上のとき、表示する
       * @return boolean
       */
      displayFlag () {
        return (this.page.dataCount !== 0)
      },
      /*
       * ページ遷移用のURL生成
       */
      createTargetUrl (num) {
        // pushState対応確認
        if (window.history && window.history.pushState) {
          // URLパラメータを取得する
          let url = ''
          let pair = location.search.substring(1).split('&')
          let flg = false

          for (var index = 0; pair[index]; index++) {
            var kv = pair[index].split('=')// kvはkey-value
            if (kv[0] === 'page') {
              kv[1] = num
              flg = true
              index === 0 ? url += '?' : url += '&'
              url += kv[0] + '=' + kv[1]
            }
          }
          if (flg === false) {
            url ? url += '&' : url += '?'
            if (num) {
              url += 'page=' + (num)
            }
          }

          // photoIdが入らない場合、末尾に&が入る場合があるので削除
          if (url.slice(-1) === '&') {
            url = url.slice(0, -1)
          }
          url = this.$root.addUrlParameters(url, ['sc_type'])
          return url
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.pagination{
  margin-bottom:16px;
  &__list {
    text-align: center;
  }
  &__item {
    display: inline-block;
    margin-left:5px;
    &--invisible {
      display: none;
    }
    &--more {
      @extend .pagination__item;
      position: relative;
      line-height: 0.9;
      width: 24px;
      height: 24px;
      font-size: 24px;
      top: 10px;
    }
  }
  &__link {
    display: inline-block;
    height: 28px;
    width: 28px;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    color: #333;
    font-size:14px;
    line-height: 26px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    &:hover{
      background-color: #eee;
    }
    &--active {
      @extend .pagination__link;
      background-color: #eee;
    }
  }
  &__button {
    display:block;
    position: relative;
    text-decoration: none;
    &:before{
      position:absolute;
      top:50%;
      margin-top:-9px;
    }
    &--prev {
      @extend .pagination__button;
      &:before{
        @include RiffIcon("\E60D",14,#333);
        left: 8px;
        pointer-events: none;
      }
    }
    &--next {
      @extend .pagination__button;
      &:before{
        @include RiffIcon("\E60E",14,#333);
        right: 8px;
        pointer-events: none;
      }
    }
    &--disable {
      &:before{
        color:#bbb;
      }
    }
  }
  &__text{
    display: inline-block;
    height: 28px;
    width: 28px;
    overflow: hidden;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    color: #bbb;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    text-indent: 100%;
    background: #fff;
    cursor: pointer;
    &:hover{
      background-color: #eee;
    }
    &--disable{
      @extend .pagination__text;
      border: 1px solid #D5D5D5;
      background-color: #eee;
      cursor: auto;
    }
  }
}

</style>
