<template>
  <div class="planSummary">
    <div v-for="firstPlan in [getFirstPlanInfo()]" v-if="firstPlan" :key="firstPlan">
      <h2 class="planSummary__title">プラン</h2>
      <ul class="planSummary__list">
        <li class="planSummary__item planItem">
          <h3 class="planItem__title" v-if="typeof firstPlan.ItemTitle1 !== 'undefined' && firstPlan.ItemTitle1 !== ''"><a :href=firstPlan.ItemPcUrl1 target="_blank" class="planItem__link" rel="nofollow">{{firstPlan.ItemTitle1}}</a></h3>
          <div class="planItem__inner">
            <div v-if="getResizeImages(firstPlan.ItemImageUrl1) !== ''" class="planItem__image planImage"><a :href=firstPlan.ItemPcUrl1 target="_blank" class="planImage__link" rel="nofollow"><img :src=getResizeImages(firstPlan.ItemImageUrl1) :alt=firstPlan.ItemTitle1 class="planImage__image" /></a></div>
            <div class="planItem__detail planDetail">
              <ul class="planDetail__price planPrice">
                <li class="planPrice__item" v-if="isViewPrice(firstPlan)"><span class="planPrice__note">{{firstPlan.ItemPrice1}}：</span><em class="planPrice__main">{{firstPlan.ItemPriceType1 | convertToMoney}}</em><span class="planPrice__item">/1名様</span></li>
              </ul>
              <p class="planDetail__description" v-html="$options.filters.cropDescription(firstPlan.ItemDescription1)"></p>
              <div class="planDetail__reservation planReservation">
                <img src="https://s.yimg.jp/images/loco/pc/images/poi/logo_reserve_asoview.png" width="auto" height="30" alt="asoview" class="planReservation__image" />
                <a :href=firstPlan.ItemPcUrl1 target="_blank" class="planReservation__button" rel="nofollow">プラン詳細・予約する</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <p class="planSummary__more planMoreLink">
        <a :href="'/place/g-' + tenpo.Feature[0].Gid + '/plan/'" class="planMoreLink__link">プランをもっと見る（{{getCount()}}件）</a>
      </p>
    </div>
  </div>
</template>

<script>
  import base from '@lib/baseComponent'

  export default {
    props: ['tenpo'],
    extends: base,
    filters: {
      cropDescription (description) {
        if (description == null) {
          return description
        }

        if (description.length <= 120) {
          return description
        }

        return description.substr(0, 120) + '...'
      },
      convertToMoney (fare) {
        if (fare == null) {
          return fare
        }

        return fare.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '円'
      }
    },
    mounted () {
      const planInfo = this.getFirstPlanInfo()
      if (planInfo == null) {
        return null
      }

      const gid = this.tenpo.Feature[0].Gid
      const queries = [{urls: [planInfo.ItemImageUrl1], width: 140, height: 140}]
      this.resizeImages(gid, queries)
    },
    methods: {
      getResizeImages (imageUrl) {
        return (this.status['resizedImages'] === 'binded') ? this.resizedImages[imageUrl]['140x140'] : ''
      },
      getFirstPlanInfo () {
        if (!this.isExistAsoview()) {
          return null
        }

        const planList = this.tenpo.Feature[0].Property.Detail.Item
        if (planList == null || planList.length === 0) {
          return null
        }

        return planList[0]
      },
      isExistAsoview () {
        for (const cassette of this.tenpo.Feature[0].Children) {
          if (cassette.CassetteId === this.namespace.cid.asoview) {
            return true
          }
        }
        return false
      },
      getCount () {
        if (!this.isExistAsoview()) {
          return null
        }

        const planList = this.tenpo.Feature[0].Property.Detail.Item
        if (planList == null || planList.length === 0) {
          return null
        }

        return planList.length
      },
      isViewPrice (plan) {
        // 料金種別表示、料金がどちらもある場合に料金表示
        if (typeof plan.ItemPrice1 !== 'undefined' &&
            plan.ItemPrice1 !== '' &&
            typeof plan.ItemPriceType1 !== 'undefined' &&
            plan.ItemPriceType1 !== 0) {
          return true
        }
        return false
      }
    }
  }
</script>

<style lang="scss">
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';
.planSummary {
  width: 100%;
  margin-bottom: 20px;
  &__title {
    @include placeTitle;
    @include placeTitleBorder;
  }
}

.planItem {
  margin-bottom: 10px;
  padding-bottom: 15px;
  border: 1px solid #e3d3af;
  &__title {
    margin-bottom: 10px;
    background-color: #f8eed0;
    font-size: 14px;
    font-weight: bold;
  }
  &__link {
    padding: 10px;
    display: block;
  }
  &__inner {
    width: 100%;
    display: table;
  }
}

.planDetail {
  width: 100%;
  padding: 0 10px;
  vertical-align: top;
  display: table-cell;
  box-sizing: border-box;
  &__description {
    margin-bottom: 15px;
    font-size: 13px;
  }
}

.planImage {
  margin-bottom: 10px;
  padding-left: 10px;
  display: table-cell;
  &__link {
    display: block;
    transition: all .2s;
    &:hover {
      opacity: .8;
    }
  }
}

.planPrice {
  text-align: right;
  position: relative;
  &__item {
    margin-bottom: 5px;
    font-size: 12px;
    color: $textColorBlack;
  }
  &__main {
    font-size: 18px;
    font-weight: bold;
    color: $priceColor;
  }
}

.planReservation {
  text-align: right;
  &__image {
    margin-right: 10px;
    vertical-align: middle;
  }
  &__button {
    width: 202px;
    height: 34px;
    @include button-main;
    display: inline-block;
    line-height: 34px;
    vertical-align: middle;
  }
}

.planMoreLink {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}
</style>
