<template>
<div class="post tracked_mods" v-if="isVisible" id="post">
  <a :href="postPhotoUrl" class="post__button" rel="nofollow" data-ylk="slk:pst_poto">写真投稿</a>
  <a :href="postKuchikomiUrl" class="post__button" rel="nofollow" data-ylk="slk:pst_rvw">クチコミ投稿</a>
</div>
</template>

<script>
export default {
  props: ['tenpo'],
  computed: {
    isVisible: function () {
      return this.tenpo.Feature[0].Property.hasOwnProperty('Genre') &&
        this.tenpo.Feature[0].Property.Genre.length > 0 &&
        !this.tenpo.Feature[0].Property.Genre[0].Code.includes('0401')
    },
    postPhotoUrl: function () {
      return '/photo/posting?uid=' + this.tenpo.Feature[0].Property.Uid
    },
    postKuchikomiUrl: function () {
      return '/review/posting?uid=' + this.tenpo.Feature[0].Property.Uid
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.post {
  position: relative;
  padding: 8px 0 8px;
  text-align: center;

  &__button {
    @include button-normal;
    display: inline-block;
    width: 137px;
    font-size: 14px;
    line-height: 34px;
    box-sizing: border-box;
    &:first-child {
      margin-right: 8px;
    }
  }

}
</style>
