<template>
<div class="promotion tracked_mods" id="sale_prm" v-if="!$root.isHiddenScType('sale_prm')">
  <!-- 2カラム -->
  <ul v-bind:class="[column ? 'promotion__body--row': 'promotion__body']" v-if="existValidData(promotion.feature_module)">
    <li v-bind:class="[column ? 'promotion__list--row': 'promotion__list']" v-for="isolate in getPromotionIsolate(promotion.feature_module)" :key="isolate">
      <a :href=isolate.linkUrl class="promotion__link">
        <img v-lazy="isolate.imageUrl" class="promotion__image" />
        <p class="promotion__title">{{isolate.title}}</p>
        <p class="promotion__note">{{isolate.Text}}</p>
      </a>
    </li>
  </ul>
  <!-- /2カラム -->
</div>
</template>

<script>
export default {
  props: ['layout', 'promotion'],
  data () {
    return {
      column: this.layout
    }
  },
  methods: {
    existValidData (featureModule) {
      if (typeof featureModule === 'undefined') {
        return false
      }

      for (const promotion of featureModule.list) {
        if (this.isValid(promotion)) {
          return true
        }
      }

      return false
    },
    isValid (promotion) {
      if (promotion.publishStart === null || promotion.publishStart === '') {
        return false
      } else if (promotion.publishEnd === null || promotion.publishEnd === '') {
        return (promotion.isolate !== null) && (promotion.isolate.length !== 0)
      }

      const startTime = new Date(this.convertDateFromStrToDate(promotion.publishStart))
      const endTime = new Date(this.convertDateFromStrToDate(promotion.publishEnd))
      const now = new Date()

      if ((startTime <= now) && (endTime >= now)) {
        return (promotion.isolate !== null) && (promotion.isolate.length !== 0)
      }

      return false
    },
    convertDateFromStrToDate (date) {
      if (date === null) {
        return null
      }

      return new Date(date.replace(/^(\d{4})(\d\d)(\d\d)(\d\d)(\d\d)$/, '$4:$5 $2/$3/$1'))
    },
    getPromotionIsolate (featureModule) {
      for (const promotion of featureModule.list) {
        if (this.isValid(promotion)) {
          const isolate = promotion.isolate
          return isolate === null ? null : isolate.slice(0, 3)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.promotion {
  margin-bottom: 10px;

  &__body {
    width: 100%;
    overflow: hidden;

    &--row {
      display: table;
      width: 100%;
      margin-bottom: 20px;
      border: 1px solid #cccccc;
      table-layout: fixed;
    }
  }

  &__list {
    padding: 16px;
    border: 1px solid #cccccc;
    border-bottom: 0;
    &:last-child {
      border-bottom: 1px solid #cccccc;
    }
    &--row {
      @extend .promotion__list;
      display: table-cell;
      border: 0;
      border-right: 1px solid #cccccc;
      &:last-child {
        border-right: 0;
        border-bottom: 0;
      }
    }
  }

  &__link {
    display: block;
    transition: all .2s;
    &:hover {
      opacity: .8;
      text-decoration: none;
    }
  }

  &__image {
    display: block;
    width: 268px;
    margin: 0 auto 10px;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  &__note {
    color:$textColorGray;
    font-size: 14px;
  }
}
</style>
