<template>
<div v-bind:class="[column ? 'regularLink--row tracked_mods': 'regularLink tracked_mods']" id="srv_prm" v-if="!$root.isHiddenScType('srv_prm')">
  <p class="regularLink__title" v-if="!column">お得な情報</p>
  <a href="//reservation.yahoo.co.jp/guide/line/" v-bind:class="[column ? 'regularLink__link--row': 'regularLink__link']">
    <img v-lazy="'https://s.yimg.jp/images/reservation/promotion/common/images/120x120/line.png'" class="regularLink__image" alt="" />
    <dl v-bind:class="[column ? 'regularLink__body--row': 'regularLink__body']" class="linkDescription">
      <dt class="linkDescription__title">Yahoo!ダイニング 公式LINE@</dt>
      <dd class="linkDescription__note">お得なキャンペーン情報や、<br />いま話題のレストラン情報をお届け！</dd>
    </dl>
  </a>
  <a href="//reservation.yahoo.co.jp/business/" v-bind:class="[column ? 'regularLink__link--row': 'regularLink__link']">
    <img v-lazy="'https://s.yimg.jp/images/reservation/promotion/common/images/120x120/ols.png'" class="regularLink__image" alt="" />
    <dl v-bind:class="[column ? 'regularLink__body--row': 'regularLink__body']" class="linkDescription">
      <dt class="linkDescription__title">飲食店の皆様へ！</dt>
      <dd class="linkDescription__note">24時間ネット予約で集客力アップ！<br />Yahoo! JAPANの集客力を飲食店に！</dd>
    </dl>
  </a>
  <div class="regularLink__rectangle linkRectangle">
    <a href="https://yahoo.jp/TS-Qf2" class="linkRectangle__link" rel="nofollow">
      <img v-lazy="'https://s.yimg.jp/images/map/promo/map_pr/banner/checkin/map_bnr300x60.png'" class="linkRectangle__image" alt="Yahoo! MAPのチェックインでＴポイントがたまる！" /></a>
  </div>
</div>
</template>

<script>
export default {
  props: ['layout'],
  data () {
    return {
      column: this.layout
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.regularLink {
  &--row {
    margin-bottom: 10px;
    text-align: center;
  }
  &__title {
    @include placeTitle;
    @include placeTitleBorder;
    margin-bottom: 2px;
  }
  &__link {
    display: block;
    padding: 8px 0;
    border-bottom: 1px dotted #999999;
    transition: all .2s;
    &--row {
      @extend .regularLink__link;
      display: inline-block;
      margin: 0 20px 20px;
      border-bottom: 0;
      text-align: left;
      &:last-child {
        margin-right: 0;
      }
    }
    &:hover {
      opacity: .8;
    }
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
  &__image {
    display: inline-block;
    width: 60px;
    margin-right: 8px;
    vertical-align: top;
  }
  &__body {
    display: inline-block;
    width: 230px;
    vertical-align: top;
    &--row {
      @extend .regularLink__body;
      width: auto;
    }
  }
}

.linkDescription {
  &__title {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
  }
  &__note {
    font-size: 14px;
    color: $textColorGray;
  }
}

.linkRectangle{
  margin-bottom: 20px;
  &__link {
    display: block;
    width: 300px;
    margin: 0 auto;
    &:hover {
      opacity: .8;
    }
  }
  &__image{
    display: block;
  }
}
</style>
