<template>
<div id="rsvbtn" class="reserveButton tracked_mods" v-if="(!isGourmet || isWedding) && hasButtonData">
  <div v-if="isWeddingModule && getWeddingButtonData.length > 0 && hasWeddingUrl" class="reserveButton__container--wedding">
    <div class="reserveButton__header" v-if="reserveTel != null">
      <span class="reserveButton__description--free" v-if="reserveTelDescription">{{reserveTelDescription}}</span>
      <span :class="isPpcTel ? 'reserveButton__tel--free' : 'reserveButton__tel'">{{reserveTel}}</span>
    </div>
    <div class="reserveButton__body">
      <p class="reserveButton__title">式場の見学予約はこちら</p>
      <div class="reserveButton__inner">
        <div class="reserveButton__reserve">
          <div class="reserveButton__item">
            <a :href="getWeddingButtonData[0].buttonUrl" class="reserveButton__button" target="_blank" rel="nofollow" :data-ylk="`slk:${getWeddingButtonData[0].slk}`">
              {{getWeddingButtonData[0].buttonName}}
            </a>
            <p class="reserveButton__name">（{{getWeddingButtonData[0].cpName}}）</p>
          </div>
        </div>
      </div>
    </div>
    <div class="reserveButton__body" v-if="hasTravel && getWeddingButtonData.length > 1 && hasTravelUrl">
      <div class="reserveButton__information--indention">
        <p class="reserveButton__title--indention">宿泊予約をしたい方はこちら</p>
        <div class="reserveButton__select selectButton">
          <select v-model="selectedYearMonth" @change="updateDays" class="selectButton__selector">
            <option v-for="yearMonth in getYearMonth" :value="yearMonth.data" :key="yearMonth">{{yearMonth.text}}</option>
          </select>
          <span class="selectButton__note">月</span>
          <select v-model="selectedDay" class="selectButton__selector">
            <option v-for="day in days" :value="day" :key="day">{{day}}</option>
          </select>
          <span class="selectButton__note">日から</span>
          <select v-model="selectedNumberOfNights" class="selectButton__selector">
            <option v-for="number in numberOfNights" :value="number" :key="number">{{number}}</option>
          </select>
          <span class="selectButton__note">泊</span>
          <span class="reserveButton__description">（2名1室で検索）</span>
        </div>
      </div>
      <div class="reserveButton__reserve">
        <div class="reserveButton__item">
          <a :href="getTravelSearchUrl" class="reserveButton__button" :data-ylk="`slk:${getWeddingButtonData[1].slk}`">
            {{getWeddingButtonData[1].buttonName}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div v-else-if="isTravelModule && getTravelButtonData.length > 0 && hasTravelUrl" class="reserveButton__container">
    <div class="reserveButton__header" v-if="reserveTel != null">
      <span class="reserveButton__description--free" v-if="reserveTelDescription">{{reserveTelDescription}}</span>
      <span :class="isPpcTel ? 'reserveButton__tel--free' : 'reserveButton__tel'">{{reserveTel}}</span>
    </div>
    <div class="reserveButton__body">
      <div class="reserveButton__select selectButton">
        <select v-model="selectedYearMonth" @change="updateDays" class="selectButton__selector">
          <option v-for="yearMonth in getYearMonth" :value="yearMonth.data" :key="yearMonth">{{yearMonth.text}}</option>
        </select>
        <span class="selectButton__note">月</span>
        <select v-model="selectedDay" class="selectButton__selector">
          <option v-for="day in days" :value="day" :key="day">{{day}}</option>
        </select>
        <span class="selectButton__note">日から</span>
        <select v-model="selectedNumberOfNights" class="selectButton__selector">
          <option v-for="number in numberOfNights" :value="number" :key="number">{{number}}</option>
        </select>
        <span class="selectButton__note">泊</span>
        <span class="selectButton__description">（2名1室で検索）</span>
      </div>
      <div class="reserveButton__reserve">
        <div class="reserveButton__item">
          <a :href="getTravelSearchUrl" class="reserveButton__button" :data-ylk="`slk:${getTravelButtonData[0].slk}`">
            {{getTravelButtonData[0].buttonName}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div v-if="getButtonData.length > 0 && hasButtonUrl" class="reserveButton__container">
    <div class="reserveButton__information">
      <template v-if="reserveTel != null">
        <span class="reserveButton__description--free" v-if="reserveTelDescription">{{reserveTelDescription}}</span>
        <span :class="isPpcTel ? 'reserveButton__tel--free' : 'reserveButton__tel'">{{reserveTel}}</span>
      </template>
      <p class="reserveButton__note waitingTime" v-if="hasDeliveryTelDescription">
        <span class="waitingTime__note">（待ち時間</span>
        <span class="waitingTime__number">{{tenpo.Feature[0].Property.Detail.WaitingTime1}}</span>
        <span class="waitingTime__note">分：5分間隔で更新されます）</span>
      </p>
    </div>
    <div class="reserveButton__reserve">
      <div class="reserveButton__item" v-for="buttonData in getButtonData" v-if="isFilled(buttonData.buttonUrl)" :key="buttonData">
        <a :href="buttonData.buttonUrl" :target="shoudOpenNewTab(buttonData.buttonUrl) ? '_blank' : ''" class="reserveButton__button" :data-ylk="`slk:${buttonData.slk}`">{{buttonData.buttonName}}</a>
        <p class="reserveButton__note">（{{buttonData.cpName}}）</p>
      </div>
    </div>
  </div>
  <p class="reserveButton__more moreLink" v-if="hasReserveButtonsMore">
    <a :href="tenpo.Feature[0].Property.Detail.ReservationPcUrl2" target="_blank" class="moreLink__link">明日以降配達のご注文はこちら</a>
  </p>
</div>
</template>
<script>
  import base from '@lib/baseComponent'
  import moment from '@lib/moment-ja'
  import Url from '@lib/Url'

  export default {
    props: ['tenpo', 'wedding'],
    extends: base,
    data () {
      return {
        // 入力情報
        selectedYearMonth: '',
        selectedDay: 1,
        selectedNumberOfNights: 1,
        // 定数
        days: [],
        numberOfNights: [...Array(6).keys()].map(i => i + 1)
      }
    },
    filters: {
    },
    mounted () {
      const tomorrow = moment().add(1, 'days')
      this.selectedYearMonth = tomorrow.format('YYYYMM')
      this.selectedDay = tomorrow.format('D')
      this.updateDays()
      this.$parent.$emit('reserveButtonReady', (!this.isGourmet || this.isWedding) && this.hasButtonData)
    },
    computed: {
      hasButtonData () {
        return (this.getButtonData.length > 0 && this.hasButtonUrl) || this.getWeddingButtonData.length > 0 || this.getTravelButtonData.length > 0
      },
      /**
       * 式場のURLがあるかどうか
       * @returns {boolean} true/false
       */
      hasWeddingUrl () {
        return this.isFilled(this.wedding.Feature[0].Property.Detail.WeddingVisitReservationPcUrl1) && this.wedding.Feature[0].Property.Detail.WeddingVisitReservationPcUrl1 !== ''
      },
      /**
       * トラベルのURLがあるかどうか
       * @returns {boolean} true/false
       */
      hasTravelUrl () {
        return this.isFilled(this.tenpo.Feature[0].Property.Detail.PlanListUrl) && this.tenpo.Feature[0].Property.Detail.PlanListUrl !== ''
      },
      /**
       * グルメ店舗か判定
       * @returns {boolean} true/false
       */
      isGourmet () {
        return this.getChildCpDataList(this.namespace.cid.gourmetCidGroup).length > 0
      },
      genrecd () {
        return Url.getParameters().genrecd
      },
      /**
       * GETパラメータのgenrecdがグルメであって式場ではないかどうかの確認(0414)
       * @returns {bool} 在庫の有無
       */
      isWedding () {
        if (this.isFilled(this.genrecd)) {
          return this.genrecd.startsWith('0414') && this.isWeddingModule
        }
        return false
      },
      /**
       * 年月リスト取得
       * @returns {array} 当月込みで6ヶ月分の年月リスト
       */
      getYearMonth () {
        let yearMonthList = []
        // 当月込みで6ヶ月分表示
        for (let i = 0; i < 6; i++) {
          let data = moment().add(i, 'months')
          let yearmonth = {
            text: data.format('YYYY年MM'),
            data: data.format('YYYYMM')
          }
          yearMonthList.push(yearmonth)
        }
        return yearMonthList
      },
      /**
       * 明日以降配達リンクのデータがあるかどうか
       * @returns {boolean} true/false
       */
      hasReserveButtonsMore () {
        return Boolean(this.tenpo.Feature[0].Property.Detail.ReservationPcUrl2) && this.isDeliveryModule
      },
      /**
       * オンライン予約可能かどうか
       * @returns {boolean} 表示可否
       */
      canOnlineReserveFlag () {
        return this.tenpo.Feature[0].Property.Detail.OnlineReserveFlag || this.tenpo.Feature[0].Property.Detail.OnlineReserveRequestFlag
      },
      /**
       * 表示する電話番号
       * @returns {String} 電話番号。ハイフンで区切られている
       */
      reserveTel () {
        if (this.tenpo.Feature[0].Property.Detail.AlternativeTel) return this.tenpo.Feature[0].Property.Detail.AlternativeTel
        if (this.isPpcTel) return this.tenpo.Feature[0].Property.Detail.PpcNumber
        return this.tenpo.Feature[0].Property.Tel1
      },
      /**
       * PPC番号を表示するか
       * TODO: hasDeliveryTelDescriptionは副作用があるのでは by kenicyam
       * @returns {boolean} true/false
       */
      isPpcTel () {
        return Boolean(!this.hasDeliveryTelDescription && !this.tenpo.Feature[0].Property.Detail.AlternativeTel && this.tenpo.Feature[0].Property.Detail.PpcNumber)
      },
      /**
       * 電話番号補足文言取得
       * @returns {string} 電話番号補足文言
       */
      reserveTelDescription () {
        return (this.isPpcTel && this.tenpo.Feature[0].Property.PpcDescription) ? this.tenpo.Feature[0].Property.PpcDescription : null
      },
      /**
       * 配達待ち時間取得
       * @returns {string} 配達待ち時間
       */
      hasDeliveryTelDescription () {
        return (this.isDeliveryModule && this.tenpo.Feature[0].Property.Detail.WaitingTime1) ? this.tenpo.Feature[0].Property.Detail.WaitingTime1 : null
      },
      /**
       * 美容/病院/レンタカー/レジャー、スポーツ/駐車場モジュールを表示するか
       * @returns {boolean} true/false
       */
      isBeautyModule () {
        return this.getChildCpDataList(this.namespace.cid.beautyCidGroup).length > 0
      },
      /**
       * 検診モジュールを表示するか
       * @returns {boolean} true/false
       */
      isMedicalModule () {
        return this.getChildCpDataList(this.namespace.cid.medicalCidGroup).length > 0
      },
      /**
       * 薬局モジュールを表示するか
       * @returns {boolean} true/false
       */
      isPharmacyModule () {
        return this.getChildCpData(this.namespace.cid.eparkPharmacy).length >= 1
      },
      /**
       * Yahoo!トラベルモジュールを表示するか
       * @returns {boolean} true/false
       */
      isTravelModule () {
        return (this.getChildCpData(this.namespace.cid.yahooTravel).length >= 1) && this.getChildCpData(this.namespace.cid.zexy).length === 0
      },
      /**
       * 塾モジュールを表示するか
       * @returns {boolean} true/false
       */
      isSchoolModule () {
        return this.tenpo.Feature[0].Children.filter((val) => this.namespace.cid.jyukuNavi === val.CassetteId && this.tenpo.Feature[0].Property.Detail.DocRequestUrl).length >= 1
      },
      /**
       * 出前モジュールを表示するか
       * @returns {boolean} true/false
       */
      isDeliveryModule () {
        return this.getChildCpData(this.namespace.cid.demaekan).length >= 1
      },
      /**
       * 結婚式場モジュールを表示するか
       * @returns {boolean} true/false
       */
      isWeddingModule () {
        return this.getChildCpData(this.namespace.cid.zexy).length >= 1
      },
      /**
       * Feature.Childrenに結婚式場CPを含むか
       * @returns {boolean} true/false
       */
      hasWedding () {
        return this.getChildCpData(this.namespace.cid.zexy).length > 0
      },
      /**
       * トラベルCPを含むか
       * @returns {boolean} true/false
       */
      hasTravel () {
        return this.namespace.cid.yahooTravel === this.tenpo.Feature[0].Property.CassetteId || this.getChildCpData(this.namespace.cid.yahooTravel).length > 0
      },
      /**
       * ボタンデータにURLが含むものが一つでもあるか
       * @returns {boolean} true/false
       */
      hasButtonUrl () {
        for (const data of this.getButtonData) {
          if (this.isFilled(data.buttonUrl)) {
            return true
          }
        }
        return false
      },
      /**
       * 予約ボタンの表示情報を取得
       * @returns {array} 予約ボタン一覧
       */
      getButtonData () {
        // B-times対応
        let buttons = []
        this.getBTimesButtonData(buttons)
        // 美容/病院/レンタカー/レジャー、スポーツ/駐車場モジュール
        if (this.isBeautyModule) {
          return this.getBeautyButtonData(buttons)
        // 検診モジュール
        } else if (this.isMedicalModule) {
          return this.getMedicalButtonData(buttons)
        // 薬局モジュール
        } else if (this.isPharmacyModule) {
          return this.getPharmacyButtonData(buttons)
        // 塾モジュール
        } else if (this.isSchoolModule) {
          return this.getSchoolButtonData(buttons)
        // 出前モジュール
        } else if (this.isDeliveryModule) {
          return this.getDeliveryButtonData(buttons)
        }
        return buttons
      },
      /**
       * Yahoo!トラベルモジュールのボタン表示情報を取得
       * @returns {object} ボタンデータ
       */
      getTravelButtonData () {
        let travelButtons = []
        // API帰ってきた順に取得
        const travelCpList = this.getChildCpData(this.namespace.cid.yahooTravel)
        for (const travelCp of travelCpList) {
          if (travelButtons.length >= 2) break
          travelButtons.push(this.createButton('プランを検索する', travelCp.CassetteHeader, this.tenpo.Feature[0].Property.Detail.PlanListUrl, 'trvbtn'))
        }
        return travelButtons
      },
      /**
       * 式場見学モジュールのボタン表示情報を取得
       * @returns {object} ボタンデータ
       */
      getWeddingButtonData () {
        let weddingButtons = []
        // ゼクシィ
        const zexyData = this.getChildCpData(this.namespace.cid.zexy)[0]
        if (zexyData) weddingButtons.push(this.createButton('式場の見学予約はこちら', zexyData.CassetteHeader, this.wedding.Feature[0].Property.Detail.WeddingVisitReservationPcUrl1, 'tourbtn'))
        // ヤフートラベル
        const yahooTravelData = this.getChildCpData(this.namespace.cid.yahooTravel)[0]
        if (yahooTravelData) weddingButtons.push(this.createButton('プランを検索する', yahooTravelData.CassetteHeader, this.tenpo.Feature[0].Property.Detail.PlanListUrl, 'trvbtn'))
        return weddingButtons
      },
      /**
       * プラン検索ボタンのURL
       * @returns {string} プラン検索ボタンURL
       */
      getTravelSearchUrl () {
        const yyyymmdd = this.getSelectedYYYYMMDD(this.selectedYearMonth, this.selectedDay)
        return this.tenpo.Feature[0].Property.Detail.PlanListUrl + '&adlt=2&rm=1&ofs=1&ci=' + yyyymmdd + '&co=' + moment(yyyymmdd, 'YYYYMMDD').add(this.selectedNumberOfNights, 'days').format('YYYYMMDD')
      }
    },
    methods: {
      /**
       * undefinedかnullのチェックを行う.
       *
       * @param variable 確認したい変数
       * @returns {boolean} 入っていたらtrue.
     */
      isFilled (variable) {
        return !(typeof variable === 'undefined' || variable === null)
      },
      /**
       * 予約ボタンオブジェクトを生成
       * @returns {object} 予約ボタンオブジェクト
       */
      createButton (buttonName, cpName, buttonUrl, slk) {
        return {
          buttonName: buttonName,
          cpName: cpName,
          buttonUrl: buttonUrl,
          slk: slk
        }
      },
      /**
       * オンライン予約可能かどうか
       * @returns {boolean} 表示可否
       */
      canOnlineReserveChild (childTenpo) {
        return childTenpo.OnlineReserveFlag || childTenpo.OnlineReserveRequestFlag
      },
      /**
       * ChildのCP情報取得
       * @returns {object} Cp情報
       */
      getChildCpData (cid) {
        return this.tenpo.Feature[0].Children.filter((val) => cid === val.CassetteId && this.canOnlineReserveChild(val))
      },
      /**
       * ChildのCPList取得
       * @returns {array} CPList
       */
      getChildCpDataList (cplist) {
        return this.tenpo.Feature[0].Children.filter((val) => cplist.includes(val.CassetteId) && this.canOnlineReserveChild(val))
      },
      /**
       * 選択された日付を取得
       * @returns {string} yyyymmdd
       */
      getSelectedYYYYMMDD (yearMonth, day) {
        if (day >= 10) return yearMonth + day
        return yearMonth + '0' + day
      },
      /**
       * 年月の変更があった場合日付合計を更新
       */
      updateDays () {
        const monthToCount = moment(String(this.selectedYearMonth), 'YYYYMM')
        this.days = [...Array(monthToCount.daysInMonth()).keys()].map(i => i + 1)
        // 無効な日付が選択されている場合デフォルドで1日にする
        if (this.selectedDay > this.days.length) {
          this.selectedDay = 1
        }
      },
      /**
       * 新しいタブを開くか判断
       * 外部URLなら新しいタブを開く
       */
      shoudOpenNewTab (url) {
        const isSelf = url.startsWith('/')
        const isYahoo = /^(http|https):\/\/[^/]*\.yahoo\.co\.jp/.test(url)
        return !(isSelf || isYahoo)
      },
      /**
       * 美容/病院/レンタカー/レジャー、スポーツ/駐車場モジュールのボタン表示情報を取得
       * @returns {object} ボタンデータ
       */
      getBeautyButtonData (buttons) {
        // 優先度順に取得
        // ホットペッパービューティ
        const hotpepper = this.getChildCpData(this.namespace.cid.hotpepperBeauty)[0]
        if (hotpepper) buttons.push(this.createButton('予約する', hotpepper.CassetteHeader, hotpepper.ReservationPcUrl1, 'rsvbtn'))
        if (buttons.length >= 2) return buttons
        // ホットペッパービューティキレイ
        const hotpepperKirei = this.getChildCpData(this.namespace.cid.hotpepperBeautyKirei)[0]
        if (hotpepperKirei) buttons.push(this.createButton('予約する', hotpepperKirei.CassetteHeader, hotpepperKirei.ReservationPcUrl1, 'rsvbtn'))
        if (buttons.length >= 2) return buttons
        // EPARK(ローカルプレイス)
        const eparkData = this.getChildCpData(this.namespace.cid.epark)[0]
        if (eparkData) buttons.push(this.createButton('予約する', 'EPARK', eparkData.ReservationPcUrl1, 'rsvbtn'))
        if (buttons.length >= 2) return buttons
        // EPARKビューティー
        const eparkBeautyData = this.getChildCpData(this.namespace.cid.eparkBeauty)[0]
        if (eparkBeautyData) {
          // EPARKビューティーのみ、ReservationPcUrl1がなければPcUrl1を参照する
          const eparkBeautyButtonUrl = eparkBeautyData.ReservationPcUrl1
            ? eparkBeautyData.ReservationPcUrl1 : eparkBeautyData.PcUrl1
          buttons.push(this.createButton('予約する', eparkBeautyData.CassetteHeader, eparkBeautyButtonUrl, 'rsvbtn'))
        }
        if (buttons.length >= 2) return buttons
        // その他のCPはAPI帰ってきた順
        const beautyCpList = this.getChildCpDataList(this.namespace.cid.beautyCidGroup)
        for (const beautyCp of beautyCpList) {
          if (buttons.length >= 2) break
          if (this.namespace.cid.hotpepperBeauty !== beautyCp.CassetteId &&
          this.namespace.cid.hotpepperBeautyKirei !== beautyCp.CassetteId &&
          this.namespace.cid.epark !== beautyCp.CassetteId &&
          this.namespace.cid.eparkBeauty !== beautyCp.CassetteId) {
            if (this.namespace.cid.eparkEsthe === beautyCp.CassetteId) {
              buttons.push(this.createButton('予約する', 'EPARK', beautyCp.ReservationPcUrl1, 'rsvbtn'))
            } else if (this.namespace.cid.eparkDental === beautyCp.CassetteId) {
              buttons.push(this.createButton('予約する', beautyCp.CassetteHeader, this.tenpo.Feature[0].Property.Detail.ReservationPcUrl1.replace(/SITE_CODE=(m|s)/, 'SITE_CODE=l'), 'rsvbtn'))
            } else if (this.namespace.cid.jaranGolf === beautyCp.CassetteId) {
              buttons.push(this.createButton('予約する', 'じゃらんゴルフ', beautyCp.ReservationPcUrl1, 'rsvbtn'))
            } else if (this.namespace.cid.tabirai === beautyCp.CassetteId) {
              buttons.push(this.createButton('予約する', 'たびらいレンタカー', beautyCp.ReservationPcUrl1, 'rsvbtn'))
            } else {
              buttons.push(this.createButton('予約する', beautyCp.CassetteHeader, beautyCp.ReservationPcUrl1, 'rsvbtn'))
            }
          }
        }
        return buttons
      },
      /**
       * 検診モジュールのボタン表示情報を取得
       * @returns {object} ボタンデータ
       */
      getMedicalButtonData (buttons) {
        // API帰ってきた順に取得
        const medicalCpList = this.getChildCpDataList(this.namespace.cid.medicalCidGroup)
        for (const medicalCp of medicalCpList) {
          if (buttons.length >= 2) break
          if (this.namespace.cid.mrsoCid === medicalCp.CassetteId) {
            buttons.push(this.createButton('検診予約する', 'マーソ', medicalCp.ReservationPcUrl1, 'mcrsvbtn'))
          } else {
            buttons.push(this.createButton('検診予約する', medicalCp.CassetteHeader, medicalCp.ReservationPcUrl1, 'mcrsvbtn'))
          }
        }
        return buttons
      },
      /**
       * 薬局モジュールのボタン表示情報を取得
       * @returns {object} ボタンデータ
       */
      getPharmacyButtonData (buttons) {
        // API帰ってきた順に取得
        const pharmacyCpList = this.getChildCpData(this.namespace.cid.eparkPharmacy)
        for (const pharmacyCp of pharmacyCpList) {
          if (buttons.length >= 2) break
          buttons.push(this.createButton('処方せんネット予約', pharmacyCp.CassetteHeader, pharmacyCp.ReservationPcUrl1, 'prsrsvbtn'))
        }
        return buttons
      },
      /**
       * 塾モジュールのボタン表示情報を取得
       * @returns {object} ボタンデータ
       */
      getSchoolButtonData (buttons) {
        // API帰ってきた順に取得
        // 塾だけ予約可能かどうか見ない
        const schoolCpList = this.tenpo.Feature[0].Children.filter((val) => this.namespace.cid.jyukuNavi === val.CassetteId)
        for (const schoolCp of schoolCpList) {
          if (buttons.length >= 2) break
          buttons.push(this.createButton('資料をもらう（無料）', schoolCp.CassetteHeader, this.tenpo.Feature[0].Property.Detail.DocRequestUrl, 'docbtn'))
        }
        return buttons
      },
      /**
       * 出前モジュールのボタン表示情報を取得
       * @returns {object} ボタンデータ
       */
      getDeliveryButtonData (buttons) {
        // API帰ってきた順に取得
        const deliveryCpList = this.getChildCpData(this.namespace.cid.demaekan)
        const buttonName = this.tenpo.Feature[0].Property.Detail.WaitingTime1 !== null ? '注文する' : '予約する'
        // （待ち時間30分：5分間隔で更新されます）
        for (const deliveryCp of deliveryCpList) {
          if (buttons.length >= 2) break
          buttons.push(this.createButton(buttonName, deliveryCp.CassetteHeader, deliveryCp.ReservationPcUrl1, 'orderbtn'))
        }
        return buttons
      },
      /**
       * B-Timesのボタン表示情報を取得
       * @returns {object} ボタンデータ
       */
      getBTimesButtonData (buttons) {
        // B-Times
        const bTimesData = this.getChildCpData(this.namespace.cid.bTimes)[0]
        if (bTimesData) buttons.push(this.createButton('予約する', bTimesData.CassetteHeader, bTimesData.ReservationPcUrl1, 'rsvbtn'))
        return buttons
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.reserveButton {
  margin-bottom: 20px;
  &__container {
    @include clearfix;
    position: relative;
    margin-bottom: 10px;
    padding: 8px 10px;
    border: 1px solid #ece5c2;
    background-color: #fff9e2;
    &:before {
      position: absolute;
      left: 0;
      bottom: 0px;
      content: '';
      width: 608px;
      height: 1px;
      background-color: #e4dcac;
    }
    &:last-child {
      &:before {
        display: none;
      }
    }
    &--wedding {
      @extend .reserveButton__container;
      padding: 15px 10px 8px 10px;
    }
  }

  &__information {
    float: left;
  }

  &__tel {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-left: 26px;
    font-size: 16px;
    font-weight: bold;
    color:$textColorBlack;
    line-height: 1;
    &:before {
      @include RiffIcon("\E130", 22, $textColorBlack);
      top: 8px;
      left: 0;
      line-height: 1;
    }
    &--free {
      @extend .reserveButton__tel;
      padding-top: 0;
      color: #e75039;
      vertical-align: baseline;
      &:before {
        @include RiffIcon("\E130", 22, #e75039);
        top: -2px;
      }
    }
    &--reserve {
      @extend .reserveButton__tel;
      padding-top: 0;
      vertical-align: baseline;
      &:before {
        @include RiffIcon("\E130", 22, $textColorBlack);
        top: -2px;
      }
    }
    &--main {
      display: inline-block;
      padding-top: 0;
      font-size: 24px;
      font-weight: bold;
      vertical-align: middle;
    }
  }

  &__description {
    display: inline-block;
    color: $textColorGray;
    font-size: 12px;
    vertical-align: baseline;
    line-height: 1;
    &--main {
      @extend .reserveButton__description;
      margin-left: 2px;
      color: $textColorBlack;
      font-weight: bold;
      vertical-align: text-bottom;
    }
    &--free {
      @extend .reserveButton__description;
      display: block;
      margin-left: 26px;
      font-size: 10px;
      vertical-align: text-bottom;
    }
  }

  &__status {
    display: inline-block;
    margin-right: 18px;
    font-weight: bold;
    line-height: 1;
    vertical-align: bottom;
    &--number {
      font-size: 24px;
      font-weight: bold;
      color: #e75039;
    }
    &--other {
      display: inline-block;
    }
  }

  &__header {
    position: relative;
    padding-bottom: 16px;
    &:before {
      position: absolute;
      bottom: 0px;
      content: '';
      width: 608px;
      height: 1px;
      background-color: #e4dcac;
    }
  }

  &__body {
    @include clearfix;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    &:before {
      position: absolute;
      bottom: 0px;
      content: '';
      width: 608px;
      height: 1px;
      background-color: #e4dcac;
    }
    &:last-child {
      &:before {
        display: none;
      }
    }
  }

  &__title {
    float: left;
    padding-top: 10px;
    font-weight: bold;
    &--tel {
      display: inline-block;
      margin-right: 30px;
      font-size: 16px;
      font-weight: bold;
      vertical-align: middle;
    }
    &--indention {
      @extend .reserveButton__title;
      float: none;
      padding-top: 2px;
    }
  }

  &__reserve {
    @include clearfix;
    float: right;
  }

  &__item {
    float: left;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__name {
    margin-top: 5px;
    line-height: 1;
    font-size: 11px;
    color: $textColorBlack;
    text-align: center;
  }

  &__button {
    @include button-main;
    display: block;
    width: 166px;
    line-height: 36px;
    &--indention {
      @extend .reserveButton__button;
      margin-top: 10px;
    }
  }

  &__note {
    font-size: 11px;
    text-align: center;
  }

  &__available {
    display: inline-block;
    margin-left: 20px;
    padding: 0 10px;
    color: #ea1922;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    background-color: #ffffff;
    vertical-align: middle;
    border: 1px solid #ea1922;
    box-sizing: border-box;
  }
}

.selectButton {
  float: left;
  margin-top: 5px;

  &__selector {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
  }
  &__note {
    display: inline-block;
    vertical-align: middle;
  }
}

.waitingTime {
  &__note {
    @extend .reserveButton__description;
    padding-top: 10px;
  }
  &__number {
    font-size: 16px;
    font-weight: bold;
    color: #e75039;
  }
}

.moreLink {
  margin-bottom: 10px;
  font-size: 12px;
  text-align: right;
  &__link {
    position: relative;
    &:before {
      @include RiffIcon("\E60E", 10, $linkColor);
      top: 0;
      left: -12px;
    }
  }
}
</style>
