<template>
  <li class="searchResultAd__item--promotion relatedPromotion">
    <p class="relatedPromotion__title"><span class="relatedPromotion__keywords">{{ keywords }}</span><span class="relatedPromotion__note">に関連した広告</span></p>
    <a :href="result.clickUrl.innerText" target="_blank" class="relatedPromotion__link" rel="nofollow">
      <p class="relatedPromotion__name" v-html="result.title"></p>
      <p class="relatedPromotion__address">{{ result.siteHost }}</p>
      <p class="relatedPromotion__note" v-html="result.description"></p>
    </a>
  </li>
</template>

<script>
export default {
  props: ['keywords', 'result']
}
</script>

<style lang="scss" scoped>
  @import '~@pc/styles/partial/mixins';
  @import '~@pc/styles/partial/variable';

  .relatedPromotion{
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px dotted #999;
    &__title{
      color: $textColorGray;
      text-align: right;
    }

    &__keywords{
      font-weight: bold;
    }

    &__note{
      color: $textColorGray;
    }

    &__link{
      display: block;
      &:hover {
        text-decoration: none;
      }
    }

    &__address{
      color:$textColorLightGray;
    }

    &__name{
      display: inline-block;
      margin: 0 10px 6px 0;
      font-weight: bold;
      font-size: 15px;
      line-height: 1.3;
      vertical-align: middle;
      &:hover{
        text-decoration: underline;
      }
    }
  }
</style>
