<template>
  <div id="research" class="searchResult tracked_mods" v-if="getCount() !== 0 && isExistAd() && g(adInfeed, 'keywordsRatingSet.keywords') && !$root.isHiddenScType('research')">
    <!-- {{this.queryValue}}がちゃんとエンコーディングしてなかった -->
    <h2 class="searchResult__title">{{ g(adInfeed, 'keywordsRatingSet.keywords') }}の検索結果</h2>
    <ul class="searchResult__list">
      <!-- Infeed広告その1 -->
      <search-result-ad
        v-if="g(adInfeed, 'resultSet.listing') && g(adInfeed, 'resultSet.listing').length > 0"
        :keywords="g(adInfeed, 'keywordsRatingSet.keywords')"
        :result="g(adInfeed, 'resultSet.listing[0]')">
      </search-result-ad>
      <!-- Infeed広告その2 -->
      <search-result-ad
        v-if="g(adInfeed, 'resultSet.listing') && g(adInfeed, 'resultSet.listing').length > 2"
        :keywords="g(adInfeed, 'keywordsRatingSet.keywords')"
        :result="g(adInfeed, 'resultSet.listing[1]')">
      </search-result-ad>
      <template v-for="tenpo in getTenpoList()" v-if="tenpo">
        <li class="searchResult__item" :key="tenpo">
          <a :href="'/place/g-' + tenpo.Gid + '/'" class="searchResult__link">
            <p class="searchResult__name">{{tenpo.Name}}</p>
            <div :class="'searchResult__label--' + getWebTopicClassType(tenpo.Property.WebTopic.Label)">
              <p :class="'searchResult__number--' + getWebTopicClassType(tenpo.Property.WebTopic.Label)">
                <span class="searchResult__number--result">{{getWebTopic(tenpo.Property.WebTopic)}}</span><span class="searchResult__number--denominator">{{getWebTopicMax(tenpo.Property.WebTopic.Label)}}</span></p>
            </div>
            <p class="searchResult__note">{{getStationGenreText(tenpo)}}</p>
          </a>
        </li>
      </template>
      <!-- Infeed広告その3-1 -->
      <search-result-ad
        v-if="g(adInfeed, 'resultSet.listing') && g(adInfeed, 'resultSet.listing').length == 2"
        :keywords="g(adInfeed, 'keywordsRatingSet.keywords')"
        :result="g(adInfeed, 'resultSet.listing[1]')">
      </search-result-ad>
      <!-- Infeed広告その3-2 -->
      <search-result-ad
        v-if="g(adInfeed, 'resultSet.listing') && g(adInfeed, 'resultSet.listing').length > 2"
        :keywords="g(adInfeed, 'keywordsRatingSet.keywords')"
        :result="g(adInfeed, 'resultSet.listing[2]')">
      </search-result-ad>
    </ul>
    <p class="searchResult__more moreLink"><a :href="'/search/?p=' + this.queryValue" class="moreLink__link" data-ylk="slk:more;pos:0">{{ g(adInfeed, 'keywordsRatingSet.keywords') }}をもっと見る</a></p>
  </div>
</template>

<script>
  import base from '@lib/baseComponent'
  import searchResultAd from '@pc/components/place/searchResultAd.vue'

  export default {
    components: {
      searchResultAd
    },
    data () {
      return {
        queryValue: '',
        researchTenpoList: {}
      }
    },
    props: ['tenpo', 'adInfeed'],
    extends: base,
    mounted () {
      this.queryValue = this.g(this.adInfeed, 'keywordsRatingSet.keywords')

      if (typeof this.queryValue === 'undefined' || this.queryValue === null) {
        return
      }

      this.bindRequest({
        name: 'researchTenpoList',
        url: this.namespace.API.research,
        params: {
          start: 1,
          results: 3,
          ac: 'JP',
          sort: 'hybrid',
          query: this.queryValue
        }
      })
    },
    methods: {
      getCount () {
        const tenpoList = this.researchTenpoList.Feature
        if (tenpoList == null) {
          return 0
        }
        return tenpoList.length
      },
      isExistAd () {
        if (typeof this.adInfeed === 'undefined' || this.adInfeed === null || typeof this.adInfeed.resultSet === 'undefined' || this.adInfeed.resultSet === null) {
          return false
        }
        return true
      },
      getQueryParam (url) {
        if (url == null) {
          return null
        }

        const params = url.substring(url.indexOf('?') + 1, url.length).split('&')
        for (const param of params) {
          let key = param.split('=')[0]
          let value = param.split('=')[1]
          if (key === 'p') {
            return value
          }
        }

        return null
      },
      getTenpoList () {
        if (this.researchTenpoList == null) {
          return null
        }

        return this.researchTenpoList.Feature.slice(0, 3)
      },
      getWebTopicClassType (label) {
        if (label === '1') {
          return 'high'
        } else if (label === '2') {
          return 'middle'
        }
        return 'low'
      },
      getWebTopic (webTopic) {
        const label = webTopic.Label
        const score = webTopic.Score
        if (label === '1') {
          return '話題沸騰 ' + score + '/'
        } else if (label === '2') {
          return '注目 ' + score + '/'
        } else if (label === '3') {
          return score + '/'
        } else {
          return '-'
        }
      },
      getWebTopicMax (label) {
        if (label === '1' || label === '2' || label === '3') {
          return '100'
        }
        return ''
      },
      getStationGenreText (tenpo) {
        const stationList = tenpo.Property.Station
        const genreList = tenpo.Property.Genre

        let station = ''
        let genre = ''

        if (stationList != null && stationList.length !== 0) {
          station = stationList[0].Name
        }

        if (genreList != null && genreList.length !== 0) {
          genre = genreList[0].Name
        }

        return '[' + station + '] ' + genre
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.searchResult{
  margin-bottom: 20px;
  border: 1px solid #cecebf;

  &__title{
    padding: 8px;
    color: $textColorGray;
    font-weight: bold;
    background: #f0f0e2;
  }

  &__item{
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px dotted #999;
  }

  &__note{
    color: $textColorGray;
  }

  &__link{
    display: block;
    &:hover {
      text-decoration: none;
    }
  }

  &__address{
    color:$textColorLightGray;
  }

  &__name{
    display: inline-block;
    margin: 0 10px 6px 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.3;
    vertical-align: middle;
    &:hover{
      text-decoration: underline;
    }
  }

  &__label{
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    &:before {
      margin-right: 10px;
      vertical-align: middle;
    }

    &--high{
      @extend .searchResult__label;
      &:before {
        @include svgIcon(25, 20, 'https://s.yimg.jp/images/loco/front/images/common/icons/smile_a.svgz');
        display: inline-block;
      }
    }

    &--middle{
      @extend .searchResult__label;
      &:before {
        @include svgIcon(20, 20, 'https://s.yimg.jp/images/loco/front/images/common/icons/smile_b.svgz');
        display: inline-block;
      }
    }

    &--low{
      @extend .searchResult__label;
      &:before {
        @include svgIcon(20, 20, 'https://s.yimg.jp/images/loco/front/images/common/icons/smile_c.svgz');
        display: inline-block;
      }
    }
  }

  &__number {
    @include balloon;

    &--high {
      @extend .searchResult__number;
      background-color: #f45a3e;
      &:before {
        border-color: transparent #f45a3e transparent transparent;
      }
    }

    &--middle {
      @extend .searchResult__number;
      background-color: #f98e2d;
      &:before {
        border-color: transparent #f98e2d transparent transparent;
      }
    }

    &--low {
      @extend .searchResult__number;
      background-color: #e2ca9f;
      &:before {
        border-color: transparent #e2ca9f transparent transparent;
      }
    }

    &--denominator {
      font-size: 10px;
    }
  }

}

.moreLink{
  padding: 8px;
  font-weight: bold;
  text-align: center;
  &__link{
    position: relative;
    padding-left: 22px;
    &:before{
      @include RiffIcon("\E140", 20, #666);
      top: -1px;
      left: 0;
      line-height: 1;
    }
  }
}
</style>
