<template>
<div class="share tracked_mods" id="sns">
  <a :href="twitterUrl" target="_blank" onclick="window.open(this.href, '_blank', 'location=yes,width=700,height=400');return false;" class="share__button--twitter" rel="nofollow" data-ylk="slk:twitter"><span class="share__text--twitter">ツイート</span></a>
  <a :href="facebookUrl" target="_blank" onclick="window.open(this.href, '_blank', 'location=yes,width=700,height=400');return false;" class="share__button--facebook" rel="nofollow" data-ylk="slk:facebook"><span class="share__text--facebook">シェア</span></a>
</div>
</template>

<script>
import moment from 'moment'

export default {
  props: ['tenpo'],
  computed: {
    /**
     * シェア用のURL（ツイッター）取得
     */
    twitterUrl: function () {
      return 'https://twitter.com/intent/tweet?original_referer=' + encodeURIComponent(location.href) + '&amp;text=' + encodeURIComponent(this.getWording()) + '&amp;url=' + encodeURIComponent(location.href)
    },
    /**
     * シェア用のURL（Facebook）取得
     */
    facebookUrl: function () {
      return 'https://www.facebook.com/sharer/sharer.php?app_id=251169198314705&u=' + encodeURIComponent(location.href)
    }
  },
  methods: {
    /**
     * 表示文言の取得
     */
    getWording: function () {
      const groumentGenre = this.tenpo.Feature[0].Property.Genre
        .filter((genre) => genre.Code.startsWith('01'))
      const genreName = groumentGenre
        .filter(genre => genre.hasOwnProperty('Name') && genre.Name.length !== 0)
        .map(genre => genre.Name)

      // 日付の取得
      const [countingStart, countingEnd] = [moment().subtract(8, 'day'), moment().subtract(2, 'day')].map(time => time.format('YYYY/MM/DD'))

      // 表示文言の取得
      let wording = ''
      if (groumentGenre.length > 0 && this.tenpo.Feature[0].Property.hasOwnProperty('WebTopic') && this.tenpo.Feature[0].Property.WebTopic.Label !== null && this.tenpo.Feature[0].Property.WebTopic.Score !== null) {
        if (this.tenpo.Feature[0].Property.WebTopic.Label === '0') {
          wording = this.tenpo.Feature[0].Name + (genreName.length > 0 ? '[' + genreName[0] + '] ' : '') + 'Yahoo!ロコ 話題度:- 集計期間:' + countingStart + '〜' + countingEnd
        } else {
          wording = this.tenpo.Feature[0].Name + (genreName.length > 0 ? '[' + genreName[0] + '] ' : '') + 'Yahoo!ロコ 話題度:' + this.tenpo.Feature[0].Property.WebTopic.Score + ' 集計期間:' + countingStart + '〜' + countingEnd
        }
      } else {
        wording = document.title
      }
      return wording
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';
.share {
  padding: 10px;

  &__button {
    position: relative;
    display: inline-block;
    padding-right: 8px;
    border-radius: 3px;
    box-sizing: border-box;
    &--twitter {
      @extend .share__button;
      height: 20px;
      margin-right: 8px;
      padding-left: 23px;
      background-color: #1b95e0;
      &:before {
        @include RiffIcon("\E704", 16, #ffffff);
        position: absolute;
        top: -2px;
        left: 5px;;
      }
    }
    &--facebook {
      @extend .share__button;
      height: 20px;
      padding-left: 22px;
      background-color: #4267b2;
      &:before {
        @include RiffIcon("\E700", 15, #ffffff);
        position: absolute;
        top: -1px;
        left: 5px;;
      }
    }
  }

  &__text {
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    vertical-align: top;
    &--twitter {
      @extend .share__text;
      display: inline-block;
      line-height: 20px;
    }
    &--facebook {
      @extend .share__text;
      display: inline-block;
      padding-top: 3px;
      font-family: Helvetica, Arial, "hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif;
    }
  }
}
</style>
