<template>
<div class="signboard tracked_mods" id="picture">
  <div v-if="imageList.length !== 0 && status.resizedImages === 'binded'">
    <!-- 画像の場合 -->
    <div class="signboard__body">
      <a v-for="image in imageList" :href="$root.addUrlParameters(photoUrl, ['sc_type'])" :key="image" class="signboard__link" data-ylk="slk:picture"><img :src="resizedImages[image.url][imgSizes[image.url]]" class="signboard__image" /></a>
    </div>
    <p class="signboard__more moreLink"><a :href="$root.addUrlParameters('/place/g-' + tenpo.Feature[0].Gid + '/photo/', ['sc_type'])" class="moreLink__link" data-ylk="slk:more;pos:0">写真をもっと見る</a></p>
  </div>
</div>
</template>

<script>
import Base from '@lib/baseComponent'

// 表示画像幅、高
const imgWidth = 302
const imgHeight = 200

export default {
  extends: Base,
  data () {
    return {
      imageList: [],
      resizedImages: {},
      imgSizes: {}
    }
  },
  computed: {
    photoUrl: function () {
      return 'https://loco.yahoo.co.jp/place/g-' + this.tenpo.Feature[0].Gid + '/photo/'
    },
    imgSize: function () {
      return imgWidth + 'x' + imgHeight
    }
  },
  props: {
    tenpo: Object // tenpo
  },
  mounted () {
    const gid = this.tenpo.Feature[0].Gid
    const lsbeDetail = this.tenpo.Feature[0].Property.Detail

    // LSBEの店舗画像を取得
    const lsbeImageList = Object.keys(lsbeDetail)
      .filter(val => /^Image(\d{1,3}|1000)$/.test(val))
      .map(val => ({
        url: lsbeDetail[val],
        cid: lsbeDetail[`ImageCid${val.substring(5)}`]
      }))

    const defaultPriority = 12
    const cidPriority = {
      'efca7abc05c8e23eb6730ea3666055cf': 1, // JRシステム
      'ccafb5a32d608190f3e6c8dd35847773': 1, // ロコプレミアムカセット
      'fc79df0c92570d73837433fa66f70a2c': 1, // 東京カフェ360
      'bb181b59aa335ed7ecc83f3f1411ae7f': 2, // ヒトサラ
      '1852ed1e9b6d12c23cd34e79a4be4c71': 2, // 一休
      '6a3b6ed40d949a607ebbf0d058cdd838': 5, // ホットペッパー
      '518d328f20aa43f667ce53a27bd6cd75': 5, // yoyaQ
      '132c700e0ebf5a1d386e9b725d7d1e6b': 6, // ロコプレイス
      '8024afaf82bcaaa4c33b91deea651df1': 6, // Yahooトラベル
      'a6e27b84663abc4336dc275c6fb7f978': 7, // ぐるなび
      '98c3fee387a42040f9cd0cb8a2889214': 7, // フォートラベル（国内）
      '495994ae74f963272cb2911309aa63d6': 7, // フォートラベル（国外）
      '354fa32c107eec4bd1d2f5ea72f71bee': 8, // Retty
      '464c71b5570d5e0fb005a0b11a67e146': 9, // 食べログ
      'fae87802e3fdc839611859a7bb3fe738': 13 // ピクニック
    }

    for (const image of lsbeImageList) {
      let imageObj = {}
      const imageUrl = image.url
      const imageCid = image.cid

      // 画像の設定
      imageObj['url'] = imageUrl
      imageObj['priority'] = cidPriority.hasOwnProperty(imageCid) ? cidPriority[imageCid] : defaultPriority

      this.imageList.push(imageObj)
    }

    // 画像を優先度順に並び替える
    this.imageList.sort((a, b) => a.priority - b.priority)

    // 表示する画像は優先度が高い2枚であるため、3枚目以降を削除する
    this.imageList = this.imageList.slice(0, 2)

    // 画像変換用のリクエストパラメータ作成
    let urls = []
    for (const image of this.imageList) {
      urls.push(image.url)
    }

    // 画像のリサイズ
    let resizeImageOptions = []
    const buildResizeImageOptions = urls.map(url => {
      return new Promise(resolve => {
        this.getImageSize(url).then(imgSize => {
          const { width, height, cropWidthCenter, cropHeightCenter } = this.calResizeImageOptions([imgSize.width, imgSize.height], [imgWidth, imgHeight])
          resizeImageOptions.push({
            urls: [url],
            quality: 100,
            width,
            height,
            cropWidthCenter,
            cropHeightCenter
          })
          this.imgSizes[url] = width + 'x' + height
          resolve()
        })
      })
    })
    Promise.all(buildResizeImageOptions).then(() => this.resizeImages(gid, resizeImageOptions))
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.signboard {
  margin-bottom: 20px;

  &__body {
    height: 200px;
    margin-bottom: 5px;
    text-align: center;
  }

  &__link {
    position: relative;
    display: inline-block;
    width: 302px;
    margin-right: 24px;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    transition: all .2s;
    &:hover {
      opacity: .8;
    }
    &:last-child {
      margin-right: 0;
    }
    &:after {
      content: "";
      @include loadingCircle();
      z-index: -1;
    }
  }

  &__text {
    text-align: left;
  }
}

.moreLink {
    font-size: 12px;
    text-align: right;

  &__link {
    font-size: 12px;
    font-weight: bold;
  }
}

</style>
