<template>
<div id="smartlogin" class="smartlogin" v-if="!isSBUser && isSBCooperation">
  <p class="smartlogin__title"><span class="smartlogin__note">ソフトバンクスマホユーザーは</span><span class="smartlogin__note--bold">スマートログイン設定</span><span class="smartlogin__note">をするとYahoo!プレミアムの全特典が使い放題</span></p>
  <p class="smartlogin__notice">※お客様の通信契約内容によっては対象外の場合もございます</p>
  <div class="smartlogin__inner setting">
    <p class="setting__information settingInformation"><span class="settingInformation__note">QRコードからスマートログイン設定をする</span></p>
    <p class="setting__qr settingQr">
      <img class="settingQr__image" :src="shortUrl" />
      <span class="settingQr__text">ソフトバンク（外部サイト）<br />Wi-Fiをオフにして設定してください</span>
    </p>
  </div>
</div>
</template>

<script>
import Base from '@lib/baseComponent'
// TODO: 暫定対応なので、AppId申請が通ったら削除する start
import Ajax from '@lib/Ajax'
// TODO: 暫定対応なので、AppId申請が通ったら削除する end
export default {
  extends: Base,
  props: [
    'userInfo',
    'smartLoginUrl'
  ],
  data () {
    return {
      shortUrl: ''
    }
  },
  mounted () {
    this.getQRCodeUrl()
  },
  methods: {
    getQRCodeUrl () {
      // TODO: 暫定対応なので、AppId申請が通ったら削除する start
      const appId = 'dj0zaiZpPTU2bVNaY053azZKaSZzPWNvbnN1bWVyc2VjcmV0Jng9NmE-'
      Ajax.get('http://yjpn.yahooapis.jp/v1/shorturl', {url: this.smartLoginUrl, appid: appId, output: 'json'}).then((data) => {
        this['shortUrl'] = 'https://qr.c.yimg.jp/q?v=4&u=' + data.entry['yjpn:shorturl']
        this.updateStatusOf('shortUrl')
        return data.entry['yjpn:shorturl']
      }).catch((err) => {
        this.errors['shortUrl'] = err
        this.updateStatusOf('shortUrl')
        throw err
      })
      // TODO: 暫定対応なので、AppId申請が通ったら削除する end
      // TODO: AppId申請が通ったら正規のAppIdを利用したアクセスに修正する
      // this.bindRequest({
      //   name: 'shortUrl',
      //   url: this.namespace.API.shortUrlshortUrlshortUrlshortUrlshortUrl,
      //   params: {
      //     url: this.smartLoginUrl
      //     output: 'json'
      //   },
      //   eappId: true
      //   method: 'GET'
      // })
    }
  },
  computed: {
    /**
     * ユーザのプレミアム会員タイプ
     *   1: SBバンドル会員（スマログ設定済ユーザ）
     *   2: YMバンドル会員（ID連携済）
     *   3: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定
     *   4: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定（YMバンドル対象者ID未連携が混在）
     *   5: オンプレ(ウォレット、アプリ課金購入などの通常プレミアム)
     *   6: 非プレミアム会員
     *   7: 非プレミアム会員(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *   8: 未ログイン
     *   9: 未ログイン(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *  ※1~5はプレミアム会員扱い、6~9は非プレミアム会員扱い
     * @return プレミアム会員タイプ
     */
    premiumMenberType () {
      return this.userInfo.premiumType
    },
    /**
     * ユーザがプレミアム会員かどうか
     * @return {boolean} true/false
     */
    isPremiumUser () {
      return this.userInfo.isPremium
    },
    /**
     * ユーザがSBバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isSBUser () {
      return this.userInfo.softbankBundle
    },
    /**
     * ユーザがYMobileバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isYMUser () {
      return this.userInfo.ymobileBundle
    },
    /**
     * 243連携済みかどうか
     * @return {boolean} true/false
     */
    isSBCooperation () {
      return this.userInfo.softBankCooperation === 1 || this.userInfo.softBankCooperation === '1'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.smartlogin {
  margin-bottom: 20px;
  padding: 30px 0 40px;
  text-align: center;
  border: solid 1px #ddd;

  &__note {
    &--bold {
      font-weight: bold;
      color: #e2251e;
    }
  }

  &__notice {
    margin-bottom: 16px;
    font-size: 12px;
  }

  &__inner {
    @include clearfix;
    width: 540px;
    margin: 0 auto;
  }

}

.settingInformation {
  display: table-cell;
  width: 370px;
  padding-top: 10px;
  vertical-align: top;
  &__note {
    position: relative;
    display: inline-block;
    padding: 17px 17px 17px 28px;
    background-color: #eee;
    font-size: 16px;
    font-weight: bold;
    color: #444;
    border-radius: 10px;
    z-index: 1;
    &:after {
      position: absolute;
      top: 6px;
      right: -14px;
      display: block;
      width: 46px;
      height: 46px;
      content: "";
      background: #eee;
      transform: rotate(-45deg);
      border-radius: 10px;
      z-index: -1;
    }
  }
}

.settingQr {
  display: table-cell;
  width: 170px;
  vertical-align: top;
  text-align: center;

  &__image {
    width: 74px;
    border: 1px solid $textColorBlack;
  }

  &__text {
    display: block;
    font-size: 10px;
  }
}
</style>
