<template>
<div class="subNavigation" v-if="Array.isArray(items) && items.length > 1">
  <ul class="subNavigation__list tracked_mods" :id="isWedding ? 'srvclm' : 'mnclm'">
    <li class="subNavigation__item" v-for="item in items" :key="item">
      <span v-if="isActive(item.page)" class="subNavigation__link--active" v-text="item.title"></span>
      <a v-else :href="$root.addUrlParameters(item.url, ['sc_type'])" class="subNavigation__link" v-text="item.title" :data-ylk="`slk:${item.page};pos:0`"></a>
    </li>
  </ul>
</div>
</template>

<script>
import Base from '@lib/baseComponent'
export default {
  props: {
    page: String, // e.g. 'marriage'
    items: Array // e.g.) [{page:'marriage',title:'式場情報',url:'https://loco../g-xxx'},,]
  },
  extends: Base,
  computed: {
    isWedding () {
      return this.page === 'marriage' || this.page === 'wedding' || this.page === 'bridal'
    }
  },
  methods: {
    isActive (value) {
      return value === this.page
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.subNavigation {
  $height: 40px;
  margin-bottom: 20px;
  &__list {
    display: flex;
  }
  &__item {
    width: 100%;
    height: $height;
    border-right: 1px solid #837f66;
    box-sizing: border-box;
    &:last-child {
      border-right: none;
    }
  }
  &__link {
    padding: 0 20px;
    line-height: $height;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #a29f82;
    display: block;
    &:hover {
      opacity: .8;
      text-decoration: none;
    }
    &--active {
      @extend .subNavigation__link;
      background-color: #837f66;
      &:hover {
        opacity: 1;
      }
    }
  }
}
</style>
