<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  ${require('../../partial/common/metaData.html')}
  <link rel="preconnect" href="//reservation.yahoo.co.jp">
</head>

<body>
  <div id="wrapper">
    <!-- マストヘッド -->
    ${require('../../partial/common/yjMastHead.html')}
    <!-- /マストヘッド -->
    <div id="app">
      <!-- 店舗情報など（共通）-->
      ${require('../../partial/place/commonData.html')} ${require('../../partial/place/courseData.html')}
      <!-- /店舗情報など（共通）-->
      <div class="layout__container">
        <!--グロナビ（共通）-->
        ${require('../../partial/common/commonGlobalNavigation.html')}
        <!--/グロナビ（共通）-->
        <!--店舗ヘッダー（共通）-->
        ${require('../../partial/place/placeSummary.html')}
        <!--/店舗ヘッダー（共通）-->
        <div class="layout__main">
          ${require('../../partial/place/placeNavigation.html')}
        </div>
        <div class="layout__sub">
          <div class="placeShareContainer">
            <!-- 投稿（共通）-->
            <post :tenpo="tenpo"></post>
            <!-- /投稿（共通）-->
          </div>
        </div>
      </div>
      <main class="layout__container">
        <div class="tracked_mods" id="skd_1">
          <detail-reserve-input v-if="!canReserveConform()" @course-date="setSelectedDate" @course-person="setSelectedPerson" @course-time="setSelectedTime" @confirm-flag="setConfirmFlag" @time-stock-result-code="setTimeStockResult" :tenpo="tenpo" :course-detail="course" :daily-stock="dailyStock" :daily-stock-filtered="dailyStockFiltered" :user-info="userInfo" :is-up-pos="true" :search-condition="searchCondition" :eappid="eappid" :rapid-num="1"></detail-reserve-input>
          <detail-reserve-input-confirm v-if="canReserveConform()" @course-date="setSelectedDate" @course-person="setSelectedPerson" @course-time="setSelectedTime" @confirm-flag="setConfirmFlag" :tenpo="tenpo" :course-detail="course" :daily-stock="dailyStock" :daily-stock-filtered="dailyStockFiltered" :user-info="userInfo" :can-confirm="canConfirm" :search-condition="searchCondition" :time-stock-result-code="timeStockResultCode" :rapid-num="1"></detail-reserve-input-confirm>
        </div>
        <div class="tracked_mods" id="pln_inf">
          <detail-menu :tenpo="tenpo" page="tenpo" :course-detail="course" :eappid="eappid"></detail-menu>
          <restaurant-announcement :tenpo="tenpo" :course-detail="course" :time-stock-result-code="timeStockResultCode" :eappid="eappid"></restaurant-announcement>
          <detail-description :tenpo="tenpo" page="tenpo" :course-detail="course"></detail-description>
        </div>
        <page-top></page-top>
        <!-- <detail-optional-menu></detail-optional-menu> -->
        <div class="tracked_mods" id="skd_2">
          <detail-reserve-input v-if="!canReserveConform()" @course-date="setSelectedDate" @course-person="setSelectedPerson" @course-time="setSelectedTime" @confirm-flag="setConfirmFlag" @time-stock-result-code="setTimeStockResult" :tenpo="tenpo" :course-detail="course" :daily-stock="dailyStock" :daily-stock-filtered="dailyStockFiltered" :user-info="userInfo" :is-up-pos="false" :search-condition="searchCondition" :eappid="eappid" :rapid-num="2"></detail-reserve-input>
          <detail-reserve-input-confirm v-if="canReserveConform()" @course-date="setSelectedDate" @course-person="setSelectedPerson" @course-time="setSelectedTime" @confirm-flag="setConfirmFlag" :tenpo="tenpo" :course-detail="course" :daily-stock="dailyStock" :daily-stock-filtered="dailyStockFiltered" :user-info="userInfo" :can-confirm="canConfirm" :search-condition="searchCondition" :time-stock-result-code="timeStockResultCode" :rapid-num="2"></detail-reserve-input-confirm>
        </div>
        <!-- おすすめ店舗（共通）-->
        <restaurant-recommend :tenpo="tenpo"></restaurant-recommend>
        <!--/おすすめ店舗（共通）-->
        <smartlogin :user-info="userInfo" :smart-login-url="smartLoginUrl"></smartlogin>
        <!-- 販促（共通）-->
        <promotion :layout="singleColumn" :promotion="promotion"></promotion>
        <!-- /販促（共通）-->
        <!-- 定常リンク（共通）-->
        <regular-link :layout="singleColumn"></regular-link>
        <!-- /定常リンク（共通）-->
      </main>
      <!--フッター（共通）-->
      ${require('../../partial/common/commonFooter.html')}
      <!--/フッター（共通）-->
      <input id="courseDetailJson" type="hidden" th:value="${courseDetailJson}" value='{
          "latency": 0.084605932235718,
          "requestDate": "2018-03-06T12:56:41+09:00",
          "entry": {
            "tenpoId": "s000176530",
            "cassette": "ccbf79674338330c7ce5557ace5a18ec",
            "requestReservationFlg": "0",
            "seatCount": "80",
            "cardPaymentDescription": "AMEX/Diners/JCB/MASTER/VISA",
            "parkingCode": 1,
            "plans": [
              { "planId": "928063",
                "name": "仙台牛リッチパーティープラン　フリードリンク2時間付",
                "price": 9500,
                "fixedNumMin": 2,
                "fixedNumMax": 7,
                "image": [
                  "https://iwiz-reservation.c.yimg.jp/c/reservation/30/s000176530/1647830.jpg"
                ],
                "paymentMethod": "3",
                "tokutenType": "0",
                "seatOnlyFlag": false,
                "tokutenText": null,
                "premiumOnlyFlag": false,
                "originalPrice": null,
                "discountRate": null,
                "discountType": null,
                "catchPhrase": null,
                "introduction": null,
                "menuIntroduction": "▼注意事項（NOTE） 海外よりお越しのお客様は宿泊先のホテル名とお部屋番号を備考欄にご入力ください。 Please enter the hotel name and the room number where you will stay in the remarks column. 请在备注里写下您将下住的酒店名和房间号。",
                "menu": "＜前菜＞ キムチとナムルの4種盛り合わせ ＜生肉＞ 黒毛和牛サーロインとトリュフの握り(1貫) ＜最初のお肉＞ 30日間熟成KINTAN ＜サラダ＞ 玉締めしぼり胡麻油を使ったチョレギサラダ ＜タレのお肉＞ 仙台牛 赤身2種盛り / 黒毛和牛ミスジ ＜塩のお肉＞ 仙台牛 上カルビ / 仙台牛 トモサンカク ＜〆のお肉＞ 仙台牛　サーロインの焼きすきやき ＜お食事＞ フォアグラとトリュフのビビンバ ＜デザート＞ 大人のピスタチオデザート",
                "drinkIntroduction": "各種ドリンクご用意しております。",
                "drink": "ワイン（赤・白）、スパークリングワイン、生ビール カクテル、焼酎、梅酒など",
                "planCautionList": {
                  "deadline_notice": "ご来店予定日当日は、ネットからの予約変更・キャンセルができないことがあります。その際は、お店に直接お問い合わせください。",
                  "policy": {
                    "show_mail": "来店時には必ず、予約の確認画面もしくは予約完了時に送られてくるメールを対応する店員にお見せください。",
                    "course_change_num": "人数の変更は2日前までにお願いいたします。",
                    "course_limit_reserve": "来店予定時間を10分過ぎてもご来店されなかった場合は他のお客様を優先することがございます。",
                    "course_pointing_seat": "お席の指定はできませんのでご了承ください。",
                    "course_return_tel": "ご予約後、折り返しお電話させていただく場合がございます。"
                  },
                  "webtel_deadline_notice": "ご来店予定日当日は、ネットからの予約変更・キャンセルができないことがあります。その際は、お店に直接お問い合わせください。",
                  "webtel_policy": {
                    "show_mail": "来店時には必ず、予約の確認画面もしくは予約完了時に送られてくるメールを対応する店員にお見せください。",
                    "course_change_num": "人数の変更はお電話にてお願いいたします。",
                    "course_limit_reserve": "来店予定時間を10分過ぎてもご来店されなかった場合は他のお客様を優先することがございます。",
                    "course_pointing_seat": "お席の指定はできませんのでご了承ください。",
                    "course_return_tel": "ご予約後、折り返しお電話させていただく場合がございます。"
                  },
                  "request_deadline_notice": "変更・キャンセルする場合は、お客様よりお店に直接ご連絡ください。"
                },
                "property": [
                  {
                    "key": "yearend",
                    "title": "忘年会向け"
                  }
                ],
                "stayTime": 120,
                "classification": {
                  "key": 1,
                  "title": "飲み放題コース（コースメニュー＋飲み放題）"
                },
                "reserve": {
                  "startDate": "2018-02-13T00:00:00+09:00",
                  "closeDate": "2019-02-09T23:59:59+09:00",
                  "insertionStart": "2018-02-09T00:00:00+09:00",
                  "insertionEnd": "2019-02-09T00:00:00+09:00"
                }
              }
            ]
          }
        }' />
    </div>
  </div>
  ${require('~@pc/pages/partial/common/yjRapid.html')}
</body>
</html>
