<template>
<div class="calendarPopup">
  <div :class="[triangle === 'right' ? 'calendarPopup__body--triangleRight' : triangle === 'left' ? 'calendarPopup__body--triangleLeft' : 'calendarPopup__body']">
    <div class="calendarPopup__header">
      <div class="calendarPopup__control--prev" :class="{'calendarPopup__control--disabled': !isActivePrevButton}" @click="movePrevMonth()"></div>
      <p class="calendarPopup__title">{{getCalenderTitle}}</p>
      <div class="calendarPopup__control--next" :class="{'calendarPopup__control--disabled': !isActiveNextButton}" @click="moveNextMonth()"></div>
    </div>
    <div class="calendarPopup__contents">
      <table class="calendarPopup__table calendarTable">
        <tr class="calendarTable__row">
          <th class="calendarTable__header">日</th>
          <th class="calendarTable__header">月</th>
          <th class="calendarTable__header">火</th>
          <th class="calendarTable__header">水</th>
          <th class="calendarTable__header">木</th>
          <th class="calendarTable__header">金</th>
          <th class="calendarTable__header">土</th>
        </tr>
        <tr class="calendarTable__row" v-for="weekNo in getWeekNum" :key="weekNo">
          <td :class="dayList.dataClassName" v-for="dayList in getDaysInWeek(weekNo)" :key="dayList">
            <span :class="dayList.dateClassName" v-if="dayList.stock == 'noavailable' && dayList.date.getMonth() === calendarMonth">{{ dayList.date.getDate() }}</span>
            <span v-else-if="dayList.date.getMonth() === calendarMonth && dayList.stock === 'tel'">
              <span :class="dayList.dateClassName">{{ dayList.date.getDate() }}</span>
              <span class="calendarTable__status--tel"></span>
            </span>
            <a @click="getSelectedDate(dayList.date)" class="calendarTable__link" v-else-if="dayList.date.getMonth() === calendarMonth" rel="nofollow">
              <span :class="dayList.dateClassName">{{ dayList.date.getDate() }}</span>
              <span class="calendarTable__status" v-if="dayList.stock === 'available'">○</span>
              <span class="calendarTable__status" v-if="dayList.stock === 'request'">■</span>
            </a>
          </td>
        </tr>
      </table>
      <!-- ローディング -->
      <loading v-if="loading"></loading>
      <!-- /ローディング -->
    </div>
    <p class="calendarPopup__description"><span class="calendarPopup__text">◯：即時予約</span><span class="calendarPopup__text">■：リクエスト予約</span><span class="calendarPopup__text--tel">：電話での問い合わせ</span></p>
    <div class="calendarPopup__close">
      <div class="calendarPopup__button" v-on:click="clickCloseButton()">閉じる</div>
    </div>
  </div>
</div>
</template>

<script>
import Base from '@lib/baseComponent'
import loading from '@pc/components/place/loading.vue'
import Pagination from '@lib/Pagination'
import moment from '@lib/moment-ja'
// カレンダー表示上限日数
const calendarViewLimitDays = 90
const now = new Date()

export default {
  components: {
    loading
  },
  extends: Base,
  props: {
    popup: Boolean,
    triangle: {
      default: false
    },
    pendingButton: {
      /**
       * 日付未定ボタンの出し分け
       * @param String
       * 'none'非表示
       * 'link'ただのリンク
       * 'js' jsで処理が必要なボタン
       */
      type: String,
      default: 'none'
    },
    tenpo: {},
    dailyStock: {}
  },
  data () {
    let lastDay = new Date()
    lastDay.setDate(lastDay.getDate() + calendarViewLimitDays - 1)
    return {
      loading: true,
      today: now,
      lastDay: lastDay,
      calendarYear: now.getUTCFullYear(),
      calendarMonth: now.getMonth(),
      date: new Pagination().getSearchParameters().date,
      holidayData: {}
    }
  },
  mounted () {
    // ローディング終了
    this.loading = false
    // カレンダー以外をクリックした時にポップアップを閉じる
    const wrapper = document.getElementById('wrapper')
    wrapper.addEventListener('click', (e) => {
      if (!this.$el.contains(e.target)) {
        this.closePopup()
      }
    })
    // 祝日の取得
    if (typeof this.namespace.API.holiday !== 'undefined') {
      this.bindRequest({
        name: 'holidayData',
        url: this.namespace.API.holiday,
        params: {
          year: now.getFullYear()
        }
      })
    }
    // setter を呼んで computed のデータを更新
    this.lastDay = new Date(this.lastDay)
    this.gid = this.tenpo.Feature[0].Gid
  },
  computed: {
    /**
     * カレンダーのタイトルを表示
     */
    getCalenderTitle: function () {
      return this.calendarYear + '年' + (this.calendarMonth + 1) + '月'
    },
    /**
     * 表示付きが何週あるかを取得
     */
    getWeekNum: function () {
      const firstDay = new Date(this.calendarYear, this.calendarMonth, 1)
      const lastDay = new Date(this.calendarYear, this.calendarMonth + 1, 0)
      return Math.ceil((lastDay.getDate() + firstDay.getDay()) / 7)
    },
    /**
     * 正常なgetパラメータ（date）を持っているかの確認
     * 今後 date を遷移無しで変更する可能性がある場合は force update してください
     */
    hasValidDateParam () {
      return this.date !== undefined && this.date.length === 8 && moment(this.date, 'YYYYMMDD').isValid() &&
        moment(this.date).isBetween(moment(), moment().add(calendarViewLimitDays, 'days'), 'day', '[)')
    },
    /**
     * 前の月へボタンの活性非活性
     */
    isActivePrevButton: function () {
      return (this.today < new Date(this.calendarYear, this.calendarMonth, 1))
    },
    /**
     * 次の月へボタンの活性非活性
     */
    isActiveNextButton: function () {
      return (this.lastDay >= new Date(this.calendarYear, this.calendarMonth + 1, 1))
    }
  },
  methods: {
    closePopup: function () {
      this.$emit('close')
    },
    /**
     * dataのcss用のクラス名の取得
     * @param {Date} date: 日付
     * @param {String} stock: 在庫
     * @returns {String} クラス名
     */
    getDataClassName: function (date, stock) {
      return (date.getMonth() !== this.calendarMonth) ? 'calendarTable__data--empty'
        : (stock === 'noavailable') ? 'calendarTable__data--disabled'
          : (this.isHoliday(date)) ? 'calendarTable__data--holiday'
            : (date.getDay() === 0) ? 'calendarTable__data--sunday'
              : (date.getDay() === 6) ? 'calendarTable__data--saturday'
                : 'calendarTable__data'
    },
    /**
     * dateのcss用のクラス名の取得
     * @param {Date} date: 日付
     * @param {String} stock: 在庫
     * @returns {String} クラス名
     */
    getDateClassName: function (date, stock) {
      return (date.getMonth() !== this.calendarMonth) ? 'calendarTable__date--empty'
        : (stock === 'noavailable') ? 'calendarTable__date--disabled'
          : (this.isHoliday(date)) ? 'calendarTable__date--holiday'
            : (date.getDay() === 0) ? 'calendarTable__date--sunday'
              : (date.getDay() === 6) ? 'calendarTable__date--saturday'
                : 'calendarTable__date'
    },
    /**
     * 祝日判定
     * @param {Date} date: 日付
     * @returns {Boolan} 祝日かどうか
     */
    isHoliday: function (date) {
      if (this.status.holidayData !== 'binded') {
        return false
      }
      return this.holidayData.response.docs.some((docs) => {
        return docs.Year === date.getFullYear() && docs.Month === date.getMonth() + 1 && docs.Day === date.getDate()
      })
    },
    /**
     * カレンダー表示月の指定週の情報を取得
     * 1,8,15,...,29日は、それぞれ1,2,3,...,5週目に必ず含まれるので、まずは基準日として選定。
     * その後、基準日から曜日を引くと、その週の最初の日付がわかる。
     * ※ 6週目は基準日が35日になるが、setDate がうまいこと調整してくれる。
     * 例: 8日が水曜日の場合
     * weekNo = 2
     * まず、targetDay = 8日 となる。
     * 水曜日なので getDay = 3 となる。
     * 日付から曜日を引いて、週の初め(日曜)は 5日 となる。
     * @param weekNo 週番号（1~6）
     * @return {Array} dayList 日曜から土曜までの情報
     *      className: css用のクラス名
     *      stock: 在庫
     *      date: 日付
     */
    getDaysInWeek: function (weekNo) {
      const targetDay = new Date(this.calendarYear, this.calendarMonth, 7 * (weekNo - 1) + 1)
      // 日付から曜日を引いて、週の最初の日付を取得
      targetDay.setDate(targetDay.getDate() - targetDay.getDay())
      let dayList = []
      for (let i = 0; i < 7; ++i) {
        const stock = this.getStock(targetDay)
        const dataClassName = this.getDataClassName(targetDay, stock)
        const dateClassName = this.getDateClassName(targetDay, stock)
        const date = new Date(targetDay)
        dayList.push({dataClassName, dateClassName, stock, date})

        // 日付の更新
        targetDay.setDate(targetDay.getDate() + 1)
      }
      return dayList
    },
    /**
     * Date オブジェクトから 月/日 形式の文字列を取得
     * @param {Date} date 取得したい日付
     * @returns {String} m/d 形式の日付
     */
    getDateString: function (date) {
      return moment(date).format('YYYYMMDD')
    },
    /**
     * 在庫ステータスを取得
     * 表示優先順位：ネット予約可能 > リクエスト予約可能 > 電話
     * @param {Date} date 日付
     * @returns {Array(Array(Date,String))} Array(date, status)
     *   status ->
     *     'available': 予約可
     *     'request': リクエスト予約可
     *     'tel': 予約不可。電話アイコン
     *     'noavailable': 取得失敗など
     */
    getStock (date) {
      const stock = this.dateStockStatus(this.getDateString(date))
      if (moment(date).isAfter(moment().add(calendarViewLimitDays - 1, 'days'), 'day') ||
        moment(date).isBefore(moment(), 'day')) {
        return 'noavailable'
      }
      if (stock === 1) {
        return 'available'
      } else if (stock === 2) {
        return 'request'
      } else if (stock === 0) {
        return 'tel'
      } else {
        return 'noavailable'
      }
    },
    /**
     * 日付から在庫ステータスを確認
     * src/main/resources/json/tenpo/dailyStock/CGBtPVWV6EE.json にデータがあります。日付が古いようでしたら更新してください
     * @see http://cptl.corp.yahoo.co.jp/pages/viewpage.action?pageId=1415176636
     * @param {string} dateStr 在庫ステータスを確認したい日付 (m/d)。0パディングしない
     * @returns {number} 指定された日付の在庫ステータス | -1 (取得に失敗した場合)
     */
    dateStockStatus (dateStr) {
      return typeof this.dailyStock[dateStr] !== 'undefined' ? this.dailyStock[dateStr] : -1
    },
    /**
     * 翌月へ遷移
     */
    moveNextMonth: function () {
      // カレンダー表示年月の変更
      if (++this.calendarMonth > 11) {
        this.calendarMonth = 0
        this.calendarYear++
      }

      this.$root.sendClickBeacon('mcal', 'c_next', '0')
    },
    /**
     * 前月へ遷移
     */
    movePrevMonth: function () {
      // カレンダー表示年月の変更
      if (--this.calendarMonth < 0) {
        this.calendarMonth = 11
        this.calendarYear--
      }

      this.$root.sendClickBeacon('mcal', 'c_pre', '0')
    },
    /**
     * コース一覧へのリンクURL作成
     * @param {Date} 指定日付
     * @returns {String} ./course?date=YYYYMMDD
     */
    getSelectedDate (date) {
      this.$emit('date', moment(date).format('YYYYMMDD'))
      this.$emit('close')
    },
    clickCloseButton: function () {
      this.closePopup()
      this.$root.sendClickBeacon('mcal', 'close')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.calendarPopup {
  // TODO 仮のスタイル
  position: absolute;
  width: 325px;
  margin-left: -152px;
  padding: 10px;
  background-color: rgba(0,0,0,.4);
  border-radius: 4px;
  z-index: 4;
  box-sizing: border-box;
  transition: all .3s ease;

  //アニメーションのためのくクラス
  &--enter,
  &--leave-active {
    opacity: 0;
    transform: scale(1.05);
  }

  &__body {
    position: relative;
    padding: 15px;
    background-color: #fff;
    &--triangleRight {
      @extend .calendarPopup__body;
      &:before {
        position: absolute;
        top: 162px;
        right: -16px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 6px;
        border-color: transparent transparent transparent rgba(0,0,0,.4);
      }
    }
    &--triangleLeft {
      @extend .calendarPopup__body;
      &:before{
        position: absolute;
        top: 162px;
        left: -16px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 6px 0;
        border-color: transparent rgba(0, 0, 0, 0.4) transparent transparent;
      }
    }
  }
  &__header {
    position: relative;
    margin-bottom: 15px;
  }
  &__control {
    display: block;
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    border: solid 1px #dfd6c0;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s;
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
    &--prev {
      @extend .calendarPopup__control;
      left: 0;
      text-align: center;
      &::before {
        @include RiffIcon("\E60B", 14, #333);
        display: inline;
        left: 8px;
        font-weight: bold;
        line-height: 30px;
        pointer-events: none;
      }
    }
    &--next {
      @extend .calendarPopup__control;
      right: 0;
      text-align: center;
      &::before {
        @include RiffIcon("\E60C", 14, #333);
        display: inline;
        left: 8px;
        font-weight: bold;
        line-height: 30px;
        pointer-events: none;
      }
    }
    &--disabled {
      background-color: #dedede;
      cursor: default;
      pointer-events: none;
      &::before {
        color: #a3a3a3;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
  }
  &__contents {
    position: relative;
  }
  &__description {
    margin-bottom: 15px;
    font-size: 11px;
    color: $textColorGray;
  }
  &__text {
    margin-right: 5px;
    &--tel {
      &::before {
        @include RiffIcon("\E130", 14, $textColorGray);
        display: inline-block;
        position: relative;
      }
    }
  }
  &__close {
    text-align: center;
  }
  &__button {
    @include button-normal;
    display: inline-block;
    width: 80px;
    height: 30px;
    margin-right: 38px;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }

}

.calendarTable {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border: 1px solid #dfd6c0;
  &__header {
    width: 100%;
    color: #fff;
    background-color: #a79779;
    border-right: 1px solid #e4e2d1;
  }
  &__data {
    height: 38px;
    line-height: 1;
    border-right: 1px solid #e4e2d1;
    border-bottom: 1px solid #e4e2d1;
    vertical-align: top;
    box-sizing: border-box;
    &--saturday {
      @extend .calendarTable__data;
      background-color: #f1f8fa;
    }
    &--sunday {
      @extend .calendarTable__data;
      background-color: #fbf2f3;
    }
    &--holiday {
      @extend .calendarTable__data;
      background-color: #fbf2f3;
    }
    &--empty {
      @extend .calendarTable__data;
    }
    &--disabled {
      @extend .calendarTable__data;
      height: 39px;
      color: #aaa;
      background-color: #f4f4f4;
    }
  }
  &__link {
    display: block;
    height: 38px;
    color: $textColorBlack;
    cursor: pointer;
    border: 1px solid transparent;
    box-sizing: border-box;
    &:hover {
      background-color: #fff9e2;
      border: 1px solid #fdad25;
      text-decoration: none;
    }
  }
  &__date {
    display: block;
    margin-bottom: 3px;
    padding-top: 3px;
    &--saturday {
      @extend .calendarTable__date;
      color: #1b5fbc;
    }
    &--sunday {
      @extend .calendarTable__date;
      color: #fc0516;
    }
    &--holiday {
      @extend .calendarTable__date;
      color: #fc0516;
    }
    &--disabled {
      display: inline-block;
      margin-top: 3px;
    }
  }
  &__status {
    color: $linkColor;
    &--tel {
      &::before {
        @include RiffIcon("\E130", 14, $linkColor);
        position: relative;
      }
    }
  }
}
</style>
