<template>
<div v-if="isVisible" class="closed">
  <p class="closed__title">ご指定日のネット予約は締め切らせていただきました。</p>
  <p class="closed__note">別の日付でお探しいただくか、電話でお店にお問い合わせください。</p>
</div>
</template>

<script>
import Pagination from '@lib/Pagination'

export default {
  props: [
    'totalResults'
  ],
  computed: {
    /**
     * 日付指定かつ０マッチのときに表示する
     **/
    isVisible () {
      const params = new Pagination().getSearchParameters()
      return this.totalResults === 0 && this.isFilled(params) && this.isFilled(params.date)
    }
  },
  methods: {
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~@pc/styles/partial/mixins';
  @import '~@pc/styles/partial/variable';

.closed{
  @include errorBody;
  &__title{
    @include errorTitle;
  }
}
</style>
