<template>
<div class="menu">
  <h2 class="menu__title"><span>メニュー</span></h2>
  <div class="menu__body">
    <div v-if="courseImage" class="menu__image menuImage">
      <img v-lazy="courseImage" alt="" width="350" height="350" class="menuImage__image" />
      <p class="menuImage__caption">※写真はイメージです</p>
    </div>
    <div class="menu__contents">
      <div v-if="isVisibleDetailMenuTextArea" class="menu__description">
        <p class="menu__text" v-if="menuText.length > 0">
          <template v-for="(text, index) in menuText">
            {{ text }}<br v-if="index != menuText.length" :key="text" />
          </template>
        </p>
        <p class="menu__note">※メニューは仕入状況等により変更となる場合がございます。予めご了承ください。</p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  import Base from '@lib/baseComponent'
  const menuTitle = '料理メニュー'
  const drinkTitle = 'ドリンクメニュー'
  const menuImageWidth = 350
  const menuImageHeight = 350

  export default {
    extends: Base,
    props: {
      tenpo: Object,
      courseDetail: Object
    },
    data () {
      return {
        menu: true,
        plan: true,
        resizedImages: {}
      }
    },
    mounted () {
      // メニュー画像リサイズ
      this.resizeMenuImage()
    },
    computed: {
      /**
       * コース画像が存在すれば、先頭画像を返却
       * コース画像が存在しなければ、NoImage画像を返却
       *
       * @returns {string} コース画像
       */
      courseImage: function () {
        if (this.courseDetail.entry.plans[0].image.length > 0) {
          return this.getResizedImage(this.courseDetail.entry.plans[0].image[0])
        } else {
          return undefined
        }
      },
      /**
       * メニューの一行を一要素とした配列を返却する
       * @return {Array} メニュー配列
       */
      menuText: function () {
        const plan = this.courseDetail.entry.plans[0]
        // 料理メニュー
        let foodMenu = this.foodMenu(plan)
        if ((plan.menuIntroduction || plan.menu) && (plan.drinkIntroduction || plan.drink)) {
          // 料理メニューとドリンクメニュー双方が存在する場合、一行空白行追加
          foodMenu.push('')
        }
        // 料理メニューにドリンクメニューを追加して返却
        foodMenu.push(...this.drinkMenu(plan))
        return foodMenu
      }
    },
    methods: {
      /**
       * 料理メニュー
       * @param {Array} plan プラン
       * @return {Array} 料理メニュー
       */
      foodMenu: function (plan) {
        let foodMenu = []
        if (plan.menuIntroduction || plan.menu) {
          foodMenu.push(menuTitle)
          if (plan.menuIntroduction) {
            foodMenu.push(...this.splitTextByCRLF(plan.menuIntroduction))
          }
          if (plan.menu) {
            foodMenu.push(...this.splitTextByCRLF(plan.menu))
          }
        }
        return foodMenu
      },
      /**
       * ドリンクメニュー
       * @param {Array} plan プラン
       * @return {Array} ドリンクメニュー
       */
      drinkMenu: function (plan) {
        let drinkMenu = []
        if (plan.drinkIntroduction || plan.drink) {
          drinkMenu.push(drinkTitle)
          if (plan.drinkIntroduction) {
            drinkMenu.push(...this.splitTextByCRLF(plan.drinkIntroduction))
          }
          if (plan.drink) {
            drinkMenu.push(...this.splitTextByCRLF(plan.drink))
          }
        }
        return drinkMenu
      },
      /**
       * CRLFで文字列を分割した配列を返却
       * @param originalText {string} 分割前テキスト
       * @return {Array} CLRFで分割後の配列
       */
      splitTextByCRLF: function (originalText) {
        if (originalText === undefined || originalText === null) {
          return []
        }
        return originalText.split(/\r?\n/)
      },
      /**
       * 料理メニュー、ドリンクメニューエリア表示判定
       * @return {boolean} 表示可否
       */
      isVisibleDetailMenuTextArea: function () {
        const plan = this.courseDetail.entry.plans[0]
        return (plan.menuIntroduction || plan.menu || plan.drinkIntroduction || plan.drink)
      },
      /**
       * メニュー画像をリサイズ
       */
      resizeMenuImage: function () {
        if (this.courseDetail.entry.plans[0].image.length > 0) {
          const urls = [this.courseDetail.entry.plans[0].image[0]]
          this.resizeImages(this.tenpo.Feature[0].Gid, [{urls: urls, width: menuImageWidth, height: menuImageHeight}])
        }
      },
      /**
       * リサイズ画像取得
       * @param {string} imageUrl 画像
       * @return {string} リサイズ画像
       */
      getResizedImage: function (imageUrl) {
        return (this.status['resizedImages'] === 'binded') ? this.resizedImages[imageUrl][menuImageWidth + 'x' + menuImageHeight] : ''
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.menu {
  color: $textColorGray;
  margin-top: -14px;
  &__title {
    display: block;
    position: relative;
    margin-bottom: 15px;
    color: $textColorBlack;
    font-weight: bold;
    font-size: 24px;
    overflow: hidden;
    &::after {
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      border-top: 1px $textColorLightGray dotted;
      top: 50%;
      left: 110px;
      content: "";
    }
  }
  &__body {
    overflow: hidden;
  }
  &__contents {
    margin-right: 370px;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__note {
    margin-bottom: 20px;
    font-size: 12px;
  }
}

.menuImage{
  float: right;
  width: 350px;
  &__caption {
    font-size: 12px;
  }
}
</style>
