<template>
  <div class="description">
    <div class="description__plan">
      <h2 class="description__title">プラン紹介</h2>
      <p class="description__text" v-if="planIntroduction.length > 0">
        <template v-for="(text, index) in planIntroduction">
          {{ text }}<br v-if="index != planIntroduction.length" :key="text" />
        </template>
      </p>
      <table class="description__table table">
        <tbody>
          <tr v-if="isVisibleAvailableSeats" class="table__row">
            <th class="table__header">利用可能人数</th>
            <td class="table__data">{{ availableSeats }}</td>
          </tr>
          <!-- <tr class="table__row">
            <th class="table__header">予約受付締切</th>
            <td class="table__data"><span class="table__note">来店日の2カ月前から</span><span class="table__notice">1日前の22:00</span><span class="table__note">まで受付</span></td>
          </tr>
          <tr class="table__row">
            <th class="table__header">来店期間</th>
            <td class="table__data">2016/12/21　～　2016/12/25</td>
          </tr>
          <tr class="table__row">
            <th class="table__header">予約受付期間</th>
            <td class="table__data">2016/11/01 00:00　～　2016/12/24 22:00</td>
          </tr> -->
        </tbody>
      </table>
    </div>

    <div class="description__restaurant">
      <h2 class="description__title">お店情報</h2>
      <table class="description__table table">
        <tbody>
          <!-- <tr class="table__row">
              <th class="table__header">ドレスコード</th>
              <td class="table__data">なし</td>
          </tr> -->
          <tr v-if="isVisibleCreditCard" class="table__row">
              <th class="table__header">クレジットカード</th>
              <td class="table__data">{{ availableCreditCard }}</td>
          </tr>
          <tr v-if="isVisibleParking" class="table__row">
            <th class="table__header">駐車場</th>
            <td class="table__data">
              <p class="table__note">{{ availableParking }}</p>
              <!--<p class="table__note">屋内：283台</p>-->
              <!--<p class="table__note">利用料金：400円/30分</p>-->
              <!--<p class="table__note">利用割引：¥3,000以上で2時間無料（ご宿泊客¥1,000/1泊）</p>-->
              <!--<p class="table__note">※高さ2.1mを超えるお車は駐車場をご利用いただけません。あらかじめご了承ください。</p>-->
            </td>
          </tr>
          <tr v-if="isVisibleSeatCount" class="table__row">
            <th class="table__header">席数</th>
            <td class="table__data">
              {{ this.courseDetail.entry.seatCount }}
              <!--<span class="table__condition">全面禁煙</span>店外に喫煙スペースあり-->
            </td>
          </tr>
          <!--<tr class="table__row">
            <th class="table__header">お子様の同伴</th>
            <td class="table__data">
              <span class="table__condition">同伴可</span><span class="table__note">授乳室、おむつ替えシート有り</span>
              <p class="table__note--first">年齢制限:なし</p>
              <p class="table__note">子どもメニュー:なし</p>
              <p class="table__note">子ども席制限:なし</p>
              <p class="table__note">子ども用椅子:あり</p>
              <p class="table__note">時間帯制限:全時間帯可</p>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  const crlf = '\r\n'

  export default {
    computed: {
      /**
       * プラン紹介文の一行を一要素とした配列を返却する
       * @return {Array} プラン紹介配列
       */
      planIntroduction: function () {
        return this.splitTextByCRLF(this.courseDetail.entry.plans[0].catchPhrase)
      },
      /**
       * 利用可能人数表示判定
       * @return {boolean} 表示可否
       */
      isVisibleAvailableSeats: function () {
        return (this.courseDetail.entry.plans[0].fixedNumMin && this.courseDetail.entry.plans[0].fixedNumMax)
      },
      /**
       * 利用可能人数
       * @return {string} 利用可能人数
       */
      availableSeats: function () {
        return this.courseDetail.entry.plans[0].fixedNumMin + '名～' + this.courseDetail.entry.plans[0].fixedNumMax + '名'
      },
      /**
       * クレジットカード表示判定
       * @return {boolean} 表示可否
       */
      isVisibleCreditCard: function () {
        return (this.tenpo.Feature[0].Property.CreditcardFlag)
      },
      /**
       * クレジットカード表示
       * @return {string} 可/不可
       */
      availableCreditCard: function () {
        return (this.tenpo.Feature[0].Property.CreditcardFlag === 'true') ? '可' : '不可'
      },
      /**
       * 駐車場表示判定
       * @return {boolean} 表示可否
       */
      isVisibleParking: function () {
        return (this.courseDetail.entry.parkingCode === 1 || this.courseDetail.entry.parkingCode === 2)
      },
      /**
       * 駐車場表示
       * @return {string} あり/なし
       */
      availableParking: function () {
        return (this.courseDetail.entry.parkingCode === 2) ? 'あり' : 'なし'
      },
      /**
       * 席数表示判定
       * @return {boolean} 表示可否
       */
      isVisibleSeatCount: function () {
        return (this.courseDetail.entry.seatCount)
      }
    },
    props: {
      tenpo: Object,
      courseDetail: Object
    },
    methods: {
      /**
       * CRLFで文字列を分割した配列を返却
       * @param originalText {string} 分割前テキスト
       * @return {Array} CLRFで分割後の配列
       */
      splitTextByCRLF: function (originalText) {
        let result = []
        if (typeof originalText === 'undefined' || originalText === null) return result
        const splitText = originalText.split(crlf)
        for (const text of splitText) {
          result.push(text)
        }
        return result
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.description {
  display: flex;
  color: $textColorGray;
  margin-bottom: 20px;
  &__plan {
    float: left;
    width: 465px;
    margin-right: 20px;
  }
  &__restaurant {
    float: left;
    width: 465px;
    color: $textColorGray;
  }
  &__title {
    @include placeTitle;
    @include placeTitleBorder;
    color: $textColorBlack;
  }
  &__text {
    margin-bottom: 18px;
  }
  &__table {
    width: 100%;
    font-size: 12px;
  }
}

.table {
  &__header {
    width: 137px;
    padding: 10px;
    border: 1px solid #dddddd;
    font-weight: normal;
    text-align: left;
    background-color: #f4f4f4;
  }
  &__data {
    padding: 10px;
    border: 1px solid #dddddd;
  }
  &__note--first {
    margin-top: 20px;
  }
  &__notice {
    color: $textColorBlack;
    font-weight: bold;
   }
  &__condition {
    margin-right: 20px;
  }
}

</style>
