<template>
  <div class="reserveInput tracked_mods" :id="rapidId">
    <div class="reserveInput__inner">
      <h2 class="reserveInput__title" v-if="isDefaultSeatOnly"><span class="reserveInput__text">【席のみ予約】お食事の内容は当日選ぶ</span></h2>
      <h2 class="reserveInput__title" v-else><span class="reserveInput__text">{{ course.name }}</span></h2>
      <div class="reserveInput__course" v-if="!isDefaultSeatOnlyOrFreePlan">
        <dl class="reserveInput__plan general">
          <dt :class="[isPremiumUser || !isPremiumCourse ? 'general__status' : 'general__status--active']">
            <p class="general__header" v-if="isSeatOnly">
              <span class="general__title">一般</span>
            </p>
            <p class="general__header" v-else>
              <span class="general__title">一般料金</span>
              <br />
              <span class="general__assist">1名様/税サ込</span>
            </p>
          </dt>
          <dd class="general__contents">
            <p class="general__unuseable" v-if="isPremiumOnlyCourse">ご利用いただけません</p>
            <p class="general__seats" v-else-if="isSeatOnly">お席のみ</p>
            <p class="general__price" v-else>{{ originalPrice | displayPrice }}</p>
            <p class="general__guestNotes" v-if="!isPremiumUser && isPremiumCourse && !isPremiumOnlyCourse">あなたはプレミアム会員ではありません。一般料金でご予約可能です。</p>
          </dd>
        </dl>
        <dl class="reserveInput__plan premium" v-if="isPremiumCourse">
          <dt :class="[isPremiumUser ? 'premium__status--active' : 'premium__status']">
            <p class="premium__header" v-if="course.price == 0">
              <span class="premium__title">プレミアム<br />会員限定</span>
            </p>
            <p class="premium__header" v-else>
              <span class="premium__title">プレミアム<br />会員限定料金</span>
              <br />
              <span class="premium__assist">1名様/税サ込</span>
            </p>
          </dt>
          <dd class="premium__contents">
            <p :class="[isSeatOnly ? 'premium__seats' : 'premium__price']">
              <span class="premium__note" v-if="isSeatOnly">お席のみ</span>
              <span class="premium__note" v-else>{{ course.price | displayPrice }}</span>
              <span class="premium__benefit" v-if="isFilled(benefitPhrase) && benefitPhrase !== ''">{{ benefitPhrase }}</span>
            </p>
            <p class="premium__privilege" v-if="isFilled(course.tokutenText) && course.tokutenText !== ''">特典：{{ course.tokutenText }}</p>
            <div class="premium__list">
              <p class="premium__item" v-if="isSBUser">ソフトバンクユーザーのあなたはプレミアム会員限定の料金・特典がご利用できます。</p>
              <p class="premium__item" v-else-if="isYMUser">Y!mobileユーザーのあなたはプレミアム会員限定の料金・特典がご利用できます。</p>
              <p class="premium__item" v-else-if="isPremiumUser">あなたはプレミアム会員です。プレミアム会員限定料金でご予約可能です。</p>
              <template v-else>
                <a :href="premiumResistUrl" :data-ylk='"slk:preg"+rapidNum+";pos:5"' class="premium__link" v-if="!isSBCooperation">Yahoo!プレミアム会員に登録する</a>
                <template v-else>
                  <a href="#smartlogin" class="premium__link--smart">ソフトバンクスマホユーザーでも特典が受けられます。詳細はこちら</a>
                  <p class="premium__item">※お客様の通信契約内容によっては対象外の場合もございます。</p>
                </template>
              </template>
            </div>
          </dd>
        </dl>
      </div>
      <div class="reserveInput__reserve reserve">
        <transition
          enter-class="calendarPopup--enter"
          enter-active-class="calendarPopup--enter-active"
          leave-class="calendarPopup--leave"
          leave-active-class="calendarPopup--leave-active"
        >
          <calendar-popup v-if="popup" @close="popup = false" triangle="false" :style="calendarPosition" :tenpo="tenpo" :dailyStock="dailyStockFiltered" pendingButton="js" @date="setSelectedDate"></calendar-popup>
        </transition>
        <div class="reserve__description">
          <p class="reserve__text">来店日・人数を設定の上、来店時間をお選びください。</p>
          <p class="reserve__request request" v-if="getReserveStatus() === 2 && typeof errors.timeStock === 'undefined'">
            <span class="request__text">ご指定の条件では「リクエスト予約」のみ受け付けています。</span>
            <a href="https://reservation.yahoo.co.jp/restaurant/guide/request/" target="_blank" class="request__link" :data-ylk='"slk:req"+rapidNum+";pos:4"'>リクエスト予約とは</a>
          </p>
        </div>
        <div class="reserve__input">
          <label :class="['reserve__date', isUpPos ? 'reserve__dateUpperPos' : 'reserve__dateLowerPos']" @click="popup = true">
            <input type="hidden" name="date" date_max="90" class="reserve__dateWindow" />
            <input type="text" name="date-show" :value="searchCondition.selectedDate | displayDay" readonly="" class="reserve__dateWindow" />
          </label>
          <p class="reserve__number">
            <label class="reserve__numberInner">
              <span class="reserve__select">
                <select v-model="searchCondition.selectedPerson" class="reserve__result" name="visitorCountTotal">
                  <option v-for="personOption in selectPerson" :value="personOption.value" v-text="personOption.text" :key="personOption" />
                </select>
              </span>
            </label>
          </p>
          <div class="reserve__contents">
            <div class="reserve__time time">
              <div class="time__panel">
                <form method="get">
                  <ul class="time__list">
                    <li class="time__item" v-for="time in stockDateTime" :key="time">
                      <button type="button" class="time__button rapid-noclick-resp" @click="setSelectedTime(time)">{{ time | displayReserveHour }}</button>
                    </li>
                  </ul>
                </form>
              </div>
              <ul class="time__pager">
                <li><div class="time__pager--prev" :class="[carousel.current === 1 ? 'time__pager--disabled' : '']" @click="carouselPrev">前へ</div></li>
                <li><div class="time__pager--next time__pager" :class="[carousel.current === carousel.page ? 'time__pager--disabled' : '']"  @click="carouselNext">次へ</div></li>
              </ul>
            </div>
            <div v-if="status.stockDateTime === 'on-binding'"></div>
            <div class="reserve__noMatch noMatch" v-else-if="isNoMatchStock && renderNoMatch">
              <p class="noMatch__note" v-if="isNoMatchDailyStock">このプランのネット予約可能なお席は満席になりました。</p>
              <div class="noMatch__change" v-else-if="recommendFlag && hasRecommendTimeStock">
                <p class="noMatch__recommend" @click="setRecommendCondition()"><a class="noMatch__link" :data-ylk='"slk:rcmdate"+rapidNum+";pos:1"'>{{ getStockRecommend }}に{{ searchCondition.selectedPerson }}人で予約できます</a></p>
                <p class="noMatch__button noMatchButton" @click="setRecommendCondition()"><a class="noMatchButton__link" :data-ylk='"slk:rcmdate"+(rapidNum+2)+";pos:1"'>日付・人数を変更</a></p>
              </div>
              <p class="noMatch__text" v-else-if="status.recommendTimeStock === 'binded' && !hasRecommendTimeStock">
                <span class="noMatch__note">ご指定の条件では、ネット予約可能なお席がありません。</span>
                <br />
                <span class="noMatch__text">日付または人数を変更いただければ、このプランを予約できます。</span>
              </p>
            </div>
            <div class="reserve__noMatch noMatch" v-else-if="errors.timeStock">
              <p class="noMatch__note">現在混み合っております。時間をおいて画面を開き直して下さい。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="reserveInput__more more"><a :href="$root.addUrlParameters(courseListUrl, ['sc_type'])" class="more__link" :data-ylk='"slk:viewall"+rapidNum+";pos:8"'>このお店のすべてのプランを見る</a></p>
  </div>
</template>

<script>
import calendarPopup from '@pc/components/place/course/calendarPopup.vue'
import Base from '@lib/baseComponent'
import moment from '@lib/moment-ja'

/**
 * 予約モジュール in コース詳細
 * こちらを修正する際は コース詳細確認(reserveInputConfirm) も修正してください
 */
export default {
  components: {
    calendarPopup
  },
  extends: Base,
  props: [
    'tenpo',
    'courseDetail',
    'dailyStock',
    'dailyStockFiltered',
    'searchCondition',
    'userInfo',
    'isUpPos',
    'eappid',
    'rapidNum'
  ],
  data () {
    return {
      popup: false,
      calendarPosition: {
        top: '77px',
        left: '152px'
      },
      carousel: {
        type: Number,
        moved: 0,
        pageOfButton: 5,
        buttonWidth: 0,
        buttonLength: 0,
        reminder: 0,
        page: 1,
        current: 1
      },
      timeStock: {},
      stockDateTime: {},
      recommendTimeStock: {},
      errors: {},
      recommendFlag: false
    }
  },
  mounted: function () {
    this.getSearchCondition()
    this.status['stockDateTime'] = 'on-binding'
    this.$nextTick(() => {
      if (this.rapidNum && this.$root.rapid) {
        this.$root.rapid.refreshModule(`skd_${this.rapidNum}`, false, false)
      }
    })
  },
  watch: {
    'searchCondition': {
      handler: function (val, oldVal) {
        this.$emit('course-time', this.searchCondition.selectedTime)
        this.$emit('course-person', this.searchCondition.selectedPerson)
        this.$emit('course-date', this.searchCondition.selectedDate)
        this.recommendFlag = false
        this.getTimeStock().then((response) => {
          this.timeClear()
          this.setCarousel()
          if (typeof response === 'undefined' || Object.keys(response.entry.dateTime).length === 0) {
            this.searchRecommendTimeStock()
          }
        })
      },
      deep: true
    },
    'timeStock': {
      handler: function (val, oldVal) {
        if (this.timeStock.resultCode !== undefined) {
          this.$emit('time-stock-result-code', this.timeStock.resultCode)
        }
        this.setStockDateTime()
      },
      deep: true
    },
    /**
     * ULTのため
     */
    stockRecommendIsRendered (val) {
      if (val) {
        this.$nextTick(() => {
          if (this.rapidNum) {
            this.$root.rapid.refreshModule(`skd_${this.rapidNum}`, false, false)
          }
        })
      }
    },
    /**
     * ULTのため
     */
    requestReserveLinkIsRendered (val) {
      if (val) {
        this.$nextTick(() => {
          if (this.rapidNum) {
            this.$root.rapid.refreshModule(`skd_${this.rapidNum}`, false, false)
          }
        })
      }
    }
  },
  computed: {
    /**
     * 「デフォルト席のみ」もしくは「通常0円コース」かどうか
     * @return {boolean} true/false
     */
    isDefaultSeatOnlyOrFreePlan () {
      return this.isDefaultSeatOnly || ((this.course.tokutenType === 0 || !this.isFilled(this.course.tokutenType)) && this.originalPrice < 1)
    },
    /**
     * 在庫ないかどうか
     * @return {boolean} true/false
     */
    isNoMatchStock () {
      return this.isNoMatchDailyStock || this.isNoTimeStock
    },
    /**
     * 時間在庫ないかどうか
     * @return {boolean} true/false
     */
    isNoTimeStock () {
      return typeof this.stockDateTime === 'undefined' || this.stockDateTime.length === 0
    },
    /**
     * 日在庫ないかどうか
     * @return {boolean} true/false
     */
    isNoMatchDailyStock () {
      return typeof this.dailyStockFiltered === 'undefined' || Object.keys(this.dailyStockFiltered).length === 0
    },
    /**
     * 在庫レコメンド情報があるかどうか
     * @return {boolean} true/false
     */
    hasRecommendTimeStock () {
      return Object.keys(this.recommendTimeStock).length > 0 && this.recommendTimeStock.totalResults > 0
    },
    /**
     * 在庫レコメンドの日付取得
     * @return {string} 在庫レコメンドの日付
     */
    getStockRecommend () {
      return (typeof this.recommendTimeStock !== 'undefined' && Object.keys(this.recommendTimeStock).length !== 0) ? moment(this.recommendTimeStock.entry.dateTime[0]).format('YYYY年MM月DD日（ddd）') : ''
    },
    /**
     * プレミアム会員登録URL取得
     * @return {string} プレミアム会員登録URL
     */
    premiumResistUrl () {
      const currentUrl = location.href
      return this.namespace.Url.registPremium + '?done=' + encodeURIComponent(currentUrl) + '&bail=' + encodeURIComponent(currentUrl) + '&ex=' + this.namespace.Url.registPremiumLinkCode
    },
    /**
     * 人数選択リストの初期化処理
     * @return {object} 人数選択リスト
     */
    selectPerson () {
      return [...Array(this.course.fixedNumMax - this.course.fixedNumMin + 1).keys()]
        .map(i => i + this.course.fixedNumMin).map(i => { return {text: i + '名', value: i} })
    },
    /**
     * プラン情報取得
     * @return {object} プラン情報
     */
    course () {
      return this.courseDetail.entry.plans[0]
    },
    /**
     * ユーザのプレミアム会員タイプ
     *   1: SBバンドル会員（スマログ設定済ユーザ）
     *   2: YMバンドル会員（ID連携済）
     *   3: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定
     *   4: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定（YMバンドル対象者ID未連携が混在）
     *   5: オンプレ(ウォレット、アプリ課金購入などの通常プレミアム)
     *   6: 非プレミアム会員
     *   7: 非プレミアム会員(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *   8: 未ログイン
     *   9: 未ログイン(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *  ※1~5はプレミアム会員扱い、6~9は非プレミアム会員扱い
     * @return プレミアム会員タイプ
     */
    premiumMenberType () {
      return this.userInfo.premiumType
    },
    /**
     * ユーザがプレミアム会員かどうか
     * @return {boolean} true/false
     */
    isPremiumUser () {
      return this.userInfo.isPremium
    },
    /**
     * ユーザがSBバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isSBUser () {
      return this.userInfo.softbankBundle
    },
    /**
     * ユーザがYMobileバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isYMUser () {
      return this.userInfo.ymobileBundle
    },
    /**
     * 243連携済みかどうか
     * @return {boolean} true/false
     */
    isSBCooperation () {
      return this.userInfo.softBankCooperation === 1 || this.userInfo.softBankCooperation === '1'
    },
    /**
     * 席のみ判断を行う
     * @return {boolean} true/false
     */
    isSeatOnly () {
      return this.course.seatOnlyFlg || this.course.tokutenType === 1 || this.course.planId === this.courseDetail.entry.tenpoId + '01' || this.course.price <= 0
    },
    /**
     * 席のみ判断を行う
     * @return {boolean} true/false
     */
    isDefaultSeatOnly () {
      return this.course.planId === this.courseDetail.entry.tenpoId + '01'
    },
    /**
     * プレミアム会員限定コースか
     * @return {boolean} true/false
     */
    isPremiumOnlyCourse () {
      return this.course.premiumOnlyFlag
    },
    /**
     * プレミアム会員特典付きコースか(プレミアム会員限定コース含む)
     * @return {boolean} true/false
     */
    isPremiumCourse () {
      return this.course.tokutenType === 1 || this.course.tokutenType === 3
    },
    /**
     * 一般料金
     * @return {int} 表示金額
     */
    originalPrice () {
      return Number(this.course.originalPrice) > 0 ? this.course.originalPrice : this.course.price
    },
    /**
     * 特典文言
     * @returns {string} 特典文言
     */
    benefitPhrase () {
      let phraseList = []
      if (this.isFilled(this.course.discountRate) && this.course.discountRate > 0) {
        let discount = ''
        if (this.isFilled(this.course.discountType)) {
          if (this.course.discountType === 1) {
            discount = 'お会計から'
          } else if (this.course.discountType === 2) {
            discount = '料理全品'
          }
        }
        phraseList.push(discount + String(this.course.discountRate) + '%OFF')
      }
      if (this.course.tokutenText) {
        phraseList.push('特典あり')
      }
      return phraseList.join('+')
    },
    /**
     * コース一覧のUrl
     * @return {string} url
     */
    courseListUrl () {
      let url = '..'
      if (location.pathname.slice(-1) !== '/') {
        url = url + '/course?date=' + this.searchCondition.selectedDate
      }
      return url
    },
    renderNoMatch () {
      return this.status.timeStock === 'binded'
    },
    /**
     * ULTのため
     */
    stockRecommendIsRendered () {
      return this.status.stockDateTime !== 'on-binding' &&
        this.isNoMatchStock && this.renderNoMatch &&
        !this.isNoMatchDailyStock &&
        this.recommendFlag && this.hasRecommendTimeStock
    },
    /**
     * ULTのため
     */
    requestReserveLinkIsRendered () {
      return this.getReserveStatus() === 2 && typeof this.errors.timeStock === 'undefined'
    }
  },
  methods: {
    /**
     * 在庫がある時間取得
     * @return {array} 在庫がある時間
     */
    setStockDateTime () {
      if (Object.keys(this.timeStock).length === 0) return {}
      this.stockDateTime = this.timeStock.entry.dateTime.map(v => moment(v).format('HHmm'))
      this.status['stockDateTime'] = 'binded'
    },
    timeClear () {
      this.searchCondition.selectedTime = ''
    },
    setRecommendCondition () {
      this.searchCondition.selectedDate = moment(this.recommendTimeStock.entry.dateTime[0]).format('YYYYMMDD')
    },
    /**
     * 指定した日付の予約ステータス取得
     * @return {int} 予約ステータス
     */
    getReserveStatus () {
      // 時間在庫の予約ステータスがあれば返却する (優先)
      if (this.timeStock.resultCode !== undefined) {
        return this.timeStock.resultCode
      }
      // 日在庫の予約ステータスがあれば返却する
      if (typeof this.dailyStockFiltered !== 'undefined' && Object.keys(this.dailyStockFiltered).length > 0) {
        return this.dailyStockFiltered[this.searchCondition.selectedDate]
      }
      return 0
    },
    /**
     * 時間在庫を取得する
     */
    getTimeStock () {
      // 時間在庫APIからデータの取得
      return this.bindRequest({
        name: 'timeStock',
        url: this.namespace.API.timeStock,
        params: {
          tenpoid: this.courseDetail.entry.tenpoId,
          person: this.searchCondition.selectedPerson > 0 ? this.searchCondition.selectedPerson : 2,
          datetime: this.searchCondition.selectedDate + '0000',
          planid: this.courseDetail.entry.plans[0].planId
        },
        timeout: 3000,
        eappid: true,
        method: 'GET',
        dataType: 'jsonp'
      })
    },
    /**
     * 時間在庫を取得する
     */
    getRecommendTimeStock (date) {
      // 時間在庫APIからデータの取得
      return this.bindRequest({
        name: 'recommendTimeStock',
        url: this.namespace.API.timeStock,
        params: {
          tenpoid: this.courseDetail.entry.tenpoId,
          person: this.searchCondition.selectedPerson > 0 ? this.searchCondition.selectedPerson : 2,
          datetime: (date) ? date + '0000' : this.searchCondition.selectedDate + '0000',
          planid: this.courseDetail.entry.plans[0].planId
        },
        eappid: true,
        method: 'GET',
        dataType: 'jsonp'
      })
    },
    /**
     * 指定された時間を取得する
     */
    setSelectedTime (val) {
      this.searchCondition.selectedTime = val
      this.$emit('confirm-flag', true)
      // rapid: option_keys
      let rapidOptionKeys = {}
      rapidOptionKeys['vst_dt' + this.rapidNum] = this.searchCondition.selectedDate
      rapidOptionKeys['vst_ppl' + this.rapidNum] = this.searchCondition.selectedPerson
      rapidOptionKeys['vst_tm' + this.rapidNum] = this.searchCondition.selectedTime
      // rapid: sendBeaconClick
      this.$root.rapid.beaconClick(
        // sec
        'skd_' + this.rapidNum,
        // slk
        'time' + this.rapidNum,
        // pos
        3,
        // option_keys
        rapidOptionKeys
      )
    },
    /**
     * カレンダーから送信された日付を取得する
     */
    setSelectedDate (date) {
      this.searchCondition.selectedDate = date
    },
    /**
     * URLパラメータから日付情報を取得
     */
    getSearchCondition () {
      const urlParams = this.getUrlParams()
      // パラメータ見て何もなかったら当日選択＆コースの最少人数以上かつ2人以上
      if (typeof urlParams[0] === 'undefined') {
        this.searchCondition.selectedDate = moment().format('YYYYMMDD')
        this.searchCondition.selectedPerson = this.course.fixedNumMin > 2 ? this.course.fixedNumMin : 2
        this.getTimeStock().then((response) => {
          if (typeof response === 'undefined' || Object.keys(response.entry.dateTime).length === 0) {
            this.searchRecommendTimeStock()
          }
        })
      } else {
        let timeParam = ''
        // URLパラメータのバリデーション＆取得
        for (const param of urlParams) {
          if (param.key === 'date' && moment(param.value, 'YYYYMMDD').isValid()) {
            this.searchCondition.selectedDate = moment(param.value).format('YYYYMMDD')
          } else if (param.key === 'person' && !isNaN(param.value)) {
            this.searchCondition.selectedPerson =
              this.course.fixedNumMin <= param.value && param.value <= this.course.fixedNumMax ? param.value
                : this.course.fixedNumMin > 2 ? this.course.fixedNumMin : 2
          } else if (param.key === 'time' && moment(param.value, 'HHmm').isValid()) {
            timeParam = param.value
          }
        }
        // 日付パラメータの存在チェック
        const hasDateParam = this.searchCondition.selectedDate !== ''
        // 人数パラメータの存在チェック
        const hasPersonParam = this.searchCondition.selectedPerson !== 0
        // 日付パラメータがない場合、デフォルト設定
        if (!hasDateParam) this.searchCondition.selectedDate = moment().format('YYYYMMDD')
        // 人数パラメータがない場合、デフォルト設定
        if (!hasPersonParam) this.searchCondition.selectedPerson = this.course.fixedNumMin > 2 ? this.course.fixedNumMin : 2
        this.getTimeStock().then(() => {
          // データがある場合
          if (this.stockDateTime.length !== 0 && typeof this.stockDateTime.length !== 'undefined') {
            // URLパラメータに日付と人数があり、URLパラメータで指定した日付と人数で取得した在庫に、
            // URLパラメータで指定した時間がある場合のみ、時間のパラメータが有効になる
            this.searchCondition.selectedTime = (hasDateParam && hasPersonParam && this.stockDateTime.includes(timeParam)) ? timeParam : ''
          } else {
            // 当日orURLパラメータで指定した日付で在庫が取得できなかった場合、在庫レコメンドロジック発動
            this.searchRecommendTimeStock()
          }
        })
      }
    },
    /**
     * レコメンドするために3日分の在庫を取得
     * @return {[type]} [description]
     */
    searchRecommendTimeStock () {
      this.recommendFlag = true
      this.getRecommendTimeStock(moment(this.searchCondition.selectedDate, 'YYYYMMDD').add(1, 'days').format('YYYYMMDD')).then((response) => {
        if (typeof response === 'undefined' || Object.keys(response.entry.dateTime).length === 0) {
          this.getRecommendTimeStock(moment(this.searchCondition.selectedDate, 'YYYYMMDD').add(2, 'days').format('YYYYMMDD')).then((response) => {
            if (typeof response === 'undefined' || Object.keys(response.entry.dateTime).length === 0) {
              this.getRecommendTimeStock(moment(this.searchCondition.selectedDate, 'YYYYMMDD').add(3, 'days').format('YYYYMMDD'))
            }
          })
        }
      })
    },
    /**
     * URLパラメータ取得
     * return {array} urlパラメータ
     */
    getUrlParams () {
      let paramsPair = location.search.substring(1).split('&')
      return paramsPair
        .filter(v => v.length >= 3 && v.indexOf('=') > 0 && v.indexOf('=') < v.length - 1)
        .map(v => {
          const kv = v.split('=')
          if (kv[0] !== '') return {key: kv[0], value: kv[1]}
        })
    },
    /**
     * undefinedかnullのチェックを行う.
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return typeof variable !== 'undefined' && variable !== null
    },
    /**
     * カレンダーを閉じる
     */
    closePopup: function () {
      this.popup = false
    },
    /**
     * DOMからカルーセルで使う値をdataに設定
     */
    setCarousel: function () {
      this.carousel.selector = document.querySelector('.time__list')
      // ボタンの幅を取得
      this.carousel.buttonWidth = (document.querySelector('.time__item') !== null) ? document.querySelector('.time__item').clientWidth : 78
      // ボタンの数を取得
      this.carousel.buttonLength = this.stockDateTime.length
      // ボタンの総数*ボタン1つの幅
      const buttonListWidth = this.carousel.buttonLength * this.carousel.buttonWidth
      // カルーセルのページ数
      this.carousel.page = Math.ceil(this.carousel.buttonLength / this.carousel.pageOfButton)
      // カルーセルの余り
      this.carousel.reminder = this.carousel.buttonLength % this.carousel.pageOfButton
      // ボタンの総数*幅をボタンを囲う要素に設定
      this.carousel.selector.style.width = buttonListWidth + 'px'
    },
    /**
     * 時間在庫の次へボタン
     */
    carouselNext: function () {
      // カレントの位置が最後だったら押せない
      if (this.carousel.current >= this.carousel.page) return
      // 現在のカレントから表示したボタンの数を計算
      const progress = this.carousel.current * this.carousel.pageOfButton
      // ボタンの総数から表示したボタンの数を引いて、次のページのボタンの数を計算
      const nextPageButtonNumber = this.carousel.buttonLength - progress
      let nextWidth
      // 次のページが最後だったら、余りの数だけ移動する（5個ある場合も同じ）
      if (this.carousel.current === this.carousel.page - 1) {
        nextWidth = nextPageButtonNumber * this.carousel.buttonWidth
      } else {
        nextWidth = this.carousel.pageOfButton * this.carousel.buttonWidth
      }
      // 動かしてカレントをインクリメントする
      this.carousel.moved -= nextWidth
      this.carousel.selector.style.marginLeft = this.carousel.moved + 'px'
      this.carousel.current++
    },
    /**
     * 時間在庫の戻るボタン
     */
    carouselPrev: function () {
      // カレントの位置が最初だったら押せない
      if (this.carousel.current === 1) return
      let prevWidth
      // 最後のページから戻る場合は、ボタンの数から動かす距離を計算する
      if (this.carousel.current === this.carousel.page) {
        prevWidth = this.carousel.reminder * this.carousel.buttonWidth
      } else {
        prevWidth = this.carousel.pageOfButton * this.carousel.buttonWidth
      }
      // 動かしてカレントをデクリメントする
      this.carousel.moved += prevWidth
      this.carousel.selector.style.marginLeft = this.carousel.moved + 'px'
      this.carousel.current--
    }
  },
  filters: {
    /**
     * 時間在庫の表示用整形処理
     * @param {string} 時間
     * @return {string} 整形後の時間
     */
    displayReserveHour (hhmm) {
      return hhmm.slice(0, 2) + ':' + hhmm.slice(2)
    },
    /**
     * 金額の表示用整形処理
     * @param {string} 金額
     * @return {string} 整形後の金額
     */
    displayPrice (price) {
      return String(price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,') + '円'
    },
    /**
     * 日付の表示用整形処理
     * @param {string} 日付
     * @return {string} 整形後の日付
     */
    displayDay (day) {
      return moment(day, 'YYYYMMDD').format('YYYY年MM月DD日（ddd）')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.reserveInput {
  margin-bottom: 14px;
  &__inner {
    position: relative;
    margin-bottom: 18px;
    padding: 20px;
    border: solid 4px #ddd;
  }
  &__title {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px dotted $textColorLightGray;
    color: #444;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
  }
}

.general {
  display: table;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted $textColorLightGray;
  &__status {
    display: table-cell;
    position: relative;
    width: 145px;
    padding-left: 50px;
    white-space: nowrap;
    &--active {
      @extend .general__status;
      &::before {
        @include RiffIcon("\E112", 32, $priceColor);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -14px;
      }
    }
  }
  &__header {
    display: inline-block;
    margin-left: 15px;
    color: #444;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
  }
  &__assist {
    color: #888;
    font-weight: normal;
    font-size: 10px;
  }
  &__contents {
    display: table-cell;
    vertical-align: top;
  }
  &__unuseable {
    display: inline-block;
    color: $priceColor;
    font-size: 16px;
    line-height: 1.3;
  }
  &__seats {
    display: inline-block;
    margin-right: 10px;
    color: $priceColor;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;
  }
  &__price {
    display: inline-block;
    margin-right: 10px;
    color: $priceColor;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;
    &--before {
      color: #888;
      font-weight: normal;
      font-size: 16px;
      &::after {
        display: inline-block;
        margin: 0 8px;
        content: "→";
      }
    }
  }
  &__guestNotes {
    margin-top: 6px;
    color: #444444;
    font-size: 12px;
  }
}

.premium {
  display: table;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted $textColorLightGray;
  &__status {
    display: table-cell;
    position: relative;
    width: 145px;
    padding-left: 50px;
    &--active {
      display: table-cell;
      position: relative;
      width: 145px;
      padding-left: 50px;
      &::before {
        @include RiffIcon("\E112", 32, $priceColor);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -14px;
        &:last-child {
          margin-bottom: 15px;
        }
      }
    }
  }
  &__header {
    display: inline-block;
    margin-left: 15px;
    color: #444;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    &:before {
      @include svgIcon($width:16, $height:14, $url:"https://s.yimg.jp/images/loco/front/images/common/icons/premium.svgz");
      display: inline-block;
      margin-right: 5px;
      vertical-align: text-top;
    }
  }
  &__assist {
    color: #888;
    font-weight: normal;
    font-size: 10px;
  }
  &__seats {
    display: inline-block;
    margin-right: 10px;
    color: $priceColor;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;
  }
  &__contents {
    display: table-cell;
    vertical-align: top;
  }
  &__price {
    display: inline-block;
    margin-right: 10px;
    color: $priceColor;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;
    &--before {
      color: #888;
      font-weight: normal;
      font-size: 16px;
      &::after {
        display: inline-block;
        margin: 0 8px;
        content: "→";
      }
    }
  }
  &__benefit {
    display: inline-block;
    margin: -3px 0 0 8px;
    padding: 5px 5px 4px 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
    background: $priceColor;
  }
  &__privilege {
    color: $textColorBlack;
    font-weight: bold;
    font-size: 14px;
  }
  &__list {
    margin-top: 8px;
  }
  &__item {
    margin-bottom: 2px;
    color: #444;
    font-size: 12px;
  }
  &__link {
    display: inline;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 16px;
    &--smart {
      @extend .premium__link;
      &::after {
        @include RiffIcon("\E604", 16, $linkColor);
        display: inline;
      }
    }
  }
}

.reserve {
  position: relative;
  &__contents{
    @include clearfix;
    display: table-cell;
    float: right;
    vertical-align: middle;
  }
  &__description {
    margin-bottom: 10px;
  }
  &__text {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    color: $textColorGray;
    &::before {
      @include RiffIcon("\E148", 23, #cccccc);
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      margin: -17px 4px 0 0;
      vertical-align: middle;
    }
  }
  &__input {
    @include clearfix;
  }
  &__date {
    position: relative;
    float: left;
    &::before {
      @include RiffIcon("\E108", 22, #cccccc);
      display: block;
      position: absolute;
      margin-top: -17px;
      top: 50%;
      left: 8px;
    }
    &::after {
      @include RiffIcon("\E604", 12, $textColorGray);
      display: block;
      position: absolute;
      top: 50%;
      right: 12px;
      margin-top: -8px;
      pointer-events: none;
    }
  }
  &__dateWindow {
    position: relative;
    float: left;
    width: 16em;
    height: 42px;
    margin: 0;
    padding-left: 42px;
    border: 1px solid $grayOut;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    vertical-align: middle;
    background-color: transparent;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
  }
  &__number {
    float: left;
    margin-left: 12px;
  }
  &__select {
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 136px;
    height: 42px;
    overflow: hidden;
    border: 1px solid $grayOut;
    vertical-align: middle;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    &::before {
      @include RiffIcon("\E14A", 20, #cccccc);
      display: block;
      position: absolute;
      top: 50%;
      left: 8px;
      margin-top: -16px;
      vertical-align: middle;
    }
    &::after {
      @include RiffIcon("\E604", 12, $textColorGray);
      position: absolute;
      top: 50%;
      right: 12px;
      margin-top: -8px;
      pointer-events: none;
      z-index: -1;
    }
  }
  &__result {
    height: 100%;
    width: 110%;
    margin: 0;
    padding-left: 36px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    vertical-align: middle;
    background: transparent;
    box-shadow: none;
    box-sizing: content-box;
    appearance: none;
    outline: none;
    cursor: pointer;
  }
}

.request {
  display: inline-block;
  margin-left: 20px;
  color: #e60013;
  font-weight: bold;
  font-size: 12px;
  &__link {
    display: inline;
    font-size: 12px;
  }
}

.time {
  position: relative;
  margin-top: 5px;
  padding: 0 40px;
  overflow: hidden;
  &__panel {
    position: relative;
    float: left;
    width: 382px;
    height: 100%;
    overflow: hidden;
    margin-top: 1px;
  }
  &__list {
    position: relative;
    width: 99999px;
    transition: all .2s;
  }
  &__item {
    float: left;
    width: 78px;
    height: 35px;
    font-weight: bold;
  }
  &__button {
    @include button-main;
    display: block;
    width: 70px;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    &--disable {
      @include button-normal;
      display: block;
      width: 70px;
      overflow: hidden;
      padding: 0;
      border: none;
      color: #aaa;
      font-weight: bold;
      font-size: 14px;
      line-height: 33px;
      background: #ddd;
      cursor: default;
      box-shadow: none;
      pointer-events: none;
    }
    &--select {
      @include button-main;
      @extend .time__button;
    }
  }
  &__pager {
    &--prev {
      @include button-normal;
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 28px;
      height: 28px;
      overflow: hidden;
      line-height: 30px;
      text-indent: 100%;
      white-space: nowrap;
      box-shadow: none;
      cursor: pointer;
      &::before {
        @include RiffIcon("\E60B", 15, #444);
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        text-indent: 0;
      }
    }
    &--next {
      @include button-normal;
      display: inline-block;
      position: absolute;
      top: 2px;
      right: 0;
      width: 28px;
      height: 28px;
      overflow: hidden;
      line-height: 30px;
      text-indent: 100%;
      white-space: nowrap;
      cursor: pointer;
      &::before {
        @include RiffIcon("\E60C", 15, #444);
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        text-indent: 0;
      }
    }
    &--disabled {
      border-color: #ddd;
      background: #ddd;
      cursor: default;
      pointer-events: none;
      &::before {
        color: #aaa;
      }
    }
  }
}

.noMatch{
  float: left;
  width: 460px;
  &__note {
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 14px;
    &:last-child {
      margin: 10px 0 0 0;
    }
  }
  &__text {
    font-weight: normal;
    font-size: 14px;
    &:last-child {
      display: block;
    }
  }
  &__change {
    @include clearfix;
  }
  &__link {
    @include clearfix;
    float: left;
    color: #1976d2;
    font-weight: bold;
    line-height: 2.9;
    cursor: pointer;
  }
}

.noMatchButton{
  float: right;
  &__link {
    @include button-normal;
    display: block;
    width: 10em;
    font-size: 14px;
    line-height: 2.5em;
    cursor: pointer;
  }
}

.more {
  position: relative;
  text-align: right;
  line-height: 1.2;
  &__link {
    font-size: 16px;
    font-weight: bold;
  }
}
</style>
