<template>
<div class="option">
  <h2 class="option__title">オプション</h2>
  <div class="option__contents">
    <div class="option__item">
      <img class="option__image" src="http://dummyimg.corp.yahoo.co.jp/100x75" alt="$店舗名$" width="100" height="75" />
      <div class="option__detail">
        <p class="option__menu">メッセージ入りデザートプレート（基本的にHappybirthdayでご用意します） 540円</p>
        <p class="option__text">お誕生日やご結婚記念日などに、メッセージをお付けしたデザートプレートをご用意いたします。</p>
        <p class="option__expiryDate">販売期間：通年</p>
      </div>
    </div>
    <div class="option__item">
      <img class="option__image" src="http://dummyimg.corp.yahoo.co.jp/100x75" alt="$店舗名$" width="100" height="75" />
      <div class="option__detail">
        <p class="option__menu">お子様ディナーブッフェ(4歳～小学生) (子どもメニュー) 2,484円</p>
        <p class="option__expiryDate">販売期間：通年</p>
      </div>
    </div>
  </div>
  <div class="option__contents">
    <div class="option__item">
      <img class="option__image" src="http://dummyimg.corp.yahoo.co.jp/100x75" alt="$店舗名$" width="100" height="75" />
      <div class="option__detail">
        <p class="option__menu">メッセージ入りデザートプレート（基本的にHappybirthdayでご用意します） 540円</p>
        <p class="option__text">お誕生日やご結婚記念日などに、メッセージをお付けしたデザートプレートをご用意いたします。</p>
        <p class="option__expiryDate">販売期間：通年</p>
      </div>
    </div>
    <div class="option__item">
      <img class="option__image" src="http://dummyimg.corp.yahoo.co.jp/100x75" alt="$店舗名$" width="100" height="75" />
      <div class="option__detail">
        <p class="option__menu">シニア料金　ディナーブッフェ(65歳以上) (子どもメニュー) 5,400円</p>
        <p class="option__text">大変恐縮ではございますが、シニアのお客様は人数のカウントを「お子様」にしていただいた上で、こちらのメニューをご注文ください。</p>
        <p class="option__expiryDate">販売期間：通年</p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.option {
  color: $textColorGray;
  &__title {
    @include placeTitle;
    @include placeTitleBorder;
    color: $textColorBlack;
  }
  &__contents {
    @include clearfix;
    margin: 0 -9px;
  }
  &__item {
    float: left;
    width: 50%;
    padding: 0 9px;
    box-sizing: border-box;
  }
  &__detail {
    width: auto;
    margin-left: 110px;
  }
  &__image {
    float: left;
    width: 100px;
    height: auto;
  }
  &__menu {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
  }
  &__text {
    margin-bottom: 10px;
  }
  &__expiryDate {
    margin-bottom: 20px;
  }
}
</style>
