<template>
  <div class="confirm tracked_mods">
    <div class="confirm__inner">
      <div class="confirm__information">
        <h2 class="confirm__title">
          <span class="confirm__text" v-text="isDefaultSeatOnly ? '席のみ予約' : course.name"/>
        </h2>
        <div class="confirm__price" v-if="!(course.price === 0 && !(isPremiumOnlyCourse && !isPremiumUser))">
          <p class="confirm__premium" v-if="isPremiumCourse && isPremiumUser">プレミアム会員限定料金</p>
          <p class="confirm__general" v-else>一般料金</p>
          <p class="confirm__assist">1名様 / 税サ込</p>
          <div class="confirm__definition">
            <p class="confirm__price price" v-if="!isSeatOnly">
              <template v-if="isPremiumCourse && isPremiumUser">
                <span class="price__text">{{course.price | displayPrice}}</span>
                <span class="price__benefit" v-if="isFilled(benefitPhrase) && benefitPhrase !== ''">{{ benefitPhrase }}</span>
              </template>
              <span v-else class="price__text">{{originalPrice | displayPrice}}</span>
            </p>
            <p class="confirm__seats seats" v-else>
              <span class="seats__text">お席のみ</span>
              <span class="seats__benefit" v-if="isPremiumCourse && isPremiumUser && isFilled(benefitPhrase) && benefitPhrase !== ''">{{ benefitPhrase }}</span>
            </p>
            <p class="confirm__privilege" v-if="isPremiumCourse && isPremiumUser && isFilled(course.tokutenText) && course.tokutenText !== ''">特典：{{ course.tokutenText }}</p>
          </div>
        </div>
      </div>
      <div class="confirm__reserve reserve">
        <div class="reserve__confirm">
          <dl class="reserve__date date">
            <dt class="date__text">日程</dt>
            <dd class="date__data">
              <span class="date__note">{{ getYear }}</span>
              <span class="date__number">{{ getMonth }}</span>
              <span class="date__note">月</span>
              <span class="date__number">{{ getDate }}</span>
              <span class="date__note">日（{{ getDay }}）</span>
            </dd>
          </dl>
          <dl class="reserve__time time">
            <dt class="time__text">来店時間</dt>
            <dd class="time__data">
              <span class="time__number">{{ searchCondition.selectedTime | displayReserveHour }}</span>
            </dd>
          </dl>
          <dl class="reserve__number number">
            <dt class="number__text">人数</dt>
            <dd class="number__data">
              <span class="number__number">{{ searchCondition.selectedPerson }}</span>
              <span class="number__note">名様</span>
            </dd>
          </dl>
        </div>
        <p class="reserve__change change" @click="clearSearchCondition()">
          <a class="change__link" data-ylk="slk:chg_vst;pos:13">日程・時間・人数を変更する</a>
        </p>
        <div class="reserve__article">
          <form method="get">
            <div class="reserve__container">
              <div class="reserve__course" v-if="isPremiumCourse">
                <p class="reserve__request" v-if="getReserveStatus() === 2">この予約は「リクエスト予約」です。</p>
                <p class="reserve__text" v-if="isSBUser && isPremiumCourse">ソフトバンクユーザーのあなたはプレミアム会員限定の料金・特典がご利用できます。</p>
                <p class="reserve__text" v-else-if="isYMUser && isPremiumCourse">Y!mobileユーザーのあなたはプレミアム会員限定の料金・特典がご利用できます。</p>
                <p class="reserve__text" v-else-if="isPremiumUser && isPremiumCourse">あなたはプレミアム会員です。プレミアム会員限定料金でご予約可能です。</p>
                <p class="reserve__special special" v-if="!isPremiumUser && isSBCooperation">
                  <span class="special__note">スマートログイン設定すると</span>
                  <br />
                  <span class="special__privilege" v-if="isSeatOnly && isFilled(benefitPhrase) && benefitPhrase !== ''">{{ benefitPhrase }}</span>
                  <span class="special__privilege" v-else-if="!isSeatOnly && isFilled(benefitPhrase) && benefitPhrase !== ''">{{ course.price | displayPrice }}({{ benefitPhrase }})</span>
                  <span class="special__text">で予約可能</span>
                </p>
                <template v-if="!isPremiumUser && isSBCooperation">
                  <a class="reserve__smartlogin" href="#smartlogin" data-libanchor="">ソフトバンクユーザーでも特典が受けられます。
                    <br />
                    <span class="reserve__detail">詳細はこちら</span>
                  </a>
                  <p class="reserve__attention">※お客様の通信契約内容によっては対象外の場合もございます</p>
                </template>
                <template v-if="isPremiumUser && !isSBUser && isSBCooperation">
                  <a class="reserve__smartlogin" href="#smartlogin" data-libanchor="">ソフトバンクユーザーの方へ
                    <br />
                    <span class="reserve__detail">詳細はこちら</span>
                  </a>
                </template>
                <p class="reserve__special special" v-if="!isPremiumUser">
                  <span class="special__note">Yahoo!プレミアム会員に登録すると</span>
                  <br />
                  <span class="special__privilege" v-if="isSeatOnly && isFilled(benefitPhrase) && benefitPhrase !== ''">{{ benefitPhrase }}</span>
                  <span class="special__privilege" v-if="!isSeatOnly && isFilled(benefitPhrase) && benefitPhrase !== ''">{{ course.price | displayPrice }}({{ benefitPhrase }})</span>
                  で予約可能
                </p>
                <p class="reserve__regist premium" v-if="!isPremiumUser">
                  <button type="submit" class="premium__button" @click.prevent="premiumResistUrl()">
                    Yahoo!プレミアム会員に登録して
                    <br />
                    <span class="premium__text">予約する</span>
                  </button>
                </p>
              </div>
              <p class="reserve__regist" v-if="isPremiumUser || !isPremiumCourse">
                <button type="submit" class="reserve__button" @click.prevent="goReserve()">予約へ進む</button>
              </p>
              <p class="reserve__regist" v-else-if="!isPremiumUser && isPremiumCourse && !isPremiumOnlyCourse">
                <button type="submit" class="reserve__button" @click.prevent="goReserve()">このまま予約へ進む</button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <p class="confirm__more more">
      <a :href="courseListUrl" class="more__link" data-ylk="slk:viewall3;pos:14">このお店のすべてのプランを見る</a>
    </p>
  </div>
</template>

<script>
import Base from '@lib/baseComponent'
import moment from '@lib/moment-ja'

export default {
  components: {
  },
  extends: Base,
  props: [
    'tenpo',
    'courseDetail',
    'dailyStock',
    'dailyStockFiltered',
    'searchCondition',
    'userInfo',
    'canConfirm',
    'timeStockResultCode',
    'rapidNum'
  ],
  mounted () {
    this.$nextTick(() => {
      if (this.rapidNum) {
        this.$root.rapid.refreshModule(`skd_${this.rapidNum}`, false, false)
      }
    })
  },
  watch: {
  },
  computed: {
    /**
     * 席のみ判断を行う
     * @return {boolean} true/false
     */
    isDefaultSeatOnly () {
      return this.course.planId === this.courseDetail.entry.tenpoId + '01'
    },
    /**
     * 年取得
     * @return {string} 年
     */
    getYear () {
      return moment(this.searchCondition.selectedDate, 'YYYYMMDD').format('YYYY年')
    },
    /**
     * 月取得
     * @return {string} 月
     */
    getMonth () {
      return moment(this.searchCondition.selectedDate, 'YYYYMMDD').format('MM')
    },
    /**
     * 日取得
     * @return {string} 日
     */
    getDate () {
      return moment(this.searchCondition.selectedDate, 'YYYYMMDD').format('DD')
    },
    /**
     * 曜日取得
     * @return {string} 曜日
     */
    getDay () {
      return moment(this.searchCondition.selectedDate, 'YYYYMMDD').format('ddd')
    },
    /**
     * プラン情報取得
     * @return {object} プラン情報
     */
    course () {
      return this.courseDetail.entry.plans[0]
    },
    /**
     * ユーザのプレミアム会員タイプ
     *   1: SBバンドル会員（スマログ設定済ユーザ）
     *   2: YMバンドル会員（ID連携済）
     *   3: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定
     *   4: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定（YMバンドル対象者ID未連携が混在）
     *   5: オンプレ(ウォレット、アプリ課金購入などの通常プレミアム)
     *   6: 非プレミアム会員
     *   7: 非プレミアム会員(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *   8: 未ログイン
     *   9: 未ログイン(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *  ※1~5はプレミアム会員扱い、6~9は非プレミアム会員扱い
     * @return プレミアム会員タイプ
     */
    premiumMenberType () {
      return this.userInfo.premiumType
    },
    /**
     * ユーザがプレミアム会員かどうか
     * @return {boolean} true/false
     */
    isPremiumUser () {
      return this.userInfo.isPremium
    },
    /**
     * ユーザがSBバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isSBUser () {
      return this.userInfo.softbankBundle
    },
    /**
     * ユーザがYMobileバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isYMUser () {
      return this.userInfo.ymobileBundle
    },
    /**
     * 243連携済みかどうか
     * @return {boolean} true/false
     */
    isSBCooperation () {
      return this.userInfo.softBankCooperation === 1 || this.userInfo.softBankCooperation === '1'
    },
    /**
     * 席のみ判断を行う
     * @return {boolean} true/false
     */
    isSeatOnly () {
      return this.course.seatOnlyFlg || this.course.tokutenType === 1 || this.course.planId === this.courseDetail.entry.tenpoId + '01' || this.course.price <= 0
    },
    /**
     * プレミアム会員限定コースか
     * @return {boolean} true/false
     */
    isPremiumOnlyCourse () {
      return this.course.premiumOnlyFlag
    },
    /**
     * プレミアム会員特典付きコースか(プレミアム会員限定コース含む)
     * @return {boolean} true/false
     */
    isPremiumCourse () {
      return this.course.tokutenType === 1 || this.course.tokutenType === 3
    },
    /**
     * 一般料金
     * @return {int} 表示金額
     */
    originalPrice () {
      return Number(this.course.originalPrice) > 0 ? this.course.originalPrice : this.course.price
    },
    /**
     * 特典文言
     * @returns {string} 特典文言
     */
    benefitPhrase () {
      let phraseList = []
      if (this.isFilled(this.course.discountRate) && this.course.discountRate > 0) {
        let discount = ''
        if (this.isFilled(this.course.discountType)) {
          if (this.course.discountType === 1) {
            discount = 'お会計から'
          } else if (this.course.discountType === 2) {
            discount = '料理全品'
          }
        }
        phraseList.push(discount + String(this.course.discountRate) + '%OFF')
      }
      if (this.course.tokutenText) {
        phraseList.push('特典あり')
      }
      return phraseList.join('+')
    },
    getReserveFormUrl () {
      const planId = (this.course.planId === this.courseDetail.entry.tenpoId + '01') ? '' : '&planNo=' + this.course.planId
      return this.namespace.Url.reserveForm + this.courseDetail.entry.tenpoId +
        '/' + this.searchCondition.selectedDate +
        '/' + this.searchCondition.selectedPerson +
        '/' + this.searchCondition.selectedTime +
        '?ref=loco&sc_e=yloc_plan' + planId
    },
    premiumResistUrl () {
      // rapid: option_keys
      let rapidOptionKeys = {}
      rapidOptionKeys['vst_dt' + this.rapidNum] = this.searchCondition.selectedDate
      rapidOptionKeys['vst_ppl' + this.rapidNum] = this.searchCondition.selectedPerson
      rapidOptionKeys['vst_tm' + this.rapidNum] = this.searchCondition.selectedTime
      // rapid: sendBeaconClick
      this.$root.rapid.beaconClick(
        // sec
        'skd_' + this.rapidNum,
        // slk
        'prsv' + this.rapidNum,
        // pos
        10,
        // option_keys
        rapidOptionKeys
      )
      const currentUrl = location.href
      location.href = this.namespace.Url.registPremium + '?done=' + encodeURIComponent(this.getReserveFormUrl) + '&bail=' + encodeURIComponent(currentUrl) + '&ex=' + this.namespace.Url.registPremiumButtonCode
    },
    /**
     * コース一覧のUrl
     * @return {string} url
     */
    courseListUrl () {
      let url = '..'
      if (location.pathname.slice(-1) !== '/') {
        url = url + '/course?date=' + this.searchCondition.selectedDate
      }
      return url
    }
  },
  methods: {
    goReserve () {
      location.href = this.getReserveFormUrl
      // rapid: option_keys
      let rapidOptionKeys = {}
      rapidOptionKeys['vst_dt' + this.rapidNum] = this.searchCondition.selectedDate
      rapidOptionKeys['vst_ppl' + this.rapidNum] = this.searchCondition.selectedPerson
      rapidOptionKeys['vst_tm' + this.rapidNum] = this.searchCondition.selectedTime
      // rapid: sendBeaconClick
      this.$root.rapid.beaconClick(
        // sec
        'skd_' + this.rapidNum,
        // slk
        'rsv' + this.rapidNum,
        // pos
        9,
        // option_keys
        rapidOptionKeys
      )
    },
    /**
     * undefinedかnullのチェックを行う.
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return typeof variable !== 'undefined' && variable !== null
    },
    clearSearchCondition () {
      this.$emit('course-time', '')
      this.$emit('confirm-flag', false)
    },
    /**
     * 指定した日付の予約ステータス取得
     * @return {int} 予約ステータス
     */
    getReserveStatus () {
      // 時間在庫の予約ステータスがあれば返却する (優先)
      if (this.timeStockResultCode !== undefined) {
        return this.timeStockResultCode
      }
      // 日在庫の予約ステータスがあれば返却する
      if (typeof this.dailyStockFiltered !== 'undefined' && Object.keys(this.dailyStockFiltered).length > 0) {
        return this.dailyStockFiltered[this.searchCondition.selectedDate]
      }
      return 0
    }
  },
  filters: {
    /**
     * 時間在庫の表示用整形処理
     * @param {string} 時間
     * @return {string} 整形後の時間
     */
    displayReserveHour (hhmm) {
      return hhmm.slice(0, 2) + ':' + hhmm.slice(2)
    },
    /**
     * 金額の表示用整形処理
     * @param {string} 金額
     * @return {string} 整形後の金額
     */
    displayPrice (price) {
      return String(price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,') + '円'
    },
    /**
     * 日付の表示用整形処理
     * @param {string} 日付
     * @return {string} 整形後の日付
     */
    displayDay (day) {
      return moment(day, 'YYYYMMDD').format('YYYY年MM月DD日（ddd）')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.confirm {
  margin-bottom: 14px;
  &__inner {
    @include clearfix;
    position: relative;
    margin-bottom: 18px;
    padding: 20px;
    border: solid 4px #dddddd;
    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      padding: 24px 0;
      background: #ddd;
      border-top: solid 24px #fff;
      border-bottom: solid 24px #fff;
      box-sizing: border-box;
      content: "";
    }
  }
  &__information{
    float: left;
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
  }
  &__title {
    margin-bottom: 20px;
    color: #444;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
  }
  &__text {
    line-height: 0.5;
  }
  &__premium {
    display: inline-block;
    margin: 0 10px 10px 0;
    color: #444;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    &::before {
      @include svgIcon($width:18, $height:18, $url:"https://s.yimg.jp/images/loco/front/images/common/icons/premium.svgz");
      display: inline-block;
      margin-right: 5px;
      vertical-align: text-top;
    }
  }
  &__general {
    display: inline-block;
    margin: 0 10px 10px 0;
    color: #444;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
  }
  &__assist {
    display: inline-block;
    margin-right: 5px;
    color: #888;
    font-weight: normal;
    font-size: 10px;
  }
  &__definition {
    display: table-cell;
    vertical-align: top;
    color: $priceColor;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;
  }
  &__privilege {
    color: $textColorBlack;
    font-weight: bold;
    font-size: 14px;
  }
  &__link {
    display: inline;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 16px;
  }
}

.price{
  &__benefit {
    display: inline-block;
    margin: -3px 0 0 8px;
    padding: 5px 5px 4px 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
    background: $priceColor;
  }
}

.seats {
  display: inline-block;
  margin-right: 10px;
  color: $priceColor;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  &__benefit {
    display: inline-block;
    margin: -3px 0 0 8px;
    padding: 5px 5px 4px 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
    background: $priceColor;
  }
}

.reserve{
  float: left;
  width: 50%;
  padding-left: 20px;
  box-sizing: border-box;
  &__confirm {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  &__container {
    text-align: center;
  }
  &__course {
    margin-bottom: 13px;
    font-size: 12px;
    border-bottom: dotted 1px $grayOut;
  }
  &__request {
    margin-bottom: 15px;
    color: #e60013;
    font-weight: bold;
    font-size: 12px;
  }
  &__note {
    font-size: 12px;
    &:last-child {
      margin-bottom: 15px;
    }
  }
  &__smartlogin {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    &::after {
      @include RiffIcon("\E604", 16, $linkColor);
      display: inline;
    }
  }
  &__attention {
    margin-bottom: 15px;
    font-size: 12px;
  }
  &__button {
    @include button-main;
    display: block;
    width: 320px;
    height: 60px;
    margin: 15px auto 0 auto;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
  }
}

.premium{
  &__button {
    @extend .reserve__button;
    @include button-normal;
    margin: 15px auto 15px auto;
    padding: 9px 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.3;
  }
  &__text {
    font-size: 20px;
  }
}

.date{
  display: table-cell;
  width: 50%;
  border-left: none;
  &__data {
    font-weight: bold;
  }
  &__number {
    display: inline-block;
    font-size: 24px;
    text-align: center;
  }
}

.time{
  display: table-cell;
  width: 25%;
  border-left: solid 1px $grayOut;
  &__text {
    padding-left: 19px;
  }
  &__data {
    font-weight: bold;
    text-align: center;
  }
  &__number {
    display: inline-block;
    font-size: 24px;
    text-align: center;
  }
}

.number{
  display: table-cell;
  width: 25%;
  border-left: solid 1px $grayOut;
  &__text {
    padding-left: 19px;
  }
  &__data {
    font-weight: bold;
    text-align: center;
  }
  &__number {
    display: inline-block;
    font-size: 24px;
    text-align: center;
  }
}

.special{
  &__privilege {
    color: $priceColor;
  }
  &__note {
    font-size: 12px;
    &:last-child {
      margin-bottom: 15px;
    }
  }
}

.change {
  margin-bottom: 13px;
  padding-bottom: 13px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: dotted 1px $grayOut;
  &__link {
    cursor: pointer;
  }
}

.more{
  position: relative;
  text-align: right;
  line-height: 1.2;
  &__link {
    font-size: 16px;
    font-weight: bold;
  }
}

</style>
