<template>
  <h2 class="pageTitle">{{name}}のコースメニュー</h2>
</template>

<script>
export default {
  props: [
    'name'
  ]
}
</script>

<style lang="scss" scoped>
  @import '~@pc/styles/partial/mixins';
  @import '~@pc/styles/partial/variable';

.pageTitle {
  @include placeTitle;
  @include placeTitleBorder;
}

</style>
