<template>
<div :id="calPopupBtnSec" class="reserve tracked_mods" v-if="isVisible">
  <div class="reserve__wrapper">
    <div class="reserve__select">
      <p class="reserve__title">予約する日付を選ぶ</p>
      <button class="reserve__button" v-on:click="clickReserveButton()" :data-ylk="`slk:${calPopupBtnSlk}`"><span class="reserve__date">{{ fixedDate }}</span></button>
    </div>
    <div class="reserve__phone">
      <p class="reserve__text">電話で予約する場合はこちら</p>
      <p class="reserve__number">TEL：{{tel}}</p>
    </div>
  </div>

  <!-- ポップアップカレンダー -->
  <transition
    enter-class="calendarPopup--enter"
    enter-active-class="calendarPopup--enter-active"
    leave-class="calendarPopup--leave"
    leave-active-class="calendarPopup--leave-active"
  >
    <calendar-popup v-if="popup" v-on:close="popup = false" pendingButton="js" triangle="left" v-bind:style="calendarPosition" :tenpo="tenpo" :dailyStock="dailyStockFiltered" :calPopupBtnSec="calPopupBtnSec" :calPopupBtnSlk="calPopupBtnSlk"></calendar-popup>
  </transition>
  <!-- /ポップアップカレンダー -->
  <!-- ローディング -->
  <loading v-if="loading"></loading>
  <!-- /ローディング -->
</div>
</template>

<script>
import moment from '@lib/moment-ja'
import Base from '@lib/baseComponent'
import Url from '@lib/Url'
import loading from '@pc/components/place/loading.vue'
import calendarPopup from '@pc/components/place/calendarPopup.vue'

// カレンダー表示上限日数
const calendarViewLimitDays = 90
const hotPepperAvailableMonths = 2

/**
 * 1週間カレンダーモジュール
 * webapp/src/pc/pages/place/index.html 他から利用
 */
export default {
  components: {
    loading,
    calendarPopup
  },
  extends: Base,
  data () {
    return {
      calendarPosition: {
        top: `-150px`,
        right: `-14px`
      },
      popup: false,
      // 仮でローディング時の状態を定義してます
      loading: false,
      dailyStock: {},
      dailyStockFiltered: {},
      date: Url.getParameters().date,
      calPopupBtnSec: 'selectdt',
      calPopupBtnSlk: '_'
    }
  },
  props: [
    'tenpo',
    'eappid'
  ],
  mounted () {
    // 日次在庫APIからデータの取得
    if ((typeof this.namespace.API.dailyStock !== 'undefined' &&
        typeof this.tenpo.Feature[0].Gid !== 'undefined')) {
      this.bindRequest({
        name: 'dailyStock',
        url: this.namespace.API.dailyStock,
        params: {
          gid: this.tenpo.Feature[0].Gid,
          period: calendarViewLimitDays
        },
        eappid: true,
        dataType: 'jsonp'
      }).then((dailyStock) => {
        if (this.$root.isHiddenScType('wcal_grm')) {
          // URLパラメータ「sc_type」によりフィルタする場合はYahoo在庫のみにフィルタ
          this.dailyStockFiltered = this.filterStockWithYahoo(dailyStock)
          return
        }
        if (!this.g(dailyStock, 'entry[0].stocks')) {
          if (this.hasHotpepper) {
            // Y! の在庫がない場合もホットペッパーがある場合は常に在庫を出す
            this.dailyStockFiltered = this.fillStockWithHotpepper()
          }
          return
        }
        // APIから取得して来たデータを整形する
        this.dailyStockFiltered = dailyStock.entry[0].stocks.reduce((obj, stock) => {
          const stockDate = new Date(stock.date)
          const stockDateStr = this.getDateString(stockDate)
          obj[stockDateStr] = stock.status
          return obj
        }, {})
      })
      moment.locale('ja', {weekdaysShort: ['日', '月', '火', '水', '木', '金', '土']})
    }
  },
  computed: {
    /**
     * モジュールを表示するかどうか
     * @returns {bool} 表示の有無
     */
    isVisible: function () {
      return Object.keys(this.dailyStockFiltered).length > 0
    },
    /**
     * オンライン予約可能かどうか
     * @returns {bool} 表示可否
     */
    canOnlineReserve: function () {
      return this.tenpo.Feature[0].Property.Detail.OnlineReserveFlag || this.tenpo.Feature[0].Property.Detail.OnlineReserveRequestFlag
    },
    /**
     * 正常なgetパラメータ（date）を持っているかの確認
     * 今後 date を遷移無しで変更する可能性がある場合は force update してください
     */
    hasValidDateParam () {
      return this.date !== undefined && this.date.length === 8 && moment(this.date, 'YYYYMMDD').isValid() &&
        moment(this.date).isBetween(moment(), moment().add(calendarViewLimitDays, 'days'), 'day', '[)')
    },
    /**
     * CP にホットペッパーを含むかどうか
     */
    hasHotpepper: function () {
      return (this.getChildCpData(this.namespace.cid.hotpepperGourmet).length > 0)
    },
    /**
     * getパラメータ(date)の値を整形し返却
     */
    fixedDate () {
      if (!this.hasValidDateParam) {
        return '日付未指定'
      }
      return moment(this.date).format('MM月DD日（ddd）')
    },
    isFreeTel () {
      return this.tenpo.Feature[0].Property.Detail.PpcNumber && !this.tenpo.Feature[0].Property.Detail.AlternativeTel
    },
    /**
     * 表示する電話番号
     * @returns {String} 電話番号。ハイフンで区切られている
     */
    tel () {
      return this.tenpo.Feature[0].Property.Detail.AlternativeTel ? this.tenpo.Feature[0].Property.Detail.AlternativeTel
        : this.tenpo.Feature[0].Property.Detail.PpcNumber ? this.tenpo.Feature[0].Property.Detail.PpcNumber
          : this.tenpo.Feature[0].Property.Tel1
    }
  },
  methods: {
    /**
     * Date オブジェクトから 月/日 形式の文字列を取得
     * 0パディングしない
     * @param {Date} date 取得したい日付
     * @returns {String} m/d 形式の日付
     */
    getDateString (date) {
      return moment(date).format('M/D')
    },
    /**
     * ホットペッパー対応
     * 指定日付が3日後以降ならリクエスト予約可能になる（直近3日は電話）
     * @see https://jira.corp.yahoo.co.jp/browse/POTARA-1885
     * @param {Date} date 指定日付
     */
    hotpepperAvailable (date) {
      return this.hasHotpepper &&
        moment(date).isBetween(moment().add(3, 'day'), moment().add(hotPepperAvailableMonths, 'months'), 'day', '[)')
    },
    /**
     * オンライン予約可能かどうか
     * @param {object} Tenpo オブジェクト
     * @returns {bool} 表示可否
     */
    canOnlineReserveChild (childTenpo) {
      return childTenpo !== null &&
        (childTenpo.OnlineReserveFlag || childTenpo.OnlineReserveRequestFlag)
    },
    /**
     * ChildのCP情報取得
     * @param {string} cid カセットID
     * @returns {object} Cp情報
     */
    getChildCpData (cid) {
      return this.tenpo.Feature[0].Children.filter((val) => cid === val.CassetteId && this.canOnlineReserveChild(val))
    },
    /**
     * ホットペッパー対応 CPがホットペッパーのみの場合にも在庫を出す
     * TODO: リファクタ status を enum にする
     */
    fillStockWithHotpepper () {
      let stocks = {}
      for (let i = 0; i < calendarViewLimitDays; ++i) {
        const date = moment().add(i, 'day')
        let status = this.hotpepperAvailable(date)
          ? 2 // リクエスト予約
          : 0 // 電話
        stocks[this.getDateString(date)] = status
      }
      return stocks
    },
    /**
     * Yプランのみで在庫一覧をフィルタする
     */
    filterStockWithYahoo (dailyStock) {
      if (dailyStock.totalResults > 0) {
        const yahooDailyStocks = dailyStock.entry[0].cp.filter((l) => l.cid === this.namespace.cid.yahoo)
        if (yahooDailyStocks.length === 1) {
          return yahooDailyStocks[0].stocks.reduce((obj, stock) => {
            const stockDate = new Date(stock.date)
            const stockDateStr = this.getDateString(stockDate)
            obj[stockDateStr] = stock.status
            return obj
          }, {})
        }
      }
      return {}
    },
    /**
     * 日時選択ボタン押下時の処理
     */
    clickReserveButton () {
      this.popup = true
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~@pc/styles/partial/mixins';
  @import '~@pc/styles/partial/variable';

.reserve{
  position: relative;
  &__wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px 0;
    background: #fff9e2;
    border: 1px solid #ece5c2;
    text-align: center;
  }
  &__select{
    display: flex;
    align-items: center;
    padding: 2px 10px;
    width: 390px;
    border-right: 1px dotted #bbbab5;
  }
  &__phone{
    padding: 2px 10px;
    width: 197px;
  }
  &__title{
    font-size: 18px;
    font-weight: bold;
  }
  &__button{
    @include button-normal;
    margin-left: 12px;
    padding: 9px;
    width: 144px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.1;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
  &__date{
    position: relative;
    padding-left: 20px;
    &:before{
      @include svgIcon(15, 15, "https://s.yimg.jp/images/loco/front/images/common/icons/calendar.svgz");
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &__text{
    font-size: 11px;
  }
  &__number{
    font-size: 16px;
    font-weight: bold;
  }
}
</style>
