<template>
<div class="announcement" v-if="hasAnnouncement">
  <div class="announcement__inner">
    <p class="announcement__title">お店からの注意事項</p>
    <p class="announcement__text" v-if="announcementData.entry.free_text">
      <template v-for="(freeText, index) in freeTexts">
        {{ freeText }} <br v-if="index != freeTexts.length" :key="freeText" />
      </template>
    </p>
    <ul class="announcement__list">
      <li v-for="text in listText" class="announcement__item" :key="text">{{ text }}</li>
    </ul>
  </div>
</div>
</template>

<script>
import Base from '@lib/baseComponent'
import Pagination from '@lib/Pagination'
import moment from 'moment'

const seatOnlyPattern = new RegExp('^s[0-9]{9}01$')

export default {
  extends: Base,
  props: [
    'tenpo',
    'courseDetail',
    'timeStockResultCode',
    'eappid'
  ],
  data () {
    return {
      announcementData: {},
      time: new Pagination().getSearchParameters().time,
      date: new Pagination().getSearchParameters().date
    }
  },
  mounted () {
    // ポリシー情報の取得
    if (typeof this.namespace.API.announcement !== 'undefined') {
      this.bindRequest({
        name: 'announcementData',
        url: this.namespace.API.announcement,
        params: {
          tenpoId: this.courseDetail.entry.tenpoId,
          planId: this.isYSeatOnly ? '' : this.courseDetail.entry.plans[0].planId,
          datetime: (this.date !== undefined && this.time !== undefined) ? this.date + this.time : ''
        },
        timeout: 3000,
        eappid: true,
        dataType: 'json'
      })
    }
  },
  computed: {
    /**
     * Y! 席のみかどうか
     */
    isYSeatOnly () {
      return seatOnlyPattern.test(this.courseDetail.entry.plans[0].planId)
    },
    /**
     * お店からの注意事項があるかどうか
     */
    hasAnnouncement () {
      return this.status.announcementData === 'binded' &&
        (this.freeTexts.length > 0 || this.listText.length > 0)
    },
    /**
     * フリーテキストを取得する
     * CRLF で分割する
     * @return {Array[String]} フリーテキスト
     */
    freeTexts () {
      if (!this.g(this.announcementData, 'entry.free_text')) return []
      return this.splitTextByCRLF(this.announcementData.entry.free_text)
    },
    /**
     * リストで表示するテキストを取得する
     */
    listText () {
      // バインドが終わってなかったら空配列を返す
      if (this.status.announcementData !== 'binded') {
        return []
      }
      const entry = this.announcementData.entry
      if (!entry) {
        return []
      }
      const excludeKey = this.getExcludeKey()
      return Object.keys(entry)
        .filter(key => !excludeKey.some(excludeKey => excludeKey === key) && entry[key] !== null)
        .map(key => entry[key])
        .filter(content => content !== null)
    }
  },
  methods: {
    /**
     * 除外するkey名を取得する
     */
    getExcludeKey () {
      let excludeKey = ['free_text']
      if (this.time !== undefined && this.time.length === 4 && moment(this.time, 'HHmm').isValid()) { // timeパラメータが有りかつ正常かどうか
        excludeKey.push('request_deadline_notice')
      } else { // timeパラメータが無しまたはtimeパラメータが異常な場合
        if (this.timeStockResultCode === 2) { // リクエスト予約の場合
          excludeKey.push('deadline_notice')
        } else { // 通常予約の場合
          excludeKey.push('request_deadline_notice')
        }
      }
      return excludeKey
    },
    /**
     * CRLFで文字列を分割した配列を返却
     * @param originalText {string} 分割前テキスト
     * @return {Array} CLRFで分割後の配列
     */
    splitTextByCRLF: function (originalText) {
      if (originalText === undefined || originalText === null) {
        return []
      }
      return originalText.split(/\r?\n/)
    }
  }

}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.announcement {
  color: $textColorGray;
  &__inner {
    margin: 0 370px 20px 0;
    padding: 15px;
    border: 1px $textColorLightGray dotted;
    font-size: 12px;
  }
  &__title {
    margin-bottom: 10px;
    color: $textColorBlack;
    font-weight: bold;
    &:first-child {
      margin-top: 0;
    }
  }
  &__list {
    margin-left: 12px;
  }
  &__item::before {
    margin-left: -12px;
    padding: 0;
    content: '・';
  }
}

</style>
