<template>
<div v-if="isVisible" class="zeroMatch">
  <!-- タイトルのみパターン(日付指定無しで０マッチ) -->
  <p class="zeroMatch__title">この店舗のコース情報はありません。</p>
  <!-- /タイトルのみパターン -->
</div>
</template>

<script>
import Pagination from '@lib/Pagination'

export default {
  props: [
    'totalResults'
  ],
  computed: {
    /**
     * 検索結果が０マッチかつ日付指定なし(dateパラメータが無い)ときに表示する
     **/
    isVisible () {
      const params = new Pagination().getSearchParameters()
      return this.totalResults === 0 && (!this.isFilled(params) || (this.isFilled(params) && !this.isFilled(params.date)))
    }
  },
  methods: {
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~@pc/styles/partial/mixins';
  @import '~@pc/styles/partial/variable';

.zeroMatch{
  @include errorBody;
  &__title{
    @include errorTitle;
  }
}
</style>
