@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.commonNotFound {
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: center;
  background-color: #fffcf3;
  border: 3px solid #fbb65c;

  &__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
    &:before {
      @include RiffIcon("\E300", 20, #fbb152);
      display: inline;
      position: relative;
      margin-right: 6px;
      vertical-align: middle;
    }
  }

  &__text {
    font-size: 12px;
  }
}
