@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

/**
 * 広告の表示調整をするためのファイル。
**/

.im1,
.im2 {
  margin-bottom: 20px;
}

.ydnOverlay {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
}
