@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.commonSearch {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f4f4;

  &__form {
    position: relative;
    display: block;
  }

  &__keyword {
    -webkit-appearance: none;
    height: 38px;
    width: 100%;
    padding: 0 0 0 10px;
    color: #000000;
    font-size: 16px;
    border: 1px solid #b1b1b1;
    box-sizing: border-box;
    &::-webkit-input-placeholder {
      line-height: 20px;
    }
  }

  &__reset {
    position: absolute;
    top: 4px;
    right: 70px;
  }

  &__cancel {
    @include text-replace;
    position: relative;
    width: 28px;
    height: 28px;
    &:before, &:after {
      position: absolute;
      top: 0;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-top: 10px;
      content: '';
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      text-indent: 0;
    }
    &:before {
      left: 0;
      border-right: 3px solid #bbb;
      border-bottom: 3px solid #bbb;
    }
    &:after {
      left: 11px;
      border-top: 3px solid #bbb;
      border-left: 3px solid #bbb;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 38px;
    line-height: 37px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e59100;
    border-bottom-color: #e89400;
    border-radius: 0;
    background-image: linear-gradient(to bottom, #ffba1f, #fdaf09);
    background-color: #ffba1f;
    box-shadow: 0 -1px 0 #e59100 inset;
    text-shadow: 0 -1px 1px rgba(158,72,2,.5);
    box-sizing: border-box;
  }
}
