@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.commonJsOff {
  padding: 10px;
  &__body {
    padding: 10px 0;
    text-align: center;
    background-color: #fffecf;
    border: 1px solid #fc0e1f;
  }

  &__text {
    margin-bottom: 5px;
    color: #fc2e35;
    font-size: 12px;
    font-weight: bold;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
