@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.commonEmergency {
  background-color: #f4f4f2;;
  &__title {
    padding: 8px;
    color: #ff0000;
    font-weight: bold;
    border-bottom: 1px dotted #d1d1d0;
    &--link {
      @extend .commonEmergency__title;
      position: relative;
      padding: 0;
      &:after {
        @include RiffIcon("\E60C", 14, #949484);
        top: 50%;
        right: 6px;
        width: 10px;
        height: 13px;
        margin-top: -7px;
        line-height: 1;
      }
    }
  }

  &__titleLink {
    display: block;
    padding: 8px;
    color: #ff0000;
  }

  &__body {
    padding: 10px;
  }

  &__text {
    padding: 5px 10px;
    font-size: 10px;
    border: 1px solid #ff0000;
    background-color: #ffffff;
  }
}
