@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.footerDefault {
  padding: 10px 0 80px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  background-color: #F1F0EF;
}
.locoLink {
  &__list {
    width: 100%;
    margin-bottom: 10px;
    line-height: 1.56
  }
  &__item {
    display: inline;
    &::after {
      content: " | ";
    }
    &:last-child {
      &::after {
        content: "";
      }
    }
  }
  &__note {
    padding: 0 5px;
    color: #777;
  }
}
.changeDevice {
  padding: 0 10px 10px;
  font-size: 14px;
  &__body {
    display: inline-block;
    padding: 5px 5px 5px 10px;
    border: 1px solid #e7e7e7;
    background: #f9f9f9;
  }
  &__term {
    display: inline;
    &:after {
      content: ":";
    }
  }
  &__description {
    display: inline;
    &:after {
      content: "|";
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
  &__link {
    padding: 0 5px;
    color: $linkColor;
  }
  &__note {
    font-weight: bold;
    padding: 0 5px;
  }
}
.footerInner {
  padding: 13px 10px 15px 10px;
  border-top: 3px solid #d4d7db;
  background: #efefef;
}
.loginArea {
  margin-bottom: 15px;
  text-align: center;
  &__status,&__tool {
    margin-top: 10px;
  }
  &__name {
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
    -moz-word-wrap: break-word;
    text-align: left;
  }
  &__text {
    font-weight: bold;
  }
}
.commonLink {
  margin-bottom: 10px;
  &__item {
    display: inline;
    &:after {
      content: " | ";
    }
    &:last-child {
      &:after {
      content: "";
      }
    }
  }
}
.subLink {
  margin-bottom: 8px;
  font-size: 12px;
  &__item {
    display: inline;
    &:after {
      content: " - ";
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
  &__copy {
    display: block;
    font-size: 12px;
  }
}
