@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.commonBreadcrumbs {
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
  box-shadow: 2px 0 2px rgba(0,0,0,.15)inset;

  &__body {
    display: table;
  }

  &__list {
    position: relative;
    display: table-cell;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    background-image: linear-gradient(to bottom, #fff,#f2f2f2);
    background-color: #fff;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 11px;
      height: 32px;
      background: url(https://s.yimg.jp/images/serp/smt/ls/img/ic_arw_nav.png) no-repeat 100% 0;
      background-size: 11px 32px;
    }
    &:last-child {
      &:before {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 11px;
        height: 32px;
        content: '';
        background: #f2f2f2;
        box-shadow: 2px 0 2px rgba(0,0,0,.15) inset;
      }
    }
  }

  &__link {
    display: block;
  }

  &__text {
    position: relative;
    display: block;
    height: 32px;
    padding: 0 11px 0 3px;
    line-height: 32px;
    overflow: hidden;
    &--top {
      @include text-replace;
      @extend .commonBreadcrumbs__text;
      position: relative;
      width: 40px;
      box-sizing: border-box;
      &:after {
        @include RiffIcon("\E11C", 20, #bdbdbd);
        position: absolute;
        top: 0;
        left: 7px;
        width: 18px;
        height: 16px;
        text-indent: 0;
      }
    }
  }
}
