<template>
<div class="couponList">
  <!-- ===============クーポンページ表示パターン=============== -->
  <div v-if="page === 'coupon' && couponCount !== 0" class="tracked_mods" id="coupon">
    <!-- ダイニングプレミアムクーポン表示 -->
    <!-- クーポンの有るCPの数だけ表示・クーポンの無い場合は非表示 -->
    <div v-for="cp in cpListForPremium" v-if="existValidCoupon(cp)" class="couponList__box listBox">
      <!-- Yahoo!プレミアム会員限定クーポン表示パターン -->
      <p class="listBox__header--premium">Yahoo!プレミアム会員限定クーポン</p>
      <!-- /Yahoo!プレミアム会員限定クーポン表示パターン -->
      <ul class="listBox__list notation">
        <li v-for="coupon in cp.coupons" class="notation__item">
          <a :href=coupon.url class="notation__link" :data-ylk="getDataYlk(ylkCouponCard, coupon.ultPos, coupon.ultCpName)" target="_blank" rel="nofollow noopener">
            <!-- 注記無し表示パターン -->
            <p class="notation__note">{{coupon.text}}</p>
            <!-- /注記無し表示パターン -->
            <!-- 有効期限確認の注記表示パターン -->
            <p v-if="coupon.endDay === null" class="notation__confirmation">※有効期限をご確認ください</p>
            <!-- /有効期限確認の注記表示パターン -->
            <!-- 有効期限表示パターン -->
            <p v-else class="notation__expiryDate expiryDate"><span class="expiryDate__text">有効期限:</span><span class="expiryDate__date">{{coupon.endDay}}</span></p>
            <!-- /有効期限表示パターン -->
          </a>
        </li>
      </ul>
      <!-- /クーポンの有るCPの数だけ表示・クーポンの無い場合は非表示 -->
    </div>
    <!-- /クーポンの有るCPの数だけ表示・クーポンの無い場合は非表示 -->
    <!-- /ダイニングプレミアムクーポン表示 -->

    <!-- 一般クーポン表示 -->
    <!-- クーポンの有るCPの数だけ表示・クーポンの無い場合は非表示 -->
    <div v-for="cp in cpListForNonPremium" v-if="existValidCoupon(cp)" class="couponList__box listBox">
      <!-- 各CPクーポン表示パターン -->
      <p class="listBox__header--cp">
        <img :src=cp.img :alt=cp.name class="listBox__header--image" />のクーポン
      </p>
      <!-- /各CPクーポン表示パターン -->
      <ul class="listBox__list notation">
        <li v-for="coupon in cp.coupons" class="notation__item">
          <a :href=coupon.url class="notation__link" :data-ylk="getDataYlk(ylkCouponCard, coupon.ultPos, coupon.ultCpName)" :target="[isYahoo(cp) ? '' : '_blank']" :ref="[isYahoo(cp) ? '' : 'nofollow noopener']">
            <!-- 注記無し表示パターン -->
            <p class="notation__note">{{coupon.text}}</p>
            <!-- /注記無し表示パターン -->
            <!-- 有効期限確認の注記表示パターン -->
            <p v-if="coupon.endDay === null" class="notation__confirmation">※有効期限をご確認ください</p>
            <!-- /有効期限確認の注記表示パターン -->
            <!-- 有効期限表示パターン -->
            <p v-else class="notation__expiryDate expiryDate"><span class="expiryDate__text">有効期限:</span><span class="expiryDate__date">{{coupon.endDay}}</span></p>
            <!-- /有効期限表示パターン -->
          </a>
        </li>
      </ul>
    </div>
    <!-- /クーポンの有るCPの数だけ表示・クーポンの無い場合は非表示 -->
    <!-- /一般クーポン表示 -->

    <!--クーポンが無い場合のみ表示-->
    <div v-if="couponCount === 0" class="couponList__zeroMatch">
      <zero-match></zero-match>
    </div>
    <!--/クーポンが無い場合のみ表示-->
  </div>
  <!-- /===============クーポンページ表示パターン=============== -->

  <!-- ===============店舗詳細TOPクーポンサマリ表示パターン=============== -->
  <div v-if="page !== 'coupon' && !$root.isHiddenScType('coupon')" class="tracked_mods" id="coupon">
    <div v-if="firstCoupon" >
      <div class="couponList__container">
      <h2 class="couponList__title">クーポン</h2>
        <div class="couponList__box listBox">
          <!-- Yahoo!プレミアム会員限定クーポン表示パターン -->
          <p v-if="firstCoupon.couponInfo.premiumFlag" class="listBox__header--premium">Yahoo!プレミアム会員限定クーポン</p>
          <!-- /Yahoo!プレミアム会員限定クーポン表示パターン -->
          <!-- 各CPクーポン表示パターン -->
          <p class="listBox__header--cp" v-else><img :src=firstCoupon.cpInfo.img :alt=firstCoupon.cpInfo.name class="listBox__header--image" />のクーポン</p>
          <!-- /各CPクーポン表示パターン -->
          <ul class="listBox__list notation">
            <li class="notation__item">
              <a :href=firstCoupon.couponInfo.url class="notation__link" :data-ylk="getDataYlk(ylkCouponCard, firstCoupon.couponInfo.ultPos, firstCoupon.couponInfo.ultCpName)" :target="[isYahoo(firstCoupon.cpInfo) ? '' : '_blank']" :ref="[isYahoo(firstCoupon.cpInfo) ? '' : 'nofollow noopener']">
                <!-- 注記無し表示パターン -->
                <p class="notation__note">{{firstCoupon.couponInfo.text}}</p>
                <!-- /注記無し表示パターン -->
                <!-- 有効期限確認の注記表示パターン -->
                <p v-if="firstCoupon.couponInfo.endDay === null" class="notation__confirmation">※有効期限をご確認ください</p>
                <!-- /有効期限確認の注記表示パターン -->
                <!-- 有効期限表示パターン -->
                <p v-if="firstCoupon.couponInfo.endDay !== null" class="notation__expiryDate expiryDate"><span class="expiryDate__text">有効期限:</span><span class="expiryDate__date">{{firstCoupon.couponInfo.endDay}}</span></p>
                <!-- /有効期限表示パターン -->
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p v-if="page !== 'coupon'" class="couponList__more more"><a :href="'/place/g-' + tenpo.Feature[0].Gid + '/coupon/'" class="more__link" data-ylk="slk:more;pos:0">クーポンをもっと見る({{couponCount}}件)</a></p>
    </div>
  </div>
  <!-- /===============店舗詳細TOPクーポンサマリ表示パターン=============== -->
</div>
</template>

<script>
  import loading from '@sp/components/place/loading.vue'
  import zeroMatch from '@sp/components/place/coupon/zeroMatch.vue'
  import base from '@lib/baseComponent'

  export default {
    components: {
      loading,
      zeroMatch
    },
    props: ['tenpo', 'page'],
    extends: base,
    filters: {
      /**
       * クーポンのリンクテキストを取得
       * @param {Object} クーポン
       * @returns {string} リンクテキスト
       */
      linkText (coupon) {
        return coupon.linkText
      }
    },
    data: function () {
      return {
        ylkCouponCard: 'cpn_card'
      }
    },
    computed: {
      cpList () {
        let cpMap = {}
        for (const cassette of this.tenpo.Feature[0].Children) {
          if (cassette.CassetteHeader === '') {
            continue
          }
          let cpInfo = this.buildCpInfo(cassette)
          cpMap[cpInfo.cid] = cpInfo
        }

        // TODO: ultPos の振り直し(v-for の index で振ればいいのでは?)
        let ultPos = 0
        for (const coupon of this.tenpo.Feature[0].Property.Coupon) {
          let cp = cpMap[coupon.Cid]
          if (cp == null || !this.isValid(coupon)) {
            continue
          }

          let couponInfo = this.buildCouponInfo(cp, coupon)
          couponInfo.ultPos = ++ultPos
          cp.coupons.push(couponInfo)
        }

        return this.cpSort(this.cpMerge(cpMap))
      },
      cpListForPremium () {
        return this.getCpList(true)
      },
      cpListForNonPremium () {
        return this.getCpList(false)
      },
      firstCoupon () {
        for (const cpInfo of this.cpList) {
          for (const couponInfo of cpInfo.coupons) {
            return {cpInfo, couponInfo}
          }
        }
        return null
      },
      couponCount () {
        let count = 0
        for (const cpInfo of this.cpList) {
          count = count + cpInfo.coupons.length
        }
        return count
      }
    },
    methods: {
      /**
       * プレミアム会員限定/一般クーポン取得
       * @param premiumFlag プレミアム会員限定クーポンを取得する場合は true
       * @return *[]
       */
      getCpList (premiumFlag) {
        // オブジェクトのディープコピーのためにjsonに変換
        return this.cpList.map((cp) => {
          let cpCopy = JSON.parse(JSON.stringify(cp))
          cpCopy.coupons = cpCopy.coupons.filter((coupon) => {
            return Boolean(coupon.premiumFlag) === Boolean(premiumFlag)
          })
          return cpCopy
        }).filter((cp) => {
          return cp.coupons.length > 0
        })
      },
      /**
       * Cp基本情報取得 空のcoupon持つ
       * @param child Tenpo.Child
       * @return {{}}
       */
      buildCpInfo (child) {
        let cpInfo = {}
        cpInfo.cid = child.CassetteId
        cpInfo.img = child.CassetteOwnerLogoImage
        cpInfo.name = child.CassetteHeader
        cpInfo.url = child.CassetteOwnerUrl
        cpInfo.coupons = []
        return cpInfo
      },
      /**
       * クーポン情報整形 ult は含まない
       * @param cp buildCpInfo で作成した CP 情報
       * @param coupon LSBE のレスポンス
       * @return {{}}
       */
      buildCouponInfo (cp, coupon) {
        let couponInfo = {}
        couponInfo.text = coupon.Name
        if (couponInfo.text == null) {
          couponInfo.text = this.tenpo.Feature[0].Name + 'のクーポン'
        }
        couponInfo.endDay = this.getDate(coupon.EndDay)
        couponInfo.premiumFlag = coupon.PremiumFlag
        couponInfo.url = this.getCouponUrl(cp, coupon)
        couponInfo.ultCpName = this.namespace.CpName[coupon.Cid]

        return couponInfo
      },
      existValidCoupon (cp) {
        return cp.coupons.length !== 0
      },
      isValid (coupon) {
        if (coupon.DisplayFlag === false) {
          return false
        }
        if (coupon.EndDay == null) {
          return true
        }

        let lifetimeEnd = new Date(this.getDate(coupon.EndDay))
        let now = new Date()
        now.setHours(0, 0, 0, 0)
        if (lifetimeEnd < now) {
          return false
        }
        return true
      },
      getDate (dateStr) {
        if (dateStr == null) {
          return null
        }

        let date = new Date(dateStr)
        if (isNaN(date.getTime())) {
          // yyyyMMddの場合処理
          // TODO : いろんなデートフォマットがあった場合、修正必要
          date = new Date(dateStr.replace(/^(\d{4})(\d\d)(\d\d)$/, '$2/$3/$1'))
        }
        return isNaN(date.getTime()) ? null : (date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate())
      },
      getCouponUrl (cassette, coupon) {
        if (coupon.PcUrl != null && coupon.PcUrl !== '') {
          return coupon.PcUrl
        } else if (coupon.ParentPcUrl != null && coupon.ParentPcUrl !== '') {
          return coupon.ParentPcUrl
        } else if (cassette.PcUrl1 != null && cassette.PcUrl1 !== '') {
          return cassette.PcUrl1
        }
        return cassette.CassetteOwnerUrl
      },
      /**
       * 同じ名前のCPのクーポンをまとめる
       * @param cpMap
       * @return {*[]}
       */
      cpMerge (cpMap) {
        let cpList = []
        for (const key in cpMap) {
          const cp = cpMap[key]
          const merged = cpList.find((merged) => merged.name === cp.name)
          if (merged !== undefined) {
            merged.coupons = merged.coupons.concat(cp.coupons)
          } else {
            cpList.push(cp)
          }
        }
        return cpList.filter((cp) => cp.coupons.length > 0)
      },
      cpSort (cpList) {
        return cpList.slice().sort((a, b) => {
          if (this.isYahoo(b)) {
            b.coupons = this.couponSort(b.coupons)
            return 1
          } else if (this.isYahoo(a)) {
            a.coupons = this.couponSort(a.coupons)
            return -1
          }
          return 0
        })
      },
      couponSort (coupons) {
        return coupons.slice().sort((a, b) => {
          if (!a.premiumFlag && b.premiumFlag) {
            return 1
          }
          return 0
        })
      },
      isYahoo (cp) {
        return (cp.cid === this.namespace.cid.yahoo)
      },
      getDataYlk (slk, pos) {
        return `slk:${slk};pos:${pos}`
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.couponList {
  &__container {
    margin: 0 0 10px;
    padding: 0 10px 5px;
    background: #fff;
  }
  &__title {
    @include placeTitle;
    margin: 0 -10px 10px;
  }
}

.listBox{
  margin-bottom: 10px;
  border: 3px solid #f2b402;
  background: #fff0a8;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  &__header{
    &--premium {
      padding: 10px;
      border-bottom: 2px dotted #eac681;
      font-weight: bold;
      vertical-align: middle;
      position: relative;
      padding-left: 45px;
      &::before {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        width: 30px;
        height: 30px;
        margin: auto;
        border-radius: 50%;
        content: "";
        background: #fff;
      }
      &::after {
        @include svgIcon(21, 18, "https://s.yimg.jp/images/loco/front/images/common/icons/premium.svgz");
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 15px;
      }
    }
    &--cp{
      padding: 10px;
      font-weight: bold;
    }
    &--image {
      width: 40px;
      height: auto;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}

.notation{
  &__item {
    font-weight: bold;
  }
  &__link {
    display: block;
    position: relative;
    padding: 10px 25px 8px 10px;
    border-top: 2px dotted #eac681;
    color: #ff4c00;
    font-weight: bold;
    &::before {
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      border-top: 2px solid #777;
      border-right: 2px solid #777;
      content: '';
      transform: rotate(45deg);
    }
  }
  &__confirmation {
    margin-top: 4px;
    color: $textColorBlack;
    font-size: 11px;
    font-weight: normal;
  }
}

.expiryDate{
  margin-top: 4px;
  &__text {
    color: $textColorBlack;
    font-size: 11px;
    font-weight: normal;
  }
  &__date {
    color: $textColorBlack;
    font-size: 12px;
  }
}

.more{
  margin-bottom: 15px;
  padding: 0 10px;
  text-align: center;
  &__link {
    display: inline-block;
    position: relative;
    padding: 5px 28px 8px 10px;
    color: #52bfeb;
    font-weight: bold;
    background: #fff;
    border: 1px solid #52bfeb;
    border-radius: 5px;
    &::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      transform: rotate(45deg);
      content: '';
      border-top: 2px solid #52bfeb;
      border-right: 2px solid #52bfeb;
    }
  }
}

</style>
