<template>
<div class="note">
  <div class="note__container">
    <p class="note__title">ご注意</p>
    <ul class="note__list">
      <li class="note__item">クーポンをご利用の際は、利用条件を必ずご確認ください。</li>
      <li class="note__item">クーポンの内容は予告なく変更される場合があります。</li>
      <li class="note__item">クーポンの内容に関するお問い合わせ・ご質問は、直接お店、施設にご確認ください。</li>
      <li class="note__item">ネット予約とクーポンは併用できないことがありますので、事前に直接お店、施設にご確認ください。</li>
    </ul>
  </div>
</div>
</template>

<script>
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.note {
  margin-bottom: 20px;
  &__container {
    @include boxShadow;
    padding: 10px;
    border-top: 3px solid #bde6f1;
    font-size: 12px;
    background: #fff;
  }
  &__title {
    color: $textColorGray;
  }
  &__item {
    padding-left: 12px;
    color: $textColorGray;
    text-indent: -6px;
    &:before{
      display: inline-block;
      content: "・";
    }
  }
}
</style>
