<template>
<div class="zeroMatch">
  <p class="zeroMatch__note">この店舗のクーポンはありません</p>
</div>
</template>

<script>
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.zeroMatch{
  margin-bottom: 35px;
  padding: 15px 40px 0;
  text-align: center;
  &__note{
    font-weight: bold;
  }
}
</style>
