<template>
  <div class="list">
    <!-- ===============クーポンページ表示パターン=============== -->
    <div v-if="page === 'coupon'" class="list__container tracked_mods" id="coupon">
      <h2 class="list__title">{{tenpo.Feature[0].Name}}のクーポン</h2>
      <!-- クーポンの有るCPの数だけ表示・クーポンの無い場合は非表示 -->
      <div v-for="cp in this.cpList" v-if="existValidCoupon(cp)" class="list__box listBox" :key="cp">
        <ul class="listBox__list">
          <li v-for="coupon in cp.coupons" class="listBox__item" :key="coupon">
            <!-- Yahoo!プレミアム会員限定クーポン表示パターン -->
            <p v-if="coupon.premiumFlag" class="listBox__annotation">Yahoo!プレミアム会員限定クーポン</p>
            <!-- /Yahoo!プレミアム会員限定クーポン表示パターン -->
            <!--リンク-->
            <a v-if="isYahoo(cp)" :href=coupon.url class="listBox__link" :data-ylk="getDataYlk(ylkCouponCard, coupon.ultPos, coupon.ultCpName)">{{coupon.text}}</a>
            <a v-else :href=coupon.url class="listBox__link" :data-ylk="getDataYlk(ylkCouponCard, coupon.ultPos, coupon.ultCpName)" target="_blank" rel="nofollow">{{coupon.text}}</a>
            <!--/リンク-->
            <!-- 有効期限確認の注意文表示パターン -->
            <p v-if="coupon.endDay === null" class="listBox__confirmation confirmation"><span class="confirmation__text">有効期限をご確認ください</span></p>
            <!-- /有効期限確認の注意文表示パターン -->
            <!-- 有効期限表示パターン -->
            <p v-else class="listBox__expiryDate expiryDate"><span class="expiryDate__text">有効期限:</span><span class="expiryDate__date">{{coupon.endDay}}</span></p>
            <!-- /有効期限表示パターン -->
          </li>
        </ul>
        <p class="listBox__cp">by&nbsp;{{cp.name}}</p>
      </div>
      <!-- /クーポンの有るCPの数だけ表示・クーポンの無い場合は非表示 -->
      <!-- クーポンが無い場合にのみ表示 -->
      <div v-if="couponCount === 0" class="list__zeroMatch">
        <zero-match></zero-match>
      </div>
      <!-- /クーポンが無い場合にのみ表示 -->
    </div>
    <!-- /===============クーポンページ表示パターン=============== -->

    <!-- ===============店舗詳細TOP表示パターン・クーポンの無い場合は非表示=============== -->
    <div v-if="page !== 'coupon' && couponCount !== 0 && !$root.isHiddenScType('coupon')" class="list__container tracked_mods" id="coupon">
      <h2 class="list__title">クーポン</h2>
      <!-- 一枠のみ表示・表示件数(行数)は一件のみ -->
      <div v-if="firstCoupon" class="list__box listBox">
        <ul class="listBox__list">
          <li class="listBox__item">
            <!-- Yahoo!プレミアム会員限定クーポン表示パターン -->
            <p v-if="firstCoupon.couponInfo.premiumFlag" class="listBox__annotation">Yahoo!プレミアム会員限定クーポン</p>
            <!-- /Yahoo!プレミアム会員限定クーポン表示パターン -->
            <a :href=firstCoupon.couponInfo.url class="listBox__link" :data-ylk="getDataYlk(ylkCouponCard, firstCoupon.couponInfo.ultPos, firstCoupon.couponInfo.ultCpName)" :target="[isYahoo(firstCoupon.cpInfo) ? '' : '_blank']"  :rel="[isYahoo(firstCoupon.cpInfo) ? '' : 'nofollow']">{{firstCoupon.couponInfo.text}}</a>
            <!-- 有効期限確認の注意文表示パターン -->
            <p v-if="firstCoupon.couponInfo.endDay === null" class="listBox__confirmation confirmation"><span class="confirmation__text">有効期限をご確認ください</span></p>
            <!-- /有効期限確認の注意文表示パターン -->
            <!-- 有効期限表示パターン -->
            <p v-if="firstCoupon.couponInfo.endDay !== null" class="listBox__expiryDate expiryDate"><span class="expiryDate__text">有効期限:</span><span class="expiryDate__date">{{firstCoupon.couponInfo.endDay}}</span></p>
            <!-- /有効期限表示パターン -->
          </li>
        </ul>
        <p class="listBox__cp">by&nbsp;{{firstCoupon.cpInfo.name}}</p>
      </div>
      <!-- /一枠のみ表示・表示件数(行数)は一件のみ -->
      <p v-if="page !== 'coupon'" class="list__more more"><a :href="'/place/g-' + tenpo.Feature[0].Gid + '/coupon/'" class="more__link">クーポンをもっと見る（{{couponCount}}件）</a>
      </p>
    </div>
  </div>
  <!-- /===============店舗詳細TOP表示パターン・クーポンの無い場合は非表示=============== -->
</template>

<script>
  import loading from '@pc/components/place/loading.vue'
  import zeroMatch from '@pc/components/place/coupon/zeroMatch.vue'
  import base from '@lib/baseComponent'

  export default {
    components: {
      loading,
      zeroMatch
    },
    props: [
      'tenpo', // LSBEのレスポンス
      'page' // クーポン一覧では 'coupon'、それ以外は 'coupon' 以外の文字列
    ],
    extends: base,
    filters: {
      /**
       * クーポンのリンクテキストを取得
       * @param {Object} クーポン
       * @returns {string} リンクテキスト
       */
      linkText (coupon) {
        return coupon.linkText
      }
    },
    data: function () {
      return {
        ylkCouponCard: 'cpn_card'
      }
    },
    computed: {
      cpList () {
        let cpMap = {}
        for (const cassette of this.tenpo.Feature[0].Children) {
          if (cassette.CassetteHeader === '') {
            continue
          }
          let cpInfo = this.buildCpInfo(cassette)
          cpMap[cpInfo.cid] = cpInfo
        }

        // TODO: ultPos の振り直し(v-for の index で振ればいいのでは?)
        let ultPos = 0
        for (const coupon of this.tenpo.Feature[0].Property.Coupon) {
          let cp = cpMap[coupon.Cid]
          if (cp == null || !this.isValid(coupon)) {
            continue
          }

          let couponInfo = this.buildCouponInfo(cp, coupon)
          couponInfo.ultPos = ++ultPos
          cp.coupons.push(couponInfo)
        }

        return this.cpSort(this.cpMerge(cpMap))
      },
      firstCoupon () {
        for (const cpInfo of this.cpList) {
          for (const couponInfo of cpInfo.coupons) {
            return {cpInfo, couponInfo}
          }
        }
        return null
      },
      couponCount () {
        let count = 0
        for (const cpInfo of this.cpList) {
          count = count + cpInfo.coupons.length
        }
        return count
      }
    },
    methods: {
      /**
       * Cp基本情報の整形 空のcoupon持つ
       * @param child Tenpo.Child
       * @return {{}}
       */
      buildCpInfo (child) {
        let cpInfo = {}
        cpInfo.cid = child.CassetteId
        cpInfo.img = child.CassetteOwnerLogoImage
        cpInfo.name = child.CassetteHeader
        cpInfo.url = child.CassetteOwnerUrl
        cpInfo.coupons = []

        return cpInfo
      },
      /**
       * クーポン情報整形 ult は含まない
       * @param coupon LSBE のレスポンス
       * @param cp buildCpInfo で作成した CP 情報
       * @return {{}}
       */
      buildCouponInfo (cp, coupon) {
        let couponInfo = {}
        couponInfo.text = coupon.Name
        if (couponInfo.text == null) {
          couponInfo.text = this.tenpo.Feature[0].Name + 'のクーポン'
        }
        couponInfo.endDay = this.getDate(coupon.EndDay)
        couponInfo.premiumFlag = coupon.PremiumFlag
        couponInfo.url = this.getCouponUrl(cp, coupon)
        couponInfo.ultCpName = this.namespace.CpName[coupon.Cid]

        return couponInfo
      },
      existValidCoupon (cp) {
        return cp.coupons.length !== 0
      },
      isValid (coupon) {
        if (coupon.DisplayFlag === false) {
          return false
        }
        if (coupon.EndDay == null) {
          return true
        }

        let lifetimeEnd = new Date(this.getDate(coupon.EndDay))
        let now = new Date()
        now.setHours(0, 0, 0, 0)
        if (lifetimeEnd < now) {
          return false
        }
        return true
      },
      getDate (dateStr) {
        if (dateStr == null) {
          return null
        }

        let date = new Date(dateStr)
        if (isNaN(date.getTime())) {
          // yyyyMMddの場合処理
          // TODO : いろんなデートフォマットがあった場合、修正必要
          date = new Date(dateStr.replace(/^(\d{4})(\d\d)(\d\d)$/, '$2/$3/$1'))
        }
        return isNaN(date.getTime()) ? null : (date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate())
      },
      getCouponUrl (cassette, coupon) {
        if (coupon.PcUrl != null && coupon.PcUrl !== '') {
          return coupon.PcUrl
        } else if (coupon.ParentPcUrl != null && coupon.ParentPcUrl !== '') {
          return coupon.ParentPcUrl
        } else if (cassette.PcUrl1 != null && cassette.PcUrl1 !== '') {
          return cassette.PcUrl1
        }
        return cassette.CassetteOwnerUrl
      },
      /**
       * 同じ名前のCPのクーポンをまとめる
       * @param cpMap
       * @return {*[]}
       */
      cpMerge (cpMap) {
        let cpList = []
        for (const key in cpMap) {
          const cp = cpMap[key]
          const merged = cpList.find((merged) => merged.name === cp.name)
          if (merged !== undefined) {
            merged.coupons = merged.coupons.concat(cp.coupons)
          } else {
            cpList.push(cp)
          }
        }
        return cpList.filter((cp) => cp.coupons.length > 0)
      },
      cpSort (cpList) {
        return cpList.slice().sort((a, b) => {
          if (this.isYahoo(b)) {
            b.coupons = this.couponSort(b.coupons)
            return 1
          } else if (this.isYahoo(a)) {
            a.coupons = this.couponSort(a.coupons)
            return -1
          }
          return 0
        })
      },
      couponSort (coupons) {
        return coupons.slice().sort((a, b) => {
          if (!a.premiumFlag && b.premiumFlag) {
            return 1
          }
          return 0
        })
      },
      isYahoo (cp) {
        return (cp.cid === this.namespace.cid.yahoo)
      },
      getDataYlk (slk, pos, cpName) {
        return `slk:${slk};pos:${pos};cp_name:${cpName}`
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.list {
  &__container{
    margin-bottom: 20px;
    font-size: 13px;
  }
  &__title {
    @include placeTitle;
    @include placeTitleBorder;
  }
  &__box {
    position: relative;
    margin-bottom: 15px;
    padding: 2px 5px;
    border: 3px solid #FFA300;
    box-shadow: 0 1px 3px #aaa;
    &::before {
      display: block;
      position: absolute;
      top: -6px;
      right: -6px;
      z-index: 1;
      content: "";
      width: 56px;
      height: 56px;
      background: url(https://s.yimg.jp/images/loco/pc/images/poi/gourmet/sp_common_v4.png) no-repeat 0 0;
      background-position: -240px -135px;
    }
  }
}

.listBox {
  &__item {
    list-style: none;
    padding: 7px 5px;
    border-bottom: 2px dotted #d5d5d4;
    &:first-child {
      padding: 7px 40px 7px 5px;
    }
  }
  &__annotation{
    font-weight: bold;
    &::before {
      @include svgIcon(15, 13, "https://s.yimg.jp/images/loco/front/images/common/icons/premium.svgz");
      display: inline-block;
      margin-right: 4px;
    }
  }
  &__link {
    &::visited {
      color: #639;
    }
  }
  &__cp {
    margin: 5px 5px 3px 0;
    color: #999;
    font-size: 90%;
    text-align: right;
  }
}

.confirmation {
  display: inline;
  position: relative;
    &::before {
      content: "（";
    }
    &::after {
      content: "）"
    }
  &__text {
    position: relative;
    padding-left: 20px;
    &::before {
      @include RiffIcon("\E300", 18, #ffaa00);
      line-height: 1;
      top: 0;
      left: 2px;
    }
  }
}

.expiryDate {
  display: inline;
  &::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
  }
  &__date {
    font-weight: bold;
  }
}


.more{
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}
</style>
