<template>
<div class="zeroMatch">
  <p class="zeroMatch__note">この店舗のクーポンはありません</p>
  </div>
</template>

<script>
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.zeroMatch {
  background: #f8f8f8;
  margin-bottom: 20px;
  padding: 40px 0;
  text-align: center;
  &__note {
    font-weight: bold;
  }
}
</style>
