<template>
<div class="list" v-if="showRanking || showPopular || showRecommend">
  <!--=====売れ筋メニューランキング=====-->
  <div class="list__contents tracked_mods" id="g_smenu" v-if="showRanking">
    <div class="list__title menuTitle">
      <h2 class="menuTitle__main">{{tenpo.Feature[0].Name}}の売れ筋メニューランキング</h2>
      <p class="menuTitle__provider"><span class="menuTitle__text">情報提供元：</span><a :href="gurunaviUrl" target="_blank" rel="nofollow" class="menuTitle__link" data-ylk="slk:s_cp;pos:0">ぐるなび</a></p>
    </div>
    <ol class="list__list ranking">
      <li class="ranking__item" v-for="(menu, index) in ranking" :key="menu">
        <div class="ranking__photo" v-if="status.resizedImages === 'binded'">
          <img :src="resizedImages[menu.RecommendItemImage]['170x170']" :alt="menu.RecommendItemName" class="ranking__image" v-if="status.resizedImages === 'binded'" />
        </div>
        <div class="ranking__detail">
          <p class="ranking__number">{{index + 1}}位</p>
          <p class="ranking__name">{{menu.RecommendItemName}}</p>
        </div>
      </li>
    </ol>
  </div>
  <!--=====人気メニューランキング=====-->
  <div class="list__contents tracked_mods" id="g_pmenu" v-if="showPopular">
    <div class="list__title menuTitle">
      <h2 class="menuTitle__main">{{tenpo.Feature[0].Name}}の人気メニューランキング</h2>
      <p class="menuTitle__provider"><span class="menuTitle__text">情報提供元：</span><a :href="gurunaviUrl" target="_blank" rel="nofollow" class="menuTitle__link" data-ylk="slk:p_cp;pos:0">ぐるなび</a></p>
    </div>
    <ol class="list__list popular">
      <li class="popular__item" v-for="(menu, index) in popular" :key="menu">
        <div class="popular__detail">
          <div class="popular__label">
            <p class="popular__number">{{ index+1 }}位</p>
            <p class="popular__name">
              <a :href="`http://mr.gnavi.co.jp/details/?ds=${menu.TopRankItemId}&ShopId=${restaurantId}`" target="_blank" rel="nofollow" class="popular__link" data-ylk="slk:p_mtitle">{{ menu.TopRankItem }}</a>
            </p>
          </div>
          <p class="popular__score score">
            <span class="score__number">{{ Number(menu.TopRankItemRating).toFixed(1) }}</span>
            <!-- TODO: 星の数の対応が不明。画面設計にコメントを書きました。 -->
            <span :class="`score__starsRate--starRank${String(Math.round(menu.TopRankItemRating * 2) * 5).padStart(2, '0')}`">
              <span class="score__rate">/5.0満点</span>
            </span>
          </p>
        </div>
        <div class="popular__photo" v-if="status.resizedImages === 'binded' && menu.TopRankItemImage != null">
          <a :href="`http://mr.gnavi.co.jp/details/?ds=${menu.TopRankItemId}&ShopId=${restaurantId}`" target="_blank" rel="nofollow" class="popular__link" data-ylk="slk:p_mimg">
            <img :src="resizedImages[menu.TopRankItemImage]['75x75']" :alt="menu.topRankItem" class="popular__image" />
          </a>
        </div>
      </li>
    </ol>
  </div>
  <!--=====出前メニュー 提供元：出前館　表示パターン=====-->
  <div class="list__contents tracked_mods" id="d_menu" v-if="showRecommend">
    <div class="list__title menuTitle">
      <h2 class="menuTitle__main">{{ tenpo.Feature[0].Name }}のおすすめの出前メニュー</h2>
      <p class="menuTitle__provider">
        <span class="menuTitle__text">情報提供元：</span><a :href="demaekanUrl" target="_blank" rel="nofollow" class="menuTitle__link" data-ylk="slk:d_cp;pos:0">出前館</a>
      </p>
    </div>

    <ul class="list__list catering">
      <li class="catering__item" v-for="menu in recommend" :key="menu">
        <div class="catering__detail">
          <p class="catering__name">{{ menu.RecommendItemName }}</p>
          <p class="catering__price">
            <template v-for="(price, index) in menu.RecommendItemPrice.split('<br>')">
              <br v-if="index != 0" :key="index" />{{ price.replace('\\', '') }}円
            </template>
          </p>
          <p v-if="isFilled(menu.RecommendItemComment) &&  menu.RecommendItemComment !== ''" class="catering__comment">
            <template v-for="(comment, index) in menu.RecommendItemComment.split('<br>')">
              <br v-if="index != 0" :key="index">{{ comment }}
            </template>
          </p>
        </div>
        <div class="catering__photo" v-if="status.resizedImages === 'binded'">
          <img :src="resizedImages[menu.RecommendItemImage]['75x75']" :alt="menu.RecommendItemName" class="catering__image" />
        </div>
      </li>
    </ul>
  </div>

  </div>
</template>

<script>
  import Base from '@lib/baseComponent'

  export default {
    extends: Base,
    props: [
      'tenpo' // LSBEのレスポンス
    ],
    mounted () {
      const detail = this.tenpo.Feature[0].Property.Detail
      const rankingImages = this.transformStupidFields(detail, ['RecommendItemImage'], 3)
        .map((x) => x.RecommendItemImage)
        .filter((x) => x != null)
      const popularImages = this.transformStupidFields(detail, ['TopRankItemImage'], 3)
        .map((x) => x.TopRankItemImage)
        .filter((x) => x != null)
      const recommendImages = this.transformStupidFields(detail, ['RecommendItemImage'], 20)
        .map((x) => x.RecommendItemImage)
        .filter((x) => x != null)
      this.resizeImages(
        this.tenpo.Feature[0].Gid,
        [
          {urls: rankingImages, width: 170, height: 170},
          {urls: popularImages.concat(recommendImages), width: 75, height: 75}
        ]
      )
    },
    computed: {
      // 売れ筋メニューランキング表示条件
      showRanking () {
        return this.isFilled(this.tenpo.Feature[0].Property.Detail.RecommendItemId1)
      },
      // 売れ筋メニューランキングの内容整形
      ranking () {
        const detail = this.tenpo.Feature[0].Property.Detail
        const fields = ['RecommendItemName', 'RecommendItemImage', 'RecommendItemRank', 'RecommendItemCid']
        return this.transformStupidFields(detail, fields, 3)
          .filter(x => x.RecommendItemCid === this.namespace.cid.gurunavi)
          .sort((item1, item2) => item1.RecommendItemRank - item2.RecommendItemRank)
      },
      // 人気メニューランキング表示条件
      showPopular () {
        return this.isFilled(this.tenpo.Feature[0].Property.Detail.TopRankItemId1)
      },
      // 人気メニューランキングの内容整形
      popular () {
        const detail = this.tenpo.Feature[0].Property.Detail
        const fields = ['TopRankItem', 'TopRankItemId', 'TopRankItemRating', 'TopRankItemImage']
        return this.transformStupidFields(detail, fields, 3)
          .filter((x) => x.TopRankItem != null)
      },
      // おすすめ表示条件
      showRecommend () {
        return this.isFilled(this.tenpo.Feature[0].Property.Detail.RecommendItemSequence1)
      },
      // おすすめの内容整形
      recommend () {
        const detail = this.tenpo.Feature[0].Property.Detail
        const fields = ['RecommendItemName', 'RecommendItemSequence', 'RecommendItemPrice', 'RecommendItemComment', 'RecommendItemImage', 'RecommendItemCid']
        return this.transformStupidFields(detail, fields, 20)
          .filter(x => x.RecommendItemCid === this.namespace.cid.demaekan && x.RecommendItemSequence != null)
      },
      // 人気メニューランキングの店舗ID
      restaurantId () {
        const gurunavi = this.tenpo.Feature[0].Children
          .find((child) => child.CassetteId === this.namespace.cid.gurunavi)
        return gurunavi ? gurunavi.id : null
      },

      // ぐるなびのURL
      gurunaviUrl () {
        const gurunavi = this.tenpo.Feature[0].Children
          .find((child) => child.CassetteId === this.namespace.cid.gurunavi)
        return gurunavi ? gurunavi.PcUrl1 : null
      },

      // 出前館のURL
      demaekanUrl () {
        const demaekan = this.tenpo.Feature[0].Children
          .find((child) => child.CassetteId === this.namespace.cid.demaekan)
        return demaekan ? demaekan.PcUrl1 : null
      }

    },
    methods: {
      /**
      * キーにインデックスがついたようなLSBEのフィールドを整形する
      * original = {foo1: 'a', foo2: 'b', bar1: 'x', bar2: 'y'} のようなオブジェクトに対し、
      * transformStupidFields(parent, ['foo', 'bar'], 2) を呼べば
      * [{foo: 'a', bar: 'x'}, {foo: 'b', bar: 'y'}] のように変形する
      * @param {Object} original
      * @param {[String]} keys
      * @param {Number} start
      * @param {Number} end
      */
      transformStupidFields (original, keys, max = 3) {
        const create = (i) => keys.reduce((acc, key) => {
          acc[key] = original[`${key}${i}`]
          return acc
        }, {})
        const indices = [...Array(max).keys()].map((i) => i + 1)
        return indices.map(create)
      },
      /**
       * undefinedかnullのチェックを行う.
       *
       * @param variable 確認したい変数
       * @returns {boolean} 入っていたらtrue.
       */
      isFilled (variable) {
        return !(typeof variable === 'undefined' || variable === null)
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.list {
  &__contents{
    margin-bottom: 20px;
  }
}

.menuTitle {
  @include placeTitleBorder;
  display: flex;
  justify-content: space-between;
  &__main {
    @include placeTitle;
    padding-right: 10px;
  }
  &__provider {
    padding: 5px 0 8px;
    font-size: 10px;
    white-space: nowrap;
  }
}

.ranking {
  display: flex;
  justify-content: space-around;
  margin: 0 5px;
  &__item {
    width: 176px;
    padding: 0 10px;
  }
  &__number {
    display: inline-block;
    margin-right: 5px;
    padding: 0 3px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
    background: #f02123;
  }
  &__name {
    display: inline;
    vertical-align: middle;
  }
  &__photo {
    position: relative;
    width: 170px;
    height: 170px;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 3px;
    background: #fff;
    box-shadow: 0 1px 3px #aaa;
  }
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.popular {
  margin-bottom: 10px;
  &__item {
    display: table;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px dotted #999;
    &:first-child {
      padding-top: 0 ;
    }
  }
  &__detail {
    display: table-cell;
    padding: 0 10px;
    vertical-align: top;
  }
  &__label {
    display: table;
  }
  &__number {
    display: inline-block;
    padding: 0 3px;
    margin-right: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
    background:#f02123;
  }
  &__name {
    display: table-cell;
    font-weight: bold;
    vertical-align: middle;
  }
  &__photo {
    float: right;
    padding-right: 10px;
  }
  &__image {
    display: block;
    width: 75px;
    height: 75px;
    padding: 3px;
    box-shadow: 0 1px 3px #aaa;
    transition: all .2s;
    &:hover {
      opacity: .8;
    }
  }
}

.score {
  position: relative;
  padding-left :31px;
  &__number {
    margin-right: 5px;
    color: #EA5C48;
    font-weight: bold;
  }
  &__starsRate {
    position: relative;
    display: inline-block;
    width: 80px;
    line-height: 1.0;
    &--starRank05 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E803", 16, #f6b81b);
      }
    }
    &--starRank10 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802", 16, #f6b81b);
      }
    }
    &--starRank15 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E803", 16, #f6b81b);
      }
    }
    &--starRank20 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802", 16, #f6b81b);
      }
    }
    &--starRank25 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E803", 16, #f6b81b);
      }
    }
    &--starRank30 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E802", 16, #f6b81b);
      }
    }
    &--starRank35 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E802\E803", 16, #f6b81b);
      }
    }
    &--starRank40 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E802\E802", 16, #f6b81b);
      }
    }
    &--starRank45 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E802\E802\E803", 16, #f6b81b);
      }
    }
    &--starRank50 {
      @extend .score__starsRate;
      &:after {
        @include RiffIcon("\E802\E802\E802\E802\E802", 16, #f6b81b);
      }
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
    }
    &::before {
      @include RiffIcon("\E802\E802\E802\E802\E802", 16, #ccc);
    }
  }
  &__rate {
    @include text-replace;
  }
}

.catering {
  &__item {
    display: table;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px dotted #999;
    &:first-child {
      padding-top: 0;
    }
  }
  &__detail {
    display: table-cell;
    width: 100%;
    padding: 0 10px;
    vertical-align: top;
  }
  &__name {
    margin-bottom: 5px;
    font-weight: bold;
  }
  &__price {
    margin-bottom: 5px;
    color: #ff7f00;
    font-weight: bold;
    font-size: 12px;
  }
  &__comment {
    font-size: 12px;
  }
  &__photo {
    display: table-cell;
    padding-right: 10px;
  }
  &__image {
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    padding: 3px;
    box-shadow: 0 1px 3px #aaa;
    transition: all .2s;
  }
}

</style>
