<template>
<div v-if="isVisible" class="zeroMatch">
  <!-- タイトルのみパターン -->
  <p class="zeroMatch__title">この店舗のメニュー情報はありません。</p>
  <!-- /タイトルのみパターン -->
</div>
</template>

<script>
export default {
  props: [
    'detail' // LSBEのレスポンス(Detailの要素)
  ],
  computed: {
    /**
     * 全ての要素がなかった時になかった時に表示する
     **/
    isVisible () {
      return !(
        this.isFilled(this.detail.RecommendItemId1) ||
        this.isFilled(this.detail.TopRankItemId1) ||
        this.isFilled(this.detail.RecommendItemSequence1)
      )
    }
  },
  methods: {
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~@pc/styles/partial/mixins';
  @import '~@pc/styles/partial/variable';

  .zeroMatch{
    @include errorBody;
    &__title{
      @include errorTitle;
    }
  }
</style>
