<template>
<div class="error">
  <p class="error__title">式場情報の取得に失敗しました。</p>
  <p class="error__description">大変恐れ入りますが、しばらく経ってからお試しください。</p>
  <button type="button" class="error__button reloadButton" v-on:click.prevent="reloadUrl">
    <span class="reloadButton__text">ページを再読み込みする</span>
  </button>
</div>
</template>

<script>
  export default {
    methods: {
      reloadUrl: function () {
        location.reload()
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';
.error{
  position:relative;
  background: #f8f8f8;
  margin-bottom: 20px;
  padding: 40px 0;
  text-align: center;
  &__title{
    font-weight: bold;
  }
}
.reloadButton{
  @include errorReloadButton;
  margin: 18px auto 0;
  &__text{
    @include errorReloadButtonTitle;
  }
}
</style>

