<template>
<div class="information tracked_mods" id="wedcp">
  <div class="information__title informationTitle" v-if="title">
    <h2 class="informationTitle__main" v-text="title"></h2>
    <p class="informationTitle__provider" v-if="cpName">情報提供元：<a :href="cpUrl" class="informationTitle__link" target="_blank" v-text="cpName" rel="nofollow" :data-ylk="getDataYlk()"></a></p>
  </div>
  <table class="information__table">
    <tr class="information__row" v-for="item in items" v-bind:key="item.id">
      <th class="information__header" v-text="item.name"></th>
      <td class="information__data" v-text="item.val"></td>
    </tr>
  </table>
</div>
</template>

<script>
import Base from '@lib/baseComponent'
export default {
  props: {
    title: String,
    cpUrl: String,
    cpName: String,
    items: Array,
    tenpo: Object
  },
  extends: Base,
  methods: {
    getDataYlk (cid = this.namespace.cid.zexy) {
      // 今はゼクシィしかないので、CIDはゼクシィ固定
      return (cid && this.namespace.CpName[cid]) ? `cp_name:${this.namespace.CpName[cid]};pos:1;` : ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.information {
  margin-bottom: 20px;

  &__table {
    border: 1px solid #f0f0e1;
  }

  &__row {
    border-bottom: 1px dotted #cecfc2;

    &:last-child {
      border-bottom: none;
    }
  }

  &__header {
    width: 90px;
    padding: 8px;
    color: #333;
    background-color: #f0f0e1;
  }

  &__data {
    padding: 8px 10px;
    color: #666;
  }
}

.informationTitle {
  @include placeTitleBorder;
  display: flex;
  justify-content: space-between;

  &__main {
    @include placeTitle;
    padding-right: 10px;
  }

  &__provider {
    padding: 5px 0 8px;
    font-size: 10px;
    white-space: nowrap;
  }
}

</style>
