<template>
<div class="error">
  <p class="error__title">写真の取得に失敗しました。</p>
  <p class="error__description">大変恐れ入りますが、しばらく経ってから<br />お試しください。</p>
  <button type="button" class="error__button reloadButton" @click="reloadUrl()"><span class="reloadButton__text">ページを再読み込みする</span></button>
</div>
</template>

<script>
  export default {
    methods: {
      reloadUrl: function () {
        location.reload()
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';
  .error{
    margin-bottom: 35px;
    padding: 15px 40px 0;
    text-align: center;

    &__title{
      font-weight: bold;
      margin-bottom: 14px;
    }
    &__description{
      margin-bottom: 18px;
      font-size: 12px;
    }
  }
  .reloadButton{
    @include button-normal;
    display: block;
    margin: 0 auto;
    padding: 12px 0;
    width: 100%;
    max-width: 240px;
    font-weight: bold;
    &__text{
      display: inline-block;
      position: relative;
      padding-left: 20px;

      &:before{
        @include RiffIcon("\E139", 16, $textColorBlack);
        line-height: 0;
        top: 50%;
        left: 0;
      }
    }
  }

</style>
