<template>
<div class="list" v-if="this.page.displayFlag">
  <ul class="list__list">
    <li class="list__item" v-for="(photoList, index) in displayItems()" :key="photoList, index">
      <div v-on:click="setDetailPhotoInfo(photoList.Id);photoModal=true; $parent.sendClickBeacon('imglst','_',index+1)" class="list__link">
        <span :style="{'background-image' : 'url(' + getImageUrl(photoList.ImageUrl) + ')'}" class="list__image">{{photoList.Caption}}</span>
      </div>
    </li>
  </ul>

  <transition
    enter-class="photoModal--enter"
    enter-active-class="photoModal--enter-active"
    leave-class="photoModal--leave"
    leave-active-class="photoModal--leave-active"
  >

    <div class="tracked_mods" id="imgdtl">
      <div class="list__modal modal" v-if="isPhotoModal()">
        <span class="modal__close" v-on:click="photoModal = false; $parent.sendClickBeacon('imgdtl','xbtn',0)"></span>
        <p class="modal__overlay" v-on:click="photoModal = false">×</p>
        <div class="modal__body">
          <div class="modal__window">
            <div class="modal__contents post">
              <div class="post__slide slide">
                <img v-bind:src="getPhotoImageUrl()" class="slide__image" v-bind:alt="getAltComment()" width="300" height="300" v-on:load="setModalPosition()" />
                <ul class="slide__button">
                  <!-- 前へ -->
                  <li v-if="isPrev()" @click="clickDetailPrev()" class="slide__prev"><span class="slide__explain">前へ</span></li>
                  <li v-else @click="clickDetailPrev()" class="slide__prev--disable"><span class="slide__explain">前へ</span></li>
                  <!-- 次へ -->
                  <li v-if="isNext()" @click="clickDetailNext()" class="slide__next"><span class="slide__explain">次へ</span></li>
                  <li v-else class="slide__next--disable"><span class="slide__explain">次へ</span></li>
                </ul>
              </div>
              <p class="post__comment">{{ getPhotoImageUrlText()}}</p>
              <p class="post__information information">
                by
                <span v-if="isUserPhoto()">
                  <!-- ユーザー名 -->
                  <a v-bind:href="getUserUrl()" class="information__name" data-ylk="slk:usrid;pos:0"> {{ getUserName() }}</a>
                </span>
                <span v-else>
                  <!-- CP名 -->
                    <a v-if="getCpUrl()" v-bind:href="getCpUrl()" class="information__name" target="_blank" rel="nofollow noopener" data-ylk="slk:usrid;pos:0"> {{ getCpName() }}</a>
                    <span v-else> {{ getCpName() }}</span>
                </span>
                <span v-if="isUserPhoto()">さん</span>
                <span v-if="isUserPhoto()" class="information__date">{{ getCreateTime() }}</span>
              </p>
              <!-- ステキボタンはペンディング。
              <div class="post__evaluate evaluate">
                <div class="evaluate__button">
                  <p class="evaluate__text">ステキ<span class="evaluate__count"><span class="evaluate__number--emphasis">5</span><span class="evaluate__number">人</span></span></p>
                </div>
              </div>
              -->
              <p v-if="isUserPhoto()" class="post__warning warning"><a v-bind:href="getWarningLink()" class="warning__link" rel="nofollow" data-ylk="slk:imgrep;pos:0">問題のある写真を違反申告</a></p>
            </div><!-- /.post -->
          </div>
        </div>
      </div><!-- /.modal -->
    </div>
  </transition>

</div>
</template>

<script>
  import moment from 'moment'
  import baseComponent from '@lib/baseComponent'

  // 写真画像幅、高
  const photoImgWidth = 400
  const photoImgHeight = 400
  const noImageSize = '400x400'

  export default {
    props: ['photo', 'page', 'tenpo', 'resizedimages01', 'resizedimages02', 'resizedimages03'],
    components: {},
    extends: baseComponent,
    data () {
      return {
        photoModal: false,
        userInfo: {
          entry: {
            encodedYuid: '',
            maskedYid: ''
          }
        },
        photoUser: {
          'nickName': '',
          'encodedYuid': ''
        },
        currentPhotoIndex: 0, // 写真詳細 表示写真インデックス
        currentPhotoId: null, // 写真詳細 表示写真ID
        nextPhotoId: null, // 写真詳細 次の写真ID
        prevPhotoId: null // 写真詳細 前の写真ID
      }
    },
    methods: {
      /**
       * [写真詳細]写真詳細のalt設定
       * @param url {string} リサイズ前画像URL
       * @return {string} 画像URL
       */
      getAltComment: function () {
        var comment = this.getPhotoImageUrlText()
        if (comment === '') {
          comment = this.getPhotoTenpoName() + 'の説明'
        }
        return comment
      },
      /**
       * [写真一覧・詳細]画像URL取得
       * @param url {string} リサイズ前画像URL
       * @return {string} 画像URL
       */
      getImageUrl: function (url) {
        var size = this.getPhotoImgSize()

        if (this.isFilled(this.resizedimages01[url]) && this.isFilled(this.resizedimages01[url][size])) {
          return this.resizedimages01[url][size]
        } else
        if (this.isFilled(this.resizedimages02[url]) && this.isFilled(this.resizedimages02[url][size])) {
          return this.resizedimages02[url][size]
        } else
        if (this.isFilled(this.resizedimages03[url]) && this.isFilled(this.resizedimages03[url][size])) {
          return this.resizedimages03[url][size]
        }
        return this.namespace.noImage[noImageSize]
      },
      /**
       * [写真一覧・詳細]写真サイズ取得
       * @return {string} 写真サイズ
       */
      getPhotoImgSize: function () {
        return photoImgWidth + 'x' + photoImgHeight
      },
      /**
       * [写真一覧・詳細]要素存在チェック
       * @param variable {object} チェック対象オブジェクト
       * @return {boolean} チェック結果
       */
      isFilled: function (variable) {
        return !(typeof variable === 'undefined' || variable === null)
      },
      /**
       * @param {Number} 表示ページ
       * @param {Object} List
       * @return {any} 表示する情報
       */
      displayItems () {
        // 表示する範囲
        const head = 0
        const tail = (this.page.pageId + 1) * this.page.pageDisplaySize
        return this.photo.imageInfo.slice(head, head + tail)
      },
      /**
       * [写真詳細]管理情報設定
       * @param {photoId} 写真ID
       * @return none
       */
      setDetailPhotoInfo: function (photoId) {
        var photoIndex = null
        var nextPhotoId = null
        var prevPhotoId = null
        // 未設定の場合は何もしない
        if (!photoId) {
          return
        }

        // 全写真情報よりIndexを取得する
        for (var i = 0; i < this.photo.imageInfo.length; i++) {
          if (this.photo.imageInfo[i].Id === photoId) {
            // カレントIndexを設定
            photoIndex = i

            // 前後のページインデックスを設定
            var prevIndex = (i - 1)
            var nextIndex = (i + 1)

            // 前の写真IDを設定
            if (prevIndex >= 0) {
              prevPhotoId = this.photo.imageInfo[prevIndex].Id
            }
            // 次の写真IDを設定
            if (nextIndex < this.photo.imageInfo.length) {
              nextPhotoId = this.photo.imageInfo[nextIndex].Id
            }
            // 写真情報設定
            this.currentPhotoId = photoId
            this.currentPhotoIndex = photoIndex
            this.nextPhotoId = nextPhotoId
            this.prevPhotoId = prevPhotoId
            this.page.photoId = photoId
            break
          }
        }
      },
      /**
       * [写真詳細]画像URL取得
       * @param none
       * @return none
       */
      getPhotoImageUrl: function () {
        return this.getImageUrl(this.photo.imageInfo[this.currentPhotoIndex].ImageUrl)
      },
      /**
       * [写真詳細]説明文取得
       * @param none
       * @return {any} 説明文
       */
      getPhotoImageUrlText: function () {
        var str = ''
        if (this.photo.imageInfo[this.currentPhotoIndex].Caption) {
          str = this.photo.imageInfo[this.currentPhotoIndex].Caption
          if (str.length > 70) {
            str = str.slice(0, 70)
          }
        }
        return str
      },
      /**
       * [写真詳細]次へボタン押下処理
       * @param none
       * @return none
       */
      clickDetailPrev: function () {
        this.setDetailPhotoInfo(this.prevPhotoId)
        this.$parent.sendClickBeacon('imgdtl', 'preimg', 0)
      },
      /**
       * [写真詳細]次へボタン押下処理
       * @param none
       * @return none
       */
      clickDetailNext: function () {
        this.setDetailPhotoInfo(this.nextPhotoId)
        this.$parent.sendClickBeacon('imgdtl', 'neximg', 0)
      },
      /**
       * [写真詳細]CP名取得
       * @param none
       * @return {string} CP名
       */
      getCpName: function () {
        // CP名設定
        return this.photo.imageInfo[this.currentPhotoIndex].cassetteName
      },
      /**
       * [写真詳細]ユーザー名取得
       * @param none
       * @return {string} ユーザー名
       */
      getUserName: function () {
        // ユーザー名確認
        if (this.isUserPhoto() && !(this.photoUser.nickName)) {
          // APIからユーザー情報の取得
          this.getUserInfo(this.photo.imageInfo[this.currentPhotoIndex].Guid)
        }
        return this.photoUser.nickName
      },
      /**
       * [写真詳細]表示用の投稿者名とencodeYuidの初期化
       * @param none
       */
      cleanUserInfo: function () {
        this.photoUser.nickName = ''
        this.photoUser.encodeYuid = ''
      },
      /**
       * [写真詳細]CPリンク取得
       * @param none
       * @return {string} 画像遷移先リンク
       */
      getCpUrl: function () {
        return this.photo.imageInfo[this.currentPhotoIndex].cpUrl
      },
      /**
       * [写真詳細]ユーザー名取得
       * @param none
       * @return {string} 画像遷移先リンク
       */
      getUserUrl: function () {
        var urlLink = ''
        // ユーザー投稿の確認
        if (this.isUserPhoto() && this.photoUser.encodedYuid) {
          urlLink = 'https://loco.yahoo.co.jp/user/' + this.photoUser.encodedYuid + '/photo'
        }
        return urlLink
      },
      /**
       * [写真詳細]ユーザー投稿写真判定
       * @param none
       * @return {result} true/false
       */
      isUserPhoto: function () {
        var result = false
        if (this.photo.imageInfo[this.currentPhotoIndex].Guid) {
          result = true
        }
        return result
      },
      /**
       * [写真詳細]ユーザー投稿日付取得
       * @param none
       * @return {any} 投稿日付
       */
      getCreateTime () {
        var dateStr = ''
        if (this.isUserPhoto()) {
          dateStr = moment(this.photo.imageInfo[this.currentPhotoIndex].CreateDate).format('YYYY年MM月DD日HH時mm分')
        }

        return dateStr
      },
      /**
       * [写真詳細]前の写真有無チェック
       * @param none
       * @return {result} true/false
       */
      isPrev: function () {
        var result = true
        if (!this.prevPhotoId) {
          result = false
        }
        this.modifyURLPhotoId('create')

        return result
      },
      /**
       * [写真詳細]次の写真有無チェック
       * @param none
       * @return {result} true/false
       */
      isNext: function () {
        var result = true
        if (!this.nextPhotoId) {
          result = false
        }
        this.modifyURLPhotoId('create')

        return result
      },
      /**
       * [写真詳細]店舗名取得
       * @param none
       * @return {any} 店舗名
       */
      getPhotoTenpoName: function () {
        var str = ''
        if (this.photo.name) {
          str = this.photo.name
        }
        return str
      },
      /**
       * [写真詳細]違反申告URL取得
       * @param none
       * @return {any} url
       */
      getWarningLink: function () {
        var urlLink = ''
        var uid = this.tenpo.Feature[0].Property.Uid
        var detailUrl = encodeURIComponent('https://loco.yahoo.co.jp/place/' + uid + '/photo/user/' + this.currentPhotoId + '/')
        urlLink = 'https://loco.yahoo.co.jp/report/form?id=' + this.currentPhotoId + '&type=photo&url=' + detailUrl
        return urlLink
      },
      /** [写真一覧]投稿ボタンURL
       *  @param none
       */
      getPostUrl: function () {
        this.postPhotoUrl = 'https://loco.yahoo.co.jp/photo/posting?uid=' + this.tenpo.Feature[0].Property.Uid
      },

      /**
       * [写真詳細]写真IDを更新する
       * @param none
       * @return none
       */
      modifyURLPhotoId: function (type) {
        // pushState対応確認
        if (window.history && window.history.pushState) {
          // URLパラメータを取得する
          var url = ''
          var pair = location.search.substring(1).split('&')
          var flg = false
          for (var i = 0; pair[i]; i++) {
            var kv = pair[i].split('=')// kvはkey-value
            if (kv[0] === 'photoId') {
              kv[1] = this.currentPhotoId
              flg = true
            }
            i === 0 ? url += '?' : url += '&'
            if (type === 'create') {
              url += kv[0] + '=' + kv[1]
            } else if (type === 'remove' && kv[0] !== 'photoId') {
              url += kv[0] + '=' + kv[1]
            }
          }

          if (flg === false) {
            url ? url += '&' : url += '?'
            if (type === 'create') {
              url += 'photoId=' + this.currentPhotoId
            }
          }

          // photoIdが入らない場合、末尾に&が入る場合があるので削除
          if (url.slice(-1) === '&') {
            url = url.slice(0, -1)
          }

          window.history.pushState('', '', url)
        }
      },
      /**
       * [写真詳細] 初期 モーダル表示の判定
       * return boolean
       */
      isPhotoModal: function () {
        if (this.page.modal) {
          this.setDetailPhotoInfo(this.page.photoId)
          this.photoModal = this.page.modal
        }
        return this.photoModal
      },
      /**
       * [写真詳細]マスクyid,暗号化yuidの取得
       * @param _id
       */
      getUserInfo: function (_id) {
        this.bindRequest({
          name: 'userInfo',
          url: this.namespace.API.secure,
          params: {
            guid: _id
          },
          eappid: false // TODOあとで消す,
        }).then((userInfo) => {
          // 変換したデータをdataに格納
          this.photoUser.nickName = this.userInfo.entry['maskedYid'] // 表示用マスクyid
          this.photoUser.encodedYuid = this.userInfo.entry['encodedYuid'] // 投稿者URL生成用 暗号化YUID
        })
      },
      setModalPosition: function () {
        const modalBody = document.querySelector('.modal__body')
        const modalSidePadding = 68
        const wh = window.innerHeight
        const ww = window.innerWidth
        // コンテンツの高さを取得する
        const modalBodyHeight = modalBody.clientHeight
        /**
         * 画面サイズとモーダルコンテンツの高さの差分が上下分の余白なので
         * 上下中央に表示されるようposition:topを調整する
         * また横幅も画面サイズに合わせてpaddingを引いた数値を設定する
         */
        const modalBodyMargin = (wh - modalBodyHeight) / 2
        modalBody.style.top = modalBodyMargin + 'px'
        modalBody.style.width = ww - modalSidePadding + 'px'
      }
    },
    watch: {
      // モーダル表示中は本体のスクロールを止める。
      photoModal: function () {
        if (this.photoModal) {
          this.modifyURLPhotoId('create')
          this.page.modal = true
          document.body.style.overflow = 'hidden'
        } else {
          this.modifyURLPhotoId('remove')
          this.page.modal = false
          this.cleanUserInfo()
          document.body.style.overflow = 'scroll'
        }
      },
      isPhotoModelShow: function (val) {
        if (val) {
          this.$nextTick(() => {
            this.$root.rapid.refreshModule('imgdtl', false, false)
          })
        }
      }
    },
    computed: {
      isPhotoModelShow () {
        return this.isPhotoModal()
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.list {
  &__list {
    @include clearfix;
    margin:0 -10px 0 0;
  }
  &__item {
    float: left;
    width: 50%;
    list-style: none;
    padding: 0 10px 10px 0;
    box-sizing: border-box;
  }
  &__image {
    @include text-replace;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5000002; //マストヘッド（5000001）より大きい値
  margin: auto;
  padding: 40px 34px;
  overflow-y: scroll;
  transition: opacity .3s ease;

  //アニメーションのためのクラス
  &--enter,
  &--leave-active {
    opacity: 0;
  }

  &__body {
    position: absolute;
    top: 0;
    z-index: 250;
  }

  &__window {
    position: relative;
  }

  &__close {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    z-index: 201;
    &:after {
      @include RiffIcon("\E10B",46,#fff);
      position: fixed;
      top: -12px;
      right: -2px;
      z-index: 20;
    }
  }

  &__overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background: #000;
  }
}

.post {
  z-index: 250;
  &__comment {
    color: #fff;
    font-size:14px;
    text-align:left;
  }
}

.slide {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  &__image {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
  &__button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 32px;
    margin: auto;
  }
  &__prev {
    position:relative;
    &:after {
      @include RiffIcon("\E60B",32,#fff);
      top: 0;
      left: -32px;
      line-height: 1;

    }
    &--disable {
      @extend .slide__prev;
      opacity: 0.2;
      cursor:default;
    }
  }
  &__next {
    position:relative;
    &:after {
      @include RiffIcon("\E60C",32,#fff);
      top: 0;
      right: -32px;
      line-height: 1;
    }
    &--disable {
      @extend .slide__next;
      opacity: 0.2;
      cursor:default;
    }
  }
  &__explain {
    display:none;
  }
}

.information {
  margin-bottom:10px;
  color: #fff;
  font-size:13px;
  text-align:right;
  &__name {
    font-size:13px;
    color: #fff;
    text-decoration: underline;
  }
  &__date {
    padding-left:5px;
    margin-left: 5px;
    font-size:13px;
    color: #fff;
    border-left:1px solid #fff;
  }
}

.warning {
  &__link {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
  }
}

/* ステキになったボタン
.evaluate {
  margin: 10px 63px;
  &__button {
    display: block;
    overflow: hidden;
    color: #333;
    padding: 10px 0;
    line-height: 1;
    box-shadow: 0 1px rgba(187, 187, 187, 0.6);
    background: linear-gradient(to bottom, #fff 0%, #fefefe 100%);
    border:1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  &__text {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
  }
  &__count {
    margin-left:14px;
    color: #EA5B47;
  }
  &__number {
    font-size:14px;
    &--emphasis {
      font-size:18px;
      font-weight:bold;
    }
  }
}
*/

</style>
