<template>
  <div class="pagination" v-if="page.displayFlag">
    <div class="pagination__more" v-if="checkMoreDisplay()">
      <p class="pagination__button">
        <span class="pagination__text" @click="morePage()">もっと見る</span>
      </p>
    </div>
    <div class="pagination__count">
      <p class="pagination__number">1〜{{this.displayPhotoRangeTo()}}件/{{page.dataCount}}件</p>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['page'],
    data () {
      return {
        photoModal: false,
        currentPhotoIndex: 0, // 写真詳細 表示写真インデックス
        currentPhotoId: '1111', // 写真詳細 表示写真ID
        nextPhotoId: '2222', // 写真詳細 次の写真ID
        prevPhotoId: 0 // 写真詳細 前の写真ID
      }
    },
    methods: {
      /*
       * [写真一覧]もっと見るのAction
       */
      morePage () {
        this.page.pageId += 1
        this.$parent.sendClickBeacon('mrbtn', '_', 0)
      },
      /*
       * [写真一覧]表示件数の表示
       * @return number 表示している件数
       */
      displayPhotoRangeTo () {
        var rangeTo = Math.ceil((this.page.pageId + 1) * this.page.pageDisplaySize)
        if (rangeTo > this.page.dataCount) {
          rangeTo = this.page.dataCount
        }
        return rangeTo
      },
      /*
       * [写真一覧]もっと見るの表示可否
       * @return boolean 可: true,否: false
       */
      checkMoreDisplay () {
        if (this.page.pageId + 1 < this.page.pageCount) {
          return true
        }
      }
    }
  }
</script>
<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.pagination {
  margin-bottom: 20px;
  padding-top: 10px;
  &__button {
  margin-bottom: 10px;
  text-align: center;
  }
  &__text {
    display: inline-block;
    position: relative;
    height: 30px;
    padding: 0 10px 0 28px;
    border: 1px solid #52bfeb;
    color: #52bfeb;
    font-weight: bold;
    line-height: 30px;
    background: #fff;
    border-radius: 5px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 10px;
      width: 8px;
      height: 8px;
      margin-top: -7px;
      border-top: 2px solid #52bfeb;
      border-right: 2px solid #52bfeb;
      transform: rotate(135deg);
    }
  }
  &__count {
    margin-bottom: 16px;
    color: #333;
    font-size: 12px;
    text-align: center;
  }
}

</style>
