<div class="placeData">
    <a id="placeDetailedData" name="placeDetailedData"></a>
    <h2 class="placeData__title">詳細情報</h2>
    <div id="map" class="placeData__map placeDataMap tracked_mods" th:if="${!isMapPage}" th:with="coordinates=${tenpo.feature[0].geometry.coordinates.split(',')}">
      <a th:href="@{/place/g-{gid}/map(gid=${tenpo.feature[0].gid})}" class="placeDataMap__link" data-ylk="slk:map;pos:0">
        <img
          src="https://map.yahooapis.jp/map/V1/static?appid=8W__ZNKxg66xvy0T0DQtEVKmvX5CkUUReF73w9pTioVVmX_dLCo8ZhWqfJVv&scalebar=off&logo=off&z=16&output=png&quality=50&lat=35.66485771&lon=139.73185876&pinyj_loco_oneserp=35.66485771,139.73185876&style=base:&width=628&height=180"
          class="placeDataMap__image"
          th:src="@{https://map.yahooapis.jp/map/V1/static(
            eappid=${eappId},
            scalebar='off',
            logo='off',
            z=16,
            output='png',
            quality=50,
            lat=${coordinates[1]},
            lon=${coordinates[0]},
            pinyj_loco_oneserp=${coordinates[1] + ',' + coordinates[0]},
            height=180,
            width=628,
            style='base:'
            )}"
          alt="" />
      </a>
      <p class="placeDataMap__detail"><a data-ylk="slk:maplnk;pos:0" th:href="@{/place/g-{gid}/map(gid=${tenpo.feature[0].gid})}">詳しい地図を見る</a></p>
    </div>
    <route th:if="${!isMapPage}" :tenpo='tenpo'></route>
    <table class="placeData__table">
      <tr class="placeData__row" th:unless="${#view.getTelType(tenpo.Feature[0].Property) == T(jp.co.yahoo.dining.frontend.controller.view.expression.type.TelType).NON}">
        <th class="placeData__header">電話番号</th>
        <td class="placeData__data">
          <span th:if="${#view.getTelType(tenpo.Feature[0].Property) == T(jp.co.yahoo.dining.frontend.controller.view.expression.type.TelType).ALTERNATIVE_TEL}" th:text="${tenpo.Feature[0].Property.Detail.AlternativeTel}" class="placeData__tel">050-6890-0065</span>
          <span th:if="${#view.getTelType(tenpo.Feature[0].Property) == T(jp.co.yahoo.dining.frontend.controller.view.expression.type.TelType).PPC_NUMBER}" class="placeData__tel--free">
            <!--/*/ <th:block th:text="${tenpo.Feature[0].Property.Detail.PpcNumber}"> /*/-->
              0066-6890-0065
            <!--/*/ </th:block> /*/-->
            <!--/*/ <th:block th:if="${tenpo.Feature[0].Property.PpcDescription}" th:text="|（${tenpo.Feature[0].Property.PpcDescription}）|"> /*/-->
              （通話料無料）
            <!--/*/ </th:block> /*/-->
          </span>
          <span th:if="${#view.getTelType(tenpo.Feature[0].Property) == T(jp.co.yahoo.dining.frontend.controller.view.expression.type.TelType).TEL}" th:text="${tenpo.Feature[0].Property.Tel1}" class="placeData__tel">050-6890-0065</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.BusinessHour}">
        <th class="placeData__header">営業時間</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="s,stat:${#view.explodeBreak(tenpo.Feature[0].Property.Detail.BusinessHour)}"> /*/-->
            <span th:text="${s}" th:remove="tag">【月～金】	10:00～15:30 <br/>【月～日・祝】	18:00～24:00(L.O.23:00) <br>【土・日・祝】	09:00～18:00</span>
            <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.BusinessHourComment}">
        <th class="placeData__header">営業時間備考</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.BusinessHourComment}" th:remove="tag"> 天守閣・本丸御殿への入場は16：00まで </span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${#view.hasBusinessHoliday(tenpo.Feature[0].Property)}">
        <th class="placeData__header">定休日</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="s,stat:${#view.explodeBreak(tenpo.feature[0].property.detail.businessHoliday)}"> /*/-->
          <span th:text="${s}" th:remove="tag">年中無休＜12／31・1／2・3の営業時間＞焼肉:11:00～22:00</span>
          <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Capacity}">
        <th class="placeData__header">席数</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.Capacity}">137席(1F：69席、2F：個室8室)</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${#view.hasFeature(tenpo.Feature[0].Property)}">
        <th class="placeData__header">特徴</th>
        <td class="placeData__data--list">
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.CreditcardFlag}">カード可</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.ParkingFlag}">駐車場あり</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.CouponFlag}">クーポンあり</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.Smoking}">喫煙可能</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.SmokingFlag}">全席喫煙可能</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.NonSmokingFlag}">全席禁煙</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.SeparationSmokingFlag}">分煙</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.WiFiFreeFlag}">WiFiあり</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.BarrierFreeFlag}">バリアフリー</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.LunchFlag}">ランチあり</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.AllYouCanDrinkFlag}">飲み放題あり</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.AllYouCanEatFlag}">食べ放題あり</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.CourseMenuFlag}">コースメニューあり</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.BanquetFlag}">宴会・飲み会・パーティー</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.FriendsFlag}">友人・同僚</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.DatingFlag}">デート</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.EntertainFlag}">接待</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.MatchmakingPartyFlag}">合コン</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.LadysPartyFlag}">女子会</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.FamilyFlag}">ファミリー</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.YourselfFlag}">一人でも可</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.SmallGroupFlag}">少人数</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.ChildFriendlyFlag}">子ども連れ可</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.PetFlag}">ペット可</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.WineFlag}">ワインが豊富</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.ShochuFlag}">焼酎が豊富</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.RiceWineFlag}">日本酒が豊富</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.BeerFlag}">ビールが豊富</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.CocktailFlag}">カクテルが豊富</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.PrivateDiningFlag}">個室あり</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.TakeOutFlag}">テイクアウト可</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.ReservedSeatFlag}">貸し切り可</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.BirthdayFlag}">誕生日</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.WeddingAnniversaryFlag}">結婚記念日</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.BuddhistMemorialServiceFlag}">慶事 法事</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.MemorialDayFlag}">その他記念日</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.NightSceneFlag}">夜景が見える</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.GoodViewFlag}">眺めがいい</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.EkichikaFlag}">駅チカ</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.EkinakaFlag}">駅ナカ</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.CalmSpaceFlag}">落ち着いた空間</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.KaraokeFlag}">エンタメ設備（カラオケ・ライブ）</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.ProjectorFlag}">プロジェクタ・スクリーン</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.ParlorFlag}">座敷あり</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.OpenTerraceFlag}">オープンエア</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.EnglishSpeakingFlag}">英語対応</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.TobaccoFlag}">タバコ販売</span>
          <span class="placeData__feature" th:if="${tenpo.Feature[0].Property.Detail.LiquorFlag}">酒類販売</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${#view.isCredit(tenpo.Feature[0].Property)}">
        <th class="placeData__header">利用可能カード</th>
        <td class="placeData__data--list">
          <span class="placeData__credit--visa" th:if="${tenpo.Feature[0].Property.Detail.CreditCardsVISAFlag}">VISA</span>
          <span class="placeData__credit--mastercard" th:if="${tenpo.Feature[0].Property.Detail.CreditCardsMasterFlag}">Master Card</span>
          <span class="placeData__credit--jcb" th:if="${tenpo.Feature[0].Property.Detail.CreditCardsJCBFlag}">JCB</span>
          <span class="placeData__credit--americanexpress" th:if="${tenpo.Feature[0].Property.Detail.CreditCardsAMEXFlag}">American Express</span>
          <span class="placeData__credit--diners" th:if="${tenpo.Feature[0].Property.Detail.CreditCardsDinersFlag}">ダイナース</span>
          <span class="placeData__credit--saison" th:if="${tenpo.Feature[0].Property.Detail.CreditCardsSaisonFlag}">セゾン</span>
          <span class="placeData__credit--dc" th:if="${tenpo.Feature[0].Property.Detail.CreditCardsDCFlag}">DC</span>
          <span class="placeData__credit--ucf" th:if="${tenpo.Feature[0].Property.Detail.CreditCardsUCFlag}">UCF</span>
          <span class="placeData__credit--ufj" th:if="${tenpo.Feature[0].Property.Detail.CreditCardsUFJFlag}">三菱UFJ</span>
          <span class="placeData__credit--nicos" th:if="${tenpo.Feature[0].Property.Detail.CreditCardsNICOSFlag}">NICOS</span>
          <span class="placeData__credit--other" th:if="${tenpo.Feature[0].Property.Detail.CreditCardsOtherFlag}">その他</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="creditCardsAccepted=${#view.getFirstObjectOfOthers(tenpo, 'CreditCardsAccepted')}"> /*/-->
      <tr class="placeData__row" th:if="${creditCardsAccepted != null}">
        <th class="placeData__header">カード利用可否</th>
        <td class="placeData__data">
          <span th:text="${creditCardsAccepted}" th:remove="tag">JCB/VISA/MASTER</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <!--/*/ <th:block th:with="officialPcUrl=${#view.getFirstObjectOfOthers(tenpo, 'OfficialPcUrl')}"> /*/-->
      <tr class="placeData__row" th:if="${officialPcUrl != null}">
        <th class="placeData__header">HP</th>
        <td class="placeData__data">
          <a th:href="${officialPcUrl}" th:text="${officialPcUrl}" target="out" rel="nofollow">http://loco.yahoo.co.jp/</a>
          <span class="placeData__text">（外部サイト）</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <tr class="placeData__row" th:if="${#view.hasCategory(tenpo.Feature[0])}">
        <th class="placeData__header">カテゴリ</th>
        <td class="placeData__data" th:text='${#strings.listJoin(tenpo.Feature[0].Category,"、")}'>焼肉,ホルモン,韓国料理,六本木・乃木坂・西麻布,六本木、乃木坂、六本木一丁目</td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.BudgetLunch != null}">
        <th class="placeData__header">ランチ予算</th>
        <td class="placeData__data">
          <span th:text="${#view.getBudget(tenpo.Feature[0].Property.Detail.BudgetLunch)}">1,000円～1,999円</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.BudgetDinner != null}">
        <th class="placeData__header">ディナー予算</th>
        <td class="placeData__data">
          <span th:text="${#view.getBudget(tenpo.Feature[0].Property.Detail.BudgetDinner)}">6,000円～7,999円</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Budget != null}">
        <th class="placeData__header">予算</th>
        <td class="placeData__data">
          <span th:text="${#view.getBudget(tenpo.Feature[0].Property.Detail.Budget)}">6000円</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Seat}">
        <th class="placeData__header">座席数・音響</th>
        <td class="placeData__data">
            <!--/*/ <th:block th:each="text,stat:${#view.explodeBreak(tenpo.Feature[0].Property.Detail.Seat)}"> /*/-->
              <span th:text="${text}" th:remove="tag">137席(1F：69席、2F：個室8室）</span>
              <br th:if="${!stat.last}" />
            <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.MedicalProfession}">
        <th class="placeData__header">診療科目</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.MedicalProfession}">内科、呼吸器科、消化器科、循環器科、小児科、外科、整形外科、形成外科、美容外科、脳神経外科、心臓血管外科、皮膚科、泌尿器科、産婦人科、眼科、耳鼻咽喉科、放射線科、リウマチ科、リハビリテーション科、麻酔科</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="hospitalType=${#view.getFirstObjectOfOthers(tenpo, 'HospitalType')}"> /*/-->
      <tr class="placeData__row" th:if="${hospitalType != null}">
        <th class="placeData__header">病院タイプ</th>
        <td class="placeData__data">
          <span th:text="${hospitalType}" th:remove="tag">人間ドック施設 救急告示病院 日本医療機能評価機構認定病院 臨床研修指定病院</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Beds}">
        <th class="placeData__header">病床数</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.Beds}">579</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.HighMedicalEquipment}">
        <th class="placeData__header">高度医療機器</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.HighMedicalEquipment}">マンモグラフィ（乳房エックス線撮影装置）,MRI（磁気共鳴画像診断装置）,SPECT（単光子放射線コンピューター断層撮影装置）,ESWL（体外衝撃波尿路結石破砕装置）,マルチスライスCT（多断面画像診断装置）</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.StartDay}">
        <th class="placeData__header">営業開始日</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.StartDay}">2004/11/24</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="deliveryCharge=${#view.getFirstObjectOfOthers(tenpo, 'DeliveryCharge')}"> /*/-->
      <tr class="placeData__row" th:if="${deliveryCharge != null}">
        <th class="placeData__header">配達料</th>
        <td class="placeData__data">
          <span th:text="${#view.getBudget(deliveryCharge)}" th:remove="tag">\0</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <!--/*/ <th:block th:with="orderAmount=${#view.getFirstObjectOfOthers(tenpo, 'OrderAmount')}"> /*/-->
      <tr class="placeData__row" th:if="${orderAmount != null}">
        <th class="placeData__header">注文金額</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="text,stat:${#view.explodeBreak(orderAmount)}"> /*/-->
          <span th:text="${text}" th:remove="tag">平日 1460円～<br>土曜日・日曜日・祝日 1460円～</span>
          <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Capacity}">
        <th class="placeData__header">総席数</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.Capacity}">137席</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Smoking == 'true'}">
        <th class="placeData__header">喫煙</th>
        <td class="placeData__data">
          <span>喫煙可</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="pickUpComment=${#view.getFirstObjectOfOthers(tenpo, 'PickUpComment')}"> /*/-->
      <tr class="placeData__row" th:if="${pickUpComment != null}">
        <th class="placeData__header">送迎コメント</th>
        <td class="placeData__data">
          <span th:text="${pickUpComment}" th:remove="tag">あり（無料</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <!--/*/ <th:block th:with="priceRange=${#view.getFirstObjectOfOthers(tenpo, 'PriceRange')}"> /*/-->
      <tr class="placeData__row" th:if="${priceRange != null}">
        <th class="placeData__header">最小最大料金</th>
        <td class="placeData__data">
          <span th:text="${priceRange}" th:remove="tag">6800円～</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.HotelType}">
        <th class="placeData__header">宿のタイプ</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.HotelType}">ホテル</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="checkInTime=${#view.getFirstObjectOfOthers(tenpo, 'CheckInTime')}"> /*/-->
      <tr class="placeData__row" th:if="${checkInTime != null}">
        <th class="placeData__header">チェックイン</th>
        <td class="placeData__data">
          <span th:text="${checkInTime}" th:remove="tag">15:00</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <!--/*/ <th:block th:with="checkOutTime=${#view.getFirstObjectOfOthers(tenpo, 'CheckOutTime')}"> /*/-->
      <tr class="placeData__row" th:if="${checkOutTime != null}">
        <th class="placeData__header">チェックアウト</th>
        <td class="placeData__data">
          <span th:text="${checkOutTime}" th:remove="tag">12:00</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.HotelService}">
        <th class="placeData__header">ホテルサービス</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.HotelService}">ルームサービス,クリーニングサービス,マッサージ（有料・手配含む）,ベビーシッター,デイユース（有料）,記念日のサプライズ協力</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Attention}">
        <th class="placeData__header">注意事項</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="text,stat:${#view.explodeBreak(tenpo.Feature[0].Property.Detail.Attention)}"> /*/-->
            <span th:text="${text}" th:remove="tag">■チェックイン時に前受金またはクレジットカードのインプリントを頂戴いたします。<br>予めご了承下さい。</span>
            <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.AreaName}">
        <th class="placeData__header">地域名/エリア名</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.AreaName}">お台場</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.feature[0].property.detail.pickUp}">
        <th class="placeData__header">送迎</th>
        <td class="placeData__data">
          <span th:text="${tenpo.feature[0].property.detail.pickUp}">あり（無料</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.AdditionalServise}">
        <th class="placeData__header">サービス料</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="text,stat:${#view.explodeBreak(tenpo.Feature[0].Property.Detail.AdditionalServise)}"> /*/-->
            <span th:text="${text}" th:remove="tag">なし</span>
            <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Charge}">
        <th class="placeData__header">チャージ</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.Charge}">\500/人</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Payment}">
        <th class="placeData__header">支払い方法</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.Payment}">テーブル</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="creditCardsComment=${#view.getFirstObjectOfOthers(tenpo, 'CreditCardsComment')}"> /*/-->
      <tr class="placeData__row" th:if="${creditCardsComment != null}">
        <th class="placeData__header">クレジットカードコメント</th>
        <td class="placeData__data">
          <span th:text="${creditCardsComment}" th:remove="tag">VISA、マスター、アメックス、DINERS、JCB</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.DressCode}">
        <th class="placeData__header">ドレスコード</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.DressCode}">襟のない服装のお客様は入店をお断りさせて頂いております。</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="parkingLevelCapacity=${#view.getFirstObjectOfOthers(tenpo, 'ParkingLevelCapacity')}"> /*/-->
      <tr class="placeData__row" th:if="${parkingLevelCapacity != null}">
        <th class="placeData__header">台数</th>
        <td class="placeData__data">
          <span th:text="${parkingLevelCapacity}" th:remove="tag">有料：114台</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.ParkingCapacity}">
        <th class="placeData__header">駐車場台数</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="text,stat:${#view.explodeBreak(tenpo.Feature[0].Property.Detail.ParkingCapacity)}"> /*/-->
          <span th:text="${text}" th:remove="tag">◆ダイエー立体駐車場 ８８台<br>　（ダイエー横<br>以下略</span>
          <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.ParkingComment}">
        <th class="placeData__header">駐車場コメント</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="text,stat:${#view.explodeBreak(tenpo.Feature[0].Property.Detail.ParkingComment)}"> /*/-->
          <span th:text="${text}" th:remove="tag">近隣の駐車場をご利用ください<br>以下略</span>
          <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.ParkingCharge}">
        <th class="placeData__header">駐車場料金</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.ParkingCharge}">1600円/１泊</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.ParkingTime}">
        <th class="placeData__header">駐車時間</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.ParkingTime}">チェックイン日～翌13:00まで（以降30分毎に800円）</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.CarLength}">
        <th class="placeData__header">車長</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.CarLength}">2.1m</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.CarWidth}">
        <th class="placeData__header">車幅</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.CarWidth}">2.1m</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.CarHeight}">
        <th class="placeData__header">車高</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.CarHeight}">2.1m</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.GuestRooms}">
        <th class="placeData__header">客室数</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.GuestRooms}">502</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Pool}">
        <th class="placeData__header">プール</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.Pool}">有(屋内)</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Amenity}">
        <th class="placeData__header">アメニティ</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.Amenity}">タオル・バスタオル,バスローブ,ハミガキセット,シャンプー・リンス,ボディソープ・石鹸,髭剃り,ボディタオル・スポンジ,シャワーキャップ,コットン,くし・ブラシ,ドライヤー,スリッパ,CDプレイヤー,有料放送,湯沸しポット,ミニバー,テレビ,衛星放送,体重計,金庫,お茶セット（無料）,ラジオ,ビデオ・オン・デマンド,シェービングジェル・フォーム,洗顔料,衣類の消臭スプレー</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Baths}">
        <th class="placeData__header">大浴場</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="text,stat:${#view.explodeBreak(tenpo.Feature[0].Property.Detail.Baths)}"> /*/-->
            <span th:text="${text}" th:remove="tag">大浴場<br>営業時間：05:00～01:00<br>以下略</span>
            <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.AccommodationNotes}">
        <th class="placeData__header">宿泊施設注意事項</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="text,stat:${#view.explodeBreak(tenpo.Feature[0].Property.Detail.AccommodationNotes)}"> /*/-->
            <span th:text="${text}" th:remove="tag">神戸ポートピアホテルでは、下記日程にて本館客室の改装工事を行います。<br>ご宿泊のお客様にご迷惑をおかけいたしますが、ご理解賜りますよう、よろしくお願い申し上げます。<br>以下略</span>
            <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.RentalWheelChairFlag}">
        <th class="placeData__header">バリアフリー対応(車椅子貸出)</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.RentalWheelChairFlag}">有</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.BrailleElevator}">
        <th class="placeData__header">バリアフリー対応(車椅子用エレベータ)</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.BrailleElevator}">有</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.BarrierFreeRoomToiletForWheelChair}">
        <th class="placeData__header">バリアフリー対応(車椅子用トイレ)</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.BarrierFreeRoomToiletForWheelChair}">有</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.AntiSteps}">
        <th class="placeData__header">バリアフリー対応(玄関館内段差対策)</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.AntiSteps}">○</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.HandicappedParkingCapacity}">
        <th class="placeData__header">障害者用駐車台数</th>
        <td class="placeData__data">
          <span th:text="${#view.removeHTMLTag(tenpo.Feature[0].Property.Detail.HandicappedParkingCapacity)}">4台</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.OtherFacilities}">
        <th class="placeData__header">その他設備</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.OtherFacilities}">バリアフリー,ルームサービス24H対応,ペットOK,屋内プール,フィットネス,エステ施設,無料送迎,託児サービス,コンビニまで徒歩5分以内,駅徒歩5分以内,ゲレンデまで近い,ビーチまで近い,駐車場あり,アクティビティあり</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.EventComment}">
        <th class="placeData__header">イベント備考</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.EventComment}">しだれ桜と大名庭園のライトアップ(3/16-4/2)</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="priceVerifiedTime=${#view.getFirstObjectOfOthers(tenpo, 'PriceVerifiedTime')}"> /*/-->
      <tr class="placeData__row" th:if="${priceVerifiedTime != null}">
        <th class="placeData__header">確認日時</th>
        <td class="placeData__data">
          <span th:text="${priceVerifiedTime}" th:remove="tag">2017-12-21</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.BusinessHourComment}">
        <th class="placeData__header">お休み</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.BusinessHourComment}">無休（年末年始を除く）</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${#view.hasFacility(tenpo.Feature[0].Property.Detail)}">
        <th class="placeData__header">施設</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="s,stat:${#view.getFacilityPhrase(tenpo.Feature[0].Property.Detail)}"> /*/-->
            <span th:text="${s}" th:remove="tag">エグゼクティブラウンジ<br>屋外テラススペースや大きな(ry<br>場所：3階<br>電話番号：03-0000-0000<br>営業時間：【営業時間】6:30～21:00 (ry<br></span>
            <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Annex}">
        <th class="placeData__header">併設施設</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.Annex}">フィットネス,屋内プール,エステ,バー,宴会場</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.HaircutPrice}">
        <th class="placeData__header">カット料金</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.HaircutPrice}">¥5,400</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.StylistNumber}">
        <th class="placeData__header">スタイリスト人数</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.StylistNumber}">スタイリスト4人／アシスタント4人	</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.ParkingAvailability}">
        <th class="placeData__header">混雑状況</th>
        <td class="placeData__data">
          <span class="placeData__situation" th:if="${'0'.equals(tenpo.Feature[0].Property.Detail.ParkingAvailabilityCode)}" th:text="${tenpo.Feature[0].Property.Detail.ParkingAvailability}">空席あり</span>
          <span class="placeData__situation--congestion" th:if="${'1'.equals(tenpo.Feature[0].Property.Detail.ParkingAvailabilityCode) or '2'.equals(tenpo.Feature[0].Property.Detail.ParkingAvailabilityCode)}" th:text="${tenpo.Feature[0].Property.Detail.ParkingAvailability}">混雑/準備中</span>
          <span class="placeData__text">（5分間隔で更新されます）</span>
          <span class="placeData__note">※実際の状況と異なる場合がございますので目安としてご利用ください。</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.OpenTwentyFourHours}">
        <th class="placeData__header">24時間営業</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.OpenTwentyFourHours}">24時間営業</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.BudgetMax}">
        <th class="placeData__header">最大料金</th>
        <td class="placeData__data">
          <span th:utext="${tenpo.Feature[0].Property.Detail.BudgetMax}">有</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.BudgetRemarks}">
        <th class="placeData__header">料金備考</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="text,stat:${#view.explodeBreak(tenpo.Feature[0].Property.Detail.BudgetRemarks)}"> /*/-->
          <span th:text="${text}" th:remove="tag">☆全メニューロング料金なし☆インスタで話題のハイ透明感<br>イルミナカラーでうる艶カラーに!美容業界で話題の髪質改善トリートメント<br>以下略</span>
          <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.EMoney}">
        <th class="placeData__header">電子マネー</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.EMoney}">未対応</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Receipt}">
        <th class="placeData__header">領収書発行</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.Receipt}">有</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.ThousandYenBill}">
        <th class="placeData__header">千円札</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.ThousandYenBill}">有</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="pointCardComment=${#view.getFirstObjectOfOthers(tenpo, 'PointCardComment')}"> /*/-->
      <tr class="placeData__row" th:if="${pointCardComment != null}">
        <th class="placeData__header">ポイントカードコメント</th>
        <td class="placeData__data">
          <span th:text="${pointCardComment}" th:remove="tag">Tポイント</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.ParkingControlArea}">
        <th class="placeData__header">駐車場取り締まりエリア</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.ParkingControlArea}">対象外</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.MinGroundClearance}">
        <th class="placeData__header">最低地上高制限</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.MinGroundClearance}">15.0cm</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="tpointComment=${#view.getFirstObjectOfOthers(tenpo, 'TpointComment')}"> /*/-->
      <tr class="placeData__row" th:if="${tpointComment != null}">
        <th class="placeData__header">Tポイント備考</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="text,stat:${#view.explodeBreak(tpointComment)}"> /*/-->
          <span th:text="${text}" th:remove="tag">＜Ｔポイントについて＞<br>※Ｔカードは、料金表示後、精算開始前に精算機へ挿入してください。<br>※以下略</span>
          <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <!--/*/ <th:block th:with="tPointRate=${#view.getTPointRate(tenpo)}"> /*/-->
      <tr class="placeData__row" th:if="${tPointRate != null}">
        <th class="placeData__header">Ｔポイント付与率</th>
        <td class="placeData__data">
          <span th:text="${tPointRate}">108円（税込）につき1ポイント</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.MinicarLimit}">
        <th class="placeData__header">軽自動車専用</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.MinicarLimit}">専用ではない</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.ParkingCapacity}">
        <th class="placeData__header">駐車場タイプ</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="s,stat:${#view.getParkingInfo(tenpo.Feature[0].Property.Detail)}"> /*/-->
            <span th:text="${s}" th:remove="tag">駐車場台数/10台<br>月極め駐車場台数/0台</span>
            <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.MKPCardSellFlag != null}">
        <th class="placeData__header">MKPギフトカード発売</th>
        <td class="placeData__data">
          <span th:if="${tenpo.Feature[0].Property.Detail.MKPCardSellFlag == 'true'}" th:remove="tag">あり</span>
          <span th:unless="${tenpo.Feature[0].Property.Detail.MKPCardSellFlag == 'true'}" th:remove="tag">なし</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="comment=${#view.getFirstObjectOfOthers(tenpo, 'Comment')}"> /*/-->
      <tr class="placeData__row" th:if="${comment != null}">
        <th class="placeData__header">その他説明/備考</th>
        <td class="placeData__data">
          <!--/*/ <th:block th:each="text,stat:${#view.explodeBreak(comment)}"> /*/-->
          <span th:text="${text}" th:remove="tag">各CPの備考が並ぶ<br>改行も含む<br>※以下略</span>
          <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.Pet}">
        <th class="placeData__header">ペット同伴</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.Pet}">ペット同伴不可</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.ReferenceEmail}">
        <th class="placeData__header">お問い合わせ先メールアドレス</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.ReferenceEmail}">info@gyokusendo.co.jp</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.OpenSeason}">
        <th class="placeData__header">開設期間</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.OpenSeason}">通年</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.VideoProgramName}">
        <th class="placeData__header">番組名</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.VideoProgramName}">癒しの国 日本 .TV　～日本の桜名所～</span>
        </td>
      </tr>
      <tr class="placeData__row" th:if="${tenpo.Feature[0].Property.Detail.VideoName}">
        <th class="placeData__header">映像名</th>
        <td class="placeData__data">
          <span th:text="${tenpo.Feature[0].Property.Detail.VideoName}">癒しの国 日本 .TV　～日本の桜名所～　福島県　鶴ケ城址 （会津若松城）</span>
        </td>
      </tr>
      <!--/*/ <th:block th:with="handingItem=${#view.getFirstObjectOfOthers(tenpo, 'HandingItem')}"> /*/-->
      <tr class="placeData__row" th:if="${handingItem != null}">
        <th class="placeData__header">取り扱い商品</th>
        <td class="placeData__data">
          <span th:text="${handingItem}" th:remove="tag">家具,オフィス家具,厨房機器・店舗用品,レディースファッション,メンズファッション,ブランド,家電,AV機器,ゲーム・ゲームソフト,本・書籍,アンティーク・書画骨董,チケット・金券,高級ガラス・陶磁器,コレクターズアイテム,楽器,介護用品,キッズ＆ベビー,カメラ・光学機器,着物・和服,カー用品,ゴルフ用品,釣り具,マリンスポーツ用品,ウインタースポーツ用品,その他スポーツ,ジュエリー・貴金属,時計,美術品・絵画,バイク-小中大型,バイク-原付,自転車,スマホ・携帯,まとめて片付け 不用品,ブランド家具,工具・農機具,事務機器,金・プラチナ・ダイヤモンド,パソコン,パソコン周辺機器・パーツ,CD・DVDほか</span>
        </td>
      </tr>
      <!--/*/ </th:block> /*/-->
    </table>
    <div id="report" class="placeData__links tracked_mods">
      <p class="placeData__notice"><a href="https://biz.points.yahoo.co.jp/promo/kameiten/index.html?fr=poiedit_loco" class="placeData__link" data-ylk="slk:woklnk">この店舗の関係者の方へ</a></p>
      <p class="placeData__notice"><a th:href="@{https://loco.yahoo.co.jp/feedback/form/(url=${#view.getUrl(tenpo.Feature[0], originalViewName)})}" class="placeData__link" target="_blank" rel="nofollow" data-ylk="slk:reportlnk">掲載情報の修正・報告はこちら</a></p>
    </div>
  </div>
