<th:block th:with="genrecd=${genrecd}, hasMenu=${#view.hasMenu(tenpo.feature[0].property.detail)}, isAsoview=${#view.isAsoview(tenpo.feature[0])}, hasCourse=${#view.hasCourse(courseList)}, hasMarriageProperty=${#view.hasMarriageProperty(wedding)}, hasWeddingProperty=${#view.hasWeddingProperty(wedding)}, hasBridalProperty=${#view.hasBridalProperty(wedding)}">
  <th:block th:with="isGourmet=${#view.isGourmet(hasMenu, hasCourse)}, isZexy=${#view.isZexy(tenpo.feature[0], wedding, hasMarriageProperty, hasWeddingProperty, hasBridalProperty)}">
    <th:block th:with="navigationPriority=${#view.getNavigationPriority(genrecd, isGourmet, isAsoview, isZexy)}">
      <th:block th:with="menuSubNavigations=${#view.getMenuSubNavigations(tenpo.feature[0], navigationPriority, hasMenu, hasCourse, hasMarriageProperty, hasWeddingProperty, hasBridalProperty)}, menuText=${#view.getMenuText(originalViewName, navigationPriority)}, menuLink=${#view.getMenuLink(tenpo.feature[0], navigationPriority, hasCourse, hasMarriageProperty, hasWeddingProperty)}, menuType=${#view.getMenuType(originalViewName, isGourmet, isAsoview, isZexy)}">
        <div class="placeNavigation tracked_mods" id="menunavi">
          <ul class="placeNavigation__body">
            <!-- 店舗情報 -->
            <li class="placeNavigation__list">
              <div th:if="${originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).PLACE_DETAIL}" class="placeNavigation__link--active">
                <span class="placeNavigation__icon--shop placeNavigation__icon--active">お店情報</span>
              </div>
              <a th:unless="${originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).PLACE_DETAIL}" th:href="@{/place/g-{gid}/(gid=${tenpo.feature[0].gid})}" class="placeNavigation__link" data-ylk="slk:place;pos:0">
                <span class="placeNavigation__icon--shop">お店情報</span>
              </a>
            </li>
            <!-- /店舗情報 -->
            <!-- 写真 -->
            <li class="placeNavigation__list">
              <div th:if="${originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).PHOTO_LIST}" class="placeNavigation__link--active">
                <span class="placeNavigation__icon--photo placeNavigation__icon--active">写真</span>
              </div>
              <a th:unless="${originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).PHOTO_LIST}" th:href="@{/place/g-{gid}/photo/(gid=${tenpo.feature[0].gid})}" class="placeNavigation__link" data-ylk="slk:picture;pos:0">
                <span class="placeNavigation__icon--photo">写真</span>
              </a>
            </li>
            <!-- /写真 -->
            <!-- 口コミ -->
            <li class="placeNavigation__list">
              <div th:if="${originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).REVIEW_LIST || originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).REVIEW_DETAIL}" class="placeNavigation__link--active">
                <span class="placeNavigation__icon--review placeNavigation__icon--active">クチコミ</span>
              </div>
              <a th:unless="${originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).REVIEW_LIST || originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).REVIEW_DETAIL}" th:href="@{/place/g-{gid}/review/(gid=${tenpo.feature[0].gid})}" class="placeNavigation__link" data-ylk="slk:rvw;pos:0">
                <span class="placeNavigation__icon--review">クチコミ</span>
              </a>
            </li>
            <!-- /口コミ -->
            <!-- メニュー -->
            <li class="placeNavigation__list">
              <!-- メニュー active: 現在メニュー系ページにいる -->
              <div th:if="${menuType == 'active'}" class="placeNavigation__link--active">
                <span class="placeNavigation__icon--menu placeNavigation__icon--active" th:text="${#view.getMenuText(originalViewName, navigationPriority)}">メニュー</span>
              </div>
              <!-- メニュー enable: クリックできる -->
              <div v-on:mouseenter="showMenuSubNavigation = true" v-on:mouseleave="showMenuSubNavigation = false">
                <a th:if="${menuType == 'enable'}" th:href="${menuLink}" class="placeNavigation__link" th:attr="data-ylk=${#view.getMenuLinkUlt(menuLink)}">
                  <span class="placeNavigation__icon--menu" th:text="${#view.getMenuText(originalViewName, navigationPriority)}">メニュー</span>
                </a>
                <ul class="placeNavigation__sub placeNavigationSub" v-show="showMenuSubNavigation" v-cloak>
                  <li class="placeNavigationSub__list" th:each="menuSubNavigation : ${menuSubNavigations}">
                    <a th:href="${menuSubNavigation.url}" class="placeNavigationSub__link" th:text="${menuSubNavigation.title}" th:attr="data-ylk=${#view.getSubMenuLinkUlt(menuSubNavigation.url)}">コース</a>
                  </li>
                </ul>
              </div>
              <!-- メニュー 非活性 -->
              <div th:unless="${menuType == 'active'} or ${menuType == 'enable'}" class="placeNavigation__link--disabled">
                <span class="placeNavigation__icon--menu placeNavigation__icon--disabled">
                  メニュー
                </span>
              </div>
            </li>
            <!-- /メニュー -->
            <!-- クーポン -->
            <li class="placeNavigation__list">
              <div th:if="${originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).COUPON_LIST}" class="placeNavigation__link--active">
                <span class="placeNavigation__icon--coupon placeNavigation__icon--active">クーポン</span>
              </div>
              <th:block th:unless="${originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).COUPON_LIST}">
                <a th:if="${tenpo.Feature[0].Property.Coupon.length}" th:href="@{/place/g-{gid}/coupon/(gid=${tenpo.feature[0].gid})}" class="placeNavigation__link" data-ylk="slk:coupon;pos:0">
                  <span class="placeNavigation__icon--coupon">
                    クーポン
                  </span>
                </a>
                <div th:unless="${tenpo.Feature[0].Property.Coupon.length}" class="placeNavigation__link--disabled">
                  <span class="placeNavigation__icon--coupon placeNavigation__icon--disabled">
                    クーポン
                  </span>
                </div>
              </th:block>
            </li>
            <!-- /クーポン -->
            <!-- 地図 -->
            <li class="placeNavigation__list--last">
              <div th:if="${originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).MAP_DETAIL}" class="placeNavigation__link--active">
                <span class="placeNavigation__icon--map placeNavigation__icon--active">地図</span>
              </div>
              <a th:unless="${originalViewName == T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).MAP_DETAIL}" th:href="@{/place/g-{gid}/map/(gid=${tenpo.feature[0].gid})}" class="placeNavigation__link" data-ylk="slk:map;pos:0">
                <span class="placeNavigation__icon--map">地図</span>
              </a>
            </li>
            <!-- /地図 -->
          </ul>
        </div>
      </th:block>
    </th:block>
  </th:block>
</th:block>
