<div class="placeSummary tracked_mods" id="placehd">
  <div class="placeSummary__name placeSummaryName">
    <p class="placeSummaryName__title" th:text="${tenpo.feature[0].name}">炭火焼肉 An</p>
    <clip-button :tenpo="tenpo" :user-info="userInfo"></clip-button>
  </div>
  <div class="placeSummary__informations">
    <div class="placeSummary__information--topicality">
      <!--/*/ <th:block th:if="${#view.isGourmet(tenpo.feature[0].property.genre)}"> /*/-->
      <!-- 話題沸騰 -->
      <div class="placeSummary__topicality placeSummaryTopicality--high" v-on:mouseenter="reviewTooltip = true"  v-on:mouseleave="reviewTooltip = false" th:if="'1' == ${tenpo.feature[0].property.webTopic.label}">
        <p class="placeSummaryTopicality__text--high">
          <span class="placeSummaryTopicality__text--result" th:text="'話題沸騰 ' + ${tenpo.feature[0].property.webTopic.score} + '/'">話題沸騰 91/</span>
          <span class="placeSummaryTopicality__text--denominator">100</span>
          <span class="placeSummaryTopicality__tooltip" v-bind:class="[reviewTooltip? 'placeSummaryTopicality__tooltip--show' : 'placeSummaryTopicality__tooltip']">ヤフーで検索されたデータなどをもとに、世の中の話題度をスコア表示しています。</span>
        </p>
      </div>
      <!-- /話題沸騰 -->
      <!-- 注目 -->
      <div class="placeSummary__topicality placeSummaryTopicality--middle" v-on:mouseenter="reviewTooltip = true"  v-on:mouseleave="reviewTooltip = false" th:if="'2' == ${tenpo.feature[0].property.webTopic.label}">
        <p class="placeSummaryTopicality__text--middle">
          <span class="placeSummaryTopicality__text--result" th:text="'注目 ' + ${tenpo.feature[0].property.webTopic.score} + '/'">注目 81/</span>
          <span class="placeSummaryTopicality__text--denominator">100</span>
          <span class="placeSummaryTopicality__tooltip" v-bind:class="[reviewTooltip? 'placeSummaryTopicality__tooltip--show' : 'placeSummaryTopicality__tooltip']">ヤフーで検索されたデータなどをもとに、世の中の話題度をスコア表示しています。</span>
        </p>
      </div>
      <!-- /注目 -->
      <!-- テキストなし -->
      <div class="placeSummary__topicality placeSummaryTopicality--low" v-on:mouseenter="reviewTooltip = true"  v-on:mouseleave="reviewTooltip = false" th:if="'3' == ${tenpo.feature[0].property.webTopic.label}">
        <p class="placeSummaryTopicality__text--low">
          <span class="placeSummaryTopicality__text--result" th:text="${tenpo.feature[0].property.webTopic.score} + ' /'">51/</span>
          <span class="placeSummaryTopicality__text--denominator">100</span>
          <span class="placeSummaryTopicality__tooltip" v-bind:class="[reviewTooltip? 'placeSummaryTopicality__tooltip--show' : 'placeSummaryTopicality__tooltip']">ヤフーで検索されたデータなどをもとに、世の中の話題度をスコア表示しています。</span>
        </p>
      </div>
      <!-- /テキストなし -->
      <!-- 話題度表示なし -->
      <div class="placeSummary__topicality placeSummaryTopicality--low" v-on:mouseenter="reviewTooltip = true"  v-on:mouseleave="reviewTooltip = false" th:if="'0' == ${tenpo.feature[0].property.webTopic.label}">
        <p class="placeSummaryTopicality__text--low">
          <span class="placeSummaryTopicality__text--result">-</span>
          <span class="placeSummaryTopicality__tooltip" v-bind:class="[reviewTooltip? 'placeSummaryTopicality__tooltip--show' : 'placeSummaryTopicality__tooltip']">ヤフーで検索されたデータなどをもとに、世の中の話題度をスコア表示しています。</span>
        </p>
      </div>
      <!-- /話題度表示なし -->
      <!--/*/ </th:block> /*/-->
      <a v-bind:href="$root.addUrlParameters('/place/g-' + tenpo.Feature[0].Gid + '/review/', ['sc_type'])" class="placeSummaryTopicality__review" v-if="status.comment === 'binded' && comment.ResultInfo.Total > 0" v-text="comment.ResultInfo.Total + '件のクチコミ'" data-ylk="slk:rvlst;pos:0"></a>
    </div>
    <ul
      class="placeSummary__information"
      th:with="genrecd=${tenpo.feature[0].property.genre.length} > 0 ? ${tenpo.feature[0].property.genre[0].code} : null, searchAreas=${tenpo.feature[0].property.searchArea}, stations=${tenpo.feature[0].property.station}">
      <li
        class="placeSummary__location placeSummaryLocation"
        th:if="${searchAreas.length > 0 or stations.length > 0}">
        <a
          href=""
          class="placeSummaryLocation__link"
          th:if="${searchAreas.length} > 0"
          th:href="@{/search/(areacd=${searchAreas[searchAreas.length-1].code},genrecd=${#strings.substring(genrecd,0,2)})}"
          th:text="${searchAreas[searchAreas.length-1].name}">
          六本木
        </a>
        <span th:if="${searchAreas.length > 0 and stations.length > 0}">&nbsp;/&nbsp;</span>
        <a
          href=""
          class="placeSummaryLocation__link"
          th:if="${stations.length} > 0"
          th:href="@{/search/(stationcd=${stations[0].id},genrecd=${#strings.substring(genrecd,0,2)})}"
          th:text="${stations[0].name} + '駅'">
          六本木駅
        </a>
      </li>
      <li class="placeSummary__gerne placeSummaryGerne" th:if="${not #lists.isEmpty(tenpo.feature[0].property.genre)}">
        <div th:remove="tag" th:each="genre, iterStat : ${tenpo.feature[0].property.genre}">
          <a href="#" th:href="@{/search/(areacd=${searchAreas[searchAreas.length-1].code},genrecd=${genre.code})}" class="placeSummaryGerne__link" th:text="${genre.Name}">焼肉</a>
          <span th:if="!${iterStat.last}" th:remove="tag">/</span>
          <a href="#" class="placeSummaryGerne__link" th:if="${#lists.isEmpty(genre)}">ホルモン</a>
        </div>
      </li>
    </ul>
    <ul class="placeSummary__information--budget">
      <li class="placeSummary__budget placeSummaryBudget" th:if="not ${#strings.isEmpty(tenpo.feature[0].property.detail.budgetLunch)}"><span class="placeSummaryBudget__icon--lunch">ランチ</span><span class="placeSummaryBudget__text" th:text="${#view.getBudget(tenpo.feature[0].property.detail.budgetLunch)}">1,000円〜1,999円</span></li>
      <li class="placeSummary__budget placeSummaryBudget" th:if="not ${#strings.isEmpty(tenpo.feature[0].property.detail.budgetDinner)}"><span class="placeSummaryBudget__icon--dinner">ディナー</span><span class="placeSummaryBudget__text" th:text="${#view.getBudget(tenpo.feature[0].property.detail.budgetDinner)}">6,000円〜7,999円</span></li>
    </ul>
    <ul class="placeSummary__information">
      <li class="placeSummary__holiday" th:if="not ${#strings.isEmpty(tenpo.feature[0].property.detail.businessHoliday)}">
        <span th:remove="tag">定休日：</span>
        <!--/*/ <th:block th:each="s,stat:${#view.explodeBreak(tenpo.feature[0].property.detail.businessHoliday)}"> /*/-->
        <span th:text="${s}" th:remove="tag">定休日：年中無休＜12／31・1／2・3の営業時間＞焼肉:11:00～22:00</span>
        <br th:if="${!stat.last}" />
        <!--/*/ </th:block> /*/-->
      </li>
    </ul>
    <a rel="nofollow" class="placeSummary__detailButton" v-if="detailButton" @click="scrollToElementId('placeDetailedData')" data-ylk="slk:pldtl;pos:0">店舗情報（詳細）</a>
  </div>
</div>
