<div class="placeVideo tracked_mods" th:if="${videoContentId}" id="movie" @click="sendClickBeacon('movie', '_')">
  <div class="placeVideo__body">
    <div class="placeVideo__movie">
      <div class="yvpub-player" th:attr="data-contentid=${videoContentId}" data-contentid="92769" data-width="630" data-height="354"></div>
    </div>
    <p class="placeVideo__text">
      <span th:if="${tenpo.Feature[0].Description}" th:text="${tenpo.Feature[0].Description}" th:remove="tag">NEW YORKのグラマシーにあるようなレストラン。</span>
      <span th:if="${tenpo.Feature[0].Property.CatchCopy}" th:text="${tenpo.Feature[0].Property.CatchCopy}" th:remove="tag">クールでラグジュアリーなNYスタイルで味わうブランチ&amp;ディナーは特別な時間を過ごさせてくれます。</span>
    </p>
  </div>
</div>
