<template>
  <div class="fair">
    <div class="fair__title fairTitle tracked_mods" v-if="title" id="brdcp">
      <h2 class="fairTitle__main" v-text="title"></h2>
      <p class="fairTitle__provider" v-if="cpName">情報提供元：<a :href="cpUrl" class="fairTitle__link" target="_blank" v-text="cpName" rel="nofollow" :data-ylk="getDataYlk()"></a></p>
    </div>
    <counter :page="pageInfo" :pagination="pagination" page-name="bridalFair" @prev-page="prevPage" @next-page="nextPage"></counter>
    <div id="brdlis" class="tracked_mods">
      <article class="fair__item" v-for="(item, itemIndex) in selectedItems" v-bind:key="item.id">
        <h3 class="fair__name fairName">
          <a :href="item.WeddingFairDetailUrl" target="_blank" class="fairName__link" v-text="item.WeddingFairName" rel="nofollow" :data-ylk="`slk:brdtle;pos:${itemIndex + 1}`"></a>
        </h3>
        <p class="fair__situation" v-if="item.WeddingFairSeat" v-text="item.WeddingFairSeat"></p>
        <div class="fair__contents">
          <div class="fair__mainContents">
            <p class="fair__text" v-text="item.WeddingFairContent"></p>
            <table class="fair__table">
              <tr class="fair__row" v-if="item.WeddingFairSchejule && item.WeddingFairStartTime && item.WeddingFairEndTime">
                <th class="fair__header">開催日時</th>
                <td class="fair__data">{{item.WeddingFairSchejule}} {{item.WeddingFairStartTime}}〜{{item.WeddingFairEndTime}}</td>
              </tr>
              <tr class="fair__row" v-if="item.WeddingFairKind">
                <th class="fair__header">内容</th>
                <td class="fair__data" v-text="item.WeddingFairKind"></td>
              </tr>
              <tr class="fair__row" v-if="item.WeddingFairBenefit">
                <th class="fair__header">特典</th>
                <td class="fair__data" v-text="item.WeddingFairBenefit"></td>
              </tr>
            </table>
            <p class="fair__button fairButton"><a :href="item.WeddingFairReservationPcUrl" class="fairButton__link" target="_blank" rel="nofollow" :data-ylk="`slk:brdrsbtn;pos:${itemIndex + 1}`">このフェアを予約</a></p>
          </div>
          <div class="fair__subContents" v-if="item.WeddingFairImageUrl">
            <a :href="item.WeddingFairDetailUrl" class="fair__image fairImage" target="_blank" rel="nofollow" :data-ylk="`slk:brdimg;pos:${itemIndex + 1}`">
              <img width=218 height=218 v-if="isImageLoaded" :src="getImage(item.WeddingFairImageUrl)" :alt="item.WeddingFairName" class="fairImage__image" />
            </a>
            <p class="fair__message" v-if="item.WeddingFairImageCaption" v-text="item.WeddingFairImageCaption"></p>
          </div>
        </div>
      </article>
    </div>
    <counter :is-counter-border="false" :is-counter-pagination="false" page-name="bridalFair" :page="pageInfo" :pagination="pagination" @prev-page="prevPage" @next-page="nextPage"></counter>
    <pagination :page="pageInfo" :pagination="pagination" page-name="bridalFair" @paging="paging" @prev-page="prevPage" @next-page="nextPage" :total-items="items.length"></pagination>
  </div>
</template>

<script>
  import Base from '@lib/baseComponent'
  import Pagination from '@lib/Pagination.js'
  import counter from '@pc/components/place/counter.vue'
  import pagination from '@pc/components/place/pagination.vue'
  export default {
    extends: Base,
    components: {
      counter,
      pagination
    },
    props: {
      gid: String,
      items: Array, // 表示対象
      title: String,
      cpUrl: String,
      cpName: String
    },
    data: function () {
      return {
        page: 1,
        totalItems: this.items.length,
        itemsPerPage: 10,
        selectedItems: [], // ページ番号に対応する表示対象
        pagination: new Pagination(),
        pageInfo: {},
        images: [],
        isImageLoaded: false
      }
    },
    watch: {
      // ページ番号が更新されたら表示対象を更新
      page: function () {
        this.updateItems()
      }
    },
    mounted () {
      this.updateItems()
      // ブラウザバック
      window.onpopstate = (e) => {
        if (e.state) {
          this.updatePage(this.pagination.getPage())
        } else {
          this.updatePage(1)
        }
      }
      // ページデータ
      this.pageInfo = {
        'pageId': this.pagination.getPage() - 1, // 表示するページ番号
        'pageDisplaySize': 10, //  画面に表示枚数
        'pageCount': Math.ceil(this.items.length / 10), // 総ページ数
        'dataCount': this.items.length, // 総件数
        'displayFlag': false // 要素表示フラグ
      }
      // ページ番号を初期化
      this.updatePage(this.pagination.getPage())
      // 画像チェック
      this.checkImages()
    },
    methods: {
      // 表示対象のアイテムを選別する
      updateItems: function () {
        if (!this.items.length) {
          return
        }
        this.selectedItems = this.items.slice(this.itemsPerPage * (this.page - 1), this.itemsPerPage * this.page)
      },
      getImageUrl (url) {
        return !url ? this.namespace.noImage['200x200'] : url
      },
      // 子コンポーネントからのイベントを補足
      // 子→親
      paging (value) {
        // 0以下は無視
        if (value < 1) {
          return
        }
        // データを更新
        this.updatePage(value)
        // TODO: ページ番号指定の時はPagination.vueでthis.pagination.pagingを実行し、そうじゃない時は実行しないので統一する
        // this.pagination.paging(value)
      },
      prevPage () {
        this.page--
        this.paging(this.page)
        // TODO: ページ番号指定の時はPagination.vueでthis.pagination.pagingを実行し、そうじゃない時は実行しないので統一する
        this.pagination.paging(this.page)
      },
      nextPage () {
        this.page++
        this.paging(this.page)
        // TODO: ページ番号指定の時はPagination.vueでthis.pagination.pagingを実行し、そうじゃない時は実行しないので統一する
        this.pagination.paging(this.page)
      },
      // ページ番号を更新して子コンポーネントに伝播させる
      // 親→子
      updatePage (value) {
        if (value > 0 && value <= this.pageInfo.pageCount) {
          this.page = value
          this.pageInfo.pageId = value - 1
        } else {
          // データが存在しないページが指定された場合は、1ページ目を指定
          this.page = 1
          this.pageInfo.pageId = 0
        }
      },
      checkImages () {
        let tasks = []
        for (const value of this.items) {
          tasks.push(this.loadImage(value.WeddingFairImageUrl))
        }
        Promise.all(tasks)
          .then((value) => {
            for (let image of value) {
              if (image && image.width > 20 && image.height > 20) {
                this.images.push(image.src)
              }
            }
            this.isImageLoaded = true
          })
      },
      getImage (src) {
        if (this.images.includes(src)) {
          return src
        } else {
          return this.namespace.noImage['200x200']
        }
      },
      getDataYlk (cid = this.namespace.cid.zexy) {
        // 今はゼクシィしかないので、CIDはゼクシィ固定
        return (cid && this.namespace.CpName[cid]) ? `cp_name:${this.namespace.CpName[cid]};pos:1;` : ''
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.fair {
  margin-bottom: 10px;
  &__item {
    margin-bottom: 16px;
    border-bottom: 1px dotted #999;
  }
  &__situation {
    margin-bottom: 10px;
    padding: 0 10px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background-color: #91b9bb;
    display: inline-block;
  }
  &__text {
    margin-bottom: 10px;
  }
  &__contents {
    display: table;
    margin-bottom: 20px;
  }
  &__mainContents {
    display: table-cell;
    width: 100%;
    padding-right: 16px;
    vertical-align: top;
  }
  &__table {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #f0f0e1;
  }
  &__row {
    border-bottom: 1px dotted #cecfc2;
    &:last-child {
      border-bottom: none;
    }
  }
  &__header {
    width: 84px;
    padding: 8px;
    color: $textColorBlack;
    background-color: #f0f0e1;
  }
  &__data {
    min-width: 300px;
    padding: 8px 10px;
    color: $textColorGray;
  }
  &__subContents {
    display: table-cell;
    width: 220px;
    margin-left: auto;
  }
  &__message {
    padding: 10px;
    font-size: 12px;
    background: #f4f4f4;
  }
}

.fairTitle {
  @include placeTitleBorder;
  display: flex;
  justify-content: space-between;
  &__main {
    @include placeTitle;
    padding-right: 10px;
  }
  &__provider {
    padding: 5px 0 8px;
    font-size: 10px;
    white-space: nowrap;
  }
}

.fairName {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}
.fairButton {
  width: 270px;
  height: 32px;
  &__link {
    @include button-main;
    line-height: 32px;
    display: block;
  }
}

.fairImage {
  display: block;
  margin-bottom: 10px;
  line-height: 0;
  transition: all .2s;
  &:hover {
    opacity: .8;
  }
  &:last-child{
    margin-bottom: 0;
  }
}

</style>
