<template>
<div id="picture" class="routeMap">地図が入りますpc</div>
</template>

<script>
export default {
  props: ['tenpo'],
  mounted: function () {
    const coordinate = this.tenpo.Feature[0].Geometry.Coordinates.split(',')

    /* global Y */
    const ymap = new Y.Map('picture')
    ymap.drawMap(new Y.LatLng(coordinate[1], coordinate[0]), 17, Y.LayerSetId.NORMAL)
    ymap.addControl(new Y.HomeControl())
    ymap.addControl(new Y.SliderZoomControlHorizontal())
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';
.routeMap {
  width: 100%;
  height: 482px;
  margin-bottom: 10px;
}
</style>
