<template>
<div id="m_access" class="route tracked_mods">
  <p class="route__address">{{ address }}</p>
  <p class="route__text" v-for="(station, stationIndex) in stations" :key="station">
    {{ routeText(station) }}（<a :href="mapUrl(station)" :data-ylk="`slk:navi;pos:${stationIndex}`">道案内</a>）
    <a :href="transitUrl(station)" class="route__button" :data-ylk="`slk:transit;pos:${stationIndex}`">路線</a>
  </p>
</div>
</template>

<script>
import Base from '@lib/baseComponent'

export default {
  props: ['tenpo'],
  extends: Base,
  data () {
    return {
      address: '',
      stations: {}
    }
  },
  mounted: function () {
    const address = this.tenpo.Feature[0].Property.Address
    const zipCode = this.tenpo.Feature[0].Property.Detail.ZipCode
    this.address = zipCode ? `〒${zipCode} ${address}` : address

    // 最大3行表示なので、4つ目以降の最寄駅情報は削除する
    this.stations = this.tenpo.Feature[0].Property.Station.slice(0, 3)
  },
  methods: {
    /**
     * 道案内のテキストを更新
     * @param {Object} station: 1つの駅情報 （例）tenpo.Feature[0].Property.Station[0]
     * @returns {String} 道案内のテキスト
     */
    routeText: function (station) {
      const exit = station.Exit.endsWith('口') ? station.Exit : station.Exit + '出口'
      return station.Name + '駅' + exit + 'から徒歩約' + station.Time + '分'
    },
    /**
     * 地図URLを更新
     * @param {Object} station: 1つの駅情報 （例）tenpo.Feature[0].Property.Station[0]
     * @returns {String} 地図のURL
     */
    mapUrl: function (station) {
      const coordinates = this.tenpo.Feature[0].Geometry.Coordinates.split(',')
      return this.namespace.Url.map + '/maps?type=scroll&fa=rss&datum=wgs&ei=UTF-8' +
        '&stn=' + station.SubId +
        '&rsn1=' + this.tenpo.Feature[0].Name +
        '&rsn0=' + station.Name +
        '&lat1=' + coordinates[1] +
        '&lon1=' + coordinates[0]
    },
    /**
     * 路線URLを更新
     * @param {Object} station: 1つの駅情報 （例）tenpo.Feature[0].Property.Station[0]
     * @returns {String} 路線のURL
     */
    transitUrl: function (station) {
      return this.namespace.Url.transit + '/?to=' + station.Name
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.route {
  padding: 10px 0 10px 26px;
  border-bottom: 1px dotted #999;
  font-size: 13px;
  &__address {
    position: relative;
    margin-bottom: 4px;
    &:before {
      position: absolute;
      top: -3px;
      left: -20px;
      @include RiffIcon("\E12A", 18, #82754A);
    }
  }
  &__text{
    line-height: 1.8;
  }
  &__button{
    @include button-normal;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 48px;
    height: 20px;
    padding: 3px 5px 0;
    font-size: 11px;
    text-align: right;
    line-height: 1;
    box-sizing: border-box;
    &::before {
      @include LocoIcon("\e901", 12, #666666);
      top: 3px;
      left: 4px;
    }
  }
}
</style>
