<template>
<ul id="m_viewcg" class="viewChange tracked_mods">
  <li class="viewChange__item">
    <a :href="mapUrl" class="viewChange__map" rel="nofollow" data-ylk="slk:maps;pos:0">地図を拡大して表示</a>
  </li>
  <li class="viewChange__item">
    <a :href="printUrl" class="viewChange__print" rel="nofollow" data-ylk="slk:print;pos:0">印刷ページを表示</a>
  </li>
</ul>
</template>

<script>
export default {
  props: ['tenpo', 'namespace'],
  data () {
    return {
      mapUrl: '',
      printUrl: ''
    }
  },
  mounted: function () {
    const coordinate = this.tenpo.Feature[0].Geometry.Coordinates.split(',')
    this.mapUrl = this.namespace.Url.map + '/maps?ei=UTF-8&z=16&fa=ids' +
      '&lat=' + coordinate[1] +
      '&lon=' + coordinate[0] +
      '&uid=' + this.tenpo.Feature[0].Property.Uid +
      '&p=' + this.tenpo.Feature[0].Name
    this.printUrl = this.namespace.Url.map + '/print?ei=UTF-8&z=16&fa=ids&home=on' +
      '&lat=' + coordinate[1] +
      '&lon=' + coordinate[0] +
      '&uid=' + this.tenpo.Feature[0].Property.Uid +
      '&p=' + this.tenpo.Feature[0].Name
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.viewChange {
  text-align: center;
  margin: 12px 0 20px;
  font-size: 13px;
  line-height: 1;
  &__item {
    display: inline-block;
    margin: 0 10px;
    &:not(:last-child)::after {
      content: "|";
      height: 100%;
      margin-left: 10px;
      display: inline-block;
    }
  }
  &__map {
    position: relative;
    padding-left: 5px;
    &:before {
      @include RiffIcon("\E152", 20, #82754A);
      top: 0;
      left: -16px;
    }
  }
  &__print {
    position: relative;
    padding: 0 5px;
    margin-left: 10px;
    &:before {
      @include RiffIcon("\E133", 20, #82754A);
      top: 0;
      left: -18px;
    }
  }
}
</style>
