<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  ${require('../../partial/common/metaData.html')}
</head>
<body>
  <div id="wrapper">
    <!-- マストヘッド -->
    ${require('../../partial/common/yjMastHead.html')}
    <!-- /マストヘッド -->
    <div id="app">
      <main class="layout__container">
        <!-- 店舗情報など（共通）-->
        ${require('../../partial/place/commonData.html')} ${require('../../partial/place/courseData.html')}
        <!-- /店舗情報など（共通）-->
        <!--グロナビ（共通）-->
        ${require('../../partial/common/commonGlobalNavigation.html')}
        <!--/グロナビ（共通）-->
        <div class="layout__main">
          <!--店舗ヘッダー（共通）-->
          ${require('../../partial/place/placeSummary.html')}
          ${require('../../partial/place/placeNavigation.html')}
          <!--/店舗ヘッダー（共通）-->
          <div v-if="status.photoRequest=='error'">
            <error></error>
          </div>
          <div v-if="status.resizedImages01=='error' || status.resizedImages02=='error' || status.resizedImages03=='error'">
            <error></error>
          </div>
          <div v-if="status.photoRequest=='on-binding'">
            <div class="loadingWrapper">
              <loading></loading>
            </div>
          </div>
          <div v-if="status.photoRequest=='binded' && page.dataCount > 0">
            <div v-if="status.resizedImages01=='on-binding' && status.resizedImages02=='on-binding' && status.resizedImages03=='on-binding'">
              <div class="loadingWrapper">
                <loading></loading>
              </div>
            </div>
            <div v-if="status.resizedImages01=='binded' || status.resizedImages02=='binded' || status.resizedImages03=='binded'">
              <list :photo="photo" :page="page" :pagination="pagination" :resizedimages01="resizedImages01" :resizedimages02="resizedImages02" :resizedimages03="resizedImages03" :tenpo="tenpo"></list>
              <pagination :page="page" :pagination="pagination"></pagination>
            </div>
          </div>
          <div v-if="status.photoRequest=='binded' && page.dataCount == 0">
            <list :photo="photo" :page="page" :pagination="pagination" :resizedimages01="resizedImages01" :resizedimages02="resizedImages02" :resizedimages03="resizedImages03" :tenpo="tenpo"></list>
          </div>
          <!--ページトップへ（共通）-->
          <page-top></page-top>
          <!--/ページトップへ（共通）-->
          <!-- YDN(1)広告 -->
          <div id="yjAdsYdn1"></div>
          <!-- /YDN(1)広告 -->
          <!-- 詳細情報（共通）-->
          ${require('../../partial/place/placeData.html')}
          <!-- /詳細情報（共通）-->
          <!-- おすすめ店舗（共通）-->
          <restaurant-recommend :tenpo="tenpo"></restaurant-recommend>
          <!--/おすすめ店舗（共通）-->
          <!-- クーポン（共通）-->
          <coupon-list :tenpo="tenpo" :page="photo"></coupon-list>
          <!-- /クーポン（共通）-->
          <!-- 検索（共通）-->
          <search-assistance :tenpo="tenpo"></search-assistance>
          <!-- /検索（共通）-->
          <!-- YDN(2)広告 -->
          <div id="yjAdsYdn2"></div>
          <!-- /YDN(2)広告 -->
          <!-- SQB広告 -->
          <div id="yjAdsSqb"></div>
          <!-- /SQB広告 -->
        </div>
        <div class="layout__sub">
          <!-- LREC広告 -->
          <div id="yjAdsLrec"></div>
          <!-- /LREC広告 -->
          <div class="placeShareContainer">
            <!-- 投稿（共通）-->
            <post :tenpo="tenpo"></post>
            <!-- /投稿（共通）-->
            <!-- SNS（共通）-->
            <share :tenpo="tenpo"></share>
            <!-- /SNS（共通）-->
          </div>
          <!-- 行きたいスポット（共通）-->
          <my-clip :tenpo="tenpo" :eappid="eappid" :user-info="userInfo"></my-clip>
          <!-- /行きたいスポット（共通）-->
          <!-- 販促（共通）-->
          <promotion :promotion="promotion"></promotion>
          <!-- /販促（共通）-->
          <!-- 定常リンク（共通）-->
          <regular-link></regular-link>
          <!-- /定常リンク（共通）-->
        </div>
      </main>
      <!-- YDN(ULT)広告 -->
      <div id="yjAdsYdnUlt"></div>
      <!-- /YDN(ULT)広告 -->
      <!--フッター（共通）-->
      ${require('../../partial/common/commonFooter.html')}
      <!--/フッター（共通）-->
      <!-- YDN(Overlay)広告 -->
      <div id="yjAdsYdnOverlay"></div>
      <!-- /YDN(Overlay)広告 -->
    </div>
  </div>
  <!-- YJ広告 -->
  ${require('~@pc/pages/partial/common/yjAds.html')}
  ${require('~@pc/pages/partial/common/yjRapid.html')}
</body>
</html>
