@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.commonJsOff {
  width: 600px;
  margin: 0 auto 40px;
  padding: 15px 0;
  text-align: center;
  background-color: #fffecf;
  border: 1px solid #fc0e1f;
  &__text {
    color: #fc2e35;
  }
}
