@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.commonEmergency {
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid #F00;

  &__title {
    font-size: 12px;
    font-weight: bold;
  }

  &__text {
    font-size: 12px;
  }
}
