@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

/**
 * 広告の表示調整をするためのファイル。
**/

// メインカラムは20pxマージン
.ydn1,
.ydn2,
.sqb {
  margin-bottom: 20px;
}

// サブカラムは10pxマージン
.lrec,
.im {
  margin-bottom: 20px;
}

// ぶち抜き
.ult {
  margin: 0 auto 20px;
  width: 950px;
}

// オーバーレイ
.ydnOverlay {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  overflow-x: scroll;
  background: #eaeaea;
}
