@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

#footer {
  margin:0 auto 100px;
  width: 950px;
  text-align: center;
}
.footer {
  &__body {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
  &__list {
    display: table;
    margin: 0 auto 5px;
    font-size: 13px;
  }
  &__item {
    display: table-cell;
    &:not(:last-child):after {
      padding: 0 5px;
      content: "-";
    }
  }
}
.changeDevice {
  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 14px;
  &__body {
    display: inline-block;
    padding: 5px 5px 5px 10px;
    border: 1px solid #e7e7e7;
    background: #f9f9f9;
  }
  &__term {
    display: inline;
    &:after {
      content: ":";
    }
  }
  &__description {
    display: inline;
    font-size: 12px;
    &:after {
      content: "|";
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
  &__link {
    padding: 0 5px;
    color: $linkColor;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__note {
    padding: 0 5px;
    font-weight: bold;
  }
}
