@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.commonNotFound {
  padding: 40px 0;

  &__title {
    margin-bottom: 30px;
    text-align: center;
    color: #333;
    font-size: 22px;
    font-weight: bold;
    &:before {
      @include RiffIcon("\E300", 26, #fea001);
      position: relative;
      display: inline-block;
    }
  }

  &__sorry {
    margin-bottom: 30px;
    text-align: center;
  }

  &__text {
    font-size: 16px;
    text-align: center;
  }
}
