@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.commonGlobalNavigation {
  margin-bottom: 10px;
  &__title {
    margin-bottom: 5px;
    padding: 0 10px 3px;
    border-bottom: 1px solid #ECECEC;
    color: #aaa;
    font-size: 11px;
  }
}
.commonGlobalNavigationBreadcrumbs {
  margin-bottom: 5px;
  padding-left: 10px;
  &__item {
    position: relative;
    display: inline-block;
    margin-right: 19px;
    font-size: 13px;
    line-height: 1;
    &:after {
      position: absolute;
      top: -1px;
      right: -14px;
      content: '>';
      line-height: 1;
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.commonGlobalNavigationSearch {
  @include clearfix;
  padding: 7px 10px;
  background-color: #f3f3f3;
  &__form {
    position: relative;
    float: left;
    width: 381px;
    margin-right: 10px;
    font-size: 0px;
  }
  &__keyword {
    width: 296px;
    height: 30px;;
    padding-left: 8px;
    vertical-align: top;
    color: #000000;
    font-size: 12px;
    border: 1px solid #aeaeb0;
    box-shadow: 0 1px 2px #ddd inset;
    box-sizing: border-box;
  }
  &__button {
    position: relative;
    width: 85px;
    height: 30px;
    padding-top: 0;
    padding-left: 20px;
    vertical-align: top;
    line-height: 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    background-color: #fea001;
    background-image: linear-gradient(top, #fea001 0,  #f59b00 100%);
    cursor: pointer;
    border: 1px solid #aeaeb0;
    border-radius: 0;
    box-sizing: border-box;
    transition: all .2s;
    &:before {
      @include RiffIcon("\E140", 16, #ffffff);
      top: 0px;
      left: 14px;
    }
    &:hover {
      opacity: .8;
    }
  }

  &__advanced {
    @include button-normal;
    display: inline-block;
    height: 26px;
    margin-top: 2px;
    padding: 0 10px;
    line-height: 25px;
    font-size: 11px;
    font-weight: normal;
    box-sizing: border-box;
  }
  &__mypage {
    float: right;
    font-size: 13px;
    line-height: 30px;
  }
}
