<template>
  <div class="fair">
    <div class="fair__title fairTitle" v-if="title">
      <h2 class="fairTitle__main" v-text="title"></h2>
    </div>
    <div id="brdlis" class="tracked_mods">
      <article class="fair__item" v-for="(item, itemIndex) in selectedItems" v-bind:key="item.id">
        <h3 class="fair__name fairName">
          <a :href="item.WeddingFairDetailUrl" class="fairName__link" v-text="item.WeddingFairName" target="_blank" rel="nofollow noopener" :data-ylk="`slk:brdtle;pos:${itemIndex + 1}`"></a>
        </h3>
        <p class="fair__situation" v-if="item.WeddingFairSeat" v-text="item.WeddingFairSeat"></p>
        <a :href="item.WeddingFairDetailUrl" class="fair__image fairImage" target="_blank" rel="nofollow noopener" :data-ylk="`slk:brdimg;pos:${itemIndex + 1}`">
          <img width="218" height="218" v-if="isImageLoaded" :src="getImage(item.WeddingFairImageUrl)" :alt="item.WeddingFairName" class="fairImage__image" />
        </a>
        <p class="fair__text" v-text="item.WeddingFairContent"></p>
        <table class="fair__table">
          <tr class="fair__row" v-if="item.WeddingFairSchejule && item.WeddingFairStartTime && item.WeddingFairEndTime">
            <th class="fair__header"><span class="fair__headerText">開催日時</span></th>
            <td class="fair__data">{{item.WeddingFairSchejule}} {{item.WeddingFairStartTime}}〜{{item.WeddingFairEndTime}}</td>
          </tr>
          <tr class="fair__row" v-if="item.WeddingFairKind">
            <th class="fair__header"><span class="fair__headerText">内容</span></th>
            <td class="fair__data" v-text="item.WeddingFairKind"></td>
          </tr>
          <tr class="fair__row" v-if="item.WeddingFairBenefit">
            <th class="fair__header"><span class="fair__headerText">特典</span></th>
            <td class="fair__data" v-text="item.WeddingFairBenefit"></td>
          </tr>
          <tr class="fair__row">
            <p class="fair__button fairButton">
              <a :href="item.WeddingFairReservationSmartPhoneUrl" class="fairButton__link" target="_blank" rel="nofollow noopener" :data-ylk="`slk:brdrsbtn;pos:${itemIndex + 1}`">
                <img width="40" height="30" src="https://iwiz-olp.c.yimg.jp/im_siggLmbFv1hpoqKRKuY9lx2ixQ---x80-y60-bd0-n0-ifmpng/c/olp/78/78ef8c916628ffb0acaafadb8a6e1842/info/1c/7d/thumbnail/logo_zexy.png" alt="ゼクシィ" class="fairButton__image" />
                <span>このフェアを予約</span>
              </a>
            </p>
          </tr>
        </table>
      </article>
    </div>
  </div>
</template>

<script>
  import Base from '@lib/baseComponent'
  export default {
    extends: Base,
    props: {
      title: String,
      gid: String,
      items: Array,
      page: Number,
      itemsPerPage: Number
    },
    data: function () {
      return {
        selectedItems: [],
        images: [],
        isImageLoaded: false
      }
    },
    mounted () {
      this.updateItems()
      // 画像チェック
      this.checkImages()
    },
    watch: {
      // ページ番号の状態を監視する
      page: function () {
        this.updateItems()
      }
    },
    methods: {
      // 表示対象のアイテムを選別する
      updateItems: function () {
        if (!this.items.length) {
          return
        }
        this.selectedItems = this.items.slice(0, this.itemsPerPage * this.page)
      },
      checkImages () {
        let tasks = []
        for (const value of this.items) {
          tasks.push(this.loadImage(value.WeddingFairImageUrl))
        }
        Promise.all(tasks)
          .then((value) => {
            for (let image of value) {
              if (image && image.width > 20 && image.height > 20) {
                this.images.push(image.src)
              }
            }
            this.isImageLoaded = true
          })
      },
      getImage (src) {
        if (this.images.includes(src)) {
          return src
        } else {
          return this.namespace.noImage['200x200']
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.fair {
  margin-bottom: 10px;
  &__item {
    color: #666;
    margin-bottom: 10px;
    font-size: 13px;
  }
  &__situation {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 2px 7px;
    color: #fff;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    background-color: #91b9bb;
  }
  &__text {
    margin: 0 10px 10px;;
  }
  &__table{
    width: 100%;
    margin-bottom: 10px;
  }
  &__row {
    display: block;
    padding: 10px;
    border-bottom: 1px dotted #cecfc2;
    &:first-child{
      border-top: 1px dotted #cecfc2;
    }
  }
  &__header {
    width: 60px;
    padding-right: 10px;
    text-align: left;
  }
  &__headerText {
    display: inline-block;
    padding: 5px 7px;
    color: #343426;
    line-height: 1.2;
    font-size: 11px;
    font-weight: bold;
    border-radius: 3px;
    background-color: #e8e9d9;
  }
  &__data {
    width: calc(100% - 70px);
    font-size: 13px;
  }
}

.fairTitle {
  margin-bottom: 10px;
  box-sizing: border-box;
  &__main {
    @include placeTitle;
  }
}

.fairName {
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
}

.fairImage {
  display: block;
  width: 218px;
  margin: 0 auto 10px;
}

.fairButton {
  position: relative;
  height: 38px;
  margin: 0 10px;
  &__link{
    @include button-main;
    display: block;
    line-height: (38px - 1px * 2);
    font-size: 14px;
  }
  &__image{
    position: absolute;
    top: 4px;
    left: 10px;
  }
}

</style>
