<template>
<div class="pagination" v-if="isViewable()">
  <button class="pagination__button" @click.prevent="next">もっと見る</button>
  <p class="pagination__content"><span class="pagination__text">次は</span><em class="pagination__result">{{pageStart}}～{{pageEnd}}</em><span class="pagination__text">件目/全</span><em class="pagination__result">{{totalItems}}</em><span class="pagination__text">件</span></p>
</div>
</template>

<script>
  export default {
    props: {
      page: Number,
      totalItems: Number,
      itemsPerPage: Number
    },
    data: function () {
      return {
        pageStart: 1,
        pageEnd: 10,
        myPage: 1
      }
    },
    watch: {
      // ページ番号を監視して、更新されたら「○件〜○件」部分を更新する
      page: function (value) {
        this.myPage = value
        this.setItemCoverage()
      }
    },
    mounted () {
      this.myPage = this.page
      this.setItemCoverage()
    },
    methods: {
      /**
       * 「○件〜○件」部分を更新する
       */
      setItemCoverage: function () {
        this.pageStart = this.itemsPerPage * this.myPage + 1
        this.pageEnd = this.itemsPerPage * (this.myPage + 1)
      },

      /**
       * 次の10件のイベントハンドラー
       */
      next: function () {
        // ページ番号を1つ増やす
        this.myPage++
        // 親のページ番号を更新する
        this.$emit('paging', this.myPage)
        this.$root.sendClickBeacon('mrbtnbrd', '_', 0)
      },

      /**
       * ページの開始位置が総件数以上なら非表示
       * @returns {boolean}
       */
      isViewable: function () {
        if (this.pageStart >= this.totalItems) {
          return false
        } else {
          return true
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.pagination {
  margin: 0 10px 20px;
  padding: 10px 0 20px;
  text-align: center;
  &__button {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    padding: 5px 10px 5px 30px;
    color: #52bfeb;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #52bfeb;
    border-radius: 5px;
    background: #fff;
    &::before {
      position: absolute;
      top: 50%;
      left: 12px;
      width: 8px;
      height: 8px;
      content: "";
      transform: rotate(135deg);
      margin-top: -8px;
      border-top: 2px solid #52bfeb;
      border-right: 2px solid #52bfeb;
    }
  }
  &__content {
    color: $textColorGray;
    font-size: 13px;
  }
  &__result {
    font-weight: bold;
  }
}
</style>
