<!--/*
<div class="commonEmergency">
  <p class="commonEmergency__title">【サーバーメンテナンスのお知らせ】</p>
  <p class="commonEmergency__text">2014年5月19日（月）13:30～16:00の間、サーバーのメンテナンスのためクチコミ・画像・イベントの投稿削除機能がご利用いただけません。ご迷惑をおかけし、申しわけありません。ご理解のほどよろしくお願いいたします。</p>
</div>
 */-->

