<footer id="footer" class="footer">
  <div class="changeDevice" v-if="edgeDevice === 'smartphone'">
    <dl class="changeDevice__body">
      <dt class="changeDevice__term">表示</dt>
      <dd class="changeDevice__description">
        <span class="changeDevice__link" @click="setSpViewCookie()">モバイル</span>
      </dd>
      <dd class="changeDevice__description">
        <span class="changeDevice__note">パソコン</span>
      </dd>
    </dl>
  </div>
  <div class="footer__body">
    <ul class="footer__list">
      <li class="footer__item"><a class="footer__link" href="http://docs.yahoo.co.jp/docs/info/terms/chapter1.html#cf2nd" rel="nofollow">プライバシーポリシー</a></li>
      <li class="footer__item"><a class="footer__link" href="http://docs.yahoo.co.jp/docs/info/terms/" rel="nofollow">利用規約</a></li>
      <li class="footer__item"><a class="footer__link" th:href="@{https://loco.yahoo.co.jp/feedback/form/(url='https://loco.yahoo.co.jp'+ ${#httpServletRequest.requestURI})}" rel="nofollow">掲載情報の修正・報告</a></li>
      <li class="footer__item"><a class="footer__link" href="https://reservation.yahoo.co.jp/business/">ネット予約を開始したい飲食店の方へ</a></li>
      <li class="footer__item"><a class="footer__link" href="https://www.yahoo-help.jp/app/home/p/563/" rel="nofollow">ヘルプ・お問い合わせ</a></li>
    </ul>
  </div>
  <small class="footer__copy">Copyright (C) <span class="footer__note" th:text="${#view.getCurrentYear()}" th:remove="tag">2018</span> Yahoo Japan Corporation. All Rights Reserved.</small>
</footer>
