<div class="commonNotFound">
  <h1 class="commonNotFound__title">お探しのページは見つかりませんでした。</h1>
  <p class="commonNotFound__sorry"><img src="https://s.yimg.jp/images/loco/pc/images/poi/gourmet/error_message.png" alt="sorry" class="commonNotFound__image" width="183" height="56" /></p>
  <p class="commonNotFound__text">ページが移動または削除されたか、URLの入力間違いの可能性があります。</p>
</div>
