<div class="commonSystemError">
    <h1 class="commonSystemError__title">システムエラーが発生しました。</h1>
    <p class="commonSystemError__sorry"><img src="https://s.yimg.jp/images/loco/pc/images/poi/gourmet/error_message.png" alt="sorry" class="commonSystemError__image" width="183" height="56" /></p>
    <p class="commonSystemError__text">お手数ですが、再度お試しください。</p>
  </div>
