<div class="commonGlobalNavigation">
  <!--お知らせ（共通）-->
  ${require('../../partial/common/commonEmergency.html')}
  <!--/お知らせ（共通）-->
  <!--jsオフ（共通）-->
  ${require('../../partial/common/commonJsOff.html')}
  <!--/jsオフ（共通）-->

  <div th:if="${tenpo}">
    <div th:remove="tag" th:with="address=${#view.concatAddressElement(tenpo, 3)},genre=${tenpo.feature[0].property.genre}">
      <h1 class="commonGlobalNavigation__title"
        th:text="${tenpo.feature[0].name} + ${#strings.isEmpty(tenpo.feature[0].property.yomi) ? '' : '（' + tenpo.feature[0].property.yomi + '）'} + (${genre.length} > 0 ? ('[' + ${#view.concatAddressElement(tenpo, 3)} + ${genre.length > 0 ? '/' + genre[0].name : ''} + ']') : '')">
        bills 大阪(ビルズ) [大阪府大阪市北区梅田/カフェ]
      </h1>
    </div>
    <ol class="commonGlobalNavigation__breadcrumbs commonGlobalNavigationBreadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList" th:with="genrecd=${tenpo.feature[0].property.genre.length} > 0 ? ${#strings.substring(tenpo.feature[0].property.genre[0].code, 0, 4)} : null">
      <li class="commonGlobalNavigationBreadcrumbs__item" itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem"><a href="/" class="commonGlobalNavigationBreadcrumbs__link" itemprop="item"><span itemprop="name">ロコ</span></a></li>
      <li class="commonGlobalNavigationBreadcrumbs__item" itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem" th:each="searchArea : ${tenpo.feature[0].property.searchArea}">
        <a href="" class="commonGlobalNavigationBreadcrumbs__link" itemprop="item"
        th:href="${genrecd} != null ? @{/search/(areacd=${searchArea.code},genrecd=${genrecd})} : @{/search/(areacd=${searchArea.code})}">
          <span itemprop="name" th:text="${searchArea.name}">大阪府</span>
        </a>
      </li>
      <li class="commonGlobalNavigationBreadcrumbs__item" itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem" th:remove="all">
        <a href="" class="commonGlobalNavigationBreadcrumbs__link" itemprop="item">
          <span itemprop="name">梅田・中津</span>
        </a>
      </li>
      <li class="commonGlobalNavigationBreadcrumbs__item" itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem" th:remove="all">
        <a href="" class="commonGlobalNavigationBreadcrumbs__link" itemprop="item">
          <span itemprop="name">大阪駅周辺・茶屋町・中崎町</span>
        </a>
      </li>
      <li class="commonGlobalNavigationBreadcrumbs__item" itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem"><span class="commonGlobalNavigationBreadcrubms__text" itemprop="name" th:text="${tenpo.feature[0].name}">bills 大阪</span></li>
    </ol>
  </div>

  <div th:unless="${tenpo}">
    <h1 class="commonGlobalNavigation__title">Yahoo!ロコ - ページをお探しのお客様へ</h1>
    <ol class="commonGlobalNavigation__breadcrumbs commonGlobalNavigationBreadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="commonGlobalNavigationBreadcrumbs__item" itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem"><a href="/" class="commonGlobalNavigationBreadcrumbs__link" itemprop="item"><span itemprop="name">ロコ</span></a></li>
      <li class="commonGlobalNavigationBreadcrumbs__item" itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem"><span class="commonGlobalNavigationBreadcrubms__text" itemprop="name">Yahoo!ロコ - ページをお探しのお客様へ</span></li>
    </ol>
  </div>

  <div class="commonGlobalNavigation__search commonGlobalNavigationSearch">
    <div class="commonGlobalNavigationSearch__form">
      <form action="https://loco.yahoo.co.jp/search/">
        <input type="text" id="keyword" name="p" placeholder="お店、施設を探す" class="commonGlobalNavigationSearch__keyword" />
        <th:block th:if="${tenpo != null and #view.hasGenre(tenpo.Feature[0].Property) and #strings.length(tenpo.Feature[0].Property.Genre[0].Code) >= 2}">
          <input type="hidden" name="genrecd" value="01" th:value="${#strings.substring(tenpo.Feature[0].Property.Genre[0].Code, 0, 2)}">
        </th:block>
        <button type="submit" name="" class="commonGlobalNavigationSearch__button">検索</button>
      </form>
    </div>
    <a href="https://loco.yahoo.co.jp/search/advanced" class="commonGlobalNavigationSearch__advanced" rel="nofollow">詳細条件設定</a>
    <a href="https://loco.yahoo.co.jp/private/" class="commonGlobalNavigationSearch__mypage" rel="nofollow">マイページ</a>
  </div>
</div>
