<noscript>
  <div class="commonJsOff">
    <p class="commonJsOff__text">現在JavaScriptの設定が無効になっています。<br />
      すべての機能を利用するためには、設定を有効にしてください。<br />
      詳しい設定方法は「<a href="https://www.yahoo-help.jp/app/noscript" class="commonJsOff__link" rel="nofollow">JavaScriptの設定方法</a>」をご覧ください。</p>
  </div>
</noscript>
