<!-- PlaceAction -->
<script type="application/ld+json" th:with="coordinates=${tenpo.feature[0].geometry.coordinates.split(',')}">
{
    "@context": "http://schema.org",
    "@type": "Restaurant",
    "@id": "https://loco.yahoo.co.jp/place/g-[[${tenpo.feature[0].gid}]]",
      "name": "[[${tenpo.feature[0].name}]]",
    "image": "[[${tenpo.feature[0].property.leadImage}]]",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "[[${#view.getStreetAddress(tenpo.feature[0])}]]",
        "addressLocality": "[[${tenpo.feature[0].property.addressElement[1].name}]]",
        "addressRegion": "[[${tenpo.feature[0].property.addressElement[0].name}]]",
        "postalCode": "[[${tenpo.feature[0].property.detail.zipCode}]]",
        "addressCountry": "JP"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": "[[${coordinates[1]}]]",
        "longitude": "[[${coordinates[0]}]]"
    },
    "telephone": "[[${tenpo.feature[0].property.tel1}]]",
<th:block th:with="priceRange=${#view.getPriceRange(tenpo.feature[0])}"><th:block th:if="${not #strings.isEmpty(priceRange)}">    "priceRange": "[[${#view.getPriceRange(tenpo.feature[0])}]]",</th:block></th:block>
    "servesCuisine": "[[${tenpo.feature[0].property.genre[0].name}]]",
<th:block data-th-if="${tenpo.feature[0].property.locoReviewCount} gt 0 and ${tenpo.feature[0].property.locoRating} gt 0">
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingCount": "[[${tenpo.feature[0].property.locoReviewCount}]]",
        "ratingValue": "[[${tenpo.feature[0].property.locoRating}]]"
    },
</th:block>
    "potentialAction": {
        "@type": "ReserveAction",
        "target": {
            "@type": "EntryPoint",
            "urlTemplate": "https://loco.yahoo.co.jp/place/g-[[${tenpo.feature[0].gid}]]/course/",
            "inLanguage": "ja-JP",
            "actionPlatform": [
                "http://schema.org/DesktopWebPlatform",
                "http://schema.org/MobileWebPlatform"
            ]
        },
        "result": {
            "@type": "FoodEstablishmentReservation",
            "name": "Reserve table"
        }
    }

}
</script>
<!-- PlaceAction -->
