<title th:text="${#view.getTitle(tenpo.Feature[0], originalViewName)} + ' - Yahoo!ロコ'">Yahoo!ロコ - グルメ話題度ランキングとお出かけ情報サイト</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="robots" content="index,follow"/>
<meta name="description" th:attr="content=${#view.getDescription(tenpo.Feature[0], device, originalViewName)}"/>
<meta name="keywords" th:attr="content=${#view.getKeywords(tenpo.Feature[0], originalViewName)}"/>
<meta name="canonical" th:attr="content=${#view.getUrl(tenpo.Feature[0], originalViewName)}"/>
<meta property="og:type" content="article"/>
<meta property="og:site_name" content="Yahoo!ロコ"/>
<meta property="og:title" th:attr="content=${#view.getTitle(tenpo.Feature[0], originalViewName)} + ' - Yahoo!ロコ'"/>
<meta property="og:url" th:attr="content=${#view.getUrl(tenpo.Feature[0], originalViewName)}"/>
<meta property="og:image" th:attr="content=${tenpo.Feature[0].Property.LeadImage}"/>
<meta property="og:locale" content="ja-JP"/>
<meta property="og:description" th:attr="content=${#view.getDescription(tenpo.Feature[0], device, originalViewName)}"/>
<meta property="fb:app_id" content="251169198314705"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@Yahoo_Loco"/>
<style th:utext="${MHCSS}" type="text/css" th:remove="tag"></style>
<link rel="preload" href="https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.eot?#iefix" as="font" type="application/vnd.ms-fontobject" crossorigin>
<link rel="preload" href="https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="https://s.yimg.jp/images/loco/front/asset/fonts/locoIcons.eot?#iefix" as="font" type="application/vnd.ms-fontobject" crossorigin>
<link rel="preload" href="https://s.yimg.jp/images/loco/front/asset/fonts/locoIcons.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="https://s.yimg.jp/images/loco/front/asset/fonts/locoIcons.ttf" as="font" type="font/ttf" crossorigin>
<!--/*
<link rel="preload" href="~@pc/css/common.css" as="style" crossorigin>
<link rel="preload" href="~@pc/js/commonchunk.bundle.js" as="script" crossorigin>
*/-->
<link rel="preconnect" href="//loco.yahoo.co.jp">
<link rel="preconnect" href="//s.yimg.jp">
<link rel="preconnect" href="//iwiz-olp.c.yimg.jp">
<link rel="preconnect" href="//reservation-restaurant.yahooapis.jp">
