<div class="yjAdsJsWrapper" th:with="pathArr=${#strings.arraySplit(#request.getServletPath(),'/')}">
  <!-- YDN(1)広告 -->
  <!--/*/ <th:block th:if="${!#view.isHiddenScType('yjAdsJs' ,scType)}"> /*/-->
  <div class="yjAdsJs ydn1" data-to="yjAdsYdn1" th:unless="${#arrays.length(pathArr) > 3 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')} and pathArr[2] == 'course'">
  <script type="text/javascript" language="JavaScript" th:inline="javascript" th:if="${tenpo.feature[0].property.genre.length}">
  /*<![CDATA[*/
    yads_ad_ds = '59661_33926'
    yads_type_tag = 'shinloco'
    yads_page_kw = encodeURIComponent(/*[[${tenpo.feature[0].property.genre[0].Name}]]*/'焼肉')
  /*]]>*/
  </script>
  <script type="text/javascript" language="JavaScript" src="//yads.c.yimg.jp/js/yads.js"></script>
  </div>
  <!--/*/ </th:block> /*/-->
  <!-- /YDN(1)広告 -->
  <!-- YDN(2)広告 -->
  <!--/*/ <th:block th:if="${!#view.isHiddenScType('yjAdsJs' ,scType)}"> /*/-->
  <div class="yjAdsJs ydn2" data-to="yjAdsYdn2" th:unless="${#arrays.length(pathArr) > 3 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')} and pathArr[2] == 'course'">
  <script type="text/javascript" language="JavaScript" th:inline="javascript" th:if="${tenpo.feature[0].property.genre.length}">
  /*<![CDATA[*/
    yads_ad_ds = '26267_109972'
    yads_type_tag = 'shinloco'
    yads_page_kw = encodeURIComponent(/*[[${tenpo.feature[0].property.genre[0].Name}]]*/'焼肉')
  /*]]>*/
  </script>
  <script type="text/javascript" language="JavaScript" src="//yads.c.yimg.jp/js/yads.js"></script>
  </div>
  <!--/*/ </th:block> /*/-->
  <!-- /YDN(2)広告 -->

  <!-- LREC広告 -->
  <!--/*/ <th:block th:if="${!#view.isHiddenScType('yjAdsJs' ,scType)}"> /*/-->
  <div class="yjAdsJs lrec" data-to="yjAdsLrec" th:unless="${#arrays.length(pathArr) > 3 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')} and pathArr[2] == 'course'">
  <script type="text/javascript" language="JavaScript" th:inline="javascript">
  /*<![CDATA[*/
    yads_ad_ds = '57076_229206'
  /*]]>*/
  </script>
  <script type="text/javascript" language="JavaScript" src="//yads.c.yimg.jp/js/yads.js"></script>
  </div>
  <!--/*/ </th:block> /*/-->
  <!-- /LREC広告 -->

  <!-- YDN(IM)広告 -->
  <!--/*/ <th:block th:if="${!#view.isHiddenScType('yjAdsJs' ,scType)}"> /*/-->
  <div class="yjAdsJs im" data-to="yjAdsYdnIm" th:if="${#arrays.length(pathArr) == 2 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')}">
  <script type="text/javascript" language="JavaScript" th:inline="javascript">
  /*<![CDATA[*/
    yads_ad_ds = '62238_14982'
    yads_type_tag = 'shinloco'
  /*]]>*/
  </script>
  <script type="text/javascript" language="JavaScript" src="//yads.c.yimg.jp/js/yads.js"></script>
  </div>
  <!--/*/ </th:block> /*/-->
  <!-- /YDN(IM)広告 -->
  <!-- SQB広告 -->
  <!--/*/ <th:block th:if="${!#view.isHiddenScType('yjAdsJs' ,scType)}"> /*/-->
  <div class="yjAdsJs sqb" data-to="yjAdsSqb" th:unless="${#arrays.length(pathArr) > 3 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')} and pathArr[2] == 'course'">
  <script type="text/javascript" language="JavaScript" th:inline="javascript">
  /*<![CDATA[*/
    yads_ad_ds = '25844_229207'
  /*]]>*/
  </script>
  <script type="text/javascript" language="JavaScript" src="//yads.c.yimg.jp/js/yads.js"></script>
  </div>
  <!--/*/ </th:block> /*/-->
  <!-- /SQB広告 -->

  <!-- YDN(ULT)広告 -->
  <!--/*/ <th:block th:if="${!#view.isHiddenScType('yjAdsJs' ,scType)}"> /*/-->
  <div class="yjAdsJs ult" data-to="yjAdsYdnUlt" th:unless="${#arrays.length(pathArr) > 3 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')} and pathArr[2] == 'course'">
  <script type="text/javascript" language="JavaScript" th:inline="javascript">
  /*<![CDATA[*/
    yads_ad_ds = '58725_230200'
  /*]]>*/
  </script>
  <script type="text/javascript" language="JavaScript" src="//yads.c.yimg.jp/js/yads.js"></script>
  </div>
  <!--/*/ </th:block> /*/-->
  <!-- /YDN(ULT)広告 -->

  <!-- YDN(Overlay)広告 -->
  <!--/*/ <th:block th:if="${!#view.isHiddenScType('yjAdsJs' ,scType)}"> /*/-->
  <div class="yjAdsJs ydnOverlay" data-to="yjAdsYdnOverlay" th:unless="${#arrays.length(pathArr) > 3 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')} and pathArr[2] == 'course'">
  <script type="text/javascript" language="JavaScript" th:inline="javascript">
  /*<![CDATA[*/
    yads_ad_ds = '96765_193167'
    yads_type_tag = 'shinloco'
  /*]]>*/
  </script>
  <script type="text/javascript" language="JavaScript" src="//yads.c.yimg.jp/js/yads.js"></script>
  </div>
  <!--/*/ </th:block> /*/-->
  <!-- /YDN(Overlay)広告 -->
</div>
