<div th:utext="${MH}" class="mhd">マストヘッド</div>
<div class="emg">
  <div th:utext="${EMG3}" th:remove="tag">EMG3</div>
  <div th:utext="${EMG2}" th:remove="tag">EMG2</div>
  <div th:utext="${EMG}" th:remove="tag">EMG</div>
</div>
