<!-- Miffy -->
<script src="https://s.yimg.jp/images/ds/mf/mfclient-1.0.0.min.js"></script>
<!-- TODO : experimentid設定必要 -->
<!--<script src="//mf.yahoo.co.jp/v1/javascript/experiment.js?experimentid=【エクスペリメントID】"></script>-->

<!-- Rapid -->
<script src="https://s.yimg.jp/images/ds/ult/jp/rapid-4.0.2.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
  var sr = new YAHOO.i13n.JP.simpleRapid();
/*]]>*/
</script>
