@import 'partial/variable';
@import 'partial/mixins';
@import 'partial/reset';
@import 'partial/common/_commonAd';
@import 'partial/common/_commonGlobalNavigation';
@import 'partial/common/_commonFooter';
@import 'partial/common/_commonEmergency';
@import 'partial/common/_commonJsOff';
@import 'partial/common/_commonNotFound';
@import 'partial/common/_commonSystemError';

body {
  color: $textColorBlack;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, select, button {
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

[v-cloak] {
  display: none;
}

.layout {
  &__container {
    @include clearfix;
    display: block;
    width: 950px;
    margin: 0 auto;
    &--single {
      @extend .layout__container;
    }
  }

  &__main {
    float: left;
    width: 630px;
    margin-right: 20px;
  }

  &__sub {
    float: left;
    width: 300px;
  }
}

// MHD
.mhd {
  width: 950px;
  margin: 0 auto;
}
// EMG reset cancel
.emg {
  width: 950px;
  margin: 0 auto;
  > table {
    margin-bottom: 15px !important;
    td {
      padding: 2px;
      td {
        padding: 0;
      }
    }
  }
  br {
    display: none;
  }
}

// クルクルローディングのラッパー
.loadingWrapper{
  position: relative;
  margin-bottom: 30px;
  height: 90px;
}

/***********/
/* RiffIcon */
/* アイコンを付ける要素の:before、:afterに記述する。 */
/* アイコンを付ける要素にposition: relative;を設定する。*/
/***********/
@font-face {
	font-family: RiffIcons;
	src: url("https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.eot?#iefix") format("eot"),
		url("https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.woff2") format("woff2"),
		url("https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.woff") format("woff"),
		url("https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.ttf") format("truetype");
}

/***********/
/* LocoIcon */
/* アイコンを付ける要素の:before、:afterに記述する。 */
/* アイコンを付ける要素にposition: relative;を設定する。 */
/***********/
@font-face {
	font-family: LocoIcons;
	src: url("https://s.yimg.jp/images/loco/front/asset/fonts/locoIcons.eot?#iefix") format("eot"),
		url("https://s.yimg.jp/images/loco/front/asset/fonts/locoIcons.woff") format("woff"),
		url("https://s.yimg.jp/images/loco/front/asset/fonts/locoIcons.ttf") format("truetype");
}

/***********/
/* ローディングくるくるアニメーション */
/***********/
@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
