<template>
<div class="error">
  <p class="error__title">式場情報の取得に失敗しました。</p>
  <p class="error__description">大変恐れ入りますが、しばらく経ってから<br />お試しください。</p>
  <button type="button" class="error__button reloadButton" v-on:click.prevent="reloadUrl">
    <span class="reloadButton__text">ページを再読み込みする</span>
  </button>
  </div>
</template>

<script>
  export default {
    methods: {
      reloadUrl: function () {
        location.reload()
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';
.error{
  margin-bottom: 35px;
  padding: 15px 40px 0;
  text-align: center;
  &__title{
    margin-bottom: 14px;
    font-weight: bold;
  }
  &__description{
    margin-bottom: 18px;
    font-size: 12px;
  }
}
.reloadButton{
  @include errorReloadButton;
  &__text{
    @include errorReloadButtonTitle;
  }
}
</style>
