<template>
<div class="information">
  <h2 class="information__title" v-if="title" v-text="title"></h2>
  <table class="information__table">
    <tr class="information__row" v-for="item in items" v-bind:key="item.id">
      <th class="information__header informationHeader"><span class="informationHeader__text" v-text="item.name"></span></th>
      <td class="information__contents" v-text="item.val"></td>
    </tr>
  </table>
  <p class="information__provider informationProvider tracked_mods" id="marigcp">
    <a :href="cpUrl" class="informationProvider__link" target="_blank" rel="nofollow noopener" :data-ylk="getDataYlk()">
      <img src="https://iwiz-olp.c.yimg.jp/im_siggLmbFv1hpoqKRKuY9lx2ixQ---x80-y60-bd0-n0-ifmpng/c/olp/78/78ef8c916628ffb0acaafadb8a6e1842/info/1c/7d/thumbnail/logo_zexy.png" alt="ゼクシィ" class="informationProvider__logo" />
    </a>
  </p>
</div>
</template>

<script>
  import Base from '@lib/baseComponent'
  export default {
    extends: Base,
    props: {
      items: Array,
      title: String,
      cpUrl: String
    },
    methods: {
      getDataYlk (cid = this.namespace.cid.zexy) {
        // 今はゼクシィしかないので、CIDはゼクシィ固定
        return (cid && this.namespace.CpName[cid]) ? `cp_name:${this.namespace.CpName[cid]};pos:1;` : ''
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.information {
  margin-bottom: 20px;
  &__title {
    @include placeTitle;
  }
  &__row {
    display: block;
    margin-bottom: 10px;
    padding: 0 10px 10px;
    border-bottom: 1px dotted #cecfc2;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &__header {
    width: 60px;
    padding-right: 10px;
    text-align: left;
  }
  &__contents {
    width: calc(100% - 70px);
    color: #666;
    font-size: 13px;
    vertical-align: top;
  }
}
.informationHeader{
  &__text {
    display: inline-block;
    padding: 5px 7px;
    line-height: 1.2;
    font-size: 11px;
    font-weight: bold;
    color: #343426;
    background-color: #e8e9d9;
    border-radius: 3px;
  }
}
.informationProvider{
  font-size: 0;
  text-align: right;
  &__link{
    padding: 2px 10px;
    display: inline-block;
  }
  &__logo{
    width: 40px;
    height: auto;
  }
}
</style>
