<div class="commonBreadcrumbs tracked_mods" th:with="page = ${#view.spBreadcrumbsTitle(#httpServletRequest.servletPath)}" id="bclst">
  <ul class="commonBreadcrumbs__body" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="commonBreadcrumbs__list" itemprop="itemListElement" itemscope
    itemtype="http://schema.org/ListItem">
      <a class="commonBreadcrumbs__link" href="/" itemprop="item"><span class="commonBreadcrumbs__text--top" itemprop="name">ロコ</span></a>
    </li>
    <li
      class="commonBreadcrumbs__list"
      th:if="${page == null} and ${#view.spBreadcrumbsArea(tenpo)} neq null and ${tenpo.feature[0].property.genre.length} neq 0"
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem">
      <a class="commonBreadcrumbs__link" th:href="@{/search/(areacd=${#view.spBreadcrumbsArea(tenpo).code},genrecd=${tenpo.feature[0].property.genre[0].code})}" itemprop="item">
        <span class="commonBreadcrumbs__text" itemprop="name" th:text="${#view.spBreadcrumbsArea(tenpo).getName()}">上野広小路</span>
      </a>
    </li>
    <li class="commonBreadcrumbs__list" itemprop="itemListElement" itemscope
    itemtype="http://schema.org/ListItem">
      <a class="commonBreadcrumbs__link" th:href="'/place/g-' + ${tenpo.feature[0].gid}" th:remove="${page == null} ? tag : none">
        <span class="commonBreadcrumbs__text" itemprop="item"><span itemprop="name" th:text="${tenpo.feature[0].name}">ぽん多本家</span></span>
      </a>
    </li>
    <li
    class="commonBreadcrumbs__list"
    itemprop="itemListElement"
    itemscope
    itemtype="http://schema.org/ListItem"
    th:if="${page}">
      <a class="commonBreadcrumbs__link" th:href="${#view.nonDetailPage(#httpServletRequest.servletPath)}" th:remove="${#view.isDetailPage(#httpServletRequest.servletPath)} ? none : tag">
        <span class="commonBreadcrumbs__text" itemprop="item"><span itemprop="name" th:text="${page}">クチコミ</span></span>
      </a>
    </li>
    <li
    class="commonBreadcrumbs__list"
    itemprop="itemListElement"
    itemscope
    itemtype="http://schema.org/ListItem"
    th:if="${#view.isDetailPage(#httpServletRequest.servletPath)}">
      <span class="commonBreadcrumbs__text" itemprop="item"><span itemprop="name">詳細</span></span>
    </li>
  </ul>
</div>
