<footer id="footer" class="footerDefault">
  <div class="tracked_mods" id="sf">
    <div class="locoLink">
      <ul class="locoLink__list">
        <li class="locoLink__item"><a class="locoLink__link" href="https://loco.yahoo.co.jp/private/history/" rel="nofollow" data-ylk="slk:history;pos:0">閲覧履歴</a></li>
        <li class="locoLink__item"><a class="locoLink__link" href="https://loco.yahoo.co.jp/private/" rel="nofollow" data-ylk="slk:mylnk;pos:0">マイページ</a></li>
      </ul>
    </div>
    <div class="changeDevice">
      <dl class="changeDevice__body">
        <dt class="changeDevice__term">表示</dt>
        <dd class="changeDevice__description">
          <span class="changeDevice__note">モバイル</span>
        </dd>
        <dd class="changeDevice__description">
          <span class="changeDevice__link" @click="setPcViewCookie();$root.sendClickBeacon('sf','indicate',0)">パソコン</span>
        </dd>
      </dl>
    </div>
    <div class="footerInner">
      <div class="loginArea">
        <!-- ↓未ログイン -->
        <p class="loginArea__status" th:if="${userInfo} == null or ${userInfo.getLoginStatus()} == false"><em class="loginArea__text"><a class="loginArea__link" th:href="@{https://login.yahoo.co.jp/config/login(.src=loco, .done='https://loco.yahoo.co.jp'+ ${#httpServletRequest.requestURI})}">ログイン</a></em></p>
        <p class="loginArea__tool" th:if="${userInfo} == null or ${userInfo.getLoginStatus()} == false">IDでもっと便利に<a class="loginArea__link" th:href="@{https://account.edit.yahoo.co.jp/registration(.src=loco, .done='https://loco.yahoo.co.jp'+ ${#httpServletRequest.requestURI})}">新規取得</a></p>
        <!-- ↑未ログイン -->
        <!-- ↓ログイン -->
        <p class="loginArea__status" th:if="${userInfo} != null and ${userInfo.getLoginStatus()} == true"><a class="loginArea__name" th:href="@{https://accounts.yahoo.co.jp/profile(.src=loco, .done='https://loco.yahoo.co.jp'+ ${#httpServletRequest.requestURI})}" th:text="${userInfo.getUserDetail().getYid()}">xxxxx</a>さん</p>
        <!-- ↑ログイン -->
      </div>
      <ul class="commonLink">
        <li class="commonLink__item"><a class="commonLink__link" href="https://loco.yahoo.co.jp/">Yahoo!ロコ</a></li>
        <li class="commonLink__item"><a class="commonLink__link" href="https://m.yahoo.co.jp/" rel="nofollow">Yahoo! JAPAN</a></li>
      </ul>
      <ul class="subLink">
        <li class="subLink__item"><a class="subLink__link" href="https://about.yahoo.co.jp/docs/info/terms/chapter1.html#cf2nd" rel="nofollow" data-ylk="slk:privacy;pos:0">プライバシー</a></li>
        <li class="subLink__item"><a class="subLink__link" href="https://about.yahoo.co.jp/docs/info/terms/" rel="nofollow" data-ylk="slk:rule;pos:0">規約</a></li>
        <li class="subLink__item"><a class="subLink__link" href="https://about.yahoo.co.jp/docs/pr/disclaimer.html" rel="nofollow" data-ylk="slk:dcrim;pos:0">免責事項</a></li>
        <li class="subLink__item"><a class="subLink__link" href="https://m.yahoo-help.jp/app/home/p/657/" rel="nofollow" data-ylk="slk:help;pos:0">ヘルプ</a></li>
      </ul>
      <p class="subLink__copy"><small class="subLink__note">(C)Yahoo Japan</small></p>
    </div>
  </div>
</footer>
