<noscript>
  <div class="commonJsOff">
    <div class="commonJsOff__body">
      <p class="commonJsOff__text">JavaScriptが無効です。<br />ブラウザの設定でJavaScriptを有効にしてください。</p>
      <p class="commonJsOff__text"><a href="https://www.yahoo-help.jp/app/noscript" class="commonJsOff__link" rel="nofollow">JavaScriptを有効にするには</a></p>
    </div>
  </div>
</noscript>
