<div class="commonSearch tracked_mods" id="sbox_bot">
  <form action="https://loco.yahoo.co.jp/search/" class="commonSearch__form">
    <input type="search" v-model="footerSearchInput" name="p" value id="" autocapitalize="off" placeholder="入力例：代官山 カフェ" class="commonSearch__keyword" />
    <input type="hidden" name="lat" />
    <input type="hidden" name="lon" />
    <th:block th:if="${tenpo != null and #view.hasGenre(tenpo.Feature[0].Property) and #strings.length(tenpo.Feature[0].Property.Genre[0].Code) >= 2}">
      <input type="hidden" name="genrecd" value="01" th:value="${#strings.substring(tenpo.Feature[0].Property.Genre[0].Code, 0, 2)}">
    </th:block>
    <div class="commonSearch__reset">
      <div v-if="footerSearchInput" v-on:click="footerSearchReset" class="commonSearch__cancel">リセット</div>
    </div>
    <input type="submit" value="検索" class="commonSearch__button" data-ylk="slk:websrch;pos:0" />
  </form>
</div>
