<!-- pvtag -->
<script language="JavaScript" type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  (function() {
    var domain = "loco.yahoo.co.jp";
    var spaceid = /*[[${spaceId}]]*/;
    var property = "jp_s_loco";
    var url = "https://pvtag.yahoo.co.jp/t?f=" + spaceid + "&p=" + property + "&domain=" + domain + "&js=1&rnd=" + new Date().getTime();
    document.write("<sc" + "ript src=\""  + url + "\"></sc" + "ript>");
  })();
  /*]]>*/
</script>
<noscript>
  <iframe th:src="'https://pvtag.yahoo.co.jp/t?f=' + ${spaceId} + '&p=jp_s_loco' + '&domain=loco.yahoo.co.jp&js=0'" height=1 width=1 marginwidth=0 marginheight=0 hspace=0 vspace=0 frameborder=0 scrolling="no"></iframe>
</noscript>
<!-- pvtag -->
