<div class="yjAdsJsWrapper" th:with="pathArr=${#strings.arraySplit(#request.getServletPath(),'/')}">
  <!-- YDN(1)広告 -->
  <!--/*/ <th:block th:if="${!#view.isHiddenScType('yjAdsJs' ,scType)}"> /*/-->
  <div class="yjAdsJs ydn1" data-to="yjAdsYdn1" th:unless="${#arrays.length(pathArr) > 3 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')} and pathArr[2] == 'course'">
  <script type="text/javascript" language="JavaScript" th:inline="javascript">
  /*<![CDATA[*/
    yads_ad_ds = '28342_4225'
    yads_type_tag = 'shinloco'
  /*]]>*/
  </script>
  <script type="text/javascript" language="JavaScript" src="//yads.c.yimg.jp/js/yads.js"></script>
  </div>
  <!--/*/ </th:block> /*/-->
  <!-- /YDN(1)広告 -->

  <!-- YDN(IM)広告 -->
  <!--/*/ <th:block th:if="${!#view.isHiddenScType('yjAdsJs' ,scType)}"> /*/-->
  <div th:unless="${#arrays.length(pathArr) > 3 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')} and pathArr[2] == 'course'">
  <script type="text/javascript" language="JavaScript" th:inline="javascript" th:if="${tenpo.feature[0].property.genre.length}">
  /*<![CDATA[*/
    yads_ad_ds = '15411_14993'
    yads_type_tag = 'shinloco'
    yads_page_kw = encodeURIComponent(/*[[${tenpo.feature[0].property.genre[0].Name}]]*/'焼肉')
  /*]]>*/
  </script>
  <script type="text/javascript" language="JavaScript" src="//yads.c.yimg.jp/js/yads.js"></script>
  </div>
  <!--/*/ </th:block> /*/-->
  <!-- /YDN(IM)広告 -->

  <!-- YDN(SMON)広告 -->
  <!--/*/ <th:block th:if="${!#view.isHiddenScType('yjAdsJs' ,scType)}"> /*/-->
  <div class="yjAdsJs smon" data-to="yjAdsYdnSmon" th:unless="${#arrays.length(pathArr) > 3 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')} and pathArr[2] == 'course'">
  <script type="text/javascript" language="JavaScript" th:inline="javascript">
  /*<![CDATA[*/
    yads_ad_ds = '87775_230193'
  /*]]>*/
  </script>
  <script type="text/javascript" src="//yads.c.yimg.jp/js/yads.js"></script>
  </div>
  <!--/*/ </th:block> /*/-->
  <!-- /YDN(SMON)広告 -->

  <!-- YDN(Overlay)広告 -->
  <!--/*/ <th:block th:if="${!#view.isHiddenScType('yjAdsJs' ,scType)}"> /*/-->
  <div class="yjAdsJs ydnOverlay" data-to="yjAdsYdnOverlay" th:unless="${#arrays.length(pathArr) > 3 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')} and pathArr[2] == 'course'">
  <script type="text/javascript" language="JavaScript" th:inline="javascript">
  /*<![CDATA[*/
    yads_ad_ds = '59371_79991'
    yads_type_tag = 'shinloco'
  /*]]>*/
  </script>
  <script type="text/javascript" language="JavaScript" src="//yads.c.yimg.jp/js/yads.js"></script>
  </div>
  <!--/*/ </th:block> /*/-->
  <!-- /YDN(Overlay)広告 -->
</div>
