<div th:utext="${SMH}" th:remove="tag">マストヘッド</div>
<div class="emg">
  <div th:utext="${MEM3}" th:remove="tag">MEM3</div>
  <div th:utext="${MEM2}" th:remove="tag">MEM2</div>
  <div th:utext="${MEM}" th:remove="tag">MEM</div>
</div>

