<!-- Miffy -->
<script src="https://s.yimg.jp/images/ds/mf/mfclient-1.0.0.min.js"></script>
<!-- TODO : experimentid設定必要 -->
<!--<script src="//mf.yahoo.co.jp/v1/javascript/experiment.js?experimentid=【エクスペリメントID】"></script>-->

<!-- Rapid -->
<script src="https://s.yimg.jp/images/ds/ult/jp/rapid-4.0.2.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
  var sr = new YAHOO.i13n.JP.simpleRapid();
/*]]>*/
</script>
<script th:inline="javascript">
/*<![CDATA[*/
  window.addEventListener('load', function () {
    YAHOO.JP.smh.SideBar.init([
      {
        'title': '',
        'size':  1,
        'list':  [
          {
            'title': 'マイページ',
            'url':   'https://loco.yahoo.co.jp/private/',
          },
          {
            'title': '行きたい',
            'url':   'https://loco.yahoo.co.jp/private/',
          },
          {
            'title': '閲覧履歴',
            'url':   'https://loco.yahoo.co.jp/private/history/',
          },
        ],
      },
      {
        'title': '探す',
        'size':  2,
        'list':  [
          {
            'title': 'グルメ',
            'url':   'https://loco.yahoo.co.jp/search/?genrecd=01',
          },
          {
            'title': 'ホテル',
            'url':   'https://loco.yahoo.co.jp/search/?genrecd=0304',
          },
          {
            'title': '病院',
            'url':   'https://loco.yahoo.co.jp/search/?genrecd=0401',
          },
          {
            'title': '美容院',
            'url':   'https://loco.yahoo.co.jp/search/?genrecd=0419001',
          },
        ],
      },
      {
        'title': 'おすすめ',
        'size':  2,
        'list':  [
          {
            'title': 'グルメ総合ランキング',
            'url':   'https://loco.yahoo.co.jp/search/?genrecd=01',
          },
          {
            'title': 'ラーメンランキング',
            'url':   'https://loco.yahoo.co.jp/search/?genrecd=0106001',
          },
          {
            'title': 'ランチランキング',
            'url':   'https://loco.yahoo.co.jp/search/?p=%E3%83%A9%E3%83%B3%E3%83%81',
          },
        ],
      },
      {
        'title' : '写真：アフロ',
        'size'  : 3
      }
    ]);
  });
/*]]>*/
</script>
