<template>
  <div class="input">
    <p class="input__title">空席確認・予約する</p>
    <p class="input__text">ご希望の日付と人数を選択してください</p>
    <div class="input__item">
      <div class="input__number number">
        <div class="number__filter">
          <select v-model="searchCondition.selectedPerson" @change="setSelectedPerson()" class="number__selector">
            <option v-for="personOption in selectPerson" :value="personOption.value" v-text="personOption.text" class="number__data" />
          </select>
        </div>
      </div>
      <label class="input__date date" @click="showCalendar">
        <input type="hidden" id="date__input" name="date" date_max="90" class="date__input" />
        <div class="date__data">{{searchCondition.selectedDate | displayDay}}</div>
        <input type="hidden" name="date-show">
      </label>
    </div>
    <div class="input__time time">
      <div class="time__panel">
        <form>
          <ul class="time__list">
            <li class="time__item" v-for="time in stockDateTime">
              <button type="button" class="rapid-noclick-resp" :class="searchCondition.selectedTime === time ? 'time__button--select' : 'time__button'" @click="setSelectedTime(time)">{{ time | displayReserveHour }}</button>>
            </li>
          </ul>
        </form>
      </div>
    </div>
    <div class="input__description description">
      <button class="description__button" type="button" v-if="canReserve && !isPremiumCourse" @click.prevent="goReserve()">予約へすすむ</button>
      <div class="description__detail">
        <div v-if="status.stockDateTime === 'on-binding'"></div>
        <template v-else-if="isNoMatchStock">
          <p class="description__text" v-if="isNoMatchDailyStock">このプランのネット予約可能なお席は<br />満席になりました。</p>
          <template  v-else-if="recommendFlag && hasRecommendTimeStock">
            <p class="description__hint">日付または人数を変更いただければ<br />このプランの予約が可能です。</p>
            <a class="description__change" @click="setRecommendCondition()" target="_blank" rel="nofollow noopener" data-ylk="slk:rcmdate1;pos:1">{{ getStockRecommend }}に{{ searchCondition.selectedPerson }}人で予約できます</a>
          </template>
          <p class="description__text" v-else-if="typeof errors.timeStock !== 'undefined'">現在混み合っております。時間をおいて画面を開きなおしてください。</p>
          <p class="description__text" v-else-if="status.recommendTimeStock === 'binded' && !hasRecommendTimeStock">ご指定の日付・人数では<br />ネット予約可能なお席がありません。</p>
        </template>
        <p class="description__other">
          <a class="description__link" :href="$root.addUrlParameters(courseListUrl, ['sc_type'])" data-ylk="slk:viewall1;pos:8">このお店の別のプランを見る</a>
        </p>
      </div>
    </div>
    <div class="input__course" v-if="isPremiumCourse && !isPremiumUser && canReserve" >
      <template v-if="!isSBUser && isSBCooperation">
        <p class="input__special special">
          <span class="special__note">スマートログイン設定すると</span><br />
          <span class="special__privilege" v-if="isSeatOnly && benefitPhrase !== ''">{{ benefitPhrase }}</span>
          <span class="special__privilege" v-else-if="!isSeatOnly && benefitPhrase !== ''">{{ course.price | displayPrice }}({{ benefitPhrase }})</span>
          <span class="special__note">で予約可能</span>
        </p>
        <div class="input__smart smart">
          <button type="submit" class="smart__button" @click.prevent="doSmartLogin">スマートログイン設定する</button>
        </div>
      </template>
      <p class="input__special special">
        <span class="special__note">Yahoo!プレミアム会員に登録すると</span><br />
        <span class="special__privilege" v-if="isSeatOnly && benefitPhrase !== ''">{{ benefitPhrase }}</span>
        <span class="special__privilege" v-else-if="!isSeatOnly && benefitPhrase !== ''">{{ course.price | displayPrice }}({{ benefitPhrase }})</span>
        <span class="special__note">で予約可能</span>
      </p>
      <div class="input__premium premium">
        <button type="submit" class="premium__button" @click.prevent="premiumResistBeforeReserveUrl()">
          <span class="premium__note">Yahoo!プレミアム会員に登録して</span>
          <span class="premium__text">予約する</span>
        </button>
      </div>
      <div class="input__continue continue">
        <template v-if="!isPremiumUser && !isPremiumOnlyCourse">
          <p class="continue__text">割引・特典が適用されません</p>
          <input class="continue__input" type="submit" @click.prevent="goReserve()" value="このまま予約へ進む" />
        </template>
        <p class="continue__request" v-if="getReserveStatus() === 2">この予約は「リクエスト予約」です</p>
      </div>
    </div>
    <div class="input__member member" v-if="isPremiumCourse && isPremiumUser && canReserve">
      <p class="member__special">
        <span class="member__note" v-if="isSBUser">ソフトバンクユーザーのあなたは<br /></span>
        <span class="member__note" v-else-if="isYMUser">Y!mobileユーザーのあなたは<br /></span>
        <span class="member__note" v-else-if="isPremiumUser">Yahoo!プレミアム会員のあなたは<br /></span>
        <span class="member__privilege" v-if="isSeatOnly && benefitPhrase !== ''">{{ benefitPhrase }}</span>
        <span class="member__privilege" v-else-if="!isSeatOnly && benefitPhrase !== ''">{{ course.price | displayPrice }}({{ benefitPhrase }})</span>
        <span class="member__note">で予約可能</span>
      </p>
      <input class="member__input" type="submit" @click.prevent="goReserve()" value="予約へすすむ" />
      <p class="member__request" v-if="getReserveStatus() === 2">この予約は「リクエスト予約」です</p>
    </div>
    <transition enter-class="calendarPopup--enter" enter-active-class="calendarPopup--enter-active" leave-class="calendarPopup--leave" leave-active-class="calendarPopup--leave-active">
      <calendar-popup v-if="popup" @close="popup = false" triangle="false" :style="calendarPosition" :tenpo="tenpo" :dailyStock="dailyStockFiltered" @date="setSelectedDate" @call-tracking="showCallTrackingModal"></calendar-popup>
    </transition>
    <div class="tracked_mods" id="phn_sug">
      <call-tracking v-if="callTracking" @close="callTracking = false" :tenpo="tenpo"></call-tracking>
    </div>
  </div>
</template>
<script>
import calendarPopup from '@sp/components/place/course/calendarPopup.vue'
import callTracking from '@sp/components/place/callTracking.vue'
import Base from '@lib/baseComponent'
import moment from '@lib/moment-ja'

/**
 * 予約モジュール in コース詳細
 * こちらを修正する際は コース詳細確認(detailReserveInputConfirm) も修正してください
 */
export default {
  components: {
    calendarPopup,
    callTracking
  },
  extends: Base,
  props: [
    'tenpo',
    'courseDetail',
    'dailyStock',
    'dailyStockFiltered',
    'searchCondition',
    'userInfo',
    'isUpPos',
    'smartLoginUrl',
    'eappid'
  ],
  data () {
    return {
      people: false,
      number: 1,
      radio: '1',
      callTracking: false,
      popup: false,
      calendarPosition: {
        top: '0',
        left: '0'
      },
      carousel: {
        type: Number,
        moved: 0,
        pageOfButton: 5,
        buttonWidth: 0,
        buttonLength: 0,
        reminder: 0,
        page: 1,
        current: 1
      },
      timeStock: {},
      recommendTimeStock: {},
      stockDateTime: {},
      errors: {},
      recommendFlag: false
    }
  },
  mounted: function () {
    this.getSearchCondition()
    this.setSmartLoginUrl()
    this.status['stockDateTime'] = 'on-binding'
  },
  watch: {
    'timeStock': {
      handler: function (val, oldVal) {
        if (this.timeStock.resultCode !== undefined) {
          this.$emit('time-stock-result-code', this.timeStock.resultCode)
        }
        this.setStockDateTime()
      }
    },
    /**
     * ULTのため
     */
    stockRecommendIsRendered (val) {
      if (val) {
        this.$nextTick(() => {
          this.$root.rapid.refreshModule('skd_1', false, false)
        })
      }
    }
  },
  computed: {
    canReserve () {
      return this.searchCondition.selectedTime !== ''
    },
    /**
     * 在庫ないかどうか
     * @return {boolean} true/false
     */
    isNoMatchStock () {
      return this.isNoMatchDailyStock || this.isNoTimeStock
    },
    /**
     * 時間在庫ないかどうか
     * @return {boolean} true/false
     */
    isNoTimeStock () {
      return typeof this.stockDateTime.length === 'undefined' || this.stockDateTime.length === 0
    },
    /**
     * 日在庫ないかどうか
     * @return {boolean} true/false
     */
    isNoMatchDailyStock () {
      return typeof this.dailyStockFiltered === 'undefined' || Object.keys(this.dailyStockFiltered).length === 0
    },
    /**
     * 在庫レコメンド情報があるかどうか
     * @return {boolean} true/false
     */
    hasRecommendTimeStock () {
      return Object.keys(this.recommendTimeStock).length > 0 && this.recommendTimeStock.totalResults > 0
    },
    /**
     * 在庫レコメンドの日付取得
     * @return {string} 在庫レコメンドの日付
     */
    getStockRecommend () {
      return (typeof this.recommendTimeStock !== 'undefined' && Object.keys(this.recommendTimeStock).length !== 0) ? moment(this.recommendTimeStock.entry.dateTime[0]).format('YYYY年MM月DD日（ddd）') : ''
    },
    /**
     * プレミアム会員登録URL取得
     * @return {string} プレミアム会員登録URL
     */
    premiumResistUrl () {
      const currentUrl = location.href
      return this.namespace.Url.registPremium + '?done=' + encodeURIComponent(currentUrl) + '&bail=' + encodeURIComponent(currentUrl) + '&ex=' + this.namespace.Url.registPremiumLinkCode
    },
    /**
     * 人数選択リストの初期化処理
     * @return {object} 人数選択リスト
     */
    selectPerson () {
      return [...Array(this.course.fixedNumMax - this.course.fixedNumMin + 1).keys()]
        .map(i => i + this.course.fixedNumMin).map(i => { return {text: i + '名', value: i} })
    },
    /**
     * プラン情報取得
     * @return {object} プラン情報
     */
    course () {
      return this.courseDetail.entry.plans[0]
    },
    /**
     * ユーザのプレミアム会員タイプ
     *   1: SBバンドル会員（スマログ設定済ユーザ）
     *   2: YMバンドル会員（ID連携済）
     *   3: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定
     *   4: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定（YMバンドル対象者ID未連携が混在）
     *   5: オンプレ(ウォレット、アプリ課金購入などの通常プレミアム)
     *   6: 非プレミアム会員
     *   7: 非プレミアム会員(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *   8: 未ログイン
     *   9: 未ログイン(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *  ※1~5はプレミアム会員扱い、6~9は非プレミアム会員扱い
     * @return プレミアム会員タイプ
     */
    premiumMenberType () {
      return this.userInfo.premiumType
    },
    /**
     * ユーザがプレミアム会員かどうか
     * @return {boolean} true/false
     */
    isPremiumUser () {
      return this.userInfo.isPremium
    },
    /**
     * ユーザがSBバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isSBUser () {
      return this.userInfo.softbankBundle
    },
    /**
     * ユーザがYMobileバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isYMUser () {
      return this.userInfo.ymobileBundle
    },
    /**
     * 243連携済みかどうか
     * @return {boolean} true/false
     */
    isSBCooperation () {
      return this.userInfo.softBankCooperation === 1 || this.userInfo.softBankCooperation === '1'
    },
    /**
     * 席のみ判断を行う
     * @return {boolean} true/false
     */
    isSeatOnly () {
      return this.course.seatOnlyFlg || this.course.tokutenType === 1 || this.course.planId === this.courseDetail.entry.tenpoId + '01' || this.course.price <= 0
    },
    /**
     * プレミアム会員限定コースか
     * @return {boolean} true/false
     */
    isPremiumOnlyCourse () {
      return this.course.premiumOnlyFlag
    },
    /**
     * プレミアム会員特典付きコースか(プレミアム会員限定コース含む)
     * @return {boolean} true/false
     */
    isPremiumCourse () {
      return this.course.tokutenType === 1 || this.course.tokutenType === 3
    },
    /**
     * 一般料金
     * @return {int} 表示金額
     */
    originalPrice () {
      return Number(this.course.originalPrice) > 0 ? this.course.originalPrice : this.course.price
    },
    /**
     * 特典文言
     * @returns {string} 特典文言
     */
    benefitPhrase () {
      let phraseList = []
      if (this.isFilled(this.course.discountRate) && this.course.discountRate > 0) {
        let discount = ''
        if (this.isFilled(this.course.discountType)) {
          if (this.course.discountType === 1) {
            discount = 'お会計から'
          } else if (this.course.discountType === 2) {
            discount = '料理全品'
          }
        }
        phraseList.push(discount + String(this.course.discountRate) + '%OFF')
      }
      if (this.course.tokutenText) {
        phraseList.push('特典あり')
      }
      return phraseList.join('+')
    },
    /**
     * コース一覧のUrl
     * @return {string} url
     */
    courseListUrl () {
      let url = '..'
      if (location.pathname.slice(-1) !== '/') {
        url = url + '/course?date=' + this.searchCondition.selectedDate
      }
      return url
    },
    reserveFormUrl () {
      const planId = (this.course.planId === this.courseDetail.entry.tenpoId + '01') ? '' : '&planNo=' + this.course.planId
      return this.namespace.Url.reserveForm + this.courseDetail.entry.tenpoId +
        '/' + this.searchCondition.selectedDate +
        '/' + this.searchCondition.selectedPerson +
        '/' + this.searchCondition.selectedTime +
        '?ref=loco&sc_e=yloc_plan' + planId
    },
    /**
     * ULTのため
     */
    stockRecommendIsRendered () {
      return this.status.stockDateTime !== 'on-binding' &&
        this.isNoMatchStock &&
        !this.isNoMatchDailyStock &&
        this.recommendFlag && this.hasRecommendTimeStock
    }
  },
  methods: {
    /**
     * 在庫がある時間取得
     * @return {array} 在庫がある時間
     */
    setStockDateTime () {
      if (Object.keys(this.timeStock).length === 0) return {}
      this.timeClear()
      this.stockDateTime = this.timeStock.entry.dateTime.map(v => moment(v).format('HHmm'))
      this.status['stockDateTime'] = 'binded'
    },
    setSmartLoginUrl () {
      let doneUrl = ''
      const planId = (this.course.planId === this.courseDetail.entry.tenpoId + '01') ? '' : this.course.planId
      if (this.canReserve) {
        doneUrl = this.reserveFormUrl
        const url = this.namespace.Url.planDetailInputSmartLogin + doneUrl
        this.$emit('smart-login-url', url)
      } else {
        doneUrl = 'https://loco.yahoo.co.jp/place/g-' + this.tenpo.Feature[0].Gid +
                  '/course/P' + planId +
                  '/?date=' + this.searchCondition.selectedDate +
                  '&people_counts=' + this.searchCondition.selectedPerson +
                  '&time=' + this.searchCondition.selectedTime +
                  '&sc_e=yloc_plan'
        const url = this.namespace.Url.planDetailConfirmSmartLogin + doneUrl
        this.$emit('smart-login-url', url)
      }
    },
    doSmartLogin () {
      location.href = this.smartLoginUrl
    },
    goReserve () {
      // rapid: option_keys
      let rapidOptionKeys = {}
      rapidOptionKeys['vst_dt1'] = this.searchCondition.selectedDate
      rapidOptionKeys['vst_ppl1'] = this.searchCondition.selectedPerson
      rapidOptionKeys['vst_tm1'] = this.searchCondition.selectedTime
      // rapid: sendBeaconClick
      this.$root.rapid.beaconClick(
        // sec
        'skd_1',
        // slk
        'rsv1',
        // pos
        9,
        // option_keys
        rapidOptionKeys
      )
      location.href = this.reserveFormUrl
    },
    premiumResistBeforeReserveUrl () {
      // rapid: option_keys
      let rapidOptionKeys = {}
      rapidOptionKeys['vst_dt1'] = this.searchCondition.selectedDate
      rapidOptionKeys['vst_ppl1'] = this.searchCondition.selectedPerson
      rapidOptionKeys['vst_tm1'] = this.searchCondition.selectedTime
      // rapid: sendBeaconClick
      this.$root.rapid.beaconClick(
        // sec
        'skd_1',
        // slk
        'prsv1',
        // pos
        10,
        // option_keys
        rapidOptionKeys
      )
      const currentUrl = location.href
      location.href = this.namespace.Url.registPremium + '?done=' + encodeURIComponent(this.reserveFormUrl) + '&bail=' + encodeURIComponent(currentUrl) + '&ex=' + this.namespace.Url.registPremiumButtonCode
    },
    changeTime: function (event) {
      const selectedButton = document.querySelector('.time__button--select')
      selectedButton.className = 'time__button'
      const targetButton = event.target
      targetButton.className = 'time__button--select'
    },
    changeNumber: function (event) {
      // 選択状態のボタンを取得
      let selectedButton = document.querySelector('.select__button--select')
      // 選択状態のボタンのクラスをリセット（黄色からしろに）
      selectedButton.className = 'select__button'
      // クリックしたボタンを変数に入れる
      const targetButton = event.target
      if (targetButton.className === 'select__button select__button--further') {
        // パディングが含まれてるクラス名がクリックしたボタンについているか
        targetButton.className = 'select__button--select select__button--further'
      } else if (targetButton.className.match(/select__button--furthe/)) {
        targetButton.className = 'select__button--further'
      } else {
        targetButton.className = 'select__button--select'
      }
      let pepleOfNumber = targetButton.value
      this.number = pepleOfNumber
    },
    showCalendar: function () {
      this.popup = true
    },
    timeClear () {
      this.searchCondition.selectedTime = ''
    },
    /**
     * 指定した日付の予約ステータス取得
     * @return {int} 予約ステータス
     */
    getReserveStatus () {
      // 時間在庫の予約ステータスがあれば返却する (優先)
      if (this.timeStock.resultCode !== undefined) {
        return this.timeStock.resultCode
      }
      // 日在庫の予約ステータスがあれば返却する
      if (typeof this.dailyStockFiltered !== 'undefined' && Object.keys(this.dailyStockFiltered).length > 0) {
        return this.dailyStockFiltered[this.searchCondition.selectedDate]
      }
      return 0
    },
    /**
     * 日付・人数の状況に合わせて在庫検索結果を更新
     */
    updateSearchResult () {
      this.getTimeStock().then(() => {
        // データがある場合
        if (this.stockDateTime.length === 0 || typeof this.stockDateTime.length === 'undefined') {
          // 当日orURLパラメータで指定した日付で在庫が取得できなかった場合、在庫レコメンドロジック発動
          this.searchRecommendTimeStock()
        }
      })
    },
    /**
     * 時間在庫を取得する
     */
    getTimeStock () {
      // 時間在庫APIからデータの取得
      return this.bindRequest({
        name: 'timeStock',
        url: this.namespace.API.timeStock,
        params: {
          tenpoid: this.courseDetail.entry.tenpoId,
          person: this.searchCondition.selectedPerson > 0 ? this.searchCondition.selectedPerson : 2,
          datetime: this.searchCondition.selectedDate + '0000',
          planid: this.courseDetail.entry.plans[0].planId
        },
        timeout: 3000,
        eappid: true,
        method: 'GET',
        dataType: 'jsonp'
      })
    },
    /**
     * 時間在庫を取得する
     */
    getRecommendTimeStock (date) {
      // 時間在庫APIからデータの取得
      return this.bindRequest({
        name: 'recommendTimeStock',
        url: this.namespace.API.timeStock,
        params: {
          tenpoid: this.courseDetail.entry.tenpoId,
          person: this.searchCondition.selectedPerson > 0 ? this.searchCondition.selectedPerson : 2,
          datetime: (date) ? date + '0000' : this.searchCondition.selectedDate + '0000',
          planid: this.courseDetail.entry.plans[0].planId
        },
        timeout: 3000,
        eappid: true,
        method: 'GET',
        dataType: 'jsonp'
      })
    },
    showCallTrackingModal () {
      this.callTracking = true
    },
    setRecommendCondition () {
      this.setSelectedDate(moment(this.recommendTimeStock.entry.dateTime[0]).format('YYYYMMDD'))
    },
    setSelectedPerson () {
      this.recommendFlag = false
      this.updateSearchResult()
    },
    /**
     * 指定された時間を取得する
     */
    setSelectedTime (time) {
      this.searchCondition.selectedTime = time
      // rapid: option_keys
      let rapidOptionKeys = {}
      rapidOptionKeys['vst_dt1'] = this.searchCondition.selectedDate
      rapidOptionKeys['vst_ppl1'] = this.searchCondition.selectedPerson
      rapidOptionKeys['vst_tm1'] = this.searchCondition.selectedTime
      // rapid: sendBeaconClick
      this.$root.rapid.beaconClick(
        // sec
        'skd_1',
        // slk
        'time1',
        // pos
        3,
        // option_keys
        rapidOptionKeys
      )
    },
    /**
     * 日付をセットする
     */
    setSelectedDate (date) {
      this.recommendFlag = false
      this.searchCondition.selectedDate = date
      this.updateSearchResult()
    },
    /**
     * URLパラメータから日付情報を取得
     */
    getSearchCondition () {
      const urlParams = this.getUrlParams()
      // パラメータ見て何もなかったら当日選択＆コースの最少人数以上かつ2人以上
      if (typeof urlParams[0] === 'undefined') {
        this.searchCondition.selectedDate = moment().format('YYYYMMDD')
        this.searchCondition.selectedPerson = this.course.fixedNumMin > 2 ? this.course.fixedNumMin : 2
        this.getTimeStock().then((response) => {
          if (typeof response === 'undefined' || Object.keys(response.entry.dateTime).length === 0) {
            this.searchRecommendTimeStock()
          }
        })
      } else {
        let timeParam = ''
        // URLパラメータのバリデーション＆取得
        for (const param of urlParams) {
          if (param.key === 'date' && moment(param.value, 'YYYYMMDD').isValid()) {
            this.searchCondition.selectedDate = moment(param.value).format('YYYYMMDD')
          } else if (param.key === 'person' && !isNaN(param.value)) {
            this.searchCondition.selectedPerson =
              this.course.fixedNumMin <= param.value && param.value <= this.course.fixedNumMax ? param.value
                : this.course.fixedNumMin > 2 ? this.course.fixedNumMin : 2
          } else if (param.key === 'time' && moment(param.value, 'HHmm').isValid()) {
            timeParam = param.value
          }
        }
        // 日付パラメータの存在チェック
        const hasDateParam = this.searchCondition.selectedDate !== ''
        // 人数パラメータの存在チェック
        const hasPersonParam = this.searchCondition.selectedPerson !== 0
        // 日付パラメータがない場合、デフォルト設定
        if (!hasDateParam) this.searchCondition.selectedDate = moment().format('YYYYMMDD')
        // 人数パラメータがない場合、デフォルト設定
        if (!hasPersonParam) this.searchCondition.selectedPerson = this.course.fixedNumMin > 2 ? this.course.fixedNumMin : 2

        this.getTimeStock().then(() => {
          // データがある場合
          if (this.stockDateTime.length !== 0 && typeof this.stockDateTime.length !== 'undefined') {
            // URLパラメータに日付と人数があり、URLパラメータで指定した日付と人数で取得した在庫に、
            // URLパラメータで指定した時間がある場合のみ、時間のパラメータが有効になる
            this.searchCondition.selectedTime = (hasDateParam && hasPersonParam && this.stockDateTime.includes(timeParam)) ? timeParam : ''
          } else {
            // 当日orURLパラメータで指定した日付で在庫が取得できなかった場合、在庫レコメンドロジック発動
            this.searchRecommendTimeStock()
          }
        })
      }
    },
    /**
     * レコメンドするために3日分の在庫を取得
     * @return {[type]} [description]
     */
    searchRecommendTimeStock () {
      this.recommendFlag = true
      this.getRecommendTimeStock(moment(this.searchCondition.selectedDate, 'YYYYMMDD').add(1, 'days').format('YYYYMMDD')).then((response) => {
        if (typeof response === 'undefined' || Object.keys(response.entry.dateTime).length === 0) {
          this.getRecommendTimeStock(moment(this.searchCondition.selectedDate, 'YYYYMMDD').add(2, 'days').format('YYYYMMDD')).then((response) => {
            if (typeof response === 'undefined' || Object.keys(response.entry.dateTime).length === 0) {
              this.getRecommendTimeStock(moment(this.searchCondition.selectedDate, 'YYYYMMDD').add(3, 'days').format('YYYYMMDD'))
            }
          })
        }
      })
    },
    /**
     * URLパラメータ取得
     * return {array} urlパラメータ
     */
    getUrlParams () {
      let paramsPair = location.search.substring(1).split('&')
      return paramsPair
        .filter(v => v.length >= 3 && v.indexOf('=') > 0 && v.indexOf('=') < v.length - 1)
        .map(v => {
          const kv = v.split('=')
          if (kv[0] !== '') return {key: kv[0], value: kv[1]}
        })
    },
    /**
     * undefinedかnullのチェックを行う.
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    },
    /**
     * カレンダーを閉じる
     */
    closePopup: function () {
      this.popup = false
    },
    /**
     * DOMからカルーセルで使う値をdataに設定
     */
    // setCarousel: function () {
    //   this.carousel.selector = document.querySelector('.detailReserveInputFormTime__selector')
    //   // ボタンの幅を取得
    //   this.carousel.buttonWidth = (document.querySelector('.detailReserveInputFormTime__list') !== null) ? document.querySelector('.detailReserveInputFormTime__list').clientWidth : 78
    //   // ボタンの数を取得
    //   this.carousel.buttonLength = this.stockDateTime.length
    //   // ボタンの総数*ボタン1つの幅
    //   const buttonListWidth = this.carousel.buttonLength * this.carousel.buttonWidth
    //   // カルーセルのページ数
    //   this.carousel.page = Math.ceil(this.carousel.buttonLength / this.carousel.pageOfButton)
    //   // カルーセルの余り
    //   this.carousel.reminder = this.carousel.buttonLength % this.carousel.pageOfButton
    //   // ボタンの総数*幅をボタンを囲う要素に設定
    //   this.carousel.selector.style.width = buttonListWidth + 'px'
    // },
    /**
     * 時間在庫の次へボタン
     */
    carouselNext: function () {
      // カレントの位置が最後だったら押せない
      if (this.carousel.current >= this.carousel.page) return
      // 現在のカレントから表示したボタンの数を計算
      const progress = this.carousel.current * this.carousel.pageOfButton
      // ボタンの総数から表示したボタンの数を引いて、次のページのボタンの数を計算
      const nextPageButtonNumber = this.carousel.buttonLength - progress
      let nextWidth
      // 次のページが最後だったら、余りの数だけ移動する（5個ある場合も同じ）
      if (this.carousel.current === this.carousel.page - 1) {
        nextWidth = nextPageButtonNumber * this.carousel.buttonWidth
      } else {
        nextWidth = this.carousel.pageOfButton * this.carousel.buttonWidth
      }
      // 動かしてカレントをインクリメントする
      this.carousel.moved -= nextWidth
      this.carousel.selector.style.marginLeft = this.carousel.moved + 'px'
      this.carousel.current++
    },
    /**
     * 時間在庫の戻るボタン
     */
    carouselPrev: function () {
      // カレントの位置が最初だったら押せない
      if (this.carousel.current === 1) return
      let prevWidth
      // 最後のページから戻る場合は、ボタンの数から動かす距離を計算する
      if (this.carousel.current === this.carousel.page) {
        prevWidth = this.carousel.reminder * this.carousel.buttonWidth
      } else {
        prevWidth = this.carousel.pageOfButton * this.carousel.buttonWidth
      }
      // 動かしてカレントをデクリメントする
      this.carousel.moved += prevWidth
      this.carousel.selector.style.marginLeft = this.carousel.moved + 'px'
      this.carousel.current--
    }
  },
  filters: {
    /**
     * 時間在庫の表示用整形処理
     * @param {string} 時間
     * @return {string} 整形後の時間
     */
    displayReserveHour (hhmm) {
      return hhmm.slice(0, 2) + ':' + hhmm.slice(2)
    },
    /**
     * 金額の表示用整形処理
     * @param {string} 金額
     * @return {string} 整形後の金額
     */
    displayPrice (price) {
      return String(price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,') + '円'
    },
    /**
     * 日付の表示用整形処理
     * @param {string} 日付
     * @return {string} 整形後の日付
     */
    displayDay (day) {
      return moment(day, 'YYYYMMDD').format('YYYY年MM月DD日（ddd）')
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.input {
  margin-bottom: -15px;
  padding: 10px 10px;
  text-align: center;
  background-color: #fefae0;
  &__title {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 14px;
  }
  &__hint{
    color: $textColorGray;
    font-size: 12px;
    text-align: center;
  }
  &__text {
    margin-bottom: 10px;
    font-size: 12px;
  }
  &__item {
    display: table;
    width: 100%;
    margin-bottom: 10px;
    table-layout: fixed;
  }
  &__course{
    margin-bottom: 15px;
    padding: 12px 0 15px;
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.38);
  }
  &__guide{
    margin-bottom: 18px;
    padding: 0 20px;
    font-weight: bold;
  }
  &__expand{
    height: auto;
    overflow: visible;
    margin-bottom: 20px;
  }
}

.number{
  position: relative;
  display: table-cell;
  width: 33%;
  background-color: #fff;
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-radius: 5px 0 0 5px;
  &__filter{
    position: relative;
    display: block;
    width: 100%;
    &:before {
      @include RiffIcon("\E14A", 20, #ccc) ;
      top: 50%;
      left: 8px;
      margin-top: -14px;
      font-weight: normal;
      text-rendering: auto;
      pointer-events: none;
    }
    &:after {
      @include RiffIcon("\E604", 14, #666) ;
      top: 50%;
      right: 8px;
      width: 14px;
      height: 14px;
      margin-top: -7px;
      font-weight: normal;
      line-height: 1;
      text-rendering: auto;
      pointer-events: none;
    }
  }
  &__selector {
    width: 100%;
    height: 43px;;
    padding-right: 30px;
    padding-left: 34px;
    font-weight: bold;
    font-size: 16px;
    line-height: 43px;
    background-color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
    appearance: none;
  }
  &__data{
    position: relative;
    width: 100%;
    height: 43px;;
    padding: 0 34px;
    max-width: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 43px;
    white-space: nowrap;
    background: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 28px;
      height: 43px;
      background-color: #ffffff;
    }
  }
}

.date{
  @extend .number__filter;
  display: table-cell;
  width: 67%;
  overflow: hidden;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 0 5px 5px 0;
  &:before {
    @include RiffIcon("\E108", 20, #ccc) ;
    top: 50%;
    left: 8px;
    margin-top: -14px;
    font-weight: normal;
    text-rendering: auto;
    pointer-events: none;
  }
  &:after {
    @include RiffIcon("\E604", 14, #666) ;
    top: 50%;
    right: 10px;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    pointer-events: none;
  }
  &__data{
    @extend .number__data;
  }
}

.time{
  &__panel{
    margin: 0 -10px;
  }
  &__list{
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 0 8px -8px;
    padding: 0 10px;
    font-size: 0;
    white-space: nowrap;
  }
  &__item{
    display: inline-block;
    margin-left: 8px;
  }
  &__button{
    @include button-normal;
    display: block;
    width: 77px;
    padding: 8px;
    font-size: 14px;
    &--select{
      @extend.time__button;
      background-image: none;
      background-color: #ffc537;
      border: none;
      box-shadow: none;
    }
    &--disabled{
      @extend .time__button;
      color: $grayOut;
      background: #ddd;
      border-radius: 4px;
      border: none;
      box-shadow: none;
    }
  }
}

.select{
  margin: 0 0 10px -8px;
  font-size: 0;
  &__item{
    display: inline-block;
    width: 25%;
    padding: 6px 0 0 8px;
    box-sizing: border-box;
  }
  &__button{
    @include button-normal;
    width: 100%;
    height: 33px;
    font-size: 14px;
    box-sizing: border-box;
    &--select{
      @extend .select__button;
      background-image: none;
      background-color: #ffc537;
      border: none;
      box-shadow: none;
    }
    &--disabled{
      @extend .select__button;
      color: $grayOut;
      background: #ddd;
      border-radius: 4px;
      border: none;
      box-shadow: none;
    }
    &--further{
      padding-left: 10px;
      -webkit-appearance: none;
    }
  }
  &__select{
    position: relative;
    z-index: 0;
    &:after {
      @include RiffIcon("\E604", 14, #666) ;
      top: 50%;
      right: 8px;
      width: 14px;
      height: 14px;
      margin-top: -8px;
      font-weight: normal;
      line-height: 1;
      text-rendering: auto;
      pointer-events: none;
    }
  }
}

.description{
  text-align: center;
  &__button{
    @include button-main;
    width: 100%;
    height: 69px;
    max-width: 315px;
    margin-bottom: 12px;
    padding: 12px;
    font-size: 18px;
  }
  &__text{
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
  &__hint{
    margin-bottom: 12px;
    color: $textColorGray;
    font-size: 12px;
    line-height: 15px;
  }
  &__change{
    @include button-normal;
    display: block;
    margin-bottom: 12px;
    padding: 12px;
    font-size: 14px;
  }
  &__other{
    margin-bottom: 15px;
    font-weight: bold;
  }
}

.special{
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 17px;
  &__privilege{
    color: #eb4c43;
    font-size: 14px;
  }
  &__note{
    font-size: 14px;
  }
}

.smart{
  padding: 0 20px;
    &__button{
    @include button-normal;
    width: 100%;
    height: 69px;
    max-width: 315px;
    margin-bottom: 18px;
    padding: 12px;
    font-size: 18px;
    box-sizing: border-box
  }
}

.premium{
  padding: 0 20px;
  &__button{
    @extend .smart__button;
    margin-bottom: 20px;
  }
  &__note{
    display: block;
    font-size: 12px;
  }
  &__text{
    font-size: 18px;
  }
}

.continue{
  padding: 12px 20px 0 20px;
  border-top: dotted 1px #ddd;
  &__text{
    margin-bottom: 10px;
    padding: 0 20px;
    font-size: 12px;
    line-height: 17px;
  }
  &__button{
    @include button-main;
    width: 100%;
    height: 69px;
    max-width: 315px;
    margin-bottom: 7px;
    padding: 12px;
    font-size: 18px;
  }
  &__request{
    font-weight: bold;
    font-size: 12px;
  }
  &__input{
    @include button-main;
    width: 100%;
    height: 69px;
    max-width: 315px;
    margin-bottom: 7px;
    padding: 12px;
    font-size: 18px;
  }
}

.member{
  margin-bottom: 15px;
  padding: 12px 20px 15px 20px;
  text-align: center;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.38);
  &__special{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  &__privilege{
    color: #eb4c43;
  }
  &__input{
    @include button-main;
    width: 100%;
    height: 69px;
    max-width: 315px;
    margin-bottom: 7px;
    padding: 12px;
    font-size: 18px;
  }
  &__request{
    font-weight: bold;
    font-size: 12px;
  }
}
</style>
