<template>
  <div class="guest" v-if="isPremiumCourse">
    <p class="guest__premium" v-if="isSBUser">
      <span class="guest__text">ソフトバンクスマホユーザーのあなたは<br />プレミアム会員限定の料金・特典がご利用できます。</span>
    </p>
    <p class="guest__premium" v-else-if="isYMUser">
      <span class="guest__text">Y!mobileユーザーのあなたは<br />プレミアム会員限定の料金・特典がご利用できます。</span>
    </p>
    <p class="guest__premium" v-else-if="isPremiumUser">
      <span class="guest__text">あなたはプレミアム会員です。<br />プレミアム会員限定の料金・特典がご利用できます。</span>
    </p>
    <p class="guest__message" v-else>
      <span class="guest__text">あなたはプレミアム会員ではありません。<br />通常料金でご予約可能です。</span>
    </p>
    <p class="guest__benefits" v-if="!isSBUser && isSBCooperation">
      <span class="guest__text">ソフトバンクをお使いの方へ。</span><a href="#smartLogin" class="guest__link">詳細はこちら▼</a>
    </p>
  </div>
</template>
<script>
export default {
  props: [
    'courseDetail',
    'userInfo'
  ],
  computed: {
    /**
     * プラン情報取得
     * @return {object} プラン情報
     */
    course () {
      return this.courseDetail.entry.plans[0]
    },
    /**
     * ユーザのプレミアム会員タイプ
     *   1: SBバンドル会員（スマログ設定済ユーザ）
     *   2: YMバンドル会員（ID連携済）
     *   3: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定
     *   4: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定（YMバンドル対象者ID未連携が混在）
     *   5: オンプレ(ウォレット、アプリ課金購入などの通常プレミアム)
     *   6: 非プレミアム会員
     *   7: 非プレミアム会員(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *   8: 未ログイン
     *   9: 未ログイン(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *  ※1~5はプレミアム会員扱い、6~9は非プレミアム会員扱い
     * @return プレミアム会員タイプ
     */
    premiumMenberType () {
      return this.userInfo.premiumType
    },
    /**
     * ユーザがプレミアム会員かどうか
     * @return {boolean} true/false
     */
    isPremiumUser () {
      return this.userInfo.isPremium
    },
    /**
     * ユーザがSBバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isSBUser () {
      return this.userInfo.softbankBundle
    },
    /**
     * ユーザがYMobileバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isYMUser () {
      return this.userInfo.ymobileBundle
    },
    /**
     * 243連携済みかどうか
     * @return {boolean} true/false
     */
    isSBCooperation () {
      return this.userInfo.softBankCooperation === 1 || this.userInfo.softBankCooperation === '1'
    },
    /**
     * 席のみ判断を行う
     * @return {boolean} true/false
     */
    isSeatOnly () {
      return this.course.seatOnlyFlg || this.course.tokutenType === 1 || this.course.planId === this.courseDetail.entry.tenpoId + '01' || this.course.price <= 0
    },
    /**
     * プレミアム会員限定コースか
     * @return {boolean} true/false
     */
    isPremiumOnlyCourse () {
      return this.course.premiumOnlyFlag
    },
    /**
     * プレミアム会員特典付きコースか(プレミアム会員限定コース含む)
     * @return {boolean} true/false
     */
    isPremiumCourse () {
      return this.course.tokutenType === 1 || this.course.tokutenType === 3
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.guest{
  padding-top: 10px;
  background: #fff;
  &__message{
    padding: 8px 0;
    font-size: 12px;
    text-align: center;
    background: #f4f4f4;
  }
  &__premium{
    @extend .guest__message;
    color: #fff;
    background: #eb4c43;
  }
  &__benefits{
    padding: 12px 0 10px 0;
    color: $textColorGray;
    font-size: 12px;
    text-align: center;
  }
}
</style>
