<template>
  <div id="login" class="detailLogin" v-if="!isSBUser && isSBCooperation">
    <p class="login__title">ソフトバンクスマホユーザーは<br />スマートログイン設定をすると<br />プレミアム会員特典を受けられます</p>
    <p class="login__text">※お客様の通信契約内容によっては対象外の場合もございます</p>
    <p class="login__setting">スマートログイン設定はこちらから</p>
    <ul class="login__list">
      <li class="login__item">
        <a :href="smartLoginUrl" class="login__link">ソフトバンクをご利用の方</a>
      </li>
    </ul>
  </div>
</template>
<script>
import Base from '@lib/baseComponent'
export default {
  extends: Base,
  props: [
    'userInfo',
    'smartLoginUrl'
  ],
  computed: {
    /**
     * ユーザのプレミアム会員タイプ
     *   1: SBバンドル会員（スマログ設定済ユーザ）
     *   2: YMバンドル会員（ID連携済）
     *   3: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定
     *   4: 既存プレミアム会員＆SBバンドル対象者＆スマログ未設定（YMバンドル対象者ID未連携が混在）
     *   5: オンプレ(ウォレット、アプリ課金購入などの通常プレミアム)
     *   6: 非プレミアム会員
     *   7: 非プレミアム会員(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *   8: 未ログイン
     *   9: 未ログイン(SB対象ユーザ)※Y!モバ会員はIPがSBと同一なため、SBユーザ対象に含まれる
     *  ※1~5はプレミアム会員扱い、6~9は非プレミアム会員扱い
     * @return プレミアム会員タイプ
     */
    premiumMenberType () {
      return this.userInfo.premiumType
    },
    /**
     * ユーザがプレミアム会員かどうか
     * @return {boolean} true/false
     */
    isPremiumUser () {
      return this.userInfo.isPremium
    },
    /**
     * ユーザがSBバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isSBUser () {
      return this.userInfo.softbankBundle
    },
    /**
     * ユーザがYMobileバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isYMUser () {
      return this.userInfo.ymobileBundle
    },
    /**
     * 243連携済みかどうか
     * @return {boolean} true/false
     */
    isSBCooperation () {
      return this.userInfo.softBankCooperation === 1 || this.userInfo.softBankCooperation === '1'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.login{
  margin: 15px 10px;
  padding: 15px;
  text-align: center;
  background-color: #f4f4f4;
  &__title{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
  }
  &__text{
    margin-bottom: 15px;
    font-size: 12px;
  }
  &__setting{
    margin-bottom: 15px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 12px;
    border-top: 1px solid #ddd;
  }
  &__item{
    display: inline-block;
    margin: 0 8px;
    font-weight: bold;
    font-size: 12px;
  }
}
</style>
