<template>
  <div class="title">
    <div class="title__inner">
      <div class="title__photo">
        <img class="title__image" :src="getResizeImage(this.course.image[0], '90x90')" />
      </div>
      <div class="title__information">
        <h1 class="title__heading heading">
          <span class="heading__title">{{ course.name }}</span>
        </h1>
      </div>
    </div>
  </div>
</template>

<script>
import Base from '@lib/baseComponent'
const imageWidth = 90
const imageHeight = 90
const noImageSize = '200x200'

export default {
  props: [
    'tenpo',
    'courseDetail'
  ],
  extends: Base,
  mounted () {
    if (this.course.image.length > 0) {
      this.resizeImages(this.tenpo.Feature[0].Gid, [{urls: [this.course.image[0]], width: imageWidth, height: imageHeight}])
    }
  },
  computed: {
    /**
     * プラン情報取得
     * @return {object} プラン情報
     */
    course () {
      return this.courseDetail.entry.plans[0]
    }
  },
  methods: {
    getResizeImage (url, size) {
      if (this.status['resizedImages'] === 'binded' && this.isValid(this.resizedImages[url]) && this.isValid(this.resizedImages[url][size])) {
        return this.resizedImages[url][size]
      }
      return this.namespace.noImage[noImageSize]
    },
    isValid (param) {
      return typeof param !== 'undefined' && param !== null
    }

  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.title{
  padding: 10px;
  background-color: #fff;
  border-top: solid 1px #ddd;
  &__inner{
    display: table;
  }
  &__photo{
    display: table-cell;
    vertical-align: top;
  }
  &__image{
    display: block;
    width: 90px;
    height: auto;
  }
  &__information{
    display: table-cell;
    padding-left: 8px;
    vertical-align: top;
  }
}

.heading{
  &__title{
    font-weight: bold;
    font-size: 16px;
  }
}
</style>
