<template>
  <div class="price">
    <div class="price__container">
      <dl class="price__body">
        <dt class="price__title">一般</dt>
        <dd class="price__list">
          <p class="price__text--no" v-if="isPremiumOnlyCourse">ご利用いただけません</p>
          <p class="price__text" v-else-if="isSeatOnly">お席のみ</p>
          <p class="price__text" v-else>{{ originalPrice | displayPrice }}</p>
        </dd>
      </dl>
    </div>
    <div class="price__container" v-if="isPremiumCourse">
      <dl class="price__body">
        <dt class="price__premium">プレミアム会員限定</dt>
        <dd class="price__list">
          <p class="price__item" v-if="isSeatOnly">
            <span class="price__text">お席のみ</span>
            <span class="price__benefits" v-if="benefitPhrase !== ''">{{ benefitPhrase }}</span>
          </p>
          <p class="price__item" v-else>
            <span class="price__text">{{ course.price | displayPrice }}</span>
            <span class="price__benefits" v-if="benefitPhrase !== ''">{{ benefitPhrase }}</span>
          </p>
          <p class="price__detail" v-if="isFilled(course.tokutenText) && course.tokutenText !== ''">特典：{{ course.tokutenText }}</p>
          <template v-if="isPremiumUser && !isSBUser && isSBCooperation">
            <a href="#smartlogin" class="price__link" v-smoothscroll rel="nofollow">ソフトバンクをお使いの方へ。詳細はこちら</a>
            <p class="price__annotation">
              ※お客様の通信契約内容によっては対象外の場合もございます
            </p>
          </template>
          <template v-if="!isPremiumUser && isSBCooperation">
            <a href="#smartlogin" class="price__link" v-smoothscroll rel="nofollow">ソフトバンクスマホユーザーでも特典が受けられます。詳細はこちら</a>
            <p class="price__annotation">
              ※お客様の通信契約内容によっては対象外の場合もございます
            </p>
          </template>
          <a :href="premiumResistUrl" class="price__link" target="_blank" rel="nofollow noopener" v-if="!isPremiumUser && !isSBCooperation" data-ylk="slk:preg1;pos:5">Yahoo!プレミアム会員に登録する</a>
        </dd>
      </dl>
    </div>
  </div>
</template>
<script>
import Base from '@lib/baseComponent'
export default {
  extends: Base,
  props: [
    'courseDetail',
    'userInfo',
    'searchCondition'
  ],
  computed: {
    /**
     * プラン情報取得
     * @return {object} プラン情報
     */
    course () {
      return this.courseDetail.entry.plans[0]
    },
    /**
     * ユーザがプレミアム会員かどうか
     * @return {boolean} true/false
     */
    isPremiumUser () {
      return this.userInfo.isPremium
    },
    /**
     * ユーザがSBバンドル登録しているかどうか
     * @return {boolean} true/false
     */
    isSBUser () {
      return this.userInfo.softbankBundle
    },
    /**
     * 243連携済みかどうか
     * @return {boolean} true/false
     */
    isSBCooperation () {
      return this.userInfo.softBankCooperation === 1 || this.userInfo.softBankCooperation === '1'
    },
    /**
     * 席のみ判断を行う
     * @return {boolean} true/false
     */
    isSeatOnly () {
      return this.course.seatOnlyFlg || this.course.tokutenType === 1 || this.course.planId === this.courseDetail.entry.tenpoId + '01' || this.course.price <= 0
    },
    /**
     * プレミアム会員限定コースか
     * @return {boolean} true/false
     */
    isPremiumOnlyCourse () {
      return this.course.premiumOnlyFlag
    },
    /**
     * プレミアム会員特典付きコースか(プレミアム会員限定コース含む)
     * @return {boolean} true/false
     */
    isPremiumCourse () {
      return this.course.tokutenType === 1 || this.course.tokutenType === 3
    },
    /**
     * 一般料金
     * @return {int} 表示金額
     */
    originalPrice () {
      return Number(this.course.originalPrice) > 0 ? this.course.originalPrice : this.course.price
    },
    /**
     * 特典文言
     * @returns {string} 特典文言
     */
    benefitPhrase () {
      let phraseList = []
      if (this.isFilled(this.course.discountRate) && this.course.discountRate > 0) {
        let discount = ''
        if (this.isFilled(this.course.discountType)) {
          if (this.course.discountType === 1) {
            discount = 'お会計から'
          } else if (this.course.discountType === 2) {
            discount = '料理全品'
          }
        }
        phraseList.push(discount + String(this.course.discountRate) + '%OFF')
      }
      if (this.course.tokutenText) {
        phraseList.push('特典あり')
      }
      return phraseList.join('+')
    },
    /**
     * プレミアム会員登録URL取得
     * @return {string} プレミアム会員登録URL
     */
    premiumResistUrl () {
      const currentUrl = location.href
      return this.namespace.Url.registPremium + '?done=' + encodeURIComponent(currentUrl) + '&bail=' + encodeURIComponent(currentUrl) + '&ex=' + this.namespace.Url.registPremiumLinkCode
    }
  },
  methods: {
    /**
     * undefinedかnullのチェックを行う.
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    }
  },
  filters: {
    /**
     * 金額の表示用整形処理
     * @param {string} 金額
     * @return {string} 整形後の金額
     */
    displayPrice (price) {
      return String(price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,') + '円'
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.price {
  background-color: #fff;
  &__container{
    padding: 10px;
    word-break: normal;
    border-top: 1px solid #ddd;
  }
  &__title{
    display: table-cell;
    width: 84px;
    padding: 3px 8px 0 0;
    font-weight: bold;
    font-size: 12px;
    vertical-align: top;
  }
  &__premium{
    @extend .price__title;
    &:before {
      @include svgIcon($width:13, $height:13, $url:"https://s.yimg.jp/images/loco/front/images/common/icons/premium.svgz");
      display: inline-block;
      margin-right: 3px;
      vertical-align: middle;
    }
  }
  &__list {
    display: table-cell;
    padding-left: 8px;
    vertical-align: top;
  }
  &__text {
    margin-right: 8px;
    color: $priceColor;
    font-weight: bold;
    font-size: 20px;
    &--no{
      @extend .price__text;
      font-weight: normal;
      font-size: 14px;
    }
  }
  &__benefits {
    display: inline-block;
    padding: 2px 4px 1px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    vertical-align: text-bottom;
    background: $priceColor;
  }
  &__detail {
    margin-bottom: 5px;
    color: $priceColor;
    font-size: 12px;
    line-height: 15px;
  }
  &__link {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }
  &__annotation {
    color: $textColorLightGray;
    font-size: 11px;
    line-height: 14px;
  }
}
</style>
