<template>
  <div class="menu">
    <div class="menu__contents">
      <h2 v-on:click="menu = !menu" v-bind:class="{'menu__title--bottom':menu}" class="menu__title">メニュー</h2>
      <div v-if="menu" class="menu__detail">
        <p class="menu__text" v-if="menuTexts.length > 0">
          料理メニュー<br />
          <br />
          <template v-for="(text, index) in menuTexts" v-if="menuTexts.length > 0">
            {{ text }}<br v-if="index != menuTexts.length" />
          </template>
        </p>
        <p class="menu__text" v-if="drinkTexts.length > 0">
          ドリンクメニュー<br />
          <br />
          <template v-for="(text, index) in drinkTexts" v-if="drinkTexts.length > 0">
            {{ text }}<br v-if="index != drinkTexts.length" />
          </template>
        </p>
        <p class="menu__text">
          ※メニューは仕入状況等により、変更となる場合がございます。あらかじめご了承ください。
        </p>
      </div>
    </div>
    <div class="menu__contents">
      <h2 v-on:click="plan = !plan" v-bind:class="{'menu__title--bottom':plan}" class="menu__title">プラン紹介</h2>
      <div v-if="plan" class="menu__detail">
        <p class="menu__lead" v-if="planIntroductions.length > 0">
          <template v-for="(text, index) in planIntroductions">
            {{ text }}<br v-if="index != planIntroductions.length" />
          </template>
        </p>
        <h3 class="menu__attention">お店からの注意事項</h3>
        <p class="menu__text" v-if="freeTexts.length > 0">
          <template v-for="(freeText, index) in freeTexts">
            {{ freeText }} <br v-if="index != freeTexts.length" />
          </template>
        </p>
        <ul class="menu__list">
          <li v-for="text in listText" class="menu__item">{{ text }}</li>
        </ul>
        <div class="menu__row" v-if="availablePeopleNumber.length > 0">
          <h3 class="menu__name">利用可能人数</h3>
          <p class="menu__data">{{ availablePeopleNumber }}</p>
        </div>
        <div class="menu__row" v-if="cardsInfo.length > 0">
          <h3 class="menu__name">カード</h3>
          <p class="menu__data">{{ cardsInfo }}</p>
        </div>
        <div class="menu__row" v-if="parkingInfo !== ''">
          <h3 class="menu__name">駐車場</h3>
          <p class="menu__data">{{ parkingInfo }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Base from '@lib/baseComponent'
import Pagination from '@lib/Pagination'
import moment from 'moment'

const seatOnlyPattern = new RegExp('^s[0-9]{9}01$')

export default {
  extends: Base,
  props: [
    'tenpo',
    'courseDetail',
    'timeStockResultCode',
    'eappid'
  ],
  data () {
    return {
      menu: true,
      plan: true,
      announcementData: {},
      time: new Pagination().getSearchParameters().time,
      date: new Pagination().getSearchParameters().date
    }
  },
  mounted () {
    // ポリシー情報の取得
    if (typeof this.namespace.API.announcement !== 'undefined') {
      this.bindRequest({
        name: 'announcementData',
        url: this.namespace.API.announcement,
        params: {
          tenpoId: this.courseDetail.entry.tenpoId,
          planId: this.isYSeatOnly ? '' : this.courseDetail.entry.plans[0].planId,
          datetime: (this.date !== undefined && this.time !== undefined) ? this.date + this.time : ''
        },
        timeout: 3000,
        eappid: true,
        dataType: 'json'
      })
    }
  },
  computed: {
    /**
     * Y! 席のみかどうか
     */
    isYSeatOnly () {
      return seatOnlyPattern.test(this.courseDetail.entry.plans[0].planId)
    },
    /**
     * メニューを取得する
     */
    menuTexts () {
      let plan = this.courseDetail.entry.plans[0]
      let foodMenu = []
      if (plan.menuIntroduction || plan.menu) {
        if (plan.menuIntroduction) {
          foodMenu.push(...this.splitTextByCRLF(plan.menuIntroduction))
        }
        if (plan.menu) {
          foodMenu.push(...this.splitTextByCRLF(plan.menu))
        }
      }
      return foodMenu
    },
    /**
     * ドリンクメニューを取得する
     */
    drinkTexts () {
      let plan = this.courseDetail.entry.plans[0]
      let drinkMenu = []
      if (plan.drinkIntroduction || plan.drink) {
        if (plan.drinkIntroduction) {
          drinkMenu.push(...this.splitTextByCRLF(plan.drinkIntroduction))
        }
        if (plan.drink) {
          drinkMenu.push(...this.splitTextByCRLF(plan.drink))
        }
      }
      return drinkMenu
    },
    /**
     * プラン紹介文を取得する
     */
    planIntroductions () {
      return this.splitTextByCRLF(this.courseDetail.entry.plans[0].catchPhrase)
    },
    /**
     * フリーテキストを取得する
     */
    freeTexts () {
      return this.status.announcementData === 'binded' ? this.splitTextByCRLF(this.announcementData.entry.free_text) : []
    },
    /**
     * リストで表示するテキストを取得する
     */
    listText () {
      // バインドが終わってなかったら空配列を返す
      if (this.status.announcementData !== 'binded') {
        return []
      }
      const excludeKey = this.getExcludeKey()
      const entry = this.announcementData.entry
      return Object.keys(entry)
        .filter(key => !excludeKey.some(excludeKey => excludeKey === key) && entry[key] !== null)
        .map(key => entry[key])
    },
    /**
     * 利用可能人数の取得
     */
    availablePeopleNumber () {
      return this.courseDetail.entry.plans[0].fixedNumMin !== undefined &&
        this.courseDetail.entry.plans[0].fixedNumMin !== null &&
        this.courseDetail.entry.plans[0].fixedNumMax !== undefined &&
        this.courseDetail.entry.plans[0].fixedNumMax !== null
        ? this.courseDetail.entry.plans[0].fixedNumMin + '名〜' + this.courseDetail.entry.plans[0].fixedNumMax + '名'
        : ''
    },
    /**
     * クレジットカード情報の取得
     */
    cardsInfo () {
      return (this.tenpo.Feature[0].Property.CreditcardFlag === 'true') ? '可' : '不可'
    },
    /**
     * クレジットカード情報の取得
     */
    parkingInfo () {
      if (this.courseDetail.entry.parkingCode === 2) return 'あり'
      if (this.courseDetail.entry.parkingCode === 1) return 'なし'
      return ''
    }
  },
  methods: {
    /**
     * 除外するkey名を取得する
     */
    getExcludeKey () {
      let excludeKey = ['free_text']
      if (this.time !== undefined && this.time.length === 4 && moment(this.time, 'HHmm').isValid()) { // timeパラメータが有りかつ正常かどうか
        excludeKey.push('request_deadline_notice')
      } else { // timeパラメータが無しまたはtimeパラメータが異常な場合
        if (this.timeStockResultCode === 2) { // リクエスト予約の場合
          excludeKey.push('deadline_notice')
        } else { // 通常予約の場合
          excludeKey.push('request_deadline_notice')
        }
      }
      return excludeKey
    },
    /**
     * CRLFで文字列を分割した配列を返却
     * @param originalText {string} 分割前テキスト
     * @return {Array} CLRFで分割後の配列
     */
    splitTextByCRLF: function (originalText) {
      if (originalText === undefined || originalText === null) {
        return []
      }
      return originalText.split(/\r?\n/)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.menu{
  margin-bottom: 20px;
  background-color: #fff;
  &__contents{
  border-top: 1px solid #dddddd;
    &:last-child{
      border-bottom: 1px solid #dddddd;
    }
  }
  &__title{
    display: block;
    position: relative;
    padding: 10px 10px 10px 44px;
    font-weight: bold;
    font-size: 16px;
    &::before {
      @include RiffIcon("\E60E", 16, #333) ;
      display: block;
      position: absolute;
      top: 50%;
      left: 16px;
      margin-top: -12px;
    }
    &--bottom{
      &::before{
        transform: rotate(90deg);
      }
    }
  }
  &__detail{
    padding: 0 10px 15px;
  }
  &__text{
    color: $textColorGray;
    font-size: 12px;
  }
  &__lead{
    @extend .menu__text;
    margin-bottom: 15px;
  }
  &__attention{
    margin-bottom: 8px;
    color: #f00;
    font-weight: bold;
  }
  &__list{
    margin: 0 20px 20px;
    color: $textColorGray;
    font-size: 12px;
    list-style-type: disc;
  }
  &__row {
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #dddddd;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__name{
    margin-bottom: 4px;
    color: $textColorGray;
    font-weight: bold;
    font-size: 14px;
  }
}

.option{
  padding: 0 10px 15px;
  &__header {
    @include clearfix;
  }
  &__image{
    float: left;
    width: 80px;
    height: auto;
  }
  &__title{
    margin: 0 0 10px 88px;
    font-weight: bold;
    font-size: 14px;
  }
  &__item{
    margin-bottom: 10px;
  }
  &__price{
    margin-left: 88px;
    color: #ff6673;
    font-weight: bold;
    font-size: 14px;
  }
  &__text{
    margin-bottom: 10px;
    font-size: 12px;
  }
  &__term{
    font-size: 12px;
  }
}

.annotation{
  padding: 15px 10px;
  font-size: 12px;
  text-align: center;
  border-top: solid 1px #ddd;
}
</style>
