<template>
<div class="error">
    <p class="error__title">メニュー情報の取得に失敗しました。</p>
    <p class="error__description">大変恐れ入りますが、しばらく経ってから<br />お試しください。</p>
    <button type="button" class="error__button reloadButton"><span class="reloadButton__title">ページを再読み込みする</span></button>
</div>
</template>

<script>
  export default {
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.error{
  @include errorBody;
  &__title{
    @include errorTitle;
  }
  &__description{
    @include errorDescription;
  }
}
.reloadButton{
  @include errorReloadButton;
  &__title{
    @include errorReloadButtonTitle;
  }
}

</style>
