<template>
  <div v-if="courseList.totalResults > 0" id="colist" class="list tracked_mods">
    <counter
      :is-counter-next-range="false"
      :is-counter-range="false"
      :is-counter-result="true"
      :page="page"
    >
    </counter>
    <ul class="list__list">
      <template v-for="(course, courseIndex) in this.courseList.entry">
      <!-- yahooプラン : 通常プラン -->
        <li v-if="isYahooPlan(course.cassette) && (!isFilled(course.tokutenType) || course.tokutenType === 0)" class="list__plan">
          <div class="list__inner">
            <div class="list__image listImage">
              <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="listImage__link" :data-ylk="buildDataYlk('coimage', courseIndex, course.cassette)">
                <img :src="getResizeImage(course.image, courseImageSize)" :alt="isYSeatOnly(course.id) ? '【席のみ予約】お食事の内容は当日選ぶ' : course.name" class="listImage__image" />
              </a>
            </div>
            <div class="list__detail">
              <div class="list__types">
                <span v-if="Boolean(course.reservationType)" class="list__item">リクエスト予約</span>
                <span v-else class="list__item">即予約</span>
                <span v-if="isLabel(course.attributes, '飲み放題')" class="list__item">飲み放題</span>
                <span v-if="isLabel(course.attributes, '食べ放題')" class="list__item">食べ放題</span>
              </div>
              <h3 class="list__title">
                <a v-if="isYSeatOnly(course.id)" :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="list__link" :data-ylk="buildDataYlk('cotitle', courseIndex, course.cassette)">【席のみ予約】お食事の内容は当日選ぶ</a>
                <a v-else :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="list__link" :data-ylk="buildDataYlk('cotitle', courseIndex, course.cassette)">{{course.name}}</a>
              </h3>
              <ul class="list__price price">
                <li class="price__item">
                  <span class="price__note">料金</span>
                  <em v-if="isSeatOnly(course.id, course.tokutenType, course.price)" class="price__main--seat">席のみ予約</em>
                  <em v-else class="price__main">{{course.price | separatePrice}}円</em>
                </li>
                <li class="price__tax">※消費税等は要確認</li>
              </ul>
              <dl v-if="getUseScene(course.attributes) !== ''" class="list__scene scene">
                <dt class="scene__headline">利用シーン</dt>
                <dd class="scene__scene">{{getUseScene(course.attributes)}}</dd>
              </dl>
            </div>
          </div>
          <div class="list__reservation reservation">
            <img :src="getLogoImage(course.cassette)" width="auto" height="30" :alt="cassetteName[course.cassette]" class="reservation__image" />
            <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="reservation__button" :data-ylk="buildDataYlk('corvbtn', courseIndex, course.cassette)">コース詳細・予約する</a>
          </div>
        </li>
        <!-- yahooプラン : 特典あり -->
        <li v-else-if="isYahooPlan(course.cassette) && course.tokutenType !== 0" class="list__plan">
          <div class="list__inner">
            <div class="list__image listImage">
              <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="listImage__link" :data-ylk="buildDataYlk('coimage', courseIndex, course.cassette)">
                <img :src="getResizeImage(course.image, courseImageSize)" :alt="isYSeatOnly(course.id) ? '【席のみ予約】お食事の内容は当日選ぶ' : course.name" class="listImage__image" />
              </a>
            </div>
            <div class="list__detail">
              <div class="list__types">
                <span v-if="Boolean(course.reservationType)" class="list__item">リクエスト予約</span>
                <span v-else class="list__item">即予約</span>
                <span v-if="isLabel(course.attributes, '飲み放題')" class="list__item">飲み放題</span>
                <span v-if="isLabel(course.attributes, '食べ放題')" class="list__item">食べ放題</span>
              </div>
              <h3 class="list__title">
                <a v-if="isYSeatOnly(course.id)" :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="list__link" :data-ylk="buildDataYlk('cotitle', courseIndex, course.cassette)">【席のみ予約】お食事の内容は当日選ぶ</a>
                <a v-else :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="list__link" :data-ylk="buildDataYlk('cotitle', courseIndex, course.cassette)">{{course.name}}</a>
              </h3>
              <ul class="list__price price">
                <li class="price__item">
                  <span class="price__note">一般料金</span>
                  <em v-if="course.premiumOnlyFlag" class="price__main--noPrice">ご利用いただけません</em>
                  <em v-else-if="isSeatOnly(course.id, course.tokutenType, course.price)" class="price__main--seat">席のみ予約</em>
                  <em v-else-if="isFilled(course.originalViewPrice)" class="price__main">{{course.originalViewPrice | separatePrice}}円</em>
                  <em v-else class="price__main">{{course.price | separatePrice}}円</em>
                </li>
                <li class="price__item--premium premium">
                  <span class="premium__item">
                    <span class="premium__note">プレミアム会員価格</span>
                    <em v-if="isSeatOnly(course.id, course.tokutenType, course.price)" class="price__main--seat">席のみ予約</em>
                    <em v-else class="price__main">{{course.price | separatePrice}}円</em>
                  </span>
                </li>
                <li v-if="getBenefitPhrase(course.hasTokuten, course.discountPercent) !== ''" class="price__offspecial offspecial">
                  <span class="offspecial__item">{{getBenefitPhrase(course.hasTokuten, course.discountPercent)}}</span>
                </li>
                <li v-if="isFilled(course.tokutenText) && course.tokutenText !== ''" class="price__special">特典：{{course.tokutenText}}</li>
                <li class="price__tax">※消費税等は要確認</li>
              </ul>
              <dl v-if="getUseScene(course.attributes) !== ''" class="list__scene scene">
                <dt class="scene__headline">利用シーン</dt>
                <dd class="scene__scene">{{getUseScene(course.attributes)}}</dd>
              </dl>
            </div>
          </div>
          <div class="list__reservation reservation">
            <img :src="getLogoImage(course.cassette)" width="auto" height="30" :alt="cassetteName[course.cassette]" class="reservation__image" />
            <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" class="reservation__button" :data-ylk="buildDataYlk('corvbtn', courseIndex, course.cassette)">コース詳細・予約する</a>
          </div>
        </li>
        <!-- yahoo以外 -->
        <li v-else class="list__plan">
          <div class="list__inner">
            <div class="list__image listImage">
              <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="listImage__link" rel="nofollow noopener" :data-ylk="buildDataYlk('coimage', courseIndex, course.cassette)">
                <img :src="getResizeImage(course.image, courseImageSize)" :alt="course.name" class="listImage__image" />
              </a>
            </div>
            <div class="list__detail">
              <div class="list__types">
                <span v-if="Boolean(course.reservationType)" class="list__item">リクエスト予約</span>
                <span v-else class="list__item">即予約</span>
                <span v-if="isLabel(course.attributes, '飲み放題')" class="list__item">飲み放題</span>
                <span v-if="isLabel(course.attributes, '食べ放題')" class="list__item">食べ放題</span>
              </div>
              <h3 class="list__title">
                <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="list__link" rel="nofollow noopener" :data-ylk="buildDataYlk('cotitle', courseIndex, course.cassette)">{{course.name}}</a>
              </h3>
              <ul v-if="!isSeatOnly(course.id, 0, course.price)" class="list__price price">
                <li class="price__item">
                  <span>料金</span>
                  <em class="price__main">{{course.price | separatePrice}}円</em>
                </li>
                <li class="price__tax">※消費税等は要確認</li>
              </ul>
              <dl v-if="getUseScene(course.attributes) !== ''" class="list__scene scene">
                <dt class="scene__headline">利用シーン</dt>
                <dd class="scene__scene">{{getUseScene(course.attributes)}}</dd>
              </dl>
            </div>
          </div>
          <div class="list__reservation reservation">
            <img :src="getLogoImage(course.cassette)" width="auto" height="30" :alt="cassetteName[course.cassette]" class="reservation__image" />
            <a :href="getCourseDetailUrl(course.id, course.cassette, course.urls)" target="_blank" class="reservation__button" rel="nofollow noopener" :data-ylk="buildDataYlk('corvbtn', courseIndex, course.cassette)">コース詳細・予約する</a>
          </div>
        </li>
      </template>
    </ul>
  </div>
</template>

<script>
import counter from '@sp/components/place/counter.vue'
import moment from 'moment'
import Pagination from '@lib/Pagination'
import Base from '@lib/baseComponent'

const cosNo = '10000078'
const seatOnlyPattern = new RegExp('^s[0-9]{9}01$')
const calendarViewLimitDays = 90
const courseImageWidth = 160
const courseImageHeight = 160
const noImageSize = '200x200'
const cassetteName = {
  'ccbf79674338330c7ce5557ace5a18ec': 'Yahoo!ダイニング',
  '1852ed1e9b6d12c23cd34e79a4be4c71': '一休.comレストラン(株式会社一休)',
  'a6e27b84663abc4336dc275c6fb7f978': 'ぐるなび',
  '20c4cc8c6339cc78326d4d5f0395dcb0': 'オズモール（スターツ出版株式会社）',
  '3f48a559dbfef9bd7ba6b6ef784e23b8': 'オズモール（スターツ出版株式会社）',
  '6a3b6ed40d949a607ebbf0d058cdd838': 'ホットペッパーグルメ（株式会社リクルート）'
}
const trackingNo = 'yloc_plan'

export default {
  extends: Base,
  components: {
    counter
  },
  props: [
    'gid',
    'children',
    'courseList'
  ],
  data () {
    return {
      cassetteImages: {},
      resizedImages: {},
      cassetteName
    }
  },
  mounted () {
    let images = []
    let courseImagesUrls = []
    for (const course of this.courseList.entry) {
      if (this.isFilled(course.image) && course.image !== '') {
        courseImagesUrls.push(course.image)
      }
    }
    if (courseImagesUrls.length > 0) {
      images.push({urls: courseImagesUrls, width: courseImageWidth, height: courseImageHeight})
      this.resizeImages(this.gid, images)
    }
  },
  computed: {
    courseImageSize () {
      return String(courseImageWidth) + 'x' + String(courseImageHeight)
    },
    page () {
      return {dataCount: this.courseList.totalResults}
    }
  },
  filters: {
    separatePrice (price) {
      return String(price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
    }
  },
  methods: {
    /**
     * 表示コースがヤフープランかどうかの確認を行う
     *
     * @param cassette コースの入稿元のID
     * @returns {boolean}
     */
    isYahooPlan (cassette) {
      return cassette === this.namespace.cid.yahoo
    },
    /**
     * 表示プランが席のみかどうかを判断する
     *
     * @param id 店舗ID
     * @param tokutenType
     * @param price
     * @returns {boolean}
     */
    isSeatOnly (id, tokutenType, price) {
      if (!this.isFilled(tokutenType)) {
        tokutenType = 0
      }
      return seatOnlyPattern.test(id) || tokutenType === 1 || price <= 0
    },
    /**
     * Y店舗に対して,席のみ判断を行う
     *
     * @param id コースID
     */
    isYSeatOnly (id) {
      return seatOnlyPattern.test(id)
    },
    /**
     * コース詳細ページへの遷移URLを取得する
     *
     * @param id コースID
     * @param cassette コースの入稿元のカセットID
     * @param urls レスポンスを参考にすること(項目Urls)：https://cptl.corp.yahoo.co.jp/pages/viewpage.action?pageId=1415175833
     * @returns {string}
     */
    getCourseDetailUrl (id, cassette, urls) {
      let courseUrl = ''
      const params = new Pagination().getSearchParameters()
      if (cassette === this.namespace.cid.yahoo) {
        courseUrl = '/place/g-' + this.gid + '/course/P'
        if (!this.isYSeatOnly(id)) {
          courseUrl += String(id)
        }
        courseUrl += '/?sc_e=' + trackingNo
        if (this.isFilled(params) && this.isFilled(params.date) && this.validDate(params.date)) {
          courseUrl += '&date=' + params.date
        }
      } else if (cassette === this.namespace.cid.ikyu) {
        courseUrl = urls.original + '&CosNo=' + cosNo
        if (this.isFilled(params) && this.isFilled(params.date) && this.validDate(params.date)) {
          courseUrl += '&visitDate=' + moment(params.date).format('YYYY/MM/DD')
        }
      } else {
        courseUrl = urls.original
        if (cassette === this.namespace.cid.gurunavi && this.isFilled(params) && this.isFilled(params.date) && this.validDate(params.date)) {
          courseUrl += '?date=' + params.date
        }
      }
      return courseUrl
    },
    /**
     * 特典文言を作成する
     *
     * @param hasTokuten 特典の有無
     * @param discountPercent 割引率
     * @returns {string}
     */
    getBenefitPhrase (hasTokuten, discountPercent) {
      let phraseList = []
      if (this.isFilled(discountPercent) && discountPercent > 0) {
        phraseList.push(String(discountPercent) + '%OFF')
      }
      if (hasTokuten) {
        phraseList.push('特典あり')
      }
      return phraseList.join('+')
    },
    /**
     * 飲み放題・食べ放題ラベルの表示決め
     *
     * @param attributes コースの属性一覧
     * @param pattern '食べ放題' or '飲み放題'
     * @returns {boolean}
     */
    isLabel (attributes, pattern) {
      let isInclude = false
      if (this.isFilled(attributes)) {
        for (const attribute of attributes) {
          if (this.isPartialMatch(attribute.name, pattern)) {
            isInclude = true
            break
          }
        }
      }
      return isInclude
    },
    /**
     * コース属性から利用シーンの文言を生成する(飲み放題・食べ放題は除く)
     *
     * @param attributes コースの属性一覧
     * @returns {string}
     */
    getUseScene (attributes) {
      let useScene = []
      if (this.isFilled(attributes)) {
        for (const attribute of attributes) {
          if (!(this.isPartialMatch(attribute.name, '飲み放題')) && !(this.isPartialMatch(attribute.name, '食べ放題'))) {
            useScene.push(attribute.name)
          }
        }
      }
      return useScene.join(' ')
    },
    /**
     * 部分一致してるか判断する
     *
     * @param source 調べたい文字列
     * @param pattern 含まれているか確認したい文字列
     * @returns {boolean}
     */
    isPartialMatch (source, pattern) {
      return source.includes(pattern)
    },
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    },
    getResizeImage (url, size) {
      if (this.status['resizedImages'] === 'binded' && this.isFilled(this.resizedImages[url]) && this.isFilled(this.resizedImages[url][size])) {
        return this.resizedImages[url][size]
      }
      return this.namespace.noImage[noImageSize]
    },
    validDate (date) {
      return date.length === 8 && moment(date, 'YYYYMMDD').isValid() && moment(date).isBetween(moment().format('YYYYMMDD'), moment().add(calendarViewLimitDays, 'days').format('YYYYMMDD'), null, '[)')
    },
    getLogoImage (cassette) {
      let logoImage = this.namespace.courseLogo[cassette]
      if (!this.isFilled(logoImage)) {
        logoImage = this.namespace.noImage[noImageSize]
      }
      return logoImage
    },
    buildDataYlk (slk, pos, cassetteId = '') {
      let dataYlk = `slk:${slk};pos:${pos}`
      if (cassetteId && this.namespace.CpName[cassetteId]) {
        dataYlk += ';cp_name:' + this.namespace.CpName[cassetteId]
      }

      return dataYlk
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.list {
  background-color: #f1f0ef;
  margin-bottom: 20px;
  &__plan {
    margin-bottom: 10px;
    padding: 14px 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
  }
  &__inner {
    width: 100%;
    display: table;
  }
  &__detail {
    display: table-cell;
    vertical-align: top;
  }
  &__item {
    margin: 0 8px 0 0;
    padding: 0 4px;
    border: 1px solid #6f5d49;
    border-radius: 12px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
    color: #6f5d49;
    display: inline-block;
    vertical-align: top;
  }
  &__title {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.6em;
  }
  &__link {
    color: $linkColor;
    text-decoration: none;
  }
}

.listImage {
  width: 23.5%;
  padding-right: 10px;
  display: table-cell;
  &__link {
    display: block;
    line-height: 0;
  }
  &__image {
    width: 100%;
    height: auto;
  }
}

.price {
  padding-top: 16px;
  text-align: right;
  position: relative;
 &__item {
    margin-bottom: 7px;
    font-size: 11px;
    font-weight: bold;
    color: $textColorBlack;
    &--premium {
      @extend .price__item;
      margin-bottom: 2px;
      padding-top: 7px;
      position: relative;
      &:before {
        content: "";
        width: 94%;
        height: 1px;
        position: absolute;
        top: 0;
        right: 0;
        border-top: 1px dotted #aaa;
      }
    }
  }
  &__main {
    margin-left: 9px;
    font-size: 20px;
    color: $priceColor;
    &--noPrice {
      @extend .price__main;
      font-size: 14px;
      font-weight: normal;
    }
    &--seat {
      @extend .price__main;
      font-size: 16px;
    }
  }
  &__special {
    margin-bottom: 12px;
    font-size: 12px;
    color: $priceColor;
  }
  &__tax {
    color: $textColorGray;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.premium{
  &__note {
    position: relative;
    &:before {
      position: absolute;
      top: 1px;
      left: -16px;
      @include svgIcon(13.5, 12, "https://s.yimg.jp/images/loco/front/images/common/icons/premium.svgz");
    }
  }
}

.offspecial{
  margin-bottom: 7px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  &__item {
    padding: 2px 4px;
    background-color: $priceColor;
    display: inline-block;
  }
}

.reservation {
  text-align: right;
  vertical-align: middle;
  &__image {
    margin-right: 10px;
    vertical-align: middle;
  }
  &__button {
    width: 160px;
    height: 40px;
    font-size: 14px;
    @include button-main;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
  }
}

.scene {
  margin-bottom: 15px;
  color: $textColorBlack;
  font-size: 10px;
  border: 1px solid #f0f0e1;
  &__headline {
    padding: 3px 8px;
    display: table-cell;
    background-color: #f0f0e1;
    vertical-align: middle;
    box-sizing: border-box;
    white-space: nowrap;
  }
  &__scene {
    width: 100%;
    padding: 3px 8px;
    display: table-cell;
    vertical-align: top;
  }
}

</style>
