<template>
  <h2 class="pageTitle">{{name}}のコース</h2>
</template>

<script>
export default {
  props: [
    'name'
  ]
}
</script>

<style lang="scss" scoped>
  @import '~@sp/styles/partial/mixins';
  @import '~@sp/styles/partial/variable';

.pageTitle{
  @include placeTitle;
  background: #fff;
  border-bottom: none;
}
</style>
