<template>
<div :id="calPopupBtnSec" class="reserve tracked_mods" v-if="isVisible">
  <h3 class="reserve__title">予約できる日付から探す</h3>
  <!-- 表示桁数最大パターン -->
  <button v-if="hasValidDateParam" class="reserve__button" v-on:click="clickReserveButton()" :data-ylk="`slk:${calPopupBtnSlk}`"><span class="reserve__date">{{ fixedDate }}</span></button>
  <!-- 日付未指定パターン -->
  <button v-if="!hasValidDateParam" class="reserve__button" v-on:click="clickReserveButton()" :data-ylk="`slk:${calPopupBtnSlk}`"><span class="reserve__date">日付未指定</span></button>
  <!-- ポップアップカレンダー -->
  <transition
    enter-class="calendarPopup--enter"
    enter-active-class="calendarPopup--enter-active"
    leave-class="calendarPopup--leave"
    leave-active-class="calendarPopup--leave-active"
    >
    <calendar-popup v-if="popup" v-on:close="popup = false" triangle="true" pendingButton="js" :tenpo="tenpo" :dailyStock="dailyStockFiltered" @call-tracking="showCallTrackingModal" :calPopupBtnSec="calPopupBtnSec" :calPopupBtnSlk="calPopupBtnSlk"></calendar-popup>
  </transition>
  <!-- /ポップアップカレンダー -->
  <div class="tracked_mods" id="phn_sug">
    <call-tracking v-if="callTracking" @close="callTracking = false" :tenpo="tenpo"></call-tracking>
  </div>
</div>
</template>

<script>
import moment from '@lib/moment-ja'
import Base from '@lib/baseComponent'
import Url from '@lib/Url'
import calendarPopup from '@sp/components/place/calendarPopup.vue'
import callTracking from '@sp/components/place/callTracking.vue'

// カレンダー表示上限日数
const calendarViewLimitDays = 90
const hotPepperAvailableMonths = 2

export default {
  props: [
    'tenpo',
    'eappid'
  ],
  components: {
    calendarPopup,
    callTracking
  },
  data () {
    return {
      dailyStock: {},
      dailyStockFiltered: {},
      callTracking: false,
      popup: false,
      date: Url.getParameters().date,
      calPopupBtnSec: 'selectdt',
      calPopupBtnSlk: '_'
    }
  },
  extends: Base,
  mounted () {
    // 日次在庫APIからデータの取得
    if ((typeof this.namespace.API.dailyStock !== 'undefined' &&
        typeof this.tenpo.Feature[0].Gid !== 'undefined')) {
      this.bindRequest({
        name: 'dailyStock',
        url: this.namespace.API.dailyStock,
        params: {
          gid: this.tenpo.Feature[0].Gid,
          period: calendarViewLimitDays

        },
        timeout: 3000,
        eappid: true,
        dataType: 'jsonp'
      }).then((dailyStock) => {
        if (!this.g(dailyStock, 'entry[0].stocks')) {
          if (this.$root.isHiddenScType('wcal_grm')) {
            // URLパラメータ「sc_type」によりフィルタする場合はYahoo在庫のみにフィルタ
            this.dailyStockFiltered = this.filterStockWithYahoo(dailyStock)
            return
          }

          if (this.hasHotpepper) {
            // Y! の在庫がない場合もホットペッパーがある場合は常に在庫を出す
            this.dailyStockFiltered = this.fillStockWithHotpepper()
          }
          return
        }
        // APIから取得して来たデータを整形する
        this.dailyStockFiltered = dailyStock.entry[0].stocks.reduce((obj, stock) => {
          const stockDate = new Date(stock.date)
          const stockDateStr = this.getDateString(stockDate)
          obj[stockDateStr] = stock.status
          return obj
        }, {})
      })
      moment.locale('ja', {weekdaysShort: ['日', '月', '火', '水', '木', '金', '土']})
    }
  },
  computed: {
    /**
     * モジュールを表示するかどうか
     * !hasValidDateParam を判定すると、カレンダーとこのボタンの両方が出なくなるのでNG
     * @returns {bool} 表示の有無
     */
    isVisible: function () {
      return Object.keys(this.dailyStockFiltered).length > 0
    },
    /**
     * 正常なgetパラメータ（date）を持っているかの確認
     * 今後 date を遷移無しで変更する可能性がある場合は force update してください
     */
    hasValidDateParam () {
      return this.date !== undefined && this.date.length === 8 && moment(this.date, 'YYYYMMDD').isValid() &&
        moment(this.date).isBetween(moment(), moment().add(calendarViewLimitDays, 'days'), 'day', '[)')
    },
    /**
     * CP にホットペッパーを含むかどうか
     */
    hasHotpepper: function () {
      return (this.getChildCpData(this.namespace.cid.hotpepperGourmet).length > 0)
    },
    /**
     * getパラメータ(date)の値を整形し返却
     */
    fixedDate () {
      return moment(this.date).format('MM月DD日（ddd）')
    }
  },
  filters: {
  },
  methods: {
    showCallTrackingModal () {
      this.callTracking = true
    },
    /**
     * Date オブジェクトから 月/日 形式の文字列を取得
     * 0パディングしない
     * @param {Date} date 取得したい日付
     * @returns {String} m/d 形式の日付
     */
    getDateString (date) {
      return moment(date).format('M/D')
    },
    /**
     * ホットペッパー対応
     * 指定日付が3日後以降ならリクエスト予約可能になる（直近3日は電話）
     * @see https://jira.corp.yahoo.co.jp/browse/POTARA-1885
     * @param {Date} date 指定日付
     */
    hotpepperAvailable (date) {
      return this.hasHotpepper &&
        moment(date).isBetween(moment().add(3, 'day'), moment().add(hotPepperAvailableMonths, 'months'), 'day', '[)')
    },
    /**
     * オンライン予約可能かどうか
     * @param {object} Tenpo オブジェクト
     * @returns {bool} 表示可否
     */
    canOnlineReserveChild (childTenpo) {
      return childTenpo !== null &&
        (childTenpo.OnlineReserveFlag || childTenpo.OnlineReserveRequestFlag)
    },
    /**
     * ChildのCP情報取得
     * @param {string} cid カセットID
     * @returns {object} Cp情報
     */
    getChildCpData (cid) {
      return this.tenpo.Feature[0].Children.filter((val) => cid === val.CassetteId && this.canOnlineReserveChild(val))
    },
    /**
     * ホットペッパー対応 CPがホットペッパーのみの場合にも在庫を出す
     * TODO: リファクタ status を enum にする
     */
    fillStockWithHotpepper () {
      let stocks = {}
      for (let i = 0; i < calendarViewLimitDays; ++i) {
        const date = moment().add(i, 'day')
        let status = this.hotpepperAvailable(date)
          ? 2 // リクエスト予約
          : 0 // 電話
        stocks[this.getDateString(date)] = status
      }
      return stocks
    },
    /**
     * Yプランのみで在庫一覧をフィルタする
     */
    filterStockWithYahoo (dailyStock) {
      if (dailyStock.totalResults > 0) {
        const yahooDailyStocks = dailyStock.entry[0].cp.filter((l) => l.cid === this.namespace.cid.yahoo)
        if (yahooDailyStocks.length === 1) {
          return yahooDailyStocks[0].stocks.reduce((obj, stock) => {
            const stockDate = new Date(stock.date)
            const stockDateStr = this.getDateString(stockDate)
            obj[stockDateStr] = stock.status
            return obj
          }, {})
        }
      }
      return {}
    },
    /**
     * 日時選択ボタン押下時の処理
     */
    clickReserveButton () {
      this.popup = true
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~@sp/styles/partial/mixins';
  @import '~@sp/styles/partial/variable';

.reserve{
  position: relative;
  margin-bottom: 20px;
  &__title{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  &__button{
    @include button-normal;
    display: block;
    margin: 0 auto;
    padding: 8px;
    width: 83%;
    font-size: 16px;
    text-align: center;
  }
  &__date{
    display: inline-block;
    position: relative;
    padding-left: 26px;
    &:before{
      @include RiffIcon("\E108", 24, $textColorBlack);
      display: inline-block;
      margin: auto;
      width: 24px;
      height: 26px;
      top: 0;
      left: -2px;
      bottom: 0;
    }
  }
}
</style>
