<template>
<div v-if="isVisible" class="zeroMatch">
  <!--タイトル表示パターン-->
  <p class="zeroMatch__title">この店舗のメニュー情報はありません。</p>
  <!--/タイトル表示パターン-->
</div>
</template>

<script>
import Pagination from '@lib/Pagination'
export default {
  props: [
    'totalResults'
  ],
  computed: {
    /**
     * 検索結果が０マッチかつ日付指定なし(dateパラメータが無い)ときに表示する
     **/
    isVisible () {
      const params = new Pagination().getSearchParameters()
      return this.totalResults === 0 && (!this.isFilled(params) || (this.isFilled(params) && !this.isFilled(params.date)))
    }
  },
  methods: {
    /**
     * undefinedかnullのチェックを行う.
     *
     * @param variable 確認したい変数
     * @returns {boolean} 入っていたらtrue.
     */
    isFilled (variable) {
      return !(typeof variable === 'undefined' || variable === null)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.zeroMatch{
  @include errorBody;
  &__title{
    font-weight: bold;
    &--hasDescription{
      @include errorTitle;
    }
  }
  &__description{
    @include errorDescription;
  }
}

</style>
