<script th type="text/javascript" src="https://s.yimg.jp/images/yvpub/player/js/player.js"></script>
<script src="https://s.yimg.jp/images/loco/lib/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" language="JavaScript" th:inline="javascript" th:if="${videoContentId}">
/*<![CDATA[*/
  var videoParaUid = /*[[${videoContentUid}]]*/'c7e849130db7a34ec3dea458387edde239db888e'
  var videoContentId = /*[[${videoContentId}]]*/'92769'
/*]]>*/
</script>
<script>
// c.f.) http://cptl.corp.yahoo.co.jp/x/MIoEK
var yvpPlayer;
var onYvpubPlayerReady = function (option) {
  yvpPlayer = document.getElementById(option.id).getPlayer();
}
$(function () {
  var WINDOW_WIDTH = $(window).width(),
    WINDOW_HEIGHT = $(window).height(),
    MOVIE_WIDTH,
    MOVIE_HEIGHT,
    MARGIN = 20,
    FPS = 10,
    SECTION = 60,
    timer;
  function init() {
    calcSize();
    var playerDiv = document.getElementById('yvpub-player');
    // playerのリサイズを行う為現在の要素削除
    if (playerDiv != null) {
      var target = document.getElementById("yvpub-player");
      var parentObj = target.parentNode;
      parentObj.removeChild(target);
    }
    // 動画のembedサイズ決定
    playerDiv = document.createElement("div");
    playerDiv.setAttribute('id', "yvpub-player");
    playerDiv.setAttribute('class', "yvpub-player");
    playerDiv.setAttribute('data-contentid', videoContentId);
    playerDiv.setAttribute('data-width', MOVIE_WIDTH);
    playerDiv.setAttribute('data-height', MOVIE_HEIGHT);
    playerDiv.setAttribute('data-autostart', 0);
    playerDiv.setAttribute('data-repeat', 0);
    playerDiv.setAttribute('data-recommend', 0);
    playerDiv.setAttribute('data-fullscreen', 1);
    playerDiv.setAttribute('data-pretitle', 1);
    playerDiv.setAttribute('data-precontrol', 0);
    // divに埋め込み
    var realVideoDiv = document.getElementById("realVideo");
    realVideoDiv.appendChild(playerDiv);
    // embed読み直し
    YAHOO.JP.yvpub.video.init();

    if ($("#movieInner").length > 0) {
      $("#realVideo").hide();
      var imgPath = "https://iwiz-loco.c.yimg.jp/c/loco/avant/image/" + videoParaUid + ".jpg";
      addImage(imgPath);
      play(0);
    } else {
      $('.placeVideo__more').hide();
    }
  }

  // パラパラ漫画セット
  function addImage(imgPath) {
    $("#movieInner").css({
      width: MOVIE_WIDTH + "px",
      height: MOVIE_HEIGHT + "px",
      backgroundImage: "url(" + imgPath + ")",
      backgroundPosition: "0 0",
      backgroundRepeat: "no-repeat",
      backgroundSize: "auto " + MOVIE_HEIGHT * SECTION + "px"
    })
  }

  // パラパラ漫画再生
  function play(i) {
    var bgPositionX = "0px",
      bgPositionY = (-i * MOVIE_HEIGHT) + "px",
      bgPosition = bgPositionX + " " + bgPositionY;
    $("#movieInner").css("background-position", bgPosition);
    i++;
    if (i > SECTION) i = 0;
    !function (i) {
      timer = setTimeout(play, 1000 / FPS, i);
    }(i);
  }

  //サイズ計算
  function calcSize() {
    WINDOW_WIDTH = $(window).width();
    WINDOW_HEIGHT = $(window).height();
    // パラパラ漫画と動画のサイズを決める
    if (WINDOW_WIDTH < WINDOW_HEIGHT) {
      MOVIE_WIDTH = WINDOW_WIDTH - MARGIN;
      MOVIE_HEIGHT = Math.round(MOVIE_WIDTH * 9 / 16);
    } else {
      MOVIE_HEIGHT = WINDOW_HEIGHT - MARGIN;
      MOVIE_WIDTH = Math.round(MOVIE_HEIGHT * 16 / 9);
    }
  }

  // パラパラ漫画→動画切り替え
  $('#movieInner').click(function () {
    // 動画から戻った時にパラパラ漫画を辞める場合は以下を有効にする
    $('#movieInner').css("display", "none");
    $('.placeVideo__more').css("display", "none");
    $('#realVideo').css("display", "block");
    // クリックしたら動画再生
    $('div[data-key="yvpubplayer0"] p:first').trigger('click');
  });

  //画面の向き変更
  $(window).on("orientationchange resize", function () {
    calcSize();
    yvpPlayer.resize(MOVIE_WIDTH, MOVIE_HEIGHT);
  });

  //初回起動
  init();
});
</script>
