<div id="map" class="placeMap tracked_mods">
  <div class="placeMap__container">
    <dl class="placeMap__address placeMapAddress">
      <dt class="placeMapAddress__header">住所</dt>
      <dd class="placeMapAddress__data">
        <a href="#" th:href="${#view.pinWebURL(tenpo, scType)}" class="placeMapAddress__link" th:text="${tenpo.feature[0].property.address}" rel="nofollow noopener" target="_blank" data-ylk="slk:address">港区六本木4-4-8</a>
      </dd>
    </dl>
    <div class="placeMap__main placeMapBox" th:with="coordinates=${tenpo.feature[0].geometry.coordinates.split(',')}">
      <a href="#" th:href="${#view.pinWebURL(tenpo, scType)}" class="placeMapBox__link" rel="nofollow noopener" target="_blank" data-ylk="slk:map">
        <img
          class="placeMapBox__image"
          src="https://map.yahooapis.jp/map/V1/static?appid=8W__ZNKxg66xvy0T0DQtEVKmvX5CkUUReF73w9pTioVVmX_dLCo8ZhWqfJVv&scalebar=off&logo=off&z=15&output=png&quality=50&pinyj_loco_oneserp=35.66487993,139.73182265&height=200&width=594&v=2&dpr=1&style=base:smartphone"
          th:src="@{https://map.yahooapis.jp/map/V1/static(
            eappid=${eappId},
            scalebar='off',
            logo='off',
            z=15,
            output='png',
            quality=50,
            pinyj_loco_oneserp=${coordinates[1] + ',' + coordinates[0]},
            height=200,
            width=594,
            v=2,
            dpr=1,
            style='base:smartphone'
          )}"
          alt="" />
      </a>
    </div>
  </div>
  <div class="placeMap__more">
    <a href="#" th:href="${#view.pinWebURL(tenpo, scType)}" class="placeMap__link" rel="nofollow noopener" target="_blank" data-ylk="slk:maplnk">アプリで地図を開く</a>
  </div>
</div>
