<div id="p_detail" class="placeSummary tracked_mods">
  <div class="placeSummary__container" th:with="property=${tenpo.Feature[0].Property}">
    <div class="placeSummary__informations"
      th:if="${#view.hasSpPlaceSummary(property)}">
      <ul class="placeSummary__information"
        th:with="stations=${property.station},genres=${property.genre}"
        th:if="${#view.hasStation(property)} and ${#view.hasGenre(property)}">
        <li class="placeSummary__location placeSummaryLocation" th:if="${#view.hasStation(property)}"><span class="placeSummaryLocation__station" th:text="${stations[0].name} + '駅'">六本木駅</span></li>
        <li class="placeSummary__gerne placeSummaryGerne" th:if="${#view.hasGenre(property)}"><span class="placeSummaryGerne__link" th:each="genre : ${genres}" th:text="${genre.Name}">焼肉</span></li>
      </ul>
      <ul class="placeSummary__information"
        th:if="${#view.hasBudgetLunch(property)} or ${#view.hasBudgetDinner(property)}">
        <li class="placeSummary__budget placeSummaryBudget" th:if="${#view.hasBudgetLunch(property)}"><span class="placeSummaryBudget__icon--lunch">ランチ</span><span class="placeSummaryBudget__text" th:text="${#view.getBudget(tenpo.feature[0].property.detail.budgetLunch)}">1,000円〜1,999円</span></li>
        <li class="placeSummary__budget placeSummaryBudget" th:if="${#view.hasBudgetDinner(property)}"><span class="placeSummaryBudget__icon--dinner">ディナー</span><span class="placeSummaryBudget__text" th:text="${#view.getBudget(tenpo.feature[0].property.detail.budgetDinner)}">6,000円〜7,999円</span></li>
      </ul>
      <ul class="placeSummary__information" th:if="${#view.hasBusinessHoliday(property)}">
        <li class="placeSummary__holiday">
          <span th:remove="tag">定休日：</span>
          <!--/*/ <th:block th:each="s,stat:${#view.explodeBreak(tenpo.feature[0].property.detail.businessHoliday)}"> /*/-->
          <span th:text="${s}" th:remove="tag">年中無休</span>
          <br th:if="${!stat.last}" />
          <!--/*/ </th:block> /*/-->
        </li>
      </ul>
    </div>
    <a rel="nofollow" class="placeSummary__detailButton" @click="scrollToElementId('map')">店舗情報（詳細）</a>
  </div>
</div>
