<div id="placehd" class="placeSummaryHead tracked_mods" th:with="pathArr=${#strings.arraySplit(#request.getServletPath(),'/')}">
  <!-- YDN(1)広告 -->
  <div id="yjAdsYdn1"></div>
  <!-- /YDN(1)広告 -->

  <!-- 店舗詳細TOP表示パターン -->
  <div th:if="${#arrays.length(pathArr) == 2 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')}" th:remove="tag">
  <div class="placeSummaryHead__name placeSummaryHeadName">
    <p class="placeSummaryHeadName__title" th:text="${tenpo.feature[0].name}">炭火焼肉 An</p>
  </div>

  <div class="placeSummaryHead__informations">
    <div class="placeSummaryHead__information">
      <template v-if="isGourmet">
        <!-- 話題度高い -->
        <div class="placeSummaryHead__topicality placeSummaryHeadTopicality--high" th:if="'1' == ${tenpo.feature[0].property.webTopic.label}">
          <p class="placeSummaryHeadTopicality__text--high"><span class="placeSummaryHeadTopicality__text--result" th:text="'話題沸騰 ' + ${tenpo.feature[0].property.webTopic.score} + '/'">話題沸騰 91/</span><span class="placeSummaryHeadTopicality__text--denominator">100</span></p>
          <a href="" data-ylk="slk:rvlst" :href="$root.addUrlParameters('/place/g-' + tenpo.Feature[0].Gid + '/review/', ['sc_type'])" class="placeSummaryHeadTopicality__review" v-if="status.comment === 'binded' && comment.ResultInfo.Total > 0" v-text="comment.ResultInfo.Total + '件のクチコミ'"></a>
        </div>
        <!-- /話題度高い -->
        <!-- 話題度普通 -->
        <div class="placeSummaryHead__topicality placeSummaryHeadTopicality--middle" th:if="'2' == ${tenpo.feature[0].property.webTopic.label}">
          <p class="placeSummaryHeadTopicality__text--middle"><span class="placeSummaryHeadTopicality__text--result" th:text="'注目 ' + ${tenpo.feature[0].property.webTopic.score} + '/'">注目 81/</span><span class="placeSummaryHeadTopicality__text--denominator">100</span></p>
          <a href="" data-ylk="slk:rvlst" :href="$root.addUrlParameters('/place/g-' + tenpo.Feature[0].Gid + '/review/', ['sc_type'])" class="placeSummaryHeadTopicality__review" v-if="status.comment === 'binded' && comment.ResultInfo.Total > 0" v-text="comment.ResultInfo.Total + '件のクチコミ'"></a>
        </div>
        <!-- /話題度普通 -->
        <!-- 話題度低い -->
        <div class="placeSummaryHead__topicality placeSummaryHeadTopicality--low" th:if="'3' == ${tenpo.feature[0].property.webTopic.label}">
          <p class="placeSummaryHeadTopicality__text--low"><span class="placeSummaryHeadTopicality__text--result" th:text="${tenpo.feature[0].property.webTopic.score} + ' /'">51/</span><span class="placeSummaryHeadTopicality__text--denominator">100</span></p>
          <a href="" data-ylk="slk:rvlst" :href="$root.addUrlParameters('/place/g-' + tenpo.Feature[0].Gid + '/review/', ['sc_type'])" class="placeSummaryHeadTopicality__review" v-if="status.comment === 'binded' && comment.ResultInfo.Total > 0" v-text="comment.ResultInfo.Total + '件のクチコミ'"></a>
        </div>
        <!-- /話題度低い -->
        <!-- 話題度無し -->
        <div class="placeSummaryHead__topicality placeSummaryHeadTopicality--low" th:if="'0' == ${tenpo.feature[0].property.webTopic.label}">
          <p class="placeSummaryHeadTopicality__text--low"><span class="placeSummaryHeadTopicality__text--result">‐</span></p>
          <a href="" data-ylk="slk:rvlst" :href="$root.addUrlParameters('/place/g-' + tenpo.Feature[0].Gid + '/review/', ['sc_type'])" class="placeSummaryHeadTopicality__review" v-if="status.comment === 'binded' && comment.ResultInfo.Total > 0" v-text="comment.ResultInfo.Total + '件のクチコミ'"></a>
        </div>
        <!-- /話題度無し -->
      </template>
      <template v-else-if="status.comment === 'binded' && comment.ResultInfo.Total > 0">
        <div class="placeSummaryHead__topicality">
          <a href="" data-ylk="slk:rvlst" :href="$root.addUrlParameters('/place/g-' + tenpo.Feature[0].Gid + '/review/', ['sc_type'])" class="placeSummaryHeadTopicality__review" v-text="comment.ResultInfo.Total + '件のクチコミ'"></a>
        </div>
      </template>
    </div>
  </div>
  </div>
  <!-- /店舗詳細TOP表示パターン -->

  <!-- 下層ページ表示パターン -->
  <div class="placeSummaryHead__name placeSummaryHeadNameLink"
    th:unless="${#arrays.length(pathArr) == 2 and pathArr[0] == 'place' and #strings.startsWith(pathArr[1],'g-')}">
    <a href="#dummy" data-ylk="slk:p_name" th:href="@{/place/g-{gid}(gid=${tenpo.feature[0].gid})}" class="placeSummaryHeadNameLink__title" th:text="${tenpo.feature[0].name}">炭火焼肉 An</a>
  </div>
</div>
