<th:block th:with="genrecd=${genrecd}, hasMenu=${#view.hasMenu(tenpo.feature[0].property.detail)}, isAsoview=${#view.isAsoview(tenpo.feature[0])}, hasCourse=${#view.hasCourse(courseList)}, hasMarriageProperty=${#view.hasMarriageProperty(wedding)}, hasWeddingProperty=${#view.hasWeddingProperty(wedding)}, hasBridalProperty=${#view.hasBridalProperty(wedding)}, couponProperty=${#view.getCouponProperty(tenpo.feature[0], originalViewName)}">
  <th:block th:with="isGourmet=${#view.isGourmet(hasMenu, hasCourse)}, isZexy=${#view.isZexy(tenpo.feature[0], wedding, hasMarriageProperty, hasWeddingProperty, hasBridalProperty)}">
    <th:block th:with="navigationPriority=${#view.getNavigationPriority(genrecd, isGourmet, isAsoview, isZexy)}">
      <th:block th:with="menuProperties=${#view.getMenuProperty(tenpo.feature[0], originalViewName, navigationPriority, hasMenu, hasCourse, hasMarriageProperty, hasWeddingProperty, hasBridalProperty)}, approachUrl=${#view.getApproachUrl(tenpo.feature[0],scType)}">
        <nav class="placeNavigation tracked_mods" id="menunavi">
          <ul class="placeNavigation__body">
            <!-- 写真 -->
            <!-- 活性パターン -->
            <li class="placeNavigation__list" th:if="${originalViewName != T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).PHOTO_LIST}">
              <a th:href="@{/place/g-{gid}/photo/(gid=${tenpo.feature[0].gid})}" class="placeNavigation__link" data-ylk="slk:place;pos:0">
                <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavPhoto.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
                <p class="placeNavigation__title">写真</p>
              </a>
            </li>
            <!-- 写真ページパターン -->
            <li class="placeNavigation__list--current" th:unless="${originalViewName != T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).PHOTO_LIST}">
              <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavPhoto.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
              <p class="placeNavigation__title">写真</p>
            </li>
            <!-- /写真 -->
            <!-- メニュー -->
            <th:block th:each="menuProperty : ${menuProperties}">
              <!-- メニュー系ページパターン -->
              <li class="placeNavigation__list--current" th:if="${menuProperty.type == 'current'}">
                <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavMenu.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
                <p class="placeNavigation__title" th:text="${menuProperty.word}">サービス、他</p>
              </li>
              <th:block th:unless="${menuProperty.type == 'current'}">
                <!-- 活性パターン -->
                <li class="placeNavigation__list" th:if="${menuProperty.type == 'enable'}">
                  <a th:href="@{/place/g-{gid}/{path}/(gid=${tenpo.feature[0].gid}, path=${menuProperty.path})}" class="placeNavigation__link" th:attr="data-ylk=${#view.getMenuLinkUlt(menuProperty.path)}">
                    <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavMenu.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
                    <p class="placeNavigation__title" th:text="${menuProperty.word}">メニュー</p>
                  </a>
                </li>
                <!-- 非活性パターン -->
                <li class="placeNavigation__list--disable" th:unless="${menuProperty.type == 'enable'}">
                  <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavMenu_glay.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
                  <p class="placeNavigation__title" th:text="${menuProperty.word}">メニュー</p>
                </li>
              </th:block>
            </th:block>
            <!-- /メニュー -->
            <!-- 口コミ -->
            <!-- 活性パターン -->
            <li class="placeNavigation__list" th:if="${originalViewName != T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).REVIEW_LIST && originalViewName != T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).REVIEW_DETAIL}">
              <a th:href="@{/place/g-{gid}/review/(gid=${tenpo.feature[0].gid})}" class="placeNavigation__link" data-ylk="slk:rvw;pos:0">
                <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavReview.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
                <p class="placeNavigation__title">口コミ</p>
              </a>
            </li>
            <!-- 口コミページパターン -->
            <li class="placeNavigation__list--current" th:unless="${originalViewName != T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).REVIEW_LIST && originalViewName != T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).REVIEW_DETAIL}">
              <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavReview.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
              <p class="placeNavigation__title">口コミ</p>
            </li>
            <!-- /口コミ -->
            <!-- クーポン -->
            <!-- クーポンページパターン -->
            <li class="placeNavigation__list--current" th:if="${couponProperty == 'current'}">
              <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavCoupon.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
              <p class="placeNavigation__title">クーポン</p>
            </li>
            <th:block th:unless="${couponProperty == 'current'}">
              <!-- 活性パターン -->
              <li class="placeNavigation__list" th:if="${couponProperty == 'enable'}">
                <a th:href="@{/place/g-{gid}/coupon/(gid=${tenpo.feature[0].gid})}" class="placeNavigation__link" data-ylk="slk:coupon;pos:0">
                  <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavCoupon.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
                  <p class="placeNavigation__title">クーポン</p>
                </a>
              </li>
              <!-- 非活性パターン -->
              <li class="placeNavigation__list--disable" th:unless="${couponProperty == 'enable'}">
                <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavCoupon_glay.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
                <p class="placeNavigation__title">クーポン</p>
              </li>
            </th:block>
            <!-- /クーポン -->
            <!-- 地図 -->
            <!-- 活性パターン -->
            <li class="placeNavigation__list" th:if="${originalViewName != T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).MAP_DETAIL}">
              <a th:href="${approachUrl}" class="placeNavigation__link" target="_blank" rel="nofollow noopener" data-ylk="slk:map;pos:0">
                <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavMap.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
                <p class="placeNavigation__title">地図</p>
              </a>
            </li>
            <!-- 地図ページパターン -->
            <li class="placeNavigation__list--current" th:unless="${originalViewName != T(jp.co.yahoo.dining.frontend.controller.view.type.LocoViewName).MAP_DETAIL}">
              <img src="https://s.yimg.jp/images/loco/front/images/common/icons/placeNavMap.svgz" alt="" class="placeNavigation__icon" width="40" height="40" />
              <p class="placeNavigation__title">地図</p>
            </li>
          </ul>
        </nav>
      </th:block>
    </th:block>
  </th:block>
</th:block>
