<div id="movie" class="placeVideo tracked_mods" th:if="${videoContentId}">
  <div class="placeVideo__container">
    <div id="realVideo" class="realVideo"></div>
    <div id="movieInner" class="movie" th:if="${videoHasParaMovie}"></div>
    <!-- 動画スクリプトは別ファイル -->
  </div>
  <!-- パラパラ動画の場合のみ表示 -->
  <div class="placeVideo__more"><p class="placeVideo__note">動画をタップするとフルバージョンがご覧いただけます</p></div>
  <!-- /パラパラ動画の場合のみ表示 -->
</div>
