<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  ${require('../../partial/common/metaData.html')}
</head>
<body>
  <div id="wrapper">
    ${require('../../partial/common/yjMastHead.html')}
    <div id="app">
      <header id="header">
      </header>
      <main class="layout">
        <!-- 店舗情報など（共通） -->
        ${require('../../../../pc/pages/partial/place/commonData.html')} ${require('../../../../pc/pages/partial/place/courseData.html')}
        <!-- /店舗情報など（共通） -->
        <!-- お知らせ（共通） -->
        ${require('../../partial/common/commonEmergency.html')}
        <!-- /お知らせ（共通） -->
        <!-- JSオフ（共通） -->
        ${require('../../partial/common/commonJsOff.html')}
        <!-- /JSオフ（共通） -->
        <!-- 店舗ヘッダー（共通） -->
        ${require('../../partial/place/placeSummaryHead.html')}
        <!-- /店舗ヘッダー（共通） -->
        ${require('../../partial/place/placeNavigation.html')}
        <div class="layout__main">
          <div v-if="status.photoRequest=='error'">
            <error></error>
          </div>
          <div v-if="status.resizedImages01=='error' || status.resizedImages02=='error' || status.resizedImages03=='error'">
            <error></error>
          </div>
          <div v-if="status.photoRequest=='on-binding'">
            <div class="loadingWrapper">
              <loading></loading>
            </div>
          </div>
          <div v-if="status.photoRequest=='binded' && page.dataCount > 0">
            <div v-if="status.resizedImages01=='on-binding' && status.resizedImages02=='on-binding' && status.resizedImages03=='on-binding'">
              <div class="loadingWrapper">
                <loading></loading>
              </div>
            </div>
            <div v-if="status.resizedImages01=='binded' || status.resizedImages02=='binded' || status.resizedImages03=='binded'">
              <list :photo="photo" :page="page" :resizedimages01="resizedImages01" :resizedimages02="resizedImages02" :resizedimages03="resizedImages03" :tenpo="tenpo"></list>
              <pagination :page="page"></pagination>
            </div>
          </div>
          <div v-if="status.photoRequest=='binded' && page.dataCount == 0">
            <zero-match></zero-match>
          </div>
          <clip-button :tenpo="tenpo" :user-info="userInfo"></clip-button>
        </div>
        <div class="layout__sub">
          <!-- YDN(IM01)広告 -->
          <div id="yads_ds15411_14993_01" class="im1"></div>
          <!-- /YDN(IM01)広告 -->
          <restaurant-recommend :tenpo="tenpo"></restaurant-recommend>
          <coupon-list :tenpo="tenpo" :page="photo"></coupon-list>
          <search-assistance :tenpo="tenpo"></search-assistance>
          <post-button :tenpo="tenpo"></post-button>
          <promotion :promotion="promotion"></promotion>
          <foot-navigation :tenpo="tenpo" page="photo" :course-list="courseList"></foot-navigation>
          <!-- YDN(IM02)広告 -->
          <div id="yads_ds15411_14993_02" class="im2"></div>
          <!-- /YDN(IM02)広告 -->
          <regular-link></regular-link>
          <!-- YDN(SMON)広告 -->
          <div id="yjAdsYdnSmon" class="smon"></div>
          <!-- /YDN(SMON)広告 -->
          <page-top></page-top>
        </div>
      </main>
      <!-- 検索（共通） -->
      ${require('../../partial/common/commonSearch.html')}
      <!-- /検索（共通） -->
      <!-- パンくずリスト（共通） -->
      ${require('../../partial/common/commonBreadcrumbs.html')}
      <!-- /パンくずリスト（共通） -->
      <!-- フッター（共通） -->
      ${require('../../partial/common/commonFooter.html')}
      <!-- /フッター（共通） -->
      <!-- YDN(Overlay)広告 -->
      <div id="yjAdsYdnOverlay"></div>
      <!-- /YDN(Overlay)広告 -->
    </div>
  </div>
  <!-- YJ広告 -->
  ${require('~@sp/pages/partial/common/yjAds.html')}
  ${require('~@sp/pages/partial/common/yjRapid.html')}
</body>
</html>
