@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.placeSummary{
  margin-bottom: 20px;

  &__container{
    @include boxShadow;
    padding: 8px 10px 11px;
    background: #fff;
    color: $textColorGray;
  }

  &__informations{
    margin-bottom: 10px;
  }

  &__information {
    margin-bottom: 6px;
    line-height: 1;
  }

  &__holiday {
    font-size: 12px;
  }

  &__detailButton {
    @include button-normal;
    display: block;
    width: 145px;
    height: 35px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 35px;
    box-sizing: border-box;
  }
}

.placeSummaryLocation {
  display: inline-block;
  margin-right: 6px;
  font-size: 12px;
  line-height: 1;
  &:before{
    content: "[";
  }
  &:after{
    content: "]";
  }
}

.placeSummaryGerne {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  &__link{
    &:after {
      content: " / ";
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}

.placeSummaryBudget {
  display: inline-block;
  margin-right: 10px;
  line-height: 1;

  &__icon {
    @include text-replace;
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    vertical-align: middle;

    &--lunch {
      @extend .placeSummaryBudget__icon;
      &:after {
        @include svgIcon(14, 14, 'https://s.yimg.jp/images/loco/front/images/common/icons/lunch.svgz');
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &--dinner {
      @extend .placeSummaryBudget__icon;
      &:after {
        @include svgIcon(14, 14, 'https://s.yimg.jp/images/loco/front/images/common/icons/dinner.svgz');
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__text {
    font-size: 12px;
    vertical-align: middle;
  }
}
