@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.placeVideo{
  position: relative;
  margin-bottom: 20px;
  &__container{
    width: 100%;
  }
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__more{
    position: absolute;
    bottom: 8px;
    left: 10px;
    border-radius: 13px;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-size: 10px;
  }
  &__note{
    position: relative;
    padding: 5px 10px 5px 24px;
    &:before{
      @include RiffIcon("\E14F", 14, #fff);
      left: 0;
      top: 50%;
      line-height: 0;
    }
    &:after{
      display: inline-block;
      position: absolute;
      content: "×";
      left: 12px;
      font-size: 10px;
    }
  }
}
.image{
  width: 100%;
  height: auto;
}
