@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.placeMap {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  &__container {
    margin-bottom: 5px;
    padding: 10px 10px;
    background-color: #fff;
  }
  &__more {
    text-align: center;
  }
  &__link {
    display: inline-block;
    position: relative;
    height: 30px;
    padding: 0 28px 0 10px;
    border: 1px solid #52bfeb;
    color: #52bfeb;
    font-weight: bold;
    line-height: 30px;
    background: #fff;
    border-radius: 5px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      border-top: 2px solid #52bfeb;
      border-right: 2px solid #52bfeb;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.placeMapAddress {
  margin-bottom: 10px;
  &__header {
    @include clearfix;
    float: left;
    width: 80px;
    font-weight: bold;
  }
  &__data {
    margin-left: 80px;
    font-size: 13px;
  }
}
.placeMapBox {
  padding: 4px 4px 0 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(4,0,0,.2);
  &__image {
    max-width: 100%;
    width: 100%;
  }
}
