@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.placeData {
  margin-bottom: 20px;
}
.placeDataTable {
  position: relative;
  &__content {
    @include boxShadow;
    width: 100%;
    margin-bottom: 8px;
    background: #fff;
    word-break: break-all;
  }
  &__row {
    border-bottom: 1px dotted #aaa;
    &:last-child {
      border: none;
    }
  }
  &__header {
    box-sizing: border-box;
    width: 90px;
    padding: 10px;
    text-align: left;
    font-weight: bold;
  }
  &__data {
    padding: 10px 10px 10px 0;
    color: $textColorGray;
    font-size: 13px;
    &--list {
      @extend .placeDataTable__data;
      display: block;
      margin-bottom: -5px;
    }
  }
  &__credit {
    @include text-replace;
    display: inline-block;
    box-sizing: border-box;
    height: 21px;
    margin: 0 5px 5px 0;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    &--visa {
      @extend .placeDataTable__credit;
      width: 32px;
      background-image: url("~@asset/images/common/credit/credit_visa.gif");
    }
    &--mastercard {
      @extend .placeDataTable__credit;
      width: 26px;
      background-image: url("https://s.yimg.jp/images/loco/front/images/common/credit/credit_mastercard.svgz");
      background-size: 28px auto;
    }
    &--jcb {
      @extend .placeDataTable__credit;
      width: 27px;
      background-image: url("~@asset/images/common/credit/credit_jcb.gif");
    }
    &--americanexpress {
      @extend .placeDataTable__credit;
      width: 21px;
      background-image: url("~@asset/images/common/credit/credit_americanexpress.gif");
    }
    &--diners {
      @extend .placeDataTable__credit;
      width: 28px;
      background-image: url("~@asset/images/common/credit/credit_diners.gif");
    }
    &--dc {
      @extend .placeDataTable__credit;
      width: 30px;
      background-image: url("~@asset/images/common/credit/credit_dc.png");
    }
    &--nicos {
      @extend .placeDataTable__credit;
      width: 35px;
      background-image: url("~@asset/images/common/credit/credit_nicos.png");
    }
    &--saison {
      @extend .placeDataTable__credit;
      width: 33px;
      background-image: url("~@asset/images/common/credit/credit_saison.png");
    }
    &--ufj {
      @extend .placeDataTable__credit;
      width: 35px;
      background-image: url("~@asset/images/common/credit/credit_ufj.png");
    }
    &--ucf {
      @extend .placeDataTable__credit;
      width: 21px;
      background-image: url("~@asset/images/common/credit/credit_uc.png");
    }
    &--other {
      @extend .placeDataTable__credit;
      width: auto;
      height: inherit;
      padding: 3px 5px;
      color: #575647;
      font-size: 10px;
      text-indent: inherit;
      border-radius: 3px;
      background-color: #f3efe8;
    }
  }
  &__feature {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 5px 2px;
    border-radius: 3px;
    color: #575647;
    font-size: 12px;
    background-color: #f3efe8;
  }
  &__mail {
    color: #666;
  }
  &__particular {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 5px 2px;
    border-radius: 3px;
    color: #575647;
    font-size: 12px;
    background-color: #f3efe8;
  }
  &__report {
    margin-bottom: 10px;
    text-align: right;
    font-size: 11px;
  }
  &__provider {
    display: none;
    display: inline-block;
    margin-left: 10px;
    color: $textColorLightGray;
    font-size: 10px;
    vertical-align: middle;
  }
  /*---========= expand ============---*/
  &__flag {
    display: none;
  }
  &__situation {
    display: inline-block;
    padding: 1px 4px 2px;
    color: #fff;
    font-size: 12px;
    background: #2676d2;
    &--congestion {
      @extend .placeDataTable__situation;
      background: #ea1a22;
    }
  }
  &__note {
    display: block;
    font-size: 10px;
  }
}
.placeRoute {
  position: relative;
  min-height: 35px;
  padding-right: 40px;
  &__button {
    @include button-normal;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-top: 18px;
    color: #666666;
    font-size: 11px;
    line-height: 1;
    box-sizing: border-box;
    box-shadow: none;
    &::before {
      @include LocoIcon("\e901", 14, #666666);
      top: 2px;
      left: 50%;
      margin-left: -7px;
    }
  }
}
