@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.placeNavigation {
  margin-bottom: 10px;
  &__body {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid #c3c5c5;
    background-image: linear-gradient(#fff, #f8f9fa);
    background-color: #fff;
    box-shadow: 0 2px 0 #e1e4e4;
  }
  &__list {
    display: table-cell;
    position: relative;
    padding: 5px 5px 7px;
    width: 100%;
    background: transparent;

    &--disable {
      @extend .placeNavigation__list;
      background: #ededed;
    }
    &--current {
      @extend .placeNavigation__list;
      background: #fdf6e5;
      &:before {
        position: absolute;
        top: 5px;
        right: 0;
        display: inline-block;
        content: "";
        width: 1px;
        height: 85%;
        background: #e1e4e4;
      }
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        content: '';
        background: #ff965f;
      }
    }
    &:before {
      position: absolute;
      top: 5px;
      right: 0;
      display: inline-block;
      content: "";
      width: 1px;
      height: 85%;
      background: #e1e4e4;
    }
    &:last-child:before {
      display: none;
    }
  }
  &__link {
    display: block;
    line-height: 1.2;
  }
  &__icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 3px;
  }
  &__title {
    display: block;
    color: $textColorBlack;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }
}
