@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.placeSummaryHead {
  position: relative;

  &__informations {
    margin-bottom: 5px;
    padding: 0 10px;
  }
}

.placeSummaryHeadName {
  margin-bottom: 15px;
  padding: 5px 80px 0 10px;

  &__title {
    font-size: 16px;
    font-weight:bold;
  }
  &__ruby {
    font-size: 10px;
    color: $textColorGray;
    font-weight: bold;
  }
}

.placeSummaryHeadTopicality {
  &:before {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }

  &--high {
    @extend .placeSummaryHeadTopicality;
    &:before {
      @include svgIcon(25, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_a.svgz");
      display: inline-block;
    }
  }

  &--middle {
    @extend .placeSummaryHeadTopicality;
    &:before {
      @include svgIcon(20, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_b.svgz");
      display: inline-block;
    }
  }

  &--low {
    @extend .placeSummaryHeadTopicality;
    &:before {
      @include svgIcon(20, 20, "https://s.yimg.jp/images/loco/front/images/common/icons/smile_c.svgz");
      display: inline-block;
    }
  }

  &__text {
    @include balloon;
    margin-right: 10px;

    &--high {
      @extend .placeSummaryHeadTopicality__text;
      background-color: #f45a3e;
      &:before {
        border-color: transparent #f45a3e transparent transparent;
      }
    }

    &--middle {
      @extend .placeSummaryHeadTopicality__text;
      background-color: #f98e2d;
      &:before {
        border-color: transparent #f9902d transparent transparent;
      }
    }

    &--low {
      @extend .placeSummaryHeadTopicality__text;
      background-color: #e2ca9f;
      &:before {
        border-color: transparent #e2ca9f transparent transparent;
      }
    }

    &--denominator {
      font-size: 10px;
    }
  }

  &__review {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    &:before {
      @include RiffIcon("\E10C", 17, #9a9a9a);
      position: relative;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
}

.placeSummaryHeadNameLink {
  &__title {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px 10px 8px 25px;
    border-bottom: 1px solid #c3c5c5;
    background: #f8f9fa;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:before {
      position: absolute;
      top: 50%;
      left: 10px;
      display: block;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      content: '';
      -webkit-transform: rotate(225deg); // ここだけ自動でつかないので解決するまで消さない
      transform: rotate(225deg);
      border-top: 2px solid #777;
      border-right: 2px solid #777;
    }
  }
}
