@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

@import '~@pc/styles/partial/place/placeData';
@import '~@pc/styles/partial/place/placeNavigation';
@import '~@pc/styles/partial/place/placeSummary';
@import '~@pc/styles/partial/place/placeShare';
@import '~@pc/styles/partial/place/placeVideo';

/*
index.html
*/
.placeShareContainer {
  margin-bottom: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 0 8px #cacaca inset;
}
