<template>
  <div class="anchor tracked_mods" id="wedrplnk">
    <a href="#weddingReport" class="anchor__link" data-ylk="pos:0">式場体験者レポート</a>
  </div>
</template>

<script>
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.anchor {
  margin-bottom: 10px;
  padding-bottom: 7px;
  border-bottom: 1px dotted #999;
  text-align: right;
  &__link{
    position: relative;
    font-size: 12px;
    &:before{
      @include RiffIcon("\E604", 14, $textColorBlack);
      top: -1px ;
      left: -16px;
    }
  }
}
</style>
