<template>
  <div class="plan">
    <div class="plan__title planTitle tracked_mods" v-if="title" if="wedcp">
      <h2 class="planTitle__main" v-text="title"></h2>
      <p class="planTitle__provider" v-if="cpName">
        情報提供元：
        <a :href="cpUrl" class="planTitle__link" target="_blank" v-text="cpName" rel="nofollow" :data-ylk="getDataYlk()"></a>
      </p>
    </div>
    <div id="wedlist" class="tracked_mods">
      <article class="plan__item planItem" v-for="(plan, planIndex) in plans" v-bind:key="plan.id">
        <h3 class="planItem__title">
          <a :href="plan.WeddingPlanUrl" target="_blank" class="planItem__link" v-text="plan.WeddingPlanName" rel="nofollow" :data-ylk="`slk:wedtle;pos:${planIndex + 1}`"></a>
        </h3>
        <div class="planItem__container">
          <div class="planItem__contents planDetail">
            <p class="planDetail__description">{{plan.WeddingPlanTitle}}<br v-if="plan.WeddingPlanTitle">{{plan.WeddingPlanDescription}}</p>
            <table class="planDetail__table planTable">
              <tr class="planTable__row" v-if="plan.WeddingPlanPrice">
                <th class="planTable__header">料金</th>
                <td class="planTable__data">
                  <p v-for="val in plan.WeddingPlanPrice.split(/<br\s*\/?>/)" v-text="val" :key="val"></p>
                </td>
              </tr>
              <tr class="planTable__row" v-if="plan.WeddingPlanPeriod">
                <th class="planTable__header">適用期間</th>
                <td class="planTable__data">
                  <p v-for="val in plan.WeddingPlanPeriod.split(/<br\s*\/?>/)" v-text="val" :key="val"></p>
                </td>
              </tr>
              <tr class="planTable__row" v-if="plan.WeddingPlanPeopleNumber">
                <th class="planTable__header">適用人数</th>
                <td class="planTable__data">
                  <p v-for="val in plan.WeddingPlanPeopleNumber.split(/<br\s*\/?>/)" v-text="val" :key="val"></p>
                </td>
              </tr>
              <tr class="planTable__row" v-if="plan.WeddingPlanComment">
                <th class="planTable__header">その他コメント</th>
                <td class="planTable__data">
                  <p v-for="val in plan.WeddingPlanComment.split(/<br\s*\/?>/)" v-text="val" :key="val"></p>
                </td>
              </tr>
              <tr class="planTable__row" v-if="plan.WeddingPlanBenefit">
                <th class="planTable__header">特典</th>
                <td class="planTable__data">
                  <p v-for="val in plan.WeddingPlanBenefit.split(/<br\s*\/?>/)" v-text="val" :key="val"></p>
                </td>
              </tr>
            </table>
          </div>
          <div class="planItem__contents planImage">
            <a :href="plan.WeddingPlanUrl" class="planImage__link" target="_blank" rel="nofollow" :data-ylk="`slk:wedimg;pos:${planIndex + 1}`">
              <img v-if="isImageLoaded" :src="getImage(plan.WeddingPlanImage)" :alt="plan.WeddingPlanName" class="planImage__image" width="220" />
            </a>
            <p class="planImage__caption" v-if="plan.WeddingPlanImage && plan.WeddingPlanImageCaption" v-text="plan.WeddingPlanImageCaption"></p>
          </div>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
  import Base from '@lib/baseComponent'
  export default {
    extends: Base,
    props: {
      title: String,
      cpUrl: String,
      cpName: String,
      gid: String,
      plans: Array,
      cpId: String
    },
    data: () => ({
      images: [],
      isImageLoaded: false
    }),
    mounted () {
      this.checkImages()
    },
    methods: {
      checkImages () {
        let tasks = []
        for (const value of this.plans) {
          tasks.push(this.loadImage(value.WeddingPlanImage))
        }
        Promise.all(tasks)
          .then((value) => {
            for (let image of value) {
              if (image && image.width > 20 && image.height > 20) {
                this.images.push(image.src)
              }
            }
            this.isImageLoaded = true
          })
      },
      getImage (src) {
        if (this.images.includes(src)) {
          return src
        } else {
          return this.namespace.noImage['200x200']
        }
      },
      getDataYlk (cid = this.namespace.cid.zexy) {
        // 今はゼクシィしかないので、CIDはゼクシィ固定
        return (cid && this.namespace.CpName[cid]) ? `cp_name:${this.namespace.CpName[cid]};pos:1;` : ''
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.plan {
  margin-bottom: 20px;
}

.planTitle {
  @include placeTitleBorder;
  display: flex;
  justify-content: space-between;
  &__main {
    @include placeTitle;
    padding-right: 10px;
  }
  &__provider {
    padding: 5px 0 8px;
    font-size: 10px;
    white-space: nowrap;
  }
}

.planItem {
  margin-bottom: 16px;
  border-bottom: 1px dotted #999;
  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  &__container {
    margin-bottom: 10px;
    display: table;
  }
}

.planDetail {
  display: table-cell;
  width: 100%;
  padding-right: 16px;
  vertical-align: top;
  &__description {
    margin-bottom: 10px;
  }
}

.planTable {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #f0f0e1;
  &__row {
    border-bottom: 1px dotted #cecfc2;
    &:last-child {
      border-bottom: none;
    }
  }
  &__header {
    width: 84px;
    padding: 8px;
    color: #333;
    background-color: #f0f0e1;
  }
  &__data {
    padding: 8px 10px;
    color: #666;
  }
}

.planImage {
  display: table-cell;
  width: 220px;
  margin-left: auto;
  &__link {
    display: block;
    width: 220px;
    margin-bottom: 10px;
    line-height: 0;
    transition: all .2s;
    &:hover {
      opacity: .8;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__image {
    display: block;
    width: 100%;
  }
  &__caption {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    background: #f4f4f4;
  }
}

</style>
