<template>
<div class="report" id="weddingReport">
  <h2 class="report__title">{{tenpoName}}の式場体験者レポート</h2>
  <ul class="report__list tracked_mods" id="wedrplis">
    <li class="report__item reportItem" v-for="(report, reportIndex) in reports" v-bind:key="report.id">
      <h3 class="reportItem__title">
        <a :href="report.detailUrl" class="reportItem__link" v-text="report.title" target="_blank" rel="nofollow" :data-ylk="getDataYlk('wedrptle', reportIndex)"></a>
      </h3>
      <div class="reportItem__information">
        <p class="reportItem__date" v-text="report.schedule"></p>
        <p class="reportItem__provider">
          情報提供元：<a :href="report.detailUrl" class="reportItem__link" target="_blank" :data-ylk="getDataYlk('wedrpcp', reportIndex)">ゼクシィ</a>
        </p>
      </div>
    </li>
  </ul>
</div>
</template>

<script>
  import Base from '@lib/baseComponent'
  export default {
    extends: Base,
    props: {
      reports: Array,
      tenpoName: String
    },
    methods: {
      getDataYlk (slk, index, cid = this.namespace.cid.zexy) {
        if (slk === 'wedrpcp') {
          // 今はゼクシィしかないので、CIDはゼクシィ固定
          return (cid && this.namespace.CpName[cid]) ? `slk:${slk};cp_name:${this.namespace.CpName[cid]};pos:${index + 1};` : ''
        } else {
          return `slk:${slk};pos:${index + 1};`
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.report {
  margin-bottom: 20px;
  &__title {
    @include placeTitle;
    @include placeTitleBorder;
  }
  &__list {
    margin-bottom: 25px;
  }
}

.reportItem {
  position: relative;
  display: block;
  padding: 8px 10px;
  margin-bottom: 12px;
  background: #fcfbf1;
  border: 2px solid #e7e3d6;
  border-radius: 4px;
  font-size: 12px;
  word-break: break-all;
  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 23px;
    bottom: -15px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: 7px solid #e0dccc;
  }
  &__title {
    font-size: 15px;
    font-weight: bold;
  }
  &__information {
    color: #999;
    font-size: 12px;
    margin-top: 4px;
    display: table;
    width: 100%;
  }
  &__date {
    display: table-cell;
  }
  &__provider {
    display: table-cell;
    text-align: right;
  }
}
</style>
