<template>
  <div class="error">
    <!--タイトル・説明文・ボタン表示パターン-->
    <div v-if="status.review === 'error' || status.detailInfo === 'error'">
      <p class="error__title">クチコミ情報の取得に失敗しました。</p>
      <p class="error__description">大変恐れ入りますが、しばらく経ってから<br />お試しください。</p>
      <button v-on:click="reloadData" type="button" class="error__button reloadButton"><span class="reloadButton__text">ページを再読み込みする</span></button>
    </div>
    <!--/タイトル・説明文・ボタン表示パターン-->
    <div v-else-if="status.detailList === 'error'">
      <!--タイトル・説明文表示パターン-->
      <p class="error__title">クチコミ情報の取得に失敗しました。</p>
      <p class="error__description">大変恐れ入りますが、しばらく経ってから<br />お試しください。</p>
      <!--/タイトル・説明文表示パターン-->
    </div>
  </div>
</template>
<script>
  export default {
    props: ['status'],
    methods: {
      reloadData () {
        if (this.status.review === 'error') {
          // reviewのボタンを押した場合の処理
          this.$emit('get-reload-first-page')
        } else if (this.status.detailInfo) {
          // detailInfoのボタンを押した場合の処理
          this.$emit('get-detail-info')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '~@sp/styles/partial/mixins';
  @import '~@sp/styles/partial/variable';
  .error{
    padding: 15px 0;
    text-align: center;
    &__title{
      font-weight: bold;
      margin-bottom: 14px;
    }
    &__description{
      margin-bottom: 18px;
      font-size: 12px;
    }
  }
  .reloadButton{
    @include button-normal;
    display: block;
    margin: 0 auto;
    padding: 12px 0;
    width: 100%;
    max-width: 240px;
    font-weight: bold;
    &__text{
      display: inline-block;
      position: relative;
      padding-left: 20px;

      &:before{
        @include RiffIcon("\E139", 16, $textColorBlack);
        line-height: 0;
        top: 50%;
        left: 0;
      }
    }
  }

</style>
