<template>
  <div class="evaluation">
    <!--データ取得中-->
    <div v-if="status.review === 'on-binding'">
      <!--ローディング画像表示パターン-->
      <div class="evaluation__loading">
        <div class="evaluation__loadingBody">
          <div class="evaluation__circle">Loading</div>
        </div>
      </div>
      <!--/ローディング画像表示パターン-->
    </div>
    <!--/データ取得中-->
    <div v-else-if="status.review === 'binded'">
      <div v-if="noReview(review)">
        <zero-match></zero-match>
      </div>
      <div v-else>
        <ul class="evaluation__sort sort tracked_mods" id="rvsrt">
          <li class="sort__item" v-on:click="changeSort(sortPanel,'createdate')">
            <a href="javascript:void(0)" v-bind:class="{'sort__link--current':sortPanel.createdateDown, 'sort__link':!sortPanel.createdateDown}" rel="nofollow" data-ylk="slk:srtnew;pos0">新着順</a>
          </li>
          <li class="sort__item" v-on:click="changeSort(sortPanel,'-rating')">
            <a href="javascript:void(0)" v-bind:class="{'sort__link--current':sortPanel.ratingDown, 'sort__link':!sortPanel.ratingDown}" rel="nofollow" data-ylk="slk:srtvalhig;pos0">星の数 多い順</a>
          </li>
          <li class="sort__item" v-on:click="changeSort(sortPanel,'+rating')">
            <a href="javascript:void(0)" v-bind:class="{'sort__link--current':sortPanel.ratingUp, 'sort__link':!sortPanel.ratingUp}" rel="nofollow" data-ylk="slk:srtvalow;pos0">星の数 少ない順</a>
          </li>
        </ul>
        <ul class="evaluation__infomation information tracked_mods" id="rvlist">
          <li class="information__item" v-for="(item, index) in review.Feature" v-bind:key="item.id">
            <span v-if="detailUrls[item.Property.Comment.Id]['detailUrl']">
              <a v-if="!hasLocoReviewDetailPage(item)" v-bind:href="detailUrls[item.Property.Comment.Id]['detailUrl']" class="information__link" target="_blank" rel="nofollow noopener" :data-ylk="`slk:rvcset;cp_name:${getCpNameForUlt(item.Property.CassetteId)};pos:${(index + 1)}`">
                <dl class="information__detail">
                  <dt class="information__title">{{ getSubject(item.Property.Comment) | convertHTMLToText }}</dt>
                  <dd class="information__data score" v-if="noReviewPoint(item.Property.Comment.Rating)">
                    <span class="score__number">{{item.Property.Comment.Rating | getRating}}</span><span v-bind:class="item.Property.Comment.Rating | getStarClassString"></span><span class="score__rate">5点満点中</span>
                  </dd>
                  <dd class="information__data">{{ item.Property.Comment.Body | editBodytext | convertHTMLToText }}</dd>
                  <dd class="information__data post">
                    <p class="post__contributor">
                      <span class="post__date">{{item.Property.Comment.CreateDate | getConvertedDate}}</span><span class="post__name" v-if="item.Property.Comment.Author">{{ item.Property.Comment.Author }}さん</span>
                    </p>
                    <p class="post__cp">
                      <img v-bind:src="getCpIcon(item.Property.CassetteId)" v-bind:alt="getCpName(item.Property.CassetteId)"  class="post__image" />
                    </p>
                  </dd>
                </dl>
              </a>
              <a v-else v-bind:href="$root.addUrlParameters(detailUrls[item.Property.Comment.Id]['detailUrl'], ['sc_type'])" class="information__link" :data-ylk="`slk:rvcset;cp_name:${getCpNameForUlt(item.Property.CassetteId)};pos:${(index + 1)}`">
                <dl class="information__detail">
                  <dt class="information__title">{{ getSubject(item.Property.Comment) | convertHTMLToText }}</dt>
                  <dd class="information__data score" v-if="noReviewPoint(item.Property.Comment.Rating)">
                    <span class="score__number">{{item.Property.Comment.Rating | getRating}}</span><span v-bind:class="item.Property.Comment.Rating | getStarClassString"></span><span class="score__rate">5点満点中</span>
                  </dd>
                  <dd class="information__data">{{ item.Property.Comment.Body | editBodytext | convertHTMLToText }}</dd>
                  <dd class="information__data post">
                    <p class="post__contributor">
                      <span class="post__date">{{item.Property.Comment.CreateDate | getConvertedDate}}</span><span class="post__name" v-if="item.Property.Comment.Author">{{ item.Property.Comment.Author }}さん</span>
                    </p>
                    <p class="post__cp" v-if="!isCpLoco(item.Property.Comment.InputSource)">
                      <img v-bind:src="getCpIcon(item.Property.CassetteId)" v-bind:alt="getCpName(item.Property.CassetteId)"  class="post__image" />
                    </p>
                  </dd>
                </dl>
              </a>
            </span>
            <span v-else>
              <!-- リンクなしパターン -->
              <span v-if="!hasLocoReviewDetailPage(item)" class="information__noLink">
                <dl class="information__detail">
                  <dt class="information__title">{{ getSubject(item.Property.Comment) | convertHTMLToText }}</dt>
                  <dd class="information__data score" v-if="noReviewPoint(item.Property.Comment.Rating)">
                    <span class="score__number">{{item.Property.Comment.Rating | getRating}}</span><span v-bind:class="item.Property.Comment.Rating | getStarClassString"></span><span class="score__rate">5点満点中</span>
                  </dd>
                  <dd class="information__data">{{ item.Property.Comment.Body | editBodytext | convertHTMLToText }}</dd>
                  <dd class="information__data post">
                    <p class="post__contributor">
                      <span class="post__date">{{item.Property.Comment.CreateDate | getConvertedDate}}</span><span class="post__name" v-if="item.Property.Comment.Author">{{ item.Property.Comment.Author }}さん</span>
                    </p>
                    <p class="post__cp">
                      <img v-bind:src="getCpIcon(item.Property.CassetteId)" v-bind:alt="getCpName(item.Property.CassetteId)"  class="post__image" />
                    </p>
                  </dd>
                </dl>
              </span>
              <span v-else class="information__noLink">
                <dl class="information__detail">
                  <dt class="information__title">{{ getSubject(item.Property.Comment) | convertHTMLToText }}</dt>
                  <dd class="information__data score" v-if="noReviewPoint(item.Property.Comment.Rating)">
                    <span class="score__number">{{item.Property.Comment.Rating | getRating}}</span><span v-bind:class="item.Property.Comment.Rating | getStarClassString"></span><span class="score__rate">5点満点中</span>
                  </dd>
                  <dd class="information__data">{{ item.Property.Comment.Body | editBodytext | convertHTMLToText }}</dd>
                  <dd class="information__data post">
                    <p class="post__contributor">
                      <span class="post__date">{{item.Property.Comment.CreateDate | getConvertedDate}}</span><span class="post__name" v-if="item.Property.Comment.Author">{{ item.Property.Comment.Author }}さん</span>
                    </p>
                    <p class="post__cp" v-if="!isCpLoco(item.Property.Comment.InputSource)">
                      <img v-bind:src="getCpIcon(item.Property.CassetteId)" v-bind:alt="getCpName(item.Property.CassetteId)"  class="post__image" />
                    </p>
                  </dd>
                </dl>
              </span>
            </span>
          </li>
        </ul>
        <div v-if="status.nextReview === 'on-binding'">
          <!--ローディング画像表示パターン-->
          <div class="evaluation__loading">
            <div class="evaluation__loadingBody">
              <div class="evaluation__circle">Loading</div>
            </div>
          </div>
          <!--/ローディング画像表示パターン-->
        </div>
        <div v-else-if="status.nextReview === 'error'">
          <div class="evaluation__error error">
            <p class="error__text">クチコミ情報の取得に失敗しました。</p>
            <span class="error__reloadButton" v-on:click="getNextReload()">もう一度読み込む</span>
          </div>
        </div>
        <div v-else-if="status.review === 'binded'">
          <div v-if="checkNextPage(review.ResultInfo)">
            <div class="evaluation__more more tracked_mods" id="mrbtnlis">
              <a href="javascript:void(0)" class="more__button" v-on:click="getNextPage()" data-ylk="slk:_;pos:0">
                <p class="more__text">もっと見る</p>
              </a>
            </div>
            <div class="evaluation__pager">
              <counter  :is-counter-next-range="true"
                  :is-counter-range="false"
                  :is-counter-result="false"
                  :page="page"
                  :pagination="pagination"
              ></counter>
            </div>
          </div>
        </div>
        <p class="evaluation__note">ご注意：クチコミに記載されている情報はお客様からの情報のため、事実と異なることがあります。お店、施設をご利用の際は事前にご確認ください。</p>
      </div>
    </div>
    <div v-else>
      <error :status="status" @get-reload-first-page="getReview"></error>
    </div>
  </div>
</template>

<script>
import Base from '@lib/baseComponent'
import moment from 'moment'
import Pagination from '@lib/Pagination.js'
import zeroMatch from '@sp/components/place/review/zeroMatch.vue'
import error from '@sp/components/place/review/error.vue'
import counter from '@sp/components/place/counter.vue'

// APIで取得する件数
const API_RESULTS_COUNT = 10

// ソートパラメータ一覧
const SORT_PARAM = {
  createdateDown: '-createdate',
  createdateUp: '+createdate',
  visitdateDown: '-visitdate',
  visitdateUp: '+visitdate',
  ratingDown: '-rating',
  ratingUp: '+rating'
}

export default {
  components: {
    zeroMatch,
    error,
    counter
  },
  props: ['tenpo'],
  extends: Base,
  data () {
    return {
      review: {},
      nextReview: {},
      sortPanel: {
        createdateDown: true,
        createdateUp: false,
        visitdateDown: false,
        visitdateUp: false,
        ratingDown: false,
        ratingUp: false
      },
      params: {
        page: 1,
        results: API_RESULTS_COUNT,
        sort: '-createdate'
      },
      page: {
        'pageId': 0, // 表示するページ番号
        'pageDisplaySize': API_RESULTS_COUNT, //  画面に表示枚数
        'pageCount': 0, // 総ページ数
        'dataCount': 0, // 総件数
        'displayFlag': false // 要素表示フラグ
      },
      detailUrls: {},
      pagination: new Pagination()
    }
  },
  mounted () {
    this.setSortParam()
    this.changeSortParam(this.params.sort)
    this.getReview()
    window.onpopstate = (e) => {
      this.setSortParam()
      this.changeSortParam(this.params.sort)
      this.getReview()
    }
  },
  methods: {
    /**
     * コメント検索APIからクチコミ一覧を取得する
     */
    getReview () {
      // リロードの際、errorsの値が常に引き注がれてしまうので初期化する
      // FIXME: baseComponent.jsにリロード用のメソッドが追加されたらこの処理を消す
      delete this.errors['review']
      this.bindRequest({
        name: 'review',
        url: this.namespace.API.comment,
        params: {
          gid: this.tenpo.Feature[0].Gid,
          sort: this.params.sort,
          start: this.getStartNum(),
          results: this.params.results
        },
        dataType: 'json'
      }).then((reviewResult) => {
        this.pages()
        this.setAuthor(reviewResult)
      })
    },
    /**
     * URLからソート条件を取得する
     */
    setSortParam () {
      let urlParams = this.pagination.getSearchParameters()
      // ソートパラメータの取得
      for (const key in SORT_PARAM) {
        if (SORT_PARAM[key] === urlParams['sort']) {
          this.params.sort = urlParams['sort']
          return
        }
      }
      this.params.sort = SORT_PARAM.createdateDown
    },
    /**
     * 何件目から取得するかを取得する
     */
    getStartNum () {
      return !this.params.page ? 1 : (this.params.page - 1) * API_RESULTS_COUNT + 1
    },
    /**
     * ソート順の設定を行う
     * sortPanelの判定により、画面で現在どのソート条件が選ばれているかを表示する
     * @param  sortParam
     */
    changeSortParam (sortParam) {
      // ソート順を初期化
      this.sortPanel.createdateDown = false
      this.sortPanel.createdateUp = false
      this.sortPanel.visitdateDown = false
      this.sortPanel.visitdateUp = false
      this.sortPanel.ratingDown = false
      this.sortPanel.ratingUp = false

      if (sortParam === SORT_PARAM.createdateDown) {
        this.sortPanel.createdateDown = true
      } else if (sortParam === SORT_PARAM.createdateUp) {
        this.sortPanel.createdateUp = true
      } else if (sortParam === SORT_PARAM.visitdateDown) {
        this.sortPanel.visitdateDown = true
      } else if (sortParam === SORT_PARAM.visitdateUp) {
        this.sortPanel.visitdateUp = true
      } else if (sortParam === SORT_PARAM.ratingDown) {
        this.sortPanel.ratingDown = true
      } else if (sortParam === SORT_PARAM.ratingUp) {
        this.sortPanel.ratingUp = true
      } else {
        this.sortPanel.createdateDown = true // デフォルト
      }
    },
    /**
     * 「もっと見る」を押した時の処理
     */
    getNextPage () {
      this.params.page++ // 次のページから取得する
      this.nextReview = {} // bindRequestが複数回呼ばれることを想定していないため、値を初期化する。（statusの判定でobjectの存在判定を見ているため）
      this.getNextReview()
    },
    /**
     * 「もっと見る」を押した後にエラーが出た時の再読み込みモジュール処理
     */
    getNextReload () {
      this.nextReview = {} // bindRequestが複数回呼ばれることを想定していないため、値を初期化する。（statusの判定でobjectの存在判定を見ているため）
      // リロードの際、errorsの値が常に引き注がれてしまうので初期化する
      // FIXME: baseComponent.jsにリロード用のメソッドが追加されたらこの処理を消す
      delete this.errors['nextReview']
      this.getNextReview()
    },
    /**
     * 「もっと見る」を押した時のAPI実行処理
     */
    getNextReview () {
      this.bindRequest({
        name: 'nextReview',
        url: this.namespace.API.comment,
        params: {
          gid: this.tenpo.Feature[0].Gid,
          sort: this.params.sort,
          start: this.getStartNum(),
          results: this.params.results
        },
        dataType: 'json'
      }).then((nextReviewResult) => {
        this.setAuthor(nextReviewResult)
        // reviewの要素を追加する
        this.review['Feature'] = this.review['Feature'].concat(nextReviewResult['Feature'])
        // ResultInfoの情報をnextReviewで取得したものに変更する
        this.review['ResultInfo'] = nextReviewResult['ResultInfo']
        this.pages()
      }).catch((error) => {
        return error
      })
    },
    /*
     * ページング情報の設定
     * pageId 表示ページ番号
     * pageCount ページ数
     * dataCount 総件数
     */
    pages () {
      this.page.pageCount = Math.ceil(this.review.ResultInfo.Total / API_RESULTS_COUNT)
      this.page.dataCount = this.review.ResultInfo.Total
      if (this.params.page > 0 && this.params.page <= this.page.pageCount) {
        this.page.pageId = this.params.page - 1
      }
      if (this.page.dataCount !== 0) {
        this.page.displayFlag = true
      }
    },
    /**
     * URLの更新
     */
    updateUrl (sort) {
      const url = this.$root.addUrlParameters('?sort=' + sort, ['sc_type'])
      if (window.history.pushState) {
        window.history.pushState(sort, '', url)
      } else {
      // historyが使えなければ遷移させる
        window.location.href = url
      }
    },
    /**
     * 口コミ詳細へのリンクを作成する
     * ロコ入稿または特定CPの場合：ロコの口コミ詳細
     * そのほか：外部CPのその口コミ投稿の口コミ詳細
    */
    setDetailUrls (reviewFeature) {
      let urls = {}
      for (const key in reviewFeature) {
        let detailUrl = ''
        if (reviewFeature[key].Property.Comment.InputSource === 'loco' || this.namespace.cid.moveLocoDetailCidGroup.indexOf(this.review.Feature[key].Property.CassetteId) >= 0) {
          detailUrl = '/place/g-' + this.tenpo.Feature[0].Gid + '/review/' + reviewFeature[key].Property.Comment.CustomExact1
        } else {
          detailUrl = reviewFeature[key].Property.Comment.LinkUrl
        }
        urls[reviewFeature[key].Property.Comment.Id] = {
          'commentId': reviewFeature[key].Property.Comment.Id,
          'detailUrl': detailUrl
        }
      }
      return urls
    },
    /**
     * 投稿者情報をセットする
     */
    setAuthor (reviewResult) {
      for (let review of reviewResult.Feature) {
        if (review.Property.Comment.Guid === 'gourmet_user') {
          review.Property.Comment.Author = 'Yahoo!グルメから移行'
        } else if (review.Property.Comment.InputSource === 'loco') {
          this.get(
            this.namespace.API.secure,
            {guid: review.Property.Comment.Guid}
          ).then((result) => {
            review.Property.Comment.Author = result.entry['maskedYid']
          }).catch((result) => {
            review.Property.Comment.Author = 'ヤフーユーザー'
          })
        }
      }
    },
    /**
     * クチコミがあるかどうかを判定する
     */
    noReview (review) {
      return review.ResultInfo.Count === 0
    },
    /**
     * 評価点があるかどうかを判定する
     */
    noReviewPoint (rating) {
      return rating
    },
    /**
     * ロコで入力されたクチコミかどうかを判定する
     */
    isCpLoco (inputSource) {
      return inputSource === 'loco'
    },
    /**
     * ソートを変更する
     */
    changeSort (sortPanel, param) {
      let sortParam = '-createdate'
      if (param === 'createdate') {
        sortParam = '-createdate'
      } else if (param === '-rating') {
        sortParam = '-rating'
      } else if (param === '+rating') {
        sortParam = '+rating'
      }
      this.params.sort = sortParam
      this.params.page = 1 // ソート変更では1ページ目に戻す
      this.changeSortParam(this.params.sort)
      this.updateUrl(this.params.sort)
      this.getReview()
    },
    /**
     * クチコミを何件目から取得するべきかを計算する
     */
    getToCount () {
      return this.review.ResultInfo.Start - 1 + this.review.ResultInfo.Count
    },
    /**
     * タイトルを取得する
     */
    getSubject (comment) {
      let subject = comment.Subject ? comment.Subject : comment.Body
      return subject.length >= 21 ? subject.substr(0, 19) + '...' : subject
    },
    /**
     * CP名を取得する
     */
    getCpName (cassetteId) {
      for (var key in this.tenpo.Feature[0].Children) {
        if (this.tenpo.Feature[0].Children[key].CassetteId === cassetteId) {
          return this.tenpo.Feature[0].Children[key].CassetteHeader
        }
      }
    },
    /**
     * CPアイコンを取得する
     */
    getCpIcon (cassetteId) {
      for (var key in this.tenpo.Feature[0].Children) {
        if (this.tenpo.Feature[0].Children[key].CassetteId === cassetteId) {
          return this.tenpo.Feature[0].Children[key].CassetteOwnerLogoImage
        }
      }
    },
    /**
     * 「もっと見る」が必要かどうか判断する
     */
    checkNextPage (resultInfo) {
      return resultInfo.Total >= this.getNextReviewStart(resultInfo.Start)
    },
    /**
     * 次に表示する件数の頭を表示
     */
    getNextReviewStart (start) {
      return start + this.params.results
    },
    /**
     * ロコの口コミ詳細URLが存在するかどうかチェック
     * 以下の条件のどちらかを満たすこと
     * ・InputSourceがloco
     * ・口コミ詳細を持つCPかどうか
     */
    hasLocoReviewDetailPage (reviewFeature) {
      return this.isCpLoco(reviewFeature.Property.Comment.InputSource) || this.namespace.cid.moveLocoDetailCidGroup.indexOf(reviewFeature.Property.CassetteId) >= 0
    },
    /**
     * ULT
     */
    getCpNameForUlt (cid) {
      return this.namespace.CpName[cid] || ''
    }
  },
  computed: {
  },
  filters: {
    /**
     * HTMLエンティティをテキスト文字に変換する
     * コメント検索APIから返却されるテキストに&gtや&ltが含まれるので変換する
     *  （コメント検索APIではサニタイズを行っておらず、入稿データがすでにそうなっているとのこと）
     */
    convertHTMLToText (text) {
      try {
        const parser = new DOMParser()
        return parser.parseFromString(text, 'text/html').body.textContent
      } catch (err) {
        // android 4系ではDOMParserが使えない
        const dict = [
          [/&gt;/g, '>'],
          [/&lt;/g, '<'],
          [/&quot;/g, '"'],
          [/&apos;/g, '\''],
          [/&amp;/g, '&']
        ]
        return dict.reduce((acc, [original, modified]) => acc.replace(original, modified), text)
      }
    },
    /**
     * 口コミ本文の長さを調整する
     * 全角半角・両方1文字とカウントする
     * 98文字未満：「全て」
     * 98文字：「98文字」
     * 99文字以上： 「97文字 + ...」表示。口コミ詳細へ遷移するリンク「続きを読む>> 」を末尾に追加
    */
    editBodytext (bodyText) {
      return bodyText.length > 99 ? bodyText.substr(0, 97) + '...' : bodyText
    },
    /**
     * 評価点数を小数点第2位を四捨五入して表示する
    */
    getRating (rating) {
      return parseFloat(rating).toFixed(1)
    },
    /**
     * 評価点数に応じて表示するClassを切り替える
    */
    getStarClassString (_inputRating) {
      const STAR_CLASS_BASE = 'score__starsRate--sts'
      const STAR_CALCULATING_VALUE = 0.5
      const STAR_ASSOCIATIVE_ARRAY = {
        1: '05',
        2: '10',
        3: '15',
        4: '20',
        5: '25',
        6: '30',
        7: '35',
        8: '40',
        9: '45',
        10: '50'
      }
      let starClassString = ''
      let floatRating = parseFloat(_inputRating)
      let starCount = parseInt(floatRating / STAR_CALCULATING_VALUE)

      if (typeof (STAR_ASSOCIATIVE_ARRAY[starCount]) !== 'undefined') {
        starClassString = STAR_CLASS_BASE + STAR_ASSOCIATIVE_ARRAY[starCount]
      }

      return starClassString
    },
    /**
     * 日付の計算をする
    */
    getConvertedDate (_inputDate) {
      return moment(_inputDate).format('YYYY年MM月DD日')
    }
  },
  watch: {
    'review': {
      handler: function () {
        this.detailUrls = this.setDetailUrls(this.review.Feature)
      }
    },
    'nextReview': {
      handler: function () {
        let urls = this.setDetailUrls(this.nextReview.Feature)
        this.detailUrls = Object.assign({}, this.detailUrls, urls)
      },
      deep: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.evaluation {
  margin-bottom: 20px;
  &__loading {
    font-size: 12px;
    height: 40px;
    padding: 15px 0 25px; // 上のモジュール分のmargin-bottomを差し引く
  }
  &__loadingBody {
    @include loadingBody();
  }
  &__circle {
    @include loadingCircle();
  }
  &__pager {
    font-size: 12px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
  }
  &__note {
    margin: 0 10px 10px;
    font-size: 12px;
  }
}

.sort {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  table-layout: fixed;
  box-sizing: border-box;
  &__item {
    display: table-cell;
    overflow: hidden;
    border-right: 1px solid #e1e4e4;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.24);
    &:first-child{
      border-radius: 5px 0 0 5px;
    }
    &:last-child{
      border-right: 0;
      border-radius: 0 5px 5px 0;
    }
  }
  &__link {
    display: block;
    height: 38px;
    color: #464033;
    font-weight: bold;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
    &--current {
      @extend .sort__link;
      color: #fff;
      text-shadow: 0 1px 1px rgba(101,49,47,.65);
      background: #ff9658;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.27);
    }
  }
}

.information {
  background: #fff;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  &__item {
    border-bottom: 1px solid #ddd;
  }
  &__link {
    display: block;
    position: relative;
    padding: 10px 25px 10px 10px;
    color: #333;
    &::before {
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      content: '';
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-top: 2px solid #777;
      border-right: 2px solid #777;
    }
  }
  &__noLink {
    display: block;
    padding: 10px 25px 10px 10px;
  }
  &__detail {
    overflow: hidden;
  }
  &__title {
    font-size: 14px;
    font-weight: bold;
  }
  &__data {
    margin-bottom: 3px;
    font-size: 12px;
  }
}

.score {
  position: relative;
  &__number {
    margin-right: 5px;
    color: #e17037;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    vertical-align: top;
  }
  &__starsRate {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 1em;
    line-height: 1.0;
    font-size: 18px;
    vertical-align: middle;
    &--sts05:after, &--sts10:after, &--sts15:after, &--sts20:after, &--sts25:after, &--sts30:after, &--sts35:after, &--sts40:after, &--sts45:after, &--sts50:after {
      top: 1px;
      left: 35px;
      line-height: 1;
    }
    &--sts05:before, &--sts10:before, &--sts15:before, &--sts20:before, &--sts25:before, &--sts30:before, &--sts35:before, &--sts40:before, &--sts45:before, &--sts50:before {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #ccc);
      top: 1px;
      left: 35px;
      line-height: 1;
    }
    &--sts05:after {
      @include RiffIcon("\E803", 18, #f6b81b);
    }
    &--sts10:after {
      @include RiffIcon("\E802", 18, #f6b81b);
    }
    &--sts15:after {
      @include RiffIcon("\E802\E803", 18, #f6b81b);
    }
    &--sts20:after {
      @include RiffIcon("\E802\E802", 18, #f6b81b);
    }
    &--sts25:after {
      @include RiffIcon("\E802\E802\E803", 18, #f6b81b);
    }
    &--sts30:after {
      @include RiffIcon("\E802\E802\E802", 18, #f6b81b);
    }
    &--sts35:after {
      @include RiffIcon("\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts40:after {
      @include RiffIcon("\E802\E802\E802\E802", 18, #f6b81b);
    }
    &--sts45:after {
      @include RiffIcon("\E802\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts50:after {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #f6b81b);
    }
  }
  &__rate {
    @include text-replace;
    position: absolute;
    width: 100%;
  }
}

.post {
  display: table;
  margin-bottom: 0;
  width: 100%;
  &__contributor {
    display: table-cell;
    width: 70%;
    color: #999;
    font-size: 11px;
    text-align: left;
    vertical-align: bottom;
  }
  &__name {
    padding-left: 10px;
  }
  &__cp {
    display: table-cell;
    text-align: right;
    width: 30%;
  }
  &__image {
    width: 40px;
    height: auto;
    vertical-align: middle;
  }
}

.more {
  margin-bottom: 10px;
  text-align: center;
  &__text {
    display: inline-block;
    position: relative;
    height: 30px;
    padding: 0 10px 0 28px;
    color: #52bfeb;
    font-weight: bold;
    line-height: 30px;
    border: 1px solid #52bfeb;
    border-radius: 5px;
    background: #fff;
    &::before {
      @include RiffIcon("\E606", 18, #52bfeb);
      top: 1px;
      left: 7px;
      font-weight: bold;
    }
  }
}

.error {
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  &__text {
    margin-bottom: 15px;
    font-weight: bold;
  }
  &__reloadButton {
    @include button-normal;
    display: inline-block;
    position: relative;
    margin: 0px auto;
    padding: 7px 14px 7px 34px;
    color: #52bfeb;
    background: #fff;
    border: 1px solid #52bfeb;
    box-shadow: none;
    &:before{
      @include RiffIcon("\E139", 18, #52bfeb);
      top:4px;
      left: 12px;
    }
  }
}

</style>
