<template>
  <div class="posted tracked_mods" id="rvdtlotw">
    <div v-if="status.detailList === 'binded' && postedList.length > 0">
      <div class="posted__title postedTitle"><h2 class="postedTitle__main">{{tenpoName}}の{{author | getReviewerName}}さんの投稿</h2></div>
      <ul class="posted__list">
        <li v-for="(element, index) in postedList" class="posted__item postedItem" :key="element, index">
          <a v-bind:href="getReviewUrl(gid, element.Property.Comment.CustomExact1)" class="postedItem__link" :data-ylk='"slk:otwtile;pos:"+(index+1)'>
            <dl class="postedItem__detail">
              <dt class="postedItem__title">{{element.Property.Comment.Subject | convertStringIntoHtml}}</dt>
              <dd class="postedItem__score score">
                <span class="score__number">{{element.Property.Comment.Rating | getFloatRating}}</span><span v-bind:class="element.Property.Comment.Rating | getStarClassString"></span><span class="score__rate">5点満点中</span>
              </dd>
              <dd class="postedItem__post">
                <p class="postedItem__date">投稿日：<span class="postedItem__text">{{element.Property.Comment.CreateDate | getConvertedDate}}</span></p>
              </dd>
            </dl>
          </a>
        </li>
      </ul>
    </div>
    <div v-else-if="status.detailList === 'error'">
      <div class="posted__title postedTitle"><h2 class="postedTitle__main">{{tenpoName}}の{{author | getReviewerName}}さんの投稿</h2></div>
      <error
        v-bind:status="status"></error>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  import error from '@sp/components/place/review/error.vue'
  import baseComponent from '@lib/baseComponent'

  /*
   * 多数の関数で使うStringとIntの値を定数化
   */
  const LOCO_URL_BASE = 'https://loco.yahoo.co.jp'
  const REVIEW_FORWARD_URL = LOCO_URL_BASE + '/place/g-'
  const REVIEW_BACKWARD_URL = '/review/'
  const PARSE_INT_RADIX_VALUE = 10

  export default {
    components: {
      error
    },
    extends: baseComponent,
    data () {
      return {
        status: {},
        detailList: {},
        postedList: []
      }
    },
    props: [
      'tenpoName',
      'author',
      'guid',
      'gid',
      'reviewId'
    ],
    filters: {
      /*
       * クチコミ詳細投稿日をYYYY年MM月DD日の形式に変換
       *
       * @param {String} _inputDate 変換前のクチコミ投稿日
       * @returns {String} convertedDate YYYY年MM月DD日の形式の投稿日
       */
      getConvertedDate (_inputDate) {
        return moment(_inputDate).format('YYYY年MM月DD日')
      },

      /*
       * クチコミの評価の値が数字限り少数を付けて返還
       *
       * @param {String} _inputRating クチコミの詳細評価の数値
       * @returns {String} detailRating 小数点を付けた数字
       */
      getFloatRating (_inputRating) {
        let rating = _inputRating

        // 数字ではない場合、そのまま返還
        if (isNaN(parseInt(_inputRating, PARSE_INT_RADIX_VALUE))) {
          return rating
        }
        // 小数点をつけて返還
        rating = parseFloat(_inputRating).toFixed(1)
        return rating
      },

      /*
       * クチコミの総合評価の数値をもらって、絵を作るcssクラスのstringの値に変換
       *
       * @param {String} _inputRating クチコミの総合評価の数値
       * @returns {String} starClassString クチコミの総合評価の数値を変換したcssクラスの値
       */
      getStarClassString (_inputRating) {
        // Intの星の数をStringに変換する配列を定数化
        const STAR_ASSOCIATIVE_ARRAY = {
          1: '05',
          2: '10',
          3: '15',
          4: '20',
          5: '25',
          6: '30',
          7: '35',
          8: '40',
          9: '45',
          10: '50'
        }

        // 星の数とcssクラスの値を生成する値を定数化
        const STAR_CLASS_BASE = 'score__starsRate--sts'
        const STAR_CALCULATING_VALUE = 0.5

        // 変換する値を初期化
        let starClassString = ''

        // クチコミの総合評価を計算して、星の数を抽出
        let floatRating = parseFloat(_inputRating)
        let starCount = parseInt(floatRating / STAR_CALCULATING_VALUE, PARSE_INT_RADIX_VALUE)

        // cssクラスを生成
        starClassString = STAR_CLASS_BASE + STAR_ASSOCIATIVE_ARRAY[starCount]

        return starClassString
      },

      /* 本文の内容をHTML形式に返還
       *
       * @param {String} _inputBody HTML形式に返還する本文の内容
       * @returns {String} htmlBodyText HTML形式に返還された本文の内容
       */
      convertStringIntoHtml (_inputBody) {
        try {
          const domParser = new DOMParser()
          return domParser.parseFromString(_inputBody, 'text/html').body.textContent
        } catch (err) {
          // android 4系ではDOMParserが使えない
          const dict = [
            [/&gt;/g, '>'],
            [/&lt;/g, '<'],
            [/&quot;/g, '"'],
            [/&apos;/g, '\''],
            [/&amp;/g, '&']
          ]
          return dict.reduce((acc, [original, modified]) => acc.replace(original, modified), _inputBody)
        }
      },

      /*
       * MaskされたYIDがあれば、MaskされたYidを返還
       * MaskされたYIDがなければ、'ヤフーユーザー'を返還
       *
       * @param {String} _maskedYid MaskされたYid
       * @returns {String} reviewerName 表示される口コミ投稿者の名前
       */
      getReviewerName (_maskedYid) {
        let reviewerName = 'ヤフーユーザー'
        if (_maskedYid) {
          reviewerName = _maskedYid
        }
        return reviewerName
      }

    },
    methods: {
      /*
       * ユーザーのguidと店舗のgidを元にして、
       * 同じ投稿者のクチコミ一覧情報を非同期処理で取得して、
       * 上に出るクチコミ情報を抜けて表示
       * @param {String} _guid 非同期処理から取得したクチコミ投稿者のguid
       * @param {String} _gid 同期処理から取得した店舗のgid
       * @param {String} _reviewId 画面の上に出るクチコミのreviewId
       */
      getDetailList (_guid, _gid, _reviewId) {
        this.bindRequest({
          name: 'detailList',
          url: this.namespace.API.commentPosted,
          params: {
            output: 'json',
            guid: _guid,
            gid: _gid
          },
          eappid: false
        }).then((_detailListResult) => {
          if (_detailListResult) {
            let detailListResultFeatureLength = _detailListResult.Feature.length
            for (let index = 0; index < detailListResultFeatureLength; index++) {
              if (_detailListResult.Feature[index].Property.Comment.CustomExact1 !== _reviewId) {
                this.postedList.push(_detailListResult.Feature[index])
              }
            }
          }
        })
      },
      /**
       * GIDとReviewIDをもらって、クチコミ詳細ページのリンクを生成
       *
       * @param {String} _inputGid 該当場所のGID
       * @param {String} _reviewId 他の詳細情報のReviewId
       * @returns {String} reviewUrl 他のクチコミ詳細ページのリンク
       */
      getReviewUrl (_inputGid, _reviewId) {
        // クチコミ詳細ページのURLを生成
        return this.$root.addUrlParameters(REVIEW_FORWARD_URL + _inputGid + REVIEW_BACKWARD_URL + _reviewId, ['sc_type'])
      }
    },
    mounted () {
      // 非同期処理を開始
      this.getDetailList(this.guid, this.gid, this.reviewId)
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.posted {
  margin-bottom: 20px;
  background: #fff;
}

.postedTitle {
  &__main {
    @include placeTitle;
    margin-bottom: 0;
  }
}

.postedItem {
  border-bottom: 1px solid #ddd;
  &:last-child {
    border-botom: none;
  }
  &__detail {
    position: relative;
    padding: 10px;
  }
  &__title {
    color: #1976d2;
    font-weight: bold;
  }
  &__post {
    color: #666;
  }
}

.score {
  position: relative;
  &__number {
    font-size: 16px;
    font-weight: bold;
    color: #e17037;
    margin-right: 5px;
    vertical-align: top;
    line-height: 1.3;
  }
  &__starsRate {
    &--sts05:after, &--sts10:after, &--sts15:after, &--sts20:after, &--sts25:after, &--sts30:after, &--sts35:after, &--sts40:after, &--sts45:after, &--sts50:after {
      top: 1px;
      left: 35px;
      line-height: 1;
    }
    &--sts05:before, &--sts10:before, &--sts15:before, &--sts20:before, &--sts25:before, &--sts30:before, &--sts35:before, &--sts40:before, &--sts45:before, &--sts50:before {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #ccc);
      top: 1px;
      left: 35px;
      line-height: 1;
    }
    &--sts05:after {
      @include RiffIcon("\E803", 18, #f6b81b);
    }
    &--sts10:after {
      @include RiffIcon("\E802", 18, #f6b81b);
    }
    &--sts15:after {
      @include RiffIcon("\E802\E803", 18, #f6b81b);
    }
    &--sts20:after {
      @include RiffIcon("\E802\E802", 18, #f6b81b);
    }
    &--sts25:after {
      @include RiffIcon("\E802\E802\E803", 18, #f6b81b);
    }
    &--sts30:after {
      @include RiffIcon("\E802\E802\E802", 18, #f6b81b);
    }
    &--sts35:after {
      @include RiffIcon("\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts40:after {
      @include RiffIcon("\E802\E802\E802\E802", 18, #f6b81b);
    }
    &--sts45:after {
      @include RiffIcon("\E802\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts50:after {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #f6b81b);
    }
  }
  &__rate {
    @include text-replace;
    position: absolute;
    width: 100%;
  }
}

</style>
