<template>
<div v-if="this.status.commentApiResult === 'binded' && this.commentApiResult.Feature.length !== 0 && !$root.isHiddenScType('rvlist')" id="rvlist" class="reviewSummary tracked_mods">
  <div class="reviewSummary__container">
    <h2 class="reviewSummary__title">クチコミ</h2>
    <ul class="reviewSummary__list">
      <li v-for="(comment, commentIndex) in this.commentList" class="reviewSummary__item review">
        <a v-if="comment.detailLinkUrl" :href="comment.detailLinkUrl" class="review__link" target="_blank" rel="nofollow noopener" :data-ylk="`slk:listile;pos:${commentIndex}`">
          <dl class="review__detail">
            <dt class="review__title">{{ comment.title | convertHTMLToText }}</dt>
            <dd v-if="comment.rating.string !== ''" class="review__score score"><span class="score__number">{{ comment.rating.string | kuchikomiRatingFormat }}</span><span :class="comment.rating.starsRateClass"></span><span class="score__rate">5点満点中</span></dd>
            <dd class="review__comment">{{ comment.body | convertHTMLToText }}</dd>
            <dd class="review__post post">
              <p class="post__contributor" v-if="comment.commentAuthor.string"><span class="post__date">{{ comment.createDate }}</span><span class="post__name">{{ comment.commentAuthor.string }}さん</span></p>
              <p v-if="comment.cpImage !== ''" class="post__cp"><img :src="comment.cpImage" class="post__image" /></p>
            </dd>
          </dl>
        </a>
        <!-- リンクなしパターン -->
        <span v-else class="review__noLink">
          <dl class="review__detail">
            <dt class="review__title">{{ comment.title | convertHTMLToText }}</dt>
            <dd v-if="comment.rating.string !== ''" class="review__score score"><span class="score__number">{{ comment.rating.string | kuchikomiRatingFormat }}</span><span :class="comment.rating.starsRateClass"></span><span class="score__rate">5点満点中</span></dd>
            <dd class="review__comment">{{ comment.body | convertHTMLToText }}</dd>
            <dd class="review__post post">
              <p class="post__contributor" v-if="comment.commentAuthor.string"><span class="post__date">{{ comment.createDate }}</span><span class="post__name">{{ comment.commentAuthor.string }}さん</span></p>
              <p v-if="comment.cpImage !== ''" class="post__cp"><img :src="comment.cpImage" class="post__image" /></p>
            </dd>
          </dl>
        </span>
      </li>
    </ul>
  </div>
  <div class="reviewSummary__more"><a :href="this.moreViewLink.linkUrl" class="reviewSummary__link" data-ylk="slk:more;pos:0">クチコミをもっと見る({{ this.moreViewLink.totalCount }}件)</a></div>
</div>
</template>

<script>
import Base from '@lib/baseComponent'
import moment from '@lib/moment-ja'

// CP画像幅、高
const cpImgWidth = 80
const cpImgHeight = 60

export default {
  data () {
    return {
      commentApiResult: {},
      commentList: [],
      moreViewLink: {}
    }
  },
  props: {
    tenpo: Object
  },
  computed: {
    reviewPostButtonUrl () {
      return `/review/posting?uid=${this.tenpo.Feature[0].Property.Uid}`
    },
    imgSize: function () {
      return cpImgWidth + 'x' + cpImgHeight
    }
  },
  filters: {
    kuchikomiRatingFormat (rating) {
      return String(rating).includes('.') ? rating : rating + '.0'
    },
    /**
     * HTMLエンティティをテキスト文字に変換する
     * コメント検索APIから返却されるテキストに&gtや&ltが含まれるので変換する
     *  （コメント検索APIではサニタイズを行っておらず、入稿データがすでにそうなっているとのこと）
     */
    convertHTMLToText (_inputString) {
      try {
        const domParser = new DOMParser()
        return domParser.parseFromString(_inputString.trim(), 'text/html').body.textContent
      } catch (err) {
        // android 4系ではDOMParserが使えない
        const dict = [
          [/&gt;/g, '>'],
          [/&lt;/g, '<'],
          [/&quot;/g, '"'],
          [/&apos;/g, '\''],
          [/&amp;/g, '&']
        ]
        return dict.reduce((acc, [original, modified]) => acc.replace(original, modified), _inputString)
      }
    }
  },
  extends: Base,
  mounted () {
    const gid = this.tenpo.Feature[0].Gid

    // コメント検索APIから口コミ取得
    if (typeof gid !== 'undefined') {
      this.bindRequest({
        name: 'commentApiResult',
        url: this.namespace.API.kuchikomi,
        params: {
          gid: gid
        }
      }).then((commentApiResult) => {
        // 表示コメント整形
        for (const commentObj of commentApiResult.Feature) {
          const viewComment = {
            title: this.getTitle(commentObj),
            rating: this.getRating(commentObj),
            body: this.getBody(commentObj),
            commentAuthor: this.getCommentAuthor(commentObj),
            createDate: this.getCreateDate(commentObj),
            cpImage: this.getCpImage(commentObj),
            detailLinkUrl: this.getDetailLinkUrl(gid, commentObj)
          }

          this.commentList.push(viewComment)

          // 口コミは2件しか表示しないため、2件分の処理が終わったらループを抜ける
          if (this.commentList.length === 2) {
            break
          }
        }

        // もっと見るリンク文言・URL
        this.moreViewLink = {
          totalCount: commentApiResult.ResultInfo.Total,
          linkUrl: `/place/g-${gid}/review`
        }
      })
    }
  },
  methods: {
    /**
     * 口コミタイトル
     * @param {object} commentObj 口コミ情報
     * @returns {string} 口コミタイトル
     */
    getTitle (commentObj) {
      let title = ''
      if (commentObj.Property.CassetteId === this.namespace.cid.yahooLoco1 ||
                  commentObj.Property.CassetteId === this.namespace.cid.yahooLoco2 ||
                  commentObj.Property.CassetteId === this.namespace.cid.locoKuchikomi) {
        // Yahoo!ロコ
        title = commentObj.Property.Comment.Subject
      } else {
        // Yahoo!ロコ 以外
        if (commentObj.Property.Comment.Subject !== null) {
          // タイトルある場合
          title = commentObj.Property.Comment.Subject
        } else {
          // タイトルない場合
          title = commentObj.Property.Comment.Body
        }
      }

      // 口コミタイトル文字列切り詰め
      if (title.length > 32) {
        title = title.slice(0, 31) + '...'
      }

      return title
    },
    /**
     * 評価
     * @param {object} commentObj 口コミ情報
     * @returns {object} string: 表示評価, starsRateClass: ★表示class名
     */
    getRating (commentObj) {
      let rating = {
        string: '',
        starsRateClass: ''
      }
      if (commentObj.Property.CassetteId === this.namespace.cid.yahooLoco1 ||
                  commentObj.Property.CassetteId === this.namespace.cid.yahooLoco2 ||
                  commentObj.Property.CassetteId === this.namespace.cid.locoKuchikomi) {
        // Yahoo!ロコ
        rating.string = commentObj.Property.Comment.Rating
        const starsRate = commentObj.Property.Comment.Rating * 10
        rating.starsRateClass = 'score__starsRate--sts' + starsRate
      } else {
        // Yahoo!ロコ 以外は評価がある場合のみ表示
        if (!isNaN(parseFloat(commentObj.Property.Comment.Rating))) {
          rating.string = parseFloat(commentObj.Property.Comment.Rating).toFixed(1)
          // 0.5刻みで低いほうの★数を表示
          const starsRate = Math.floor(commentObj.Property.Comment.Rating * 2) / 2 * 10
          rating.starsRateClass = 'score__starsRate--sts' + starsRate
        }
      }
      return rating
    },
    /**
     * 口コミ本文
     * @param {Object} commentObj 口コミ情報
     * @returns {string} 口コミ本文
     */
    getBody (commentObj) {
      let body = commentObj.Property.Comment.Body

      // 口コミ内容文字列切り詰め
      if (body.length > 98) {
        body = body.slice(0, 97) + '...'
      }
      return body
    },
    /**
     * 投稿者・投稿者リンクURL
     * @param {object} commentObj 口コミ情報
     * @returns {object} string: 投稿者, linkUrl: 投稿者リンクURL
     */
    getCommentAuthor (commentObj) {
      let commentAuthor = {
        string: ''
      }
      if (commentObj.Property.Comment.InputSource === 'loco') {
        // ロコCP
        if (commentObj.Property.Comment.Guid === 'gourmet_user') {
          // 旧Yahoo!グルメ
          commentAuthor.string = 'Yahoo!グルメから移行'
        } else {
          // それ以外
          this.get(
            this.namespace.API.secure,
            {guid: commentObj.Property.Comment.Guid}
          ).then((result) => {
            commentAuthor.string = result.entry['maskedYid']
          }).catch((result) => {
            commentAuthor.string = 'ヤフーユーザー'
          })
        }
      } else {
        // 他CP
        commentAuthor.string = commentObj.Property.Comment.Author
      }
      return commentAuthor
    },
    /**
     * 投稿日
     * @param {object} commentObj 口コミ情報
     * @returns {string} 投稿日
     */
    getCreateDate (commentObj) {
      return moment(commentObj.Property.Comment.CreateDate).format('YYYY年MM月DD日')
    },
    /**
     * CP画像
     * @param {object} commentObj 口コミ情報
     * @returns {string} 画像URL
     */
    getCpImage (commentObj) {
      let cpImage = ''
      if (commentObj.Property.CassetteId !== this.namespace.cid.yahooLoco1 &&
              commentObj.Property.CassetteId !== this.namespace.cid.yahooLoco2 &&
              commentObj.Property.CassetteId !== this.namespace.cid.locoKuchikomi) {
        // Yahoo!ロコ以外
        for (const child of this.tenpo.Feature[0].Children) {
          if (commentObj.Property.CassetteId === child.CassetteId) {
            cpImage = child.CassetteOwnerLogoImage
          }
        }
      }

      return cpImage
    },
    /**
     * 口コミ詳細リンクURL
     * @param {string} gid GID
     * @param {object} commentObj 口コミ情報
     * @returns {string} 口コミ詳細リンクURL
     */
    getDetailLinkUrl (gid, commentObj) {
      let detailLinkUrl = ''
      if (commentObj.Property.CassetteId === this.namespace.cid.yahooSportSky ||
          commentObj.Property.CassetteId === this.namespace.cid.jyukuNavi ||
          commentObj.Property.CassetteId === this.namespace.cid.mentsu ||
          commentObj.Property.CassetteId === this.namespace.cid.yahooLoco1 ||
          commentObj.Property.CassetteId === this.namespace.cid.yahooLoco2 ||
          commentObj.Property.CassetteId === this.namespace.cid.niftySweets ||
          commentObj.Property.CassetteId === this.namespace.cid.locoKuchikomi) {
        // ロコの口コミ詳細
        detailLinkUrl = `/place/g-${gid}/review/${commentObj.Property.Comment.CustomExact1}/`
      } else {
        detailLinkUrl = commentObj.Property.Comment.LinkUrl
      }
      return detailLinkUrl
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.reviewSummary {
  margin-bottom: 20px;
  &__container {
    @include boxShadow;
    margin-bottom: 10px;
    background: #fff;
  }
  &__title {
    @include placeTitle;
    margin-bottom: 0;
  }
  &__list {
    margin-bottom: 10px;
  }
  &__more {
    margin-bottom: 10px;
    text-align: center;
  }
  &__link {
    display: inline-block;
    position: relative;
    height: 30px;
    padding: 0 28px 0 10px;
    border: 1px solid #52bfeb;
    color: #52bfeb;
    font-weight: bold;
    line-height: 30px;
    background: #fff;
    border-radius: 5px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      border-top: 2px solid #52bfeb;
      border-right: 2px solid #52bfeb;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.review {
  border-bottom: 1px solid #ddd;
  &:last-child {
    border-bottom: none;
  }
  &__link {
    display: block;
    position: relative;
    padding: 10px 25px 10px 10px;
    color: #333;
    &::before {
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      content: '';
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-top: 2px solid #777;
      border-right: 2px solid #777;
    }
  }
  &__noLink {
    display: block;
    padding: 10px 25px 10px 10px;
  }
  &__detail {
    overflow: hidden;
  }
  &__title {
    font-size: 14px;
    font-weight: bold;
  }
  &__comment {
    margin-bottom: 3px;
    font-size: 12px;
  }
}

.score {
  margin-bottom: 3px;
  position: relative;
  &__number {
    margin-right: 5px;
    color: #e17037;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
    vertical-align: top;
  }
  &__starsRate {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 1em;
    line-height: 1.0;
    font-size: 18px;
    vertical-align: middle;
    &--sts05:after, &--sts10:after, &--sts15:after, &--sts20:after, &--sts25:after, &--sts30:after, &--sts35:after, &--sts40:after, &--sts45:after, &--sts50:after {
      top: 1px;
      left: 35px;
      line-height: 1;
    }
    &--sts05:before, &--sts10:before, &--sts15:before, &--sts20:before, &--sts25:before, &--sts30:before, &--sts35:before, &--sts40:before, &--sts45:before, &--sts50:before {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #ccc);
      top: 1px;
      left: 35px;
      line-height: 1;
    }
    &--sts05:after {
      @include RiffIcon("\E803", 18, #f6b81b);
    }
    &--sts10:after {
      @include RiffIcon("\E802", 18, #f6b81b);
    }
    &--sts15:after {
      @include RiffIcon("\E802\E803", 18, #f6b81b);
    }
    &--sts20:after {
      @include RiffIcon("\E802\E802", 18, #f6b81b);
    }
    &--sts25:after {
      @include RiffIcon("\E802\E802\E803", 18, #f6b81b);
    }
    &--sts30:after {
      @include RiffIcon("\E802\E802\E802", 18, #f6b81b);
    }
    &--sts35:after {
      @include RiffIcon("\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts40:after {
      @include RiffIcon("\E802\E802\E802\E802", 18, #f6b81b);
    }
    &--sts45:after {
      @include RiffIcon("\E802\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts50:after {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #f6b81b);
    }
  }
  &__rate {
    @include text-replace;
    position: absolute;
    width: 100%;
  }
}

.post {
  display: table;
  width: 100%;
  &__contributor {
    display: table-cell;
    width: 70%;
    color: #999;
    font-size: 11px;
    text-align: left;
    vertical-align: bottom;
  }
  &__date {
    margin-right: 10px;
  }
  &__cp {
    display: table-cell;
    width: 30%;
    text-align: right;
  }
  &__image {
    width: 40px;
    height: auto;
    vertical-align: middle;
  }
}

</style>
