@import '../partial/mixins';
@import '../partial/variable';
@import '~@sp/styles/partial/place/placeNavigation';
@import '~@sp/styles/partial/place/placeSummaryHead';
@import '~@sp/styles/partial/place/placeSummary';
@import '~@sp/styles/partial/place/placeVideo';
@import '~@sp/styles/partial/place/placeData';
@import '~@sp/styles/partial/place/placeMap';

/*
planSummaryn.html
*/
.header {
  margin-bottom: 20px;

  &__name {
    margin-bottom: 8px;
  }

  &__informations {
    position: relative;
  }

  &__information {
    @include clearfix;

    &--topicality {
      margin-bottom: 10px;
    }

    &--budget {
      margin-bottom: 4px;
    }
  }

  &__topicality {
    display: inline-block;
    margin-right: 14px;
    vertical-align: middle;
  }

  &__holiday {
    font-size: 12px;
    color: #666666;
  }

  &__detailButton {
    @include button-normal;
    position: absolute;
    top: 36px;
    right: 0;
    display: block;
    width: 145px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    box-sizing: border-box;
  }
}

.headerName {
  position: relative;
  min-height: 51px;

  &__ruby {
    margin: 0 0 3px 30px;
    color: #666666;
    font-size: 11px;
  }

  &__icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 14px;
    vertical-align: top;
    &:after {
      @include RiffIcon("\E12A", 34, #90c322);
      top: -10px;
      left: -6px;
    }
  }

  &__title {
    display: inline-block;
    color: $textColorBlack;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
  }

  &__clip {
    @include text-replace;
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 51px;
    background-image: url('https://s.yimg.jp/images/loco/pc/images/sp_lococlip.png');
    &:hover {
      background-position: -50px 0;
    }

    &--clipped {
      background-position: -100px 0;
      &:hover {
        background-position: -150px 0;
      }
    }

  }
}

.headerTopicality {
  &__icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: middle;
    background-image: url('https://placehold.jp/22x22.png');
  }

  &__text {
    display: inline-block;
    position: relative;
    height: 24px;
    padding: 0 8px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    vertical-align: middle;
    background-color: #f98e2d;
    border-radius: 2px;
    box-sizing: border-box;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: -8px;
      width: 0;
      height: 0;
      margin-top: -4px;
      border-style: solid;
      border-width: 4px 8px 4px 0;
      border-color: transparent #f9902d transparent transparent;
    }

    &--denominator {
      font-size: 10px;
    }

  }

  &__review {
    display: inline-block;
    vertical-align: middle;
  }

  &__available {
    float: right;
    width: 145px;
    color: #c24019;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    border: 1px solid #c24019;
    border-radius: 10px;
    box-sizing: border-box;
  }
}

.headerLocation {
  display: inline-block;
  margin-right: 6px;
  font-size: 12px;
  line-height: 1;

  &__link {
    color: #666666;
  }
}

.headerGerne {
  display: inline-block;
  font-size: 12px;
  line-height: 1;

  &__link {
    color: #666666;
  }
}

.headerBudget {
  float: left;
  margin-right: 4px;
  line-height: 1;

  &__icon {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    vertical-align: middle;

    &--lunch {
      &:after {
        @include RiffIcon("\E904", 16, #f58c61);
        top: 0;
        left: 0;
      }
    }

    &--dinner {
      &:after {
        @include RiffIcon("\E901", 16, #5594af);
        top: 0;
        left: 0;
      }
    }
  }

  &__text {
    font-size: 12px;
    vertical-align: middle;
  }
}


/*
planData.html
*/
.data {
  margin-bottom: 14px;
  width: 615px;

  &__title {
    position: relative;
    margin-bottom: 10px;
    padding-left: 13px;
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    border-bottom: 2px solid #f0f0f1;
    box-shadow: 0 -1px #dfdfe1 inset;
    box-sizing: border-box;
    &:before {
      position: absolute;
      content: '';
      top: 3px;
      left: 0;
      width: 5px;
      height: 24px;
      background-color: #82754a;
    }
  }

  &__contents {
    padding: 10px 0 7px;
    border-bottom: 1px dotted #999999;
  }

  &__address {
    padding-left: 16px;
    font-size: 13px;
  }

  &__table {
    margin-bottom: 10px;
    border-bottom: 1px dotted #999999;
    table-layout: fixed;
  }

  &__row {
    font-size: 13px;
    text-align: left;
    border-bottom: 1px dotted #999999;
    &:last-child {
      border-bottom: 0;
    }
  }

  &__header {
    width: 145px;
    padding: 7px 10px;
    box-sizing: border-box;
  }

  &__data {
    padding: 7px 0;
    color: $textColorGray;
  }

  &__credit {
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
  }

  &__provider {
    display: none;
    display: inline-block;
    margin-left: 10px;
    color: $textColorLightGray;
    font-size: 10px;
    vertical-align: middle;
  }

  &__links {
    @include clearfix;
    text-align: right;
  }

  &__notice {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    line-height: 1;
    vertical-align: top;
    &:after {
      position: absolute;
      top: 4px;
      right: -12px;
      content: '｜';
      font-size: 10px;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        content: '';
      }
    }
  }

  &__link {
    font-size: 10px;
    cursor: pointer;
  }

}

.dataMap {
  padding-bottom: 4px;
  border-bottom: 1px solid #dfdfe1;
  box-shadow: 0 2px 2px #eee;

  &__link {
    display: block;
    margin-bottom: 4px;
    border: 1px solid #bcbcbc;
  }

  &__image {
    display: block;
  }

  &__detail {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
  }
}

.dataRoute {

  padding-left: 16px;

  &__list {
    margin-bottom: 3px;
    font-size: 13px;
  }

  &__button {
    @include button-normal;
    display: inline-block;
    width: 48px;
    height: 20px;
    padding: 0 5px;
    font-size: 11px;
    text-align: right;
    box-sizing: border-box;
  }
}
