<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  ${require('../../partial/common/metaData.html')}
</head>
<body>
  <div id="wrapper">
    <!-- マストヘッド -->
    ${require('../../partial/common/yjMastHead.html')}
    <!-- /マストヘッド -->
    <div id="app">
      <header id="header">
      </header>
      <main class="layout">
        <!-- 店舗情報など（共通） -->
        ${require('../../partial/place/commonData.html')} ${require('../../partial/place/courseData.html')}
        <!-- /店舗情報など（共通） -->
        <!-- お知らせ（共通） -->
        ${require('../../partial/common/commonEmergency.html')}
        <!-- /お知らせ（共通） -->
        <!-- JSオフ（共通） -->
        ${require('../../partial/common/commonJsOff.html')}
        <!-- /JSオフ（共通） -->
        <!-- 店舗ヘッダー（共通） -->
        ${require('../../partial/place/placeSummaryHead.html')}
        <!-- /店舗ヘッダー（共通） -->
        ${require('../../partial/place/placeNavigation.html')}
        <sub-navigation page="bridal" :items="subNavigations"></sub-navigation>
        <div class="layout__main--wedding">
          <fair title="ブライダルフェア" :cp-name="cpName" :cp-url="cpUrl" v-if="isViewable" :tenpo-name="tenpoName" :page="page" :total-items="items.length" :items-per-page=itemsPerPage :items="items" :gid="gid"></fair>
          <pagination v-if="isViewable" data-th-attr="page=${page}" :page=page :total-items="items.length" :items-per-page="itemsPerPage" @paging="paging"></pagination>
          <error v-else></error>
        </div>
        <clip-button :tenpo="tenpo" :user-info="userInfo"></clip-button>
        <div class="layout__sub">
          <!-- YDN(IM01)広告 -->
          <div id="yads_ds15411_14993_01" class="im1"></div>
          <!-- /YDN(IM01)広告 -->
          <restaurant-recommend :tenpo="tenpo"></restaurant-recommend>
          <coupon-list :tenpo="tenpo"></coupon-list>
          <search-assistance :tenpo="tenpo"></search-assistance>
          <post-button :tenpo="tenpo"></post-button>
          <promotion :promotion="promotion"></promotion>
          <foot-navigation :tenpo="tenpo" page="bridal" :course-list="courseList"></foot-navigation>
          <!-- YDN(IM02)広告 -->
          <div id="yads_ds15411_14993_02" class="im2"></div>
          <!-- /YDN(IM02)広告 -->
          <regular-link></regular-link>
          <!-- YDN(SMON)広告 -->
          <div id="yjAdsYdnSmon" class="smon"></div>
          <!-- /YDN(SMON)広告 -->
          <page-top></page-top>
        </div>
      </main>
      <!-- 検索（共通） -->
      ${require('../../partial/common/commonSearch.html')}
      <!-- /検索（共通） -->
      <!-- パンくずリスト（共通） -->
      ${require('../../partial/common/commonBreadcrumbs.html')}
      <!-- /パンくずリスト（共通） -->
      <!-- フッター（共通） -->
      ${require('../../partial/common/commonFooter.html')}
      <!-- /フッター（共通） -->
      <!-- YDN(Overlay)広告 -->
      <div id="yjAdsYdnOverlay"></div>
      <!-- /YDN(Overlay)広告 -->
    </div>
  </div>
  <!-- YJ広告 -->
  ${require('~@sp/pages/partial/common/yjAds.html')}
  ${require('~@sp/pages/partial/common/yjRapid.html')}
</body>
</html>
