<template >
  <div class="list" v-if="getDisplayFlag()">
    <div class="list__title listTitle tracked_mods" id="pst_photo">
      <h2 class="listTitle__main">{{this.photoTitle}}</h2>
      <p class="listTitle__button" v-if="this.displayPostButtonFlg"><a :href="postPhotoUrl" class="listTitle__link" rel="nofollow" data-ylk="slk:_;pos:0">写真投稿</a></p>
    </div>
    <counter :is-counter-border="false" :is-counter-range="true" :is-counter-pagination="true" :page="page" :pagination="pagination"></counter>
    <ul class="list__list">
      <li class="list__item" v-for="(photoList, index) in displayItems()" :key="photoList, index">
        <div v-on:click="setDetailPhotoInfo(photoList.Id);photoModal=true;; $parent.sendClickBeacon('imglst','_',(page.pageId*page.pageDisplaySize)+index+1)" class="list__link">
          <span :style="{'background-image' : 'url(' + getImageUrl(photoList.ImageUrl) + ')'}" class="list__image">{{photoList.Caption}}</span>
        </div>
      </li>
    </ul>

    <!-- モーダル -->
    <transition
      enter-class="photoModal__enter"
      enter-active-class="photoModal__enter--active"
      leave-class="photoModal__leave"
      leave-active-class="photoModal__leave--active"
    >

      <div class="tracked_mods" id="imgdtl">
        <div class="list__modal modal" v-if="isPhotoModal()">
          <div class="modal__window">
            <p class="modal__overlay" v-on:click="photoModal = false">×</p>
            <div class="modal__contents post">
              <p class="post__button" v-on:click="photoModal = false; $parent.sendClickBeacon('imgdtl','xbtn',0)">閉じる</p>
              <div class="post__slide slide">
                <img v-bind:src="getPhotoImageUrl()" class="slide__image" v-bind:alt="getAltComment()" />
                <ul class="slide__button">
                  <!-- 前へ -->
                  <li v-if="isPrev()" @click="clickDetailPrev()" class="slide__prev"><span class="slide__explain">前へ</span></li>
                  <li v-else class="slide__prev--disable"><span class="slide__explain">前へ</span></li>
                  <!-- 次へ -->
                  <li v-if="isNext()" @click="clickDetailNext()" class="slide__next"><span class="slide__explain">次へ</span></li>
                  <li v-else @click="clickDetailNext()" class="slide__next--disable"><span class="slide__explain">次へ</span></li>
                </ul>
              </div>
              <p class="post__comment">{{ getPhotoImageUrlText()}}</p>
              <p class="post__information information">
                <span class="information__text">by </span>
                <span v-if="isUserPhoto()">
                  <a v-if="isUserPhoto()" v-bind:href="getUserUrl()" class="information__name" target="out" data-ylk="slk:usrid;pos:0"> {{ getUserName() }}</a>
                </span>
                <span v-else>
                    <a v-if="getCpUrl()" v-bind:href="getCpUrl()" class="information__name" target="out" rel="nofollow" data-ylk="slk:usrid;pos:0"> {{ getCpName() }}</a>
                    <span v-else class="information__name--noLink">{{ getCpName() }}</span>
                </span>
                <!-- ユーザー名(リンクあり) -->
                <!-- CP名(リンクあり) -->
                <!-- CP名(リンクなし) -->
                <span v-if="isUserPhoto()">さん</span>
                <span v-if="isUserPhoto()" class="information__date">{{ getCreateTime() }}</span>
              </p>
              <!--
              <div class="post__evaluate evaluate">
                <p class="evaluate__button"><span class="evaluate__text">ステキ</span></p>
                <p class="evaluate__count"><span class="evaluate__number--emphasis">5</span><span class="evaluate__number">人</span></p>
                <p class="evaluate__description">写真がステキだと思ったらボタンを押してください。</p>
              </div>
              -->
              <p v-if="isUserPhoto()" class="post__warning warning"><a v-bind:href="getWarningLink()" class="warning__link" data-ylk="slk:imgrep;pos:0">問題のある写真を違反申告</a></p>
              <p class="post__restaurant">{{ getPhotoTenpoName() }}</p>
            </div>
          </div><!--/.modal__window-->
        </div>
      </div>
    </transition>
    <!-- /モーダル -->
  </div>
  <!-- ゼロマッチ -->
  <div class="list" v-else>
    <div class="list__title listTitle tracked_mods" id="pst_poto">
      <h2 class="listTitle__main">{{this.photoTitle}}</h2>
      <p class="listTitle__button" v-if="this.displayPostButtonFlg"><a :href="postPhotoUrl" class="listTitle__link" rel="nofollow" data-ylk="slk:_;pos:0">写真投稿</a></p>
    </div>
    <zero-match></zero-match>
  </div>
</template>

<script>
  import moment from 'moment'
  import counter from '@pc/components/place/counter.vue'
  import baseComponent from '@lib/baseComponent'
  import zeroMatch from '@pc/components/place/photo/zeroMatch.vue'

  // 写真画像幅、高
  const photoImgWidth = 600
  const photoImgHeight = 400
  const noImageSize = '400x400'

  export default {
    props: ['photo', 'page', 'pagination', 'resizedimages01', 'resizedimages02', 'resizedimages03', 'tenpo'],
    components: {
      counter,
      zeroMatch
    },
    extends: baseComponent,
    data () {
      return {
        postPhotoUrl: '',
        photoTitle: '',
        displayPostButtonFlg: true,
        photoModal: false,
        userInfo: {
          entry: {
            encodedYuid: '',
            maskedYid: ''
          }
        },
        photoUser: {
          'nickName': '',
          'encodedYuid': ''
        },
        currentPhotoIndex: 0, // 写真詳細 表示写真インデックス
        currentPhotoId: null, // 写真詳細 表示写真ID
        nextPhotoId: null, // 写真詳細 次の写真ID
        prevPhotoId: null // 写真詳細 前の写真ID
      }
    },
    mounted: function () {
      this.photoTitle = this.tenpo.Feature[0].Name
      this.setDisplayPostButtonFlag()
      this.getPostUrl()
    },
    methods: {
      getDisplayFlag () {
        return this.page.displayFlag
      },
      /**
       * [写真詳細]写真詳細のalt設定
       * @param url {string} リサイズ前画像URL
       * @return {string} 画像URL
       */
      getAltComment: function () {
        var comment = this.getPhotoImageUrlText()
        if (comment === '') {
          comment = this.getPhotoTenpoName() + 'の説明'
        }
        return comment
      },
      /**
       * [写真一覧・詳細]画像URL取得
       * @param url {string} リサイズ前画像URL
       * @return {string} 画像URL
       */
      getImageUrl: function (url) {
        var size = this.getPhotoImgSize()

        if (this.isFilled(this.resizedimages01[url]) && this.isFilled(this.resizedimages01[url][size])) {
          return this.resizedimages01[url][size]
        } else
        if (this.isFilled(this.resizedimages02[url]) && this.isFilled(this.resizedimages02[url][size])) {
          return this.resizedimages02[url][size]
        } else
        if (this.isFilled(this.resizedimages03[url]) && this.isFilled(this.resizedimages03[url][size])) {
          return this.resizedimages03[url][size]
        }
        return this.namespace.noImage[noImageSize]
      },
      /**
       * [写真一覧・詳細]写真サイズ取得
       * @return {string} 写真サイズ
       */
      getPhotoImgSize: function () {
        return photoImgWidth + 'x' + photoImgHeight
      },
      /**
       * [写真一覧・詳細]要素存在チェック
       * @param variable {object} チェック対象オブジェクト
       * @return {boolean} チェック結果
       */
      isFilled: function (variable) {
        return !(typeof variable === 'undefined' || variable === null)
      },
      /**
       * [写真一覧]投稿用ボタンURL
       * @param none
       */
      getPostUrl: function () {
        this.postPhotoUrl = 'https://loco.yahoo.co.jp/photo/posting?uid=' + this.tenpo.Feature[0].Property.Uid
      },
      /*
       * [写真一覧]投稿ボタンの表示可否
       * 医療系ジャンル 先頭 0401 は表示しない
       */
      setDisplayPostButtonFlag: function () {
        const medicPattern = '0401'
        for (let genreItem of this.tenpo.Feature[0].Property.Genre) {
          if (genreItem.Code.startsWith(medicPattern)) {
            this.displayPostButtonFlg = false
          }
        }
      },
      /*
       * [写真一覧・詳細]表示する写真情報
       * @return {any} 表示する情報
       */
      displayItems () {
        const head = this.page.pageId * this.page.pageDisplaySize
        return this.photo.imageInfo.slice(head, head + this.page.pageDisplaySize)
      },
      /*
       * [写真詳細]管理情報設定
       * @param {photoId} 写真ID
       * @return none
       */
      setDetailPhotoInfo: function (photoId) {
        var photoIndex = null
        var nextPhotoId = null
        var prevPhotoId = null

        // 未設定の場合は何もしない
        if (!photoId) {
          return
        }

        // 全写真情報よりIndexを取得する
        for (var i = 0; i < this.photo.imageInfo.length; i++) {
          if (this.photo.imageInfo[i].Id === photoId) {
            // カレントIndexを設定
            photoIndex = i

            // 前後のページインデックスを設定
            var prevIndex = (i - 1)
            var nextIndex = (i + 1)

            // 前の写真IDを設定
            if (prevIndex >= 0) {
              prevPhotoId = this.photo.imageInfo[prevIndex].Id
            }
            // 次の写真IDを設定
            if (nextIndex < this.photo.imageInfo.length) {
              nextPhotoId = this.photo.imageInfo[nextIndex].Id
            }
            // 写真情報設定
            this.currentPhotoId = photoId
            this.currentPhotoIndex = photoIndex
            this.nextPhotoId = nextPhotoId
            this.prevPhotoId = prevPhotoId
            this.page.photoId = photoId
            break
          }
        }
      },
      /*
       * [写真詳細]画像URL取得
       * @param none
       * @return none
       */
      getPhotoImageUrl: function () {
        return this.getImageUrl(this.photo.imageInfo[this.currentPhotoIndex].ImageUrl)
      },
      /*
       * [写真詳細]説明文取得
       * @param none
       * @return {any} 説明文
       */
      getPhotoImageUrlText: function () {
        var str = ''
        if (this.photo.imageInfo[this.currentPhotoIndex].Caption) {
          str = this.photo.imageInfo[this.currentPhotoIndex].Caption
          if (str.length > 70) {
            str = str.slice(0, 70)
          }
        }
        return str
      },
      /*
       * [写真詳細]前へボタン押下処理
       * @param none
       * @return none
       */
      clickDetailPrev: function () {
        this.setDetailPhotoInfo(this.prevPhotoId)
        // ページURL更新
        this.cleanUserInfo()
        this.modifyURLPhotoId('create')
        this.$parent.sendClickBeacon('imgdtl', 'preimg', 0)
      },
      /*
       * [写真詳細]次へボタン押下処理
       * @param none
       * @return none
       */
      clickDetailNext: function () {
        this.setDetailPhotoInfo(this.nextPhotoId)
        // ページURL更新
        this.cleanUserInfo()
        this.modifyURLPhotoId('create')
        this.$parent.sendClickBeacon('imgdtl', 'neximg', 0)
      },
      /*
       * [写真詳細]写真IDを更新する
       * @param none
       * @return none
       */
      modifyURLPhotoId: function (type) {
        // pushState対応確認
        if (window.history && window.history.pushState) {
          // URLパラメータを取得する
          var url = ''
          var pair = location.search.substring(1).split('&')
          var flg = false
          for (var i = 0; pair[i]; i++) {
            var kv = pair[i].split('=')// kvはkey-value
            if (kv[0] === 'photoId') {
              kv[1] = this.currentPhotoId
              flg = true
            }
            i === 0 ? url += '?' : url += '&'
            if (type === 'create') {
              url += kv[0] + '=' + kv[1]
            } else if (type === 'remove' && kv[0] !== 'photoId') {
              url += kv[0] + '=' + kv[1]
            }
          }

          if (flg === false) {
            url ? url += '&' : url += '?'
            if (type === 'create') {
              url += 'photoId=' + this.currentPhotoId
            }
          }

          // photoIdが入らない場合、末尾に&が入る場合があるので削除
          if (url.slice(-1) === '&') {
            url = url.slice(0, -1)
          }

          window.history.pushState('', '', url)
        }
      },
      /*
       * [写真詳細] 初期 モーダル表示の判定
       * return boolean
       */
      isPhotoModal: function () {
        if (this.page.modal) {
          this.setDetailPhotoInfo(this.page.photoId)
          this.photoModal = this.page.modal
        }
        return this.photoModal
      },
      /*
       * [写真詳細]CP名取得
       * @param none
       * @return {string} CP名
       */
      getCpName: function () {
        // CP名設定
        return this.photo.imageInfo[this.currentPhotoIndex].cassetteName
      },
      /*
       * [写真詳細]ユーザー名取得
       * @param none
       * @return {string} ユーザー名
       */
      getUserName: function () {
        // ユーザー名確認
        if (this.isUserPhoto() && !(this.photoUser.nickName)) {
          // APIからユーザー情報の取得
          this.getUserInfo(this.photo.imageInfo[this.currentPhotoIndex].Guid)
        }

        return this.photoUser.nickName
      },
      /*
       * [写真詳細]表示用の投稿者名とencodeYuidの初期化
       * @param none
       */
      cleanUserInfo: function () {
        this.photoUser.nickName = ''
        this.photoUser.encodeYuid = ''
      },
      /*
       * [写真詳細]CPリンク取得
       * @param none
       * @return {string} 画像遷移先リンク
       */
      getCpUrl: function () {
        return this.photo.imageInfo[this.currentPhotoIndex].cpUrl
      },
      /*
       * [写真詳細]ユーザーページリンクの取得
       * @param none
       * @return {string} 画像遷移先リンク
       */
      getUserUrl: function () {
        var urlLink = ''
        // ユーザー投稿の確認
        if (this.isUserPhoto() && this.photoUser.encodedYuid) {
          urlLink = 'https://loco.yahoo.co.jp/user/' + this.photoUser.encodedYuid + '/photo'
        }

        return urlLink
      },
      /*
       * [写真詳細]ユーザー投稿写真判定
       * @param none
       * @return {result} true/false
       */
      isUserPhoto: function () {
        var result = false
        if (this.photo.imageInfo[this.currentPhotoIndex].Guid) {
          result = true
        }
        return result
      },
      /*
       * [写真詳細]ユーザー投稿日付取得
       * @param none
       * @return {any} 投稿日付
       */
      getCreateTime () {
        var dateStr = ''
        if (this.isUserPhoto()) {
          dateStr = moment(this.photo.imageInfo[this.currentPhotoIndex].CreateDate).format('YYYY年MM月DD日HH時mm分')
        }
        return dateStr
      },
      /*
       * [写真詳細]前の写真有無チェック
       * @param none
       * @return {result} true/false
       */
      isPrev: function () {
        var result = true
        if (!this.prevPhotoId) {
          result = false
        }
        return result
      },
      /*
       * [写真詳細]次の写真有無チェック
       * @param none
       * @return {result} true/false
       */
      isNext: function () {
        var result = true
        if (!this.nextPhotoId) {
          result = false
        }
        return result
      },
      /*
       * [写真詳細]店舗名取得
       * @param none
       * @return {any} 店舗名
       */
      getPhotoTenpoName: function () {
        let str = ''
        if (this.photo.name) {
          str = this.photo.name
        }
        return str
      },
      /*
       * [写真詳細]違反申告URL取得
       * @param none
       * @return {any} url
       */
      getWarningLink: function () {
        let urlLink = ''
        var uid = this.tenpo.Feature[0].Property.Uid
        var detailUrl = encodeURIComponent('https://loco.yahoo.co.jp/place/' + uid + '/photo/user/' + this.currentPhotoId + '/')
        urlLink = 'https://loco.yahoo.co.jp/report/form?id=' + this.currentPhotoId + '&type=photo&url=' + detailUrl
        return urlLink
      },
      /*
       * [写真詳細]マスクyid,暗号化yuidの取得
       * @param _id
       */
      getUserInfo: function (_id) {
        this.bindRequest({
          name: 'userInfo',
          url: this.namespace.API.secure,
          params: {
            guid: _id
          },
          eappid: false // TODOあとで消す,
        }).then((userInfo) => {
          // 変換したデータをdataに格納
          this.photoUser.nickName = this.userInfo.entry['maskedYid'] // 表示用マスクyid
          this.photoUser.encodedYuid = this.userInfo.entry['encodedYuid'] // 投稿者URL生成用 暗号化YUID
        })
      }
    },
    watch: {
      //
      photoModal: function () {
        if (this.photoModal) {
          // ページURL更新
          this.page.modal = true
          this.modifyURLPhotoId('create')
        } else {
          this.page.modal = false
          this.modifyURLPhotoId('remove')
          this.cleanUserInfo()
        }
      },
      isPhotoModelShow: function (val) {
        if (val) {
          this.$nextTick(() => {
            this.$root.rapid.refreshModule('imgdtl', false, false)
          })
        }
      }
    },
    computed: {
      isPhotoModelShow () {
        return this.isPhotoModal()
      }
    }
  }
</script>


<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.list {
  margin-bottom: 20px;
  &__list {
    margin-right: -10px;
  }
  &__item {
    display: inline-block;
    margin: 0 10px 10px 0;
    list-style: none;
    overflow: hidden;
    vertical-align: top;
  }
  &__link {
    transition: all .2s;
    &:hover {
      opacity: .8;
    }
  }
  &__image {
    @include text-replace;
    width: 150px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}

.listTitle {
  position: relative;
  &__main {
    @include placeTitle;
    @include placeTitleBorder;
    padding-right: 75px;
  }
  &__button {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__link {
    display: block;
    padding: 3px 8px;
    border: 1px solid #d6d6d6;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0 1px rgba(187, 187, 187, 0.6);
    background: linear-gradient(to bottom, #fff 0%, #fefefe 100%);
    transition: all .2s;
    &:hover {
      opacity: .8;
    }
  }
}

.modal {
  z-index: 10;
  transition: opacity 0.3s ease;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; //アニメーションのためのクラス
  &__enter,
  &__leave--active {
    opacity: 0;
  }
  &__window {
    display: box;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    height: auto;
    position: absolute;
    right: 0;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    overflow-y: auto;
    background: rgba(0, 0, 0, .5);
  }
  &__overlay {
    @include text-replace;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    cursor: pointer;
  }
  &__contents {
    display: block;
    position: relative;
    z-index: 10;
    width: 700px;
    height: auto;
    margin: auto;
    padding: 40px 0;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  }
}

.post {
  &__button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    background-color: #555;
    border-radius: 5px;
    cursor: pointer;
    text-indent: 100%;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    overflow: hidden;
    line-height: 1;
    &:before {
      @include RiffIcon("\E10B", 26, #fff);
      top: 50%;
      margin-top: -13px;
      left: -25px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__comment {
    padding: 0 43px;
    color: #333;
    font-size: 14px;
    text-align: left;
  }
  &__restaurant {
    padding-top: 10px;
    margin: 0 43px;
    color: #333;
    font-size: 13px;
    text-align: left;
    border-top: 1px dotted #999;
  }
}

.slide {
  position: relative;
  max-width: 600px;
  max-height: 600px;
  text-align: center;
  margin: 0 auto 10px;
  user-select: none;
  &__image {
    max-width: 600px;
    max-height: 600px;
  }
  &__prev {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -80px;
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    &:before {
      @include RiffIcon("\E60B", 26, #fff);
      top: 50%;
      margin-top: -20px;
      left: 28px;
    }
    &:hover {
      background-color: $linkColor;
    }
    &--disable {
      @extend .slide__prev;
      opacity: 0.2;
      cursor: default;
      &:hover {
        background-color: #333;
      }
    }
  }
  &__next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -80px;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
    &:hover {
      background-color: $linkColor;
    }
    &:before {
      @include RiffIcon("\E60C", 26, #fff);
      top: 50%;
      margin-top: -20px;
      left: 5px;
    }
    &--disable {
      @extend .slide__next;
      opacity: 0.2;
      cursor: default;
      &:hover {
        background-color: #333;
      }
    }
  }
  &__explain {
    display: none;
  }
}

.information {
  margin-bottom: 10px;
  padding: 0 43px;
  color: #333;
  font-size: 13px;
  text-align: right;
  &__name {
    font-size: 13px;
  }
  &__days {
    padding-left: 5px;
    margin-left: 5px;
    font-size: 13px;
    color: #333;
    border-left: 1px solid #333;
  }
}

.warning {
  padding: 0 43px;
  margin-bottom: 10px;
  text-align: right;
  &__link {
    position: relative;
    color: $linkColor;
    font-size: 12px;
    text-decoration: none;
    &:before {
      @include RiffIcon("\E132", 10, #333);
      left: -14px;
      top: 1px;
    }
  }
}

  /* 参考になったボタン
.evaluate {
  margin: 0 44px 10px 44px;
  padding: 10px;
  background: #F4F4F4;
  @include clearfix;
  &__button {
    display: block;
    float:left;
    height: 18px;
    width: 100px;
    overflow: hidden;
    margin-right: 10px;
    padding: 5px;
    color: #333;
    line-height: 1;
    box-shadow: 0 1px rgba(187, 187, 187, 0.6);
    background: linear-gradient(to bottom, #fff 0%, #fefefe 100%);
    border-radius: 4px;
    cursor: pointer;
  }
  &__text {
    font-size:14px;
    vertical-align: middle;
  }
  &__count {
    float:left;
    margin-right:15px;
    color: #EA5B47;
  }
  &__number {
    font-size:14px;
    &--emphasis {
      font-size:18px;
      font-weight:bold;
    }
  }
  &__description {
    float:left;
    margin-top: 4px;
    color: #333;
    font-size:13px;
  }
}
*/
</style>
