<template>
  <div :class="[page === 'tenpo' ? 'topRoute' : 'route' ]" v-if="address !== ''">
    <p :class="[page === 'tenpo' ? 'topRoute__address' : 'route__address' ]">{{ address }}</p>
  </div>
</template>

<script>
export default {
  props: {
    tenpo: Object,
    /**
     * index.htmlを置いているディレクトリ名（ただし、店舗詳細は'tenpo'）
     * e.g.) 'map'
     * e.g.) 'tenpo'
    */
    page: String
  },
  computed: {
    address () {
      const address = this.tenpo.Feature[0].Property.Address
      const addressElement = this.tenpo.Feature[0].Property.AddressElement

      if (typeof address === 'undefined' || address === null || address === '') {
        return ''
      }

      if (typeof addressElement === 'undefined' || addressElement === null || Object.keys(addressElement).length === 0) {
        return ''
      }

      const todofuken = addressElement[0].Name
      if (this.tenpo.Feature[0].Property.AddressElement[0].Level === 'prefecture') {
        if (!address.startsWith(todofuken)) {
          return todofuken + address
        }
      }
      return address
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.route {
  margin-bottom: 10px;
  padding: 0 10px;
  &__address {
    position: relative;
    margin-bottom: 10px;
    padding: 0 0 10px 20px;
    border-bottom: 1px dotted #aaa;
    &:before {
      @include RiffIcon("\E12A", 15, #fc2027);
      top: 0;
      left: 0;
    }
  }
}

// 店舗トップに表示されるときだけ
.topRoute{
  padding: 10px;
  background: #fff;
  border-bottom: 1px dotted #aaa;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  &__address {
    @extend .route__address;
    margin: 0;
    padding-bottom: 0;
    border: 0;
  }
}
</style>
