<template>
<div class="routeMap">
  <ul id="applink" class="routeMap__routeButton routeButton tracked_mods">
    <li class="routeButton__item"><a :href="mapUrl" class="routeButton__button" target="_blank" rel="nofollow noopener"><span class="routeButton__text--walk">徒歩で行く</span></a></li>
    <li class="routeButton__item"><a :href="carUrl" class="routeButton__button" target="_blank" rel="nofollow noopener"><span class="routeButton__text--car">車で行く</span></a></li>
    <li class="routeButton__item">
      <a v-if="hasStation" :href="transitUrl" class="routeButton__button" target="_blank" rel="nofollow noopener"><span class="routeButton__text--train">電車で行く</span></a>
      <div v-else class="routeButton__button--disabled"><span class="routeButton__text--train">電車で行く</span></div>
    </li>
  </ul>

  <div id="picture" class="routeMap__map">
  <!-- ダミー -->
    <p>地図が入ります</p>
  <!-- /ダミー -->
  </div>
</div>
</template>

<script>
import Base from '@lib/baseComponent'

export default {
  extends: Base,
  props: ['tenpo'],
  mounted: function () {
    const [lon, lat] = this.tenpo.Feature[0].Geometry.Coordinates.split(',')

    /* global Y */
    const ymap = new Y.Map('picture')
    ymap.drawMap(new Y.LatLng(lat, lon), 17, Y.LayerSetId.NORMAL)
    ymap.addControl(new Y.HomeControl())
    ymap.addControl(new Y.SliderZoomControlHorizontal())
  },
  computed: {
    hasStation () {
      return Object.keys(this.tenpo.Feature[0].Property.Station).length > 0
    },
    mapUrl () {
      const [lon, lat] = this.tenpo.Feature[0].Geometry.Coordinates.split(',')
      const mapUrlParam = this.namespace.Url.map + '/maps?hlat=' + lat + '&lat=' + lat + '&hlon=' + lon + '&lon=' + lon + '&z=18&uid=' + this.tenpo.Feature[0].Property.Uid + '&mode=map&layer=none'
      return this.namespace.Approach.map(mapUrlParam)
    },
    carUrl () {
      const [lon, lat] = this.tenpo.Feature[0].Geometry.Coordinates.split(',')
      const carUrlParam = this.namespace.Url.car + '/navi/select?point=' + lat + ',' + lon + ',' + this.tenpo.Feature[0].Name
      return this.namespace.Approach.car(carUrlParam)
    },
    transitUrl () {
      return this.namespace.Url.transit + '/?to=' + this.tenpo.Feature[0].Property.Station[0].Name
    }

  }
}
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

  .routeMap{
    &__map{
      margin-bottom: 10px;
      width: 100%;
      height: 340px;
    }
  }
  .routeButton{
    display: table;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 0 0 10px;
    table-layout: fixed;
    box-sizing: border-box;

    &__item{
      display: table-cell;
    }
    &__button{
      @include button-normal;
      display: block;
      margin-right: 10px;
      padding: 10px 5px;
      font-size: 11px;
      &--disabled{
        @extend .routeButton__button;
        padding: 11px 5px;
        color: $textColorLightGray;
        background: $grayOut;
        border: none;
        box-shadow:none;
      }
    }
    &__text{
      position: relative;
      padding-left: 24px;
      &--walk{
        @extend .routeButton__text;
        &:before{
          @include LocoIcon($content:"\e902", $size:20, $color:inherit);
          top: -7px;
          left: 0;
        }
      }
      &--car{
        @extend .routeButton__text;
        &:before{
          @include LocoIcon($content:"\e900", $size:20, $color:inherit);
          top: -7px;
          left: 0;
        }
      }
      &--train{
        @extend .routeButton__text;
        &:before{
          @include LocoIcon($content:"\e901", $size:20, $color:inherit);
          top: -7px;
          left: 0;
        }
      }
    }
  }
</style>
