<template>
<div id="access" class="viewChange tracked_mods" v-if="hasStation">
  <ul class="viewChange__list" v-for="(station, stationIndex) in tenpo.Feature[0].Property.Station.slice(0, 3)">
    <li class="viewChange__item">
      <p class="viewChange__text">{{ station | routeTextFilter }}</p>
      <ul class="viewChange__buttons viewChangeButtons">
        <li class="viewChangeButtons__button">
          <a class="viewChangeButtons__link--train" :href="transitUrl(station)" target="_blank" rel="nofollow noopener" :data-ylk="`slk:navi;pos:${stationIndex}`">路線</a>
        </li>
        <li class="viewChangeButtons__button">
          <a  class="viewChangeButtons__link--way" :href="mapUrl(station)" target="_blank" rel="nofollow noopener" :data-ylk="`slk:transit;pos:${stationIndex}`">道案内</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
</template>

<script>
import Base from '@lib/baseComponent'

export default {
  extends: Base,
  props: ['tenpo'],
  filters: {
    /**
     * 道案内のテキストを更新
     * @param {Object} station: 1つの駅情報 （例）tenpo.Feature[0].Property.Station[0]
     * @returns {String} 道案内のテキスト
     */
    routeTextFilter (station) {
      const exit = station.Exit.endsWith('口') ? station.Exit : station.Exit + '出口'
      return station.Name + '駅' + exit + 'から徒歩約' + station.Time + '分'
    }
  },
  computed: {
    hasStation () {
      return Object.keys(this.tenpo.Feature[0].Property.Station).length > 0
    }
  },
  methods: {
    /**
     * 路線情報へ遷移するURLの返却
     * @param {Object} station: 1つの駅情報 （例）tenpo.Feature[0].Property.Station[0]
     * @returns {String} 路線のURL
     */
    transitUrl: function (station) {
      return this.namespace.Url.transit + '/?to=' + station.Name
    },
    /**
     * 地図アプリへ遷移、アプリがなければストアへ遷移するURLを返却
     * @param {Object} station: 1つの駅情報 （例）tenpo.Feature[0].Property.Station[0]
     * @returns {String} ApproachのURL
     */
    mapUrl: function (station) {
      const toCoordinate = this.tenpo.Feature[0].Geometry.Coordinates.split(',')
      const toName = this.tenpo.Feature[0].Name
      const fromCoordinate = station.Geometry.Coordinates.split(',')
      const fromName = station.Name
      const mapUrlParam = this.namespace.Url.map + '/maps?fa=wrs&ei=UTF-8&lat0=' + fromCoordinate[1] + '&lon0=' + fromCoordinate[0] + '&lat1=' + toCoordinate[1] + '&lon1=' + toCoordinate[0] + '&rsn0=' + fromName + '&rsn1=' + toName + '&mode=map&layer=none'

      return this.namespace.Approach.map(mapUrlParam)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~@sp/styles/partial/mixins';
  @import '~@sp/styles/partial/variable';

  .viewChange {
    &__list {
      margin: 0 10px 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__item {
      position: relative;
    }
    &__text {
      width: 100%;
      min-height: 45px;
      padding-right: 125px;
      box-sizing: border-box;
    }
  }
  .viewChangeButtons{
    @include clearfix;
    position: absolute;
    top: 0;
    right: 0;
    color: #333;
    font-size: 14px;
    &__button{
      float: left;
      position: relative;
      width: 52px;
      height: 44px;
      margin-right: 10px;
      box-sizing: border-box;
      &:last-child{
        margin-right: 0;
      }
    }
    &__link{
      @include button-normal;
      display: block;
      width: 52px;
      height: 44px;
      padding-top: 25px;
      font-size: 11px;
      box-sizing: border-box;
      &--train{
        @extend .viewChangeButtons__link;
        &:before{
          @include LocoIcon($content:"\e901", $size:20, $color:$textColorBlack);
          top: -1px;
          right: 0;
          left: 0;
          margin: auto;
        }
      }
      &--way{
        @extend .viewChangeButtons__link;
        &:before{
          @include LocoIcon($content:"\e902", $size:20, $color:$textColorBlack);
          top: -1px;
          right: 0;
          left: 0;
          margin: auto;
        }
      }
    }
  }
</style>

