//***********
//RiffIcon
//アイコンを付ける要素の:before、:afterに記述する。
//アイコンを付ける要素にposition: relative;を設定する。
//***********
@mixin RiffIcon($content:"\e650", $size:20, $color:$color-textLight){
	display: block;
	content: $content;
	font-family: RiffIcons;
	position: absolute;
	font-weight: normal;
	font-size: $size + px;
	color: $color;
	text-rendering: auto;
}

//***********
//LocoIcon
//アイコンを付ける要素の:before、:afterに記述する。
//アイコンを付ける要素にposition: relative;を設定する。
//***********
@mixin LocoIcon($content:"\e900", $size:20, $color:$color-textLight){
	position: absolute;
	display: block;
	content: $content;
	font-family: LocoIcons;
	font-weight: normal;
	font-size: $size + px;
	color: $color;
	text-rendering: auto;
}

//***********
//clearfix
//***********
@mixin clearfix {
  &:after {
    content:" ";
    display:block;
    clear:both;
  }
}

//***********
//テキストを飛ばして背景画像を表示する
//***********
@mixin text-replace {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

//***********
//ボタン メイン導線
//幅、高さ、フォントサイズなどは個別で指定
//***********
@mixin button-main {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-image: linear-gradient(to bottom, #ffd671, #ffc537);
  background-color: #ffc435;
  border: 1px solid #d9a53d;
  border-radius: 4px;
  box-shadow: 0 1px #d9a53d;
  transition: all .2s;
  &:hover {
    text-decoration: none;
    opacity: .8;
  }
}

//***********
//ボタン 通常
//幅、高さ、フォントサイズなどは個別で指定
//***********
@mixin button-normal {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-image: linear-gradient(#ffffff, #f7f7f7);
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 1px #cccccc;
  transition: all .2s;
  &:hover {
    text-decoration: none;
    opacity: .8;
  }
}

//***********
//SVGアイコン
//アイコンを付ける要素の:before、:afterに記述する。
//幅、高さ、URLは個別で指定
//***********
@mixin svgIcon($width:100, $height:100, $url:"http://dummyimg.corp.yahoo.co.jp/100x100"){
  display: block;
  width: $width + px;
  height: $height + px;
  background: url($url) no-repeat;
  background-size: contain;
  content: "";
}

//***********
//タイトル
//***********
@mixin placeTitle {
  position: relative;
  padding: 5px 0 8px 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  box-sizing: border-box;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 0;
    width: 5px;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 10px, #82754a 10px);
  }
}

//***********
//タイトルの下線
//***********
@mixin placeTitleBorder {
  margin-bottom: 10px;
  border-bottom: 2px solid #f0f0f1;
  box-shadow: 0 -1px #dfdfe1 inset;
}

//***********
//ローディング背景
//色指定のみ
//***********
@mixin loadingBg($color: rgba(254, 254, 254, .75)) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color;
  z-index: 2;
}

//***********
//ローディングの起点位置
//***********
@mixin loadingBody {
  position: relative;
  width: 100%;
  height: 100%;
}

//***********
//ローディングくるくる
//サイズ、色は個別で指定
//***********
@mixin loadingCircle($size: 32, $borderSize: 4, $baseColor: #cccccc, $accentColor: #333333){
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size + px;
  height: $size + px;
  margin-top: -($size / 2) + px;;
  margin-left: -($size / 2) + px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: $borderSize + px solid $baseColor;
  border-left-color: $accentColor;
  border-radius: 50%;
  transform: translateZ(0);
  animation: loading 0.6s infinite cubic-bezier(0.5, 0.5, 1, 1);
}


//***********
//エラーモジュールの起点位置
//***********
@mixin errorBody {
  background: #f8f8f8;
  margin-bottom: 20px;
  padding: 40px 10px;
  text-align: center;
}

//***********
//エラーモジュール：タイトル
//***********
@mixin errorTitle {
  font-weight: bold;
}

//***********
//エラーモジュール：説明文
//***********
@mixin errorDescription {
  margin-bottom: 18px;
  &:last-child {
    margin-bottom: 0;
  }
}

//***********
//エラーモジュール：ローディングボタン
//***********
@mixin errorReloadButton {
  @include button-normal;
  display: block;
  margin: 0 auto;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

//***********
//エラーモジュール：ローディングボタン テキスト
//***********
@mixin errorReloadButtonTitle {
  position: relative;
  padding-left: 20px;
  &:before {
    @include RiffIcon("\E139", 16, $textColorBlack);
    line-height: 0;
    top: 50%;
  }
}

//***********
//話題度吹き出し
//***********
@mixin balloon {
  display: inline-block;
  position: relative;
  height: 24px;
  padding: 0 6px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  background-color: #e2ca9f;
  border-radius: 2px;
  box-sizing: border-box;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -6px;
    width: 0;
    height: 0;
    margin-top: -6px;
    border-style: solid;
    border-width: 6px 6px 6px 0;
  }
}

