@import 'partial/variable';
@import 'partial/mixins';
@import 'partial/reset';
@import '~@sp/styles/partial/common/commonAd';
@import '~@sp/styles/partial/common/commonEmergency';
@import '~@sp/styles/partial/common/commonJsOff';
@import '~@sp/styles/partial/common/commonNotFound';
@import '~@sp/styles/partial/common/commonSystemError';
@import '~@sp/styles/partial/common/commonBreadcrumbs';
@import '~@sp/styles/partial/common/commonSearch';
@import '~@sp/styles/partial/common/commonFooter';

body {
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 14px;
  color: $textColorBlack;
  line-height: 1.5;
  background-color: #f1f0ef;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $linkColor;
  text-decoration: none;
}

[v-cloak] {
  display: none;
}

.layout {
  &__main {
    padding: 0 10px;
    &--course,&--medical,&--plan,&--review,&--map {
      padding: 0;
    }
    &--wedding{
      background: #fff;
    }
    &--map{
      @include boxShadow;
      margin-bottom: 20px;
      padding-bottom: 10px;
      background: #fff;
    }
  }
  &__inner{
    padding: 0 10px;
  }
  &__sub {
    padding: 10px 0 20px;
    background: #fff;
    &--pure {
      padding: 0;
      background: #fff;
    }
  }
  &__map {
    @include boxShadow;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: #fff;
  }
}

/* クルクルローディングのラッパー */
.loadingWrapper{
  position: relative;
  margin-bottom: 30px;
  height: 90px;
}

/************/
/* RiffIcon */
/* アイコンを付ける要素の:before、:afterに記述する。*/
/* アイコンを付ける要素にposition: relative;を設定する。*/
/************/
@font-face {
	font-family: RiffIcons;
	src: url("https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.eot?#iefix") format("eot"),
		url("https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.woff2") format("woff2"),
		url("https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.woff") format("woff"),
		url("https://s.yimg.jp/images/riff/4.0.0/fonts/icon/RiffIcons.ttf") format("truetype");
}

/************/
/* LocoIcon */
/* アイコンを付ける要素の:before、:afterに記述する。 */
/* アイコンを付ける要素にposition: relative;を設定する。 */
/************/
@font-face {
	font-family: LocoIcons;
	src: url("https://s.yimg.jp/images/loco/front/asset/fonts/locoIcons.eot?#iefix") format("eot"),
		url("https://s.yimg.jp/images/loco/front/asset/fonts/locoIcons.woff") format("woff"),
		url("https://s.yimg.jp/images/loco/front/asset/fonts/locoIcons.ttf") format("truetype");
}

/************/
/* ローディングくるくるアニメーション */
/************/
@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
