<template>
  <div class="detail">
    <div v-if="status.detailInfo === 'on-binding'">
      <!--ローディング画像表示パターン-->
      <div class="detail__loading">
        <div class="detail__loadingBody">
          <div class="detail__circle">Loading</div>
        </div>
      </div>
      <!--/ローディング画像表示パターン-->
    </div>
    <div v-else-if="status.detailInfo === 'binded' && detailInfo.ResultInfo.Count > 0">
      <div class="detail__container tracked_mods" id="rvdtl">
        <div class="detail__data detailHeader">
          <div v-if="checkLocoSource(detailInfo.Feature[0].Property.Comment.InputSource) && checkSubject(detailInfo.Feature[0].Property.Comment.Subject)">
            <h2 class="detailHeader__title">{{detailInfo.Feature[0].Property.Comment.Subject | convertStringIntoHtml}}</h2>
          </div>
          <div v-else>
            <h2 class="detailHeader__title">{{detailInfo.Feature[0].Property.Comment.Body | convertStringIntoHtml | getShortSubject}}</h2>
          </div>
          <div v-if="checkLocoSource(detailInfo.Feature[0].Property.Comment.InputSource)" class="detailHeader__post post">
            <div v-if="checkGourmetUser(detailInfo.Feature[0].Property.Comment.Guid)">
              <p class="post__item"><span class="post__title">投稿者：</span><span class="post__name">Yahoo!グルメから移行さん</span><span class="post__title">投稿日：</span><span class="post__date">{{detailInfo.Feature[0].Property.Comment.CreateDate | getConvertedDate}}</span></p>
            </div>
            <div v-else-if="status.userInfo === 'binded' || status.userInfo === 'error'">
              <div v-if="checkUserInfoElement(userInfo.entry.encodedYuid) && checkUserInfoElement(userInfo.entry.maskedYid)">
                <p class="post__item"><span class="post__title">投稿者：</span><span class="post__name"><a v-bind:href="userInfo.entry.encodedYuid | getMyPageUrl" data-ylk="slk:dtluser;pos:0">{{userInfo.entry.maskedYid}}</a>さん</span><span class="post__title">投稿日：</span><span class="post__date">{{detailInfo.Feature[0].Property.Comment.CreateDate | getConvertedDate}}</span></p>
              </div>
              <div v-else-if="checkUserInfoElement(userInfo.entry.maskedYid)">
                <p class="post__item"><span class="post__title">投稿者：</span><span class="post__name">{{userInfo.entry.maskedYid}}さん</span><span class="post__title">投稿日：</span><span class="post__date">{{detailInfo.Feature[0].Property.Comment.CreateDate | getConvertedDate}}</span></p>
              </div>
              <div v-else>
                <p class="post__item"><span class="post__title">投稿者：</span><span class="post__name">ヤフーユーザーさん</span><span class="post__title">投稿日：</span><span class="post__date">{{detailInfo.Feature[0].Property.Comment.CreateDate | getConvertedDate}}</span></p>
              </div>
            </div>
          </div>
          <div v-else>
            <div v-if="checkCpContents(detailInfo.Feature[0].Property.CassetteId, tenpoChildren)">
              <p class="post__item"><span class="post__title">投稿者：</span><span class="post__name">{{detailInfo.Feature[0].Property.Comment.Author}}さん</span><span class="post__title">投稿日：</span><span class="post__date">{{detailInfo.Feature[0].Property.Comment.CreateDate | getConvertedDate}}</span></p>
              <p class="post__item"><span class="post__title">情報提供元：</span><a v-bind:href="detailInfo.Feature[0].Property.CassetteId | getCpLink(tenpoChildren)" class="post__name" rel="nofollow" :data-ylk="`slk:cp;pos:0;cp_name:${getCpNameForUlt(detailInfo.Feature[0].Property.CassetteId)}`">{{detailInfo.Feature[0].Property.CassetteId | getCpName(tenpoChildren)}}</a></p>
            </div>
            <div v-else>
              <p class="post__item"><span class="post__title">投稿者：</span><span class="post__name">{{detailInfo.Feature[0].Property.Comment.Author}}さん</span><span class="post__title">投稿日：</span><span class="post__date">{{detailInfo.Feature[0].Property.Comment.CreateDate | getConvertedDate}}</span></p>
            </div>
          </div>
        </div>
        <div class="detail__data score">
          <div class="score__stars"><span class="score__number">{{detailInfo.Feature[0].Property.Comment.Rating | getFloatRating}}</span><span v-bind:class="detailInfo.Feature[0].Property.Comment.Rating | getStarClassString"></span><span class="score__rate">5点満点中</span></div>
          <div v-if="checkLocoSource(detailInfo.Feature[0].Property.Comment.InputSource)">
            <ul class="score__list">
              <li class="score__item"><span class="score__text">サービス</span><span class="score__result">{{detailInfo.Feature[0].Property.Comment.RatingService | getDetailRating | getFloatRating}}</span></li>
              <li class="score__item"><span class="score__text">雰囲気</span><span class="score__result">{{detailInfo.Feature[0].Property.Comment.RatingAtmosphere | getDetailRating | getFloatRating}}</span></li>
              <li class="score__item"><span class="score__text">コストパフォーマンス</span><span class="score__result">{{detailInfo.Feature[0].Property.Comment.RatingCostperformance | getDetailRating | getFloatRating}}</span></li>
              <li class="score__item"><span class="score__text">アクセス</span><span class="score__result">{{detailInfo.Feature[0].Property.Comment.RatingAccess | getDetailRating | getFloatRating}}</span></li>
              <li class="score__item"><span class="score__text">料理・味</span><span class="score__result">{{detailInfo.Feature[0].Property.Comment.RatingFood | getDetailRating | getFloatRating}}</span></li>
              <li class="score__item"><span class="score__text">酒・ドリンク</span><span class="score__result">{{detailInfo.Feature[0].Property.Comment.RatingDrink | getDetailRating | getFloatRating}}</span></li>
            </ul>
          </div>
        </div>
        <ul class="detail__data statistics">
          <li v-if="checkBudgetValue(detailInfo.Feature[0].Property.Comment.Budget)" class="statistics__item"><span class="statistics__text">予算：</span><span class="statistics__text--result">{{detailInfo.Feature[0].Property.Comment.Budget | getBudgetString}}</span></li>
          <li v-if="checkSceneValue(detailInfo.Feature[0].Property.Comment.Scene)" class="statistics__item"><span class="statistics__text">シーン：</span><span class="statistics__text--result">{{detailInfo.Feature[0].Property.Comment.Scene | getSceneString}}</span></li>
          <li v-if="checkAtmosphereValue(detailInfo.Feature[0].Property.Comment.Atmosphere)" class="statistics__item"><span class="statistics__text">雰囲気：</span><span class="statistics__text--result">{{detailInfo.Feature[0].Property.Comment.Atmosphere | getAtmosphereString}}</span></li>
        </ul>
        <div v-if="checkLocoSource(detailInfo.Feature[0].Property.Comment.InputSource)">
          <div class="detail__data balloon">
            <p class="balloon__experience"><span class="balloon__text">{{detailInfo.Feature[0].Property.Comment.Body | convertStringIntoHtml}}</span></p>
          </div>
        </div>
        <div v-else>
          <div class="detail__data balloon">
            <p class="balloon__experience"><span class="balloon__text" v-html="$options.filters.getIrregularPatternBody($options.filters.convertStringIntoHtml(detailInfo.Feature[0].Property.Comment.Body))"></span></p>
          </div>
        </div>
        <!--参考になったボタン
        <div class="detail__helpful helpful">
          <a href="#" class="helpful__button">参考になった</a>
          <p class="helpful__count"><span class="helpful__number--emphasis">2</span><span class="helpful__number">人</span></p>
        </div>
        /参考になったボタン-->
        <div v-if="checkLocoSource(detailInfo.Feature[0].Property.Comment.InputSource) && checkGuid(userGuid, detailInfo.Feature[0].Property.Comment.Guid)">
          <p class="detail__notice"><a v-bind:href="userInfo.entry.encodedYuid | getMyPageUrl" class="detail__link" rel="nofollow" data-ylk="slk:dtldelt;pos:0">このクチコミ削除する</a></p>
        </div>
        <div v-else-if="checkLocoSource(detailInfo.Feature[0].Property.Comment.InputSource) && !checkGuid(userGuid, detailInfo.Feature[0].Property.Comment.Guid)">
          <p class="detail__notice"><a v-bind:href="gid | getReportPageUrl(reviewId)" class="detail__link" rel="nofollow" data-ylk="slk:dtlvlat;pos:0">問題のあるクチコミを違反申告</a></p>
        </div>
      </div>
      <div v-if="checkAvailabilityForNextRequest(detailInfo)">
        <posted
          v-bind:author="userInfo.entry.maskedYid"
          v-bind:guid="detailInfo.Feature[0].Property.Comment.Guid"
          v-bind:review-id="reviewId"
          v-bind:gid="gid">
        </posted>
      </div>
    </div>
    <div v-else-if="status.detailInfo === 'binded' && detailInfo.ResultInfo.Count === 0">
      <zero-match></zero-match>
    </div>
    <div v-else>
      <error
        v-bind:status="status"
        v-on:get-detail-info="getDetailInfo"></error>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  import posted from '@pc/components/place/review/posted.vue'
  import error from '@pc/components/place/review/error.vue'
  import zeroMatch from '@pc/components/place/review/zeroMatch.vue'
  import baseComponent from '@lib/baseComponent'

  /*
   * 多数の関数で使うStringとIntの値を定数化
   */
  const LOCO_URL_BASE = 'https://loco.yahoo.co.jp'
  const REVIEW_FORWARD_URL = LOCO_URL_BASE + '/place/g-'
  const REVIEW_BACKWARD_URL = '/review/'
  const REPORT_PAGE_BASE_URL = LOCO_URL_BASE + '/report/form?'
  const MY_PAGE_FORWARD_URL = LOCO_URL_BASE + '/user/'
  const MY_PAGE_BACKWARD_URL = '/review'
  const ATMOSPHERE_MAX_VALUE = 3
  const PARSE_INT_RADIX_VALUE = 10

  export default {
    components: {
      posted,
      error,
      zeroMatch
    },
    extends: baseComponent,
    data () {
      return {
        status: {},
        detailInfo: {},
        userInfo: {
          entry: {
            encodedYuid: '',
            maskedYid: ''
          }
        }
      }
    },
    props: [
      'tenpoName',
      'tenpoChildren',
      'userGuid',
      'reviewId',
      'gid'
    ],
    filters: {

      /**
       * GIDとReviewIDをもらって、クチコミ詳細ページのリンクを生成
       *
       * @param {String} _inputGid 該当場所のGID
       * @param {String} _reviewId 他の詳細情報のReviewId
       * @returns {String} reviewUrl 他のクチコミ詳細ページのリンク
       */
      getReviewUrl (_inputGid, _reviewId) {
        // クチコミ詳細ページのURLを生成
        return REVIEW_FORWARD_URL + _inputGid + REVIEW_BACKWARD_URL + _reviewId
      },

      /*
       * クチコミ詳細投稿日をYYYY年MM月DD日の形式に変換
       *
       * @param {String} _inputDate 変換前のクチコミ投稿日
       * @returns {String} convertedDate YYYY年MM月DD日の形式の投稿日
       */
      getConvertedDate (_inputDate) {
        return moment(_inputDate).format('YYYY年MM月DD日')
      },

      /*
       * 暗号化YUIDを元にして、マイページのリンクを生成
       *
       * @param {String} _encodedYuid クチコミ投稿者の暗号化YUID
       * @returns {String} myPageUrl 投稿者のマイページのリンク
       */
      getMyPageUrl (_encodedYuid) {
        // マイページのURLを生成
        return MY_PAGE_FORWARD_URL + _encodedYuid + MY_PAGE_BACKWARD_URL
      },

      /*
       * GIDとReviewIDをもらって、違反報告のリンクを生成
       *
       * @param {String} _inputGid 該当場所のGID
       * @param {String} _reviewId 他の詳細情報のReviewId
       * @returns {String} reportPageUrl 違反報告のリンク
       * */
      getReportPageUrl (_inputGid, _inputReviewId) {
        // 違反報告のパラメータを作るStringの値を定数化
        const ID_PARAMETER_STRING = 'id='
        const TYPE_PARAMETER_STRING = '&type=review'
        const URL_PARAMETER_STRING = '&url='
        const SLASH_STRING = '/'

        // 違反報告のパラメータに使う該当のクチコミ詳細のURLをパーセントエンコーディングの値に変換
        let convertedReviewUrl = encodeURIComponent(
          REVIEW_FORWARD_URL +
          _inputGid +
          REVIEW_BACKWARD_URL +
          _inputReviewId +
          SLASH_STRING
        )

        // 違反報告のURLを生成
        let reportPageUrl = REPORT_PAGE_BASE_URL +
          ID_PARAMETER_STRING +
          _inputReviewId +
          TYPE_PARAMETER_STRING +
          URL_PARAMETER_STRING +
          convertedReviewUrl

        return reportPageUrl
      },

      /*
       * Intの予算情報をもらって、該当するStringの情報に変換
       *
       * @param {Int} _inputBudget 予算情報の数字の値
       * @returns {String} BUDGET_ASSOCIATIVE_ARRAY[_inputBudget] 文字に変換された予算情報
       */
      getBudgetString (_inputBudget) {
        // Intの予算情報をStringに変換する配列を定数化
        const BUDGET_ASSOCIATIVE_ARRAY = {
          1: '1,000円未満',
          2: '1,000-2,999円',
          3: '3,000-4,999円',
          4: '5,000-6,999円',
          5: '7,000-9,999円',
          6: '10,000-19,999円',
          7: '20,000-29,999円',
          8: '30,000円以上'
        }

        return BUDGET_ASSOCIATIVE_ARRAY[_inputBudget]
      },

      /*
       * Intのシーン情報をもらって、該当するStringの情報に変換
       *
       * @param {Int} _inputScene シーン情報の数字の値
       * @returns {String} SCENE_ASSOCIATIVE_ARRAY[_inputScene] 文字に変換されたシーン情報
       */
      getSceneString (_inputScene) {
        // Intのシーン情報をStringに変換する配列を定数化
        const SCENE_ASSOCIATIVE_ARRAY = {
          1: '昼',
          2: '夜',
          3: '1日中OK',
          4: 'その他'
        }

        return SCENE_ASSOCIATIVE_ARRAY[_inputScene]
      },

      /*
       * 複数の数字の値を含む雰囲気情報をもらって、該当するStringの情報に変換
       *
       * @param {String} _inputAtmosphere 雰囲気情報の数字の値
       * @returns {String} atmosphereString 文字に変換された予算情報
       */
      getAtmosphereString (_inputAtmosphere) {
        // Intの雰囲気情報をStringに変換する配列を定数化
        const ATMOSPHERE_ASSOCIATIVE_ARRAY = {
          1: 'デート向き',
          2: '接待向き',
          3: '宴会・パーティー向き',
          4: '合コン向き',
          5: 'ファミリー向き',
          6: '1人でも可',
          7: '少人数向き'
        }

        // 複数の値を配列化して、Stringに変換する時に使う値を初期化
        let atmosphereString = ''
        let atmosphereStringArray = []

        // 複数の数字の値を含む雰囲気情報を配列化
        let atmosphereInputArray = _inputAtmosphere.split(',')

        // 配列の長さを変数に保存
        let atmosphereInputArrayLength = atmosphereInputArray.length

        // 配列の数字の値を、一つずつ文字化
        for (let index = 0; index < atmosphereInputArrayLength; index++) {
          // 雰囲気情報が三つ以上の場合変換と入力作業を中止
          if (index >= ATMOSPHERE_MAX_VALUE) {
            break
          }

          // Stringの数字の値をInt化して、該当する雰囲気情報に変換
          let atmosphereInt = parseInt(atmosphereInputArray[index], PARSE_INT_RADIX_VALUE)
          atmosphereString = ATMOSPHERE_ASSOCIATIVE_ARRAY[atmosphereInt]
          atmosphereStringArray.push(atmosphereString)
        }

        return atmosphereStringArray.toString().replace(/,/g, ', ')
      },

      /*
       * クチコミの総合評価の数値をもらって、絵を作るcssクラスのstringの値に変換
       *
       * @param {String} _inputRating クチコミの総合評価の数値
       * @returns {String} starClassString クチコミの総合評価の数値を変換したcssクラスの値
       */
      getStarClassString (_inputRating) {
        // Intの星の数をStringに変換する配列を定数化
        const STAR_ASSOCIATIVE_ARRAY = {
          1: '05',
          2: '10',
          3: '15',
          4: '20',
          5: '25',
          6: '30',
          7: '35',
          8: '40',
          9: '45',
          10: '50'
        }

        // 星の数とcssクラスの値を生成する値を定数化
        const STAR_CLASS_BASE = 'score__starsRate--sts'
        const STAR_CALCULATING_VALUE = 0.5

        // 変換する値を初期化
        let starClassString = ''

        // クチコミの総合評価を計算して、星の数を抽出
        let floatRating = parseFloat(_inputRating)
        let starCount = parseInt(floatRating / STAR_CALCULATING_VALUE, PARSE_INT_RADIX_VALUE)

        // cssクラスを生成
        starClassString = STAR_CLASS_BASE + STAR_ASSOCIATIVE_ARRAY[starCount]
        return starClassString
      },

      /*
       * クチコミの詳細評価の数値をもらって、値がない場合「'-'」の値を返還
       *
       * @param {String} _inputRating クチコミの詳細評価の数値
       * @returns {String} detailRating 値を入力したクチコミの詳細評価の値
       */
      getDetailRating (_inputRating) {
        let detailRating = _inputRating

        // 値がない場合、「'-'」の値を入力
        if (!detailRating) {
          detailRating = '-'
        }

        return detailRating
      },

      /*
       * クチコミの評価の値が数字限り小数を付けて返還
       *
       * @param {String} _inputRating クチコミの詳細評価の数値
       * @returns {String} detailRating 小数点を付けた数字
       */

      getFloatRating (_inputRating) {
        let rating = _inputRating

        // 数字ではない場合、そのまま返還
        if (isNaN(parseInt(_inputRating, PARSE_INT_RADIX_VALUE))) {
          return rating
        }
        // 小数点をつけて返還
        rating = parseFloat(_inputRating).toFixed(1)
        return rating
      },

      /*
       * イレギュラーの場合に対して、部分内容を題目に返還
       *
       * @param {String} _inputBody クチコミの内容の値
       * @returns {String} shortSubject 長さを確認して、変換した題目の値
       */
      getShortSubject (_inputBody) {
        // 最大の長さを超えた判定と文字を切る時、使う値を定数化
        const SHORT_SUBJECT_MAX_VALUE = 32
        const SHORT_SUBJECT_START_VALUE = 0
        const SHORT_SUBJECT_END_VALUE = 31

        let shortSubject = _inputBody

        // 最大の長さを超えた場合、文字を切って「...」を付け
        if (shortSubject.length >= SHORT_SUBJECT_MAX_VALUE) {
          shortSubject = shortSubject.substring(SHORT_SUBJECT_START_VALUE, SHORT_SUBJECT_END_VALUE) + '...'
        }

        return shortSubject
      },

      /*
       * イレギュラーの場合に対して、「情報提供元」を表示するために
       * CPのカセットIDを名前に変換
       *
       * @param {String} _inputCassetteId CPのカセットID
       * @param {Array} _inputTenpoInfo 店舗情報の配列
       * @returns {String} _inputTenpoInfo[index].CassetteHeader CPの名前
       */
      getCpName (_inputCassetteId, _inputTenpoInfo) {
        // 配列の長さを変数に保存
        let inputTenpoInfoLength = _inputTenpoInfo.length

        // 店舗表情の配列に一致するCassetteIdを探して、CPの名前を返還
        for (let index = 0; index < inputTenpoInfoLength; index++) {
          if (_inputCassetteId === _inputTenpoInfo[index].CassetteId) {
            return _inputTenpoInfo[index].CassetteHeader
          }
        }
      },

      /*
       * イレギュラーの場合に対して、「情報提供元」を表示するために
       * CPのカセットIDをCPのリンクに変換
       *
       * @param {String} _inputCassetteId CPのカセットID
       * @param {Array} _inputTenpoInfo 店舗情報の配列
       * @returns {String} _inputTenpoInfo[index].PcUrl1 CPのリンク
       */
      getCpLink (_inputCassetteId, _inputTenpoInfo) {
        // 配列の長さを変数に保存
        let inputTenpoInfoLength = _inputTenpoInfo.length

        // 店舗表情の配列に一致するCassetteIdを探して、CPのリンク
        for (let index = 0; index < inputTenpoInfoLength; index++) {
          if (_inputCassetteId === _inputTenpoInfo[index].CassetteId) {
            return _inputTenpoInfo[index].PcUrl1
          }
        }
      },

      /* 本文の内容をHTML形式に返還
       *
       * @param {String} _inputBody HTML形式に返還する本文の内容
       * @returns {String} htmlBodyText HTML形式に返還された本文の内容
       */
      convertStringIntoHtml (_inputString) {
        let domParser = new DOMParser()
        let htmlBodyText = domParser.parseFromString(_inputString.trim(), 'text/html').body.textContent

        return htmlBodyText
      },

      /*
       * イレギュラーの場合に対して、内容を改行
       *
       * @param {String} _inputBody クチコミ詳細の内容
       * @returns {String} irregularPatternBody 改行したクチコミ詳細の内容
       */
      getIrregularPatternBody (_inputBody) {
        // 【】の文字を探した時、改行のタグを追加して、
        // 最初のタグは抜け
        let irregularPatternBody = _inputBody.replace(/\n/g, '<br/>')
        return irregularPatternBody
      }
    },
    methods: {
      /*
      * クチコミ詳細の題目があるのかを判定、
      *
      * @param {String} _subject ユーザーのGUID
      * @returns {Boolean} isSubjectExisted クチコミ詳細の題目あると「true」,ない場合「false」
      */
      checkSubject (_subject) {
        let isSubjectExisted = false

        if (!_subject || !_subject.trim()) {
          return isSubjectExisted
        }

        isSubjectExisted = true
        return isSubjectExisted
      },

      /*
       * クチコミ詳細を見るユーザーと投稿者のGUIDを比較して、
       * マイページまたは違反報告の文字とリンクを見せるのか判定
       *
       * @param {String} _userGuid ユーザーのGUID
       * @param {String} _reviewerGuid 投稿者のGUID
       * @returns {Boolean} isMatched ユーザーと投稿者が一致すると「true」,違う場合「false」
       */
      checkGuid (_userGuid, _reviewerGuid) {
        // 返還値を初期設定
        let isMatched = false

        // ユーザーと投稿者が一致するのか、確認
        if (_userGuid === _reviewerGuid) {
          isMatched = true
        }

        return isMatched
      },

      /*
       * 予算情報が処理できる値のか、判定
       *
       * @param {String} _inputBudget 予算情報
       * @returns {Boolean} isCorrectValue 処理できる値なら「true」、できない場合「false」
       */
      checkBudgetValue (_inputBudget) {
        // 予算情報の値の範囲値を定数化
        const BUDGET_MIN_VALUE = 1
        const BUDGET_MAX_VALUE = 8

        // 返還値を初期設定
        let isCorrectValue = false

        // nullや空っぽの値の場合、「false」の値を返還
        if (!_inputBudget) {
          return isCorrectValue
        }

        // 予算の値をIntに変換できなかった場合、「false」の値を返還
        if (isNaN(parseInt(_inputBudget, PARSE_INT_RADIX_VALUE))) {
          return isCorrectValue
        }

        // 予算の値をIntに変換して、範囲値の内のかを確認
        // 範囲外の場合、「false」を返還
        let budgetInt = parseInt(_inputBudget, PARSE_INT_RADIX_VALUE)
        if (budgetInt < BUDGET_MIN_VALUE || budgetInt > BUDGET_MAX_VALUE) {
          return isCorrectValue
        }

        // 問題なければ、「true」を返還
        isCorrectValue = true
        return isCorrectValue
      },

      /*
       * シーン情報が処理できる値のか、判定
       *
       * @param {String} _inputScene シーン情報
       * @returns {Boolean} isCorrectValue 処理できる値なら「true」、できない場合「false」
       */
      checkSceneValue (_inputScene) {
        // シーン情報の値の範囲値を定数化
        const SCENE_MIN_VALUE = 1
        const SCENE_MAX_VALUE = 4

        // 返還値を初期設定
        let isCorrectValue = false

        // nullや空っぽの値の場合、「false」の値を返還
        if (!_inputScene) {
          return isCorrectValue
        }

        // シーンの値をIntに変換できなかった場合、「false」の値を返還
        if (isNaN(parseInt(_inputScene, PARSE_INT_RADIX_VALUE))) {
          return isCorrectValue
        }

        // シーンの値をIntに変換して、範囲値の内のかを確認
        // 範囲外の場合、「false」を返還
        let sceneInt = parseInt(_inputScene, PARSE_INT_RADIX_VALUE)
        if (sceneInt < SCENE_MIN_VALUE || sceneInt > SCENE_MAX_VALUE) {
          return isCorrectValue
        }

        // 問題なければ、「true」を返還
        isCorrectValue = true
        return isCorrectValue
      },

      /*
       * 雰囲気情報が処理できる値のか、判定
       *
       * @param {String} _inputAtmosphere 雰囲気情報
       * @returns {Boolean} isCorrectValue 処理できる値なら「true」、できない場合「false」
       */
      checkAtmosphereValue (_inputAtmosphere) {
        // 雰囲気情報の値の範囲値を定数化
        const ATMOSPHERE_MIN_VALUE = 1
        const ATMOSPHERE_MAX_VALUE = 7

        // 返還値を初期設定
        let isCorrectValue = false

        // nullや空っぽの値の場合、「false」の値を返還
        if (!_inputAtmosphere) {
          return isCorrectValue
        }

        // 雰囲気情報を配列化して、
        // 各の値をIntに変換できなかった場合、「false」の値を返還
        let atmosphereInputArray = _inputAtmosphere.split(',')

        // 配列の長さを変数に保存
        let atmosphereInputArrayLength = atmosphereInputArray.length

        for (let index = 0; index < atmosphereInputArrayLength; index++) {
          if (isNaN(parseInt(atmosphereInputArray[index], PARSE_INT_RADIX_VALUE))) {
            return isCorrectValue
          }

          let atmosphereInt = parseInt(atmosphereInputArray[index], PARSE_INT_RADIX_VALUE)
          if (atmosphereInt < ATMOSPHERE_MIN_VALUE || atmosphereInt > ATMOSPHERE_MAX_VALUE) {
            return isCorrectValue
          }
        }

        // 問題なければ、「true」を返還
        isCorrectValue = true
        return isCorrectValue
      },

      /*
       * CPがロコのか、判定
       *
       * @param {String} _inputSource 非同期処理から取得したクチコミ情報のカセットID
       * @returns {Boolean} isIrregularPattern イレギュラーの一つなら「true」、以外の場合「false」を返還
       */
      checkLocoSource (_inputSource) {
        const LOCO_STRING = 'loco'
        let isIrregularPattern = false

        // inputSourceが「loco」ではない場合、「false」に判定して、返還
        if (_inputSource !== LOCO_STRING) {
          return isIrregularPattern
        }

        isIrregularPattern = true
        return isIrregularPattern
      },

      /*
       * GUIDが「gourmet_user」の値のかを判定
       *
       * @param {string} _inputGuid 非同期処理から取得したクチコミ情報のGUID
       * @returns {Boolean} isGourmetUser グルメ情報の場合「true」、以外の場合「false」
       */
      checkGourmetUser (_inputGuid) {
        const YAHOO_GOURMET_GUID = 'gourmet_user'
        let isGourmetUser = false

        // クチコミ情報のGUIDが「gourmet_user」の事を判定
        if (_inputGuid !== YAHOO_GOURMET_GUID) {
          return isGourmetUser
        }

        // クチコミ情報のGUIDが「gourmet_user」ではない場合、値を「true」に更新して返還
        isGourmetUser = true
        return isGourmetUser
      },

      /*
       * クチコミのカセットIDが店舗情報の中、一致するCPがあるのか判定
       *
       * @param {string} _inputCassetteId 非同期処理から取得したクチコミ情報のカセットID
       * @param {string} _inputTenpoInfo LSBEからもらって、店舗情報
       * @returns {Boolean} isCpContentsExisted 該当カセットIDがあれば「true」、ない場合「false」
       */
      checkCpContents (_inputCassetteId, _inputTenpoInfo) {
        let isCpContentsExisted = false

        // 店舗情報がない場合「false」を返還
        if (!_inputTenpoInfo) {
          return isCpContentsExisted
        }

        // 配列の長さを変数に保存
        let inputTenpoInfoLength = _inputTenpoInfo.length

        // 店舗情報中のカセットIDと一致する値があれば、isCpContentsExistedを「true」に更新して返還
        for (let index = 0; index < inputTenpoInfoLength; index++) {
          if (_inputCassetteId === _inputTenpoInfo[index].CassetteId) {
            isCpContentsExisted = true
            return isCpContentsExisted
          }
        }
        return isCpContentsExisted
      },

      /*
      * 非同期処理からもらった情報を元にして、次の非同期処理を要請するのか判定
      *
      * @param {Array} _reivewDetailInfoResult 最初の非同期処理からもらったクチコミ詳細情報
      * @returns {Boolean} isAvailableForNextRequest 色んな条件を通過したら「true」、失敗した場合「false」
      */
      checkAvailabilityForNextRequest (_reivewDetailInfoResult) {
        let isAvailableForNextRequest = false
        // レスポンスはもらったけど、結果がない場合
        if (_reivewDetailInfoResult.ResultInfo.Count === 0) {
          return isAvailableForNextRequest
        }

        // ロコのソースではない場合
        if (!this.checkLocoSource(_reivewDetailInfoResult.Feature[0].Property.Comment.InputSource)) {
          return isAvailableForNextRequest
        }

        // GUIDが「gourmet_user」の場合
        if (this.checkGourmetUser(_reivewDetailInfoResult.Feature[0].Property.Comment.Guid)) {
          return isAvailableForNextRequest
        }

        // GUIDがない場合
        if (!_reivewDetailInfoResult.Feature[0].Property.Comment.Guid) {
          return isAvailableForNextRequest
        }

        // 上記の条件を通じたら、値を「true」に更新して返還
        isAvailableForNextRequest = true
        return isAvailableForNextRequest
      },

      /*
       * 非同期要請から、暗号化されたYUIDを貰った、
       * 値があるのかを判定
       *
       * @param {String} _userInfoElement GUID変換の非同期処理からもらったユーザー情報
       * @returns {Boolean} isEncodedYuidExisted 値があれば「true」、以外の場合は「false」を返還
       */
      checkUserInfoElement (_userInfoElement) {
        let isUserInfoElement = false

        if (!_userInfoElement) {
          return isUserInfoElement
        }

        isUserInfoElement = true
        return isUserInfoElement
      },

      /*
       * Thymeleafの値を元にして、クチコミ詳細情報を非同期処理で取得
       * 取得成功したら、同じ投稿者のクチコ情報ミを非同期処理で要請
       * 失敗した場合、非同期処理の「status.detailInfo」を確認して、
       * 該当するエラー画面を出力
       *
       * @param {String} _reviewId ユーザーの要請パラメーターからもらったレビューID
       */
      getDetailInfo () {
        // 再要請する時、以前のエラーデータを除去
        delete this.errors['detailInfo']
        this.bindRequest({
          name: 'detailInfo',
          url: this.namespace.API.commentDetail,
          params: {
            gid: this.gid,
            customexact1: this.reviewId
          },
          dataType: 'json'
        }).then((_detailListResult) => {
          if (this.checkAvailabilityForNextRequest(_detailListResult)) {
            this.getUserInfo(_detailListResult.Feature[0].Property.Comment.Guid)
          }
        })
      },

      /*
       * 非同期処理に通じてもらったクチコミ詳細の投稿者のGUIDから、
       * 暗号化されたYUIDとmaskされた投稿者のYIDを要請
       * @param {String} _guid 口コミ詳細投稿者のGUID
       */
      getUserInfo (_guid) {
        this.bindRequest({
          name: 'userInfo',
          url: this.namespace.API.secure,
          params: {
            guid: _guid
          }
        })
      },
      /**
       * CP名を取得する
       * @param {String} cid 対象のCassetteId
       */
      getCpNameForUlt (cid) {
        return this.namespace.CpName[cid] || ''
      }
    },
    mounted () {
      // 非同期処理を開始
      this.getDetailInfo()
    }
  }
</script>

<style lang="scss" scoped>
  @import '~@pc/styles/partial/mixins';
  @import '~@pc/styles/partial/variable';

  // * img
  $img_path: "https://s.yimg.jp/images/loco/pc/";

  /* placeReview */
.detail {
  &__container {
    overflow: hidden;
    margin-bottom: 20px;
  }
  &__loading {
    height: 90px;
  }
  &__loadingBody {
    @include loadingBody();
  }
  &__circle {
    @include loadingCircle();
  }
  &__notice {
    float: right;
    padding-left: 10px;
    font-size: 90%;
  }
  &__link {
    position: relative;
    &::before {
      @include RiffIcon("\E60E", 10, #333);
      position: absolute;
      top: 3px;
      left: -10px;
    }
  }
}

.detailHeader {
  padding-bottom: 6px;
  border-bottom: 1px dotted #999;
  &__title {
    @include placeTitle();
  }
}

.post {
  &__item {
    position: relative;
    color: #999;
    font-size: 90%;
  }
  &__name {
    margin-right: 10px;
  }
}

.score {
  padding: 6px 0;
  border-bottom: 1px dotted #999;
  &__stars {
    position: relative;
  }
  &__number {
    margin-right: 5px;
    color: #ea5c48;
    font-weight: bold;
    font-size: 130%;
    line-height: 1.3;
    vertical-align: top;
  }
  &__starsRate {
    display: inline-block;
    position: relative;
    width: 5em;
    height: 1em;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.0;
    vertical-align: middle;
    &--sts05:after, &--sts10:after, &--sts15:after, &--sts20:after, &--sts25:after, &--sts30:after, &--sts35:after, &--sts40:after, &--sts45:after, &--sts50:after {
      position: absolute;
      top: -1px;
      left: 30px;
    }
    &--sts05:before, &--sts10:before, &--sts15:before, &--sts20:before, &--sts25:before, &--sts30:before, &--sts35:before, &--sts40:before, &--sts45:before, &--sts50:before {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #ccc);
      position: absolute;
      top: -1px;
      left: 30px;
    }
    &--sts05:after {
      @include RiffIcon("\E803", 18, #c1a98b);
    }
    &--sts10:after {
      @include RiffIcon("\E802", 18, #f6b81b);
    }
    &--sts15:after {
      @include RiffIcon("\E802\E803", 18, #f6b81b);
    }
    &--sts20:after {
      @include RiffIcon("\E802\E802", 18, #f6b81b);
    }
    &--sts25:after {
      @include RiffIcon("\E802\E802\E803", 18, #f6b81b);
    }
    &--sts30:after {
      @include RiffIcon("\E802\E802\E802", 18, #f6b81b);
    }
    &--sts35:after {
      @include RiffIcon("\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts40:after {
      @include RiffIcon("\E802\E802\E802\E802", 18, #f6b81b);
    }
    &--sts45:after {
      @include RiffIcon("\E802\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts50:after {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #f6b81b);
    }
  }
  &__rate {
    @include text-replace;
    position: absolute;
    width: 100%;
  }
  &__item {
    display: inline-block;
    margin-right: 10px;
    font-size: 90%
  }
  &__result {
    margin-left: 4px;
    font-weight: bold;
    font-size: 130%;
  }
}

.statistics {
  overflow: hidden;
  padding: 6px 0;
  &__item {
    display: inline-block;
    margin-right: 15px;
    font-size: 90%;
  }
  &__text {
    &--result {
      color: #ea5b47;
    }
  }
}

.balloon {
  position: relative;
  margin-bottom: 15px;
  padding-top: 7px;
  &::before {
    display: block;
    position: absolute;
    top: -7px;
    left: 23px;
    width: 0;
    height: 0;
    border-top: 7px solid #e0dccc;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    content: "";
    transform: rotate(180deg);
  }
  &__experience {
    padding: 8px 10px;
    border: 1px solid #e7e3d6;
    border-radius: 4px;
    color: #555;
    font-size: 12px;
    line-height: 1.4;
    background: #fcfbf1;
  }
}

.helpful {
  float: left;
  &__button {
    display: block;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    padding: 7px 12px;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 4px;
    font-weight: bold;
    font-size: 110%;
    line-height: 1;
    text-align: center;
    background: #fff;
    background: linear-gradient(#fff, #f7f7f7);
    box-shadow: 0 1px 0 #bbb;
    &:hover {
      text-decoration: none;
    }
  }
  &__count {
    display: inline-block;
    color: #ea5b47;
  }
  &__number {
    font-size: 13px;
    &--emphasis {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

</style>

