<template>
  <div class="error">
    <!--タイトル・説明文・ボタン表示パターン-->
    <div v-if="status.review === 'error' || status.nextReview === 'error' || status.detailInfo === 'error'">
      <p class="error__title">クチコミ情報の取得に失敗しました。</p>
      <p class="error__description">大変恐れ入りますが、しばらく経ってからお試しください。</p>
      <button v-on:click="reloadData" type="button" class="error__button reloadButton"><span class="reloadButton__text">ページを再読み込みする</span></button>
    </div>
    <!--/タイトル・説明文・ボタン表示パターン-->
    <div v-else-if="status.detailList === 'error'">
      <!--タイトル・説明文表示パターン-->
      <p class="error__title">クチコミ情報の取得に失敗しました。</p>
      <p class="error__description">大変恐れ入りますが、しばらく経ってからお試しください。</p>
      <!--/タイトル・説明文表示パターン-->
    </div>
    <!--タイトル表示パターン-->
    <!--<p class="error__title">このクチコミは削除された、または一時的に表示できません。</p>-->
    <!--/タイトル表示パターン-->
  </div>
</template>
<script>
  export default {
    props: ['status'],
    methods: {
      reloadData () {
        if (this.status.review === 'error') {
          // reviewのボタンを押した場合の処理
          this.$emit('get-reload-first-page')
        } else if (this.status.nextReview === 'error') {
          // nextReviewのボタンを押した場合の処理
          this.$emit('get-reload-next-page')
        } else if (this.status.detailInfo) {
          // detailInfoのボタンを押した場合の処理
          this.$emit('get-detail-info')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '~@pc/styles/partial/mixins';
  @import '~@pc/styles/partial/variable';
  .error{
    position:relative;
    background: #f8f8f8;
    margin-bottom: 20px;
    padding: 40px 0;
    text-align: center;
    &__title{
      font-weight: bold;
    }
  }
  .reloadButton{
    @include button-normal;
    display: block;
    margin: 18px auto 0;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    &__text{
      vertical-align: top;
      &:before{
        @include RiffIcon("\E139", 16, $textColorBlack);
        position: relative;
        display: inline-block;
        margin-right: 5px;
        vertical-align: top;
      }
    }
  }

</style>
