<template>
  <div class="evaluation">
    <div class="evaluation__title evaluationTitle tracked_mods" id="pst_rvw">
      <h2 class="evaluationTitle__main">{{tenpo.Feature[0].Name}}のクチコミ</h2>
      <div v-if="!isDisplayPostButton()">
        <p class="evaluationTitle__button"><a v-bind:href="tenpo.Feature[0].Property.Uid | getPostUrl" class="evaluationTitle__link" rel="nofollow" data-ylk="slk:_;pos:0">クチコミ投稿</a></p>
      </div>
    </div>
    <div v-if="status.review === 'on-binding'">
    <!--ローディング画像表示パターン-->
      <div class="evaluation__loading">
        <div class="evaluation__loadingBody">
          <div class="evaluation__circle">Loading</div>
        </div>
      </div>
    <!--/ローディング画像表示パターン-->
    </div>
    <!--データ取得完了-->
    <div v-else-if="status.review === 'binded'">
      <!-- クチコミが無い場合にのみ表示 -->
      <div v-if="noReview(review)">
        <zero-match></zero-match>
      </div>
      <!-- /クチコミが無い場合にのみ表示 -->
      <div v-else>
        <!--クチコミ一覧-->
        <dl class="evaluation__sort sort tracked_mods" id="rvsrt">
          <dt class="sort__title">並べ替え</dt>
          <dd class="sort__data">
            <ul class="sort__list">
              <li class="sort__item" v-on:click.prevent="changeSort(sortPanel,'createdate')">
                <a v-bind:href="setCreatedDateSortUrl()" class="sort__link--new rapidnofollow" rel="nofollow" :data-ylk="`slk:${srtnew};pos:0`"><span v-bind:class="{'sort__icon--down':sortPanel.createdateDown, 'sort__icon--up':sortPanel.createdateUp}"></span>新着順</a>
              </li>
              <li class="sort__item" v-on:click.prevent="changeSort(sortPanel,'visitdate')">
                <a v-bind:href="setVisitDateSortUrl()" class="sort__link--visit rapidnofollow" rel="nofollow" :data-ylk="`slk:${srtmth};pos:0`"><span v-bind:class="{'sort__icon--down':sortPanel.visitdateDown, 'sort__icon--up':sortPanel.visitdateUp}"></span>訪問月順</a>
              </li>
              <li class="sort__item" v-on:click.prevent="changeSort(sortPanel,'rating')">
                <a v-bind:href="setRatingSortUrl()" class="sort__link--evaluation rapidnofollow" rel="nofollow" :data-ylk="`slk:${srtval};pos:0`"><span v-bind:class="{'sort__icon--down':sortPanel.ratingDown, 'sort__icon--up':sortPanel.ratingUp}"></span>評価順</a>
              </li>
            </ul>
          </dd>
        </dl>

        <counter  :is-counter-border="false"
                  :is-counter-range="true"
                  :is-counter-pagination="true"
                  :page="page"
                  :pagination="pagination"
                  page-name="reviewList"
                  @next-page="nextPage"
                  @prev-page="prevPage"
        ></counter>

        <div class="evaluation__review review">
          <div v-if="status.nextReview === 'on-binding'">
          <!--ローディング画像表示パターン-->
            <div class="evaluation__loading">
              <div class="evaluation__loadingBody">
                <div class="evaluation__circle">Loading</div>
              </div>
            </div>
          <!--/ローディング画像表示パターン-->
          </div>
          <div v-else-if="(status.review === 'binded' && !status.nextReview) || status.nextReview === 'binded'">
            <ul class="review__list tracked_mods" id="rvlist">
              <li class="review__item" v-for="(item, index) in review.Feature" v-bind:key="item.id">
                <h3 class="review__title">
                  <span v-if="!detailUrls[item.Property.Comment.Id]['detailUrl']" class="review__link">
                    {{ getSubject(item.Property.Comment) | convertHTMLToText }}
                  </span>
                  <span v-else-if="!isCpLoco(item.Property.Comment.InputSource)">
                    <a v-bind:href="detailUrls[item.Property.Comment.Id]['detailUrl']" target="_blank" class="review__link" rel="nofollow" :data-ylk="`slk:listile;pos:${index}`">{{ getSubject(item.Property.Comment) | convertHTMLToText }}</a>
                  </span>
                  <span v-else>
                    <a v-bind:href="detailUrls[item.Property.Comment.Id]['detailUrl']" class="review__link" :data-ylk="`slk:listile;pos:${index}`">{{ getSubject(item.Property.Comment) | convertHTMLToText }}</a>
                  </span>
                </h3>
                <div class="review__score score" v-if="noReviewPoint(item.Property.Comment.Rating)">
                  <span class="score__number">{{ item.Property.Comment.Rating | getRating }}</span><span v-bind:class="item.Property.Comment.Rating | getStarClassString"></span><span class="score__rate">5点満点中</span>
                </div>
                <p class="review__comment comment">
                  <span class="comment__text">{{ item.Property.Comment.Body | editBodytext | convertHTMLToText }}</span>
                  <template v-if="detailUrls[item.Property.Comment.Id]['detailUrl']">
                    <span v-if="hasLocoReviewDetailPage(item)">
                      <a v-bind:href="detailUrls[item.Property.Comment.Id]['detailUrl']" class="comment__link" :data-ylk="`slk:lisnexrd;pos:${(index + 1)}`">続きを読む&gt;&gt;</a>
                    </span>
                    <span v-else>
                      <a v-bind:href="detailUrls[item.Property.Comment.Id]['detailUrl']" target="_blank" class="comment__link" rel="nofollow" :data-ylk="`slk:lisnexrd;pos:${(index + 1)}`">続きを読む&gt;&gt;</a>
                    </span>
                  </template>
                </p>
                <div class="review__post post">
                  <p class="post__contributor" v-if="item.Property.Comment.Author">
                    投稿者：
                    <span v-if="item.Property.Comment.MyPageUrl">
                      <a v-bind:href="item.Property.Comment.MyPageUrl" :data-ylk="`slk:lisuser;pos:${(index + 1)}`">{{ item.Property.Comment.Author }}</a>
                    </span>
                    <span v-else>
                      {{ item.Property.Comment.Author }}
                    </span>
                    さん　投稿日： {{item.Property.Comment.CreateDate | getConvertedDate}}
                  </p>
                  <p class="post__cp" v-if="!isCpLoco(item.Property.Comment.InputSource)">
                    <span v-if="getCpTenpoDetailUrl(item.Property.CassetteId)">
                      情報提供元：<a v-bind:href="getCpTenpoDetailUrl(item.Property.CassetteId)" target="_blank" class="post__link" rel="nofollow" :data-ylk="`slk:cp;cp_name:${getCpNameForUlt(item.Property.CassetteId)};pos:${(index + 1)}`">{{getCpName(item.Property.CassetteId)}}</a>
                    </span>
                    <span v-else>
                      情報提供元：{{getCpName(item.Property.CassetteId)}}
                    </span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div v-else-if="status.nextReview === 'error'">
            <error :status="status" @get-reload-next-page="getNextPage"></error>
          </div>
        </div>
        <counter :is-counter-border="false"
                          :is-counter-range="true"
                          :is-counter-pagination="false"
                          :page="page"
                          :pagination="pagination"
        ></counter>
      </div>
      <div v-if="status.review === 'binded' && !noReview(review)">
        <pagination :page="page"
                          :pagination="pagination"
                          page-name="reviewList"
                          @next-page="nextPage"
                          @prev-page="prevPage"
                          @paging="paging">
        </pagination>
      </div>
    </div>
    <!--/データ取得完了-->
    <!--データ取得失敗-->
    <div v-else-if="status.review === 'error'">
      <error :status="status" @get-reload-first-page="getReview"></error>
    </div>
  </div>
</template>

<script>
import Base from '@lib/baseComponent'
import Pagination from '@lib/Pagination.js'

import moment from 'moment'
import zeroMatch from '@pc/components/place/review/zeroMatch.vue'
import error from '@pc/components/place/review/error.vue'
import pagination from '@pc/components/place/pagination.vue'
import counter from '@pc/components/place/counter.vue'

// APIで取得する件数
const API_RESULTS_COUNT = 30

// APIのパラメータ「start」のMAX値
const API_PARAM_START_MAX = 9999

// ソートパラメータ一覧
const SORT_PARAM = {
  createdateDown: '-createdate',
  createdateUp: '+createdate',
  visitdateDown: '-visitdate',
  visitdateUp: '+visitdate',
  ratingDown: '-rating',
  ratingUp: '+rating'
}

export default {
  components: {
    zeroMatch,
    error,
    pagination,
    counter
  },
  props: ['tenpo'],
  extends: Base,
  data () {
    return {
      review: {},
      nextReview: {},
      sortPanel: {
        createdateDown: true,
        createdateUp: false,
        visitdateDown: false,
        visitdateUp: false,
        ratingDown: false,
        ratingUp: false
      },
      params: {
        page: 1,
        results: API_RESULTS_COUNT,
        sort: SORT_PARAM.createdateDown
      },
      pagination: new Pagination(),
      page: {
        'pageId': 0, // 表示するページ番号
        'pageDisplaySize': API_RESULTS_COUNT, //  画面に表示枚数
        'pageCount': 0, // 総ページ数
        'dataCount': 0, // 総件数
        'displayFlag': false // 要素表示フラグ
      },
      detailUrls: {}
    }
  },
  mounted () {
    this.setPageParam()
    this.changeSortParam(this.params.sort)
    this.getReview()
    window.onpopstate = (e) => {
      this.setPageParam()
      this.changeSortParam(this.params.sort)
      this.getReview()
    }
  },
  methods: {
    getReview () {
      // リロードの際、errorsの値が常に引き注がれてしまうので初期化する
      // FIXME: baseComponent.jsにリロード用のメソッドが追加されたらこの処理を消す
      delete this.errors['review']
      this.bindRequest({
        name: 'review',
        url: this.namespace.API.comment,
        params: {
          gid: this.tenpo.Feature[0].Gid,
          sort: this.params.sort,
          start: this.getStartNum(),
          results: this.params.results
        },
        dataType: 'json'
      }).then((reviewResult) => {
        this.pages()
        // 口コミが存在する（Total !== 0）かつ、取得したAPIの結果が0件だった場合（すごく大きいpageのパラメータを指定された場合に発生）
        // 1ページ目に戻す
        if (reviewResult.ResultInfo.Total !== 0 && reviewResult.ResultInfo.Count <= 0) {
          this.params.page = 1
          this.getReview()
        }
        this.setAuthor(reviewResult)
      })
    },
    /*
     * ページング情報の設定
     * pageId 表示ページ番号
     * pageCount ページ数
     * dataCount 総件数
     */
    pages () {
      this.page.pageCount = Math.ceil(this.review.ResultInfo.Total / API_RESULTS_COUNT)
      this.page.dataCount = this.review.ResultInfo.Total
      if (this.pagination.getPage() > 0 && this.pagination.getPage() <= this.page.pageCount) {
        this.page.pageId = this.pagination.getPage() - 1
      }
      if (this.page.dataCount !== 0) {
        this.page.displayFlag = true
      }
    },
    /**
     * URLからページパラメータを取得する
     * page：整数 かつ 0より大きい数字の場合はURLのGETパラメータを指定したものを使用する。それ以外は1を指定する。
     * sort：存在するソート条件であればそれを指定する。存在しないものが指定された場合は、デフォルト値をセットする
     */
    setPageParam () {
      const urlParams = this.pagination.getSearchParameters()
      // ページパラメータの取得
      // 整数以外は全て1ページ目とする
      this.params.page = Number.isInteger(Number(urlParams['page'])) && urlParams['page'] > 0 ? urlParams['page'] : 1
      // ソートパラメータの取得
      for (const key in SORT_PARAM) {
        if (SORT_PARAM[key] === urlParams['sort']) {
          this.params.sort = urlParams['sort']
          return
        }
      }
      this.params.sort = SORT_PARAM.createdateDown
    },
    /**
     * 何件目から取得するかを取得する
     * 以下の場合はデフォルトで1を指定する。
     * ・this.params.pageがNull
     * ・0以下の数字である
     * ・取得開始件数が9999（口コミ取得APIパラメータの上限値）以上である
     *
     * それ以外はAPIのStartで取得する値を設定する
     */
    getStartNum () {
      const startNum = !this.params.page || this.params.page < 1 ? 1 : (this.params.page - 1) * API_RESULTS_COUNT + 1
      return startNum > API_PARAM_START_MAX ? 1 : startNum
    }, /**
     * ソート順の設定を行う
     * sortPanelの判定により、画面で現在どのソート条件が選ばれているかを表示する
     * @param  sortParam
     */
    changeSortParam (sortParam) {
      // ソート順を初期化
      this.sortPanel.createdateDown = false
      this.sortPanel.createdateUp = false
      this.sortPanel.visitdateDown = false
      this.sortPanel.visitdateUp = false
      this.sortPanel.ratingDown = false
      this.sortPanel.ratingUp = false

      if (sortParam === SORT_PARAM.createdateDown) {
        this.sortPanel.createdateDown = true
      } else if (sortParam === SORT_PARAM.createdateUp) {
        this.sortPanel.createdateUp = true
      } else if (sortParam === SORT_PARAM.visitdateDown) {
        this.sortPanel.visitdateDown = true
      } else if (sortParam === SORT_PARAM.visitdateUp) {
        this.sortPanel.visitdateUp = true
      } else if (sortParam === SORT_PARAM.ratingDown) {
        this.sortPanel.ratingDown = true
      } else if (sortParam === SORT_PARAM.ratingUp) {
        this.sortPanel.ratingUp = true
      } else {
        this.sortPanel.createdateDown = true // デフォルト
      }
    },
    /**
     * [前の30件] をクリックした時
     */
    prevPage () {
      if (this.params.page > 1) this.params.page--
      this.pagination.paging(this.params.page, {sort: this.params.sort})
      this.setPageParam()
      this.changeSortParam(this.params.sort)
      this.getNextPage()
    },
    /**
     * [次の30件] をクリックした時
     */
    nextPage () {
      this.params.page = this.getStartNum() === 1 ? 2 : parseInt(this.params.page) + 1
      this.pagination.paging(this.params.page, {sort: this.params.sort})
      this.setPageParam()
      this.changeSortParam(this.params.sort)
      this.getNextPage()
    },
    /**
     * ページング処理をクリックした時
     */
    paging (val) {
      this.params.page = this.page.pageId + 1
      this.setPageParam()
      this.changeSortParam(this.params.sort)
      this.getNextPage()
    },
    /**
     * 次のページを取得
     */
    getNextPage () {
      this.nextReview = {} // 使いまわすので、値を初期化する。
      // リロードの際、errorsの値が常に引き注がれてしまうので初期化する
      // FIXME: baseComponent.jsにリロード用のメソッドが追加されたらこの処理を消す
      delete this.errors['nextReview']
      this.bindRequest({
        name: 'nextReview',
        url: this.namespace.API.comment,
        params: {
          gid: this.tenpo.Feature[0].Gid,
          sort: this.params.sort,
          start: this.getStartNum(),
          results: this.params.results
        },
        dataType: 'json'
      }).then((nextReviewResult) => {
        this.pages()
        this.setAuthor(nextReviewResult)
        // Featureの情報をnextReviewで取得したものに変更する
        this.review['Feature'] = nextReviewResult['Feature']
        // ResultInfoの情報をnextReviewで取得したものに変更する
        this.review['ResultInfo'] = nextReviewResult['ResultInfo']
      }).catch((error) => {
        return error
      })
    },
    /**
     * 口コミ詳細へのリンクを作成する
     * ロコ入稿または特定CPの場合：ロコの口コミ詳細
     * そのほか：外部CPのその口コミ投稿の口コミ詳細
    */
    setDetailUrls (reviewFeature) {
      let urls = {}
      for (const key in reviewFeature) {
        let detailUrl = ''
        if (reviewFeature[key].Property.Comment.InputSource === 'loco' || this.namespace.cid.moveLocoDetailCidGroup.indexOf(this.review.Feature[key].Property.CassetteId) >= 0) {
          detailUrl = '/place/g-' + this.tenpo.Feature[0].Gid + '/review/' + reviewFeature[key].Property.Comment.CustomExact1
          detailUrl = this.$root.addUrlParameters(detailUrl, ['sc_type'])
        } else {
          detailUrl = reviewFeature[key].Property.Comment.LinkUrl
        }
        urls[reviewFeature[key].Property.Comment.Id] = {
          'commentId': reviewFeature[key].Property.Comment.Id,
          'detailUrl': detailUrl
        }
      }
      return urls
    },
    /**
     * 投稿者情報をセットする
     */
    setAuthor (reviewResult) {
      for (let review of reviewResult.Feature) {
        if (this.isMigrationGourmetReview(review.Property.Comment.Guid)) {
          review.Property.Comment.Author = 'Yahoo!グルメから移行'
        } else if (this.isCpLoco(review.Property.Comment.InputSource)) {
          this.get(
            this.namespace.API.secure,
            {guid: review.Property.Comment.Guid}
          ).then((result) => {
            review.Property.Comment.Author = result.entry['maskedYid']
            this.$set(review.Property.Comment, 'MyPageUrl', '/user/' + result.entry['encodedYuid'] + '/review')
          }).catch((result) => {
            review.Property.Comment.Author = 'ヤフーユーザー'
          })
        }
      }
    },
    /**
     * クチコミがあるかどうかを判定する
     */
    noReview (review) {
      return review.ResultInfo.Count === 0
    },
    /**
     * 評価点があるかどうかを判定する
     */
    noReviewPoint (rating) {
      return rating
    },
    /**
     * ロコで入力されたクチコミかどうかを判定する
     */
    isCpLoco (inputSource) {
      return inputSource === 'loco'
    },
    /**
     * Yahoo!グルメから移行されていた口コミかどうか判定する
     */
    isMigrationGourmetReview (guid) {
      return guid === 'gourmet_user'
    },
    /**
     * ソートを変更する
     */
    changeSort (sortPanel, param) {
      let sortParam = '-createdate'
      if (param === 'createdate') {
        if (sortPanel.createdateDown) {
          sortParam = '+createdate'
        } else {
          sortParam = '-createdate'
        }
      } else if (param === 'visitdate') {
        if (sortPanel.visitdateDown) {
          sortParam = '+visitdate'
        } else {
          sortParam = '-visitdate'
        }
      } else if (param === 'rating') {
        if (sortPanel.ratingDown) {
          sortParam = '+rating'
        } else {
          sortParam = '-rating'
        }
      }

      this.changeSortParam(sortParam)
      this.setPageParam()
      this.params.page = 1 // ソート変更では1ページ目に戻す
      this.params.sort = sortParam
      this.pagination.paging(this.params.page, {sort: this.params.sort})
      this.getNextPage()
    },
    /**
     * クチコミを何件目から取得するべきかを計算する
     */
    getToCount () {
      return this.review.ResultInfo.Start - 1 + this.review.ResultInfo.Count
    },
    /**
     * タイトルを取得する
     */
    getSubject (comment) {
      let subject = comment.Subject ? comment.Subject : comment.Body
      return subject.length >= 33 ? subject.substr(0, 31) + '...' : subject
    },
    /**
     * CP名を取得する
     */
    getCpName (cassetteId) {
      for (var key in this.tenpo.Feature[0].Children) {
        if (this.tenpo.Feature[0].Children[key].CassetteId === cassetteId) {
          return this.tenpo.Feature[0].Children[key].CassetteHeader
        }
      }
    },
    /**
     * CPの店舗詳細ページURLを取得する
     */
    getCpTenpoDetailUrl (cassetteId) {
      for (var key in this.tenpo.Feature[0].Children) {
        if (this.tenpo.Feature[0].Children[key].CassetteId === cassetteId) {
          return this.tenpo.Feature[0].Children[key].PcUrl1
        }
      }
    },
    /**
     * 次のページがあるかどうかを確認する
     */
    checkPrevPage () {
      return this.params.page > 1
    },
    /**
     * 前に戻るページがあるかどうか確認する
     */
    checkNextPage () {
      return this.review.ResultInfo.Total > (this.review.ResultInfo.Start + this.review.ResultInfo.Count) - 1
    },
    /*
     * 投稿ボタンの表示可否
     * 医療系ジャンル 先頭 0401 は表示しない
     */
    isDisplayPostButton () {
      const medicPattern = '0401'
      return this.tenpo.Feature[0].Property.Genre.some((genre) => genre.Code.startsWith(medicPattern))
    },
    /**
     * 新着順ソート変更のaタグにリンクを設定する
     */
    setCreatedDateSortUrl () {
      return this.sortPanel.createdateDown ? location.host + location.pathname + '?sort=+createdate' : location.host + location.pathname + '?sort=-createdate'
    },
    /**
     * 訪問日順ソート変更のaタグにリンクを設定する
     */
    setVisitDateSortUrl () {
      return this.sortPanel.visitdateDown ? location.host + location.pathname + '?sort=+visitdate' : location.host + location.pathname + '?sort=-visitdate'
    },
    /**
     * 評価順ソート変更のaタグにリンクを設定する
     */
    setRatingSortUrl () {
      return this.sortPanel.ratingDown ? location.host + location.pathname + '?sort=+rating' : location.host + location.pathname + '?sort=-rating'
    },
    /**
     * ロコの口コミ詳細URLが存在するかどうかチェック
     * 以下の条件のどちらかを満たすこと
     * ・InputSourceがloco
     * ・口コミ詳細を持つCPかどうか
     */
    hasLocoReviewDetailPage (reviewFeature) {
      return this.isCpLoco(reviewFeature.Property.Comment.InputSource) || this.namespace.cid.moveLocoDetailCidGroup.indexOf(reviewFeature.Property.CassetteId) >= 0
    },
    /**
     * ULT
     */
    getCpNameForUlt (cid) {
      return this.namespace.CpName[cid] || ''
    }
  },
  computed: {
    srtnew () {
      if (this.sortPanel.createdateDown) {
        return 'srtnewtp'
      }
      if (this.sortPanel.createdateUp) {
        return 'srtnewbm'
      }
      return 'srtnewtp'
    },
    srtmth () {
      if (this.sortPanel.visitdateDown) {
        return 'srtmthtp'
      }
      if (this.sortPanel.visitdateUp) {
        return 'srtmthbm'
      }
      return 'srtmthtp'
    },
    srtval () {
      if (this.sortPanel.ratingDown) {
        return 'srtvaltp'
      }
      if (this.sortPanel.ratingUp) {
        return 'srtvalbm'
      }
      return 'srtvaltp'
    }
  },
  filters: {
    /**
     * HTMLエンティティをテキスト文字に変換する
     * コメント検索APIから返却されるテキストに&gtや&ltが含まれるので変換する
     *  （コメント検索APIではサニタイズを行っておらず、入稿データがすでにそうなっているとのこと）
     */
    convertHTMLToText (text) {
      let parser = new DOMParser()
      return parser.parseFromString(text, 'text/html').body.textContent
    },
    /**
     * 口コミ本文の長さを調整する
     * 全角半角・両方1文字とカウントする
     * 98文字未満：「全て」
     * 98文字：「98文字」
     * 99文字以上： 「97文字 + ...」表示。口コミ詳細へ遷移するリンク「続きを読む>> 」を末尾に追加
    */
    editBodytext (bodyText) {
      return bodyText.length > 99 ? bodyText.substr(0, 97) + '...' : bodyText
    },
    /**
     * 評価点数を小数点第2位を四捨五入して表示する
    */
    getRating (rating) {
      return parseFloat(rating).toFixed(1)
    },
    /**
     * 評価点数に応じて表示するClassを切り替える
    */
    getStarClassString (_inputRating) {
      const STAR_CLASS_BASE = 'score__starsRate--sts'
      const STAR_CALCULATING_VALUE = 0.5
      const STAR_ASSOCIATIVE_ARRAY = {
        1: '05',
        2: '10',
        3: '15',
        4: '20',
        5: '25',
        6: '30',
        7: '35',
        8: '40',
        9: '45',
        10: '50'
      }

      let starClassString = ''
      let floatRating = parseFloat(_inputRating)
      let starCount = parseInt(floatRating / STAR_CALCULATING_VALUE)

      if (typeof (STAR_ASSOCIATIVE_ARRAY[starCount]) !== 'undefined') {
        starClassString = STAR_CLASS_BASE + STAR_ASSOCIATIVE_ARRAY[starCount]
      }

      return starClassString
    },
    /**
     * 日付の計算をする
    */
    getConvertedDate (_inputDate) {
      return moment(_inputDate).format('YYYY年MM月DD日')
    },
    /**
     * 投稿フォームへの遷移URLを生成する
     */
    getPostUrl (uid) {
      return 'https://loco.yahoo.co.jp/review/posting?uid=' + uid
    }
  },
  watch: {
    'review': {
      handler: function () {
        this.detailUrls = this.setDetailUrls(this.review.Feature)
      },
      deep: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

// * img
$img_path: "https://s.yimg.jp/images/loco/pc/";

/* evaluation */
.evaluation {
  position: relative;
  margin-bottom: 20px;
  &__loading {
    height: 90px;
  }
  &__loadingBody {
    @include loadingBody();
  }
  &__circle {
    @include loadingCircle();
  }
}

.evaluationTitle {
  position: relative;
  &__main {
    @include placeTitle();
    @include placeTitleBorder();
    padding-right: 115px;
  }
  &__button {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__link {
    display: block;
    overflow: hidden;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    background: #fff;
    background: linear-gradient(#fff, #f7f7f7);
    border-radius: 4px;
    box-shadow: 0 1px 0 #bbb;
    transition: all .2s;
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }
}

.sort {
  margin-bottom: 10px;
  overflow: hidden;
  &__title {
    display: inline-block;
    background: #ECECE6;
    border: 1px solid #C0BCA7;
    color: #666;
    padding: 0 10px;
  }
  &__data {
    display: inline-block;
  }
  &__item {
    display: inline-block;
    border-right: 1px dotted #9b9b9b;
    padding: 0 8px;
    margin: 0;
    &:last-child {
      border-right: none;
    }
  }
  &__icon {
    &--down {
      height: 15px;
      width: 15px;
      margin-right: 3px;
      display: inline-block;
      background: url(#{$img_path}images/poi/gourmet/sp_common_v4.png) no-repeat 0 0;
      background-position: -209px -34px;
      vertical-align: middle;
      text-indent: -9999px;
      text-indent: 0;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
    }
    &--up {
      height: 15px;
      width: 15px;
      margin-right: 3px;
      display: inline-block;
      background: url(#{$img_path}images/poi/gourmet/sp_common_v4.png) no-repeat 0 0;
      background-position: -229px -34px;
      vertical-align: middle;
      text-indent: -9999px;
      text-indent: 0;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
    }
  }
}

.review {
  &__list {
    margin-bottom: 20px;
  }
  &__item {
    position: relative;
    display: block;
    margin-bottom: 12px;
    padding: 8px 10px;
    background: #fcfbf1;
    border: 2px solid #e7e3d6;
    border-radius: 4px;
    font-size: 12px;
    word-break: break-all;
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 23px;
      bottom: -15px;
      width: 0;
      height: 0;
      border-top: 7px solid #e0dccc;
      border-right: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid transparent;
    }
  }
  &__title {
    font-size: 120%;
    font-weight: bold;
  }
}

.score {
    margin-bottom: 3px;
    position: relative;
  &__number {
    font-size: 130%;
    font-weight: bold;
    color: #EA5C48;
    margin-right: 5px;
    vertical-align: top;
    line-height: 1.3;
  }
  &__starsRate {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 1em;
    line-height: 1.0;
    font-size: 18px;
    font-size: 1.125rem;
    vertical-align: middle;
    &--sts05:after, &--sts10:after, &--sts15:after, &--sts20:after, &--sts25:after, &--sts30:after, &--sts35:after, &--sts40:after, &--sts45:after, &--sts50:after {
      position: absolute;
      top: -3px;
      left: 30px;
    }
    &--sts05:before, &--sts10:before, &--sts15:before, &--sts20:before, &--sts25:before, &--sts30:before, &--sts35:before, &--sts40:before, &--sts45:before, &--sts50:before {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #ccc);
      position: absolute;
      top: -3px;
      left: 30px;
    }
    &--sts05:after {
      @include RiffIcon("\E803", 18, #c1a98b);
    }
    &--sts10:after {
      @include RiffIcon("\E802", 18, #f6b81b);
    }
    &--sts15:after {
      @include RiffIcon("\E802\E803", 18, #f6b81b);
    }
    &--sts20:after {
      @include RiffIcon("\E802\E802", 18, #f6b81b);
    }
    &--sts25:after {
      @include RiffIcon("\E802\E802\E803", 18, #f6b81b);
    }
    &--sts30:after {
      @include RiffIcon("\E802\E802\E802", 18, #f6b81b);
    }
    &--sts35:after {
      @include RiffIcon("\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts40:after {
      @include RiffIcon("\E802\E802\E802\E802", 18, #f6b81b);
    }
    &--sts45:after {
      @include RiffIcon("\E802\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts50:after {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #f6b81b);
    }
  }
  &__rate {
    @include text-replace;
    display: inline;
    position: absolute;
    width: 100%;
  }
}

.comment {
  margin-bottom: 3px;
  &__text{
    margin-right: 10px;
  }
  &__link {
    display: inline-block;
  }
}

.post {
  display: table;
  width: 100%;
  color: #999;
  &__contributor {
    display: table-cell;
  }
  &__cp {
    display: table-cell;
    text-align: right;
  }
}

</style>
