<template>
  <div class="posted tracked_mods" id="rvdtlotw">
    <div v-if="status.detailList === 'binded' && postedList.length > 0">
      <h2 class="posted__title">このお店の{{author | getReviewerName}}さんのその他のクチコミ</h2>
      <ul class="posted__list">
        <li v-for="(element, index) in postedList" class="posted__item postedItem" :key="element, index">
          <h3 class="postedItem__title"><a v-bind:href="getReviewUrl(gid, element.Property.Comment.CustomExact1)" class="postedItem__link" :data-ylk='"slk:otwtile;pos:"+(index+1)'>{{element.Property.Comment.Subject | convertStringIntoHtml}}</a></h3>
          <div class="postedItem__score score"><span class="score__number">{{element.Property.Comment.Rating | getFloatRating}}</span><span v-bind:class="element.Property.Comment.Rating | getStarClassString"></span><span class="score__rate">5点満点中</span></div>
          <p class="postedItem__comment comment"><span class="comment__text">{{element.Property.Comment.Body | convertStringIntoHtml | getRegularPatternBody}}</span><a v-bind:href="getReviewUrl(gid, element.Property.Comment.CustomExact1)" class="comment__link" :data-ylk='"slk:otwnexrd;pos:"+(index+1)'>続きを読む&gt;&gt;</a></p>
          <div class="postedItem__post post">
            <p class="post__contributor">{{element.Property.Comment.CreateDate | getConvertedDate}}</p>
          </div>
        </li>
      </ul>
      <p class="posted__return"><a v-bind:href="getReviewListUrl(gid)" class="posted__link" data-ylk="slk:otwrtlis;pos:0">クチコミ一覧に戻る</a></p>
    </div>
    <div v-else-if="status.detailList === 'error'">
      <h2 class="posted__title">このお店の{{author | getReviewerName}}さんのその他のクチコミ</h2>
      <error
        v-bind:status="status"></error>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  import error from '@pc/components/place/review/error.vue'
  import baseComponent from '@lib/baseComponent'

  /*
   * 多数の関数で使うStringとIntの値を定数化
   */
  const LOCO_URL_BASE = 'https://loco.yahoo.co.jp'
  const REVIEW_FORWARD_URL = LOCO_URL_BASE + '/place/g-'
  const REVIEW_BACKWARD_URL = '/review/'
  const PARSE_INT_RADIX_VALUE = 10

  export default {
    components: {
      error
    },
    extends: baseComponent,
    data () {
      return {
        status: {},
        detailList: {},
        postedList: []
      }
    },
    props: [
      'tenpoName',
      'author',
      'guid',
      'gid',
      'reviewId'
    ],
    filters: {
      /*
       * クチコミ詳細投稿日をYYYY年MM月DD日の形式に変換
       *
       * @param {String} _inputDate 変換前のクチコミ投稿日
       * @returns {String} convertedDate YYYY年MM月DD日の形式の投稿日
       */
      getConvertedDate (_inputDate) {
        return moment(_inputDate).format('YYYY年MM月DD日')
      },

      /*
       * クチコミの評価の値が数字限り少数を付けて返還
       *
       * @param {String} _inputRating クチコミの詳細評価の数値
       * @returns {String} detailRating 小数点を付けた数字
       */
      getFloatRating (_inputRating) {
        let rating = _inputRating

        // 数字ではない場合、そのまま返還
        if (isNaN(parseInt(_inputRating, PARSE_INT_RADIX_VALUE))) {
          return rating
        }
        // 小数点をつけて返還
        rating = parseFloat(_inputRating).toFixed(1)
        return rating
      },

      /*
       * クチコミの総合評価の数値をもらって、絵を作るcssクラスのstringの値に変換
       *
       * @param {String} _inputRating クチコミの総合評価の数値
       * @returns {String} starClassString クチコミの総合評価の数値を変換したcssクラスの値
       */
      getStarClassString (_inputRating) {
        // Intの星の数をStringに変換する配列を定数化
        const STAR_ASSOCIATIVE_ARRAY = {
          1: '05',
          2: '10',
          3: '15',
          4: '20',
          5: '25',
          6: '30',
          7: '35',
          8: '40',
          9: '45',
          10: '50'
        }

        // 星の数とcssクラスの値を生成する値を定数化
        const STAR_CLASS_BASE = 'score__starsRate--sts'
        const STAR_CALCULATING_VALUE = 0.5

        // 変換する値を初期化
        let starClassString = ''

        // クチコミの総合評価を計算して、星の数を抽出
        let floatRating = parseFloat(_inputRating)
        let starCount = parseInt(floatRating / STAR_CALCULATING_VALUE, PARSE_INT_RADIX_VALUE)

        // cssクラスを生成
        starClassString = STAR_CLASS_BASE + STAR_ASSOCIATIVE_ARRAY[starCount]

        return starClassString
      },

      /* 本文の内容をHTML形式に返還
       *
       * @param {String} _inputBody HTML形式に返還する本文の内容
       * @returns {String} htmlBodyText HTML形式に返還された本文の内容
       */
      convertStringIntoHtml (_inputBody) {
        let domParser = new DOMParser()
        let htmlBodyText = domParser.parseFromString(_inputBody, 'text/html').body.textContent

        return htmlBodyText
      },

      /*
       * その他のクチコミの内容を、一定以上の文字する場合、
       * 内容を切って「...」を付けたり、改行
       *
       * @param {String} _inputBody クチコミ詳細の内容
       * @returns {String} irregularPatternBody 内容を切ったり、改行したクチコミ詳細の内容
       */
      getRegularPatternBody (_inputBody) {
        // 内容を切ったり、改行する時、判定する値を定数化
        const SHORT_BODY_MAX_VALUE = 98
        const SHORT_BODY_START_VALUE = 0
        const SHORT_BODY_END_VALUE = 97
        const LINE_BREAK_MAX_VALUE = 95

        let regularPatternBody = _inputBody

        // 長さが一定以上の文字の場合、内容を切って「...」を付け
        if (_inputBody.length >= SHORT_BODY_MAX_VALUE) {
          regularPatternBody = regularPatternBody.substring(SHORT_BODY_START_VALUE, SHORT_BODY_END_VALUE) + '...'
        }

        // 長さが一定以上の文字の場合、改行のタグを付け
        if (regularPatternBody.length >= LINE_BREAK_MAX_VALUE) {
          regularPatternBody = regularPatternBody + '<br/>'
        }

        return regularPatternBody
      },

      /*
       * MaskされたYIDがあれば、MaskされたYidを返還
       * MaskされたYIDがなければ、'ヤフーユーザー'を返還
       *
       * @param {String} _maskedYid MaskされたYid
       * @returns {String} reviewerName 表示される口コミ投稿者の名前
       */
      getReviewerName (_maskedYid) {
        let reviewerName = 'ヤフーユーザー'
        if (_maskedYid) {
          reviewerName = _maskedYid
        }
        return reviewerName
      }

    },
    methods: {
      /**
       * GIDをもらって、クチコミ一覧ページのリンクを生成
       *
       * @param {String} _inputGid 該当場所のGID
       * @returns {String} reviewListUrl クチコミ一覧ページのリンク
       */
      getReviewListUrl (_inputGid) {
        // クチコミ一覧ページのURLを生成
        return this.$root.addUrlParameters(REVIEW_FORWARD_URL + _inputGid + REVIEW_BACKWARD_URL, ['sc_type'])
      },

      /*
       * ユーザーのguidと店舗のgidを元にして、
       * 同じ投稿者のクチコミ一覧情報を非同期処理で取得して、
       * 上に出るクチコミ情報を抜けて表示
       * @param {String} _guid 非同期処理から取得したクチコミ投稿者のguid
       * @param {String} _gid 同期処理から取得した店舗のgid
       * @param {String} _reviewId 画面の上に出るクチコミのreviewId
       */
      getDetailList (_guid, _gid, _reviewId) {
        this.bindRequest({
          name: 'detailList',
          url: this.namespace.API.commentPosted,
          params: {
            output: 'json',
            guid: _guid,
            gid: _gid
          },
          eappid: false
        }).then((_detailListResult) => {
          if (_detailListResult) {
            let detailListResultFeatureLength = _detailListResult.Feature.length
            for (let index = 0; index < detailListResultFeatureLength; index++) {
              if (_detailListResult.Feature[index].Property.Comment.CustomExact1 !== _reviewId) {
                this.postedList.push(_detailListResult.Feature[index])
              }
            }
          }
        })
      },
      /**
       * GIDとReviewIDをもらって、クチコミ詳細ページのリンクを生成
       *
       * @param {String} _inputGid 該当場所のGID
       * @param {String} _reviewId 他の詳細情報のReviewId
       * @returns {String} reviewUrl 他のクチコミ詳細ページのリンク
       */
      getReviewUrl (_inputGid, _reviewId) {
        // クチコミ詳細ページのURLを生成
        return this.$root.addUrlParameters(REVIEW_FORWARD_URL + _inputGid + REVIEW_BACKWARD_URL + _reviewId, ['sc_type'])
      }
    },
    mounted () {
      // 非同期処理を開始
      this.getDetailList(this.guid, this.gid, this.reviewId)
    }
  }
</script>
<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

.posted {
  margin-bottom: 20px;
  &__title {
    @include placeTitle;
    @include placeTitleBorder;
  }
  &__return {
    padding-left: 10px;
    font-size: 90%;
    text-align: right;
  }
  &__link {
    position: relative;
    &::before {
      @include RiffIcon("\E60E", 10, #333);
      position: absolute;
      top: 3px;
      left: -10px;
    }
  }
}

.postedItem {
  position: relative;
  display: block;
  margin-bottom: 12px;
  padding: 8px 10px;
  background: #fcfbf1;
  border: 2px solid #e7e3d6;
  border-radius: 4px;
  font-size: 12px;
  word-break: break-all;
  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 23px;
    bottom: -15px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: 7px solid #e0dccc;
  }
  &__title {
    font-size: 120%;
    font-weight: bold;
  }
}

.score {
  margin-bottom: 3px;
  position: relative;
  &__number {
    font-size: 130%;
    font-weight: bold;
    color: #ea5c48;
    margin-right: 5px;
    vertical-align: top;
    line-height: 1.3;
  }
  &__starsRate {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 1em;
    line-height: 1.0;
    font-size: 18px;
    font-size: 1.125rem;
    vertical-align: middle;
    &--sts05:after, &--sts10:after, &--sts15:after, &--sts20:after, &--sts25:after, &--sts30:after, &--sts35:after, &--sts40:after, &--sts45:after, &--sts50:after {
      position: absolute;
      top: -3px;
      left: 30px;
    }
    &--sts05:before, &--sts10:before, &--sts15:before, &--sts20:before, &--sts25:before, &--sts30:before, &--sts35:before, &--sts40:before, &--sts45:before, &--sts50:before {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #ccc);
      position: absolute;
      top: -3px;
      left: 30px;
    }
    &--sts05:after {
      @include RiffIcon("\E803", 18, #c1a98b);
    }
    &--sts10:after {
      @include RiffIcon("\E802", 18, #f6b81b);
    }
    &--sts15:after {
      @include RiffIcon("\E802\E803", 18, #f6b81b);
    }
    &--sts20:after {
      @include RiffIcon("\E802\E802", 18, #f6b81b);
    }
    &--sts25:after {
      @include RiffIcon("\E802\E802\E803", 18, #f6b81b);
    }
    &--sts30:after {
      @include RiffIcon("\E802\E802\E802", 18, #f6b81b);
    }
    &--sts35:after {
      @include RiffIcon("\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts40:after {
      @include RiffIcon("\E802\E802\E802\E802", 18, #f6b81b);
    }
    &--sts45:after {
      @include RiffIcon("\E802\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts50:after {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #f6b81b);
    }
  }
  &__rate {
    @include text-replace;
    position: absolute;
    width: 100%;
  }
}

.comment {
  margin-bottom: 3px;
  &__text {
    margin-right: 10px;
  }
  &__link {
    display: inline-block;
  }
}

.post {
  display: table;
  width: 100%;
  color: #999;
  &__contributor {
    display: table-cell;
  }
}

</style>
