<template>
<div v-if="this.status.commentApiResult === 'binded' && this.commentApiResult.Feature.length !== 0 && !$root.isHiddenScType('summary')" class="reviewSummary">
  <div class="reviewSummary__title summaryTitle">
    <h2 class="summaryTitle__main">クチコミ</h2>
    <p class="summaryTitle__button"><a :href="reviewPostButtonUrl" class="summaryTitle__link" rel="nofollow">クチコミ投稿</a></p>
  </div>
  <div class="tracked_mods" id="rvlist">
    <ul class="reviewSummary__list">
      <li v-for="(comment, index) in this.commentList" class="reviewSummary__item summaryItem" :key="comment">
        <h3 class="summaryItem__title">
          <template v-if="comment.detailLinkUrl">
            <a :href="comment.detailLinkUrl" class="summaryItem__link" :target="comment.cpName.string ? '_blank' : null" :rel="comment.cpName.string ? 'nofollow' : null" :data-ylk="`slk:listile;pos:${(index + 1)}`">{{ comment.title | convertHTMLToText }}</a>
          </template>
          <span v-else class="summaryItem__noLink">
            {{ comment.title | convertHTMLToText }}
          </span>
        </h3>
        <div v-if="comment.rating.string !== ''" class="summaryItem__score score"><span class="score__number">{{ comment.rating.string | kuchikomiRatingFormat }}</span><span :class="comment.rating.starsRateClass"></span><span class="score__rate">5点満点中</span></div>
        <p class="summaryItem__comment comment"><span class="comment__text">{{ comment.body | convertHTMLToText }}</span><a v-if="comment.detailLinkUrl" :href="comment.detailLinkUrl" class="comment__link" :target="comment.cpName.string ? '_blank' : null" :rel="comment.cpName.string ? 'nofollow' : null" :data-ylk="`slk:lisnexrd;pos:${(index + 1)}`">続きを読む&gt;&gt;</a></p>
        <div class="summaryItem__post post">
          <template v-if="comment.commentAuthor.string">
            <p class="post__contributor" v-if="comment.commentAuthor.linkUrl !== ''">投稿者： <a :href="comment.commentAuthor.linkUrl" :data-ylk="`slk:lisuser;pos:${(index + 1)}`">{{ comment.commentAuthor.string }}さん</a>　投稿日： {{ comment.createDate }}</p>
            <p class="rpost__contributor" v-else>投稿者： {{ comment.commentAuthor.string }}　投稿日： {{ comment.createDate }}</p>
          </template>
          <p v-if="comment.cpName.string !== ''" class="post__cp"><span class="post__text">情報提供元：</span><a :href="comment.cpName.linkUrl" class="post__link" target="_blank" rel="nofollow" :data-ylk="`slk:cp;cp_name:${comment.cpNameForUlt};pos:${(index + 1)}`">{{ comment.cpName.string }}</a></p>
        </div>
      </li>
    </ul>
    <p class="reviewSummary__more"><a :href="this.moreViewLink.linkUrl" class="reviewSummary__link" data-ylk="slk:more;pos:0">クチコミをもっと見る（{{ this.moreViewLink.totalCount }}件）</a></p>
  </div>
</div>
</template>

<script>
import Base from '@lib/baseComponent'
import moment from '@lib/moment-ja'

export default {
  data () {
    return {
      commentApiResult: {},
      commentList: [],
      moreViewLink: {}
    }
  },
  props: {
    tenpo: Object
  },
  computed: {
    reviewPostButtonUrl () {
      return `/review/posting?uid=${this.tenpo.Feature[0].Property.Uid}`
    }
  },
  filters: {
    kuchikomiRatingFormat (rating) {
      return String(rating).includes('.') ? rating : rating + '.0'
    },
    /**
     * HTMLエンティティをテキスト文字に変換する
     * コメント検索APIから返却されるテキストに&gtや&ltが含まれるので変換する
     *  （コメント検索APIではサニタイズを行っておらず、入稿データがすでにそうなっているとのこと）
     */
    convertHTMLToText (text) {
      let parser = new DOMParser()
      return parser.parseFromString(text, 'text/html').body.textContent
    }
  },
  extends: Base,
  mounted () {
    const gid = this.tenpo.Feature[0].Gid

    // コメント検索APIから口コミ取得
    if (typeof gid !== 'undefined') {
      this.bindRequest({
        name: 'commentApiResult',
        url: this.namespace.API.kuchikomi,
        params: {
          gid: gid
        }
      }).then((commentApiResult) => {
        // 表示コメント整形
        for (const commentObj of commentApiResult.Feature) {
          const viewComment = {
            title: this.getTitle(commentObj),
            rating: this.getRating(commentObj),
            body: this.getBody(commentObj),
            commentAuthor: this.getCommentAuthor(commentObj),
            createDate: this.getCreateDate(commentObj),
            cpName: this.getCpName(commentObj),
            cpNameForUlt: this.getCpNameForUlt(commentObj.Property.CassetteId),
            detailLinkUrl: this.getDetailLinkUrl(gid, commentObj)
          }

          this.commentList.push(viewComment)

          // 口コミは2件しか表示しないため、2件分の処理が終わったらループを抜ける
          if (this.commentList.length === 2) {
            break
          }
        }

        // もっと見るリンク文言・URL
        this.moreViewLink = {
          totalCount: commentApiResult.ResultInfo.Total,
          linkUrl: `/place/g-${gid}/review`
        }
      })
    }
  },
  methods: {
    /**
     * 口コミタイトル
     * @param {object} commentObj 口コミ情報
     * @returns {string} 口コミタイトル
     */
    getTitle (commentObj) {
      let title = ''
      if (commentObj.Property.CassetteId === this.namespace.cid.yahooLoco1 ||
                  commentObj.Property.CassetteId === this.namespace.cid.yahooLoco2 ||
                  commentObj.Property.CassetteId === this.namespace.cid.locoKuchikomi) {
        // Yahoo!ロコ
        title = commentObj.Property.Comment.Subject
      } else {
        // Yahoo!ロコ 以外
        if (commentObj.Property.Comment.Subject !== null) {
          // タイトルある場合
          title = commentObj.Property.Comment.Subject
        } else {
          // タイトルない場合
          title = commentObj.Property.Comment.Body
        }
      }

      // 口コミタイトル文字列切り詰め
      if (title.length > 32) {
        title = title.slice(0, 31) + '...'
      }

      return title
    },
    /**
     * 評価
     * @param {object} commentObj 口コミ情報
     * @returns {object} string: 表示評価, starsRateClass: ★表示class名
     */
    getRating (commentObj) {
      let rating = {
        string: '',
        starsRateClass: ''
      }
      if (commentObj.Property.CassetteId === this.namespace.cid.yahooLoco1 ||
                  commentObj.Property.CassetteId === this.namespace.cid.yahooLoco2 ||
                  commentObj.Property.CassetteId === this.namespace.cid.locoKuchikomi) {
        // Yahoo!ロコ
        rating.string = commentObj.Property.Comment.Rating
        const starsRate = commentObj.Property.Comment.Rating * 10
        rating.starsRateClass = 'score__starsRate--sts' + starsRate
      } else {
        // Yahoo!ロコ 以外は評価がある場合のみ表示
        if (!isNaN(parseFloat(commentObj.Property.Comment.Rating))) {
          rating.string = parseFloat(commentObj.Property.Comment.Rating).toFixed(1)
          // 0.5刻みで低いほうの★数を表示
          const starsRate = Math.floor(commentObj.Property.Comment.Rating * 2) / 2 * 10
          rating.starsRateClass = 'score__starsRate--sts' + starsRate
        }
      }
      return rating
    },
    /**
     * 口コミ本文
     * @param {Object} commentObj 口コミ情報
     * @returns {string} 口コミ本文
     */
    getBody (commentObj) {
      let body = commentObj.Property.Comment.Body

      // 口コミ内容文字列切り詰め
      if (body.length > 98) {
        body = body.slice(0, 97) + '...'
      }
      return body
    },
    /**
     * 投稿者・投稿者リンクURL
     * @param {object} commentObj 口コミ情報
     * @returns {object} string: 投稿者, linkUrl: 投稿者リンクURL
     */
    getCommentAuthor (commentObj) {
      let commentAuthor = {
        string: '',
        linkUrl: ''
      }
      if (commentObj.Property.Comment.InputSource === 'loco') {
        // ロコCP
        if (commentObj.Property.Comment.Guid === 'gourmet_user') {
          // 旧Yahoo!グルメ
          commentAuthor.string = 'Yahoo!グルメから移行'
        } else {
          this.get(
            this.namespace.API.secure,
            {guid: commentObj.Property.Comment.Guid}
          ).then((result) => {
            commentAuthor.string = result.entry['maskedYid']
            commentAuthor.linkUrl = '/user/' + result.entry['encodedYuid'] + '/review'
          }).catch((result) => {
            commentAuthor.string = 'ヤフーユーザー'
          })
        }
      } else {
        // 他CP
        commentAuthor.string = commentObj.Property.Comment.Author
      }
      return commentAuthor
    },
    /**
     * 投稿日
     * @param {object} commentObj 口コミ情報
     * @returns {string} 投稿日
     */
    getCreateDate (commentObj) {
      return moment(commentObj.Property.Comment.CreateDate).format('YYYY年MM月DD日')
    },
    /**
     * CP名・CP名リンクURL
     * @param {object} commentObj 口コミ情報
     * @returns {object} string: CP名, linkUrl: CP名リンクURL
     */
    getCpName (commentObj) {
      let cpName = {
        string: '',
        linkUrl: ''
      }
      if (commentObj.Property.CassetteId !== this.namespace.cid.yahooLoco1 &&
              commentObj.Property.CassetteId !== this.namespace.cid.yahooLoco2 &&
              commentObj.Property.CassetteId !== this.namespace.cid.locoKuchikomi) {
        // Yahoo!ロコ以外
        for (const child of this.tenpo.Feature[0].Children) {
          if (commentObj.Property.CassetteId === child.CassetteId) {
            cpName.string = child.CassetteHeader
            cpName.linkUrl = child.PcUrl1
          }
        }
      }
      return cpName
    },
    /**
     * 口コミ詳細リンクURL
     * @param {string} gid GID
     * @param {object} commentObj 口コミ情報
     * @returns {string} 口コミ詳細リンクURL
     */
    getDetailLinkUrl (gid, commentObj) {
      let detailLinkUrl = ''
      if (commentObj.Property.CassetteId === this.namespace.cid.yahooSportSky ||
          commentObj.Property.CassetteId === this.namespace.cid.jyukuNavi ||
          commentObj.Property.CassetteId === this.namespace.cid.mentsu ||
          commentObj.Property.CassetteId === this.namespace.cid.yahooLoco1 ||
          commentObj.Property.CassetteId === this.namespace.cid.yahooLoco2 ||
          commentObj.Property.CassetteId === this.namespace.cid.niftySweets ||
          commentObj.Property.CassetteId === this.namespace.cid.locoKuchikomi) {
        // ロコの口コミ詳細
        detailLinkUrl = `/place/g-${gid}/review/${commentObj.Property.Comment.CustomExact1}/`
      } else {
        detailLinkUrl = commentObj.Property.Comment.LinkUrl
      }
      return detailLinkUrl
    },
    /**
     * ULT
     */
    getCpNameForUlt (cid) {
      return this.namespace.CpName[cid] || ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@pc/styles/partial/mixins';
@import '~@pc/styles/partial/variable';

// * img
$img_path: "https://s.yimg.jp/images/loco/pc/";

/* placeReview */
.reviewSummary {
  position: relative;
  &__list {
    margin-bottom: 20px;
  }
  &__more {
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
  }
}

.summaryTitle {
  position: relative;
  margin-bottom: 10px;
  &__main {
    @include placeTitle;
    @include placeTitleBorder;
    padding-right: 115px;
  }
  &__button {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__link {
    display: block;
    overflow: hidden;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #333;
    font-weight: bold;
    line-height: 1;
    background: #fff;
    background: linear-gradient(#fff, #f7f7f7);
    border-radius: 4px;
    box-shadow: 0 1px 0 #bbb;
    transition: all .2s;
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }
}

.summaryItem {
  position: relative;
  display: block;
  margin-bottom: 12px;
  padding: 8px 10px;
  background: #fcfbf1;
  border: 2px solid #e7e3d6;
  border-radius: 4px;
  font-size: 12px;
  word-break: break-all;
  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 23px;
    bottom: -15px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: 7px solid #e0dccc;
  }
  &__title {
    font-size: 120%;
    font-weight: bold;
  }
}

.score {
  margin-bottom: 3px;
  position: relative;
  &__number {
    font-size: 130%;
    font-weight: bold;
    color: #EA5C48;
    margin-right: 5px;
    vertical-align: top;
    line-height: 1.3;
  }
  &__starsRate {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 1em;
    line-height: 1.0;
    font-size: 18px;
    font-size: 1.125rem;
    vertical-align: middle;

    &--sts05:after,
    &--sts10:after,
    &--sts15:after,
    &--sts20:after,
    &--sts25:after,
    &--sts30:after,
    &--sts35:after,
    &--sts40:after,
    &--sts45:after,
    &--sts50:after {
      position: absolute;
      top: -3px;
      left: 30px;
    }

    &--sts05:before,
    &--sts10:before,
    &--sts15:before,
    &--sts20:before,
    &--sts25:before,
    &--sts30:before,
    &--sts35:before,
    &--sts40:before,
    &--sts45:before,
    &--sts50:before {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #ccc);
      position: absolute;
      top: -3px;
      left: 30px;
    }

    &--sts05:after {
      @include RiffIcon("\E803", 18, #c1a98b);
    }
    &--sts10:after {
      @include RiffIcon("\E802", 18, #f6b81b);
    }
    &--sts15:after {
      @include RiffIcon("\E802\E803", 18, #f6b81b);
    }
    &--sts20:after {
      @include RiffIcon("\E802\E802", 18, #f6b81b);
    }
    &--sts25:after {
      @include RiffIcon("\E802\E802\E803", 18, #f6b81b);
    }
    &--sts30:after {
      @include RiffIcon("\E802\E802\E802", 18, #f6b81b);
    }
    &--sts35:after {
      @include RiffIcon("\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts40:after {
      @include RiffIcon("\E802\E802\E802\E802", 18, #f6b81b);
    }
    &--sts45:after {
      @include RiffIcon("\E802\E802\E802\E802\E803", 18, #f6b81b);
    }
    &--sts50:after {
      @include RiffIcon("\E802\E802\E802\E802\E802", 18, #f6b81b);
    }
  }
  &__rate {
    @include text-replace;
    display: inline;
    position: absolute;
    width: 100%;
  }
}

.comment {
  margin-bottom: 3px;
  &__text {
    margin-right: 10px;
  }
  &__link {
    display: inline-block;
  }
}

.post {
  display: table;
  width: 100%;
  color: #999;
  &__contributor {
    display: table-cell;
  }
  &__cp {
    display: table-cell;
    text-align: right;
  }
}
</style>
