<template>
  <div class="plan">
    <div class="plan__title planTitle tracked_mods" v-if="title" id="wedrplnk">
      <h2 class="planTitle__main" v-text="title"></h2>
      <p class="planTitle__provider" v-if="reports.length > 0">
        <a href="#weddingReport" class="planTitle__link" data-ylk="pos:0">式場体験者レポート</a>
      </p>
    </div>
    <div id="wedlist" class="tracked_mods">
      <article class="plan__item planItem" v-for="(plan, planIndex) in plans" v-bind:key="plan.id">
        <h3 class="planItem__title">
          <a :href="plan.WeddingPlanUrl" target="_blank" class="planItem__link" v-text="plan.WeddingPlanName" rel="nofollow noopener" :data-ylk="`slk:wedtle;pos:${planIndex + 1}`"></a>
        </h3>
        <a :href="plan.WeddingPlanUrl" class="planItem__image planImage" target="_blank" rel="nofollow noopener" :data-ylk="`slk:wedimg;pos:${planIndex + 1}`">
          <img width=218 height=218 v-if="isImageLoaded" :src="getImage(plan.WeddingPlanImage)" :alt="plan.WeddingPlanName" class="planImage__image" />
        </a>
        <p class="planItem__detail" v-if="plan.WeddingPlanDescription" v-text="plan.WeddingPlanDescription"></p>
        <table class="planItem__table planTable">
          <tr class="planTable__row" v-if="plan.WeddingPlanPrice">
            <th class="planTable__header"><span class="planTable__text">料金</span></th>
            <td class="planTable__data">
              <p v-for="val in plan.WeddingPlanPrice.split(/<br\s*\/?>/)" v-text="val"></p>
            </td>
          </tr>
          <tr class="planTable__row" v-if="plan.WeddingPlanPeriod">
            <th class="planTable__header"><span class="planTable__text">適用期間</span></th>
            <td class="planTable__data">
              <p v-for="val in plan.WeddingPlanPeriod.split(/<br\s*\/?>/)" v-text="val"></p>
            </td>
          </tr>
          <tr class="planTable__row" v-if="plan.WeddingPlanPeopleNumber">
            <th class="planTable__header"><span class="planTable__text">適用人数</span></th>
            <td class="planTable__data">
              <p v-for="val in plan.WeddingPlanPeopleNumber.split(/<br\s*\/?>/)" v-text="val"></p>
            </td>
          </tr>
          <tr class="planTable__row" v-if="plan.WeddingPlanComment">
            <th class="planTable__header"><span class="planTable__text">その他コメント</span></th>
            <td class="planTable__data">
              <p v-for="val in plan.WeddingPlanComment.split(/<br\s*\/?>/)" v-text="val"></p>
            </td>
          </tr>
          <tr class="planTable__row" v-if="plan.WeddingPlanBenefit">
            <th class="planTable__header"><span class="planTable__text">特典</span></th>
            <td class="planTable__data">
              <p v-for="val in plan.WeddingPlanBenefit.split(/<br\s*\/?>/)" v-text="val"></p>
            </td>
          </tr>
        </table>
      </article>
      <p class="plan__cp planCp">
        <a :href="cpUrl" class="planCp__link" target="_blank" rel="nofollow noopener" :data-ylk="getDataYlk(1)">
          <img src="https://iwiz-olp.c.yimg.jp/im_siggLmbFv1hpoqKRKuY9lx2ixQ---x80-y60-bd0-n0-ifmpng/c/olp/78/78ef8c916628ffb0acaafadb8a6e1842/info/1c/7d/thumbnail/logo_zexy.png" class="planCp__image" alt="ゼクシィ" />
        </a>
      </p>
    </div>
  </div>
</template>

<script>
  import Base from '@lib/baseComponent'
  export default {
    extends: Base,
    props: {
      title: String,
      reports: Array,
      gid: String,
      plans: Array,
      cpUrl: String
    },
    data: () => ({
      images: [],
      isImageLoaded: false
    }),
    mounted () {
      this.checkImages()
    },
    methods: {
      checkImages () {
        let tasks = []
        for (const value of this.plans) {
          tasks.push(this.loadImage(value.WeddingPlanImage))
        }
        Promise.all(tasks)
          .then((value) => {
            for (let image of value) {
              if (image && image.width > 20 && image.height > 20) {
                this.images.push(image.src)
              }
            }
            this.isImageLoaded = true
          })
      },
      getImage (src) {
        if (this.images.includes(src)) {
          return src
        } else {
          return this.namespace.noImage['200x200']
        }
      },
      getDataYlk (index, cid = this.namespace.cid.zexy) {
        // 今はゼクシィしかないので、CIDはゼクシィ固定
        return (cid && this.namespace.CpName[cid]) ? `slk:cp;cp_name:${this.namespace.CpName[cid]};pos:${index};` : ''
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.plan {
  margin-bottom: 10px;
}

.planTitle {
  position: relative;
  box-sizing: border-box;
  &__main {
    @include placeTitle;
    padding-right: 110px;
  }
  &__provider {
    line-height: 30px;
    font-size: 10px;
    position: absolute;
    bottom: 4px;
    right: 10px;
    &:before{
      @include RiffIcon("\E604", 12, #ff9665);
      top: 2px;
      left: -15px;
    }
  }
}

.planItem {
  margin-bottom: 10px;
  font-size: 13px;
  color: #666;
  &__title {
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
  }
  &__detail {
    margin: 0 10px 10px;
  }
}

.planImage {
  width: 218px;
  margin: 0 auto 10px;
  display: block;
}

.planTable {
  width: 100%;
  margin-bottom: 10px;
  border-top: 1px dotted #cecfc2;
  &__row {
    display: block;
    padding: 10px;
    border-bottom: 1px dotted #cecfc2;
  }
  &__header {
    width: 60px;
    padding-right: 10px;
    text-align: left;
  }
  &__text {
    padding: 5px 7px;
    line-height: 1.2;
    color: #343426;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
    background-color: #e8e9d9;
  }
  &__data {
    width: calc(100% - 70px);
    font-size: 13px;
    vertical-align: top;
  }
}

.planCp{
  padding: 2px 10px;
  margin-top: -10px;
  font-size: 0;
  text-align: right;
  &__link{
    display: inline-block;
  }
  &__image{
    width: 40px;
    height: auto;
  }
}

</style>
