<template>
<div class="report tracked_mods" id="wedrplis">
  <h2 class="report__title">式場体験者レポート</h2>
  <ul class="report__list">
    <li class="report__item" v-for="(report, reportIndex) in reports" v-bind:key="report.id">
      <a :href="report.detailUrl" class="report__link" target="_blank" rel="nofollow noopener" :data-ylk="`slk:wedcset;pos:${reportIndex + 1}`">
        <dl class="report__contents">
          <dt class="report__header" v-text="report.title"></dt>
          <dd class="report__date">
            <p class="report__text" v-text="report.schedule"></p>
          </dd>
        </dl>
      </a>
    </li>
  </ul>
  <p class="report__cp reportCp">
    <a :href="cpUrl" class="reportCp__link" target="_blank" rel="nofollow noopener" :data-ylk="getDataYlk()">
      <img src="https://iwiz-olp.c.yimg.jp/im_siggLmbFv1hpoqKRKuY9lx2ixQ---x80-y60-bd0-n0-ifmpng/c/olp/78/78ef8c916628ffb0acaafadb8a6e1842/info/1c/7d/thumbnail/logo_zexy.png" class="reportCp__image" alt="ゼクシィ" />
    </a>
  </p>
</div>
</template>
<script>
  import Base from '@lib/baseComponent'
  export default {
    extends: Base,
    props: {
      reports: Array,
      cpUrl: String
    },
    methods: {
      getDataYlk (index = 1, cid = this.namespace.cid.zexy) {
        // 今はゼクシィしかないので、CIDはゼクシィ固定
        return (cid && this.namespace.CpName[cid]) ? `slk:cp;cp_name:${this.namespace.CpName[cid]};pos:${index};` : ''
      }
    }
  }
</script>

<style lang="scss" scoped>
@import '~@sp/styles/partial/mixins';
@import '~@sp/styles/partial/variable';

.report {
  background: #fff;
  margin-bottom: 25px;
  &__title {
    @include placeTitle;
    }
  &__link {
    display: block;
    position: relative;
    padding: 10px 25px 10px 10px;
    border-bottom: 1px dotted #ddd;
    color: #463f33;
    font-size: 14px;
    &:after {
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      content: '';
      transform: rotate(45deg);
      border-top: 2px solid #777;
      border-right: 2px solid #777;
    }
  }
  &__header {
    font-weight: bold;
  }
  &__date {
    margin-top: 4px;
    color: #999;
    font-size: 12px;
  }
}
.reportCp {
  padding: 2px 10px;
  font-size: 0;
  text-align: right;
  &__link {
    display: inline-block;
  }
  &__image {
    width: 40px;
    height: auto;
  }
}
</style>
